<!-- begin left side bar -->
<div class="large-4 columns">
		<%= cache ["support_body", website.brand, I18n.locale] do %>

			<%= render_partial 'support/default_us_tech_support_contact' %>

			<div class="panel">
				<h4><%= t('titles.product_support') %></h4>
				<p><%= t('blurbs.product_support') %></p>
				<%= form_tag support_path, method: :get do |f| %>
					<div class="row collapse">
						<div class="medium-9 small-9 columns">
							<%= select_tag :product_id,
									options_from_collection_for_select(website.current_and_discontinued_products([:product_families]) - website.vintage_products, :to_param, :name) + vintage_options(), 
									include_blank: true %>
						</div>
						<div class="medium-3 small-3 columns">
							<%= submit_tag t('go'), class: "postfix button" %>
						</div>
					</div>
				<% end %>
				<ul class="list">
					<li><%= link_to "product training", "https://pro.harman.com/training", target: "_blank" %></li>
				</ul>
			</div>

      <%# if website.email_signup_url %>
        <div class="panel">
          <%= render_partial 'shared/newsletter_signup' %>
        </div>
      <%# end %>

		<% end %>
	</div>
<!-- end left side bar -->