<!-- begin left side bar -->
<div class="large-4 columns">
		<%= render_partial 'support/default_us_tech_support_contact' %>
		
		<%= cache ["support_body", website.brand, I18n.locale] do %>

			<div class="panel">
				<h4><%= t('titles.product_support') %></h4>
				<p><%= t('blurbs.product_support') %></p>
				<%= form_tag support_path, method: :get do |f| %>
					<div class="row collapse">
						<div class="medium-9 small-9 columns">
							<%= select_tag :product_id,
									options_from_collection_for_select(website.current_and_discontinued_products([:product_families]) - website.vintage_products, :to_param, :name) + vintage_options(), 
									include_blank: true %>
						</div>
						<div class="medium-3 small-3 columns">
							<%= submit_tag t('go'), class: "postfix button" %>
						</div>
					</div>
				<% end %> <%#= form_tag support_path, method: :get do |f| %>
				<ul class="list">
          <li><%= link_to "product training", "#{ENV['PRO_SITE_URL']}/training", target: "_blank" %></li>
				</ul>
			</div> <!-- <div class="panel"> -->

	        <div class="panel">
	          <%= render_partial 'shared/newsletter_signup' %>
	        </div>

	  <% end %> <%#= cache ["support_body", website.brand, I18n.locale] do %>
</div>
<!-- end left side bar -->
