<% set_meta_tags reverse: true %>

<h1 class="page_title"><%= @page_title %></h1>


<%= simple_form_for @contact_message, url: rma_request_path do |f| %>

	<div class="row">

		<div class="large-8 columns">
				<%= f.input :name, label: t('your_name'), required: true %>
				<div class="row">
					<div class="large-8 columns">
						<%= f.input :email, label: ucfirst(t('email')), required: true %>
					</div>
					<div class="large-4 columns">
						<%= f.input :phone, required: true %>
					</div>
				</div>
				<div class="row">
					<div class="large-8 columns">
						<%= f.input :company %>
					</div>
					<div class="large-4 columns">
						<%= f.input :account_number, hint: "If dealer or service center" %>
					</div>
				</div>
		</div>
		<div class="large-3 columns">
      <p>For service in the US, please contact your local
        <%= link_to "US Service Center", support_path(action: "service_lookup") %>.</p>
			<p><%= t('product_support_page.for_service_outside_the_us') %>
				<%= link_to t("product_support_page.please_contact_your_distributor", brand: website.brand_name), international_distributors_path %></p>
		</div>
	</div>

	<div class="row">
		<div class="large-6 columns">
      <legend><%= t('shipping_address') %></legend>
			<fieldset>
				<%= f.input :shipping_address, required: true, label: "Address (No P.O. Boxes)" %>
				<%= f.input :shipping_city, required: true %>
				<div class="row">
					<div class="large-6 columns">
						<%= f.input :shipping_state, required: true %>
					</div>
					<div class="large-6 columns">
						<%= f.input :shipping_zip, required: true %>
					</div>
				</div>
			</fieldset>
		</div>

		<div class="large-6 columns">
      <legend><%= t('billing_address') %> <i class="hint">if different</i></legend>
			<fieldset>
				<%= f.input :billing_address %>
				<%= f.input :billing_city %>
				<div class="row">
					<div class="large-6 columns">
						<%= f.input :billing_state %>
					</div>
					<div class="large-6 columns">
						<%= f.input :billing_zip %>
					</div>
				</div>
			</fieldset>
		</div>
	</div>

	<legend><%= t('product_details') %></legend>
  <div class="row">
    <div class="large-6 columns">
      <%= cache ["rma_form_products", website.brand] do %>
        <%= f.input :product, as: :select,
            required: true,
            collection: Product.repairable(website) + [Product.new(name: "other")],
            value_method: :name,
            label_method: :name,
            prompt: "Select A Product" %>
      <% end %>

      <%= f.input :product_serial_number,
        label: "Serial Number",
        hint: link_to("where to find the serial number", image_path("#{website.folder}/serial.jpg")),
        required: true %>

      <%= f.input :purchased_on, as: :string, required: true, input_html: { class: 'ui-datepicker-past-only' } %>

      <%= f.input :warranty,
        as: :boolean,
        label: ("Under warranty? #{link_to("see our warranty policy", warranty_policy_path, target: "_blank")}").html_safe,
        required: false %>
    </div>
  </div>

  <%= f.input :message,
    label: t('product_support_page.detailed_problem_description'),
    required: true,
    input_html: { style: "height: 150px"} %>

  <p><%= submit_tag t('submit'), class: "button" %></p>

<% end %>

<% if website.support_survey_link %>
  <p>Let us know about your experience. Take our quick
  <%= link_to "survey.", website.support_survey_link, target: "_blank" %></p>
<% end %>
