<% set_meta_tags reverse: true %>
<h1 class="page_title text-center"><%= website.brand.name %> Warranty Policy (US only)</h1>

<div class="text-center">
  <p><%= website.brand.name %> is a Harman Professional brand and its products are covered by the below Limited Product Warranty.</p>
</div>

<div class="row">
	<div class="large-8 small-12 columns">
<h4>SUMMARY OF WARRANTY</h4>
<p><%= website.brand.name %> International, 1718 West Mishawaka Road, Elkhart, Indiana 46517-4095 U.S.A. warrants to you, the ORIGINAL
PURCHASER and ANY SUBSEQUENT OWNER of each NEW <%= website.brand.name %> product, for a period of three (3) years from the date of
purchase by the original purchaser (the “warranty period”) or one (1) year for the XLi Series only from the date of purchase by the
original purchaser that the new <%= website.brand.name %> product is free of defects in materials and workmanship. We further warrant
the new <%= website.brand.name %> product regardless of the reason for failure, except as excluded in this Warranty.</p>

<p><i>*Warranty is only valid within the United States of America. For information on Warranty outside of the U.S.A, please
<%= link_to "contact your local distributor", distributors_path %>.</i><p>

<h4>ITEMS EXCLUDED FROM THIS <%= website.brand.name.upcase %> WARRANTY</h4>
<p>This <%= website.brand.name %> Warranty is in effect only for failure of a new <%= website.brand.name %> product which occurred within the Warranty Period. It does
not cover any product which has been damaged because of any intentional misuse, accident, negligence, or loss which is
covered under any of your insurance contracts. This <%= website.brand.name %> Warranty also does not extend to the new <%= website.brand.name %> product if the
serial number has been defaced, altered, or removed.</p>

<h4>WHAT THE WARRANTOR WILL DO</h4>
<p>We will remedy any defect, regardless of the reason for failure (except as excluded), by repair, replacement, or refund. We
may not elect refund unless you agree, or unless we are unable to provide replacement, and repair is not practical or cannot
be timely made. If a refund is elected, then you must make the defective or malfunctioning product available to us free
and clear of all liens or other encumbrances. The refund will be equal to the actual purchase price, not including interest,
insurance, closing costs, and other finance charges less a reasonable depreciation on the product from the date of original
purchase. Warranty work can only be performed at our authorized service centers or at the factory. Warranty work for some
products can only be performed at our factory. We will remedy the defect and ship the product from the service center or
our factory within a reasonable time after receipt of the defective product at our authorized service center or our factory. All
expenses in remedying the defect, including surface shipping costs in the United States, will be borne by us. (You must bear
the expense of shipping the product between any foreign country and the port of entry in the United States including the
return shipment, and all taxes, duties, and other customs fees for such foreign shipments.)</p>

<h4>HOW TO OBTAIN WARRANTY SERVICE</h4>
<p>You must notify us of your need for warranty service within the warranty period. All components must be shipped in a factory
pack, which, if needed, may be obtained from us free of charge. Corrective action will be taken within a reasonable time of
the date of receipt of the defective product by us or our authorized service center. If the repairs made by us or our authorized
service center are not satisfactory, notify us or our authorized service center immediately.</p>

<h4>DISCLAIMER OF CONSEQUENTIAL AND INCIDENTAL DAMAGES</h4>
<p>YOU ARE NOT ENTITLED TO RECOVER FROM US ANY INCIDENTAL DAMAGES RESULTING FROM ANY DEFECT IN
THE NEW <%= website.brand.name.upcase %> PRODUCT. THIS INCLUDES ANY DAMAGE TO ANOTHER PRODUCT OR PRODUCTS RESULTING
FROM SUCH A DEFECT. SOME STATES DO NOT ALLOW THE EXCLUSION OR LIMITATIONS OF INCIDENTAL OR
CONSEQUENTIAL DAMAGES, SO THE ABOVE LIMITATION OR EXCLUSION MAY NOT APPLY TO YOU.</p>

<h4>WARRANTY ALTERATIONS</h4>
<p>No person has the authority to enlarge, amend, or modify this <%= website.brand.name %> Warranty. This <%= website.brand.name %> Warranty is not extended by the
length of time which you are deprived of the use of the new <%= website.brand.name %> product. Repairs and replacement parts provided under
the terms of this <%= website.brand.name %> Warranty shall carry only the unexpired portion of this <%= website.brand.name %> Warranty.</p>

<h4>DESIGN CHANGES</h4>
<p>We reserve the right to change the design of any product from time to time without notice and with no obligation to make
corresponding changes in products previously manufactured.</p>

<h4>LEGAL REMEDIES OF PURCHASER</h4>
<p>THIS <%= website.brand.name.upcase %> WARRANTY GIVES YOU SPECIFIC LEGAL RIGHTS, YOU MAY ALSO HAVE OTHER RIGHTS WHICH VARY
FROM STATE TO STATE. No action to enforce this <%= website.brand.name %> Warranty shall be commenced after expiration of the warranty
period.</p>

	</div>
  <div class="large-4 small-12 columns">
    <%= render_partial "shared/extended_warranty" %>

		<table class="specs">
			<tr>
				<th>Product</th>
				<th>Warranty Period</th>
			</tr>
			<% @products.each do |product| %>
			<tr>
				<td class="name"><%= link_to product.name, product %></td>
				<td><%= pluralize(product.warranty_period, "year") %></td>
			</tr>
			<% end %>
		</table>
	</div>
</div>

