<h1>Listing clinics</h1>

<table>
  <tr>
    <th>Scheduled at</th>
    <th>Clinician</th>
    <th>Dealer</th>
    <th>Location</th>
    <th></th>
  </tr>

<% @clinics.each do |clinic| %>
  <tr>
    <td><%= clinic.scheduled_at %></td>
    <td><%= clinic.clinician_id %></td>
    <td><%= clinic.dealer_id %></td>
    <td><%= clinic.location %></td>
    <td><%= link_to 'Show', clinic %></td>
  </tr>
<% end %>
</table>
