<p>
  <b>Scheduled at:</b>
  <%=l @clinic.scheduled_at, :format => :long %>
</p>

<p>
  <b>Clinician:</b>
  <%= @clinic.clinician.name %>
</p>

<p>
  <b>Dealer:</b>
  <%= @clinic.dealer_id %>
</p>

<p>
  <b>Location:</b>
  <%= @clinic.location %>
</p>

<%= link_to 'Back', clinics_path %>

<% if current_user && can?(:manage, @clinic) %>
<div class="admin_function">
	<%= link_to "edit", [:admin, @clinic] %>
</div>
<% end %>
