<% set_meta_tags 	twitter: {
		card: "summary"
	},
	og: {
		image: image_url("#{website.folder}/logo.png"),
		type: 'brand',
		description: @website.site_name,
		title: @website.brand.name
	} %>

<%= content_for :feature do %>
	<%= cache ["slideshow", website.brand, I18n.locale] do %>
		<% slides = Setting.slides(website) %>
		<% if slides.size > 0 %>
			<%= orbit_slideshow(slides: slides, duration: 6000, navigation_arrows: false, transition: "fade") %>
		<% end %>
	<% end %>
<% end %>

<%= cache ["homepage_features", website.brand, I18n.locale] do %>
	<% if @features.size > 0 %>
	<ul class="large-block-grid-<%= @features.size %> small-block-grid-<%= (@features.size / 2).to_i %>">
		<% @features.each_with_index do |feature,i| %>
		<li><%= feature_button(feature) %></li>
		<% end %>
	</ul>
	<% else %>
		<%= featured_product_families %>
	<% end %>
<% end %>

<%= content_for :big_bottom_box do %>
	<div class="row">
		<div class="large-4 columns">
			<% if website.homepage_column_one %>
				<%= render "shared/column_for_#{website.homepage_column_one}" %>
			<% elsif website.homepage_column_1 %>
				<%= render "shared/column_for_#{website.homepage_column_1}" %>
			<% else %>
				<%= render 'shared/column_for_news' %>
			<% end %>
		</div>

		<div class="large-4 columns">
			<% if website.homepage_column_two %>
				<%= render "shared/column_for_#{website.homepage_column_two}" %>
			<% elsif website.homepage_column_2 %>
				<%= render "shared/column_for_#{website.homepage_column_2}" %>
			<% elsif @youtube && !@youtube.blank? %>
				<%= render 'shared/column_for_youtube' %>
			<% elsif !website.facebook.blank? %>
				<%= render 'shared/column_for_facebook' %>
			<% end %>
		</div>

	    <div class="large-4 columns">
			<% if website.email_signup_url %>
				<%= render 'shared/newsletter_signup' %>
			<% end %>
			<% if website.homepage_column_three %>
				<%= render "shared/column_for_#{website.homepage_column_three}" %>
			<% elsif website.homepage_column_3 %>
				<%= render "shared/column_for_#{website.homepage_column_3}" %>
			<% else %>
				<%= render 'shared/column_for_twitter' %>
			<% end %>
		</div>
	</div>
<% end %>

<%= content_for :preload do %>
	<%= preload_background_images %>
<% end %>

<%= content_for :popup_code do %>
	<% if website.homepage_popup %>
		<%=raw website.homepage_popup %>
	<% end %>
<% end %>

<div id="homepage-counter" data-counter="<%= @counter %>" data-nextevent="<%= @next_event %>" data-countdowncontainer="<%= @countdown_container %>"></div>