<% set_meta_tags 	twitter: {
		card: "summary"
	},
	og: {
		image: image_url("#{website.folder}/logo.png"),
		type: 'brand',
		description: @website.site_name,
		title: @website.brand.name
	} %>

<%= content_for :feature do %>
	<%= cache ["slideshow", website.brand, I18n.locale] do %>
    <% if website.homepage_feature_override.present? %>
      <%= raw website.homepage_feature_override %>
    <% else %>
      <% slides = Setting.slides(website, limit: 5) %>
      <% if slides.size > 0 %>
        <%= orbit_slideshow(slides: slides, duration: 6000, navigation_arrows: false, transition: "fade") %>
      <% else %>
        <%= render_partial 'shared/video_banner' %>
      <% end %>
    <% end %>
	<% end %>
<% end %>

<%= content_for :big_bottom_box do %>
  <%= render_partial "shared/features_carousel_strip" %>
  <%= render_partial "shared/featured_products_strip" %>
  <%= render_partial "shared/promotions_strip" %>
  <%= render_partial "shared/teaser_strip" %>
  <%= render_partial "shared/videos_strip" %>
  <%= render_partial "shared/social_strip" %>
  <%= render_partial "shared/news_and_reviews_strip" %>

<% end %>

<%= content_for :preload do %>
	<%= preload_background_images %>
<% end %>

<%= content_for :popup_code do %>
	<% if website.homepage_popup %>
		<%=raw website.homepage_popup %>
	<% end %>
<% end %>

<div id="homepage-counter" data-counter="<%= @counter %>" data-nextevent="<%= @next_event %>" data-countdowncontainer="<%= @countdown_container %>"></div>
