<% set_meta_tags 	twitter: {
		card: "summary"
	},
	og: {
		image: image_url("#{website.folder}/logo.png"),
		type: 'brand',
		description: @website.site_name,
		title: @website.brand.name
	} %>

<%= content_for :feature do %>
  <%= render_partial 'shared/video_banner' %>
<% end %>

<%= content_for :big_bottom_box do %>
  <%= render_partial "shared/features_carousel_strip" %>
  <%= render_partial "shared/featured_products_strip" %>
  <%= render_partial "shared/promotions_strip" %>
  <%= render_partial "shared/teaser_strip" %>
  <%= render_partial "shared/videos_strip" %>
  <%= render_partial "shared/social_strip" %>
  <%= render_partial "shared/news_and_reviews_strip" %>

<% end %>

<%= content_for :preload do %>
	<%= preload_background_images %>
<% end %>

<%= content_for :popup_code do %>
	<% if website.homepage_popup %>
		<%=raw website.homepage_popup %>
	<% end %>
<% end %>

<div id="homepage-counter" data-counter="<%= @counter %>" data-nextevent="<%= @next_event %>" data-countdowncontainer="<%= @countdown_container %>"></div>
