<% set_meta_tags title: @page_title,
  reverse: true %>

<h1><%= @page_title %></h1>

<div class="wide_centered_box">
  <%= form_tag search_path %>
    <div class="row collapse">
      <div class="large-8 small-7 columns">
        <%= text_field_tag :query, @query %>
      </div>
      <div class="large-4 small-5 columns">
        <%= submit_tag t('search'), class: "button" %>
      </div>
    </div>
  </form>

  <% if @results.length > 0 %>
    <%= will_paginate @results %>
    <ul id="search_results">
      <% @results.each do |result| %>
        <li><%= link_to result.link_name, page_link(result) %><br/>
          <% if result.content_preview && !result.content_preview.blank? %>
            <%= truncate(strip_html(result.content_preview), length: 200) %><br/>
          <% end %>
          <span class="search_link">
            <%= link_to page_link(result), page_link(result) %>
          </span>
        </li>
      <% end %>
    </ul>
    <%= will_paginate @results %>
  <% else %>
    <p><i>No results found.</i></p>
  <% end %>
</div>
