<% set_meta_tags 	twitter: {
		card: "summary"
	},
	og: {
		image: image_url("#{website.folder}/logo.png"),
		type: 'brand',
		description: @website.site_name,
		title: @website.brand.name
	} %>

<h1>What's happening with <%= website.brand.name %>?</h1>
<%= form_for @signup do |f| %>
	<% if @signup.errors.any? %>
		<div data-alert class="alert-box alert">
			Please make sure your email address is correct:
		</div>
	<% end %>
	<%= f.hidden_field :campaign %>
	<div class="row">
		<div class="large-6 large-offset-3 columns" style="text-align: left;">
  		<%= f.label :email, "Be the first to find out:" %>
  	</div>
  </div>
	<div class="row">
    <div class="large-6 large-offset-3 columns">
      <div class="row collapse">
        <div class="small-8 columns">
        	<%= f.text_field :email, placeholder: "your@email.com" %>
        </div>
        <div class="small-4 columns">
        	<%= f.submit "let me know", class: "large button prefix" %>
        </div>
      </div>
    </div>
	</div>
<% end %>

<%= content_for :preload do %>
	<%= preload_background_images %>
<% end %>

<%= content_for :popup_code do %>
	<% if website.homepage_popup %>
		<%=raw website.homepage_popup %>
	<% end %>
<% end %>

<div id="homepage-counter" data-counter="<%= @counter %>"></div>