<% set_meta_tags title: @training_course.name, reverse: true %>

<div class="panel">
  <div class="row">
    <div class="medium-6 small-12 columns text-center">
      <% if @training_course.image.present? %>
        <%= image_tag @training_course.image.url, alt: @training_course.name %>
      <% end %>
    </div>
    <div class="medium-6 small-12 columns">
      <h1><%= @training_course.name %></h1>
      <div> <%=raw @training_course.short_description %> </div>
    </div>
  </div>
</div>

<div>
  <%=raw @training_course.description %>
</div>

<% if @training_course.upcoming_classes.length > 0 %>
  <br/>
  <h3>Schedule</h3>
  <% @training_course.upcoming_classes.each do |training_class| %>
    <div class="row training_class_row collapse">
      <div class="small-12 medium-8 large-10 columns">
        <h5><%= training_class.name %></h5>
        Date(s): <%=l training_class.start_at, format: :log %>
        <% if training_class.end_at.present? %>
          - <%=l training_class.end_at, format: :log %>
        <% end %>
      </div>
      <div class="small-12 medium-4 large-2 columns text-right">
        <% if training_class.registration_url.present? %>
          <%= link_to "Register",
            training_class.registration_url,
            target: "_blank",
            class: "tiny button"
            %>
        <% elsif training_class.instructor.present? %>
          <%= link_to "Register",
                new_training_course_training_class_training_class_registration_path(training_class.training_course, training_class),
                class: "tiny button",
                data: {
                  :"reveal-ajax" => true,
                  :"reveal-id" => "regform-modal"
                } %>
        <% else %>
          <i>registration not available</i>
        <% end %>
      </div>
    </div>
  <% end %>
  <div id="regform-modal" class="reveal-modal" data-reveal aria-labelledby="Registration Form" aria-hidden="true" role="dialog">
  </div>
<% end %>
