<%= simple_form_for [:admin, @product_attachment] do |f| %>

	<% unless f.object.product_media_file_name.present? %>
		<%= f.input :product_attachment, label: "Static Image", hint: "(will be re-sized as needed automatically)" %>
		<% if f.object.product_attachment_file_name.present? %>
			<span class="hint"><i>currently: <%= link_to image_tag(f.object.product_attachment.url(:thumb), lazy: false), f.object.product_attachment.url(:original), target: "_blank" %></i></span>
		<% end %>
		<%= f.input :no_lightbox, label: "Don't use lightbox viewer on this image. (The site's global settings takes precedence over this one.)" %>
	<% end %>

	<%= f.input :hide_from_product_page, label: "Hide from the thumbnail collection on the product page." %>

	<% if f.object.new_record? || (!f.object.product_media_file_name.present? && !f.object.product_attachment_file_name.present?) %>
    <h5 class="subheader">Note: only provide a static image (above) OR a flash/video (below). Not both.</h5>
	<% end %>

	<% unless f.object.product_attachment_file_name.present? %>
		<%= f.input :product_media, label: "Flash, Video, etc." %>

		<% if !f.object.product_media_file_name.blank? %>
			<span class="hint"><i>currently: <%= link_to f.object.product_media_file_name, f.object.product_media.url %></i></span>
		<% end %>

		<%= f.input :product_media_thumb, label: "Thumbnail/icon" %>
		<% if !f.object.product_media_thumb_file_name.blank? %>
			<span class="hint"><i>currently: <%= link_to image_tag(f.object.product_media_thumb.url(:tiny), lazy: false), f.object.product_media_thumb.url %></i></span>
		<% end %>

		<p>Flash resources need their dimensions set:</p>

		<div class="row">
			<div class="large-3 small-6 columns">
				<%= f.input :width, label: "Width (px)" %>
			</div>
			<div class="large-3 small-6 columns">
				<%= f.input :height, label: "Height (px)" %>
			</div>
			<div class="large-6 columns"></div>
		</div>

	<% end %>

  <fieldset>
    <legend>Banner</legend>
    <p>Complete the fields below if this image is a banner which should appear at the top of the product page. There
    should only be <strong>one</strong> banner for a given product.</p>
    <%= f.input :show_as_full_width_banner %>
    <%= f.input :full_width_banner_url,
      placeholder: "example: https://url.to/some/landing/page",
      hint: "Where does the banner link to when a visitor clicks on it?" %>
  </fieldset>

	<br/><%= f.button :submit %>
<% end %>
