<%= simple_form_for([:admin, @page]) do |f| %>
  <%= f.input :title %>

  <div class="row">
    <div class="large-6 columns">
      <%= f.input :custom_route, label: "Custom URL", disabled: disable_field_for?(f.object, :custom_route),
          hint: "No protocol or host, only enter what comes after #{request.protocol}#{request.host}/..." %>
      <% if disable_field_for?(f.object, :custom_route) %>
      	<span class="hint">This url is used in site settings and cannot be changed.</span>
      <% end %>
    </div>
    <div class="large-6 columns">
      <% if website.page_layouts %>
        <%= f.input :layout_class, label: "Page layout style",
              hint: "(not all brands have multiple layouts)",
              collection: website.page_layouts.split("|") %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="large-6 columns">
      <%= f.input :custom_css, label: "Custom CSS", input_html: { style: "height: 50px" } %>
    </div>
  </div>

  <%#= f.input :keywords %>
  <%#= f.input :description %>

  <%= f.input :body, input_html: { class: "mceEditor", style: "height: 400px" } %>

  <br/>
  <fieldset>
    <legend>Page Security</legend>
    <p>Optional--only provide a username/password if you want to protect this page.</p>
    <div class="row">
      <div class="large-6 columns">
        <%= f.input :username %> 
      </div>
      <div class="large-6 columns">
        <%= f.input :password, as: :string %>
      </div>
    </div>
  </fieldset>

  <br/><%= f.button :submit %>
<% end %>
