<%= simple_form_for([:admin, @page]) do |f| %>
  <%= f.input :title %>
  <%= f.input :exclude_from_search, label: "Exclude from site search results" %>
  <div class="row">
    <div class="large-6 columns">
      <%= f.input :custom_route, label: "Custom URL", disabled: disable_field_for?(f.object, :custom_route),
          hint: "No protocol or host, only enter what comes after #{request.protocol}#{request.host}/..." %>
      <% if disable_field_for?(f.object, :custom_route) %>
      	<span class="hint">This url is used in site settings and cannot be changed.</span>
      <% end %>
    </div>
    <div class="large-6 columns">
      <% if website.page_layouts %>
        <%= f.input :layout_class, label: "Page layout style",
              collection: ["full", "wide", "narrow"] %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="large-6 columns">
      <%= f.input :custom_css,
        label: "Custom CSS",
        hint: "This is inserted in the <head> of the page and wrapped in <style> tags.",
        input_html: { style: "height: 150px" } %>
    </div>
    <div class="large-6 columns">
      <%= f.input :custom_js,
        label: "Custom Javascript",
        hint: "This is inserted in the <head> of the page. (Jquery is available, but if you need to use it, wrap your code in a closure to make sure Jquery is loaded when your code runs.)",
        input_html: { style: "height: 150px" } %>
    </div>
  </div>

  <%#= f.input :keywords %>
  <%#= f.input :description %>

  <%= f.input :body, input_html: { class: "mceEditor", style: "height: 400px" } %>

  <br/>
  <fieldset>
    <legend>Page Security</legend>
    <p>Optional--only provide a username/password if you want to protect this page.</p>
    <div class="row">
      <div class="large-6 columns">
        <%= f.input :username %>
      </div>
      <div class="large-6 columns">
        <%= f.input :password, as: :string %>
      </div>
    </div>
  </fieldset>

  <br/><%= f.button :submit %>
<% end %>
