<h1>
	<%=h @page.title %>
	<span class="little"><%= link_to(page_link(@page), page_link(@page)) %>
	<%= link_to(image_tag("icons/external_link_icon.png"), page_link(@page)) %></span>

</h1>

<ul class="button-group round">
	<li><%= link_to 'Back', admin_pages_path, class: "small secondary button" %>	</li>
	<li><%= link_to 'Edit', edit_admin_page_path(@page, locale: I18n.locale), class: "small secondary button" %></li>
	<li><%= link_to 'Delete', [:admin, @page], confirm: 'Are you sure?', method: :delete, class: "small alert button" %> </li>
</ul>

<p>
  <b>Keywords:</b>
  <%= @page.keywords %>
</p>

<p>
  <b>Description:</b>
  <%= @page.description %>
</p>

<% if @page.requires_login? %>
<p>
	<b>This page is password protected. Use the following to access the page:</b><br/>
	username: <%= @page.username %><br/>
	password: <%= @page.password %>
</p>
<% end %>

<h5>Page Preview:</h5>
<p>(The font probably isn't correct below. That's because this admin interface doesn't have the same style as the actual website. Just use your imagination.)</p>

<style type="text/css">
	<%=raw @page.custom_css %>
</style>
<div class="content container" style="background: white">
	<div class="row">
		<div class="large-8 columns large-offset-2 text-content">
			<%=raw translate_content(@page, :body) %>
		</div>
	</div>
</div>


