<h1>
	<%=h @page.title %>

</h1>

<ul class="button-group round">
	<li><%= link_to admin_pages_path, class: "small secondary button" do %>
    <%= fa_icon "angle-double-left" %>
  <% end %>
  </li>
	<li><%= link_to edit_admin_page_path(@page, locale: I18n.locale), class: "small secondary button" do %>
      <%= fa_icon "edit" %>
      Edit
    <% end %>
  </li>
	<li><%= link_to [:admin, @page], confirm: 'Are you sure?', method: :delete, class: "small alert button" do %>
    <%= fa_icon "trash" %>
    Delete
  <% end %>
  </li>
</ul>

<p><b>URL:</b>
  <%= link_to(page_link(@page), page_link(@page)) %>
	<%= link_to(image_tag("icons/external_link_icon.png"), page_link(@page)) %>
</p>


<p>
  <b>Keywords:</b>
  <%= @page.keywords %>
</p>

<p>
  <b>Description:</b>
  <%= @page.description %>
</p>

<% if @page.requires_login? %>
<p>
	<b>This page is password protected. Use the following to access the page:</b><br/>
	username: <%= @page.username %><br/>
	password: <%= @page.password %>
</p>
<% end %>

<h5>Features</h5>
<ul>
  <% @page.features.each do |feature| %>
    <li><%= link_to feature.name, [:admin, feature] %></li>
  <% end %>
</ul>
<p><%= link_to "Add a fancy feature",
  new_admin_feature_path(featurable_type: "Page", featurable_id: @page.id),
  class: "tiny success button" %></p>

<h5>Page Preview:</h5>
<p>(The font probably isn't correct below. That's because this admin interface doesn't have the same style as the actual website. Just use your imagination.)</p>

<style type="text/css">
	<%=raw @page.custom_css %>
</style>
<div class="content container" style="background: white">
	<div class="row">
		<div class="large-8 columns large-offset-2 text-content">
			<%=raw translate_content(@page, :body) %>
		</div>
	</div>
</div>


