<h1 class="text-center">System Design Tools</h1>
<br/>

<div class="large-2 columns hide-for-small">
  <h5>Calculators:</h5>
  <ul class="side-nav">
    <li><%= link_to "db Power Ratio", '#db_power' %></li>
    <li><%= link_to "db Voltage Ratio", '#db_voltage' %></li>
    <li><%= link_to "Amplifier Power Required", '#amp_power_required' %></li>
    <li><%= link_to "Inverse Square Law", '#inverse_square_law' %></li>
    <li><%= link_to "Line Loss", '#line_loss' %></li>
    <li><%= link_to "Ohm's/Watt's Law", '#ohms_watts_law' %></li>
    <li><%= link_to "Constant Voltage", '#constant_voltage' %></li>
  </ul>
</div>

<div class="large-10 columns">
  <%= render "db_power" %>
  <hr/>
  <%= render "db_voltage" %>
  <hr/>
  <%= render "amp_power_required" %>
  <hr/>
  <%= render "inverse_square_law" %>
  <hr/>
  <%= render "line_loss" %>
  <hr/>
  <%= render "ohms_watts_law" %>
  <hr/>
  <%= render "constant_voltage" %>
</div>
