<% 2.times { @artist.artist_products.build } %>

<h2>Edit <%= resource_name.to_s.humanize %> Profile</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :multipart => true }) do |f| %>
  <%= devise_error_messages! %>

	<h3>Approval Status: <%= @artist.approval_status %></h3>
	<table style="width: 100%">
		<tr>
			<td style="width: 50%" width="50%">
				<div class="form_field">
					<%= f.label :name, "Enter Artist/Band Name" %><br/>
					<%= f.text_field :name, :class => "artist_field" %>
				</div>
			</td>
			<td style="width: 50%" width="50%">
				 <div class="form_field">
					<%= f.label :invitation_code %><br/>
					<%= f.text_field :invitation_code, :class => "artist_field", :style => "width: 100px;" %>
					<span class="hint">(optional)</span>
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="form_field">
					<%= f.label :email %><br />
					<%= f.email_field :email, :class => "artist_field" %>
				</div>
			</td>
			<td>
				<div class="form_field">
					<%= f.label :website, "Website address" %><br/>
					<%= f.text_field :website, :class => "artist_field" %>
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="form_field">
					<%= f.label :password %><br />
					<%= f.password_field :password, :class => "artist_field" %>
					<div class="hint">(leave blank if you don't want to change it)</div>
				</div>
			</td>
			<td>
				<div class="form_field">
					<%= f.label :password_confirmation %><br />
					<%= f.password_field :password_confirmation, :class => "artist_field" %>
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="form_field">
					<%= f.label :artist_photo, "Artist/Band Image" %><br/>
					<%= f.file_field :artist_photo, :class => "artist_field" %>
					<div class="hint">(960 pixels by 400 pixels--leave blank to keep current image)</div>
				</div>
			</td>
			<td>
				<div class="form_field">
					<%= f.label :artist_product_photo, "Artist/Band Image with product" %><br/>
					<%= f.file_field :artist_product_photo, :class => "artist_field" %>
					<div class="hint">(960 pixels by 400 pixels--leave blank to keep current image)</div>
				</div>
			</td>
		</tr>
		<tr>
			<td valign="top">
				<div class="form_field">
					<%= f.label :bio, "Enter Band/Artist Biography" %><br/>
					<%= f.text_area :bio, :size => "50x10", :class => "artist_field", :style => "width: 380px" %>
				</div>
				<div class="form_field">
					<%= f.label :notable_career_moments, "Notable Career Moments" %><br/>
					<%= f.text_area :notable_career_moments, :size => "50x10", :class => "artist_field", :style => "width: 380px" %>
				</div>
			</td>
			<td valign="top">
				<div class="form_field">
					<%= f.label :main_instrument, "What is your main instrument?" %><br/>
					<%= f.text_field :main_instrument, :class => "artist_field" %>
				</div>
				<!-- <div class="form_field">
					<%= f.label :twitter, "Twitter name" %><br/>
					<%= f.text_field :twitter, :class => "artist_field" %>
				</div> -->
				
				<p style="margin-top: 20px">Which <%= website.brand_name %> products do you currently use? Select
					your favorite product in the first slot.</p>
				<%= f.fields_for :artist_products, @artist.artist_products do |p| %>
				<%= p.hidden_field :favorite %>
				<div class="form_field">
					<%= p.select :product_id, 
						website.current_and_discontinued_products.collect{|p| [p.name, p.id]}, 
						{ :include_blank => true },
						{ :class => "artist_field" } %>
						<% if p.object.favorite? %>
						<span class="hint">favorite</span>
						<% end %>
				</div>
				<div class="form_field">
					<% if p.object.favorite? %>
						<%= p.label :quote, "Why is this your favorite?" %><br/>
						<%= p.text_area :quote, :size => "30x2", :class => "artist_field" %>
					<% end %>
				</div>
				<% end %>
			</td>
		</tr>
		<tr>
			<td>
				<h3>Cancel my account</h3>
				<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete %>.</p>
			</td>
			<td>
				<div class="form_field">
					<%= f.label :current_password %><br/>
			  		<%= f.password_field :current_password, :class => "artist_field" %>
					<div class="hint">(we need your current password to confirm your changes)</div>
				</div>
				<div class="form_field hint">
					Note: any changes to fields which could display content on our website
					will require manual approval from our artist relations department before
					appearing on our site.
				</div>
				<div class="form_field">
					<%= f.submit "Update" %>
				</div>
			</td>
		</tr>
	</table>

<% end %>

<%= link_to "Back", :back %>
