<% 2.times { @artist.artist_products.build } %>

<h2>Edit <%= resource_name.to_s.humanize %> Profile</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, multipart: true }) do |f| %>

  <p>Approval Status: <i><%= @artist.approval_status %></i></p>
  <div class="row">
    <div class="medium-6 columns">
      <%= f.input :name, label: "Enter Artist/Band Name" %>
    </div>
    <div class="medium-6 columns">
      <%= f.input :invitation_code, hint: "(optional)" %>
    </div>
  </div>
  <div class="row">
    <div class="medium-6 columns">
      <%= f.input :email %>
    </div>
    <div class="medium-6 columns">
      <%= f.input :website, label: "Website address" %>
    </div>
  </div>
  <div class="row">
    <div class="medium-6 columns">
      <%= f.input :password, hint: "(leave blank if you don't want to change it)" %>
    </div>
    <div class="medium-6 columns">
      <%= f.input :password_confirmation %>
    </div>
  </div>
  <div class="row">
    <div class="medium-6 columns">
      <div class="panel">
        <%= f.input :artist_photo, label: "Artist/Band Image",
          hint: "(960 pixels by 400 pixels--leave blank to keep current image)" %>
      </div>
    </div>
    <div class="medium-6 columns">
      <div class="panel">
        <%= f.input :artist_product_photo, label: "Artist/Band Image with product",
          hint: "(960 pixels by 400 pixels--leave blank to keep current image)" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="medium-6 columns">
      <%= f.input :bio, label: "Enter Band/Artist Biography", input_html: { style: "min-height: 200px" } %>
      <%= f.input :notable_career_moments, label: "Notable Career Moments", input_html: { style: "min-height: 200px" } %>
    </div>
    <div class="medium-6 columns">
      <%= f.input :main_instrument, label: "What is your main instrument?" %>

      <!--
        <%#= f.label :twitter, "Twitter name" %><br/>
        <%#= f.text_field :twitter, class: "artist_field" %>
       -->

      <p>Which <%= website.brand_name %> products do you currently use? Select
        your favorite product in the first slot.</p>

      <%= f.simple_fields_for :artist_products, @artist.artist_products do |p| %>
				<%= p.hidden_field :favorite %>

        <%= p.association :product,
          hint: p.object.favorite? ? "favorite" : '',
          collection: website.current_and_discontinued_products.collect{|p| [p.name, p.id]} %>

        <% if p.object.favorite? %>
          <%= p.input :quote, label: "Why is this your favorite?" %>
        <% end %>

      <% end %>
    </div>
  </div>

  <hr/>

  <div class="row">
    <div class="medium-6 medium-offset-3 columns">
      <%= f.input :current_password, label: "Current Password",
        hint: "(we need your current password to confirm your changes)" %>
      <div class="form_field hint">
        Note: any changes to fields which could display content on our website
        will require manual approval from our artist relations department before
        appearing on our site.
      </div>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns text-center">
      <%= f.submit "Update", class: "radius button" %>
    </div>
  </div>

<% end %>

<h3>Cancel my account</h3>
<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), confirm: "Are you sure?", method: :delete %>.</p>

