<div class="container text-right bglink hide-for-small" id="above-nav-space">
	<%#= link_to t("dealer_login"), "/toolkit", target: "_blank" %>
</div>

<div class="sticky">
	<nav class="top-bar" data-topbar role="navigation">
		<ul class="title-area">
			<li class="name logo-container"><%= link_to image_tag(website.folder + '/logo-sm.png', alt: website.brand.name), locale_root_path %></li>
			<li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
		</ul>
		<section class="top-bar-section">
			<ul class="left">
				<%= render_partial 'layouts/nav_items' %>
			</ul>

			<ul class="right">
				<%# search is only available in default language for now...%>
				<% if I18n.locale.to_s.match(/#{I18n.default_locale.to_s.split('-')[0]}/i) && website.value_for("enable_search") %>

					<li class="has-form" id="search_form">
						<%= form_tag search_path, method: :get %>
							<%= text_field_tag :query, "", placeholder: t('search') %>
						</form>
					</li>
				<% end %>
			<% if website.show_locales? %>
				<li class="has-dropdown">

					<%= link_to '#', id: "locale_menu" do %>
						<%= image_tag "icons/globe_white.png", alt: t('language_region') %>
					<% end %>
					<ul class="dropdown"> 
						<% website.available_locales.each do |website_locale| %>
							<% if website_locale.locale.to_s == I18n.locale.to_s %>
							<li><%= link_to '#', class: "active" do %>
									<%= image_tag 'icons/check_white.png' %>
									<%= website_locale.name %>
								<% end %>
							</li>
							<% else %>
							<li><%= link_to website_locale.name, switch_locale(website_locale.locale) %></li>
							<% end %>
						<% end %>
					</ul>
				</li>
			<% end %>
			</ul>
		</section>
	</nav>
</div>


