<div id="header-container">
	<div class="row">
		<div class="large-2 small-3 columns logo-container">
			<%= link_to interchange_logo, locale_root_path %>
		</div>
		<div class="large-10 small-9 columns">
			<div class="row collapse">
				<div class="large-12 columns hide-for-small">
					<div id="tagline">
						<%= image_tag("#{website.folder}/tagline.png", alt: "The professional's choice in signal processing") %>
					</div>
				</div>
				<div class="large-12 columns">
					<nav class="top-bar">
						<ul class="title-area">
							<li class="name"></li>
							<li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
						</ul>
						<section class="top-bar-section">
							<ul class="left">

								<%= render_partial 'layouts/nav_items' %>

							</ul>
							<%# search is only available in default language for now...%>
							<% if I18n.locale.to_s.match(/#{I18n.default_locale.to_s.split('-')[0]}/i) && website.value_for("enable_search") %>
							<ul class="right">
								<li class="has-form" id="search_form">
									<%= form_tag search_path, method: :get %>
										<%= text_field_tag :query, "", placeholder: t('search') %>
									</form>
								</li>
							</ul>
							<% end %>
						</section>
					</nav>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="hide-for-small">
	<div id="dealer_login">
		<%= link_to t("dealer_login"), "/toolkit", target: "_blank" %>
	</div>
	<div id="supersocial">
		<%= social_media_links 'twitter', 'facebook', 'youtube', 'myspace', 'wechat', 'weibo' %> 
	</div>
</div>