<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
		<%= csrf_meta_tag %>
		<%= cache ["meta_tags", request.url] do %>
			<%= cached_meta_tags %>
			<meta property="og:site_name" content="<%= website.site_name %>" />
			<meta property="og:locale" content="<%= I18n.locale %>" />
			<meta property="og:url" content="<%= request.url %>" />

			<% if website.twitter_name %>
				<meta property="twitter:site" value="@<%= website.twitter_name %>" />
			<% end %>

			<% if File.exists?(Rails.root.join("app", "assets", "images", website.folder, "logo.png")) %>
			<link rel="image_src" href="<%= image_url("#{website.folder}/logo.png") %>" />
			<% end %>
			<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
			<![endif]-->
			<link href="<%= rss_url(format: 'xml') %>" rel="alternate" title="RSS" type="application/rss+xml"/>
			<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
			<link rel="icon" type="image/x-icon" href="/favicon.ico" />

			<%= app_meta_tags() %>

		<% end %>

		<%= javascript_include_tag website.folder %>
		<%= javascript_include_tag "vendor/custom.modernizr" %>
		<%= stylesheet_link_tag website.folder, media: :all %>

		<%= yield :custom_css %>
		<script>
	  		<%= yield :extra_js %>
	  	</script>
	    <%= render_partial "shared/analytics" %>
	</head>
	<body data-brand="<%= website.brand.name %>">
		<div id="fb-root"></div>
		<script>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>
		<%#= render_partial "shared/admin_dashboard_link" %>		

		<%= render_partial "shared/locale_switcher" %>

		<%= cache ["header", website, I18n.locale] do %>
		<div id="header-container" class="contain-to-grid sticky">
			<div class="row">
				<div class="large-2 small-3 columns logo-container">
					<%= link_to interchange_logo, locale_root_path %>
				</div>
				<div class="large-10 small-9 columns">
					<div class="row collapse">
						<div class="large-12 columns hide-for-small">
							<div id="tagline">
								<%= image_tag("#{website.folder}/tagline.png", alt: "The professional's choice in signal processing") %>
							</div>
						</div>
						<div class="large-12 columns">
							<nav class="top-bar">
								<ul class="title-area">
									<li class="name"></li>
									<li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
								</ul>
								<section class="top-bar-section">
									<ul class="left">

										<li class="has-dropdown"><%= link_to t('products'), product_families_path %>
											<ul class="dropdown">
												<% ProductFamily.parents_with_current_products(website, I18n.locale).each do |product_family| %>
												<li class="has-dropdown"><%= link_to translate_content(product_family, :name), product_family %>
													<ul class="dropdown">
														<% product_family.current_products.each do |product| %>
														<li><%= link_to translate_content(product, :name), product %></li>
														<% end %>
													</ul>
												</li>
												<% end %>
											</ul>
										</li>
										<li class="divider"></li>

										<li><%= link_to t('news'), news_index_path %></li> 
										<li class="divider"></li>

										<% if website.has_artists? %>
										<li><%= link_to t('artists'), artists_path %></li>
										<li class="divider"></li>

										<% end %>
										<% if website.has_dealers? || website.has_distributors? || website.has_online_retailers? %>
										<li><%= link_to t('where_to_buy'), where_to_buy_path %></li>
										<li class="divider"></li>
										<% end %>

										<li><%= link_to t('product_support'), support_path %></li>
										<li class="divider"></li>

										<% if !!(website.forum_link) %>
										<li><%= link_to t("forum"), website.forum_link %></li>
										<li class="divider"></li>
										<% end %>

										<li><%= link_to t('warranty_registration'), warranty_registration_path %></li>

									</ul>
									<%# search is only available in default language for now...%>
									<% if I18n.locale.to_s.match(/#{I18n.default_locale.to_s.split('-')[0]}/i) && website.value_for("enable_search") %>
									<ul class="right">
										<li class="has-form" id="search_form">
											<%= form_tag search_path, method: :get %>
												<%= text_field_tag :query, "", placeholder: t('search') %>
											</form>
										</li>
									</ul>
									<% end %>
								</section>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</div>
		<% end %>

		<div class="hide-for-small">
			<div id="dealer_login">
				<%= link_to t("dealer_login"), "/toolkit", target: "_blank" %>
			</div>
			<div id="supersocial">
				<%= social_media_links 'twitter', 'facebook', 'rss', 'youtube', 'myspace', 'wechat', 'weibo' %> 
			</div>
		</div>

		<% if content_for?(:feature) %>
		<div class="container"> 
			<div class="row">
				<div class="large-12 columns hide-for-small">
					<%= yield :feature %>
				</div>
			</div>
		</div>
		<% end %>

		<div class="container">
		    <div class="row">
		      <div class="large-12 columns">

		        <% flash.each do |name, msg| %>
		          <% 
		            css_class = 'alert-box'
		            if name.match(/notice/i) 
		              css_class += ' success'
		            elsif name.match(/alert|warn/)
		              css_class += ' alert'
		            else
		              css_class += ' secondary'
		            end
		          %>

		            <%= content_tag :div, msg, class: css_class if msg.is_a?(String) %>
		        <% end %>
		      </div>
		    </div>
		</div>

		<div class="container">
			<div class="row">
				<div class="large-12 small-12 columns">
					<%= yield %>
				</div>
			</div>
		</div>
		
		<% if content_for?(:middle_stuff) %>
		<div id="middle_container">
			<%= yield :middle_stuff %>
		</div>
		<% end %>
		
		<% if content_for?(:big_bottom_box) %>
			<%= yield :big_bottom_box %>
		<% end %>
		
		<%= cache ["footer", website.brand, I18n.locale] do %>
		<footer>
			<div class="row">
				<div class="large-12 columns hide-for-small">
					<%= hpro_footer(exclude: "dbx") %>
				</div>
			</div>
			<div class="row">
				<div class="large-6 columns" id="footer_left">
					<%= image_tag "harman.jpg" %>
					<span class="footer_text">
						&copy; <%= Date.today.year %> 
						<%= link_to(t('harman'), "http://www.harman.com/", target: "_blank") %>. 
						<%= t('all_rights_reserved') %>
					</span>
				</div>
				<div class="large-6 columns hide-for-small" id="footer_info">
					<span class="footer_text">
						<% if website.has_software? %>
						<%= link_to t('software_downloads').downcase, software_index_path %> &bull;
						<% end %>
						<%= link_to t('products'), product_families_path %> &bull;
						<% if website.has_reviews? %>
						<%#= link_to t('product_reviews').downcase, product_reviews_path %>
						<% end %>
						<%= link_to t('news'), news_index_path %> &bull;
						<% if website.has_artists? %>
						<%= link_to t('artists'), artists_path %> &bull;
						<% end %>
						<% if website.has_dealers? || website.has_online_retailers? || website.has_distributors? %>
						<%= link_to t('where_to_buy'), where_to_buy_path %> &bull;
						<% end %>
						<%= link_to t('product_support'), support_path %> &bull;
						<%= link_to t('sitemap'), sitemap_path(format: 'xml') %>
					</span>
				</div>
			</div>
		</footer>
		<% end %>
		
		<% if content_for?(:dealer_popup) %>
			<div id="blanket" style="display:none;"></div>
			<div id="dealer_popup_close" style="display:none;">
				<%= link_to(image_tag("close.png"), @product, class: "buy_it_now_popup", data: {windowname: 'dealer_popup'})%>
			</div>
			<div id="dealer_popup" style="display:none;">
				<%= yield :dealer_popup %>
				<p><%= link_to "close", @product, class: "buy_it_now_popup", data: {windowname: 'dealer_popup'} %></p>
			</div>
		<% end %>
		<div id="preload"><%= yield :preload %></div>
		<% if content_for?(:popup_code) %>
			<%= yield :popup_code %>
		<% end %>
	</body>
</html>