<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <% if website.google_site_verification %>
      <meta name="google-site-verification" content="<%= website.google_site_verification %>" />
    <% end %>
    <% if website.facebook_domain_verification %>
      <meta name="facebook-domain-verification" content="<%= website.facebook_domain_verification %>" />
    <% end %>
		<%= csrf_meta_tag %>
		<%= cache ["meta_tags", request.url] do %>
			<%= cached_meta_tags %>
			<meta property="og:site_name" content="<%= website.site_name %>" />
			<meta property="og:locale" content="<%= I18n.locale %>" />
			<meta property="og:url" content="<%= request.url %>" />
			<%= hreflang_links %>
      <%= page_schema %>

      <% if website.color %>
        <meta name="theme-color" content="<%= website.color %>">
      <% end %>

			<% if website.twitter_name %>
				<meta property="twitter:site" value="@<%= website.twitter_name %>" />
			<% end %>

			<% if File.exist?(Rails.root.join("app", "assets", "images", website.folder, "logo.png")) %>
			<link rel="image_src" href="<%= image_url("#{website.folder}/logo.png") %>" />
			<% end %>
      <!--[if lt IE 9]>
        <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/nwmatcher/1.2.5/nwmatcher.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/corysimmons-selectivizr2/1.0.9/selectivizr2.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.1.0/respond.min.js"></script>
      <![endif]-->
			<link href="<%= rss_url(format: 'xml') %>" rel="alternate" title="RSS" type="application/rss+xml"/>
      <link rel="icon" type="image/png" href="<%= image_url("#{website.folder}/logo-16x16.png") %>" sizes="16x16">
      <link rel="icon" type="image/png" href="<%= image_url("#{website.folder}/logo-32x32.png") %>" sizes="32x32">
      <link rel="icon" type="image/png" href="<%= image_url("#{website.folder}/logo-96x96.png") %>" sizes="96x96">

			<%= app_meta_tags() %>
		<% end %>

		<%= javascript_include_tag website.folder %>
		<%= javascript_include_tag "vendor/modernizr" %>
		<%= yield :extra_header_code %>
    <%= cache [website, "other_header_scripts", Date.today, I18n.locale] do %>
      <% if Rails.env.production? && !!website.value_for('other_header_scripts') %>
        <%= raw website.value_for('other_header_scripts') %>
      <% end %>
    <% end %>

    <link rel="stylesheet" href=https://use.typekit.net/wik4zei.css>
		<link rel="preconnect" href=https://fonts.googleapis.com>
		<link rel="preconnect" href=https://fonts.gstatic.com crossorigin>
		<link href=https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap rel="stylesheet">

    <% if ENV['ASSET_HOST'].present? %>
	    <link rel="preconnect" href="<%= ENV['ASSET_HOST'] %>">
    <% end %>
		<%= stylesheet_link_tag website.folder, media: :all %>

		<%= yield :custom_css %>
    <%= yield :extra_js %>
    <%= render_partial "shared/analytics" %>
	</head>
	<body data-brand="<%= website.brand.name %>">
    <%= cache [website, "other_body_scripts", Date.today, I18n.locale] do %>
      <% if Rails.env.production? && !!website.value_for('other_body_scripts') %>
        <%= raw website.value_for('other_body_scripts') %>
      <% end %>
    <% end %>
		<%= yield :extra_notice %>
		<%#= render_partial "shared/admin_dashboard_link" %>
		<%= render_partial 'layouts/nav' %>

		<% if content_for?(:feature) %>
			<%= yield :feature %>
			<div id="homepage-counter" data-counter="<%= @counter %>" data-nextevent="<%= @next_event %>" data-countdowncontainer="<%= @countdown_container %>"></div>
		<% end %>

    <% unless @hide_main_container == true %>
      <div class="container" <% unless content_for?(:feature) %>id="main_container"<% end %>>
        <div class="row">
          <div class="large-12 small-12 columns content-container">
		        <% flash.each do |name, msg| %>
		          <%
		            css_class = 'alert-box'
		            if name.match(/notice/i)
		              css_class += ' success'
		            elsif name.match(/alert|warn/)
		              css_class += ' alert'
		            else
		              css_class += ' secondary'
		            end
		          %>

              <%= content_tag :div, msg, class: css_class if msg.is_a?(String) %>
		        <% end %>
            <%= yield %>
          </div>
        </div>
      </div>
    <% end %>

		<% if content_for?(:big_bottom_box) %>
			<div class="container content-container">
				<%= yield :big_bottom_box %>
				<% if content_for?(:middle_stuff) %>
				<div id="middle_features">
					<div class="row">
						<div class="large-12 small-12 columns">
							<%= yield :middle_stuff %>
						</div>
					</div>
				</div>
				<% end %>
			</div>
		<% end %>

		<%= cache ["footer", website.brand, I18n.locale] do %>
		<footer>
      <div class="hide-for-medium-down">
        <%= hpro_footer(include_hpro: true) %>
      </div>

			<div class="container">
				<div class="medium-4 small-12 columns" id="footer_left">
					<span class="footer_text">
						&copy; <%= Date.today.year %>
						<%= link_to(image_tag('harman.jpg', alt: t('harman')), "https://www.harman.com/", target: "_blank") %>
						<%= t('all_rights_reserved') %>
					</span>
				</div>
				<div class="medium-8 columns hide-for-small" id="footer_info">
					<span class="footer_text">
            <% if website.email_signup_url %>
              <%= link_to t('news_signup').titleize, website.email_signup_url %> &bull;
            <% end %>
            <% if website.has_software? && (website.current_softwares.length > 0 || website.forced_current_softwares.length > 0) %>
						<%= link_to t('software_downloads').titleize, software_index_path %> &bull;
						<% end %>
						<% if website.has_dealers? || website.has_online_retailers? || website.has_distributors? %>
						<%= link_to t('where_to_buy').titleize, where_to_find_path %> &bull;
						<% end %>
            <%= link_to 'HARMAN Merchandise', "https://harman.axomo.com", target: "_blank" %> &bull;
            <%= link_to 'careers'.titleize, "https://jobs.harman.com", target: "_blank" %> &bull;
						<%= link_to t('product_support').titleize, support_path %> &bull;
	          <% if !!(website.forum_link) %>
	            <%= link_to t("forum").titleize, website.forum_link %> &bull;
	          <% end %>
						<%= link_to t('privacy_policy').titleize, "https://www.harman.com/privacy-policy", target: "_blank" %> &bull;
						<%= link_to t('terms_of_use').titleize, "https://www.harman.com/terms-use", target: "_blank" %> &bull;
						<%= link_to "Sitemap", locale_sitemap_path(format: 'html') %>
					</span>
				</div>
			</div>
		</footer>
		<% end %>

		<div id="preload"><%= yield :preload %></div>
		<% if content_for?(:popup_code) %>
			<%= yield :popup_code %>
		<% end %>

    <%= render_partial "shared/footer_scripts" %>
  </body>
</html>
