<% header_printed = false %>

<table style="width: 100%" cellspacing="0">

	<% brands.each do |brand| %>
		<% events = MarketingProject.for_report(brand.id, @event_type_id, @start_on, @end_on) %>
		<% if events.size > 0 %>
		<tr>
			<td style="border-bottom: 2px solid #999;" valign="bottom">
				<h4 class="subheader"><%= brand.name %> Scheduled Projects</h4>
			</td>
			<% if header_printed %>
				<td style="border-bottom: 2px solid #999;" colspan="<%= headings.size %>"></td>
			<% else %>
				<% headings.each do |h| %>
				<% h_width = (headings.last == h) ? 90 : 28 %>
				<th style="width: <%= h_width %>px; border-bottom: 2px solid #999; overflow: hidden; font-size: 9px; text-align: left">
					<%= h.strftime("%b") %><br/><%= h.strftime("%Y") %>
				</th>
				<%# header_printed = true %>
				<% end %>
			<% end %>
		</tr>
		<% events.each do |event| %>
		<tr>
			<td style="padding-right: 6px; border-bottom: 1px dotted #ccc">
				<%= link_to event.name, [:marketing_queue, event] %>
				<% if event.user %>
				<small><%= event.user.name %></small>
				<% end %>
			</td>
			<td colspan="<%= headings.size %>" style="border-bottom: 1px dotted #ccc; padding-bottom: 4px;">
				<%= image_tag(bar_url(color: '999', width: (event.duration_in_days + 4), height: 14), 
					style: "margin-left: #{event.starts_x_days_after(headings.first)}px",
					alt: "#{brand.name}_bar") %>&nbsp;<small><%=number_to_percentage event.percent_complete, precision: 0 %></small>

			</td>
		</tr>
		<% end %>
		<% end %>
	<% end %>
</table>
