<div class="row">
	<div class="large-8 columns">
		<div class="row hide-for-small">
			<div class="large-6 columns">
				<h4 class="subheader">Newest Projects</h4>
				<table style="width: 100%">
					<tbody>
						<% @newest_projects.each do |project| %>
						<tr>
							<td width="70%"><%= link_to project.name.truncate(24), [:marketing_queue, project.brand, project] %></td>
							<td><%= project.brand.name.truncate(10) %></td>
						</tr>
						<% end %>
					</tbody>
				</table>

			</div>
			<div class="large-6 columns">
				<h4 class="subheader">Ending Soon</h4>
				<table style="width: 100%">
					<tbody>
						<% @ending_projects.each do |project| %>
						<tr>
							<td width="70%"><%= link_to project.name.truncate(24), [:marketing_queue, project.brand, project] %></td>
							<td><%= l (project.due_on || project.event_end_on), format: :month_day %></td>
						</tr>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>

		<div class="row">
			<div class="small-12 large-12 columns">
			<div class="main-container">
				<h2>My Dashboard</h2>
				<h4 class="subheader">My Open Tasks</h4>
				<table style="width: 100%" id='incomplete-tasks'>
					<thead>
						<tr>
							<th width="60%">Task</th>
							<th width="25%">Project</th>
							<th>Due</th>
						</tr>
					</thead>
					<tbody>
					<% current_marketing_queue_user.incomplete_marketing_tasks.order(:due_on).each do |marketing_task| %>
						<tr id="task_row_<%= marketing_task.id %>">
							<% if marketing_task.marketing_project %>
							<td>
								<%= check_box_tag marketing_task.id, marketing_task.id, false, class: 'completer', 
										data: { 
											task: marketing_task.id, 
											project: marketing_task.marketing_project_id,
											name: marketing_task.name, 
											worker: marketing_task.worker.name,
											due_on: I18n.l(marketing_task.due_on, format: :short)
										} %>
								<%= link_to marketing_task.name.truncate(47), [:marketing_queue, marketing_task] %>
								<% if can? :destroy, marketing_task %>
									<%= link_to(image_tag('icons/trash.gif', alt: 'del'), [:marketing_queue, marketing_task], confirm: "Are you sure?", method: :delete) %>
								<% end %>
							</td>
							<td>
								<%= link_to marketing_task.marketing_project.name.truncate(20), [:marketing_queue, marketing_task.marketing_project] %>
							</td>
							<% else %>
							<td>
								<%= check_box_tag marketing_task.id, marketing_task.id, false, class: 'completer', 
										data: { 
											task: marketing_task.id, 
											name: marketing_task.name, 
											worker: marketing_task.worker.name,
											due_on: I18n.l(marketing_task.due_on, format: :short)
										} %>
								<%= link_to marketing_task.name.truncate(50), [:marketing_queue, marketing_task] %>
								<% if can? :destroy, marketing_task %>
									<%= link_to(image_tag('icons/trash.gif', alt: 'del'), [:marketing_queue, marketing_task], confirm: "Are you sure?", method: :delete) %>
								<% end %>
							</td>
							<td></td>
							<% end %>
							<td class='date'><%=l marketing_task.due_on, format: :month_day %></td>
						</tr>
					<% end %>
					</tbody>
				</table>

				<% if current_marketing_queue_user.role?(:queue_admin) && @unassigned_tasks.length > 0 %>
					<h4 class="subheader">Unassigned Tasks</h4>
					<table style="width: 100%" id='unassigned-tasks'>
						<thead>
							<tr>
								<th width="50%">Task</th>
								<th width="25%">Project</th>
								<th>Assign</th>
							</tr>
						</thead>
						<tbody>
							<% @unassigned_tasks.each do |marketing_task| %>
							<tr id="task_row_<%= marketing_task.id %>">
								<td><%= link_to marketing_task.name.truncate(40), [:marketing_queue, marketing_task] %></td>
								<td><% if marketing_task.marketing_project %>
										<%= link_to marketing_task.marketing_project.name.truncate(20), [:marketing_queue, marketing_task.marketing_project] %>
									<% else %>
										n/a
									<% end %>
								</td>
								<td id="worker-<%= marketing_task.id %>">
									<%= render 'marketing_queue/marketing_tasks/inline_assign', marketing_task: marketing_task %>
								</td>
							</tr>
							<% end %>
						</tbody>
					</table>
				<% end %>

				<h4 class="subheader">My Recently Completed Tasks</h4>
				<table style="width: 100%" id='completed-tasks'>
					<thead>
						<tr>
							<th width="60%">Task</th>
							<th width="25%">Project</th>
							<th>Completed</th>
						</tr>
					</thead>
					<tbody>
					<% current_marketing_queue_user.completed_marketing_tasks.order("completed_at DESC").limit(10).each do |marketing_task| %>
						<tr id="task_row_<%= marketing_task.id %>">
							<% if marketing_task.marketing_project %>
							<td>
								<%= check_box_tag marketing_task.id, marketing_task.id, true, class: 'incompleter', 
										data: { 
											task: marketing_task.id, 
											project: marketing_task.marketing_project_id,
											name: marketing_task.name, 
											worker: marketing_task.worker.name,
											due_on: I18n.l(marketing_task.due_on, format: :short)
										} %>
								<%= link_to marketing_task.name.truncate(50), [:marketing_queue, marketing_task] %>
							</td>
							<td>
								<%= link_to marketing_task.marketing_project.name.truncate(20), [:marketing_queue, marketing_task.marketing_project] %>
							</td>
							<% else %>
							<td>
								<%= check_box_tag marketing_task.id, marketing_task.id, true, class: 'incompleter', data: { task: marketing_task.id, name: marketing_task.name, worker: marketing_task.worker.name } %>
								<%= link_to marketing_task.name, [:marketing_queue, marketing_task] %>
							</td>
							<td></td>
							<% end %>
							<td class='date'><%=l marketing_task.completed_at.to_date, format: :month_day %></td>
						</tr>
					<% end %>
					</tbody>
				</table>

			</div>
		</div>
		</div>
	</div>
	<div class="large-4 columns hide-for-small">
		<h4 class="subheader" style="text-align: center">Open Project Summary by Brand</h4>
		<%= content_tag :div, "", id: "overview", data: @brands_projects_summary %> 
		<ul class="compact" style="margin-left: 5.5em;">
			<% marketing_queue_brands.each do |brand| %>
			<li><%= link_to brand.name, [:marketing_queue, brand] %> (<%= brand.open_marketing_projects.count %>)</li>
			<% end %>
		</ul>

		<%= render "marketing_queue/users/allocation", user: current_marketing_queue_user %>
	</div>
</div>

