
<% @active_brands.each do |brand| %>
	<div class='container'>
		<% if brand.logo_file_name.present? %>
			<h2><%= link_to image_tag(brand.logo.url(:title), alt: brand.name), [:marketing_queue, brand] %></h1>
		<% else %>
			<h2><%= link_to brand.name, [:marketing_queue, brand] %></h1>
		<% end %>
		<div class="row">
			<div class="large-12 columns">
				<% if brand.marketing_tasks.where(marketing_project_id: nil, completed_at: nil).count > 0 %>
				<table style="width: 100%">
					<thead>
						<tr>
							<th colspan="2">Non-Project Tasks</th>
							<th>Worker</th>
							<th>Due</th>
							<th>With:</th>
						</tr>
					</thead>
					<% brand.marketing_tasks.where(marketing_project_id: nil, completed_at: nil).each do |marketing_task| %>
						<tbody>
							<tr id="task_row_<%= marketing_task.id %>">
								<td width="1%">
									<% if marketing_task.priority.present? %>
									P<%= marketing_task.priority %>
									<% end %>
								</td>
								<td>
									<%= check_box_tag marketing_task.id, marketing_task.id, false, class: 'completer', 
											data: { 
												task: marketing_task.id, 
												name: marketing_task.name, 
												worker: (marketing_task.worker) ? marketing_task.worker.name : 'Unassigned',
												due_on: I18n.l(marketing_task.due_on, format: :short)
											} %>
									<%= link_to marketing_task.name, [:marketing_queue, marketing_task] %>
									<% if can? :destroy, marketing_task %>
										<%= link_to(image_tag('icons/trash.gif', alt: 'del'), [:marketing_queue, marketing_task], confirm: "Are you sure?", method: :delete, remote: true) %>
									<% end %>
								</td>
								<td width="18%" id="worker-<%= marketing_task.id %>">
									<% if marketing_task.worker %>
										<%= marketing_task.worker.name %>
									<% else %>
										<%= render 'marketing_queue/marketing_tasks/inline_assign', marketing_task: marketing_task %>
									<% end %>
								</td>
								<td width="18%"><span class="<%= "red" if marketing_task.late? %>"><%=l marketing_task.due_on, format: :short %></span></td>
								<td width="10%">
									<% if marketing_task.requestor && marketing_task.worker && marketing_task.requestor != marketing_task.worker %>
		<div>
			<div class="switch small round task-switch" data-taskid="<%= marketing_task.id %>">

			  <input id="marketing_task_currently_with_worker_<%= marketing_task.id %>" name="marketing_task_currently_with_id_<%= marketing_task.id %>" type="radio" <%= "checked" unless marketing_task.currently_with_id == marketing_task.requestor_id %>>
			  <label for="marketing_task_currently_with_worker" onclick=""><%= marketing_task.worker.initials %></label>

			  <input id="marketing_task_currently_with_requestor_<%= marketing_task.id %>" name="marketing_task_currently_with_id_<%= marketing_task.id %>" type="radio" <%= "checked" if marketing_task.currently_with_id == marketing_task.requestor_id %>>
			  <label for="marketing_task_currently_with_requestor" onclick=""><%= marketing_task.requestor.initials %></label>

			  <span></span>
			</div>
		</div>
									<% end %>
								</td>
							</tr>
						</tbody>
					<% end %>
					<% end %>
				</table>
				<% if brand.projects_for_staff_meeting.count > 0 %>
					<% brand.projects_for_staff_meeting.each do |marketing_project| %>
				<table style="width: 100%">
					<thead>
						<tr id="task-counter-<%= marketing_project.id %>" data-completedcount="<%= marketing_project.completed_marketing_tasks.count %>" data-incompletecount="<%= marketing_project.incomplete_marketing_tasks.count %>">
							<th colspan="2"><%= link_to image_tag('icons/arrow-right-thick-blue.png', alt: 'prjct'), [:marketing_queue, marketing_project] %> Project: <%= marketing_project.name %></th>
							<th width="18%">Owner:&nbsp;<%= marketing_project.user.name %></th>
							<th width="18%"><%=l marketing_project.due_on, format: :short %></th>
							<td width="10%" id="percent-complete-<%= marketing_project.id %>"><%=number_to_percentage marketing_project.percent_complete, precision: 0 %></td> 
						</tr>
					</thead>
							<% marketing_project.incomplete_marketing_tasks.each do |marketing_task| %>
						<tbody>
								<tr id="task_row_<%= marketing_task.id %>">
									<td width="1%">
									<% if marketing_task.priority.present? %>
									P<%= marketing_task.priority %>
									<% end %>
									</td>
									<td>
										<%= check_box_tag marketing_task.id, marketing_task.id, false, class: 'completer', 
											data: { 
												task: marketing_task.id, 
												project: marketing_task.marketing_project_id,
												name: marketing_task.name, 
												worker: (marketing_task.worker) ? marketing_task.worker.name : 'Unassigned',
												due_on: I18n.l(marketing_task.due_on, format: :short)
											} %>
										<%= link_to marketing_task.name, [:marketing_queue, marketing_task] %>
										<% if can? :destroy, marketing_task %>
											<%= link_to(image_tag('icons/trash.gif', alt: 'del'), [:marketing_queue, marketing_task], confirm: "Are you sure?", method: :delete, remote: true) %>
										<% end %>
									</td>
									<td id="worker-<%= marketing_task.id %>"><% if marketing_task.worker %>
											<%= marketing_task.worker.name %>
										<% else %>
											<%= render 'marketing_queue/marketing_tasks/inline_assign', marketing_task: marketing_task %>
										<% end %>
									</td>
									<td><span class="<%= "red" if marketing_task.late? %>"><%=l marketing_task.due_on, format: :short %></span></td>
									<td><% if marketing_task.requestor && marketing_task.worker && marketing_task.requestor != marketing_task.worker %>
		<div>
			<div class="switch small round task-switch" data-taskid="<%= marketing_task.id %>">

			  <input id="marketing_task_currently_with_worker_<%= marketing_task.id %>" name="marketing_task_currently_with_id_<%= marketing_task.id %>" type="radio" <%= "checked" unless marketing_task.currently_with_id == marketing_task.requestor_id %>>
			  <label for="marketing_task_currently_with_worker" onclick=""><%= marketing_task.worker.initials %></label>

			  <input id="marketing_task_currently_with_requestor_<%= marketing_task.id %>" name="marketing_task_currently_with_id_<%= marketing_task.id %>" type="radio" <%= "checked" if marketing_task.currently_with_id == marketing_task.requestor_id %>>
			  <label for="marketing_task_currently_with_requestor" onclick=""><%= marketing_task.requestor.initials %></label>

			  <span></span>
			</div>
		</div>
									<% end %>
								</td>
								</tr>
							<% end %>
						</tbody>
						<% end %>
					</table>
					<% end %>
			</div>
		</div>
	</div>
<% end %>

<p><small>(Nothing for <%=raw @sleeper_brands.map{|b| link_to(b.name, [:marketing_queue, b])}.join(", ") %>.)</small></p>
