<% set_meta_tags reverse: true,
  title: "#{website.brand.name} Installations"
%>

<div class="content container">
  <h1><%= website.brand.name %> Installations</h1>
  <% if website.brand.name.to_s.match?(/axys/i) %>
    <p>
      A wide range of AXYS Tunnel installations can be found around the globe supporting
      the unique needs of tunnel visitors and operators. We invite you to learn a little about
      and view photos from some of our most intriguing installations.
    </p>
  <% end %>

  <% @installations.each do |installation| %>
    <div class="row">
      <div class="small-12 medium-3 large-2 columns text-center">
        <% if installation.thumbnail.present? %>
          <%= link_to installation do %>
            <%= image_tag installation.thumbnail.url, alt: installation.title %>
          <% end %>
        <% end %>
      </div>
      <div class="small-12 medium-9 large-10 columns">
        <h4><%= link_to installation.title, installation %></h4>
        <%= raw installation.summary %>
      </div>
    </div>
  <% end %>
</div>
