<% set_meta_tags title: @event.name,
	reverse: true,
	og: {
		type: 'article',
		description: @event.description,
		title: @event.name
	} %>

<div class="row">
  <div class="small-12 medium-8 columns event-main">

    <h1><%= @event.name %></h1>
    <div class="overline"></div>
    <h5>
      <%=l @event.start_on, format: :long %>
      <% if @event.end_on > @event.start_on %>
        - <%=l @event.end_on, format: :long %>
      <% end %>
    </h5>

    <div class="event-body">
      <h4><%= @event.description %></h4>

      <div><%=raw @event.page_content %></div>

      <% if @event.more_info_link.present? %>
        <p>&nbsp;</p>
        <p><%= link_to "LEARN MORE", @event.more_info_link, target: @event.new_window? ? "_blank" : "", class: "secondary button" %></p>
        <p>&nbsp;</p>
      <% end %>

      <% if @event.image.present? %>
        <div>
          <%= image_tag @event.image.url, alt: @event.name %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="small-12 medium-4 columns event-side">
    <div id="breadcrumbs">
      <%= link_to  events_path  do %>
        <%= fa_icon "long-arrow-left", :"aria-hidden" => true %>
        <%= t(:back_to) %>
        <%= t('events') %>
      <% end %>
    </div>
    <div class="overline"></div>
    <p><strong>For a complete list of HARMAN Professional Solutions events:</strong><br/>
    Please visit <a href="<%= ENV['PRO_SITE_URL'] %>/events" target="_blank"><%= ENV['PRO_SITE_URL'] %></a>.</p>
  </div>
</div>
