<h1>Contact form subject</h1>

<ul class="button-group round">
	<li><%= link_to admin_support_subjects_path, class: "small secondary button" do %>
    <%= fa_icon "angle-double-left" %>
  <% end %>
  </li>
	<li><%= link_to edit_admin_support_subject_path(@support_subject, locale: I18n.locale), class: "small secondary button" do %>
      <%= fa_icon "edit" %>
      Edit
    <% end %>
  </li>
	<li><%= link_to [:admin, @support_subject], confirm: 'Are you sure?', method: :delete, class: "small alert button" do %>
    <%= fa_icon "trash" %>
    Delete
  <% end %>
  </li>
</ul>

<p>
<b>Subject:</b> <%= @support_subject.name %>
</p>

<p>
<b>Recipient:</b> <%= @support_subject.recipient %>
</p>

<p>
<b>Locale:</b> <%= @support_subject.locale %>
</p>
