<%= simple_form_for([:admin, @us_rep]) do |f| %>
  <div class="row">
    <div class="medium-6 columns">
      <%= f.input :name %>
    </div>
    <div class="medium-6 columns">
      <%= f.input :contact, label: "Primary Contact" %>
    </div>
  </div>
  <div class="row">
    <div class="medium-6 columns">
      <%= f.input :address %>
    </div>
    <div class="medium-6 columns">
      <%= f.input :city %>
    </div>
  </div>
  <div class="row">
    <div class="medium-6 columns">
      <%= f.input :state %>
    </div>
    <div class="medium-6 columns">
      <%= f.input :zip %>
    </div>
  </div>
  <div class="row">
    <div class="medium-6 columns">
      <%= f.input :phone %>
    </div>
    <div class="medium-6 columns">
      <%= f.input :fax %>
    </div>
  </div>
  <div class="row">
    <div class="medium-6 columns">
      <%= f.input :email, label: "Primary Email" %>
    </div>
  </div>
  <div class="row">
    <div class="medium-12 columns">
      <%= f.input :contacts,
        input_html: { class: "mceEditor", style: "height: 400px;"} %>
      <p class="hint"><br/>For tables, it will work best to not set static widths, although percentages should work fine.</p>
    </div>
  </div>

  <br/><%= f.button :submit %>
<% end %>
