<h1><%= @us_rep.name %></h1>

<ul class="button-group round">
	<li><%= link_to 'Back', admin_us_reps_path, class: "small secondary button" %></li>
	<li><%= link_to 'Edit', edit_admin_us_rep_path(@us_rep, locale: I18n.locale), class: "small secondary button" %></li>
	<li><%= link_to 'Delete', [:admin, @us_rep], confirm: 'Are you sure?', method: :delete, class: "small alert button" %> </li>
</ul>

<div class="row">
  <div class="medium-6 columns">
    <p>
      <b>Contact:</b> <%= @us_rep.contact %><br>
      <b>Address:</b> <%= @us_rep.address %><br>
      <b>City:</b> <%= @us_rep.city %><br>
      <b>State:</b> <%= @us_rep.state %><br>
      <b>Zip:</b> <%= @us_rep.zip %><br>
      <b>Phone:</b> <%= @us_rep.phone %><br>
      <b>Fax:</b> <%= @us_rep.fax %><br>
      <b>Email:</b> <%= @us_rep.email %>
    </p>
  </div>
  <div class="medium-6 columns">
    <p><b>Contacts:</b></p>
    <%= raw @us_rep.contacts %>
  </div>
</div>

<div class="group">
  <h4>Regions Where <%= @us_rep.name.titleize %> Represents <%= website.brand.name %></h4>
	<%= link_to_function "add a region", "$('#add_region_form').toggle();", class: "small round success button" %>

	<div id="add_region_form" style="display:none">
		<%= simple_form_for [:admin, @us_rep_region], remote: true do |f| %>
		    <%= f.hidden_field :us_rep_id %>
		    <%= f.hidden_field :brand_id %>

        <div class="row" id="select_region">
          <div class="medium-8 columns">
            <%= f.association :us_region, label: "Existing Region", collection: UsRegion.order("name") %>
          </div>
          <div class="medium-4 columns">
            <br/>
            <%= link_to_function("new region",
                "$('#select_region').toggle();$('#new_region').toggle()") if can?(:create, UsRegion) %>
          </div>
        </div>

        <div class="row" id="new_region" style="display:none">
          <div class="medium-8 columns">
            <%= simple_fields_for UsRegion.new do |reg| %>
              <%= reg.input :name, label: "New Region" %>
            <% end %>
          </div>
          <div class="medium-4 columns">
            <br/>
            <%= link_to_function "select existing region",
                "$('#select_region').toggle();$('#new_region').toggle();$('#us_region_name').val('');"%>
          </div>
        </div>

			<p><%= f.button :submit %>
			<%= link_to_function "cancel", "$('#add_region_form').toggle();"%></p>
		<% end %>
	</div>

	<ul id="us_rep_regions" class="list">
	  <% @us_rep.us_rep_regions.where(brand_id: website.brand_id).each do |usr| %>
	  	<%= render "/admin/shared/us_rep_region_row", usr: usr %>
	  <% end %>
	</ul>

  <p><i>To manage this rep's regions for other brands, use the admin page for that brand.</i></p>
</div>
