<h1><%= @us_rep.name %></h1>

<ul class="button-group round">
	<li><%= link_to 'Back', admin_us_reps_path, class: "small secondary button" %></li>
	<li><%= link_to 'Edit', edit_admin_us_rep_path(@us_rep, locale: I18n.locale), class: "small secondary button" %></li>
	<li><%= link_to 'Delete', [:admin, @us_rep], confirm: 'Are you sure?', method: :delete, class: "small alert button" %> </li>
</ul>

<p><b>Contact:</b> <%= @us_rep.contact %></p>
<p><b>Address:</b> <%= @us_rep.address %></p>
<p><b>City:</b> <%= @us_rep.city %></p>
<p><b>State:</b> <%= @us_rep.state %></p>
<p><b>Zip:</b> <%= @us_rep.zip %></p>
<p><b>Phone:</b> <%= @us_rep.phone %></p>
<p><b>Fax:</b> <%= @us_rep.fax %></p>
<p><b>Email:</b> <%= @us_rep.email %></p>

<div class="group">
	<h3>Regions</h3>
	<%= link_to_function "add a region", "$('#add_region_form').toggle();", class: "small success button" %>

	<div id="add_region_form" style="display:none">
		<%= form_for [:admin, @us_rep_region], remote: true do |f| %>
		    <%= f.hidden_field :us_rep_id %>
		    <%= f.hidden_field :brand_id %>
			<p><%= f.label :us_region_id, "Region Name" %><br/>
				<span id="select_region">
				<%= f.collection_select :us_region_id, UsRegion.order("name"), :id, :name %>
				<%= link_to_function("new region", 
					  "$('#select_region').toggle();$('#new_region').toggle()") if can?(:create, UsRegion) %>
				</span>
				<span id="new_region" style="display:none">
				<%= fields_for UsRegion.new do |reg| %>
				<%= reg.text_field :name %>
				<% end %>
				<%= link_to_function "select existing region", 
					  "$('#select_region').toggle();$('#new_region').toggle();$('#us_region_name').val('');"%>
				</span>
			</p>
			<p><%= f.submit %>
			<%= link_to_function "cancel", "$('#add_region_form').toggle();"%></p>
		<% end %>
	</div>

	<ul id="us_rep_regions">
	  <% @us_rep.us_rep_regions.where(brand_id: website.brand_id).each do |usr| %>
	  	<%= render "/admin/shared/us_rep_region_row", usr: usr %>
	  <% end %>
	</ul>
</div>