<h1>Feature details</h1>

<ul class="button-group round">
	<li><%= link_to edit_admin_feature_path(@feature, locale: I18n.locale), class: "small secondary button" do %>
      <%= fa_icon "edit" %>
      Edit
    <% end %>
  </li>
	<li><%= link_to [:admin, @feature], confirm: 'Are you sure?', method: :delete, class: "small alert button" do %>
    <%= fa_icon "trash" %>
    Delete
  <% end %>
  </li>
</ul>

<p><b>Related item:</b>
<%= link_to @feature.featurable.name, [:admin, @feature.featurable] %></p>

<p><b>Order:</b>
<%= @feature.position %></p>

<p><b>Style:</b>
<%= @feature.layout_style %></p>

<p><b>Image:</b><br/>
<%= image_tag @feature.image.url(:thumb) %></p>

<p><b>Pre-content:</b></p>
<%= raw @feature.pre_content %>

<p><b>Content:</b></p>
<%= raw @feature.content %>
