<h1>Feature details</h1>

<ul class="button-group round">
	<li><%= link_to edit_admin_feature_path(@feature, locale: I18n.locale), class: "small secondary button" do %>
      <%= fa_icon "edit" %>
      Edit
    <% end %>
  </li>
	<li><%= link_to [:admin, @feature], confirm: 'Are you sure?', method: :delete, class: "small alert button" do %>
    <%= fa_icon "trash" %>
    Delete
  <% end %>
  </li>
</ul>

<p><b>Related item:</b>
<%= link_to @feature.featurable.name, [:admin, @feature.featurable] %></p>

<p><b>Order:</b>
<%= @feature.position %></p>

<p><b>Style:</b>
<%= @feature.layout_style %></p>

<% if @feature.use_as_banner_slide || @feature.show_below_products || @feature.show_below_videos %>
  <p><b>Special page display location:</b>
   <%= "Use as banner slide" if @feature.use_as_banner_slide %>
   <%= "Show below products" if @feature.show_below_products %>
   <%= "Show below videos" if @feature.show_below_videos %>
  </p>
<% end %>

<p><b>Image:</b><br/>
<% if @feature.image.present? %>
  <%= image_tag @feature.image.url(:thumb), lazy: false %>
<% else %>
  no image
<% end %>
</p>

<p><b>Pre-content:</b></p>
<%= raw @feature.pre_content %>

<p><b>Content:</b></p>
<%= raw @feature.content %>
