<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <% if website.google_site_verification %>
      <meta name="google-site-verification" content="<%= website.google_site_verification %>" />
    <% end %>
    <% if website.facebook_domain_verification %>
      <meta name="facebook-domain-verification" content="<%= website.facebook_domain_verification %>" />
    <% end %>
		<%= csrf_meta_tag %>
		<%= cache ["meta_tags", request.url] do %>
			<%= cached_meta_tags %>
			<meta property="og:site_name" content="<%= website.site_name %>" />
			<meta property="og:locale" content="<%= I18n.locale %>" />
			<meta property="og:url" content="<%= request.url %>" />
			<%= hreflang_links %>
      <%= page_schema %>

			<% if website.twitter_name %>
				<meta property="twitter:site" value="@<%= website.twitter_name %>" />
			<% end %>

			<% if File.exist?(Rails.root.join("app", "assets", "images", website.folder, "logo.png")) %>
			<link rel="image_src" href="<%= image_url("#{website.folder}/logo.png") %>" />
			<% end %>
      <!--[if lt IE 9]>
        <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/nwmatcher/1.2.5/nwmatcher.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/corysimmons-selectivizr2/1.0.9/selectivizr2.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.1.0/respond.min.js"></script>
      <![endif]-->
			<link href="<%= rss_url(format: 'xml') %>" rel="alternate" title="RSS" type="application/rss+xml"/>
      <link rel="icon" type="image/png" href="<%= image_url("#{website.folder}/logo-16x16.png") %>" sizes="16x16">
      <link rel="icon" type="image/png" href="<%= image_url("#{website.folder}/logo-32x32.png") %>" sizes="32x32">
      <link rel="icon" type="image/png" href="<%= image_url("#{website.folder}/logo-96x96.png") %>" sizes="96x96">

			<%= app_meta_tags() %>

		<% end %>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.14.0/jquery-ui.min.js"></script>
		<%= javascript_include_tag website.folder %>
		<%= yield :extra_header_code %>
    <%= cache [website, "other_header_scripts", Date.today, I18n.locale] do %>
      <% if Rails.env.production? && !!website.value_for('other_header_scripts') %>
        <%= raw website.value_for('other_header_scripts') %>
      <% end %>
    <% end %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:100,200,300,400,500"/>
    <% if ENV['ASSET_HOST'].present? %>
	    <link rel="preconnect" href="<%= ENV['ASSET_HOST'] %>">
    <% end %>
		<%= stylesheet_link_tag website.folder, media: :all %>

		<%= yield :custom_css %>
    <%= yield :extra_js %>
    <%= render_partial "shared/analytics" %>
	</head>
	<body data-brand="<%= website.brand.name %>">
    <%= cache [website, "other_body_scripts", Date.today, I18n.locale] do %>
      <% if Rails.env.production? && !!website.value_for('other_body_scripts') %>
        <%= raw website.value_for('other_body_scripts') %>
      <% end %>
    <% end %>
    <div class="row">
      <div class="small-12 columns">
        <%= yield :extra_notice %>
        <%#= render_partial "shared/admin_dashboard_link" %>
        <%= render_partial 'layouts/nav' %>

        <% if content_for?(:feature) %>
          <div class="row">
          <%= yield :feature %>
          </div>
        <% end %>

        <% unless controller_name == "main" && (action_name == "index" || action_name == "default_locale") %>
          <div class="container" <% unless content_for?(:feature) %>id="main_container"<% end %>>
            <div class="row">
              <div class="large-12 small-12 columns content-container">
                <% flash.each do |name, msg| %>
                  <%
                    css_class = 'alert-box'
                    if name.match(/notice/i)
                      css_class += ' success'
                    elsif name.match(/alert|warn/)
                      css_class += ' alert'
                    else
                      css_class += ' secondary'
                    end
                  %>

                    <%= content_tag :div, msg, class: css_class if msg.is_a?(String) %>
                <% end %>
                <%= yield %>
              </div>
            </div>
          </div>
        <% end %>

        <% if content_for?(:big_bottom_box) %>
          <%= yield :big_bottom_box %>
          <% if content_for?(:middle_stuff) %>
          <div id="middle_features">
            <div class="row">
              <div class="large-12 small-12 columns">
                <%= yield :middle_stuff %>
              </div>
            </div>
          </div>
          <% end %>
        <% end %>

        <%= cache ["footer", website.brand, I18n.locale] do %>
        <footer>
          <%= hpro_footer() %>

          <div class="row" style="clear:both">
            <div class="large-6 small-12 large-push-3 columns footer-links">
              <div class="row">
                <div class="large-4 small-6 columns ">
                  <%= link_to t('products'), product_families_path %>
                  <% if website.has_software? && (website.current_softwares.length > 0 || website.forced_current_softwares.length > 0) %>
                    <br/><%= link_to t('software_downloads').titleize, software_index_path %>
                  <% end %>
                </div>

                <div class="large-3 small-6 columns ">
                  <% if website.has_dealers? || website.has_online_retailers? || website.has_distributors? %>
                    <%= link_to t('where_to_buy').titleize, where_to_find_path %><br/>
                  <% end %>
                  <%= link_to 'service', support_path %><br/>
                  <%= link_to t('product_support').titleize, support_path %>
                </div>

                <div class="large-3 small-6 columns ">
                  <%= link_to "downloads", support_downloads_path %>
                  <br/><%= link_to "warranty", warranty_policy_path %>
                  <% if !!(website.forum_link) %>
                    <br/><%= link_to t("forum").titleize, website.forum_link %>
                  <% end %>
                </div>

                <div class="large-2 small-6 columns ">
                  <%= link_to t('contact_us'), support_path %>
                  <br/><%= link_to t('news'), news_index_path %>
                  <br/><%= link_to 'careers'.titleize, "https://jobs.harman.com", target: "_blank" %>
                </div>
              </div>
            </div>

            <div class="large-3 large-pull-6 small-6 columns">
              <div class="hide-for-large-up"><p>&nbsp;</p></div>
              <div class="row">
                <div class="small-5 small-offset-2 medium-3 medium-offset-0 columns show-for-medium-down text-center">
                  <%= link_to(ENV['PRO_SITE_URL'], target: "_blank") do %>
                    <%= image_tag("pro_brands/harman.png", alt: "Harman Professional", class:"hlogo") %>
                  <% end %>
                </div>
                <div class="small-4 columns show-for-small">&nbsp;</div>
                <div class="small-12 columns show-for-small"><br/></div>
                <div class="small-12 medium-9 large-12 columns">
                  <div>
                    &copy; <%= Date.today.year %>
                    <%= link_to('HARMAN', "https://www.harman.com/", target: "_blank") %>
                    <%= t('all_rights_reserved') %>
                  </div>
      						<%= link_to t('privacy_policy').titleize, "https://www.harman.com/privacy-policy", target: "_blank" %> |
      						<%= link_to t('terms_of_use').titleize, "https://www.harman.com/terms-use", target: "_blank" %>
                  <% if website.legal_footer_link %>
                    | <%= link_to "Legal", website.legal_footer_link %>
                  <% end %>
      						| <%= link_to "Sitemap", locale_sitemap_path(format: 'html') %>
                </div>
              </div>
            </div>

            <div class="large-3 small-6 columns large-text-right">
              <div class="hide-for-large-up">
                <p>&nbsp;</p>
                <p class="show-for-small">&nbsp;</p>
              </div>
              <% if website.email_signup_url %>
                <%= link_to website.email_signup_url, class: "small secondary button" do %>
                  <%= fa_icon 'envelope', :"aria-hidden" => "true" %>
                  <%= t('news_signup').titleize %>
                <% end %>
              <% end %>
              <br/>
              <%= social_media_links 'twitter',
                'facebook',
                'youtube',
                'youku',
                'google+',
                'instagram',
                'linkedin',
                'wechat',
                'weibo',
                'tmall',
                style: 'font-awesome',
                size: '32x32' %>
            </div>
          </div>
        </footer>
        <% end %>

      </div>
    </div>

		<div id="preload"><%= yield :preload %></div>
		<% if content_for?(:popup_code) %>
			<%= yield :popup_code %>
		<% end %>

    <%= render_partial "shared/footer_scripts" %>

    <% if controller_name == "main" && (action_name == "index" || action_name == "default_locale") %>
      <% if website.raven_flyover.present? && website.raven_flyover.to_i == 1 %>
        <% flyover = website.brand.settings.where(name: "raven_flyover").first %>
        <%=raw flyover.text_value %>
        <%=image_tag flyover.string_value, alt: "Raven", class: "flyover" %>
      <% end %>
    <% end %>
	</body>
</html>
