<% product.safety_documents.includes(:product).each do |product_document| %>
  <h5>Safety Documentation</h5>
  <ul class="docs">
    <li>
      <%= file_type_icon(product_document) %>
      <%= link_to product_document.name(hide_product_name: true), product_document %>
      [<%= number_to_human_size(product_document.document_file_size) %>]
    </li>
  </ul>
<% end %>

<% product.nonsafety_documents.pluck(:document_type).uniq.each do |document_type| %>
  <% if document_type == "other" %>
    <h5>Extras</h5>
  <% else %>
    <h5><%= document_type.pluralize.titleize %></h5>
  <% end %>
  <ul class="docs">
    <% product.nonsafety_documents.includes(:product).where(document_type: document_type).each do |product_document| %>
      <li>
        <%= file_type_icon(product_document) %>
        <%= link_to product_document.name(hide_product_name: true), product_document %>
        [<%= number_to_human_size(product_document.document_file_size) %>]
      </li>
    <% end %>
  </ul>
<% end %>

<ul class="docs">
  <% product.viewable_site_elements.each do |site_element| %>
    <% if can?(:read, site_element) %>
      <% if site_element.external_url.present? || site_element.executable_file_name.present? %>
        <li>
          <%= link_to site_element.long_name, site_element.url %>
        </li>
      <% elsif site_element.resource_file_name.present? %>
        <li>
          <%= file_type_icon(site_element) %>
          <%= link_to site_element.long_name, site_element.resource.url %>
        </li>
      <% end %>
    <% end %>
  <% end %>
</ul>

<% if product.current_and_recently_expired_promotions.where.not(promo_form_file_name: [nil, '']).length > 0 %>
  <h5>Promotions</h5>
  <ul class="docs">
    <li>
      <%= image_tag("icons/pdf_17.png", style: "vertical-align: middle") %>
      <%= link_to(t('product_page.rebate_forms'), promotions_path) %>
    </li>
  </ul>
<% end %>
