<%
if @product.photo
	og_image = @product.photo.product_attachment.url(:original)
	tw_image = @product.photo.product_attachment.url(:small)
else
	og_image = image_url("#{website.folder}/logo.png")
	tw_image = image_url("#{website.folder}/logo.png")
end

if website.show_pricing? && @product.msrp && @product.msrp.to_f > 0
	twitter_params = {
		image: {
			src: tw_image
		},
		card: "product",
		data1: "#{number_to_currency(@product.msrp)} USD",
		label1: "MSRP",
		data2: translate_content(@product, :short_description),
		label2: "Product Type"
	}
else
	twitter_params = {
		image: {
			src: tw_image
		},
		card: "summary"
	}
end

set_meta_tags title: @product.name,
	reverse: true,
	canonical: product_url(@product),
	description: translate_content(@product, :short_description),
	keywords: translate_content(@product, :keywords),
	twitter: twitter_params,
	og: {
		image: og_image,
		type: 'product',
		description: truncate(strip_html(translate_content(@product, :description)), length: 100),
		title: "#{website.brand.name} #{@product.name}"
	}
%>

<% if @product.show_alert? %>
	<%= content_for :extra_notice do %>
		<div id="product-notice"><%=raw textilize(@product.alert) %></div>
	<% end %>
<% end %>

<%= content_for :preload do %>
	<% if File.exists?(Rails.root.join("app", "assets", "images", "#{website.folder}/#{I18n.locale}/buyitnow_button_hover.png")) %>
		<%= image_tag("#{website.folder}/#{I18n.locale}/buyitnow_button_hover.png") %>
	<% end %>
	<% @product.product_attachments.each do |product_attachment| %>
		<% if !product_attachment.product_attachment_file_name.blank? %>
			<%= image_tag(product_attachment.product_attachment.url(:medium)) %>
		<% end %>
	<% end %>
<% end %>

<% if @product.has_custom_background? %>
	<%= content_for :custom_css do %>
	<style type="text/css" media="screen">
		body { <%= @product.custom_background %> }
	</style>
	<% end %>
<% end %>

<%= cache ["product_page", @product, @online_retailer_link, @active_tab, I18n.locale, session['geo_country']] do %>

<div id="breadcrumbs"><%= breadcrumbs(@product) %></div>

<% if @product.layout_class == "vertical" ##################### VERTICAL LAYOUT ############## %>

<div class="row">

	<div class="large-5 large-push-7 push-7 small-12 columns">
		<% if @product.photo %>
		<div class="text-center" style="margin: 20px 0px;">
			<%= link_to(image_tag(@product.photo.product_attachment.url(:vert_medium)), @product.photo.product_attachment.url) %>
		</div>
		<% end %>

		<% if @product.images_for("product_page").size > 1 %>
      <% if !!(website.no_lightbox) %>
        <ul id="product_thumbnails" class="large-block-grid-6 small-block-grid-3">
          <% @product.images_for("product_page").each do |product_attachment| %>
            <% if product_attachment.product_media_thumb_file_name.present? %>
              <li><%= link_to_product_attachment(product_attachment) %></li>
            <% else %>
              <li><%= link_to(image_tag(product_attachment.product_attachment.url(:tiny_square)), product_attachment.product_attachment.url(:original)) %></li>
            <% end %>
          <% end %>
        </ul>
      <% else %>
        <ul id="product_thumbnails" class="large-block-grid-6 small-block-grid-3">
          <% @product.images_for("product_page").each do |product_attachment| %>
            <% if product_attachment.product_media_thumb_file_name.present? %>
              <li><%= link_to_product_attachment(product_attachment) %></li>
            <% else %>
              <li>
              <%= link_to(product_attachment.product_attachment.url(:full_width),
                data: product_attachment.no_lightbox? ? {} : { lightbox: 'product-thumbnails' }) do %>
                  <%= image_tag(product_attachment.product_attachment.url(:tiny_square)) %>
                <% end %>
              </li>
            <% end %>
          <% end %>
        </ul>
      <% end %>
      <div class="larger_tag"><%= t('product_page.larger_images') %></div>
		<% end %>

    <% if website.show_pricing? && I18n.default_locale.match(/#{I18n.locale}/i) %>
      <% if @product.street_price.present? && @product.street_price.to_f > 0.0 %>

        <% if @product.sale_price && @product.street_price.to_f > @product.sale_price.to_f && @product.sale_price.to_f > 0 %>
          <h6 class="price-label"><span class="strike"><%= number_to_currency(@product.street_price) %></span></h6>
          <div><%= number_to_currency(@product.sale_price) %></div>
          Save <%= number_to_currency(@product.street_price.to_f - @product.sale_price.to_f) %>!
          <br/>
        <% else %>
          <%= number_to_currency(@product.street_price) %>
        <% end %>

      <% elsif @product.msrp && @product.msrp.to_f > 0.0 %>

        <% if @product.sale_price && @product.msrp.to_f > @product.sale_price.to_f && @product.sale_price.to_f > 0 %>
          <h6 class="price-label">MSRP <span class="strike"><%= number_to_currency(@product.msrp) %></span></h6>
          <div><%= number_to_currency(@product.sale_price) %></div>
          Save <%= number_to_currency(@product.msrp.to_f - @product.sale_price.to_f) %>!
          <br/>
        <% else %>
          <h6 class="price-label">MSRP</h6>
          <%= number_to_currency(@product.msrp) %>
        <% end %>

      <% end %>
    <% end %>

			<% if website.has_online_retailers? || website.has_distributors? || website.has_dealers? || !@product.direct_buy_link.blank? %>

				<%= buy_it_now_link(@product, html_button: true, reveal_id: "buy-it-now-popup") %>
				<%= links_to_current_promotions(@product) %>

				<% unless @product.demo_link.blank? %>
					<% if File.exists?(Rails.root.join("app", "assets", "images", "#{website.folder}/#{I18n.locale}/demo_download_button.png")) %>
						<%= link_to(image_tag("#{website.folder}/#{I18n.locale}/demo_download_button.png",
								alt: "Demo Download",
								mouseover: "#{website.folder}/#{I18n.locale}/demo_download_button_hover.png") ,
							@product.demo_link) %>
					<% else %>
						<p><strong><%= link_to "Demo Download", @product.demo_link %></strong></p>
					<% end %>
				<% end %>

			<% end %>

	</div>

	<div class="large-7 large-pull-5 pull-5 small-12 columns">
    <h1 style="margin-bottom: 0px"><%= title translate_content(@product, :name) %>
      <% if @product.discontinued? %>
        <span class="discontinued">(<%= t('discontinued') %>)</span>
      <% end %>
    </h1>
		<h3 class="subheader"><%= translate_content(@product, :short_description) %></h3>
		<%= render 'shared/add_this' %>
		<!-- <%= @active_tab %> -->
    <%= draw_main_tabs @product, zurb: true, active_tab: @active_tab %>
		<%= draw_main_tabs_content @product, active_tab: @active_tab, zurb: true %>
		<%= draw_audio_demos @product %>
		<%= draw_info_accordion @product %>
	</div>
</div>

<% else ################## HORIZONTAL LAYOUT ################%>

<% if @product.photo %>
	<div id="viewer_container" class="text-center">
		<div id="viewer">
			<% if @product.images_for("product_page").size == 1 %>
			<%= link_to(image_tag(@product.photo.product_attachment.url(:lightbox)), @product.photo.product_attachment.url) %>
			<% else %>
			<%= image_tag(@product.photo.product_attachment.url(:lightbox)) %>
			<% end %>
		</div>
	</div>
<% end %>

		<% if @product.images_for("product_page").size > 1 %>
      <% if !!(website.no_lightbox) %>
        <ul id="product_thumbnails" class="large-block-grid-12 small-block-grid-3">
          <% @product.images_for("product_page").each do |product_attachment| %>
            <% if product_attachment.product_media_thumb_file_name.present? %>
            <li><%= link_to_product_attachment(product_attachment) %></li>
            <% else %>
            <li><%= link_to(image_tag(product_attachment.product_attachment.url(:tiny_square)), product_attachment.product_attachment.url(:original)) %></li>
            <% end %>
          <% end %>
        </ul>
      <% else %>
        <ul id="product_thumbnails" class="large-block-grid-12 small-block-grid-3">
          <% @product.images_for("product_page").each do |product_attachment| %>
            <% if product_attachment.product_media_thumb_file_name.present? %>
              <li><%= link_to_product_attachment(product_attachment) %></li>
            <% else %>
              <li>
              <%= link_to(product_attachment.product_attachment.url(:full_width),
                data: product_attachment.no_lightbox? ? {} : { lightbox: 'product-thumbnails' }) do %>
                  <%= image_tag(product_attachment.product_attachment.url(:tiny_square)) %>
                <% end %>
              </li>
            <% end %>
          <% end %>
        </ul>
      <% end %>
		<div class="larger_tag"><%= t('product_page.larger_images') %></div>
  <% end %>

<div class="row">
	<div class="large-8 columns">
    <h1 style="margin-bottom: 0px"><%= title translate_content(@product, :name) %>
      <% if @product.discontinued? %>
        <span class="discontinued">(<%= t('discontinued') %>)</span>
      <% end %>
    </h1>
		<h3 class="subheader"><%= translate_content(@product, :short_description) %></h3>
	</div>
	<div class="large-4 columns">

		<% if website.has_online_retailers? || website.has_distributors? || website.has_dealers? || !@product.direct_buy_link.blank? %>

      <div class="text-right">

        <% if website.show_pricing? && I18n.default_locale.match(/#{I18n.locale}/i) %>
          <% if @product.street_price.present? && @product.street_price.to_f > 0.0 %>

            <% if @product.sale_price && @product.street_price.to_f > @product.sale_price.to_f && @product.sale_price.to_f > 0 %>
              <h6 class="price-label"><span class="strike"><%= number_to_currency(@product.street_price) %></span></h6>
              <div><%= number_to_currency(@product.sale_price) %></div>
              Save <%= number_to_currency(@product.street_price.to_f - @product.sale_price.to_f) %>!
              <br/>
            <% else %>
              <div><%= number_to_currency(@product.street_price) %></div>
            <% end %>

          <% elsif @product.msrp && @product.msrp.to_f > 0.0 %>

            <% if @product.sale_price && @product.msrp.to_f > @product.sale_price.to_f && @product.sale_price.to_f > 0 %>
              <h6 class="price-label">MSRP <span class="strike"><%= number_to_currency(@product.msrp) %></span></h6>
              <div><%= number_to_currency(@product.sale_price) %></div>
              Save <%= number_to_currency(@product.msrp.to_f - @product.sale_price.to_f) %>!
              <br/>
            <% else %>
              <h6 class="price-label">MSRP</h6>
              <%= number_to_currency(@product.msrp) %><br/>
            <% end %>

          <% end %>
        <% end %>
        <%= buy_it_now_link(@product, html_button: true, reveal_id: "buy-it-now-popup") %>
      </div>

			<% unless @product.demo_link.blank? %>
				<% if File.exists?(Rails.root.join("app", "assets", "images", "#{website.folder}/#{I18n.locale}/demo_download_button.png")) %>
					<%= link_to(image_tag("#{website.folder}/#{I18n.locale}/demo_download_button.png",
							alt: "Demo Download",
							mouseover: "#{website.folder}/#{I18n.locale}/demo_download_button_hover.png") ,
						@product.demo_link) %>
				<% else %>
					<p><strong><%= link_to "Demo Download", @product.demo_link %></strong></p>
				<% end %>
			<% end %>

		<% end %>
		<%= links_to_current_promotions(@product) %>

		<% unless @product.demo_link.blank? %>
			<% if File.exists?(Rails.root.join("app", "assets", "images", "#{website.folder}/#{I18n.locale}/demo_download_button.png")) %>
				<%= link_to(image_tag("#{website.folder}/#{I18n.locale}/demo_download_button.png",
						alt: "Demo Download",
						mouseover: "#{website.folder}/#{I18n.locale}/demo_download_button_hover.png") ,
					@product.demo_link) %>
			<% else %>
				<p><strong><%= link_to "Demo Download", @product.demo_link %></strong></p>
			<% end %>
		<% end %>

	</div>
</div>

<div class="row">

	<div class="large-8 columns">
		<!-- <%= @active_tab %> -->
    <%= draw_main_tabs @product, zurb: true, active_tab: @active_tab %>
		<%= draw_main_tabs_content @product, zurb: true, active_tab: @active_tab %>
	</div>

	<div class="large-4 columns">
		<%= draw_info_accordion @product %>
		<%= draw_audio_demos @product %>
		<%= render 'shared/add_this' %>
	</div>

</div>

<% end # layout class %>

<% end # cache %>

<% if session["geo_usa"] && !@product.hide_buy_it_now_button? %>
<div id="buy-it-now-popup" class="medium reveal-modal" data-reveal>
	<%= cache ["online_retailer_links_for", @product] do %>
	<div class="row">
		<div class="large-7 columns">
			<h3><%= t('titles.buy_online') %></h3>
		</div>
		<div class="large-5 columns">
			<%= form_tag where_to_buy_path() %>
			<div class="row collapse">
				<div class="large-8 small-7 columns">
					<%= text_field_tag "zip", session[:zip], placeholder: t('us_zip_code') %>
				</div>
				<div class="large-4 small-5 columns">
					<%= submit_tag t('find_us_dealers'), class: "postfix button" %>
				</div>
			</div>
			</form>
		</div>
	</div>
	<div id="dealers">
		<div id="online_retailers">
			<%= render_partial "shared/buynow", product: @product %>
		</div>
	</div>
	<% end %>
	<p><%= image_tag "small-gray-world-map.png", alt: "" %>
		Also available from <%= link_to t("international_distributors"), international_distributors_path %> distributors.</p>
	<a class="close-reveal-modal">&#215;</a>
</div>
<% end %>

<%= content_for :extra_js do %>

	<% if @product.audio_demos.size > 0 %>

	var inlinePlayer = null;

	soundManager.debugMode = true; // disable or enable debug output

	soundManager.preferFlash = false; // use HTML5 audio for MP3/MP4, if available
	soundManager.useFlashBlock = false;
	soundManager.url = '/swfs/'; // path to directory containing SM2 SWF

	// optional: enable MPEG-4/AAC support (requires flash 9)
	soundManager.flashVersion = 9;

	// ----

	soundManager.onready(function() {
	  // soundManager.createSound() etc. may now be called
	  inlinePlayer = new InlinePlayer();
	});


	<% end %>
<% end %>

<% if current_user && can?(:manage, @product) %>
<div class="admin_function">
	<%#= link_to "edit", [:admin, @product] %>
</div>
<% end %>
