<h1>Dealers</h1>

<div class="instructions">
<% if !website.dealers_from_brand_id.blank? %>
	Note: <%= website.brand_name %> is configured to use the dealers from
	<%= Brand.find(website.dealers_from_brand_id).name %>. Please manage
	the dealers on its website instead of this one.
<% else %>

	Use the "exclude" link next to dealers who should not be included in
		the site's dealer lookup results.
  </div>

  <% if can? :create, Dealer %>
  <ul class="button-group round">
  	<li><%= link_to 'New dealer', new_admin_dealer_path, class: "small success button" %></li>
  </ul>
  <% end %>

  <%= search_form_for [:admin, @search], class: "custom" do |f| %>
      <%= f.label :name_cont, "Name contains" %>
      <div class="row collapse">
        <div class="large-10 small-8 columns">
          <%= f.text_field :name_cont %>
        </div>
        <div class="large-2 small-4 columns">
          <%= f.submit "Search dealers", class: "postfix button" %>
        </div>
      </div>
      <div class="input boolean optional this_brand"><input name="this_brand" type="hidden" value="0" /><label class="boolean optional control-label checkbox" for="this_brand"><%= check_box_tag :this_brand, 1, @this_brand %> Only <%= website.brand.name %> dealers</label></div><br/>
  <% end %>

  <% if @dealers.length > 0 %>
  <table class="data">
    <tr>
      <th>Name</th>
      <th>City</th>
      <th>State</th>
      <th>Country</th>
      <th>Email</th>
      <th>Account number</th>
    </tr>

  <% @dealers.each do |dealer| %>
    <% if can? :manage, dealer %>
      <tr style="background: <%= cycle 'white', 'none' %>" <% if dealer.exclude? %>class="strike"<% end %> id="dealer_<%= dealer.id %>">
        <td><%= link_to dealer.name, [:admin, dealer] %></td>
        <td><%= dealer.city %></td>
        <td><%= dealer.state %></td>
        <td><%= dealer.country %></td>
        <td><%= dealer.email %></td>
        <td><%= dealer.account_number %></td>
    	<% unless dealer.exclude? %>
    	<td id="excluder_<%= dealer.id %>">
    		<%= link_to "exclude", admin_dealer_path(dealer, dealer: {exclude: true}), method: :put, remote: true %>
    	</td>
    	<% end %>
      </tr>
    <% end %>
  <% end %>
  </table>
  <% end %>

<% end %>

