<h1><%= @dealer.name %></h1>

<ul class="button-group round">
	<li><%= link_to 'Back', admin_dealers_path, class: "small secondary button" %></li>
	<li><%= link_to 'Edit', edit_admin_dealer_path(@dealer, locale: I18n.locale), class: "small secondary button" %> </li>
</ul>

<table class="data">
  <tr>
    <th>Address</th>
    <td><%= @dealer.address %><br/>
      <%= @dealer.city %>,
      <%= @dealer.state %>
      <%= @dealer.zip %>
    </td>
  </tr>
  <tr>
    <th>Telephone</th>
    <td><%= @dealer.telephone %></td>
  </tr>
  <tr>
    <th>Fax</th>
    <td><%= @dealer.fax %></td>
  </tr>
  <tr>
    <th>Email</th>
    <td><%= mail_to @dealer.email, @dealer.email %></td>
  </tr>
  <% if @dealer.website.present? %>
    <tr>
      <th>Website</th>
      <td><%= link_to @dealer.website.downcase, @dealer.website_link, target: "_blank" %></td>
    </tr>
  <% end %>
  <tr>
    <th>Account number</th>
    <td><%= @dealer.account_number %></td>
  </tr>
  <tr>
    <th>Lat/Lng</th>
    <td><%= @dealer.lat %> / <%= @dealer.lng %></td>
  </tr>
</table>

<br/>

<div class="instructions">While you can manually assign this dealer to
    the brands below, the settings may be overwritten during the next
    scheduled sync with SAP.
</div>

<div class="group">
  <h4 class="subheader">Brands</h4>

  <%= simple_form_for [:admin, @dealer] do |f| %>

    <%= f.association :brands, as: :check_boxes, label: false, collection: Brand.where("dealers_from_brand_id IS NULL OR dealers_from_brand_id = 0").order("UPPER(name)") %>

    <br/><%= f.button :submit %>
    
  <% end %>
</div>
