<h1><%= @dealer.name %></h1>

<ul class="button-group round">
	<li><%= link_to admin_dealers_path, class: "small secondary button" do %>
    <%= fa_icon "angle-double-left" %>
  <% end %>
  </li>
	<li><%= link_to edit_admin_dealer_path(@dealer, locale: I18n.locale), class: "small secondary button" do %>
      <%= fa_icon "edit" %>
      Edit
    <% end %>
  </li>
  <% if current_user.admin? %>
  <li><%= link_to "Delete", admin_dealer_path, method: :delete, class: "small alert button" %></li>
  <% end %>
</ul>

<table class="data">
  <tr>
    <th>Address</th>
    <td><%= @dealer.address %><br/>
      <%= @dealer.city %>,
      <%= @dealer.state %>
      <%= @dealer.zip %>
      <% if @dealer.country.present? %>
        <br/><%= @dealer.country %>
      <% end %>
    </td>
  </tr>
  <tr>
    <th>Telephone</th>
    <td><%= @dealer.telephone %></td>
  </tr>
  <tr>
    <th>Fax</th>
    <td><%= @dealer.fax %></td>
  </tr>
  <tr>
    <th>Email</th>
    <td><%= mail_to @dealer.email, @dealer.email %></td>
  </tr>
  <% if @dealer.website.present? %>
    <tr>
      <th>Website</th>
      <td><%= link_to @dealer.website.downcase, @dealer.website_link, target: "_blank" %></td>
    </tr>
  <% end %>
  <tr>
    <th>Account number</th>
    <td><%= @dealer.account_number %></td>
  </tr>
  <tr>
    <th>Dealer type</th>
    <td>
      <ul>
        <% if @dealer.resale? %>
          <li>Resale</li>
        <% end %>
        <% if @dealer.rental? %>
          <li>Rental</li>
        <% end %>
        <% if @dealer.installation? %>
          <li>Installation</li>
        <% end %>
        <% if @dealer.service? %>
          <li>Service</li>
        <% end %>
      </ul>
    </td>
  </tr>
  <tr>
    <th>Lat/Lng</th>
    <td><%= @dealer.lat %> / <%= @dealer.lng %></td>
  </tr>
  <tr>
    <th>Google Place ID</th>
    <td><%= @dealer.google_map_place_id %></td>
  </tr>
  <%# if @dealer.products.present? %>
    <!--<tr>-->
    <!--  <th>Products</th>-->
    <!--  <td><%#= @dealer.products %></td> -->
    <!--</tr>-->
  <%# end %>
  <% @dealer.brand_dealers.each do |bd|%>
    <% if bd.brand_dealer_rental_products.present? %>
      <tr>
        <th>Rental Products (<%=bd.brand.name%>)</th>
        <td>
          <% bd.brand_dealer_rental_products.each do |product_association|%>
            <%=product_association.product.name%><br/>
          <% end %>
        </td>
      </tr>
    <% end %>
  <% end %>
</table>

<br/>

<div class="instructions">While you can manually assign this dealer to
    the brands below, the settings may be overwritten during the next
    scheduled sync with SAP.
</div>

<div class="group">
  <h4 class="subheader">Brands</h4>

  <%= simple_form_for [:admin, @dealer] do |f| %>

    <%= f.association :brands,
      as: :check_boxes,
      label: false,
      collection: Brand.where(dealers_from_brand_id: [nil, "", 0]).order(Arel.sql("UPPER(name)")) %>

    <br/><%= f.button :submit %>

  <p><i><%= Brand.where("dealers_from_brand_id > 0").pluck(:name).join(", ") %>
  dealers are linked to one of the brands above.</i></p>

  <% end %>
</div>
