<h1><%= @dealer.name %></h1>

<div class="button_container">
	<%= link_to 'Back', admin_dealers_path, class: "back button" %>
	<%= link_to 'Edit', edit_admin_dealer_path(@dealer, locale: I18n.locale), class: "edit button" %> 
</div>

<table class="data">
  <tr>
    <th>Address</th>
    <td><%= @dealer.address %><br/>
      <%= @dealer.city %>,
      <%= @dealer.state %>
      <%= @dealer.zip %>
    </td>
  </tr>
  <tr>
    <th>Telephone</th>
    <td><%= @dealer.telephone %></td>
  </tr>
  <tr>
    <th>Fax</th>
    <td><%= @dealer.fax %></td>
  </tr>
  <tr>
    <th>Email</th>
    <td><%= mail_to @dealer.email, @dealer.email %></td>
  </tr>
  <tr>
    <th>Account number</th>
    <td><%= @dealer.account_number %></td>
  </tr>
  <tr>
    <th>Lat/Lng</th>
    <td><%= @dealer.lat %> / <%= @dealer.lng %></td>
  </tr>
</table>

<br/>

<div class="instructions">While you can manually assign this dealer to
    the brands below, the settings may be overwritten during the next
    scheduled sync with SAP.
</div>

<div class="group">
  <h3>Brands</h3>

  <%= simple_form_for [:admin, @dealer] do |f| %>

    <%= f.association :brands, as: :check_boxes, label: false, collection: Brand.where("dealers_from_brand_id IS NULL OR dealers_from_brand_id = 0").order("UPPER(name)") %>

    <div class="field">
      <%= f.submit %>
    </div>
    
  <% end %>
</div>
