<% set_meta_tags title: t('titles.product_families'),
				 reverse: true %>

<%= content_for :feature do %>
  <% if !@market_segment.banner_image_file_name.blank? %>
    <%= image_tag(@market_segment.banner_image.url, alt: translate_content(@market_segment, :name), style: "width: 100%") %>
  <% elsif File.exist?(Rails.root.join("app", "assets", "images", website.folder, "market_segment_placeholder.jpg")) %>
    <%= image_tag("#{website.folder}/market_segment_placeholder.jpg", alt: translate_content(@market_segment, :name), style: "width: 100%") %>
  <% else %>
    <h1> <%= translate_content(@market_segment, :name) %> </h1>
  <% end %>
<% end %>

<div><%=raw @market_segment.description %></div>

<%= cache ["market_segment_content", website.brand, @market_segment, I18n.locale] do %>
  <ul class="large-block-grid-<%= (@market_segment.all_current_products.length / 2).to_i %> small-block-grid-2">
    <% @market_segment.all_current_products.each do |product| %>
      <li><%= render_partial("product_families/compact_product_square", product: product) %></li>
    <% end %>
  </ul>

  <% if @market_segment.related_news.length > 0 %>
    <div class="homepage_block text-center news_strip hide-for-medium-down">
      <h2 class="text-center">Related News</h2>
      <div class="row collapse">
        <div class="large-12 columns text-center">
          <div class="quotebox">
            <ul data-orbit data-options="slide_number:false; pause_on_hover:false; navigation_arrows:false;">
              <% @news.each do |news| %>
                <li>
                  <h3><%= link_to truncate(news.title, length: 100), news %></h3>
                  <h4 class="subheader"><%=l news.post_on, format: :short %></h4>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <p>&nbsp;</p>
<% end %>

