<h1>Listing rep_reports</h1>

<table>
  <tr>
    <th>Clinic</th>
    <th>Overall impression</th>
    <th></th>
    <th></th>
  </tr>

<% @rep_reports.each do |rep_report| %>
  <tr>
    <td><%= rep_report.clinic_id %></td>
    <td><%= rep_report.overall_impression %></td>
    <td><%= link_to 'Show', [:admin, rep_report] %></td>
    <td><%= link_to 'Edit', edit_admin_rep_report_path(rep_report) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Rep report', new_admin_rep_report_path %>
