<p>
  <b>Clinic:</b>
  <%= @rep_report.clinic_id %>
</p>

<p>
  <b>Overall impression:</b>
  <%= @rep_report.overall_impression %>
</p>

<p>
  <b>Clinician preparation:</b>
  <%= @rep_report.clinician_preparation %>
</p>

<p>
  <b>Clinician preparation comments:</b>
  <%= @rep_report.clinician_preparation_comments %>
</p>

<p>
  <b>Clinician on time:</b>
  <%= @rep_report.clinician_on_time %>
</p>

<p>
  <b>Attendance:</b>
  <%= @rep_report.attendance %>
</p>

<p>
  <b>Rebook clinician:</b>
  <%= @rep_report.rebook_clinician %>
</p>

<p>
  <b>Best part:</b>
  <%= @rep_report.best_part %>
</p>

<p>
  <b>Worst part:</b>
  <%= @rep_report.worst_part %>
</p>


<%= link_to 'Edit', edit_admin_rep_report_path(@rep_report) %> |
<%= link_to 'Delete', [:admin, @rep_report], confirm: 'Are you sure?', method: :delete %> |
<%= link_to 'Back', admin_rep_reports_path %>
