<h1>Locales</h1>

<% if can? :create, Locale %>
<ul class="button-group round">
	<li><%= link_to 'New locale', new_admin_locale_path, class: "small success button" %></li>
</ul>
<% end %>

<table>
  <thead>
    <tr>
      <th colspan="2">Code</th>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
  <% Locale.primaries.order(:code).find_each do |locale| %>
    <tr>
      <td colspan="2"><%= link_to locale.code, [:admin, locale] %></td>
      <td><%= link_to locale.name, [:admin, locale]  %></td>
    </tr>
    <% locale.regionals.order(:code).find_each do |regional| %>
      <tr>
        <td>&nbsp;</td>
        <td><%= link_to regional.code, [:admin, regional] %></td>
        <td><%= link_to regional.name, [:admin, regional]  %></td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>
