<h1>Locale: <%= @locale.name %></h1>

<ul class="button-group round">
	<li><%= link_to admin_locales_path, class: "small secondary button" do %>
    <%= fa_icon "angle-double-left" %>
  <% end %>
  </li>
	<li><%= link_to edit_admin_locale_path(@locale), class: "small secondary button" do %>
      <%= fa_icon "edit" %>
      Edit
    <% end %>
  </li>
	<li><%= link_to [:admin, @locale], confirm: 'Are you sure?', method: :delete, class: "small alert button" do %>
    <%= fa_icon "trash" %>
    Delete
  <% end %>
  </li>
</ul>

<p>
  <b>Name:</b>
  <%= @locale.name %>
</p>

<p>
  <b>Code:</b>
  <%= @locale.code %>
</p>


<div class="group">
	<h4 class="subheader">Defined for these websites:</h4>

	<ul id="website_locales" class="list">
	  <% @locale.website_locales.find_each do |wl| %>
      <%= render "/admin/shared/website_locale_row", wl: wl, called_from: "locale" %>
	  <% end %>
	</ul>
</div>
