<%= cache ["new_for_namm_strip", website.brand, I18n.locale] do %>
  <% new_family = ProductFamily.find_by_cached_slug("500-series") %>
  <% venu360 = Product.find_by_cached_slug("driverack-venu360") %>
  <% if (venu360 && venu360.show_on_website?(website)) || (new_family && new_family.current_products.length > 0) %>
    <div class="homepage_block dark">
      <% if new_family && new_family.current_products.length > 0 %>
        <div class="row">
          <div class="large-12 columns">
            <h2><%= website.brand.name %> <%= new_family.name %> Processors</h2>
          </div>
          <div class="large-7 large-push-5 small-12 columns">
            <p>
              <% powerrack8 = Product.find("powerrack8") %>
              <%= link_to new_family do %>
                <%= image_tag powerrack8.photo.product_attachment.url, alt: "dbx 500 Series PowerRack8" %>
              <% end %>
            </p>
          </div>
          <div class="large-5 large-pull-7 small-12 columns">
            <p>Modular is back! Classic dbx modular processors
            return in the new, industry-standard 500 series
            form factor.</p>
            <div class="row collapse">
              <div class="large-4 small-6 columns">
                <ul>
                  <li>
                    <%= link_to "/en-US/products/560a" do %>
                      <strong>560A</strong>
                    <% end %>
                    <br/>Compressor
                  </li>
                  <li>
                    <%= link_to "/en-US/products/580" do %>
                      <strong>580</strong>
                    <% end %>
                    <br/>Mic Preamp
                  </li>
                </ul>
              </div>
              <div class="large-4 small-6 columns">
                <ul>
                  <li>
                    <%= link_to "/en-US/products/520" do %>
                      <strong>520</strong>
                    <% end %>
                    <br/>De-Esser
                  </li>
                  <li>
                    <%= link_to "/en-US/products/530" do %>
                      <strong>530</strong>
                    <% end %>
                    <br/>Parametric EQ
                  </li>
                </ul>
              </div>
              <div class="large-4 small-12 columns">
                <ul>
                  <li>
                    <%= link_to "/en-US/products/510" do %>
                      <strong>510</strong>
                    <% end %>
                    <br/>Subharmonic Synth
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns text-right">
            <p>
              <%= link_to 'more details...', new_family, class: "tiny button" %>
            </p>
          </div>
        </div>
      <% end %>

      <% if venu360 && venu360.show_on_website?(website) %>
        <div class="row">
          <div class="large-7 columns">
            <%= link_to venu360 do %>
              <%= image_tag('dbx/360_angle.png', alt: "dbx DriveRack VENU360") %>
            <% end %>
          </div>
          <div class="large-5 columns">
            <h2><%= website.brand.name %> <%= venu360.name %></h2>
            <p><%=raw translate_content(venu360, :short_description_4) %></p>
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns text-right">
            <p>
              <%= link_to 'more details...', venu360, class: "tiny button" %>
            </p>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
