<%= simple_form_for([:admin, @artist_tier]) do |f| %>
  <div class="row">
    <div class="large-5 columns">
  <%= f.input :name %>
  <%= f.input :invitation_code %>
	<%= f.input :position, label: "Position (from top to bottom) where this tier appears" %>
    </div>
  </div>
  <%= f.input :show_on_artist_page, label: "Show on artist page (the main artist page--if not, these artists will only be in the \"all artists\" section)" %><br/>
  <br/><%= f.button :submit %>
<% end %>
