<h1><%= website.brand.name %> Custom Shop</h1>

<p>Welcome authorized <%= website.brand.name %> dealers and distributors.
Select from the products below to begin your custom shop price request.
<em>If you are not an authorized dealer or distributor,
  <%= link_to where_to_find_path do %>locate one here<% end %>.</em></p>

<% @product_families.sort_by(&:name).each do |product_family| %>

  <h3><%= product_family.name %></h3>

  <ul class="large-block-grid-5 medium-block-grid-3 small-block-grid-2">
    <%= custom_shop_items_for(product_family) %>
  </ul>

<% end %>

