<%= form_for([:admin, @warranty_registration]) do |f| %>
  <% if @warranty_registration.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@warranty_registration.errors.size, "error") %> prohibited this warranty_registration from being saved:</h2>

      <ul>
      <% @warranty_registration.errors.each do |error| %>
        <li><%= error.attribute %>: <%= error.message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :middle_initial %>
    <%= f.text_field :middle_initial %>
  </div>
  <div class="field">
    <%= f.label :company %>
    <%= f.text_field :company %>
  </div>
  <div class="field">
    <%= f.label :jobtitle %>
    <%= f.text_field :jobtitle %>
  </div>
  <div class="field">
    <%= f.label :country %>
    <%= f.text_field :country %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :subscribe %>
    <%= f.check_box :subscribe %>
  </div>
  <div class="field">
    <%= f.label :brand_id %>
    <%= f.collection_select :brand_id, Brand.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :product_id %>
    <%= f.collection_select :product_id, Product.order(Arel.sql("UPPER(name)")), :id, :name %>
  </div>
  <div class="field">
    <%= f.label :serial_number %>
    <%= f.text_field :serial_number %>
  </div>
  <div class="field">
    <%= f.label :registered_on %>
    <%= f.date_select :registered_on %>
  </div>
  <div class="field">
    <%= f.label :purchased_on %>
    <%= f.date_select :purchased_on %>
  </div>
  <div class="field">
    <%= f.label :purchased_from %>
    <%= f.text_field :purchased_from %>
  </div>
  <div class="field">
    <%= f.label :purchase_country %>
    <%= f.text_field :purchase_country %>
  </div>
  <div class="field">
    <%= f.label :purchase_price %>
    <%= f.text_field :purchase_price %>
  </div>
  <div class="field">
    <%= f.label :comments %>
    <%= f.text_area :comments %>
  </div>
  <div class="actions">
    <%= f.submit class: "button" %>
  </div>
<% end %>
