<p>
  <b>Title:</b>
  <%= @warranty_registration.title %>
</p>

<p>
  <b>First name:</b>
  <%= @warranty_registration.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @warranty_registration.last_name %>
</p>

<p>
  <b>Middle initial:</b>
  <%= @warranty_registration.middle_initial %>
</p>

<p>
  <b>Company:</b>
  <%= @warranty_registration.company %>
</p>

<p>
  <b>Jobtitle:</b>
  <%= @warranty_registration.jobtitle %>
</p>

<p>
  <b>Address1:</b>
  <%= @warranty_registration.address1 %>
</p>

<p>
  <b>City:</b>
  <%= @warranty_registration.city %>
</p>

<p>
  <b>State:</b>
  <%= @warranty_registration.state %>
</p>

<p>
  <b>Zip:</b>
  <%= @warranty_registration.zip %>
</p>

<p>
  <b>Country:</b>
  <%= @warranty_registration.country %>
</p>

<p>
  <b>Phone:</b>
  <%= @warranty_registration.phone %>
</p>

<p>
  <b>Fax:</b>
  <%= @warranty_registration.fax %>
</p>

<p>
  <b>Email:</b>
  <%= @warranty_registration.email %>
</p>

<p>
  <b>Subscribe:</b>
  <%= @warranty_registration.subscribe %>
</p>

<p>
  <b>Brand:</b>
  <%= @warranty_registration.brand_id %>
</p>

<p>
  <b>Product:</b>
  <%= @warranty_registration.product_id %>
</p>

<p>
  <b>Serial number:</b>
  <%= @warranty_registration.serial_number %>
</p>

<p>
  <b>Registered on:</b>
  <%= @warranty_registration.registered_on %>
</p>

<p>
  <b>Purchased on:</b>
  <%= @warranty_registration.purchased_on %>
</p>

<p>
  <b>Purchased from:</b>
  <%= @warranty_registration.purchased_from %>
</p>

<p>
  <b>Purchase country:</b>
  <%= @warranty_registration.purchase_country %>
</p>

<p>
  <b>Purchase price:</b>
  <%= @warranty_registration.purchase_price %>
</p>

<p>
  <b>Age:</b>
  <%= @warranty_registration.age %>
</p>

<p>
  <b>Marketing question1:</b>
  <%= @warranty_registration.marketing_question1 %>
</p>

<p>
  <b>Marketing question2:</b>
  <%= @warranty_registration.marketing_question2 %>
</p>

<p>
  <b>Marketing question3:</b>
  <%= @warranty_registration.marketing_question3 %>
</p>

<p>
  <b>Marketing question4:</b>
  <%= @warranty_registration.marketing_question4 %>
</p>

<p>
  <b>Marketing question5:</b>
  <%= @warranty_registration.marketing_question5 %>
</p>

<p>
  <b>Marketing question6:</b>
  <%= @warranty_registration.marketing_question6 %>
</p>

<p>
  <b>Marketing question7:</b>
  <%= @warranty_registration.marketing_question7 %>
</p>

<p>
  <b>Comments:</b>
  <%= @warranty_registration.comments %>
</p>


<%= link_to 'Edit', edit_admin_warranty_registration_path(@warranty_registration, :locale => I18n.locale) %> |
<%= link_to 'Back', admin_warranty_registrations_path %>
