<h1>Registration for <%= @warranty_registration.first_name %> <%= @warranty_registration.last_name %></h1>

<p>
  <%= link_to 'Back', admin_warranty_registrations_path, class: "back button" %>
  <% if can? :update, @warranty_registration %>
  <%= link_to 'Edit', 
        edit_admin_warranty_registration_path(@warranty_registration),
        class: "edit button" %> 
  <% end %>
</p>

<table class="data">
  <tr>
    <td><b>Title:</b></td>
    <td><%= @warranty_registration.title %></td>
  </tr>
  <tr>
    <td><b>First name:</b></td>
    <td><%= @warranty_registration.first_name %></td>
  </tr>
  <tr>
    <td><b>Last name:</b></td>
    <td><%= @warranty_registration.last_name %></td>
  </tr>
  <tr>
    <td><b>Middle initial:</b></td>
    <td><%= @warranty_registration.middle_initial %></td>
  </tr>
  <tr>
    <td><b>Company:</b></td>
    <td><%= @warranty_registration.company %></td>
  </tr>
  <tr>
    <td><b>Jobtitle:</b></td>
    <td><%= @warranty_registration.jobtitle %></td>
  </tr>
  <tr>
    <td><b>Address:</b></td>
    <td><%= @warranty_registration.address1 %><br/>
      <%= @warranty_registration.city %>
      <%= @warranty_registration.state %>
      <%= @warranty_registration.zip %></td>
  </tr>
  <tr>
    <td><b>Country:</b></td>
    <td><%= @warranty_registration.country %></td>
  </tr>
  <tr>
    <td><b>Phone:</b></td>
    <td><%= @warranty_registration.phone %></td>
  </tr>
  <tr>
    <td><b>Fax:</b></td>
    <td><%= @warranty_registration.fax %></td>
  </tr>
  <tr>
    <td><b>Email:</b></td>
    <td><%= mail_to @warranty_registration.email, @warranty_registration.email %></td>
  </tr>
  <tr>
    <td><b>Subscribe:</b></td>
    <td><%= (@warranty_registration.subscribe?) ? "Yes" : "No" %></td>
  </tr>
  <tr>
    <td><b>Brand:</b></td>
    <td><%= @warranty_registration.brand.name %></td>
  </tr>
  <tr>
    <td><b>Product:</b></td>
    <td><%= link_to @warranty_registration.product.name, @warranty_registration.product %></td>
  </tr>
  <tr>
    <td><b>Serial number:</b></td>
    <td><%= @warranty_registration.serial_number %></td>
  </tr>
  <tr>
    <td><b>Registered on:</b></td>
    <td><%= @warranty_registration.registered_on %></td>
  </tr>
  <tr>
    <td><b>Purchased on:</b></td>
    <td><%=l @warranty_registration.purchased_on, format: :long %></td>
  </tr>
  <tr>
    <td><b>Purchased from:</b></td>
    <td><%= @warranty_registration.purchased_from %></td>
  </tr>
  <tr>
    <td><b>Purchase country:</b></td>
    <td><%= @warranty_registration.purchase_country %></td>
  </tr>
  <tr>
    <td><b>Purchase price:</b></td>
    <td><%= @warranty_registration.purchase_price %></td>
  </tr>
</table>

<p>
  <b>Comments:</b>
  <%= @warranty_registration.comments %>
</p>


