<h1>Registration for <%= @warranty_registration.first_name %> <%= @warranty_registration.last_name %></h1>

<ul class="button-group round">
  <li><%= link_to admin_warranty_registrations_path, class: "small secondary button" do %>
    <%= fa_icon "angle-double-left" %>
  <% end %>
  </li>
  <% if can? :update, @warranty_registration %>
    <li><%= link_to edit_admin_warranty_registration_path(@warranty_registration), class: "small secondary button" do %>
        <%= fa_icon "edit" %>
        Edit
      <% end %>
    </li>
  <% end %>
  <li><%= link_to resend_confirmation_admin_warranty_registration_path(@warranty_registration), method: :put, class: "small button" do %>
        <%= fa_icon "envelope" %>
        Re-send confrmation email
      <% end %>
  </li>
</ul>

<table class="data">
  <tr>
    <td><b>Title:</b></td>
    <td><%= @warranty_registration.title %></td>
  </tr>
  <tr>
    <td><b>First name:</b></td>
    <td><%= @warranty_registration.first_name %></td>
  </tr>
  <tr>
    <td><b>Last name:</b></td>
    <td><%= @warranty_registration.last_name %></td>
  </tr>
  <tr>
    <td><b>Middle initial:</b></td>
    <td><%= @warranty_registration.middle_initial %></td>
  </tr>
  <tr>
    <td><b>Company:</b></td>
    <td><%= @warranty_registration.company %></td>
  </tr>
  <tr>
    <td><b>Jobtitle:</b></td>
    <td><%= @warranty_registration.jobtitle %></td>
  </tr>
  <tr>
    <td><b>Country:</b></td>
    <td><%= @warranty_registration.country %></td>
  </tr>
  <tr>
    <td><b>Email:</b></td>
    <td><%= mail_to @warranty_registration.email, @warranty_registration.email %></td>
  </tr>
  <tr>
    <td><b>Subscribe:</b></td>
    <td><%= (@warranty_registration.subscribe?) ? "Yes" : "No" %></td>
  </tr>
  <tr>
    <td><b>Brand:</b></td>
    <td><%= @warranty_registration.brand.name %></td>
  </tr>
  <tr>
    <td><b>Product:</b></td>
    <td><%= link_to @warranty_registration.product.name, @warranty_registration.product %></td>
  </tr>
  <tr>
    <td><b>Serial number:</b></td>
    <td><%= @warranty_registration.serial_number %></td>
  </tr>
  <tr>
    <td><b>Registered on:</b></td>
    <td><%= @warranty_registration.registered_on %></td>
  </tr>
  <tr>
    <td><b>Purchased on:</b></td>
    <td><%=l @warranty_registration.purchased_on, format: :long %></td>
  </tr>
  <tr>
    <td><b>Purchased from:</b></td>
    <td><%= @warranty_registration.purchased_from %></td>
  </tr>
  <tr>
    <td><b>Purchase country:</b></td>
    <td><%= @warranty_registration.purchase_country %></td>
  </tr>
  <tr>
    <td><b>Purchase price:</b></td>
    <td><%= @warranty_registration.purchase_price %></td>
  </tr>
</table>

<p>
  <b>Comments:</b>
  <%= @warranty_registration.comments %>
</p>


