<%= form_for([:admin, @rso_panel], :html => {:multipart => true}) do |f| %>
  <% if @rso_panel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rso_panel.errors.count, "error") %> prohibited this panel from being saved:</h2>

      <ul>
      <% @rso_panel.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <script type="text/javascript" charset="utf-8">
  	function hidePanelFields(selector) {
		selected = selector.options[selector.selectedIndex].value
		if (selected == "main") 
			$('#left_panel_fields').hide();
		else
			$('#main_panel_fields').hide();
		$('#' + selected + "_panel_fields").show();
	}
  </script>
  <div class="field">
    <%= f.label :name, "Position" %>
    <%= f.select :name, ["main", "left"], {}, :onchange => "hidePanelFields(this);" %>
  </div>
  <div id="main_panel_fields">
  <div class="field">
    <%= f.label :rso_panel_image, "Image" %>
	<div class="hint">
		Upload an image to appear in the panel OR use the content box below.
		(Main panel ideal size is: 680x370 pixels.)
	</div>
    <%= f.file_field :rso_panel_image %>
	<% unless @rso_panel.rso_panel_image_file_name.blank? %>
	<div><%= image_tag @rso_panel.rso_panel_image.url %></div>
	<%= f.check_box :delete_image %> <%= f.label :delete_image %>
	<% end %>
  </div>
  <div class="field">
	<%= f.label :url, "Link" %><br/>
	<%= f.text_field :url %>
	<div class="hint">Only applicable with an image above.</div>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content, :class => "mceEditor" %>
  </div>
  </div>
  <div id="left_panel_fields" style="display:none">
	<i>Left panel entries can be added AFTER creating the left panel...</i>
  </div>	
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
