<h1>RSO <%= ucfirst(@rso_panel.name) %> Panel</h1>

<div class="button_container">
	<%= link_to 'Back', admin_rso_panels_path, class: "back button" %>
	<% unless @rso_panel.name == "left" %>
	<%= link_to 'Edit', edit_admin_rso_panel_path(@rso_panel), class: "edit button" %> 
    <%= link_to 'Delete', [:admin, @rso_panel], confirm: 'Are you sure?', method: :delete, class: "delete button" %>
	<% end %>
</div>

<% if @rso_panel.name == "left" %>

<h2>Add an entry to this panel:</h2>
<%= render 'admin/rso_navigations/form' %>

<div class="group">
	<h2>Current panel items:</h2>
	<div class="hint">The second item below appears on the RSO homepage.</div>
	<ul id="rso_navigations" class="sortable_list">
		<% @rso_panel.rso_navigations.each do |rso_navigation| %>
		<li id="rso_navigation_<%= rso_navigation.id %>">
			<span class="handle"><%= image_tag("icons/drag_handle.gif") %></span>
			<%= link_to rso_navigation.name, edit_admin_rso_navigation_path(rso_navigation) %>
			<%#= link_to image_tag("icons/external_link_icon.png"), rso_navigation.url, target: "_blank" %>
			<%= link_to image_tag("icons/trash.gif"), [:admin, rso_navigation], confirm: "Are you sure?", method: :delete %>
		</li>
		<% end %>
	</ul>
</div>

<%#= sortable_element "rso_navigations",
        # complete: visual_effect(:highlight, "rso_navigations"),
        url: update_order_admin_rso_navigations_path %>

<% elsif @rso_panel.rso_panel_image_file_name.blank? %>
	<%= raw @rso_panel.content %>
<% else %>
  <%= image_tag @rso_panel.rso_panel_image.url(@rso_panel.name) %>
  <div>
	Links to: <%= @rso_panel.url %>
  </div>
<% end %>

