<%= simple_form_for([:admin, @registered_download], html: {multipart: true}) do |f| %>

    <%= f.input :name %>
    <%= f.input :url, label: "Landing Page URL", hint: "(just the path for the landing page--no domain name, etc.)" %>
    <%= f.input :valid_code, hint: "(from the postcard--optional)" %>
  	<%= f.input :products, hint: "Comma separated list of products to show in a drop-down on the registration form" %>
	  <%= f.input :require_serial_number, label: "Require a product serial number" %>
  	<%= f.input :require_employee_number %>
  	<%= f.input :require_store_number %>
  	<%= f.input :require_manager_name, label: "Require manager's name" %>
	  <%= f.input :send_coupon_code, label: "Instead of sending a download link, send a coupon code. (If so, provide coupon codes below.)" %>
    <br/>
	  <%= f.input :coupon_codes, hint: "(paste a comma-separated list of coupon codes)" %>
    <%= f.input :per_download_limit, label: "Per person download limit", hint: "(the number of times a person can download the file--one is probably too small)" %>
    <%= f.input :protected_software, label: "The file to be downloaded" %>

	<div class="small" id="protected_software_details">
	<% if f.object.protected_software_file_name.blank? %>
		currently missing. registrants will NOT receive a download code.
	<% else %>
		currently: <%= f.object.protected_software_file_name %> uploaded <%=l f.object.protected_software_updated_at, format: :long %>
		<%= link_to "delete", [:admin, @registered_download], method: :put, remote: true %>
	<% end %>
	</div>

  <%= f.input :html_template, 
    label: "HTML template for all pages associated with this download. All the HTML you want on every page. Be sure you have ~~content~~ somewhere.", 
    input_html: { class: "mceEditorFP" } %>

  <br/><%= f.input :intro_page_content, 
    label: "Intro page content. This content appears ABOVE the registration form on the landing page.",
    input_html: { class: "mceEditor" } %>

  <br/><%= f.input :confirmation_page_content, 
    label: "Confirmation page content. This appears on the page after the user registers.",
    input_html: { class: "mceEditor" } %>    

  <br/><%= f.input :from_email, label: "Email address from which to send notifications" %>
  <%= f.input :subject, label: "Subject of the notification email" %>

  <%= f.input :email_template, 
    label: "Email template. All images, links, etc. need to have the full path (http://...). Make sure you have ~~download_link~~ somewhere.",
    input_html: { class: "mceEditorFP" } %>

  <br/><%= f.input :download_page_content,
    label: "Download page content. Appears on the page the user sees after clicking the link in the email.",
    input_html: { class: "mceEditor" } %>

  <br/><%= f.input :cc, label: "Send a copy of registrations to this email address" %>

  <br/><%= f.button :submit %>
<% end %>
