<h1>Registered Downloads</h1>
<% if can? :create, RegisteredDownload %>
  <p>Note: email templates for the registered downloads now must be included in
  the code repository for the sites in app/views/registered_downloads_mailer/</p>
<ul class="button-group round">
	<li><%= link_to 'New Registered Download', new_admin_registered_download_path, class: "small success button" %></li>
</ul>
<% end %>

<table class="data">
  <tr>
    <th>Name</th>
    <th>URL</th>
    <th>Valid code</th>
    <th>Download count</th>
  </tr>

<% @registered_downloads.each do |registered_download| %>
  <tr style="background: <%= cycle 'white', 'none' %>">
    <td><%= link_to registered_download.name, [:admin, registered_download] %></td>
    <td><%= link_to "http://#{website.default_website.url}/#{registered_download.url}", "http://#{website.url}/#{registered_download.url}" %></td>
    <td><%= registered_download.valid_code %></td>
    <td><%=number_with_delimiter registered_download.download_count %></td>
  </tr>
<% end %>
</table>
