<h1 class="page_title"><%= ucfirst(t("downloads")) %></h1>

<dl class="sub-nav">
	<dt><%= t('titles.support') %> options:</dt>
	<dd><%= link_to t('titles.contact_us').downcase, support_path %></dd>
  <% if website.has_software? && (website.current_softwares.length > 0 || website.forced_current_softwares.length > 0) %>
	<dd><%= link_to t('software_downloads'), software_index_path %></dd>
	<% end %>
  <% if website.has_product_registrations? %>
    <dd><%= link_to t('warranty_registration'), warranty_registration_path, target: "_blank" %></dd>
  <% end %>
	<dd class="active"><%= link_to t('downloads'), support_downloads_path %></dd>
</dl>

<div class="row download_nav">
  <div class="medium-3 small-12 columns">
      <ul class="side-nav">
      <li <% if params[:view_by] == "products" %>class="active"<% end %>>
        <%= link_to "View by Product", selected_downloads_by_product_path, class: "c2spinner", remote: true %>
      </li>
      <li <% if params[:view_by] == "download_types" %>class="active"<% end %>>
        <%= link_to "View by Download Type", selected_downloads_by_type_path, class: "c2spinner", remote: true %>
      </li>
        <!--
        <li><%= link_to "View by Language", view_by: "languages" %></li>
        -->
      </ul>

  </div>
  <div class="medium-4 large-3 small-12 columns middle" id="column2" data-loading="<%= image_path('loading.gif') %>">
    <% if @products %>
      <%= render_partial "downloads_product_list" %>
    <% elsif @download_types %>
      <%= render_partial "downloads_type_list" %>
    <% elsif @languages %>
      <% @languages.each do |language| %>
        <ul>
          <li><%= link_to language[:name], { view_by: "languages", selected_object: language[:id] } %></li>
        </ul>
      <% end %>
    <% end %>
  </div>
  <div class="medium-5 large-6 small-12 columns downloads" id="column3">
    <% if @product %>
      <%= render_partial "support/downloads_by_product" %>
    <% end %>

    <% if @download_type %>
      <%= render_partial "support/downloads_by_type" %>
    <% end %>

    <% if @language %>
      <ul>
        <li>downloads for language appear</li>
      </ul>
    <% end %>

  </div>
</div>

<div class="hide-for-small">
 <p class="hint">
  Note: some browsers hide scrollbars until you begin scrolling.
  If you don't see scrollbars on these panels, position your mouse
  over a panel and scroll with your mouse wheel. Or use two fingers
  on most touchpads and touchscreens.
  </p>
</div>

<br/>
<div class="row">
  <div class="small-12 columns">
    <h3>Recent Uploads</h3>
    <table style="width: 100%">
      <thead>
        <tr>
          <td>Filename</td>
          <td>Version</td>
          <td>Language</td>
          <td>Size</td>
          <td>Uploaded</td>
        </tr>
      </thead>
      <tbody>
        <%= cache ["recent-uploads", website, I18n.locale, Date.today] do %>
          <% website.brand.site_elements.where(show_on_public_site: true).order("created_at DESC").limit(40).group_by(&:resource_type).each do |resource_type, site_elements| %>
            <%= downloads_header_row(resource_type, site_elements, columns: 5) %>
            <% site_elements.each do |site_element| %>
              <%= render 'shared/download_table_row', item: site_element, skip_admin_functions: true %>
            <% end %>
          <% end %>
        <% end %>
      </tbody>
    </table>

  </div>
</div>
