<% set_meta_tags title: "ePedal Labels",
				 reverse: true %>

<%= render_partial 'digitech/products/istomp_style' %>

<h1>Get iStomp Labels for Your ePedals</h1>

<p>With the library of epedals growing, there's a good chance that new epedals
	have been released after you purchased your iStomp. Complete the form
	below to request iStomp labels for epedals you've purchased.</p>

<%= simple_form_for @label_sheet_order, html: {class: "horizontal callout"} do |f| %>
	<%= f.error_messages :header_message => "Oops!", :message => "Please check the required fields:" %>
	<%#= f.association :label_sheets, label: "Select the sheets you need:", as: :check_boxes, label_method: 'label_names' %>
	<div class="input check_boxes optional">
		<label class="check_boxes optional control-label">Labels come in sheets of six. Select the sheets you need:</label>
		<% LabelSheet.all.each do |ls| %>
			<label class="checkbox">
				<table class="selection">
					<tr>
						<td class="label-box"><%= render_partial "shared/label_sheet", label_sheet: ls %></td>
						<td class="label-description">
				<input class="check_boxes optional" id="label_sheet_order_label_sheet_ids_<%= ls.id %>" name="label_sheet_order[label_sheet_ids][]" type="checkbox" value="<%= ls.id %>" <%= "CHECKED" if @label_sheet_order.label_sheets.include?(ls) %>/>
							Sheet <%= ls.name %>
							<div class="hint"><%= ls.label_names %></div>
						</td>
					</tr>
				</table>
			</label>
		<% end %>
	</div>

	<div class="form-fields">
		<%= f.input :name %>
		<%= f.input :email %>
		<%= f.input :address %>
		<%= f.input :city %>
		<%= f.input :state %>
		<%= f.input :postal_code %>
		<%= f.input :country %>
		<%= f.input :subscribe, label: "Notify me when new epedals and labels are available, and notify me with special offers from #{website.brand.name}." %>
	</div>

	<div class="submit">
		<%= f.button :submit, "Submit Request" %>
	</div>
<% end %>

<section id="product_bottom_content">
	<%= render_partial "products/stomp_shop_callout", position: :right, istomp: @istomp %>
	<%= render_partial "products/istomp_callout", position: :left %>
	<div class="clear"></div>
</section>

