<%= f.fields_for :users_products do |builder| %>
<div class="web-form-section" >
<div class="row">
	<div class="small-12 large-6 columns">
		
		<div>
			<label>Product <small class="color-accent">(required field)</small></label>
			<%= builder.collection_select :product_id, 
			Product.all_for_website_registration(), 
			:id, :name, prompt: true, required: '' %>
			
    		<small class="error">Product is required.</small>
		</div>
		<div>
			<label>Serial Number <small class="color-accent">(required field)</small></label>
			<%= builder.text_field :serial, required: '' %>
			
    		<small class="error">Serial Number is required.</small>
		</div>
		<div>&nbsp;</div>
		<div>
			<label>What is your main application for the product?</label>
			<%= builder.collection_select :application_id, 
			Application.all_for_website_registration(), 
			:id, :name, prompt: true %>
		</div>
		<div>
			<label>What influenced you on your purchase?</label>
			<%= builder.text_field :influence %>
		</div>
		<div>
			<label>How did you hear about the product?</label>
			<%= builder.text_field :hear_from %>
		</div>
		
	</div>	
	<div class="small-12 large-6 columns">
		<div>
			<label>Purchase Date <small class="color-accent">(required field)</small></label>
			<%= builder.text_field :purchased_date, required: ''  %>
			
    		<small class="error">Purchase date is required.</small>
		</div>
		<div>
			<label>Who did you buy the product from?</label>
			<%= builder.text_field :purchased_from %>
		</div>
		<div>
			<label>How much did you pay?</label>
			<%= builder.text_field :purchased_amount %>
		</div>
	</div>
</div>
<div>
	<label>Is there anything else you would like to tell us?</label>
	<%= builder.text_area :comment, size: "40x5" %>
<br />
</div>
</div>
<% end %>	


