<%= f.fields_for :users_enquiries do |builder| %>
<div class="web-form-section">
	<div class="row">
		<div class="small-6 columns">
			<%= cache ["registerable_enuiries", website.brand, I18n.locale] do %>
			<label>Enquiry Type <small class="color-accent bold">(required field)</small></label>
			<%= builder.collection_select :enquiry_id, 
			Enquiry.all_for_website(), 
			:id, :name, prompt: true, required: '' %>
			
			<small class="error">Enquiry type is required.</small>
			<% end %>
		</div>
		<div class="small-6 columns">
			<%= cache ["registerable_products", website.brand, I18n.locale] do %>
			<%= builder.label :product_id %>
			<%= builder.collection_select :product_id, 
			Product.all_for_website_registration(), 
			:id, :name, prompt: true %>
			<% end %>
		</div>
	</div>
	<div width="60%">
		<label>Subject <small class="color-accent bold">(required field)</small></label>
		<%= builder.text_field :subject, required: '', pattern: "[a-zA-Z]+" %>
		
		<small class="error">Subject is required.</small>
	</div>
	<div width="100%">
		<label>Message <small class="color-accent bold">(required field)</small></label>
		<%= builder.text_area :message, size: "40x5" %>
		
		<small class="error">Subject is required.</small>
	</div>
</div>
<% end %>