<p>Just posted on the marketing queue for the <%= @marketing_comment.project_or_task.brand.name %> 
	<% if @marketing_comment.project_or_task.is_a?(MarketingProject) %>
	project: <%= link_to @marketing_comment.project_or_task.name, marketing_queue_marketing_project_url(@marketing_comment.project_or_task, host: HarmanSignalProcessingWebsite::Application.config.queue_url) %>:
	<% else %>
	task: <%= link_to @marketing_comment.project_or_task.name, marketing_queue_marketing_task_url(@marketing_comment.project_or_task, host: HarmanSignalProcessingWebsite::Application.config.queue_url) %>:
	<% end %>
</p>

<p>From: <%= @marketing_comment.user.name %></p>

<%=raw textilize(@marketing_comment.message) %>
