<p>Hi,</p>

<p>A new task has been entered and needs to be assigned:</p>

<% if @marketing_task.marketing_project %>
	<p><%= link_to @marketing_task.name, marketing_queue_marketing_task_url(@marketing_task, host: HarmanSignalProcessingWebsite::Application.config.queue_url) %><br/>
	<i>due: <%=I18n.l @marketing_task.due_on, format: :long %></i></p>

	<p>This is part of the <%= @marketing_task.marketing_project.brand.name %> project: 
		<%= link_to @marketing_task.marketing_project.name, marketing_queue_marketing_project_url(@marketing_task.marketing_project, host: HarmanSignalProcessingWebsite::Application.config.queue_url) %>.</p>
<% else %>
	<p><%= link_to @marketing_task.name, marketing_queue_marketing_task_url(@marketing_task, host: HarmanSignalProcessingWebsite::Application.config.queue_url) %><br/>
	<i>due: <%=I18n.l @marketing_task.due_on, format: :long %></i></p>

	<p>Task is for <%= @marketing_task.brand.name %>.</p>
<% end %>

<p>Don't forget to enter the man-hours needed to complete the task.</p>
