<% content_for :extra_header_code do %>
  <%= javascript_include_tag "product_selector" %>
<% end %>

<% if website.product_selector_banner %>
  <div class="category-banner">
    <%= image_tag website.product_selector_banner, alt: t("product_selector") %>
  </div>
<% end %>

<div id="intro">
  <% if website.product_selector_intro %>
    <%=raw website.product_selector_intro %>
  <% else %>
    <div class="text-center">
      <h1>Discover the Perfect Products for Your Project</h1>
      <p><em>Choose a category below to begin</em></p>
    </div>
  <% end %>
  <p>&nbsp;</p>
</div>

<div id="ps-top-nav">
	<div class="top-level-families">
		<ul class="small-block-grid-<%= (top_level_families.length / 2).to_i %>  medium-block-grid-<%= top_level_families.length %>">
			<% top_level_families.each do |product_family| %>
				<%= render 'product_selector/product_families/product_family', product_family: product_family %>
			<% end %>
		</ul>
	</div>
</div>

<div id="ps-sub-nav">
  <div id="subgroups"></div>
</div>

<div class="spinner" style="display:none;">
  <div style="text-align: center">
    <%= image_tag "loading.gif", alt: "loading..." %>
  </div>
</div>

<div class="row">
  <div class="small-4 medium-3 large-2 columns" id="options-container">
  </div>

  <div class="small-8 medium-9 columns" id="results-container">
    <%= form_tag compare_products_path, method: :post, id: "compare_form" %>
    </form>
  </div>
</div>

<ul id="hidden-products" style="display:none;"></ul>
