<%
	@meta = Page.find_by lcl_name: 'products'
	meta title: @meta.title,
	description: strip_html(@meta.description),
	keywords: @meta.keywords.gsub(" ", ",")
%>
<div id="header_bc">
	<div id="header_spacer"></div>
	<div id="header_bc_image" >
	<%= image_tag('top_border.gif') %>
	</div>
	<div id="bc">
	<nav class="breadcrumbs" role="menubar" aria-label="breadcrumbs">
		<li class="unavailable"  aria-disabled="true">>></li>
	    <li role="menuitem"><a href="/">Home</a></li>
	    <li role="menuitem" class="current"><a href="#"><%= @meta.title %></a></li>
	</nav>
	</div>
</div>

<div class="row fullWidth">
	<div class="small-3 large-2 columns" align="right" >
		<h1><%= @meta.title %></h1>
	</div>
	<div class="small-9 large-10 columns" >
		&nbsp;
	</div>
</div>

<div class="row fullWidth">
	<div class="small-3 large-2 columns product_cat_bar" align="right" >
		&nbsp;
	</div>
	<div class="small-9 large-10 columns" >
				<div data-magellan-expedition="fixed">
				  <dl class="sub-nav">
				  	<% ProductCategory.where(live: 1).each do |cat| %>
				     <dd data-magellan-arrival="<%= cat.name.gsub(" ", "-") %>"><a href="#<%= cat.name.gsub(" ", "-") %>"><%= cat.name.html_safe %></a></dd>
					<% end %>
					<dd data-magellan-arrival="Legacy-Products"><a href="#Legacy-Products">Legacy Products</a></dd>
				  </dl>
				</div>
	</div>
</div>

<%= render :partial => "products/product_partials/product_cat_title", :locals => {:header_title => "Mixing Consoles"} %>
<div class="row fullWidth">
	<div class="small-3 large-2 columns" align="right" >&nbsp;</div>
	<div class="small-9 large-10 columns product_cat_bar" >
	<% ProductSubCategory.all_with_prod_cat(1, 1).each do |sub| %>
		<div class="row product_cat_bg">
			<div class="small-3 large-2 columns" align="right" >
				<h4 class="pad20"><a href="<%= "/products/mixing-consoles/#{urlise(sub.name)}" %>"><%= sub.name.html_safe %></a></h4>
			</div>
			<div class="small-9 large-10 columns" >
				<ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-6" >
					<% Product.all_with_prod_sub_cat_id(sub.id, 1).each do |prod| %>
			  		<%= render :partial => "products/product_partials/product_box", :locals => {:prod => prod, :style => "thumb"} %>
			  	  	<%  end %>
				</ul>
			</div>
		</div>
	<% end %>
	</div>
</div>

<%= render :partial => "products/product_partials/product_cat_title", :locals => {:header_title => "Stageboxes"} %>
<div class="row fullWidth">
	<div class="small-3 large-2 columns" align="right" >&nbsp;</div>
	<div class="small-9 large-10 columns product_cat_bar" >
		<div class="row product_cat_bg">
			<div class="small-3 large-2 columns" align="right" >
				&nbsp;
			</div>
			<div class="small-9 large-10 columns" >
		<ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-6" >
			<% Product.all_with_prod_cat_id(2, 1).each do |prod| %>
      			<%= render :partial => "products/product_partials/product_box", :locals => {:prod => prod, :style => "thumb"} %>
			<% end %>
		</ul>
			</div>
		</div>
	</div>
</div>

<%= render :partial => "products/product_partials/product_cat_title", :locals => {:header_title => "Option Cards"} %>
<div class="row fullWidth">
	<div class="small-3 large-2 columns" align="right" >&nbsp;</div>
	<div class="small-9 large-10 columns product_cat_bar" >
		<div class="row product_cat_bg">
			<div class="small-3 large-2 columns" align="right" >
				&nbsp;
			</div>
			<div class="small-9 large-10 columns" >
		<ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-6" >
			<% Product.all_with_prod_cat_id(3, 1).each do |prod| %>
      			<%= render :partial => "products/product_partials/product_box", :locals => {:prod => prod, :style => "thumb"} %>
			<% end %>
		</ul>
			</div>
		</div>		
	</div>
</div>

<%= render :partial => "products/product_partials/product_cat_title", :locals => {:header_title => "Recording Interfaces"} %>
<div class="row fullWidth">
	<div class="small-3 large-2 columns" align="right" >&nbsp;</div>
	<div class="small-9 large-10 columns product_cat_bar" >
		<div class="row product_cat_bg">
			<div class="small-3 large-2 columns" align="right" >
				<h4 class="pad20">Signature MTK Series</h4>
			</div>
			<div class="small-9 large-10 columns" >
				<ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-6" >
					<% Product.all_with_prod_sub_cat_id(5, 1).each do |prod| %>
			  		<%= render :partial => "products/product_partials/product_box", :locals => {:prod => prod, :style => "thumb"} %>
			  	  	<%  end %>
				</ul>
			</div>
		</div>
	</div>
</div>

<%= render :partial => "products/product_partials/product_cat_title", :locals => {:header_title => "Plugins"} %>
<div class="row fullWidth">
	<div class="small-3 large-2 columns" align="right" >&nbsp;</div>
	<div class="small-9 large-10 columns product_cat_bar" >

		<div class="row product_cat_bg">
			<div class="small-3 large-2 columns" align="right" >
				&nbsp;
			</div>
			<div class="small-9 large-10 columns" >
			<ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-6" >
				<% Product.all_with_prod_cat_id(5, 1).each do |prod| %>
	      			<%= render :partial => "products/product_partials/product_box", :locals => {:prod => prod, :style => "thumb"} %>
				<% end %>
			</ul>
			</div>
		</div>
	</div>
</div>

<%= render :partial => "products/product_partials/product_cat_title", :locals => {:header_title => "Mobile Apps"} %>
<div class="row fullWidth">
	<div class="small-3 large-2 columns" align="right" >&nbsp;</div>
	<div class="small-9 large-10 columns product_cat_bar" >
		<div class="row product_cat_bg">
			<div class="small-3 large-2 columns" align="right" >
				&nbsp;
			</div>
			<div class="small-9 large-10 columns" >
			<ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-6" >
				<% Product.all_with_prod_cat_id(6, 1).each do |prod| %>
	      			<%= render :partial => "products/product_partials/product_box", :locals => {:prod => prod, :style => "thumb"} %>
				<% end %>
			</ul>
			</div>
		</div>
	</div>
</div>

<%= render :partial => "products/product_partials/product_cat_title", :locals => {:header_title => "Legacy Products"} %>

<br /><br /><br /><br />
<script>
$(document).foundation({
"magellan-expedition": {
  active_class: 'active', // specify the class used for active sections
  threshold: 0, // how many pixels until the magellan bar sticks, 0 = auto
  destination_threshold: 50, // pixels from the top of destination for it to be considered active
  throttle_delay: 100, // calculation throttling to increase framerate
  fixed_top: 50, // top distance in pixels assigend to the fixed element on scroll
  offset_by_height: false // whether to offset the destination by the expedition height. Usually you want this to be true, unless your expedition is on the side.
}
});
</script>


