<div class="artist-panel callout panel <%= artist.artist_tier.name.downcase %>tier" data-equalizer-watch>
	<a name="artist_<%= artist.id %>"></a>

  <% unless artist.artist_photo_file_name.blank? %>
    <%= (artist.featured? || artist.artist_tier.show_on_artist_page?) ?
      link_to(image_tag(artist.artist_photo.url(:thumb_square)), artist) :
      image_tag(artist.artist_photo.url(:thumb_square))  %>
  <% end %>

  <h4><%= (artist.featured? || artist.artist_tier.show_on_artist_page?) ? link_to(artist.name, artist) : artist.name %></h4>
  <p><%= truncate(strip_html(artist.bio), length: 150) %></p>

  <% if artist.featured? || artist.artist_tier.show_on_artist_page? %>
    <%= link_to t('more'), artist, class: 'tiny secondary button' %>
  <% elsif !artist.website.blank? %>
    <%= link_to t('more'), artist.website, target: "_blank", class: 'tiny secondary button' %>
  <% end %>

</div>
