<% set_meta_tags title: t('titles.artists'),
	description: t('meta.description.featured_artists', brand: website.brand_name),
	keywords: (@featured_artists).collect{|a| a.name}.join(", "),
	reverse: true,
	twitter: {
		card: "summary"
	},
	og: {
		image: "#{request.protocol}#{request.host_with_port}#{@featured_artists.first.artist_photo.url(:original)}",
		type: 'website',
		description: "Find out how artists use #{website.brand.name} products.",
		title: "Artists and #{website.brand.name} products"
	}
%>

<%= content_for :feature do %>
  <%= cache ["artist_slideshow", @featured_artists, website.brand, I18n.locale] do %>
		<% slides = @featured_artists %>
		<% if slides.size > 0 %>
			<%= orbit_slideshow(slides: slides, duration: 6000, navigation_arrows: true, transition: "fade") %>
		<% end %>
	<% end %>
<% end %>

<%= cache ["artist_index_content", website.brand, Time.now.hour, I18n.locale] do %>
  <% ArtistTier.for_artist_page.each do |artist_tier| %>
    <% if artist_tier.artists_for(website).size > 0 %>
      <div data-equalizer>
        <ul class="large-block-grid-3 medium-block-grid-2 small-block-grid-1">
          <% artist_tier.artists_for(website).shuffle[0,3].each do |artist| %>
            <li><%= render_partial "artist", artist: artist %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  <% end %>
<% end %>

<p class="text-right"><%= link_to "> all artists", all_artists_path, class: 'button' %></p>
