<% set_meta_tags title: t('titles.artists'),
	description: t('meta.description.featured_artists', brand: website.brand_name),
	keywords: (@featured_artists).collect{|a| a.name}.join(", "),
	reverse: true,
	og: {
		image: "#{request.protocol}#{request.host_with_port}#{@featured_artists.first.artist_photo.url(:original)}",
		type: 'website',
		description: "Find out how artists use #{website.brand.name} products.",
		title: "Artists and #{website.brand.name} products"
	}
%>

<%= cache ["artist_slideshow", @featured_artists, website.brand, I18n.locale] do %>
	<div id="featured_artist_box">
		<%= artist_slideshow(slides: @featured_artists, transition: 'toggle') %>
	</div>
<% end %>

<%= cache ["artist_index_content", website.brand, Time.now.hour, I18n.locale] do %>
	<% ArtistTier.for_artist_page.each do |artist_tier| %>
		<% if artist_tier.artists_for(website).size > 0 %>
			<% artist_tier.artists_for(website).shuffle[0,3].each do |artist| %>
			  	<%= render_partial "artist", artist: artist %>
			<% end %>
			<div class="clear"></div>
		<% end %>
	<% end %>
<% end %>

<h3 style="text-align: right"><%= link_to "> all artists", all_artists_path %></h3>
