
<footer>
  <div id="footer_top_space" >
  </div>
	<div>
      <div class="small-12 medium-3 large-3 columns">
    	<div align="center" class="footer-links">
         <h4>SOUNDCRAFT BY HARMAN</h4>
          <% if website.email_signup_url %>
            <%= link_to t('news_signup').titleize, website.email_signup_url %><br/>
          <% end %>
         <%= link_to "About Soundcraft", "/about-soundcraft" %><br/>
         <%= link_to "Imprint", "/soundcraft-imprint" %><br/>
         <%= link_to "Legal", "/soundcraft-legal" %><br/>
					<%= link_to t('privacy_policy').titleize, "https://www.harman.com/privacy-policy", target: "_blank" %> <br/>
					<%= link_to t('terms_of_use').titleize, "https://www.harman.com/terms-use", target: "_blank" %> <br/>
				 <%= link_to "Sitemap", locale_sitemap_path(format: 'html') %> <br/>
         <%= link_to "Careers", "https://jobs.harman.com", target: "_blank" %><br/>
         <%= link_to "ISO 9001:2008 Certification", "https://adn.harmanpro.com/site_elements/resources/1490_1455561610/soundcraft_ISO_cert_original.pdf", target: "_blank" %>
        </div>
	    </div>
	    <div class="small-12 medium-3 large-3 columns">
	    	<div align="center" class="footer-links">
	        <h4>SUPPORT</h4>
          <%= link_to t('tech_support'), support_path %><br/>
          <%= link_to t('where_to_buy').titleize, where_to_find_path %><br/>
          <%= link_to t('product_registration').titleize, warranty_registration_path %><br/>
          <% if !!(website.forum_link) %>
            <%= link_to t("forum").titleize, website.forum_link %><br/>
          <% end %>
          <%= link_to t('warranty').titleize, warranty_path %><br/>
          <%#= link_to "SDA", "/sda" %>
        </div>
	    </div>
	    <div class="small-12 medium-3 large-3 columns">
	    	<div align="center" class="footer-links">
	        <h4>MIXING WITH PROFESSIONALS</h4>
          <%= link_to t('videos').titleize, videos_path %>
        </div>
	    </div>
	    <div class="small-12 medium-3 large-3 columns">
	      <div align="center" class="footer-links">
	       <h4>MIX WITH US</h4>
	        <div><%= social_media_links('facebook', 'twitter', 'youtube', 'linkedin', 'instagram', gray: true) %></div>
	       </div>
	    </div>
    </div>
	<div  class="small-12 columns" >
	<%= hpro_footer %>
	</div>
	<div class="container row text-center">
		<div class="small-12 columns">
      <small>
				Copyright &copy; <%= Date.today.year %>
				<%= link_to(t('harman'), "https://www.harman.com/", target: "_blank") %>.
				<%= t('all_rights_reserved') %>
      </small>
		</div>
	</div>
  <p>&nbsp;</p>
</footer>


