<%= cache ["nav_items", website.brand, I18n.locale] do %>
	<li class="has-dropdown"><%= link_to t('products').titleize, product_families_path %>
		<ul class="dropdown">
		  <li><%= link_to t('new_products'), new_products_path, target: "_blank" %></li>
			<% ProductFamily.parents_with_current_products(website, I18n.locale).each do |product_family| %>
				<%= product_family_nav_links(product_family) %>
			<% end %>
			<li><%= link_to t('legacy_products').titleize, discontinued_products_path %></li>
      <% if ( website.has_dealers? || website.has_distributors? || website.has_online_retailers? ) && I18n.locale.to_s.match?(/us/i) %>
        <li><%= link_to t("promotions"), promotions_path %></li>
      <% end %>
		</ul>
	</li>

  <li class="divider hide-for-medium"></li>
  <li class="has-dropdown"><%= link_to t('nav.media').titleize, {} %>
    <ul class="dropdown">
      <li><%= link_to t('news').titleize, news_index_path %></li>
      <li><%= link_to t('nav.videos').titleize, videos_path %></li>
    </ul>
  </li>

	<% if website.has_dealers? || website.has_distributors? || website.has_online_retailers? %>
    <li class="divider hide-for-medium"></li>
    <li><%= link_to t('where_to_buy').titleize, where_to_buy_path %></li>
	<% end %>

  <li class="divider hide-for-medium"></li>
  <li class="has-dropdown"><%= link_to t('product_support').titleize, support_path %>
    <ul class="dropdown">
      <li><%= link_to t('contact_us').titleize, support_path %></li>
      <li><%= link_to t('software_downloads').titleize, software_index_path %></li>
      <li><%= link_to t('firmware_downloads').titleize, firmware_index_path %></li>
      <li><%= link_to t("nav.downloads"), "/#{I18n.locale}/support_downloads" %></li>
      <li><%= link_to t('warranty').titleize, warranty_path %></li>
      <% if website.has_product_registrations? %>
        <li><%= link_to t("warranty_registration").titleize, warranty_registration_path %></li>
      <% end %>
      <% if !!(website.forum_link) %>
        <li><%= link_to t("forum").titleize, website.forum_link %></li>
      <% end %>
    </ul>
  </li>

  <% if website.has_learning_sessions.present? && website.has_learning_sessions == 1 %>
    <li class="divider hide-for-medium"></li>
    <li><%= link_to t('learning_sessions').titleize, "https://pro.harman.com/learning-sessions", target: "_blank" %></li>
  <% end %>

<% end %>

