<%= cache ["footer", website.brand, I18n.locale, Rails.env, Date.today] do %>
<div id="footer">
	<div id="footer_info">
		<%= link_to "hardwire story", "/hardwire_story" %> &bull;
		<% if website.has_software? %>
		<%= link_to t('software_downloads').downcase, software_index_path %> &bull;
		<% end %>
		<%= link_to t('products'), product_families_path %> &bull;
		<% if website.has_reviews? %>
		<%= link_to t('product_reviews').downcase, product_reviews_path %> &bull;
		<% end %>
		<%= link_to t('news'), news_index_path %> &bull;
		<% if website.has_artists? %>
		<%= link_to t('artists'), artists_path %> &bull;
		<% end %>
		<% if website.has_dealers? || website.has_online_retailers? || website.has_distributors? %>
		<%= link_to t('where_to_buy'), where_to_buy_path %> &bull;
		<% end %>
		<%= link_to t('product_support'), support_path %> &bull;
		<%= link_to t('sitemap'), sitemap_path(format: 'xml') %>
	</div>
	<div id="footer_left">
		<%= image_tag "harman_tiny.png" %>
		&copy; <%= Date.today.year %> 
		<%= link_to(t('harman'), "http://www.harman.com/", target: "_blank") %>. 
		<%= t('all_rights_reserved') %>
	</div>
</div>
<% end %> 

<% if content_for?(:dealer_popup) %>
	<div id="blanket" style="display:none;"></div>
	<div id="dealer_popup_close" style="display:none;">
		<%= link_to(image_tag("close.png"), @product, class: "buy_it_now_popup", data: {windowname: 'dealer_popup'})%>
	</div>
	<div id="dealer_popup" style="display:none;">
		<%= yield :dealer_popup %>
		<p><%= link_to "close", @product, class: "buy_it_now_popup", data: {windowname: 'dealer_popup'} %></p>
	</div>
<% end %>
<div id="preload"><%= yield :preload %></div>
