<%= cache ["header", website, I18n.locale] do %>
<div id="Header">
	<div id="logo">
		<% if File.exists?(Rails.root.join("app", "assets", "images", website.folder, "logo.png")) %>
		<%= link_to(image_tag("#{website.folder}/logo.png", alt: Setting.site_name(website)), locale_root_path) %>
		<% else %>
		<h2><%= link_to website.brand_name, locale_root_path %></h2>
		<% end %>
	</div>
	<div id="topnav">
		<ul>
			<li><%= link_to t('home'), locale_root_path %></li>
			<li><%= link_to t('products'), product_families_path %></li>
			<!-- <li><%= link_to t('news'), news_index_path %></li>  -->
			<% if website.has_artists? %>
			<li><%= link_to t('artists'), artists_path %></li>
			<% end %>
			<% if website.has_dealers? || website.has_distributors? || website.has_online_retailers? %>
			<li><%= link_to t('where_to_buy'), where_to_buy_path %></li>
			<% end %>
			<li><%= link_to t('product_support'), support_path %></li>
			<li><%= link_to t('warranty_registration'), warranty_registration_path %></li>
			<li><%= link_to "Innovation", "/hardwire_innovation", class: "nodivider" %></li>
		</ul>
	</div>
	<%# search is only available in default language for now...%>
	<% if I18n.locale.to_s.match(/#{I18n.default_locale.to_s.split('-')[0]}/i) && website.value_for("enable_search") %>
	<div id="search_form">
		<%= form_tag search_path, method: :get %>
			<%= text_field_tag :query, t('search'), onclick: "if (this.value == '#{t('search')}') { this.value = '';} " %>
		</form>
	</div>
	<% end %>
	<div class="clear"></div>
</div>
<div id="wide_line">&nbsp;</div>	
<% end %>	
