<%= cache ["nav_items", website.brand, I18n.locale] do %>
	<li class="has-dropdown"><%= link_to t('products').titleize, product_families_path %>
		<ul class="dropdown">
      <% if website.has_product_selector? %>
        <li><%= link_to t("product_selector"), product_selector_path %></li>
      <% end %>
			<% ProductFamily.parents_with_current_products(website, I18n.locale).each do |product_family| %>
				<%= product_family_nav_links(product_family) %>
			<% end %>
			<li><%= link_to t('discontinued_products').titleize, discontinued_products_path %></li>
      <% if ( website.has_dealers? || website.has_distributors? || website.has_online_retailers? ) && I18n.locale.to_s.match?(/us/i) %>
        <li><%= link_to "Promotions", promotions_path %></li>
      <% end %>
		</ul>
	</li>

  <% if website.show_market_nav.to_i > 0 %>
    <li class="has-dropdown"><%= link_to t("nav.markets"), '#', class: "disabled" %>
      <ul class="dropdown">
        <% MarketSegment.all_parents(website).each do |market_segment| %>
          <li><%= link_to translate_content(market_segment, :name).titleize, market_segment %></li>
        <% end %>
      </ul>
    </li>
  <% end %>

  <% if website.has_solution_pages? %>
    <%= render_partial "shared/solutions_nav" %>
  <% end %>

	<% if website.has_dealers? || website.has_distributors? || website.has_online_retailers? %>
    <li><%= link_to t('where_to_buy').titleize, where_to_find_path %></li>
	<% end %>

	<% if website.has_artists? %>
    <li class="hide-for-medium"><%= link_to t('professionals').titleize, artists_path %></li>
	<% end %>

  <li class="has-dropdown"><%= link_to t("nav.case_studies"), case_studies_path %>
    <ul class="dropdown">
      <% if website.has_news? %>
        <li><%= link_to t('news').titleize, news_index_path %></li>
      <% end %>
    </ul>
  </li>

  <% if website.has_events? %>
    <li><%= link_to t('events').titleize, events_path %></li>
  <% end %>

  <li><%= link_to t('training').titleize, "/training", target: "_blank" %></li>

  <li class="has-dropdown"><%= link_to t('product_support').titleize, support_path %>
    <ul class="dropdown">
      <li><%= link_to t('contact_us').titleize, support_path %></li>
      <% if !!(website.value_for("anytime_support_url")) %>
        <li><%= link_to t('anytime_support'), website.value_for("anytime_support_url"), target: "_blank" %></li>
      <% end %>
      <li><%= link_to t('software_downloads').titleize, software_index_path %></li>
      <li><%= link_to t('firmware_downloads').titleize, firmware_index_path %></li>
      <li><%= link_to t("nav.downloads"), "/#{I18n.locale}/support_downloads" %></li>
      <li><%= link_to t('warranty').titleize, warranty_path %></li>
      <% if website.has_product_registrations? %>
        <li><%= link_to t("warranty_registration").titleize, warranty_registration_path, target: "_blank" %></li>
      <% end %>
      <% if !!(website.forum_link) %>
        <li><%= link_to t("forum").titleize, website.forum_link %></li>
      <% end %>
    </ul>
  </li>
<% end %>
