<div class="comment row" id="comment_<%= marketing_comment.id %>">
	<div class="large-2 small-4 columns comment-badge">
		<% if !marketing_comment.user.profile_pic_file_name.blank? %>
			<%= image_tag marketing_comment.user.profile_pic.url(:thumb_square) %>
		<% else %>
			<%= image_tag(marketing_comment.user.gravatar_url(default: 'mm', size: 64), width: 64, height: 64) %>
		<% end %>
		<br/>
		<small><%= marketing_comment.user.name %></small>
	</div>
	<div class="large-10 small-8 columns comment-content">
		<h5><%= l marketing_comment.created_at, format: :long %>
			<% if can? :delete, marketing_comment %>
				<%= link_to image_tag('trash.gif'), [:marketing_queue, marketing_comment.project_or_task, marketing_comment], confirm: "Sure?", method: :delete, remote: true %>
			<% end %>
		</h5>
		<%=raw textilize(marketing_comment.message) %>
	</div>
</div>