<% set_meta_tags title: t('titles.product_families'),
				 keywords: ProductFamily.parents_with_current_products(website, I18n.locale).collect{|p| p.name}.join(", "),
				 reverse: true %>

<h1>
<% if File.exists?(Rails.root.join("app", "assets", "images", "#{website.folder}/#{I18n.locale}/products_head.jpg")) %>
	<%= image_tag("#{website.folder}/#{I18n.locale}/products_head.jpg", alt: t('titles.product_families')) %>
<% else %>
	<%= t('titles.product_families') %>
<% end %>
</h1>

<% ProductFamily.parents_with_current_products(website, I18n.locale).each do |product_family| %>
  <div class="row">
    <div class="small-12 columns thick_left" >
      <%= link_to product_family do %>
        <h3><%= translate_content(product_family, :name) %></h3>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns product_cat_bar">&nbsp;</div>
  </div>
<% end %>

<% if @discontinued_products.count > 0 %>
<p>&nbsp;</p>
<p><%= link_to "legacy products", discontinued_products_path %></p>
<% end %>
