<% set_meta_tags title: t('titles.product_families'),
				 keywords: ProductFamily.parents_with_current_products(website, I18n.locale).collect{|p| p.name}.join(", "),
				 reverse: true %>

<h1>
<% if File.exists?(Rails.root.join("app", "assets", "images", "#{website.folder}/#{I18n.locale}/products_head.jpg")) %>
	<%= image_tag("#{website.folder}/#{I18n.locale}/products_head.jpg", alt: t('titles.product_families')) %>
<% else %>
	<%= t('titles.product_families') %>
<% end %>
</h1>

<% ProductFamily.parents_with_current_products(website, I18n.locale).each do |product_family| %>
  <% if product_family.locales(website).include?(I18n.locale.to_s) %>
    <div class="row">
      <div class="small-12 columns thick_left" >
        <%= link_to product_family do %>
          <h3><%= translate_content(product_family, :name) %></h3>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns product_cat_bar">
        <ul class="small-block-grid-2 medium-block-grid-4 large-block-grid-6">
          <% if product_family.children_with_current_products(website, locale: I18n.locale).size > 1 %>
            <% product_family.children_with_current_products(website, locale: I18n.locale).each do |pf| %>
              <li>
                <%= link_to pf do %>
                  <% if p = pf.current_products.first %>
                    <% if p.photo %>
                      <%= image_tag(p.photo.product_attachment.url(:medium), lazy: product_photo_is_png?(p)) %>
                      <br/>
                    <% end %>
                  <% end %>
                  <%= translate_content(pf, :name) %>
                <% end %>
              </li>
            <% end %>
          <% elsif product_family.children_with_current_products(website, locale: I18n.locale).size == 1 %>
            <% product_family.children_with_current_products(website, locale: I18n.locale).first.current_products.each do |product| %>
              <li>
                <%= link_to product do %>
                  <% if product.photo %>
                    <%= image_tag(product.photo.product_attachment.url(:medium), lazy: product_photo_is_png?(product)) %>
                    <br/>
                  <% end %>
                  <%= translate_content(product, :name) %>
                <% end %>
              </li>
            <% end %>
          <% elsif product_family.current_products.size > 0 %>
            <% product_family.current_products.each do |product| %>
              <li>
                <%= link_to product do %>
                  <% if product.photo %>
                    <%= image_tag(product.photo.product_attachment.url(:medium), lazy: product_photo_is_png?(product)) %>
                    <br/>
                  <% end %>
                  <%= translate_content(product, :name) %>
                <% end %>
              </li>
            <% end %>
          <% else %>
            &nbsp;
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
<% end %>

<% if @discontinued_products.size > 0 %>
<p>&nbsp;</p>
<p><%= link_to "legacy products", discontinued_products_path %></p>
<% end %>
