<h1>Checkout <%= fa_icon "credit-card" %></h1>
<br/>
<div class="row">
  <div class="small-12 medium-7 large-8 columns">
    <p>
      <%= link_to shopping_cart_path do %>
        &lt;&lt; Back to cart
      <% end %>
    </p>

    <%= simple_form_for @address, url: checkout_address_url, method: :post do |f| %>
      <%= f.input :street_1, label: "Billing Address" %>
      <%= f.input :street_2, label: false %>
      <div class="row">
        <div class="small-12 medium-4 columns">
          <%= f.input :locality, label: "City" %>
        </div>
        <div class="small-12 medium-4 columns">
          <%= f.input :region, label: "State/Province" %>
        </div>
        <div class="small-12 medium-4 columns">
          <%= f.input :postal_code, label: "Zipcode/Postal code" %>
        </div>
      </div>
      <%= f.input :country %>
      <%= f.submit "Continue To Payment", class: "button" %>
    <% end %>
  </div>

  <div class="hide-for-small medium-5 large-4 columns">
    <div class="callout panel">
      <h5>Order Details</h5>
      <% @shopping_cart.line_items.each do |line_item| %>
        <div class="row">
          <div class="medium-8 columns">
            <%= line_item.product.name %>
            <% if line_item.product.digital_ecom? %>
              <br/><small>Instant electronic delivery.</small>
            <% end %>
          </div>
          <div class="medium-4 columns text-right">
            <%= line_item.quantity %>@
            <%= number_to_currency line_item.price %>
          </div>
        </div>
      <% end %>
      <hr/>
      <p class="text-right">
        <% if @shopping_cart.tax > 0.0 %>
          Tax: <%= number_to_currency @shopping_cart.tax %><br/>
        <% else %>
          Tax: ---<br/>
        <% end %>
        <strong>Total: <%= number_to_currency @shopping_cart.total %></strong>
      </p>

    </div>
    <% if @shopping_cart.has_digital_downloads? %>
      <p class="text-center"><i><small>Software activation requires use of <a href="https://ilok.com" target="_blank">iLok physical license key dongle</a>.</small></i></p>
    <% end %>
  </div>
</div>


