<% set_meta_tags title: t('titles.support'),
				 description: t('meta.description.support', brand: website.brand_name),
				 reverse: true %>

<h1 class="page_title">
	<%= image_tag("#{website.folder}/#{I18n.locale}/support_head.jpg", alt: t('titles.support')) %>
</h1>

<%= cache ["support_body", website.brand, I18n.locale] do %>
<div class="support_box_container">

	<% if website.has_software? %>
	<div class="support_box">
		<h4><%= link_to t('software_downloads'), software_index_path %></h4>
		<p><%= t('blurbs.software_downloads', brand: website.brand_name) %></p>
		<%= link_to t('software_downloads'), software_index_path %>
	</div>
	<% end %>
	
	<div class="support_box">
		<h4><%= t('titles.product_support') %></h4>
		<p><%= t('blurbs.product_support') %></p>
		<%= form_tag support_path, method: :get do |f| %>
			<%= select_tag :product_id, options_from_collection_for_select(website.current_and_discontinued_products([:product_families]), :to_param, :name), include_blank: true %>
			<%= submit_tag t('go')%>
		<% end %>
	</div>
	
	<div class="support_box">
		<h4><%= link_to t('warranty_registration'), warranty_registration_path %></h4>
		<p><%= t('blurbs.warranty_registration', brand: website.brand_name) %></p>
		<%= link_to t('warranty_registration'), warranty_registration_path %>
	</div>
	
	<% if website.has_service_centers? %>
	<div class="support_box">
		<h4><%= t('titles.locate_us_service_center') %>:</h4>
		<%= form_tag support_path(action: "service_lookup") do |f| %>
			<p><%= label_tag "zip", t('us_zip_code') %>
			<%= text_field_tag "zip", session[:zip], size: 8 %>
			<%= submit_tag t('go') %></p>
		<% end %>
	</div>
	<% end %>

	<div class="support_box">
		<h4>More Resources</h4>
		<ul>
			<li><%= link_to t("sound_community"), soundcomm_url, target: "_blank" %></li>
			<li><%= link_to "guitarworkstation.com", "http://www.guitarworkstation.com", target: "_blank" %></li>
			<% if !!(website.value_for("troubleshooting_url")) %>
			<li><%= link_to t('troubleshooting').downcase, support_path(action: "troubleshooting") %></li>
			<% end %>
			<% if website.has_parts_form? %>
			<li><%= link_to "Parts Request", parts_request_path %></li>
			<% end %>
			<% if website.has_rma_form? %>
			<li><%= link_to "Factory Service/Return Authorization Form", rma_request_path %></li>
			<% end %>
			<li><%= link_to t('titles.rohs'), rohs_path %></li>
		</ul>
	</div>

	<% if addr = website.address_and_phone %>
	<div class="support_box">
		<h4><%= t("titles.mailing_address") %></h4>
		<%=raw addr %>
		<% if sup = website.support_email %>
		<br/><%= mail_to sup, sup %>
		<% end %>
	</div>
	<% end %>	

	<div class="clear"></div>
</div>
<% end %>

<%= content_for :big_bottom_box do %>
	
	<div class="two_column_container">
		
		<div class="column_one" style="width: 65%">
			<h1><%= t('titles.contact_us') %></h1>
			<%= form_for :contact_message, url: support_path(action: "contact"), html: {class: "contact"} do |f| %>
				<%= f.error_messages %>

				<div><%= f.label :name, t('your_name') %><br/>
				   <%= f.text_field :name %></div>
				<div><%= f.label :email, ucfirst(t('email')) %><br/>
				   <%= f.text_field :email %></div>
				<%= cache ["contact_form_products", website.brand] do %>
				<div><%= f.label :product %> <%= "(required)" if @contact_message.require_product? %><br/>
					<%= f.collection_select :product, 
							Product.all_for_website(website) + [Product.new(name: "other")],
							:name, :name, prompt: true %>
				</div>
				<% end %>
				<div><%= f.label :operating_system %><br/>
					<%= f.text_field :operating_system %></div>
				<div><%= f.label :subject, t('subject') %><br/>
					<%= f.select :subject, ContactMessage.subjects %></div>
		<div><%= f.label :shipping_address, t("address") %><br/>
			<%= f.text_area :shipping_address, size: "40x2" %></div>
		<div><%= f.label :shipping_country, t("country") %> <%= "(required)" if @contact_message.require_country? %><br/>
			<%= f.text_field :shipping_country %></div>
				<p><%= t('message') %>:</p>
				<%= f.text_area :message, size: "60x8" %>
				
				<div class="captcha">
					<%= recaptcha_tags %>
				</div>
				
				<p><%= submit_tag t('submit') %></p>
			<% end %>
		</div>
		
		<div class="column_two" style="width: 30%; padding-top: 10px;">

		</div>
		
	</div>
	
<% end %>