<h1><%= @this_website.url %></h1>

<ul class="button-group round">
	<li><%= link_to 'Back', admin_websites_path, class: "small secondary button" %></li>
	<li><%= link_to 'Edit', edit_admin_website_path(@this_website), class: "small secondary button" %> </li>
	<li><%= link_to 'Delete', [:admin, @this_website], confirm: 'Are you sure?', method: :delete, class: "small alert button" %> </li>
</ul>

<p>
  <b>Folder:</b>
  <%= @this_website.folder %>
</p>

<p>
  <b>Brand:</b>
  <%= @this_website.brand_name %>
</p>

<p>
  <b>Comment:</b>
  <%= @this_website.comment %>
</p>

<div class="group">
	<h3>Locales for this Website</h3>
	<%= form_for [:admin, @website_locale], remote: true do |f| %>
		<%= f.hidden_field :website_id %>
		<p>
			<%= f.label :locale %>
			<%= f.text_field :locale, size: 6 %>
			<%= f.check_box :complete %>
			<%= f.label :complete, "Completed and ready for public use." %> (may require a website restart)
		</p>
		<p>
			<%= f.label :name %>
			<%= f.text_field :name %>
		</p>
		<p>
			<%= f.submit "add locale" %>
		</p>
	<% end %>
	<ul id="website_locales">
		<% @this_website.website_locales.each do |wl| %>
		<%= render "/admin/shared/website_locale_row", wl: wl %>
		<% end %>
	</ul>
</div>

