<% set_meta_tags title: t('titles.product_families'),
				 keywords: ProductFamily.parents_with_current_products(website, I18n.locale).collect{|p| p.name}.join(", "),
				 reverse: true %>

<% if !!(website.show_comparisons) %>
	<%= form_tag compare_products_path, method: :get %>
<% end %>

<% ProductFamily.parents_with_current_products(website, I18n.locale).each do |product_family| %>
<div class="callout panel" id="<%= product_family.to_param %>">
	<% if product_family.children_with_current_products(website).size > 0 %>
		<h2><%= link_to translate_content(product_family, :name), product_family %></h2>
		<% if product_family.children_with_current_products(website).size > 1 %>
		<% end %>

		<% product_family.children_with_current_products(website).each do |child| %>
			<% if !child.family_photo_file_name.blank? %>
	  		<span style="margin-right: 8px;">
				<%= link_to(image_tag(child.family_photo.url), child) %>
	  		</span>
			<% end %>
		<% end %>

	<% elsif !product_family.family_banner_file_name.blank? %>
		<h2><%= link_to(image_tag(product_family.family_banner.url), product_family) %></h2>

	<% else %>
		<h2><%= translate_content(product_family, :name) %></h2>
		<% product_family.current_products.each do |product| %>
			<%= render_partial "product_families/product_square", product: product %>
		<% end %>
	<% end %>

</div>
<% end %>

<% if !!(website.show_comparisons) %>
		<div><%= submit_tag t('product_page.compare_selected_products') %> <span class="hint"><%= t('product_page.select_products_to_compare') %></span></div>
	</form>
<% end %>

