<% set_meta_tags title: @page_title,
  reverse: true %>

<h1><%= @page_title %></h1>

<div class="wide_centered_box" id="search_page_container">
  <%= render "form" %>

  <% if @results.length > 0 %>
    <div id="search_results_count_message"><%=@results.total_entries%> results found, showing <%= results_item_count_range_for_page(@results) %> for: <strong><%=@query%></strong></div>

    <%= will_paginate @results, params:{query:@query, paginate_include_discontinued_products:@include_discontinued_products} %>

    <ul id="search_results" class="large-block-grid-3">
      <%count = 1%>
      <% @results.each do |result| %>
        <li>
          <div class="result-type-header"><strong><%= category_name(result.class.name)%></strong>: <span class="result-item-number"><%=current_item_number(@results, count)%></span></div>

          <!-- item title link  -->
          <div style="margin-bottom: 5px;">
            <%= link_to translate_content(result, result.link_name_method), page_link(result), class:"result-item-title-link", style:"display:inline" %>
            <%= "<span style='color:grey;font-size:smaller;white-space:nowrap;'>(#{result.parent.name})</span>".html_safe if result.class.name == "ProductFamily" && result.has_parent? %>
            <%discontinued_text = "<span style='color:red;'>(Discontinued)</span>"%>
            <%=discontinued_text.html_safe if (result.class.name == "Product" && result.discontinued?)%>
          </div>

          <!-- item image link  -->
          <% image = get_result_image(result)%>
          <% if image.present? %>
            <%= link_to image_tag(image, alt: result.name), page_link(result), class:"result-item-image-link" %>
          <%end%>
          <!-- item description  -->
          <%=result_description(result)%><br />

          <!-- item link  -->
          <span class="search_link">
            <%#= link_to page_link(result), page_link(result) %>
          </span>

        </li>
        <%count += 1%>
      <% end %>
    </ul>

    <%= will_paginate @results, params:{query:@query, paginate_include_discontinued_products:@include_discontinued_products} %>
  <% else %>
    <% if !@query.present? %>
      <p><i>Enter a search term above.</i></p>
    <% else%>
      <p><i>No results found.</i></p>
    <% end %>
  <% end %>
</div><!-- <div class="wide_centered_box">  -->
