<div data-equalizer="family_thumbs" data-equalizer-mq="medium-up">
        <h5>Product Categories</h5>
        <% if children_with_current_products.length > 19 %>
          <div class="row">
            <% children_with_current_products.in_groups(3).each do |group| %>
              <div class="large-4 medium-4 small-12 columns product-subgroups">
                <% group.each do |product_family| %>
                  <% if product_family.is_a?(ProductFamily) && product_family.parent_id == product_family_item.id %>
                    <h3><%= link_to translate_content(product_family, :name), product_family %></h3>
                    <% if product_family.children_with_current_products(website, locale: I18n.locale).length > 0 %>
                      <ul>
                        <% product_family.children_with_current_products(website, locale: I18n.locale).each do |pf| %>
                          <li><%= link_to translate_content(pf, :name), pf %></li>
                        <% end %>
                      </ul>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
            <% end %>
          </div>
        <% else %>
          <ul class="small-block-grid-1 medium-block-grid-4">
          <% children_with_current_products.where(parent_id: product_family_item.id).each do |product_family| %>
            <li>
              <div id="<%= product_family.to_param %>">
                <%= link_to product_family do %>
                  <div class="product_family_box">
                    <div data-equalizer-watch="family_thumbs" class="family_thumb">
                      <% if !product_family.family_photo_file_name.blank? %>
                        <%= translate_image_tag(product_family, :family_photo, alt: :name) %>
                      <% elsif product_family.first_product_with_photo(website) %>
                        <%= image_tag(product_family.first_product_with_photo(website).primary_photo.product_attachment.url(:small),
                                      alt: translate_content(product_family, :name), lazy: false) %>
                      <% end %>
                    </div>
                    <% if product_family.family_photo_file_name.blank? %>
                      <h2><%= translate_content(product_family, :name) %></h2>
                    <% end %>

                    <% if product_family.short_description.present? %>
                      <p><%=strip_html translate_content(product_family, :short_description) %></p>
                    <% elsif product_family.family_photo.blank? %>
                      <% if product_family.intro.present? %>
                        <p><%= truncate(strip_html(translate_content(product_family, :intro)), length: 100) %></p>
                      <% elsif product_family.current_products_plus_child_products(website).length == 10 && product_family.family_photo_file_name.blank? %>
                        <p><%= truncate(strip_html(translate_content(product_family.current_products_plus_child_products(website).first, :short_description)), length: 100) %></p>
                      <% elsif product_family.current_products_plus_child_products(website).length > 0 && product_family.family_photo_file_name.blank? %>
                        <p><%= truncate(product_family.current_products_plus_child_products(website).map{|p| translate_content(p, :name)}.join(", "), length: 100) %></p>
                      <% end %>
                    <% end %>
                  </div>
                <% end %>
              </div>
            </li>
          <% end %>
          </ul>
        <% end %>
      </div>