<% set_meta_tags title: translate_content(@product_family, :name),
	reverse: true,
  description: @product_family.meta_description.present? ? translate_content(@product_family, :meta_description) : translate_content(@product_family, :intro),
  keywords: translate_content(@product_family, :keywords) %>

<% if @product_family.hide_from_navigation? %>
  <% set_meta_tags noindex: true %>
<% end %>

<% if @product_family.has_custom_background? %>
	<%= content_for :custom_css do %>
		<style type="text/css" media="screen">
			body { <%= @product_family.custom_background %> }
		</style>
	<% end %>
<% end %>

<%= content_for :custom_css do %>
	<style type="text/css">
		<%=raw @product_family.custom_css %>
	</style>
<% end %>

<% if !@product_family.title_banner_file_name.blank? %>
	<h1><%= image_tag(@product_family.title_banner.url, alt: translate_content(@product_family, :name)) %></h1>
<% else %>
	<h1><%= translate_content(@product_family, :name) %></h1>
<% end %>

<p><%=raw translate_content(@product_family, :intro) %></p>

<% if !!(website.show_comparisons) %>
	<%= form_tag compare_products_path, method: :post %>
<% end %>


<ul class="large-block-grid-5 small-block-grid-2">
<% @product_family.current_products.each do |product| %>
	<li><%= render_partial("product_families/product_square", product: product) %></li>
<% end %>
</ul>

<% if @product_family.current_products.length > 0 && !!(website.show_comparisons) %>
	<div class="compare_button clear"><%= submit_tag t('product_page.compare_selected_products') %> <span class="hint"><%= t('product_page.select_products_to_compare') %></span></div>
<% end %>

<% @children_with_current_products.each do |sub_family| %>
	<h2><%= translate_content(sub_family, :name) %></h2>
	<p><%= translate_content(sub_family, :intro) %></p>

	<ul class="large-block-grid-5 small-block-grid-2">
		<% sub_family.current_products.each do |product| %>
			<li><%= render_partial "product_families/product_square", product: product %></li>
		<% end %>
	</ul>

	<% if !!(website.show_comparisons) %>
		<div class="compare_button clear"><%= submit_tag t('product_page.compare_selected_products') %> <span class="hint"><%= t('product_page.select_products_to_compare') %></span></div>
	<% end %>

<% end %>



	<% if !!(website.show_comparisons) %>
		</form>
	<% end %>

	<% if @product_family.parent && @product_family.siblings_with_current_products.size > 0 %>
		<div class="related_products"><%= t('related_products') %>:
		<%= links_to_related_product_families(@product_family) %></div>
	<% end %>

<%= render_partial 'case_studies' %>

<% if @product_family.post_content.present? %>
  <%=raw translate_content(@product_family, :post_content) %>
<% end %>

<% if @product_family.testimonials.length > 0 %>
  <div class="row">
    <div class="small-12 columns">
      <%= link_to "#{ @product_family.name } Testimonials", [@product_family, :testimonials], class: "medium button" %>
    </div>
  </div>
<% end %>

<% if current_user && can?(:manage, @product_family) %>
<div class="admin_function">
	<%= link_to "edit", [:admin, @product_family] %>
</div>
<% end %>
