
<%= simple_form_for [:marketing_queue, @marketing_project] do |f| %>

	<div class="row">
		<div class="large-12 columns">
			<%= f.input :name, input_html: {style: "font-size: 130%"} %>
		</div>
	</div>

	<div class="row">
		<div class="large-6 columns">
			<%= f.association :brand, collection: marketing_queue_brands %>
		</div>
		<div class="large-6 columns">
			<%= f.association :marketing_project_type, label: "Project template", collection: MarketingProjectType.order("UPPER(name)") %>
		</div>
	</div>

	<% if can? :manage, MarketingProject %>
	<div class="row">
		<div class="large-6 columns">
			<%= f.association :user, label: "Project owner", collection: User.marketing_staff %>
		</div>
	</div>
	<% end %>

	<fieldset>
		<legend>Calendaring</legend>
		<div class="row">
			<div class="large-6 columns">
				<%= f.association :marketing_calendar %>
			</div>
			<div class="large-6 columns">
				<%= f.input :due_on, as: :string, input_html: { class: 'ui-datepicker' } %>
				<% unless @marketing_project.new_record? %>
					<span class="hint">
						<%= f.input :tasks_follow_project, 
							as: :boolean,
							label: "Adjust task due dates along with project due date." %>
					</span>
				<% end %>
			</div>
		</div>

		<div class="row">
			<div class="large-6 columns">
				<%= f.input :event_start_on, as: :string, input_html: { class: 'ui-datepicker' } %>
			</div>
			<div class="large-6 columns">
				<%= f.input :event_end_on, as: :string, input_html: { class: 'ui-datepicker' } %>
			</div>
		</div>
	</fieldset>

	<fieldset>
		<legend>Justification</legend>
		<div class="row">
			<div class="large-9 columns">
				<%= f.input :targets, hint: "(ie. Increase awareness of product X...)" %>
			</div>
			<div class="large-3 columns">
				<%= f.input :estimated_cost, label: "Est. cost", as: :string, hint: "Numbers only" %>
			</div>
		</div>
		
		<% unless @marketing_project.new_record? %>
		<div class="row">
			<div class="large-12 columns">
				<%= f.input :targets_progress %>
			</div>
		</div>
		<% end %>
	</fieldset>

	<%= f.submit class: "button round" %>
<% end %>

