<div class="main-container">
<div class="row">
	<div class="large-6 columns">
		<h6>Project Search Results:</h6>

		<ol>
			<% @marketing_projects[0,15].each do |marketing_project| %>
			<li> <%= link_to marketing_project.name, [:marketing_queue, marketing_project] %> 
				<small><i><%= marketing_project.brand.name %>,
					<strong><%= number_to_percentage marketing_project.percent_complete, precision: 0 %></strong> complete
				</i></small>
				<div class="small">
					Created 
					<% if marketing_project.user %>
						by: <%= marketing_project.user.name %>, 
					<% end %>
					<%=l marketing_project.created_at, format: :long %>
				</div>
			</li>
			<% end %>
		</ol>
	</div>
	<div class="large-6 columns">
		<h6>Task Search Results:</h6>
		<ol>
			<% @marketing_tasks[0,15].each do |marketing_task| %>
			<li> 
				<%= link_to marketing_task.name, [:marketing_queue, marketing_task] %>
				<small>
					<i><% if marketing_task.completed_at.present? %>
						 completed: <%=l marketing_task.completed_at.to_date, format: :long %>
					   <% else %>
					     <strong>due: <%=l marketing_task.due_on, format: :long %></strong>
					   <% end %>
					</i>
				</small>

				<div class="small">
					<% if marketing_task.marketing_project %>
						Project: <%= marketing_task.marketing_project.name %><br/>
					<% end %> 
					<% if marketing_task.worker %>
						Assigned to: <%= marketing_task.worker.name %>
					<% else %>
						<strong>Un-assigned</strong>
					<% end %>
				</div>
			</li>
			<% end %>
		</ol>		
	</div>
</div>
</div>