<div class="main-container">
<div class="row">
	<div class="large-12 columns">
		<h1>Projects Cost Overview <small><%=l 1.month.ago.to_date, format: :short %>-<%=l 6.months.from_now.to_date, format: :short %></small></h1>
		<h6 class="subheader">
			projects where estimated cost is greater than $0
		</h6>

		<% brand_id = 0 %>
		<table style="width: 100%">

			<% @marketing_projects.each do |marketing_project| %>
				<% unless marketing_project.brand_id == brand_id %>
					<thead>
						<tr>
							<th><%= marketing_project.brand.name %> Projects</th>
							<th style="text-align: center">Start</th>
							<th style="text-align: center">End</th>
							<th style="text-align: right">Est. Cost</th>
						</tr>
					</thead>
					<% brand_id = marketing_project.brand_id %>
				<% end %>

					<tr>
						<td><%= link_to marketing_project.name, [:marketing_queue, marketing_project] %></td>
						<td><%= (marketing_project.event_start_on.present?) ? l(marketing_project.event_start_on.to_date, format: :short) : "" %></td>
						<td><%= (marketing_project.event_end_on.present?) ? l(marketing_project.event_end_on.to_date, format: :short) : l(marketing_project.due_on.to_date, format: :short) %></td>
						<td style="text-align: right"><%= number_to_currency marketing_project.estimated_cost %></td>
					</tr>

			<% end %>

		</table>
	</div>
</div>
</div>