<%= content_for :page_title do %><%= @marketing_project.name %><% end %>

<%= content_for :breadcrumbs do %>
	<%= link_to @marketing_project.brand.name, [:marketing_queue, @marketing_project.brand] %>
	<%= link_to @marketing_project.name, '#', class: 'current' %>
<% end %>

<h1><%= @marketing_project.name %></h1>

<div class="row">
	<div class="large-8 columns">
		<ul class="button-group round">
			<% if can? :create, MarketingTask %>
			<li><%= link_to "+ Add a task", new_marketing_queue_marketing_task_path(marketing_project_id: @marketing_project), class: "small secondary button", data: { "reveal-id" => "new_task_modal" } %>
			</li>
			<% end %>
			<% if can? :create, MarketingProjectType %>
			<li><%= link_to "Save as a template", new_marketing_queue_marketing_project_type_path(marketing_project_id: @marketing_project), class: "small button secondary" %></li>
			<% end %>
			<% if can? :manage, @marketing_project %>
			<li><%= link_to "Edit project", edit_marketing_queue_marketing_project_path(@marketing_project), class: "small button secondary" %></li>
			<% end %>
			<% if can? :destroy, MarketingAttachment %>
			<li><%= link_to "Delete Project", [:marketing_queue, @marketing_project], method: :delete, confirm: "Are you really sure? This will delete sub-tasks, comments, attachments.", class: "small alert button" %></li>
			<% end %>
		</ul>

	</div>

	<div class="large-4 columns">

		<div class="progress success radius" id="task-counter-<%= @marketing_project.id %>" data-completedcount="<%= @marketing_project.completed_marketing_tasks.count %>" data-incompletecount="<%= @marketing_project.incomplete_marketing_tasks.count %>">
			<span class="meter" id="meter-<%= @marketing_project.id %>" style="width: <%=number_to_percentage @marketing_project.percent_complete, precision: 0 %>">
			</span>
		</div>
		<div style="text-align: center; margin-bottom: 6px;">
			<small id='percent-complete-<%=@marketing_project.id %>'><%=number_to_percentage @marketing_project.percent_complete, precision: 0 %> complete</small>
		</div>
	</div>
</div>
<div class="row">
	<div class="large-8 columns">
	<div class="main-container">
		<h4>To do:</h4>
		<ul class="task-list" id='incomplete-tasks'>
		<% @marketing_project.incomplete_marketing_tasks.each do |marketing_task| %>
			<% if can? :manage, marketing_task %>
			<li id="task_row_<%= marketing_task.id %>">			 
				<%= check_box_tag marketing_task.id, marketing_task.id, false, class: 'completer', 
					data: { 
						task: marketing_task.id, 
						project: marketing_task.marketing_project_id,
						name: marketing_task.name, 
						worker: (marketing_task.worker) ? marketing_task.worker.name : 'Unassigned',
						due_on: I18n.l(marketing_task.due_on, format: :short)
					} %>
				<%= link_to marketing_task.name, edit_marketing_queue_marketing_task_path(marketing_task) %>

				<% if marketing_task.due_on.present? %>
					<i>Due: <%=l marketing_task.due_on, format: :short %></i>
				<% end %>

				<% if can? :destroy, marketing_task %>
				<%= link_to(image_tag('trash.gif'), [:marketing_queue, marketing_task], confirm: "Are you sure?", method: :delete) %>
				<% end %>
				<div class="assigned">
				<% if marketing_task.worker %>
					Assigned to: <%= marketing_task.worker.name %>
				<% else %>
					<%= render 'marketing_queue/marketing_tasks/inline_assign', marketing_task: marketing_task %>
				<% end %>
				</div>
			</li>
			<% else %>
			<li id="task_row_<%= marketing_task.id %>">			 
				<%= check_box_tag marketing_task.id, true, false, disabled: true %>
				<%= link_to marketing_task.name, [:marketing_queue, marketing_task] %>
				
				<% if marketing_task.due_on.present? %>
					<i>Due: <%=l marketing_task.due_on, format: :short %></i>
				<% end %>
				<div class="assigned" id="worker-<%= marketing_task.id %>">
				<% if marketing_task.worker %>
					Assigned to: <%= marketing_task.worker.name %>
				<% else %>
					<span class="alert round label">Unassigned</span>
				<% end %>
				</div>
			</li>
			<% end %>
		<% end %>
		</ul>

		<h5 id='completed-tasks-title'>Completed Tasks
			(<%= @marketing_project.completed_marketing_tasks.count %>)</h5>
		<ul class="completed task-list" id="completed-tasks">
		<% @marketing_project.completed_marketing_tasks.each do |marketing_task| %>
			<li id="task_row_<%= marketing_task.id %>"> 
				<%= check_box_tag marketing_task.id, marketing_task.id, true, class: 'incompleter', 
						data: { 
							task: marketing_task.id, 
							project: marketing_task.marketing_project_id,
							name: marketing_task.name, 
							worker: (marketing_task.worker) ? marketing_task.worker.name : 'Unassigned',
							due_on: I18n.l(marketing_task.due_on, format: :short)
						} %>
				<%= link_to marketing_task.name, [:marketing_queue, marketing_task] %>
				<% if can? :destroy, marketing_task %>
				<%= link_to(image_tag('trash.gif'), [:marketing_queue, marketing_task], confirm: "Are you sure?", method: :delete) %>
				<% end %>

				<% if marketing_task.due_on.present? %>
					<i style="display: none;">Due: <%=l marketing_task.due_on, format: :short %></i>
				<% end %>

				<div class="assigned">
					Completed 
						<% if marketing_task.worker %>by: <%= marketing_task.worker.name %><% end %>
						on <%=l marketing_task.due_on, format: :short %>
				</div>
			</li>
		<% end %>
		</ul>
	</div>

	<br/>
	<h4>Comments</h4>
	<% @marketing_project.marketing_comments.each do |marketing_comment| %>
		<%= render "marketing_queue/marketing_comments/show", marketing_comment: marketing_comment %>
	<% end %>
	<% if can? :create, MarketingComment %>
		<br/>
		<%= render "marketing_queue/marketing_comments/form" %>
	<% end %>

	</div>
	<div class="large-4 columns">

		<h4>Project Overview</h4>
		<p>This <%= @marketing_project.brand.name %> project was created by <%= @marketing_project.user.name %> on <%=l @marketing_project.created_at.to_date, format: :short %>.
		<% if @marketing_project.due_on.present? %>
			The project's due date 
			<% if @marketing_project.due_on.to_date > Date.today %>
			is <b><%=l @marketing_project.due_on, format: :short %></b>.
			<% elsif @marketing_project.due_on.to_date == Date.today %>
			is TODAY, <b><%=l @marketing_project.due_on, format: :short %></b>.
			<% else %>
			was <%=l @marketing_project.due_on, format: :short %>.
			<% end %>
		<% end %>
		<% if @marketing_project.event_start_on.present? %>
			The project is related to an event which takes place <%=l @marketing_project.event_start_on, format: :month_day %> 
				<% if @marketing_project.event_end_on.present? %>
					thru <%=l @marketing_project.event_end_on, format: :month_day %>
				<% end %>
				.
		<% end %>
		</p>
		<% if @marketing_project.estimated_cost.present? %>
			<p>Estimated cost: <%= number_to_currency @marketing_project.estimated_cost %></p>
		<% end %>
		<% if @marketing_project.targets.present? %>
			<h5>Project Targets</h5>
			<p><%= @marketing_project.targets %></p>
			<% if @marketing_project.targets_progress.present? %>
			<h5 class="subheader">Progress</h5>
			<p><%= @marketing_project.targets_progress %></p>
			<% end %>
		<% end %>

		<hr/>

		<h4>Attachments
			<% if can? :create, MarketingAttachment %>
			<%= link_to "+ Add attachment", new_marketing_queue_marketing_attachment_path(marketing_project_id: @marketing_project), class: "small secondary round button", data: { "reveal-id" => "new_attachment_modal" } %>
			<% end %>
		</h4>

		<ul class="list">
			<% @marketing_project.marketing_attachments.each do |marketing_attachment| %>
			<li id="attachment_<%= marketing_attachment.id %>"> <%= link_to marketing_attachment.marketing_file_file_name, marketing_attachment.marketing_file.url %>
				<%= link_to(image_tag('trash.gif'), [:marketing_queue, marketing_attachment], method: :delete, confirm: "Are you sure? (Can't be undone)", remote: true) %></li>
			<% end %>
		</ul>

		<div class="tip" style="margin-top: 30px;">
			<p>Guess what. Projects are "complete" if there are no
				incomplete tasks AND the project's due date has
				past.</p>
		</div>
	</div>
</div>


<div id="new_attachment_modal" class="reveal-modal medium">
	<h3>Attach A File:</h3>
	<%= render 'marketing_queue/marketing_attachments/form' %>
	<a class="close-reveal-modal">&#215;</a>
</div>

<% if can? :create, MarketingTask %>
<div id="new_task_modal" class="reveal-modal medium">
	<h3>New Task:</h3>
	<%= render 'marketing_queue/marketing_tasks/form' %>
	<a class="close-reveal-modal">&#215;</a>
</div>	
<% end %>
