<% set_meta_tags title: @page_title,
				 reverse: true %>

<h1><%= @page_title %></h1>

<div style="margin: 0px auto; width: <%= @training_module.width %>px">
<%= show_module(@training_module) %>
</div>

<div class="training_body">
	<%=raw @training_module.description %>
</div>

<% if @training_module.products.size > 0 %>
	<hr/>
	<h3><%= t('titles.related_products') %></h3>
	<% @training_module.products.each do |product| %>
		<%= render_partial "product_families/product_square", product: product, compare: false %>
	<% end %>
	<div class="clear"></div>
<% end %>

<% if @training_module.softwares.size > 0 %>
	<hr/>
	<h3>Related Software</h3>
	<ul>
	<% @training_module.softwares.each do |software| %>
		<li><%= link_to software.name, software %></li>
	<% end %>
	</ul>
	<div class="clear"></div>
<% end %>