<%# AMX uses a "Contacts" page which is roughly the same as
  the where-to-buy page on most of the brands' sites. So, the
  file here is named "where-to-buy" but the routes file has a
  special case for AMX routing "/contacts" here. %>

<% content_for :extra_header_code do %>
  <%= javascript_include_tag "where_to_find" %>
<% end %>

<% set_meta_tags title: t('where_to_buy').titleize,
  reverse: true,
  description: t('meta.description.where_to_buy', brand: website.brand_name),
  keywords: t('meta.keywords.where_to_buy') %>

<% if website.wheretobuy_banner %>
  <div class="category-banner">
    <%= image_tag website.wheretobuy_banner, alt: @page_title %>
  </div>
<% elsif File.exist?(Rails.root.join("app", "assets", "images", "#{website.folder}/#{I18n.locale}/wheretobuy_head.jpg")) %>
  <div class="category-banner">
    <%= image_tag("#{website.folder}/#{I18n.locale}/wheretobuy_head.jpg", alt: @page_title) %>
  </div>
<% else %>
  <h1><%= t('where_to_buy').titleize %></h1>
<% end %>

<div class="row">
  <div class="large-8 columns">
    <% if website.show_lead_form_on_buy_page? %>
      <div class="callout panel">
        <h4>Connect with <%= website.brand.name %></h4>
        <p>Tell us about your project. Complete the form below to connect with us.</p>
        <%= render_partial 'leads/form' %>
      </div>
    <% end %>

    <% if website.brand.has_dealers? %>
      <div class="row">
        <div class="medium-8 columns end">
          <h3><%= t('us_dealers') %></h3>

          <%= form_tag partner_search_path, method: :get %>
            <div class="row collapse">
              <div class="large-8 small-7 columns">
                <%= text_field_tag "zip", session[:zip], placeholder: t('us_zip_code') %>
              </div>
              <div class="large-4 small-5 columns">
                <%= submit_tag t('find_us_dealers'), class: "postfix button" %>
              </div>
            </div>
            <% if website.brand.has_us_sales_reps? %>
              <i style="font-size: 80%">Or, <%= link_to "find a sales rep", us_reps_path %> to become a dealer.</i>
            <% end %>
          </form>
          <br/>
        </div>
      </div>
    <% elsif website.brand.has_us_sales_reps? && I18n.locale.to_s.match?(/US/i) %>
      <div class="row">
        <div class="medium-8 columns end">

          <h3><%= website.brand.name %> US Sales Reps</h3>

          <%= form_tag search_us_reps_path, method: :get %>
            <%= label_tag "Select your region" %>
            <div class="row collapse">
              <div class="large-8 small-7 columns">
                <%= select_tag :us_region, options_from_collection_for_select(@us_regions, :id, :name, @us_region.id), prompt: " " %>
              </div>
              <div class="large-4 small-5 columns">
                <%= submit_tag t('submit'), class: "postfix button" %>
              </div>
            </div>
          </form>
        </div>
      </div>
    <% end %>

    <%# if I18n.locale.match(/en|us/i) %>
      <!--<ul>-->
      <!--
        <li><%#= link_to "U.S. Education Sales", "/#{I18n.locale}/contact-us-education-sales" %></li>
        <li><%#= link_to "U.S. Government Sales", "/#{I18n.locale}/contact-us-government-sales" %></li>
        <li><%#= link_to "U.S. Residential Sales", "/#{I18n.locale}/contact-us-residential-sales" %></li>
        <li><%#= link_to "U.S. Training", "/#{I18n.locale}/contact-us-us-training" %></li>
        <li><%#= link_to "Consultant Support", "/#{I18n.locale}/contact-us-consultant-sales" %></li>
        -->
      <!--</ul>-->
    <%# end %>

    <% if website.brand.has_distributors? %>
      <%=render_partial "main/country_selector_for_distributors"%>
    <% end %>
  </div>

  <div class="large-4 end columns">
    <%= render_partial "shared/consultant_portal" %>
    <div class="panel">
      <h4>U.S. Government</h4>
      <ul>
        <li><a href="/en-US/amx-us-government-purchases">U.S. Government Purchases</a></li>
        <li><a href="/en-US/GSA">GSA</a></li>
        <li><a href="/en-US/government-expedited-order-process">Expedited Order Process</a></li>
      </ul>
    </div>
  </div>
</div>

<% if website.brand.has_online_retailers? && (I18n.locale.to_s.match?(/US/) || country_is_usa_or_canada) %>
	<br/>
  <div class="row">
    <div class="large-12 columns">
      <h3><%= t('titles.buy_online') %></h3>

      <ul class="large-block-grid-6 small-block-grid-3">
      <% OnlineRetailer.brand_online_retailers(website).each do |online_retailer| %>
        <li>
          <% if !online_retailer.retailer_logo_file_name.blank? %>
            <%= link_to(image_tag(online_retailer.retailer_logo(:fixed)), online_retailer.direct_link, target: "_blank")%>
          <% else %>
            <%= link_to online_retailer.name, online_retailer.direct_link, target: "_blank" %>
          <% end %>
        </li>
      <% end %>
      </ul>
    </div>
  </div>
<% end %>

<%= content_for :extra_js do %>
  <script>
    $(document).ready(function() {
      $('#zip').focus();
    });
  </script>
<% end %>

