<h1><%= @badge.name %></h1>

<ul class="button-group round">
	<li><%= link_to admin_badges_path, class: "small secondary button" do %>
    <%= fa_icon "angle-double-left" %>
  <% end %>
  </li>
	<li><%= link_to edit_admin_badge_path(@badge), class: "small secondary button" do %>
      <%= fa_icon "edit" %>
      Edit
    <% end %>
  </li>
	<li><%= link_to [:admin, @badge], confirm: 'Are you sure?', method: :delete, class: "small alert button" do %>
    <%= fa_icon "trash" %>
    Delete
  <% end %>
  </li>
</ul>

<% if @badge.image.present? %>
  <div>
    <%= image_tag @badge.image.url(:medium), lazy: false %>
  </div>
  <br/><br/>
<% end %>

<div class="group">
	<h4 class="subheader">Available in these Products:</h4>

	<div id="add_badge_form">
		<%= simple_form_for [:admin, @product_badge], remote: true do |f| %>
			<%= hidden_field_tag :badge_name %>
			<%= hidden_field_tag :called_from, "badge" %>
		    <%= f.hidden_field :badge_id %>
		    <div class="row collapse">
		    	<div class="small-8 columns">
		    		<%= f.association :product,
		    		collection: Product.not_associated_with_this_badge(@product_badge.badge, website).sort_by(&:name),
		    		label: false,
		    		input_html: { class: 'chosen-select', multiple: true,  data: { placeholder: 'Select Products'} }%>
		    	</div>
		    	<div class="small-4 columns">
		    		<%= f.submit "add product", class: "postfix button" %>
		    	</div>
		    </div>
		<% end %>
	</div>

	<ul id="product_badges" class="list">
	  <% @badge.product_badges.find_each do |pb| %>
      <%= render "/admin/shared/product_badge_row", pb: pb, called_from: "badge" %>
	  <% end %>
	</ul>
</div>
