<%
	@meta = Page.find_by lcl_name: 'where_to_buy'
	meta title: @meta.title,
	description: strip_html(@meta.description),
	keywords: @meta.keywords.gsub(" ", ",")

%>
<div id="header_bc">
	<div id="header_spacer"></div>
	<div id="header_bc_image" >
	<%= image_tag('top_border.gif') %>
	</div>
	<div id="bc">
	<nav class="breadcrumbs" role="menubar" aria-label="breadcrumbs">
		<li class="unavailable"  aria-disabled="true">>></li>
	    <li role="menuitem"><a href="/">Home</a></li>
	    <li role="menuitem" class="current"><a href="#"><%= @meta.title %></a></li>
	</nav>
	</div>
</div>
<div class="row fullWidth">
	<div class="small-12 columns" >
		<br />
		<h1><%= @meta.title %></h1>
	</div>
</div>

<div class="row ">
	<div class="small-12 column" ><br />
	You can buy Soundcraft consoles from any one of our official Authorised Soundcraft Distributors or via one of their official dealers. 
Whether you have a question, would like to place an order or find out who your nearest Soundcraft dealer is, please contact your local Soundcraft Distributor as your first point of call. 
  		<br /><br />
	</div>
</div>

<div class="row">
	<div class="small-12 medium-7 columns" >
		<br />
		The local Authorised Soundcraft Distributor for <span class="text-sub-header"><%= @geoip.country_name %></span> is:<br />
	</div>
	<div class="small-12 medium-5 columns" >
		<% Country.where(name: @geoip.country_name).each do |country| %>
		  <%= render :partial => "shared/distributor_details", :locals => {:country => country} %>
		<% end %>
<% 
p "PPPPPPP" +  request.remote_ip

%>


     <label>Select a  different country:
        <select>
        	<% Country.order(:position, :name).each do |country| %>
        	 <% if country.name == @geoip.country_name %>
             <option value="<%= country.name %>" selected><%= country.name %></option>
             <% else %>
             <option value="<%= country.name %>"><%= country.name %></option>
             <% end %>
			<% end %>
        </select>
      </label>
	</div>
</div>
<br /><br />
<div class="row div-border">
	<div class="small-12 medium-4 large-3 columns" >
		<h3>HARMAN EQUIPMENT FINANCING</h4>
	</div>
	<div class="small-12 medium-8 large-9 columns">
	  <br /><strong>Looking for finance?</strong> Our flexible finance programs and unbeatable rates make it easy for you to get the equipment you really want and need.
	  <br /><a href="http://www.harmanequipmentfinance.com/" target="_blank" class="button radius margin-top">Learn More</a>
	</div>
</div>

  		



