<%= simple_form_for [:admin, @scheduled_task] do |f| %>

  <% if f.object.errors.any? %>
    <div class="alert-box alert">
      <%= f.object.errors.full_messages.join(", ").html_safe %>
    </div>
    <br/>
  <% end %>

  <p>Note: Tasks run according to <%= Rails.configuration.time_zone %>. Adjust your schedule accordingly.</p>
  <div class="row">
    <div class="small-12 medium-6 columns">
      <%= f.input :perform_at, required: true, as: :string, input_html: { class: 'ui-datetimepicker' } %>
    </div>
  </div>

  <div class="row">
    <div class="small-12 medium-6 columns">
      <%= f.input :schedulable_type, label: "Target Object Type", as: :select, collection: ScheduledTask.schedulable_options %>
    </div>
  </div>
  <div class="row">
    <div class="small-12 medium-6 columns">
      <%= f.input :schedulable_friendly_id,
        label: "Target Object Friendly ID (use numeric ID for settings and features)",
        hint: "Paste the Friendly ID here. (what appears in the URL. Something like: \"zbt-4000\")" %>
    </div>
  </div>

  <% unless f.object.new_record? %>
	  <div class="row">
		  <div class="small-12 medium-6 columns">
			  <%= f.input :status, hint: "When re-scheduling a task that has already run, clear out the status field." %>
		  </div>
	  </div>
  <% end %>

  <%= f.submit class: "button" %>
  <p>The actual actions to take place are managed on the next screen...</p>
<% end %>
