<h1>Scheduled Task</h1>

<% if can? :manage, @scheduled_task %>
  <ul class="button-group round">
  	<li><%= link_to edit_admin_scheduled_task_path(@scheduled_task), class: "small secondary button" do %>
        <%= fa_icon "edit" %>
        Edit
      <% end %>
    </li>
    <li>
      <%= link_to run_admin_scheduled_task_path(@scheduled_task), class: "small success button" do %>
        <%= fa_icon "check" %>
        Run Now
      <% end %>
    </li>
  	<li><%= link_to [:admin, @scheduled_task], confirm: 'Are you sure?', method: :delete, class: "small alert button" do %>
      <%= fa_icon "trash" %>
      Delete
    <% end %>
    </li>
  </ul>
<% end %>

<p>
  Perform at: <%=l @scheduled_task.perform_at %>
</p>

<p>
  Status:
  <% if @scheduled_task.status.present? %>
    <%= @scheduled_task.status %>
  <% elsif @scheduled_task.perform_at > Time.now %>
    Scheduled
  <% else %>
    Expired (no status recorded)
  <% end %>
</p>

<p>
  Related object: <%= link_to @scheduled_task.schedulable.name, [:admin, @scheduled_task.schedulable] %>
</p>

<h5>Updates</h5>
<% @scheduled_task.scheduled_task_actions.each do |sta| %>
  <div class="panel">
    <div class="row">
      <div class="small-11 columns">
        "<%= sta.field_name %>" <em>to be updated to</em><br/>
        <%= sta.new_value %>
      </div>
      <div class="small-1 columns">
        <% if @scheduled_task.perform_at > Time.now %>
          <%= link_to [:admin, sta], method: :delete do %>
            <%= fa_icon "trash" %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
<% unless @scheduled_task.scheduled_task_actions.size > 0 %>
<p><em>None. You'd better setup an action below if you want this task to do something. Chop chop.</em></p>
<% end %>

<!--
<h5>Current Values for <%= link_to @scheduled_task.schedulable.name, [:admin, @scheduled_task.schedulable] %></h5>
<ul>
  <% @scheduled_task.scheduled_task_actions.each do |sta| %>
  <li><%= sta.field_name %> = <%= sta.schedulable.send(sta.field_name.to_sym) %></li>
  <% end %>
</ul>
-->

<% if @scheduled_task.perform_at > Time.now %>
  <h5>Add an Action</h5>
  <p>Select the field to be changed and the new value. Additional actions can
  be added until the task is run.</p>
  <%= simple_form_for [:admin, @scheduled_task, @scheduled_task_action] do |f| %>
    <%= f.input :scheduled_task_id, as: :hidden %>
    <div class="row">
      <div class="small-12 medium-6 columns">
        <%= f.input :field_name,
          as: :select,
          collection: @scheduled_task.schedulable_fields %>
      </div>
    </div>
    <div id="new_value_container"></div>
    <%= f.submit class: "button", disabled: true, id: "new_action_button" %>
  <% end %>
<% end %>

<% if @scheduled_task.scheduled_task_logs.size > 0 %>
  <h5>Logged Events</h5>
  
  <ul>
    <% @scheduled_task.scheduled_task_logs.each do |stl| %>
      <li>
        <%=l stl.created_at %> |
        <%= stl.description %>
      </li>
    <% end %>
  </ul>
<% end %>

