<% set_meta_tags reverse: true,
	noindex: true,
	title: (@country) ? "#{@country} | #{ucfirst(t('titles.international_distributors'))}" : ucfirst(t('titles.international_distributors')),
	description: "International distributors" %>

<h1 class="page_title">
<% if File.exist?(Rails.root.join("app", "assets", "images", "#{website.folder}/#{I18n.locale}/worldwide_distributors_head.jpg")) %>
	<%= image_tag("#{website.folder}/#{I18n.locale}/worldwide_distributors_head.jpg", alt: t('titles.international_distributors')) %>
<% else %>
  <% if website.brand.name == "Duran Audio" %>
  	AXYS Tunnel by HARMAN Distributors
  <% else %>
	  <%= website.brand.name %>
	  <%= t('titles.international_distributors') %>
  <% end %>
<% end %>
</h1>

<div class="row">

	<div class="large-5 columns">
		<p><%= t("blurbs.international_distributors") %></p>

		<%= form_tag distributor_search_new_path, method: :get %>
			<%= label_tag t('select_your_country') %>
			<div class="row collapse">
				<div class="large-9 small-8 columns">
            <%= select_tag :geo,
            options_for_select(CountryList.countries.sort_by { |item| item[:harman_name]}.map {|country| [country[:harman_name], country[:alpha2]] }, @country_code.upcase),
            # class: 'chosen-select',
            prompt: "Select Your Country"
            %>
				</div>
				<div class="large-3 small-4 columns">
					<%= submit_tag t('submit'), class: "postfix button" %>
				</div>
			</div>
		</form>
	</div>

<div class="large-6 large-offset-1 columns">
<% if @distributors.size > 0 %>
		<ul class="large-block-grid-1 medium-block-grid-1 small-block-grid-1">
  		<% @distributors.each do |distributor| %>
      		<%=render_partial "support/distributor", distributor: distributor %>
  		<% end %> <%# @distributors.each do |distributor| %>
		</ul>
<% else %>
    <div>We didn't find a distributor in your country. Please contact us with the information below.</div>
  	<% if addr = website.value_for("address_and_phone") %>
	  	<div class="panel">
	  		<p><%=raw addr %></p>
	  	</div>
  	<% end %>
<% end %>
</div>

</div> <!-- <div class="row"> -->

<% if country_code == "cn" && jbl_china_retailers = website.value_for("jbl-china-retailers") %>
   <%=raw jbl_china_retailers %>
<% end %>
