<h1>Product / Software Associations</h1>

<table>
  <tr>
    <th>Brand</th>
    <th>Product</th>
    <th>Software</th>
  </tr>
  <%brand = website.brand.name%>
  <% ProductSoftware.joins(:software).where("softwares.brand_id = ?",website.brand.id).sort_by{|ps| [ps.product.name, ps.software.name, ps.software.version] }.each do |product_software| %>

  <tr>
    <td><%=brand %></td>
    <td><%=product_software.product.name %></td>
    <td><%=product_software.software.name %> <%=product_software.software.version %></td>
    <td><%= link_to 'Show', [:admin, product_software] %></td>
    <td><%= link_to 'Edit', edit_admin_product_software_path(product_software) %></td>
    <td><%= link_to 'Delete', [:admin, product_software], confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New product_software', new_admin_product_software_path, class:"button" %>
