<p>
  <b>Brand:</b>
  <%=@product_software.product.brand.name %>
</p>
<p>
  <b>Product:</b>
  <%=link_to @product_software.product.name, [:admin, @product_software.product] %>
</p>

<p>
  <b>Software:</b>
  <%=link_to @product_software.software.name + " " + @product_software.software.version, [:admin, @product_software.software] %>
</p>


<%= link_to 'Edit', edit_admin_product_software_path(@product_software, locale: I18n.locale) %> |
<%= link_to 'Back', admin_product_softwares_path %>