<%= simple_form_for([:admin, @news], html: {multipart: true}) do |f| %>

  <%= f.input :title %>

  <div class="row">
    <div class="large-4 columns">
      <%= f.input :post_on, as: :string, input_html: { class: 'ui-datepicker' } %>
      <%= f.input :tag_list, input_html: { value: f.object.tag_list.to_s }, hint: "Use commas to separate tags" %>
      <%= f.input :news_photo %>
    </div>
  </div>
  <br/>
  <%= f.input :quote, input_html: { style: "height: 200px" } %>

  <br/>
  <%= f.input :body, input_html: { style: "height: 400px", class: "mceEditor" } %>
  <br/>

  <%= f.association :brands,
    as: :check_boxes,
    collection: Brand.where(live_on_this_platform: true).or(Brand.where(id: @news.brands.pluck(:id))).order(:name) %>

  <br/><%= f.button :submit %>

<% end %>
