<% set_meta_tags title: "News Admin - #{@news.title}",
				 reverse: true,
                 description: @news.title,
                 keywords: @news.keywords %>
<h1><%= title @news.title %></h1>
	<span class="little"><%= link_to(news_url(@news, locale: I18n.locale), news_url(@news, locale: I18n.locale)) %>
	<%= link_to(image_tag("icons/external_link_icon.png"), news_url(@news, locale: I18n.locale)) %></span>

<div class="button_container">
	<%= link_to 'Back', admin_news_index_path, class: "back button" %>
	<%= link_to 'Edit', edit_admin_news_path(@news, locale: I18n.locale), class: "edit button" %> 
	<%= link_to 'Delete', [:admin, @news], confirm: 'Are you sure?', method: :delete, class: "delete button" %> 
</div>
<p>
  Publish on: <%=l @news.post_on, format: :long %>
</p>

<%=truncate(strip_html(@news.body), length: 75) %>

<% if !@news.news_photo_file_name.blank? %>
  <p><%= image_tag(@news.news_photo.url(:thumb)) %></p>
<% end %>


<% if @products.count > 0 || @news.news_products.count > 0 %>
<div class="group">
	<h3>This news is associated with the following product(s):</h3>
	<% if @products.count > 0 %>
	<%= form_for [:admin, @news_product], remote: true do |f| %>
		<%= hidden_field_tag "called_from", "news" %>
	    <%= f.hidden_field :news_id %>
		<%= f.collection_select :product_id, @products, :id, :name %> 
		<%= submit_tag 'add' %>
	<% end %>
	<% end %>

	<ul id="news_products">
		<% @news.news_products.each do |np| %>
			<%= render '/admin/shared/news_product_row', np: np, called_from: 'news' %>
		<% end %>
	</ul>
</div>
<% end %>


<div class="group">
	<h3>Send News Email</h3>
	<%= form_for [:admin, @news], url: notify_admin_news_path(@news) do |f| %>
		<p><%= f.label :from %> (must be a valid address)<br/>
		<%= f.text_field :from %></p>
		<p><%= f.label :to %> (default sends it to HPro Executive list)<br/>
		<%= f.text_field :to %></p>
		<%= f.submit "Send News" %> <i>Regardless of the publication date, this will send notifications now.</i>
	<% end %>
	<p>config.hpro_execs = <%= HarmanSignalProcessingWebsite::Application.config.hpro_execs.join(", ") %></p>
</div>