<% set_meta_tags title: t('titles.community'),
				 reverse: true %>

<h1 class="page_title">
	<%= image_tag("#{website.folder}/#{I18n.locale}/soundcommunity_head.jpg", alt: t('titles.community')) %>
</h1>

<div class="medium_centered_box light_gray">
	<table>
		<tr>
			<td><%= link_to(image_tag("#{website.folder}/soundcommunity.png", alt: t('sound_community')), soundcomm_url) %></td>
			<td><h2><%= link_to ucfirst(t('sound_community')), soundcomm_url %></h2>
				<p><%= t('blurbs.sound_community') %></p>
				<p><%= t('visit_the') %> <%= link_to t("sound_community"), soundcomm_url %></p>
			</td>
		</tr>
	</table>
</div>
