<%= content_for :feature do %>
	<%= cache ["slideshow", website.brand, I18n.locale] do %>
		<% slides = Setting.slides(website) %>
		<% if slides.size > 0 %>
			<%= slideshow(slides: slides, duration: 8700, transition: "fade") %>
		<% end %>
	<% end %>
<% end %>

<% if current_user && can?(:manage, Setting) %>
<div class="admin_function" style="top: -335px">
	<%= link_to "edit", homepage_admin_settings_path %>
</div>
<% end %>

<%= content_for :middle_stuff do %>
	<%= cache ["homepage_middle", website.brand, I18n.locale] do %>
		<% if @features.size > 0 %>
			<% @features.each do |feature| %>
			<span class="homepage_feature"><%= feature_button(feature) %></span>
			<% end %>
		<% else %>
			<%= featured_product_families %>
		<% end %>
	  	<div class="clear"></div>
	<% end %>
<% end %>

<%= content_for :big_bottom_box do %>
	<%= cache ["homepage_bottom", website.brand, I18n.locale] do %>
		<div class="column">
			<h3>What Is The Harman Architectural Media System?</h3>
			<p>From the biggest entertainment
				equipment provider in the world,
				<b>HARMAN</b>'s premier installed
				sound solution has been designed
				with not only the contractor and the
				contractor's customer, but also the
				end user and the audience in mind.</p>
			<p>With core components from <b>BSS Audio</b>
				and <b>Crown</b>, its heritage lies in the
				greatest combination of processor and
				amplifier in the world. With the strength of 
				these brands as the system backbone, it is
				arguably the highest performing and most
				flexible installed system available today.</p>
		</div>
		<div class="column">
			<h3>Applications</h3>
			<p>Learn about <b>ARCHITECTURAL MEDIA SYSTEMS</b> in:</p>
			<ul>
				<li><%= link_to "Stadium", "/en-US/applications_sports" %></li>
				<li><%= link_to "House of Worship", "/en-US/applications_how" %></li>
				<li><%= link_to "Performing Arts Centers", "/en-US/applications_performing_arts" %></li>
				<li><%= link_to "Hotel / Hospitality" %></li>
				<li><%= link_to "Lecture Halls", "/en-US/applications_lecture_halls" %></li>
				<li><%= link_to "Multi-use Theater", "/applications_multi-use_theater" %></li>
				<li><%= link_to "Restaurants / Bars", "/en-US/applications_restaurants_bars" %></li>
				<li><%= link_to "School Gymnasiums", "/en-US/applications_school_gynmnasiums" %></li>
			</ul>
			<p>&nbsp;</p>
			<h3>Stay Connected</h3>
			<p>Follow <b>ARCHITECTURAL MEDIA SYSTEMS</b> on
				<b>FaceBook, Twitter, LinkedIn, RSS Feed</b> and
				<b>YouTube</b>.</p>
			<div id="social_media_links">
				<%= social_media_links 'facebook', 'twitter', 'linkedin', 'rss', 'youtube' %> 
			</div>
		</div>
		<div class="column">
			<%= render_partial "shared/column_for_youtube" %>
		</div>
		<div class="column">
			<h3>Networking</h3>
			<p>Whatever level and flavor of audio
				networking the system demands, BSS Audio
				<b>Soundweb London</b> and Crown <b>DriveCore
				Install Series</b> together provide the solution.</p>
			<%= image_tag "#{website.folder}/avnu.png" %>
			<p><b>ARCHITECTURAL MEDIA SYSTEMS</b> is AVB
				compatible and Harman is a founder member of the
				AVnu Alliance.</p>
			<%= image_tag "#{website.folder}/dante.png" %>
			<p><b>ARCHITECTURAL MEDIA SYSTEMS</b> is also
				Audinate Dante compatible.</p>
		</div>

		<div class="clear"></div>
	<% end %>
<% end %>

<%= cache ["preload", website.brand, I18n.locale] do %>
	<%= content_for :preload do %>
		<%= preload_background_images %>
	<% end %>
<% end %>

<%= content_for :popup_code do %>
	<% if website.homepage_popup %>
		<%=raw website.homepage_popup %>
	<% end %>
<% end %>