<% set_meta_tags title: translate_content(@product_family, :name),
				 reverse: true,
                 description: translate_content(@product_family, :intro),
                 keywords: translate_content(@product_family, :keywords) %>

<% if @product_family.has_custom_background? %>
	<%= content_for :custom_css do %>
		<style type="text/css" media="screen">
			body { <%= @product_family.custom_background %> }
		</style>
	<% end %>
<% end %>

<%= render_partial 'product_families/features' %>

<% if @product_family.show_comparisons? %>
	<%= form_tag compare_products_path, method: :get %>
<% end %>

<div class="row">
	<div class="large-12 columns">
    <%= render_partial "product_families/product_family", product_family: @product_family, skip_header: true  %>

    <% @children_with_current_products.each do |sub_family| %>
      <%= render_partial "product_families/product_family", product_family: sub_family %>
    <% end %>

    <% if @product_family.parent && @product_family.siblings_with_current_products.size > 0 %>
      <div class="related_products"><%= t('related_products') %>:
      <%= links_to_related_product_families(@product_family) %></div>
    <% end %>
	</div>
</div>

<% if @product_family.show_comparisons? %>
  </form>
<% end %>

<%= render_partial 'case_studies' %>

<% if @product_family.post_content.present? %>
  <%= raw @product_family.post_content %>
<% end %>

<% if @product_family.testimonials.length > 0 %>
  <div class="row">
    <div class="small-12 columns">
      <%= link_to "#{ @product_family.name } Testimonials", [@product_family, :testimonials], class: "medium button" %>
    </div>
  </div>
<% end %>

<% if current_user && can?(:manage, @product_family) %>
<div class="admin_function">
	<%= link_to "edit", [:admin, @product_family] %>
</div>
<% end %>
