<% set_meta_tags title: translate_content(@product_family, :name),
	reverse: true,
  description: @product_family.meta_description.present? ? translate_content(@product_family, :meta_description) : translate_content(@product_family, :intro),
  keywords: translate_content(@product_family, :keywords) %>

<% if @product_family.hide_from_navigation? %>
  <% set_meta_tags noindex: true %>
<% end %>

<% if @product_family.has_custom_background? %>
	<%= content_for :custom_css do %>
		<style type="text/css" media="screen">
			body { <%= @product_family.custom_background %> }
		</style>
	<% end %>
<% end %>

<%= content_for :custom_css do %>
	<style type="text/css">
		<%=raw @product_family.custom_css %>
	</style>
<% end %>

<% banner_slide_features = get_custom_feature_list(@product_family.features, "use_as_banner_slide") %>
<% default_features = get_custom_feature_list(@product_family.features, "default") %>
<% if banner_slide_features.present? && banner_slide_features.count > 1 %>
  <%= render_partial 'product_families/features_carousel', banner_slide_features: banner_slide_features %>
<% elsif default_features.present? %>
  <%= render_partial 'product_families/features', features: default_features %>
<% else %>
  <%= content_for :feature do %>
    <% if @product_family.title_banner.present? %>
      <%= render_partial 'product_families/title_banner_image_and_text_title' %>
    <% else %>
      <%= render_partial 'product_families/text_banner_only' %>
    <% end %>
  <% end %>
<% end %>

<div class="product_family_body">
  <% if current_user && can?(:manage, @product_family) %>
    <%= link_to edit_admin_product_family_path(@product_family), class: "edit-link", data: { opener: "edit-content" } do %>
      <%= fa_icon "edit" %> edit content
    <% end %>
    <%= render_partial "edit_content" %>
  <% end %>

  <% if @product_family.before_product_content.present? %>
    <div>
      <%=raw translate_content(@product_family, :before_product_content) %>
    </div>
  <% end %>

  <% if @product_family.show_comparisons? %>
    <%= form_tag compare_products_path, method: :post %>
  <% end %>

  <div class="row">
    <div class="large-12 columns">
      <%= render_partial "product_families/product_family", product_family: @product_family, skip_header: true  %>

      <% @children_with_current_products.each do |sub_family| %>
        <%= render_partial "product_families/product_family", product_family: sub_family %>
      <% end %>

      <% if @product_family.parent && @product_family.siblings_with_current_products.size > 0 %>
        <div class="related_products"><%= t('related_products') %>:
        <%= links_to_related_product_families(@product_family) %></div>
      <% end %>
    </div>
  </div>

  <% if @product_family.show_comparisons? %>
    </form>
  <% end %>

  <% show_below_products_features = get_custom_feature_list(@product_family.features, "show_below_products") %>
  <%= render_partial 'product_families/features', features: show_below_products_features %>

  <%= render_partial 'case_studies' %>

  <% if @product_family.accessories_content.present? %>
    <div class="overline"></div>
    <h3>Accessories</h3>
    <%= raw translate_content(@product_family, :accessories_content) %>
  <% end %>

  <% if @product_family.product_family_videos.size > 0 %>
    <%= render_partial "videos", product_family: @product_family %>
    <% show_below_videos_features = get_custom_feature_list(@product_family.features, "show_below_videos") %>
    <%= render_partial 'product_families/features', features: show_below_videos_features %>
  <% end %>

  <% if @product_family.post_content.present? %>
    <%=raw translate_content(@product_family, :post_content) %>
  <% end %>

  <% if @product_family.testimonials.length > 0 %>
    <div class="row">
      <div class="small-12 columns">
        <%= link_to "#{ @product_family.name } Testimonials", [@product_family, :testimonials], class: "medium button" %>
      </div>
    </div>
  <% end %>

  <%= render_partial 'shared/other_languages_button', item: @product_family %>

</div>
