
<ul class="button-group round">
    <li><%= link_to 'Programmers List', admin_vip_programmers_path, class: "small button round" %></li>
</ul>

<h1>Update AMX VIP Programmer Associations</h1>

<h3>
<% if @vip_programmer.site_elements.present? && @vip_programmer.site_elements.where(resource_type:'Logo').first.resource.present? %>
  <%= image_tag(@vip_programmer.site_elements.where(resource_type:'Logo').first.resource.url(:original), size: "80", alt: @vip_programmer.name, title: @vip_programmer.name) %>
<% end %>  
  <%=@vip_programmer.name%></h3>



<!-- first row  -->
<div class="row">
  <!-- Locations  -->
	<div class="small-12 medium-6 columns">
        <div class="group">
          <h4>Locations</h4>
          <p>Choose one or more location below. Doing so will associate this programmer with the location.</p>
          <%= simple_form_for [:admin, @vip_programmer_location], remote: true do |f| %>
            <%= f.hidden_field :vip_programmer_id %>
            <%= hidden_field_tag :called_from, "vip_programmer" %>
            <%= f.association :location, 
            collection: Vip::Location.not_associated_with_this_programmer(@vip_programmer_location.programmer), 
            label: false, 
            input_html: { class: 'chosen-select', multiple: true,  data: { placeholder: 'Select Locations'} }%>
            <%= f.submit "add location", class: "small round button", style:"margin-top:10px;" %>
          <% end %>
					
					Current locations
          <ul id="vip_programmer_locations" class="sortable_list">
            <% @vip_programmer_locations.order(:position).each do |association| %>
              <%= render "/admin/shared/vip_programmer_location_row", association: association, called_from: "vip_programmer" %>
            <% end %>
          </ul>
          
          <p>
          	Can't find the location in the list above? <%= link_to "Create a new location", new_admin_vip_location_path %>.
          </p>
          <p>Go to: <%= link_to "Locations List", admin_vip_locations_path %></p>
        </div>
        
  </div>
  <!-- Certifications  -->
	<div class="small-12 medium-6 columns">
        <div class="group">
          <h4>Industry Certifications</h4>
          <p>Choose one or more certification below. Doing so will associate this programmer with the certification.</p>

          <%= simple_form_for [:admin, @vip_programmer_certification], remote: true do |f| %>
            <%= f.hidden_field :vip_programmer_id %>
            <%= hidden_field_tag :called_from, "vip_programmer" %>
            <%= f.association :certification, 
            collection: Vip::Certification.not_associated_with_this_programmer(@vip_programmer_certification.programmer),
            label: false,
            input_html: { class: 'chosen-select', multiple: true,  data: { placeholder: 'Select Certifications'} }%>
            <%= f.submit "add certification", class: "small round button", style:"margin-top:10px;" %>
          <% end %>
					
					Current industry certifications
          <ul id="vip_programmer_certifications" class="sortable_list">
            <% @vip_programmer_certifications.order(:position).each do |association| %>
              <%= render "/admin/shared/vip_programmer_certification_row", association: association, called_from: "vip_programmer" %>
            <% end %>
          </ul>
          
          <p>
          	Can't find the industy certification in the list above? <%= link_to "Create a new certification", new_admin_vip_certification_path %>.
          </p>
          <p>Go to: <%= link_to "Industry Certifications List", admin_vip_certifications_path %></p>
        </div>
        
  </div>  
</div>

<!-- second row -->
<div class="row">
  <!-- Trainings  -->
	<div class="small-12 medium-6 columns" id="Trainings">
        <div class="group">
          <h4>Harman Certifications</h4>
          <p>Choose one or more Harman certification below. Doing so will associate this programmer with the Harman certification.</p>

          <%= simple_form_for [:admin, @vip_programmer_training], remote: true do |f| %>
            <%= f.hidden_field :vip_programmer_id %>
            <%= hidden_field_tag :called_from, "vip_programmer" %>
            <%= f.association :training, 
            collection: Vip::Training.not_associated_with_this_programmer(@vip_programmer_training.programmer),
            label: false,
            input_html: { class: 'chosen-select', multiple: true,  data: { placeholder: 'Select Trainings'} }%>
            <%= f.submit "add training", class: "small round button", style:"margin-top:10px;" %>
          <% end %>
					
					Current Harman certifications
          <ul id="vip_programmer_trainings" class="sortable_list">
            <% @vip_programmer_trainings.each do |association| %>
              <%= render "/admin/shared/vip_programmer_training_row", association: association, called_from: "vip_programmer" %>
            <% end %>
          </ul>
          
          <p>
          	Can't find the Harman certification in the list above? <%= link_to "Create a new Harman Certification", new_admin_vip_training_path %>.
          </p>
          <p>Go to: <%= link_to "Harman Certifications List", admin_vip_trainings_path %></p>
          <a href="#">Go to top</a>
        </div>
        
  </div>  
  
  <!-- markets  -->
	<div class="small-12 medium-6 columns" id="markets">
        <div class="group">
          <h4>Services</h4>
          <p>Choose one or more service below. Doing so will associate this programmer with the service.</p>

          <%= simple_form_for [:admin, @vip_programmer_service], remote: true do |f| %>
            <%= f.hidden_field :vip_programmer_id %>
            <%= hidden_field_tag :called_from, "vip_programmer" %>
            <%= f.association :service, 
            collection: Vip::Service.not_associated_with_this_programmer(@vip_programmer_service.programmer),
            label: false,
            input_html: { class: 'chosen-select', multiple: true,  data: { placeholder: 'Select services'} }%>
            <%= f.submit "add service", class: "small round button", style:"margin-top:10px;" %>
          <% end %>
					
					Current services
          <ul id="vip_programmer_services" class="sortable_list">
            <% @vip_programmer_services.order(:position).each do |association| %>
              <%= render "/admin/shared/vip_programmer_service_row", association: association, called_from: "vip_programmer" %>
            <% end %>
          </ul>
          
          <p>
          	Can't find the service in the list above? <%= link_to "Create a new service", new_admin_vip_service_path %>.
          </p>
          <p>Go to: <%= link_to "Services List", admin_vip_services_path %></p>
          <a href="#">Go to top</a>
        </div>
        
  </div>   
  
</div>

<!-- third row  -->
<div class="row">
  <!-- Markets  -->
	<div class="small-12 medium-6 columns" id="Markets">
        <div class="group">
          <h4>Markets</h4>
          <p>Choose one or more market below. Doing so will associate this programmer with the market.</p>

          <%= simple_form_for [:admin, @vip_programmer_market], remote: true do |f| %>
            <%= f.hidden_field :vip_programmer_id %>
            <%= hidden_field_tag :called_from, "vip_programmer" %>
            <%= f.association :market, 
            collection: Vip::Market.not_associated_with_this_programmer(@vip_programmer_market.programmer),
            label: false,
            input_html: { class: 'chosen-select', multiple: true,  data: { placeholder: 'Select markets'} }%>
            <%= f.submit "add market", class: "small round button", style:"margin-top:10px;" %>
          <% end %>
					
					Current markets
          <ul id="vip_programmer_markets" class="sortable_list">
            <% @vip_programmer_markets.each do |association| %>
              <%= render "/admin/shared/vip_programmer_market_row", association: association, called_from: "vip_programmer" %>
            <% end %>
          </ul>
          
          <p>
          	Can't find the market in the list above? <%= link_to "Create a new market", new_admin_vip_market_path %>.
          </p>
          <p>Go to: <%= link_to "Markets List", admin_vip_markets_path %></p>
          <a href="#">Go to top</a>
        </div>
        
  </div> 
  <!-- phones  -->
	<div class="small-12 medium-6 columns" id="Websites">
        <div class="group">
          <h4>Websites</h4>
          <p>Choose one or more website below. Doing so will associate this programmer with the website.</p>

          <%= simple_form_for [:admin, @vip_programmer_website], remote: true do |f| %>
            <%= f.hidden_field :vip_programmer_id %>
            <%= hidden_field_tag :called_from, "vip_programmer" %>
            <%= f.association :website, 
            collection: Vip::Website.not_associated_with_this_programmer(@vip_programmer_website.programmer),
            label: false,
            label_method: :url,
            input_html: { class: 'chosen-select', multiple: true,  data: { placeholder: 'Select websites'} }%>
            <%= f.submit "add website", class: "small round button", style:"margin-top:10px;" %>
          <% end %>
					
					Current websites
          <ul id="vip_programmer_websites" class="sortable_list">
            <% @vip_programmer_websites.each do |association| %>
              <%= render "/admin/shared/vip_programmer_website_row", association: association, called_from: "vip_programmer" %>
            <% end %>
          </ul>
          
          <p>
          	Can't find the website in the list above? <%= link_to "Create a new website", new_admin_vip_website_path %>.
          </p>
          <p>Go to: <%= link_to "Websites List", admin_vip_websites_path %></p>
          <a href="#">Go to top</a>
        </div>
        
  </div>   
</div>

<!-- forth row  -->
<div class="row">
  <!-- Emails  -->
	<div class="small-12 medium-6 columns" id="Emails">
        <div class="group">
          <h4>Emails</h4>
          <p>Choose one or more email below. Doing so will associate this programmer with the email.</p>

          <%= simple_form_for [:admin, @vip_programmer_email], remote: true do |f| %>
            <%= f.hidden_field :vip_programmer_id %>
            <%= hidden_field_tag :called_from, "vip_programmer" %>
            <%= f.association :email, 
            collection: Vip::Email.not_associated_with_this_programmer(@vip_programmer_email.programmer),
            label: false,
            label_method: :email,
            input_html: { class: 'chosen-select', multiple: true,  data: { placeholder: 'Select emails'} }%>
            <%= f.submit "add email", class: "small round button", style:"margin-top:10px;" %>
          <% end %>
					
					Current emails
          <ul id="vip_programmer_emails" class="sortable_list">
            <% @vip_programmer_emails.each do |association| %>
              <%= render "/admin/shared/vip_programmer_email_row", association: association, called_from: "vip_programmer" %>
            <% end %>
          </ul>
          
          <p>
          	Can't find the email in the list above? <%= link_to "Create a new email", new_admin_vip_email_path %>.
          </p>
          <p>Go to: <%= link_to "Emails List", admin_vip_emails_path %></p>
          <a href="#">Go to top</a>
        </div>
        
  </div>   
  <!-- Phones  -->
	<div class="small-12 medium-6 columns" id="Phones">
        <div class="group">
          <h4>Phones</h4>
          <p>Choose one or more phone below. Doing so will associate this programmer with the phone.</p>

          <%= simple_form_for [:admin, @vip_programmer_phone], remote: true do |f| %>
            <%= f.hidden_field :vip_programmer_id %>
            <%= hidden_field_tag :called_from, "vip_programmer" %>
            <%= f.association :phone, 
            collection: Vip::Phone.not_associated_with_this_programmer(@vip_programmer_phone.programmer),
            label: false,
            label_method: :phone,
            input_html: { class: 'chosen-select', multiple: true,  data: { placeholder: 'Select phones'} }%>
            <%= f.submit "add phone", class: "small round button", style:"margin-top:10px;" %>
          <% end %>
					
					Current phones
          <ul id="vip_programmer_phones" class="sortable_list">
            <% @vip_programmer_phones.each do |association| %>
              <%= render "/admin/shared/vip_programmer_phone_row", association: association, called_from: "vip_programmer" %>
            <% end %>
          </ul>
          
          <p>
          	Can't find the phone in the list above? <%= link_to "Create a new phone", new_admin_vip_phone_path %>.
          </p>
          <p>Go to: <%= link_to "Phones List", admin_vip_phones_path %></p>
          <a href="#">Go to top</a>
        </div>
        
  </div>  
</div>

