<h1>Listing rep questions</h1>

<table>
  <tr>
    <th>Rep report</th>
    <th>Question</th>
    <th></th>
    <th></th>
  </tr>

<% @rep_questions.each do |rep_question| %>
  <tr>
    <td><%= rep_question.rep_report_id %></td>
    <td><%= rep_question.question %></td>
    <td><%= link_to 'Show', [:admin, rep_question] %></td>
    <td><%= link_to 'Edit', edit_admin_rep_question_path(rep_question) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Rep question', new_admin_rep_question_path %>
