<p>
  <b>Rep report:</b>
  <%= @rep_question.rep_report_id %>
</p>

<p>
  <b>Question:</b>
  <%= @rep_question.question %>
</p>


<%= link_to 'Edit', edit_admin_rep_question_path(@rep_question) %> |
<%= link_to 'Delete', [:admin, @rep_question], :confirm => 'Are you sure?', :method => :delete %> |
<%= link_to 'Back', admin_rep_questions_path %>
