<h2><%= @rso_page.name %></h2>

<ul class="button-group round">
	<li><%= link_to 'Back', admin_rso_pages_path, class: "small secondary button" %></li>
	<li><%= link_to 'Edit', edit_admin_rso_page_path(@rso_page), class: "small secondary button" %> </li>
	<li><%= link_to 'Delete', [:admin, @rso_page], confirm: 'Are you sure?', method: :delete, class: "small alert button" %></li>
</ul>

<div>
	<%= link_to @rso_page.full_url, @rso_page.full_url %>
</div>

<%= raw @rso_page.content %>
