<%= simple_form_for [:admin, @brand] do |f| %>

  <div class="row">
    <div class="large-4 columns">
      <%= f.input :name %>
    </div>
    <div class="large-4 columns">
      <%= f.input :default_website_id, collection: @brand.websites, label_method: :url %>
    </div>
    <div class="large-4 columns"></div>
  </div>

  <fieldset>
    <legend>Settings</legend>
    <div class="row">
      <div class="large-6 columns">
        <%= f.input :has_market_segments, label: "Has vertical markets" %>
        <%= f.input :has_products %>
        <%= f.input :redirect_product_pages_to_parent_brand, label: "Redirect products that belong to other brands to its brand site" %>
        <%= f.input :has_product_registrations %>
      	<%= f.input :product_trees, label: "Products can have sub-products (epedals, expansion cards, etc.)" %>
      	<%= f.input :has_effects %>
      	<%= f.input :has_reviews %>
      	<%= f.input :has_faqs %>
      	<%= f.input :has_artists %>
        <%= f.input :has_events %>
      	<%= f.input :has_software, label: "Has software downloads" %>
        <%= f.input :has_solution_pages %>
      	<%= f.input :has_registered_downloads %>
        <%= f.input :show_pricing, label: "Show pricing on product pages, enable direct-buy features" %>
        <%= f.input :has_suggested_products %>
        <%= f.input :has_audio_demos %>
        <%= f.input :has_parts_library %>
        <%= f.input :always_redirect_to_youtube, label: "Redirect videos page to brand YouTube site" %>
        <%= f.input :collapse_content, label: "Collapse content for ALL of this brand's products." %>
      </div>
      <div class="large-6 columns">
        <%= f.input :has_photometrics %>
        <%= f.input :has_dealers %>
        <%= f.input :dealers_are_us_only, label: "Dealers are US-only" %>
        <%= f.input :dealers_include_rental_and_service %>
      	<%= f.input :has_online_retailers %>
      	<%= f.input :has_us_sales_reps %>
      	<%= f.input :has_distributors %>
        <%= f.input :send_contact_form_to_distributors %>
        <%= f.input :send_contact_form_to_regional_support %>
      	<%= f.input :has_service_centers %>
        <%= f.input :has_vintage_repair %>
      	<%= f.input :has_parts_form, label: "Site has online parts request form" %>
      	<%= f.input :has_rma_form, label: "Site has online RMA form" %>
      	<%= f.input :has_training, label: "Has training resources" %>
        <%= f.input :has_installations %>
        <%= f.input :has_get_started_pages %>
        <%#= f.input :offers_rentals %>
        <%= f.input :employee_store, label: "Show on employee store" %>
      	<%= f.input :live_on_this_platform, label: "Live on this platform (employee store will link back to this site)" %>
        <%= f.input :has_product_selector %>
        <%= f.input :show_lead_form_on_buy_page %>
        <%= f.input :harman_owned, label: "HARMAN owns this brand (un-check for brands which were sold)" %>
      </div>
    </div>
  </fieldset>
  <br/>

  <div class="row">
    <div class="large-4 columns">
    	<%= f.label :dealers_from_brand_id, "Use dealers (US) from:" %>
    	<%= f.collection_select :dealers_from_brand_id, (Brand.all - [@brand]), :id, :name, include_blank: true %>
    </div>
    <div class="large-4 columns">
    	<%= f.label :distributors_from_brand_id, "Use distributors (int'l) from:" %>
    	<%= f.collection_select :distributors_from_brand_id, (Brand.all - [@brand]), :id, :name, include_blank: true %>
    </div>
    <div class="large-4 columns">
  <%= f.input :logo %>
    <% unless @brand.logo_file_name.blank? %>
      <span class="hint">currently: <%= link_to @brand.logo_file_name, @brand.logo.url %></span>
    <% end %>
    </div>
  </div>

  <div class="row">
    <div class="large-4 columns">
      <%= f.label :dealers_from_brand_id, "Use sales reps (US) from:" %>
      <%= f.collection_select :us_sales_reps_from_brand_id, (Brand.all - [@brand]), :id, :name, include_blank: true %>
    </div>
    <div class="large-4 columns">
      <%= f.label :service_centers_from_brand_id, "Use service centers (US) from:" %>
      <%= f.collection_select :service_centers_from_brand_id, (Brand.all - [@brand]), :id, :name, include_blank: true %>
    </div>
    <div class="large-4 columns">
      <%= f.input :color, label: "Hex color", hint: "for gantt charts", placeholder: '#777777' %>
    </div>
  </div>

  <div class="row">
    <div class="large-8 columns">
      <%= f.input :news_feed_url, label: "News feed URL (for RSO site to pull from) " %>
    </div>
    <div class="large-4 columns">
      <%= f.input :default_locale, hint: "(can also be set per-website)" %>
    </div>
  </div>
  <br/><%= f.button :submit %>
<% end %>
