<h1><%= @brand.name %></h1>

<ul class="button-group round">
	<li><%= link_to 'Back', admin_brands_path, class: "small secondary button" %></li>
	<% if can? :manage, @brand %>
	<li><%= link_to 'Edit', edit_admin_brand_path(@brand), class: "small secondary button" %> </li>
	<li><%= link_to 'Delete', [:admin, @brand], confirm: 'Are you sure?', method: :delete, class: "small alert button" %> </li>
	<% end %>
</ul>

<h3 class="subheader">Websites</h3>

<ul class="list">
	<% @brand.websites.each do |website| %>
	<li>
		<%= link_to website.url, [:admin, website] %>
		<% if @brand.default_website == website %>(default)<% end %>
	</li>
	<% end %>
</ul>

<h5 class="subheader">Latest Admin Actions</h5>

<table class="data">
	<tr>
		<th>Time</th>
		<th>User</th>
		<th>Website</th>
		<th>Action</th>
	</tr>
	<% @brand.admin_actions(2).order("created_at DESC").each do |log| %>
	<tr>
		<td><%=l log.created_at, format: :log %></td>
		<td><%= link_to log.user.name, [:admin, log.user] %></td>
		<td><%= log.website.url %></td>
		<td><%= log.action %></td>
	</tr>
	<% end %>
</table>