<%= content_for :breadcrumbs do %>
  <li><%= link_to @brand.name, [:toolkit, @brand] %></li>
  <li><%= link_to "Products", toolkit_brand_products_path(@brand) %></li>
  <li class="current"><span><%= @product_family.name %></span></li>
<% end %>

<%= content_for :title do %><%= @brand.name %> <%= @product_family.name %><% end %>

<%= render "toolkit/brands/left_nav" %>

<h2><%= @brand.name %> <%= @product_family.name %></h2>

<% if @product_family.current_products.size > 0 %>
	<%= render "products", product_family: @product_family, level: 1 %>
<% end %>

<% @product_family.children_with_current_products(@brand).each do |product_family| %>
	<h5><%= product_family.name %></h5>
	<%= render "products", product_family: product_family %>
<% end %>

<% if @product_family.all_discontinued_products.size > 0 %>
<br/>
	<h6>Discontinued Products</h6>
	<table style="width: 100%">
		<thead>
		<tr>
			<th width="33%" colspan="2">Product</th>
			<th width="66%">Product Type</th>
		</tr>
		</thead>
		<tbody>
		<% @product_family.all_discontinued_products.each do |product| %>
			<%= render "product_row", product: product %>
		<% end %>
		</tbody>
	</table>
<% end %>
