<% if toolkit_support_files(object, resource_type_name).length > 0 %>
	<h5 class="subheader"><%= resource_type_name.pluralize %></h5>
	<div class="row">
		<% toolkit_support_files(object, resource_type_name).each do |toolkit_resource| %>
			<div class="two columns"> 
				<%= link_to toolkit_brand_toolkit_resource_path(@brand, toolkit_resource) do %>
					<div class="panel">
						<%= image_tag(toolkit_resource.tk_preview.url(:tiny)) %> 
						<h5><%= toolkit_resource.name %></h5>
						<% if toolkit_resource.download_file_size.present? %>
						[<%= number_to_human_size(toolkit_resource.download_file_size) %>]
						<% end %>
					</div>
				<% end %>
			</div>
		<% end %>
	</div>
<% end %>