<h1>FAQs</h1>

<% if can? :create, Faq %>
<ul class="button-group round">
	<li><%= link_to 'New FAQ', new_admin_faq_path, class: "small success button" %></li>
	<li><%= link_to 'New Category', new_admin_faq_category_path, class: "small success button" %></li>
</ul>
<% end %>

<%= search_form_for [:admin, Faq.ransack], class: "custom" do |f| %>
  <div class="row collapse">
    <div class="large-5 medium-5 small-12 columns">
      <%= f.text_field :question_cont, placeholder: "Question contains..." %>
    </div>
    <div class="large-5 medium-5 small-12 columns">
      <%= f.text_field :product_name_cont, placeholder: "Related product name (optional)" %>
    </div>
    <div class="large-2 medium-2 small-12 columns">
      <%= f.submit "Search", class: "postfix round secondary button" %>
    </div>
  </div>
<% end %>

<% if @faqs %>
  <h5 class="subheader">Search Results:</h5>
  <ul class="list">
  <% @faqs.each do |faq| %>
    <% if faq.product %>
        <li><%= link_to "#{faq.product.name}: #{faq.question}", [:admin, faq] %></li>
      <% else %>
      <li><%= link_to faq.question, [:admin, faq] %></li>
    <% end %>
  <% end %>
  </ul>
<% elsif website.brand.faq_categories.length > 0 %>
  <h5 class="subheader">FAQ categories</h5>
  <ul class="list">
    <% website.brand.faq_categories.each do |cat| %>
      <li><%= link_to cat.name, [:admin, cat] %> (<%= cat.faqs.length %>)</li>
    <% end %>
  </ul>
<% end %>


