<h1 class="page_title"><%= website.brand_name %> Warranty Policy</h1>

<div class="wide_centered_box">
<p>When sold to an end user by <%= website.brand_name %> or a <%= website.brand_name %> Authorized Reseller, this unit is warranted by the seller to the purchaser against defects in workmanship and the materials used in its manufacture for a period of one year from the date of sale.</p>

<p>Faults arising from misuse, unauthorized modifications or accidents are not covered under this warranty. No other warranty is expressed or implied.</p>

<p>If the unit is faulty it should be sent to the seller of the equipment, in its original packaging with shipping prepaid. The unit will be returned to you when the repair has been completed. If the unit was purchased in the European Union, you may, as an alternative, return the unit to any other <%= website.brand_name %> distributor in the European Union.</p>

<p>IMPORTANT: You should include a statement listing the faults found. The unit's serial number must be quoted in all correspondence relating to a claim.</p>

<p>We recommend that you record your purchase information for future reference.</p>

<p>In keeping with our policy of continued improvement, <%= website.brand_name %> reserve the right to alter specifications without prior notice. </p>
</div>
