<div class="news-slider" data-equalizer="news-headline">
  <% News.all_for_website(website)[0,20].each do |news| %>
    <div class="slide">
      <%= link_to news do %>
        <div class="text-center">
          <% if news.square.present? %>
            <%= image_tag news.square(:medium_square),
              alt: translate_content(news, :title),
              lazy: false,
              data: { lazy: news.square(:medium_square) } %>
          <% else %>
            <%= image_tag news.news_photo(:medium_square),
              alt: translate_content(news, :title),
              lazy: false,
              data: { lazy: news.news_photo(:medium_square) } %>
          <% end %>
        </div>
        <div class="white-text-box" data-equalizer-watch="news-headline">
          <h5><%= translate_content(news, :title) %></h5>
          <small><%=l news.post_on, format: :long %></small>
        </div>
      <% end %>
    </div>
  <% end %>
</div>



