<%= cache ["news_strip", website.brand, I18n.locale] do %>
  <% if website.has_news? %>
      <div class="homepage_block">
        <div class="row">
          <div class="medium-6 small-12 columns">
            <div class="overline" aria-hidden="true">&nbsp;</div>
            <h2><%= homepage_news_header %></h2>
          </div>
          <div class="medium-6 small-12 columns text-right">
            <%= link_to news_index_path, class: "secondary small button" do %>
              <%= t :more %>
              <%= t :news %>
            <% end %>
          </div>
        </div>
        <%= render_partial 'shared/column_for_news_and_reviews' %>
      </div>
  <% end %>
<% end %>

