<%
	@meta = Page.find_by lcl_name: 'sda'
	page_title = "Change your password"
	meta title: 	page_title,
	robots: 		"noindex, nofollow"
%>
<div id="header_bc">
	<div id="header_spacer"></div>
	<div id="header_bc_image" >
	<%= image_tag('top_border.gif') %>
	</div>
	<div id="bc">
	<nav class="breadcrumbs" role="menubar" aria-label="breadcrumbs">
		<li class="unavailable"  aria-disabled="true">>></li>
	    <li role="menuitem"><a href="/">Home</a></li>
	    <li role="menuitem"><a href="/sda">SDA</a></li>
	    <li role="menuitem" class="current"><a href="#"><%= page_title %></a></li>
	</nav>
	</div>
</div>
<div class="row">
	<div class="small-1 medium-3 large-3 columns">&nbsp;</div>
	<div class="small-9 medium-6 large-6 columns end" >
		<br />
		<br />
		<%= render "sda/shared/alert_message" %>
		<h1><%= page_title %></h1> 
		<div class="sda_box">
			<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
			  <%= f.error_notification %>
			
			  <div class="form-inputs">
			    <%= f.input :email, required: true, autofocus: true %>
			
			    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
			      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
			    <% end %>
			
			    <%= f.input :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false %>
			    <%= f.input :password_confirmation, required: false %>
			    <%= f.input :current_password, hint: "we need your current password to confirm your changes", required: true %>
			  </div>
			
			  <div class="form-actions">
			    <%= f.button :submit, "Update", class: "radius" %>
			  </div>
			<% end %>
		</div>
		<%= link_to "Back", :back %>
		<br />
		<br />
	</div>
</div>
