<h1><%= @tone_library_song.title %></h1>

<ul class="button-group round">
	<li><%= link_to 'Back', admin_tone_library_songs_path, class: "small secondary button" %></li>
	<li><%= link_to 'Edit', edit_admin_tone_library_song_path(@tone_library_song), class: "small secondary button" %> </li>
	<li><%= link_to 'Delete', [:admin, @tone_library_song], confirm: 'Are you sure?', method: :delete, class: "small alert button" %></li>
</ul>

<p>
  <b>Artist name:</b>
  <%= @tone_library_song.artist_name %>
</p>

<div class="group">
<h3>Patches</h3>
<%= form_for [:admin, @tone_library_patch], html: {multipart: true} do |f| %>
    <%= f.hidden_field :tone_library_song_id %>
	<%= f.collection_select :product_id, Product.non_discontinued(website), :id, :name %> 
	<%= f.file_field :patch %>
	<%= submit_tag 'upload new patch', class: "small round button"  %>
<% end %>

<ul id="patches">
	<% @tone_library_song.tone_library_patches.each do |tlp| %>
		<%= render '/admin/shared/tone_library_patch_row', tlp: tlp %>
	<% end %>
</ul>
</div>