<%= form_for([:admin, @training_module], html: {multipart: true}) do |f| %>
  <% if @training_module.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@training_module.errors.count, "error") %> prohibited this module from being saved:</h2>

      <ul>
      <% @training_module.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "Title" %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :training_module, "Video, Flash, etc." %><br />
    <%= f.file_field :training_module %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, class: "mceEditor" %>
  </div>
  <% if @training_module.new_record? %>
	<div class="hint">We'll associate products and software to this module AFTER uploading the content.</div>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
