<%= simple_form_for [:admin, @training_module] do |f| %>

    <%= f.input :name %>
    <%= f.input :training_module, label: "Video, Flash, etc." %>
    <div class="row">
      <div class="large-6 columns">
        <%= f.input :width %>
      </div>
      <div class="large-6 columns">
        <%= f.input :height %>
      </div>
    </div>
    <%= f.input :description, input_html: {class: "mceEditor"} %>

  <% if @training_module.new_record? %>
	<div class="small">We'll associate products and software to this module AFTER uploading the content.</div>
  <% end %>

  <br/><%= f.button :submit %>

<% end %>
