<%= content_for :feature do %>
	<%= cache ["slideshow", website.brand] do %>
		<% if Setting.slides(website).size > 0 %>
			<%= slideshow(:slides => Setting.slides(website), :duration => 8700, :transition => "fade") %>
		<% end %>
	<% end %>
<% end %>

<% if current_user && can?(:manage, Setting) %>
<div class="admin_function" style="top: -335px">
	<%= link_to "edit", homepage_admin_settings_path %>
</div>
<% end %>

<%= content_for :middle_stuff do %>
	<%= cache ["homepage_middle", website.brand] do %>

		<% if @features.size > 0 %>
			<% @features.each do |feature| %>
			<span class="homepage_feature"><%= feature_button(feature) %></span>
			<% end %>
		<% else %>
			<% @product_families.each do |product_family| %>
			<% if product_family.family_photo_file_name.blank? %>
				<div id="<%= product_family.to_param %>" class="product_family_feature">
				  <h2><%= link_to translate_content(product_family, :name), product_family %></h2>
					<p><%= translate_content(product_family, :intro) %></p>
					<%= link_to t('view_full_line'), product_family %>
				</div>
			<% else %>
				  <span class="family_button">
					  <%= link_to(image_tag(product_family.family_photo.url, :alt => product_family.name), product_family) %>
				  </span>
			<% end %>
			<% end %>
		  <% unless @product_families.size > 3 %>
			<% if @current_promotions.size > 0 %>
				<%= link_to(image_tag("#{website.folder}/#{I18n.locale}/promotions.png", :alt => "promotions"), promotions_path) %>
			<% end %>
		  <% end %>
		<% end %>

	  	<div class="clear"></div>

	<% end %>
<% end %>

<%= content_for :big_bottom_box do %>
	<%= cache ["homepage_bottom", website.brand, Date.today] do %>
		<div class="column">
			<% if website.homepage_column_one %>
				<%= render_partial "shared/column_for_#{website.homepage_column_one}" %>
			<% else %>
				<%= render_partial 'shared/column_for_where_to_buy' %>
			<% end %>
		</div>
		<div class="column">
			<% if website.email_signup_url %>
				<%= render_partial 'shared/newsletter_signup' %>
			<% end %>
			<% if website.homepage_column_two %>
				<%= render_partial "shared/column_for_#{website.homepage_column_two}" %>
			<% else %>
				<%= render_partial 'shared/column_for_twitter' %>
			<% end %>	
		</div>
		<div class="column">
			<% if website.homepage_column_three %>
				<%= render_partial "shared/column_for_#{website.homepage_column_three}" %>
			<% elsif @youtube && !@youtube.blank? %>
				<%= render_partial 'shared/column_for_youtube' %>
			<% elsif !website.facebook.blank? %>
				<%= render_partial 'shared/column_for_facebook' %>
			<% end %>
		</div>
		<div class="column">
			<% if website.homepage_column_four %>
				<%= render_partial "shared/column_for_#{website.homepage_column_four}" %>
			<% else %>
				<%= render_partial "shared/column_for_artists" %>
			<% end %>
		</div>

		<div class="clear"></div>
	<% end %>
<% end %>

<%= cache ["preload", website.brand, Date.today] do %>
	<%= content_for :preload do %>
		<%= preload_background_images %>
	<% end %>
<% end %>

<%= content_for :popup_code do %>
	<% if website.homepage_popup %>
		<%=raw website.homepage_popup %>
	<% end %>
<% end %>