<%= simple_form_for [:admin, @artist] do |f| %>
  <div class="row">
  	<div class="large-8 columns">
  		<%= f.input :name %>
  	</div>
  	<div class="large-4 columns">
  		<%= f.association :artist_tier, collection: ArtistTier.all %>
  	</div>
  </div>

  <%= f.input :featured, label: "Featured in the slideshow on the Artist page." %><br/>

<%= simple_fields_for @artist_brand do |ab| %>
  <%= ab.input :intro,
  		label: "Intro text (Used for the featured artists slideshow)",
  		input_html: { class: "mceEditor", style: "height: 120px" } %><br/>
<% end %>

  <%= f.input :bio, input_html: { class: "mceEditor", style: "height: 300px" } %><br/>
  <%= f.input :notable_career_moments, input_html: { class: "mceEditor", style: "height: 200px" } %><br/>

	<div class="row">
		<div class="large-6 columns">
  			<%= f.input :website %>
  		</div>
  		<div class="large-6 columns">
  			<%= f.input :email, hint: "Enter a unique dummy address if this artist doesn't need to login.", input_html: { autocomplete: "off" } %>
  		</div>
  	</div>


  <%= f.input :artist_photo %>
	<% unless @artist.artist_photo_file_name.blank? %>
	<span class="hint">
		leave blank to keep: <%= link_to(@artist.artist_photo_file_name, @artist.artist_photo.url) %>
	</span>
	<% end %>

  <%= f.input :artist_product_photo %>
	<% unless @artist.artist_product_photo_file_name.blank? %>
	<span class="hint">
		leave blank to keep: <%= link_to(@artist.artist_product_photo_file_name, @artist.artist_product_photo.url) %>
	</span>
	<% end %>


<% if @artist.new_record? %>
	<%= f.input :password, input_html: { autocomplete: "off" } %>
	<%= f.input :password_confirmation, input_html: { autocomplete: "off" } %>
<% end %>

	<br/><%= f.input :approved, as: :boolean %><br/>

	<br/><%= f.button :submit %>
<% end %>
