<h1>Artists</h1>

<% if can? :create, Artist %>
<ul class="button-group round">
	<li><%= link_to 'New artist', new_admin_artist_path, class: "small success button" %></li>
</ul>
<% end %>

<h2>Featured Artists</h2>
<ul id="artists" class="sortable_list">
<% @featured_artists.each do |artist| %>
  <li id="artist_<%= artist.id %>"><%= link_to artist.name, [:admin, artist] %></li>
<% end %>
</ul>
<%#= sortable_element "artists", url: update_order_admin_artists_path %>

<% if @unapproved_artists.size > 0 %>
<h2>Unapproved Artists (<%= @unapproved_artists.size %>)</h2>
<table border="0" class="data">
	<tr>
		<th>Name</th>
		<th>Invitation Code</th>
		<th>Tier</th>
		<th>Created</th>
		<th>Updated</th>
	</tr>
	<% @unapproved_artists.each do |artist| %>
	<tr>
		<td><%= link_to artist.name, [:admin, artist] %></td>
		<td><%= artist.invitation_code %></td>
		<td><%= (artist.artist_tier) ? artist.artist_tier.name : "" %></td>
		<td><%=l artist.created_at.to_date, format: :long %></td>
		<td><%=l artist.updated_at.to_date, format: :long %></td>
	</tr>
	<% end %>
</table>
<% end %>

<% if @the_rest.size > 0 %>
<h2>The Rest</h2>
<table border="0" class="data">
	<tr>
		<th>Name</th>
		<th>Approver</th>
		<th>Tier</th>
		<th>Created</th>
		<th>Updated</th>
	</tr>
	<% @the_rest.sort_by{|a| a.name.upcase}.each do |artist| %>
	<tr>
		<td><%= link_to artist.name, [:admin, artist] %></td>
		<td><%= artist.approver.name %></td>
		<td><%= (artist.artist_tier) ? artist.artist_tier.name : "" %></td>
		<td><%=l artist.created_at.to_date, format: :long %></td>
		<td><%=l artist.updated_at.to_date, format: :long %></td>
	</tr>
	<% end %>
</table>
<% end %>