<h1>
	<%=h @artist.name %>
	<span class="little"><%= link_to(artist_url(@artist, locale: I18n.locale), artist_url(@artist, locale: I18n.locale)) %>
	<%= link_to(image_tag("icons/external_link_icon.png"), artist_url(@artist, locale: I18n.locale)) %></span>
</h1>

<ul class="button-group round">
	<li><%= link_to admin_artists_path, class: "small secondary button" do %>
    <%= fa_icon "angle-double-left" %>
  <% end %>
  </li>
	<li><%= link_to edit_admin_artist_path(@artist, locale: I18n.locale), class: "small secondary button" do %>
      <%= fa_icon "edit" %>
      Edit
    <% end %>
  </li>
	<li><%= link_to [:admin, @artist], confirm: 'Are you sure?', method: :delete, class: "small alert button" do %>
    <%= fa_icon "trash" %>
    Delete
  <% end %>
  </li>
</ul>

<div class="row">
	<div class="large-9 columns">
		<p>
			<b>Artist Tier:</b>
			<%= (@artist.artist_tier) ? link_to(@artist.artist_tier.name, [:admin, @artist.artist_tier]) : "" %>
		</p>

		<p><b>Summary:</b>
			<%= (@artist_brand.intro.blank?) ? "" : strip_html(@artist_brand.intro) %>
		</p>

		<p>
		  <b>Website:</b>
		  <%=h @artist.website %>
		</p>

		<p>
		  <b>Email:</b>
		  <%= mail_to @artist.email, @artist.email %>
		</p>

		<p>
		  <b>Featured?</b>
		  <%= (@artist.featured) ? "yes" : "no" %>
		</p>

		<p>
			<b>Approval Status:</b>
			<%= @artist.approval_status %>
		</p>
	</div>
	<div class="large-3 columns">

		<% unless @artist.artist_photo_file_name.blank? %>
		  	<%= link_to(image_tag(@artist.artist_photo.url(:tiny_square)), @artist.artist_photo.url) %>
		<% end %>
		<% unless @artist.artist_product_photo_file_name.blank? %>
		  	<%= link_to(image_tag(@artist.artist_product_photo.url(:tiny_square)), @artist.artist_product_photo.url) %>
		<% end %>
	</div>
</div>

<div class="group">
	<h4 class="subheader">Products this artist uses</h4>
	<%= simple_form_for [:admin, @artist_product], remote: true do |f| %>
		<%= f.hidden_field :artist_id %>
		<%= hidden_field_tag :called_from, "artist" %>
		<%= f.association :product, collection: website.products %>
		<%= f.input :quote, label: "Artist quote" %>
		<%= f.input :on_tour, as: :boolean, label: "on tour with this product" %>
		<br/><%= f.submit "add product", class: "small round button" %>
	<% end %>
	<ul id="artist_products" class="list">
		<% @artist.artist_products.find_each do |ap| %>
		<%= render "/admin/shared/artist_product_row", ap: ap, called_from: "artist" %>
		<% end %>
	</ul>
</div>
