<h2>AMX Valued Independent Partners</h2>

<p>AMX Valued Independent Partners (VIP) represent an elite level of AV control system programming and user interface design expertise. VIPs maintain yearly ACE certification, hold certification by at least one AV trade organization, and meet stringent business practice criteria to be hand-selected for AMX's VIP program. What does this mean to you? Reliable, reputable, and thoroughly knowledgeable service for any project.</p>

<%= render "filters_region_for_list" %>

<!-- recreating the old trade site vip list -->

<table width="100%" cellspacing="0" cellpadding="5" id="vip_table">
		<tbody>
			<!-- header row -->
			<tr>
            <!--<td style="width: 3%">&nbsp;</td>-->
            <!--<td rowspan="2" valign="bottom" class="borderbottomright bordertop borderleft" style="width:24%"><div class="vipheading">Business Name</div></td>-->
            <td rowspan="2" valign="bottom" class="borderbottomright bordertop borderleft" style="width: 24%">
                <div class="vipheading">&nbsp;<img src="https://trade.amx.com/imgs/vip/Logo-CollegeOfAMX-shield.png" width="10"><small> = AMX Certified Solutions Master</small> </div>
            </td>
            <td align="center" bgcolor="#F7F2E0" class="borderbottomright bordertop" style="width: 8%">
                <div class="vipheading">Service Area</div>
            </td>
            <!--<td align="center" bgcolor="#F7F2E0" class="borderbottomright bordertop" style="width:8%"><div class="vipheading">Advanced Certification</div></td>-->
            <td colspan="3" align="center" bgcolor="#DCE8ED" class="borderbottomright bordertop" style="width: 12%">
                <div class="vipheading">Design Services</div>
            </td>
            <td colspan="4" align="center" bgcolor="#DDE9E6" class="borderbottomright bordertop">
                <div class="vipheading">Programming Services</div>
            </td>
            <td colspan="3" align="center" bgcolor="#DCD7E0" class="borderbottomright bordertop">
                <div class="vipheading">Commissioning Services</div>
            </td>
            <td colspan="6" align="center" bgcolor="#F8DCCE" class="borderbottomright bordertop">
                <div class="vipheading">
                    Top 4 Markets<br>
                    As Identified By Provider
                </div>
            </td>
        </tr>
			<tr>
            <!--<td>&nbsp;</td>-->
            <td align="center" valign="middle" bgcolor="#F7F2E0" class="borderbottomright" style="height: 200px">
                <!--<img src="/imgs/vip/heading1.png" alt="" width="12" height="198"/>-->
            </td>
            <td align="center" valign="middle" bgcolor="#DCE8ED" class="borderbottomright" style="width: 5%">
                <img src="https://trade.amx.com/imgs/vip/heading2.png" width="24" height="198" alt=""></td>
            <td align="center" valign="middle" bgcolor="#DCE8ED" class="borderbottomright" style="width: 4%">
                <img src="https://trade.amx.com/imgs/vip/heading3.png" width="12" height="198" alt=""></td>
            <td align="center" valign="middle" bgcolor="#DCE8ED" class="borderbottomright" style="width: 4%">
                <img src="https://trade.amx.com/imgs/vip/heading4.png" width="12" height="198" alt=""></td>
            <td align="center" valign="middle" bgcolor="#DDE9E6" class="borderbottomright" style="width: 4%">
                <img src="https://trade.amx.com/imgs/vip/heading5.png" width="12" height="198" alt=""></td>
            <td align="center" valign="middle" bgcolor="#DDE9E6" class="borderbottomright" style="width: 4%">
                <img src="https://trade.amx.com/imgs/vip/heading6.png" width="12" height="198" alt=""></td>
            <td align="center" valign="middle" bgcolor="#DDE9E6" class="borderbottomright" style="width: 4%">
                <img src="https://trade.amx.com/imgs/vip/heading7.png" width="12" height="198" alt=""></td>
            <td align="center" valign="middle" bgcolor="#DDE9E6" class="borderbottomright" style="width: 4%">
                <img src="https://trade.amx.com/imgs/vip/heading8.png" width="12" height="198" alt=""></td>
            <td align="center" valign="middle" bgcolor="#DCD7E0" class="borderbottomright" style="width: 4%">
                <img src="https://trade.amx.com/imgs/vip/heading9.png" width="12" height="198" alt=""></td>
            <td align="center" valign="middle" bgcolor="#DCD7E0" class="borderbottomright" style="width: 4%">
                <img src="https://trade.amx.com/imgs/vip/heading10.png" width="12" height="198" alt=""></td>
            <td align="center" valign="middle" bgcolor="#DCD7E0" class="borderbottomright" style="width: 4%">
                <img src="https://trade.amx.com/imgs/vip/heading11.png" width="12" height="198" alt=""></td>
            <td align="center" valign="middle" bgcolor="#F8DCCE" class="borderbottomright" style="width: 3%">
                <img src="https://trade.amx.com/imgs/vip/heading12.png" width="12" height="198" alt=""></td>
            <td align="center" valign="middle" bgcolor="#F8DCCE" class="borderbottomright" style="width: 3%">
                <img src="https://trade.amx.com/imgs/vip/heading13.png" width="12" height="198" alt=""></td>
            <td align="center" valign="middle" bgcolor="#F8DCCE" class="borderbottomright" style="width: 3%">
                <img src="https://trade.amx.com/imgs/vip/heading14.png" width="12" height="198" alt=""></td>
            <td align="center" valign="middle" bgcolor="#F8DCCE" class="borderbottomright" style="width: 3%">
                <img src="https://trade.amx.com/imgs/vip/heading15.png" width="12" height="198" alt=""></td>
            <td align="center" valign="middle" bgcolor="#F8DCCE" class="borderbottomright" style="width: 3%">
                <img src="https://trade.amx.com/imgs/vip/heading16.png" width="12" height="198" alt=""></td>
            <td align="center" valign="middle" bgcolor="#F8DCCE" class="borderbottomright" style="width: 3%">
                <img src="https://trade.amx.com/imgs/vip/heading17.png" width="12" height="198" alt=""></td>
        </tr>    
      
      <!-- table body content -->  
      <% @programmers.each do |programmer| %>  
		<tr>
            <!--<td>&nbsp;</td>-->
            <td class="borderbottomright borderleft">
            	<%= link_to vip_programmer_path(programmer, :region => @region) do %>
                <div style="padding: 5px;"><%= programmer.name %><% if is_amx_solutions_master?(programmer) %>&nbsp;<%=image_tag("https://trade.amx.com/imgs/vip/Logo-CollegeOfAMX-shield.png", alt:"AMX Certified Solutions Master", title:"AMX Certified Solutions Master", style:"width:10px;")%><% end %></div>
            	<% end %>
            </td>
            <td bgcolor="#F3EAC7" class="borderbottomright servicearea">
                <div style="padding: 5px;"><%= programmer.locations.first.service_areas.first.name %></div>
            </td>
            <td bgcolor="#BFD7E1" class="borderbottomright bigdot"><%= provides_service(programmer,"System Design & Documentation") %></td>
            <td bgcolor="#BFD7E1" class="borderbottomright bigdot"><%= provides_service(programmer,"Touch Panel Design") %></td>
            <td bgcolor="#BFD7E1" class="borderbottomright bigdot"><%= provides_service(programmer,"Inspired XPress Content Creation") %></td>
            <td bgcolor="#BFD7D1" class="borderbottomright bigdot"><%= provides_service(programmer,"Speciality - Edit Existing Code") %></td>
            <td bgcolor="#BFD7D1" class="borderbottomright bigdot"><%= provides_service(programmer,"RMS 3.x") %></td>
            <td bgcolor="#BFD7D1" class="borderbottomright bigdot"><%= provides_service(programmer,"RMS 4.x") %></td>
            <td bgcolor="#BFD7D1" class="borderbottomright bigdot"><%= provides_service(programmer,"Device Module Authoring") %></td>
            <td bgcolor="#C3B9CA" class="borderbottomright bigdot"><%= provides_service(programmer,"Hardware Installation") %></td>
            <td bgcolor="#C3B9CA" class="borderbottomright bigdot"><%= provides_service(programmer,"Onsite Commissioning") %></td>
            <td bgcolor="#C3B9CA" class="borderbottomright bigdot"><%= provides_service(programmer,"Virtual Presence") %></td>
            <td bgcolor="#F2BDA8" class="borderbottomright bigdot"><%= for_market(programmer,"Residential") %></td>
            <td bgcolor="#F2BDA8" class="borderbottomright bigdot"><%= for_market(programmer,"Business") %></td>
            <td bgcolor="#F2BDA8" class="borderbottomright bigdot"><%= for_market(programmer,"Government") %></td>
            <td bgcolor="#F2BDA8" class="borderbottomright bigdot"><%= for_market(programmer,"Education") %></td>
            <td bgcolor="#F2BDA8" class="borderbottomright bigdot"><%= for_market(programmer,"Entertainment") %></td>
            <td bgcolor="#F2BDA8" class="borderbottomright bigdot"><%= for_market(programmer,"Healthcare") %></td>
        </tr>      
      <% end %> <%# @programmers.each do |programmer| %>
		</tbody>
	
</table>