<h1><%= @specification_group.name %></h1>

<ul class="button-group round">
  <li><%= link_to admin_specification_groups_path, class: "small secondary button" do %>
    <%= fa_icon "angle-double-left" %>
  <% end %>
  </li>
  <li><%= link_to edit_admin_specification_group_path(@specification_group, locale: I18n.locale), class: "small secondary button" do %>
      <%= fa_icon "edit" %>
      Edit
    <% end %>
  </li>
</ul>

<div class="row">
  <div class="medium-6 small-12 columns">
    <div class="panel">
    <%= simple_form_for [:admin, @specification_group], remote: true do |f| %>
      <label>Add an existing spec to this group:</label>
      <div class="row collapse">
        <div class="medium-10 small-9 columns">
          <%= f.association :specifications,
            label: false,
            collection: Specification.where(specification_group_id: nil).order(:name),
            hint: "Showing specs not currently part of a group",
            input_html: { multiple: false} %>
        </div>
        <div class="medium-2 small-3 columns end">
          <%= submit_tag 'submit', class: "postfix button"  %>
        </div>
      </div>
    <% end %>
    <label>Or create a new specification:</label>
    <%= simple_form_for [:admin, @specification_group, @specification],
      url: add_specification_admin_specification_group_path, remote: true do |f| %>
      <div class="row collapse">
        <div class="medium-10 small-9 columns">
          <%= f.input :name, label: false %>
        </div>
        <div class="medium-2 small-3 columns end">
          <%= f.input :specification_group_id, as: :hidden %>
          <%= submit_tag 'submit', class: "postfix button" %>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>

<h5>Specs in this group</h5>
<ul id="specifications" class="sortable_list">
  <% @specification_group.specifications.order(:position).each do |spec| %>
    <%= render '/admin/shared/specification_row', spec: spec %>
  <% end %>
</ul>

