<h1>AMX VIP Emails</h1>

<ul class="button-group round">
	<li><%= link_to 'Programmers List', admin_vip_programmers_path, class: "small button round" %>	</li>
	<li><%= link_to 'New AMX VIP email', new_admin_vip_email_path, class: "small success button" %></li>
</ul>

<table class="data">
  <tr>
  	<th></th>
    <th>Label</th>
    <th>Email</th>
  </tr>

<% @vip_emails.each do |email| %>
  <tr style="vertical-align:text-bottom;">
    <td><%= link_to 'Edit', edit_admin_vip_email_path(email), class: "small round button" %></td>
    <td><%= email.label %></td>
    <td><%= email.email %></td>
  </tr>
<% end %>
</table>