<% set_meta_tags 	twitter: {
		card: "summary"
	},
	og: {
		image: image_url("#{website.folder}/logo.png"),
		type: 'brand',
		description: @website.site_name,
		title: @website.brand.name
	} %>

<%= content_for :feature do %>
	<%= cache ["slideshow", website.brand, I18n.locale] do %>
		<% slides = Setting.slides(website) %>
		<% if slides.size > 0 %>
			<%= orbit_slideshow(slides: slides, duration: 6000, navigation_arrows: false, transition: "fade") %>
		<% end %>
		<%#= video_background_with_features(slides, tagline: true) %>
	<% end %>
<% end %>

<%= content_for :middle_stuff do %>
	<%= cache ["homepage_features", website.brand, I18n.locale] do %>
		<% if @features.size > 0 %>
			<div id="middle_features">
				<ul class="large-block-grid-<%= @features.size %> small-block-grid-<%= (@features.size / 2).to_i %>">
					<% @features.each_with_index do |feature,i| %>
					<li><%= feature_button(feature) %></li>
					<% end %>
				</ul>
			</div>
		<% end %>
	<% end %>
<% end %>

<%= content_for :big_bottom_box do %>

  <%= render_partial 'shared/featured_products_strip' %>

  <div class="homepage_block dark around-the-world">
    <div class="row">
      <div class="large-5 large-offset-7 small-7 columns">
        <h2>Crown Around The World</h2>
        <br/>
        <h4>Check out Concerts, Stadiums<br/>
          and more powered by Crown</h4>
        <p>Click below to read all about
        the exciting things we are doing!</p>
        <%= link_to "check it out", "/aroundtheworld", class: "small secondary button" %>
      </div>
    </div>
  </div>

  <div class="homepage_block gray_strip thin_strip">
    <div class="row">
      <div class="large-7 small-12 columns">
        <h2>Want More Product Information?</h2>
      </div>
      <div class="large-5 small-12 columns">
        <h5>Order a HARMAN Professional DVD Catalog now...</h5>
        <p>And see all the products HARMAN has to offer.</p>
        <%= link_to "order now", catalog_request_path, class: "small secondary button" %>
      </div>
    </div>
  </div>

  <div class="homepage_block dark">
    <div class="row">
      <div class="large-7 small-12 large-push-5 columns text-center">
        <%= link_to image_tag("crown/swag.png", alt: "Crown Swag Store"),
          "http://www.costore.com/harmanprofessional/welcome.asp", target: "_blank" %>
      </div>
      <div class="large-5 small-12 large-pull-7 columns">
        <h2>Shop Crown Swag!</h2>
        <br/>
        <h4>Literature, apparel, gadgets and more!</h4>
        <p>Click below to see what kind of cool Crown Swag we have available now.</p>
        <%= link_to "shop now", "http://www.costore.com/harmanprofessional/welcome.asp",
          target: "_blank", class: "secondary small button" %>
      </div>
    </div>
  </div>

  <%= render_partial "shared/social_strip" %>
  <%= render_partial "shared/promotions_strip" %>

<% end # big_bottom_box %>

<%= content_for :preload do %>
	<%= preload_background_images %>
<% end %>

<%= content_for :popup_code do %>
	<% if website.homepage_popup %>
		<%=raw website.homepage_popup %>
	<% end %>
<% end %>

<div id="homepage-counter" data-counter="<%= @counter %>" data-nextevent="<%= @next_event %>" data-countdowncontainer="<%= @countdown_container %>"></div>
