<% set_meta_tags 	twitter: {
		card: "summary"
	},
	og: {
		image: image_url("#{website.folder}/logo.png"),
		type: 'brand',
		description: @website.site_name,
		title: @website.brand.name
	} %>

<%= content_for :feature do %>
	<%= cache ["slideshow", website.brand, I18n.locale] do %>
		<% slides = Setting.slides(website) %>
		<% if slides.size > 0 %>
			<%= orbit_slideshow(slides: slides, duration: 6000, navigation_arrows: false, transition: "fade") %>
		<% end %>
		<%#= video_background_with_features(slides, tagline: true) %>
	<% end %>
<% end %>

<%= content_for :middle_stuff do %>
	<%= cache ["homepage_features", website.brand, I18n.locale] do %>
		<% if @features.size > 0 %>
			<div id="middle_features">
				<ul class="large-block-grid-<%= @features.size %> small-block-grid-<%= (@features.size / 2).to_i %>">
					<% @features.each_with_index do |feature,i| %>
					<li><%= feature_button(feature) %></li>
					<% end %>
				</ul>
			</div>
		<% end %>
	<% end %>
<% end %>

<%= content_for :big_bottom_box do %>

<%= cache ["featured_products_strip", website.brand, I18n.locale] do %>
	<% if @featured_products %>
	<div class="homepage_block">
		<% @featured_products.each_with_index do |featured_product, i| %>
			<% if (i%2 <= 0) %>
			<div class="row featured_product_container" id="featured_product_<%= i %>">
				<%= featured_product_icons(featured_product, i) %>
				<div class="large-7 columns">
					<div class="featured_image_container show-for-large-up left">
						<%= link_to(image_tag(featured_product.photo.product_attachment.url(:full_width), class: "featured_image"), featured_product) %>
					</div>
          <div class="hide-for-medium-up">
            <%= link_to(image_tag(featured_product.photo.product_attachment.url(:medium)), featured_product) %>
          </div>
          <div class="show-for-medium">
            <%= link_to(image_tag(featured_product.photo.product_attachment.url(:large)), featured_product) %>
          </div>
				</div>
				<div class="large-5 columns">
					<h1><%= link_to featured_product.name, featured_product %></h1>
					<h3 class="subheader"><%= translate_content(featured_product, :short_description) %></h3>

					<p><%=raw translate_content(featured_product, :short_description_4) %></p>

					<%= link_to 'more details...', featured_product, class: "small secondary button" %>
					<% if featured_product.in_production? && !featured_product.hide_buy_it_now_button? %>
						<%= buy_it_now_link(featured_product, html_button: true, downcase: true, button_class: "small button") %>
					<% end %>
				</div>
			</div>
			<% else %>
			<div class="row featured_product_container" id="featured_product_<%= i %>">
        <div class="hide-for-medium-up">
          <%= link_to(image_tag(featured_product.photo.product_attachment.url(:medium)), featured_product) %>
        </div>
        <div class="show-for-medium">
          <%= link_to(image_tag(featured_product.photo.product_attachment.url(:large)), featured_product) %>
        </div>
				<div class="large-5 columns text-right small-left">
					<h1><%= link_to featured_product.name, featured_product %></h1>
					<h3 class="subheader"><%= translate_content(featured_product, :short_description) %></h3>

					<p><%=raw translate_content(featured_product, :short_description_4) %></p>

					<%= link_to 'more details...', featured_product, class: "small secondary button" %>
					<% if featured_product.in_production? && !featured_product.hide_buy_it_now_button? %>
						<%= buy_it_now_link(featured_product, html_button: true, downcase: true, button_class: "small button") %>
					<% end %>
				</div>
				<div class="large-7 columns show-for-large-up">
					<div class="featured_image_container right">
						<%= link_to(image_tag(featured_product.photo.product_attachment.url(:original), class: "featured_image"), featured_product) %>
					</div>
				</div>
			</div>
			<% end %>

		<% end %>
	</div>
	<% end %>
<% end %>

<div class="homepage_block dark">
  <div class="row">
    <div class="large-7 small-12 large-push-5 columns text-center">
      <%= link_to image_tag("crown/swag.png", alt: "Crown Swag Store"),
        "http://www.costore.com/harmanprofessional/welcome.asp", target: "_blank" %>
    </div>
    <div class="large-5 small-12 large-pull-7 columns">
      <h2>Shop Crown Swag!</h2>
      <br/>
      <h4>Literature, apparel, gadgets and more!</h4>
      <p>Click below to see what kind of cool Crown Swag we have available now.</p>
      <%= link_to "shop now", "http://www.costore.com/harmanprofessional/welcome.asp",
        target: "_blank", class: "secondary small button" %>
    </div>
  </div>
</div>

<div class="homepage_block gray_strip thin_strip">
  <div class="row">
    <div class="large-7 small-12 columns">
      <h2>Want To See It All On Paper?</h2>
    </div>
    <div class="large-5 small-12 columns">
      <h5>Order a HARMAN Professional Catalog now...</h5>
      <p>And see all the products HARMAN has to offer.</p>
      <%= link_to "order now", catalog_request_path, class: "small secondary button" %>
    </div>
  </div>
</div>

<div class="homepage_block dark around-the-world">
  <div class="row">
    <div class="large-5 large-offset-7 small-7 columns">
      <h2>Crown Around The World</h2>
      <br/>
      <h4>Check out Concerts, Stadiums<br/>
        and more powered by Crown</h4>
      <p>Click below to read all about
      the exciting things we are doing!</p>
      <%= link_to "check it out", "/aroundtheworld", class: "small secondary button" %>
    </div>
  </div>
</div>

<%= cache ["video_strip", website.brand, I18n.locale] do %>
	<% if @youtube && !@youtube.blank? %>
	<div class="homepage_block">
		<div class="container" id="homepage-video-banner">
			<div class="row">
				<div class="large-12 small-12 columns">
					<%= render_partial 'shared/column_for_youtube' %>
				</div>
			</div>
		</div>
	</div>
	<% elsif @featured_video %>
	<div class="homepage_block">
		<div class="container" id="homepage-video-banner">
			<div class="row">
				<div class="large-10 large-offset-1 columns">
					<div class="video-window text-center">
						<iframe width="853" height="480" src="//www.youtube.com/embed/<%= @featured_video %>" frameborder="0" allowfullscreen></iframe>
					</div>
				</div>
			</div>
			<div class="row hide-for-small">
				<div class="large-6 columns">
					<%= link_to videos_path do %>
						<%= image_tag "icons/youtube.png" %>
						more <%= website.brand.name %> videos ...
					<% end %>
				</div>
			</div>
		</div>
	</div>
	<% end %>
<% end %>

<%= cache ["social_strip", website.brand, I18n.locale] do %>
	<div class="homepage_block white_strip">
		<h2 class="text-center">Connect With Us</h2>
		<div class="social text-center">
			<%= social_media_links 'twitter', 'facebook', 'youtube', 'google+', 'instagram', 'linkedin', 'wechat', 'weibo', style: 'circle', size: '64x64' %> 
		</div>

		<% if website.email_signup_url %>
		<div class="row">
			<div class="large-8 large-offset-2 columns">
				<div class="row" style="margin-top: 40px">
					<div class="large-6 large-offset-3 columns">
						<%= render_partial 'shared/newsletter_signup' %>
					</div>
				</div>
			</div>
		</div>
		<% end %>

    <div class="row crown-gear">
      <hr/><br/>
      <div class="large-6 small-6 columns">
        <h2>Show us your Crown gear!</h2>
        <h3><%= link_to "#PoweredByCrown",
          "https://twitter.com/search?q=%23PoweredByCrown&src=typd&mode=photos",
          target: "_blank" %>
        </h3>
      </div>
      <div class="large-6 small-6 columns">
        <%= link_to image_tag("crown/show_us.jpg", alt: "Show us your Crown gear"),
          "https://twitter.com/search?q=%23PoweredByCrown&src=typd&mode=photos",
          target: "_blank" %>
      </div>
    </div>
  </div>
<% end %>

<%= cache ["promotion_strip", website.brand, I18n.locale] do %>
	<% if @current_promotions.length > 0 %>
		<div id="promotion_side_button">
			<%= link_to "Current Offers", promotions_path, class: "button" %>
		</div>
		<% promotion = @current_promotions.all.shuffle.first %>
		<% unless promotion.homepage_banner_file_name.blank? %>
		<div class="homepage_block text-center">
			<div class="promotion_container container">
				<div class="row">
					<div class="large-5 small-6 columns text-left">
						<h2><%= link_to promotion.homepage_headline.present? ? promotion.homepage_headline : promotion.name, promotion %></h2>
						<% if promotion.start_on.present? && promotion.end_on.present? %>
							<h4 class="subheader"><%=l promotion.start_on, format: :long %> - <%=l promotion.end_on, format: :long %></h4>
						<% end %>
						<p><%=raw promotion.homepage_text %></p>

						<% if promotion.products.count > 0 %>
							<div class="hide-for-small">
								<h3>Qualifying Purchases Include</h3>
								<ul style="margin-left: 14px" class="hide-for-small">
									<% promotion.products.each do |p| %>
									<li><%= link_to("#{p.name} #{p.short_description}", p) %></li>
									<% end %>
								</ul>
							</div>
						<% end %>
						<%= link_to "Learn More", promotion, class: "medium button" %>
					</div>
					<div class="large-6 small-6 columns">
						<%= link_to image_tag(promotion.homepage_banner.url, alt: promotion.name), promotion %>
					</div>
				</div>
			</div>
		</div>
		<% end %>
	<% end %>
<% end %>


<% end %>

<%= content_for :preload do %>
	<%= preload_background_images %>
<% end %>

<%= content_for :popup_code do %>
	<% if website.homepage_popup %>
		<%=raw website.homepage_popup %>
	<% end %>
<% end %>

<div id="homepage-counter" data-counter="<%= @counter %>" data-nextevent="<%= @next_event %>" data-countdowncontainer="<%= @countdown_container %>"></div>
