<% set_meta_tags 	twitter: {
		card: "summary"
	},
	og: {
		image: image_url("#{website.folder}/logo.png"),
		type: 'brand',
		description: @website.site_name,
		title: @website.brand.name
	} %>

<%= content_for :feature do %>
	<%= cache ["slideshow", website.brand, I18n.locale] do %>
    <% if website.homepage_feature_override.present? %>
      <%= raw website.homepage_feature_override %>
    <% else %>
      <% slides = website.homepage_banners %>
      <% if slides.size > 0 %>
        <%= orbit_slideshow(slides: slides, duration: 6000, navigation_arrows: false, transition: "fade") %>
      <% end %>
    <% end %>
	<% end %>
<% end %>

<%= content_for :middle_stuff do %>
	<%= cache ["homepage_features", website.brand, I18n.locale] do %>
		<% if @features.size > 0 %>
			<div id="middle_features">
				<ul class="large-block-grid-<%= @features.size %> small-block-grid-<%= (@features.size / 2).to_i %>">
					<% @features.each_with_index do |feature,i| %>
					<li><%= feature_button(feature) %></li>
					<% end %>
				</ul>
			</div>
		<% end %>
	<% end %>
<% end %>

<%= content_for :big_bottom_box do %>

  <%= render_partial 'shared/featured_products_strip' %>

  <div class="homepage_block dark around-the-world">
    <div class="row">
      <div class="large-5 large-offset-7 small-7 columns">
        <h2><%= t("crown.crown_around_the_world") %></h2>
        <br/>
        <h4><%= t("crown.around_the_world_blurb") %></h4>
        <p><%= t("crown.read_about_the_exciting") %></p>
        <%= link_to t("check_it_out"), "/#{I18n.locale}/aroundtheworld", class: "small secondary button" %>
      </div>
    </div>
  </div>

  <%= render_partial "shared/social_strip" %>
  <%= render_partial "shared/promotions_strip" %>

<% end # big_bottom_box %>

<%= content_for :preload do %>
	<%= preload_background_images %>
<% end %>

<%= content_for :popup_code do %>
	<% if website.homepage_popup %>
		<%=raw website.homepage_popup %>
	<% end %>
<% end %>
