<% set_meta_tags title: @page_title,
				 reverse: true,
                 description: t('meta.description.where_to_buy', brand: website.brand_name),
                 keywords: t('meta.keywords.where_to_buy') %>

<h1 class="page_title">
<% if File.exists?(Rails.root.join("app", "assets", "images", "#{website.folder}/#{I18n.locale}/wheretobuy_head.jpg")) %>
	<%= image_tag("#{website.folder}/#{I18n.locale}/wheretobuy_head.jpg", alt: @page_title) %>
<% else %>
	<%= @page_title %>
<% end %>
</h1>

<% unless @err.blank? %>
	<p><%= @err %></p>
<% end %>

<% if @results.size > 0 %>
<%= content_for :custom_css do %>
	<script src="http://maps.googleapis.com/maps/api/js?sensor=false" type="text/javascript"></script>
	<%= javascript_tag "markers_json = #{@results.to_json(except: [:account_number, :brand_id, :created_at, :updated_at, :name2, :name3, :name4])}" %>
	<script type="text/javascript" charset="utf-8">
		$(document).ready(function() {
			<%= raw @js_map_loader %>
		});
	</script>
<% end %>
<%= content_for :big_bottom_box do %>

	<div class="wide_centered_box" style="width: 830px">
	<h2><%= t('titles.buy_online') %></h2>
	
	<div id="online_retailers">
		<% OnlineRetailer.random(website).each do |online_retailer| %>
		<div class="retailer_logo">
			<% if !online_retailer.retailer_logo_file_name.blank? %>
				<%= link_to(image_tag(online_retailer.retailer_logo(:fixed)), online_retailer.direct_link, target: "_blank")%>
			<% else %>
				<%= link_to online_retailer.name, online_retailer.direct_link, target: "_blank" %>
			<% end %>
		</div>
		<% end %>
	</div>
	</div>

<% end %>
<div id="wtb_container">
	<div id="dealer_results" style="height: 585px;">
		<h2 id="dealer_search_results"><%= t('titles.dealer_search_results') %></h2>
		<ul class="dealer_results">
			<% @results.each_with_index do |dealer,i| %>
			<li id="sidebar-item-<%=(i + 1)%>" class="sidebar-item">
				<b><%= link_to_function(dealer.name, "focusPoint(#{(i + 1)});") %></b> 
				(<%= dealer.distance.to_i %> <%= t('dealer_distance') %>)
				<br/><%= dealer.address %>
				<br/><%= dealer.city %> <%= dealer.state %> <%= dealer.zip %>
				<br/><%= dealer.telephone %>
				<% if !dealer.email.blank? %> &bull; <%= mail_to dealer.email.downcase %><% end %>
			</li>
			<% end %>
		</ul>
	</div>
	<div class="form_container" style="width: 370px;">
	<%= form_tag where_to_buy_path() %>
		<p><%= t("us_zip_code") -%><br/>
		<%= text_field_tag "zip", session[:zip], size: 25 %></p>
		<p><%= submit_tag t('find_us_dealers') %>
		<span style="margin-top: 4px; font-size: 11px;">
			<%= link_to t("international_distributors"), international_distributors_path %>
		</span>
		</p>
	</form>
	</div>
	<div id="map" style="width: 400px; height: 520px;"></div>
	<div class="clear"></div>
</div>
<% else %>
<div id="wtb_container">
<div id="dealer_results" style="width: 300px">
	<h4><%= t('us_dealers') %></h4>
	<%= form_tag where_to_buy_path() %>
		<p><%= t("us_zip_code") -%><br/>
		<%= text_field_tag "zip", session[:zip], style: "font-size: 200%; width: 200px;" %></p>
		<p><%= submit_tag t('find_us_dealers') %></p>
	</form>
	<br/>
	<h4><%= t('titles.international_distributors') %></h4>
	<p><%= t("blurbs.international_distributors") %></p>
	
	<%= form_tag search_distributors_path, method: :get %>
		
		<p><%= label_tag t('select_your_country') %><br/>
			<%= select_tag :country, options_from_collection_for_select(@countries, :country, :country, @country) %>
			<%= submit_tag t('submit') %>
		</p>
			
	</form>
</div>
<div><%= image_tag("#{website.folder}/us_map.png") %></div>
<div class="clear"></div>
<div class="wide_centered_box" style="width: 830px">
<h2><%= t('titles.buy_online') %></h2>

<div id="online_retailers">
	<% OnlineRetailer.random(website).each do |online_retailer| %>
	<div class="retailer_logo">
		<% if !online_retailer.retailer_logo_file_name.blank? %>
			<%= link_to(image_tag(online_retailer.retailer_logo(:fixed)), online_retailer.direct_link, target: "_blank")%>
		<% else %>
			<%= link_to online_retailer.name, online_retailer.direct_link, target: "_blank" %>
		<% end %>
	</div>
	<% end %>
</div>
<div class="clear"></div>
</div>
</div>
<% end %>

<%= content_for :extra_js do %>
	$(document).ready(function() {
		$('#zip').focus();
	});
<% end %>

