<%= cache ["nav_items", website.brand, I18n.locale] do %>
	<li class="has-dropdown"><%= link_to t('products').titleize, product_families_path %>
		<ul class="dropdown">
			<% ProductFamily.parents_with_current_products(website, I18n.locale).each do |product_family| %>
				<%= product_family_nav_links(product_family) %>
			<% end %>
			<li><%= link_to "Discontinued Products", discontinued_products_path %></li>
			<li><%= link_to ucfirst(t('warranty_registration')), warranty_registration_path %></li>
		</ul>
	</li>

  <li class="has-dropdown">
    <%= link_to "Applications", "", class: "disabled" %>
    <ul class="dropdown">
      <% MarketSegment.all_parents(website).each do |market_segment| %>
        <%= market_segment_nav_links(market_segment) %>
      <% end %>
    </ul>
  </li>

  <% if website.has_software_downloads? %>
    <li><%= link_to t('software_downloads').titleize, software_index_path %></li>
  <% end %>

  <li class="hide-for-medium has-dropdown">
    <%= link_to "Media", "", class: "disabled" %>
    <ul class="dropdown">
      <li><%= link_to t('news').titleize, news_index_path %></li>
      <li><%= link_to "Videos", videos_path %></li>
    </ul>
  </li>

	<% if website.has_artists? %>
	<li><%= link_to t('artists').titleize, artists_path %></li>
	<% end %>

	<% if website.has_dealers? || website.has_distributors? || website.has_online_retailers? %>
	<li class="hide-for-medium"><%= link_to t('where_to_buy').titleize, where_to_buy_path %></li>
	<% end %>

  <li class="has-dropdown">
    <%= link_to t('product_support').titleize, support_path %>
    <ul class="dropdown">
      <li><%= link_to "Customer Service Contacts", '/studer-customer-service-contacts' %></li>
      <li><%= link_to "Contact Us", '/studer-contact-us' %></li>
      <li><%= link_to "SBA", 'http://cras-vista.com/moodle/', target: "_blank" %></li>
    </ul>
  </li>

	<% if !!(website.forum_link) %>
	<li class="hide-for-medium show-for-large"><%= link_to t("forum").titleize, website.forum_link %></li>
	<% end %>

  <li class="hide-for-medium has-dropdown">
    <%= link_to "Studer Expertise", "", class: "disabled" %>
    <ul class="dropdown">
      <li><%= link_to "Studer Leadership", '/studer-leadership' %></li>
      <li><%= link_to "Events", '/studer-events' %></li>
      <li><%= link_to "About Studer", '/about-studer' %></li>
    </ul>
  </li>
<% end %>
