<%= cache ["nav_items", website.brand, I18n.locale] do %>
	<li class="has-dropdown"><%= link_to t('products').titleize, product_families_path %>
		<ul class="dropdown">
		  <li><%= link_to t('new_products'), new_products_path, target: "_blank" %></li>
			<% ProductFamily.parents_with_current_products(website, I18n.locale).each do |product_family| %>
				<%= product_family_nav_links(product_family) %>
			<% end %>
      <% if website.has_product_registrations? %>
        <li><%= link_to ucfirst(t('warranty_registration')), warranty_registration_path %></li>
      <% end %>
		</ul>
	</li>

  <li class="has-dropdown">
    <%= link_to "Applications", '#', class: "disabled" %>
    <ul class="dropdown">
      <% MarketSegment.all_parents(website).each do |market_segment| %>
        <%= market_segment_nav_links(market_segment) %>
      <% end %>
    </ul>
  </li>

  <li class="has-dropdown">
    <%= link_to "Media", '#', class: "disabled" %>
    <ul class="dropdown">
      <li><%= link_to t('news').titleize, news_index_path %></li>
      <li><%= link_to "Videos", videos_path %></li>
    </ul>
  </li>

	<% if website.has_artists? %>
	<li><%= link_to t('artists').titleize, artists_path %></li>
	<% end %>

	<% if website.has_dealers? || website.has_distributors? || website.has_online_retailers? %>
	<li><%= link_to "Buy".titleize, where_to_buy_path %></li>
	<% end %>

  <% if website.has_events? %>
    <li class="divider hide-for-medium"></li>
    <li><%= link_to t('events'), events_path %></li>
  <% end %>

  <li><%= link_to "Broadcast Truck", "/#{I18n.locale}/broadcast-truck" %></li>

  <li>
    <%= link_to t('product_support').titleize, support_path %>
      <%#= link_to "Contact Us", support_path %>
      <%# Removed 5/2018 for GDPR %>
      <%#= link_to "Online Training", 'http://cras-vista.com/moodle/', target: "_blank" %>
  </li>

	<% if !!(website.forum_link) %>
	<li><%= link_to t("forum").titleize, website.forum_link %></li>
	<% end %>

  <li class="has-dropdown">
    <%= link_to "About Us", '#', class: "disabled" %>
    <ul class="dropdown">
      <li><%= link_to "Create Sound", '/createsound' %></li>
      <li><%= link_to "Team Studer", '/team-studer' %></li>
      <li><%= link_to "Events", '/studer-events' %></li>
      <li><%= link_to "About Studer", '/about-studer' %></li>
    </ul>
  </li>
<% end %>
