<h1>Listing Product Filters</h1>

<% if can? :create, ProductFilter %>
<ul class="button-group round">
	<li><%= link_to 'New Product Filter', new_admin_product_filter_path, class: "small success button" %></li>
</ul>
<% end %>

<%= search_form_for [:admin, @search] do |f| %>
    <%= f.label :name_cont, "Name contains" %>
  <div class="row collapse">
    <div class="large-5 small-8 columns">
      <%= f.text_field :name_cont %>
    </div>
    <div class="large-2 small-4 columns">
      <%= f.submit "Search filters", class: "button prefix" %>
    </div>
    <div class="large-5 columns"></div>
  </div>
<% end %>

<%= will_paginate @product_filters %>

<table class="data" style="width: 100%">
  <tr>
    <th>Name</th>
  </tr>

<% @product_filters.each do |product_filter| %>
  <tr>
    <td><%=link_to product_filter.name, [:admin, product_filter] %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @product_filters %>
