<%= simple_form_for [:admin, @market_segment], html: { multipart: true } do |f| %>
	<div class="row">
		<div class="large-8 columns">
			<%= f.input :name %>
		</div>
		<div class="large-4 columns">
			<%= f.association :parent,
				collection: MarketSegment.all_parents(website) - [@market_segment] - @market_segment.children %>
		</div>
	</div>

  <div class="row">
		<div class="large-4 columns">
			<div class="panel">
				<%= f.input :banner_image, hint: "appears on the top of this market's page" %>
			    <% if !f.object.banner_image_file_name.blank? %>
					<span id="banner_image">
						<%= link_to image_tag("icons/trash.gif"), delete_banner_image_admin_market_segment_path(f.object), remote: true %>
						currently:
						<%= link_to image_tag(f.object.banner_image.url(:thumb)), f.object.banner_image.url %>
					</span>
				<% end %>
			</div>
		</div>
  </div>

	<div class="row">
		<div class="large-12 columns">
			<%= f.input :description, input_html: {class: "mceEditor", style: "height: 200px;" } %>
		</div>
	</div>

  <br/><%= f.button :submit %>
<% end %>
