<%= simple_form_for [:admin, @market_segment] do |f| %>
	<div class="row">
		<div class="large-8 columns">
			<%= f.input :name %>
		</div>
		<div class="large-4 columns">
			<%= f.association :parent,
				collection: MarketSegment.all_parents(website) - [@market_segment] - @market_segment.children %>
		</div>
	</div>

	<div class="row">
		<div class="large-4 columns">
			<div class="panel">
				<%= f.input :banner_image, hint: "appears on the top of this market's page" %>
			    <% if f.object.banner_image_file_name.present? %>
					<span id="banner_image">
						<%= link_to image_tag("icons/trash.gif", lazy: false), delete_banner_image_admin_market_segment_path(f.object), remote: true %>
						currently:
						<%= link_to image_tag(f.object.banner_image.url(:thumb), lazy: false), f.object.banner_image.url %>
					</span>
				<% end %>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="large-12 columns">
			<%= f.input :hide_page_title, label: "Hide page title." %>
		</div>
	</div>
	<div class="row">
		<div class="large-6 columns">
			<%= f.input :custom_css,
				label: "Custom CSS",
				hint: "This is inserted in the <head> of the page and wrapped in <style> tags.",
				input_html: { style: "height: 150px" } %>
		</div>
		<div class="large-6 columns">
			<%= f.input :custom_js,
				label: "Custom Javascript",
				hint: "This is inserted in the <head> of the page. (Jquery is available, but if you need to use it, wrap your code in a closure to make sure Jquery is loaded when your code runs.)",
				input_html: { style: "height: 150px" } %>
		</div>
	</div>
	<div class="row">
		<div class="large-12 columns">
			<%= f.input :description, input_html: {class: "mceEditor", style: "height: 200px;" } %>
		</div>
	</div>

  <br/><%= f.button :submit %>
<% end %>
