<h1><%= @market_segment.name %>
	<span class="little"><%= link_to(market_segment_url(@market_segment, locale: I18n.locale), market_segment_url(@market_segment, locale: I18n.locale)) %>
	<%= link_to(image_tag("icons/external_link_icon.png"), market_segment_url(@market_segment, locale: I18n.locale)) %></span>
</h1>

<ul class="button-group round">
	<li><%= link_to admin_market_segments_path, class: "small secondary button" do %>
    <%= fa_icon "angle-double-left" %>
  <% end %>
  </li>
	<li><%= link_to edit_admin_market_segment_path(@market_segment), class: "small secondary button" do %>
      <%= fa_icon "edit" %>
      Edit
    <% end %>
  </li>
	<li><%= link_to [:admin, @market_segment], confirm: 'Are you sure?', method: :delete, class: "small alert button" do %>
    <%= fa_icon "trash" %>
    Delete
  <% end %>
  </li>
</ul>

<div class="row">
	<div class="large-4 columns">
		<div class="panel">
			<h6 class="subheader">Banner Image:</h6>
			<% if !@market_segment.banner_image.blank? %>
			  <%= image_tag @market_segment.banner_image.url(:medium) %>
			<% else %>
			  <i>(none)</i>
			<% end %>
		</div>
	</div>
</div>

<% if @market_segment.parent %>
<p>
	<b>Parent:</b>
	<%= link_to(@market_segment.parent.name, [:admin, @market_segment.parent]) %>
</p>
<% end %>

<p>
  <b>Description:</b>
</p>
<div><%=raw @market_segment.description %></div>

<% if @market_segment.children.size > 0 %>
<div class="group">
	<h4 class="subheader">Child Vertical Markets:</h4>
	<%= link_to "new vertical market", new_admin_market_segment_path, class: "small success button" %>
	<ul id="market_segments" class="sortable_list">
		<%= render partial: "market_segment", collection: @market_segment.children %>
	</ul>
</div>
<% end %>

<div class="group">
	<h4 class="subheader">Product Families in this Vertical Market</h4>
	<%= simple_form_for [:admin, @market_segment_product_family], remote: true do |f| %>
		<%= hidden_field_tag "called_from", "market_segment" %>
    	<%= f.hidden_field :market_segment_id %>
    	<div class="row collapse">
    		<div class="large-8 small-8 columns">
    			<%= f.association :product_family, collection: website.product_families, label: false %>
    		</div>
    		<div class="large-4 small-4 columns">
    			<%= submit_tag 'add to this vertical', class: "postfix button"  %>
    		</div>
    	</div>
	<% end %>

	<ul id="market_segment_product_families" class="sortable_list">
		<% @market_segment.market_segment_product_families.each do |mspf| %>
			<%= render '/admin/shared/market_segment_product_family_row', mspf: mspf, called_from: 'market_segment' %>
		<% end %>
	</ul>
</div>
