<% set_meta_tags title: @page_title,
  reverse: true,
  description: t('meta.description.where_to_buy', brand: website.brand_name),
  keywords: t('meta.keywords.where_to_buy') %>

<h1 class="page_title">
  <% if File.exists?(Rails.root.join("app", "assets", "images", "#{website.folder}/#{I18n.locale}/wheretobuy_head.jpg")) %>
    <%= image_tag("#{website.folder}/#{I18n.locale}/wheretobuy_head.jpg", alt: @page_title, class: 'text-center') %>
  <% else %>
    <%= @page_title %>
  <% end %>
</h1>

<div class="row">
  <div class="large-8 columns">
    <% if website.show_lead_form_on_buy_page? %>
      <div class="callout panel">
        <h4>Connect with <%= website.brand.name %></h4>
        <p>Tell us about your project. Complete the form below to connect with us.</p>
        <%= render_partial 'leads/form' %>
      </div>
    <% end %>

    <% if website.brand.has_dealers? %>
      <div class="row">
        <div class="medium-6 columns end">
          <% if website.brand.dealers_are_us_only? %>
            <h3><%= t('us_dealers') %></h3>
          <% else %>
            <h3><%= t('global_dealers') %></h3>
          <% end %>

          <%= form_tag partner_search_path, method: :get %>
          <div class="row collapse">
            <div class="large-8 small-7 columns">
              <%= text_field_tag "zip", session[:zip], placeholder: website.brand.dealers_are_us_only? ? t('us_zip_code') : t('global_search_location') %>
            </div>
            <div class="large-4 small-5 columns">
              <%= submit_tag t('find_dealers'), class: "postfix button" %>
            </div>
          </div>
          <% if website.brand.dealers_include_rental_and_service? %>
            <input type="hidden" name="apply_filters" value="1"/>
            <h5>Filter Results:</h5>
            <% unless website.value_for("dont_actually_show_dealers") %>
              <label for="resale">
                <input type="checkbox" value="1" name="resale" id="resale" checked="checked"> Resellers
              </label>
            <% end %>
            <% if website.brand.dealers.where(rental: true).count > 0 %>
              <label for="rental">
                <input type="checkbox" value="1" name="rental" id="rental" checked="checked">
                <% if website.brand.name == "JBL Professional" %>
                  VERTEC/VTX owners <%= link_to 'download all to Excel', vertec_vtx_owners_path %>
              <% else %>
                Rentals
              <% end %>
              </label>
            <% end %>
            <% if website.brand.dealers.where(service: true).count > 0 %>
              <label for="service">
                <input type="checkbox" value="1" name="service" id="service" checked="checked"> Service
              </label>
            <% end %>
          <% end %>
          <% if website.brand.has_us_sales_reps? %>
            <i style="font-size: 80%">Or, <%= link_to "find a sales rep", us_reps_path %> to become a dealer.</i>
          <% end %>
          <% if website.has_vertec_vtx_signup %>
            <p><i style="font-size: 80%">To be added to the VERTEC/VTX Owners List <%= link_to "start here", "/vtx-vertec-owner-sign-up" %>.</i></p>
          <% end %>
          </form>
          <br/>
        </div>
      </div>
    <% elsif website.brand.has_us_sales_reps? %>
      <div class="row">
        <div class="medium-6 columns end">

          <% if addr = website.address_and_phone %>
            <p>To find a certified <%= website.brand.name %> representative, please contact us at:</p>
            <blockquote><%=raw addr %>
            <% if sup = website.support_email %>
              <br/><%= mail_to sup, sup %>
          <% end %>
            </blockquote>
            <p>Or, complete our <%= link_to "contact form", support_path %>.</p>
          <% else %>
            <p>To find a certified <%= website.brand.name %> representative, please contact us by filling out our <%= link_to "contact form", support_path %>.</p>
          <% end %>

          <h3><%= website.brand.name %> US Sales Reps</h3>

          <%= form_tag search_us_reps_path, method: :get %>
          <%= label_tag "Select your region" %>
          <div class="row collapse">
            <div class="large-8 small-7 columns">
              <%= select_tag :us_region, options_from_collection_for_select(@us_regions, :id, :name, @us_region.id), prompt: " " %>
            </div>
            <div class="large-4 small-5 columns">
              <%= submit_tag t('submit'), class: "postfix button" %>
            </div>
          </div>
          </form>
        </div>
      </div>
    <% end %>

    <% if website.brand.has_distributors? %>
      <%=render_partial "main/country_selector_for_distributors"%>
    <% end %>

    <%= raw website.where_to_buy_extra_content %>

  </div>
  <div class="large-4 end columns">
    <% if website.where_to_buy_blurb %>
      <div class="panel">
        <h4><%= t('titles.buy_direct', brand: website.brand.name) %></h4>
        <%= raw website.where_to_buy_blurb %>
      </div>
    <% end %>
    <% if !!!(website.brand.name.to_s.match(/digitech|lexicon|dod/i)) %>
      <%= render_partial "shared/rental" %>
      <%= render_partial "shared/consultant_portal" %>

    <% end %>
  </div>
</div>

<% if website.brand.has_online_retailers? %>
	<br/>
  <div class="row">
    <div class="large-12 columns">
      <h3><%= t('titles.buy_online') %></h3>

      <ul class="large-block-grid-6 small-block-grid-3">
      <% OnlineRetailer.random(website)[0,24].each do |online_retailer| %>
        <li>
          <% if !online_retailer.retailer_logo_file_name.blank? %>
            <%= link_to(image_tag(online_retailer.retailer_logo(:fixed)), online_retailer.direct_link, target: "_blank")%>
          <% else %>
            <%= link_to online_retailer.name, online_retailer.direct_link, target: "_blank" %>
          <% end %>
        </li>
      <% end %>
      </ul>
    </div>
  </div>
<% end %>

<%= content_for :extra_js do %>
  <script>
    $(document).ready(function() {
      $('#zip').focus();
    });
  </script>
<% end %>

