<%# Can't cache this because of the alternate logos %>
<%#= cache ["header", website, I18n.locale] do %>
<header id="main_header">
	<div id="logo">
		<% if content_for?(:alternate_logo) %>
			<%= yield :alternate_logo %>
		<% else %>
			<%= link_to(image_tag("#{website.folder}/logo.png", alt: Setting.site_name(website)), main_app.locale_root_path) %>
		<% end %>
	</div>
	<nav id="topnav">
		<ul>
			<li><%= link_to t('home'), main_app.locale_root_path %></li>
			<li><%= link_to t('products'), main_app.product_families_path %></li>
			<!-- <li><%= link_to t('news'), main_app.news_index_path %></li> -->
			<li><%= link_to t('artists'), main_app.artists_path %></li>
			<li><%= link_to t('community'), main_app.community_path %></li>
			<li><%= link_to t('where_to_buy'), main_app.where_to_buy_path %></li>
			<li><%= link_to t('product_support'), main_app.support_path %></li>
			<li><%= link_to t('warranty_registration'), main_app.warranty_registration_path %></li>
		</ul>
	</nav>
	<%# search is only available in default language for now...%>
	<% if I18n.locale.to_s.match(/#{I18n.default_locale.to_s.split('-')[0]}/i) %>
	<div id="search_form">
		<%= form_tag main_app.search_path, method: :get %>
			<%= text_field_tag :query, "", placeholder: t('search') %>
		</form>
	</div>
	<% end %>
	<div class="clear"></div>
</header>
<%# end %>