<%= content_for :title do %>Sign Up<% end %>

<h2><%= @signup_type.titleize %> Sign up</h2>
<%= render "toolkit/users/shared/links" %>

<div class="small-12 large-12  columns">

<div class="row">
<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= hidden_field_tag :signup_type, @signup_type %>
  <%= f.input :dealer, as: :hidden %>
  <%= f.input :distributor, as: :hidden %>
  <%= f.input :rso, as: :hidden %>
  <%= f.input :rep, as: :hidden %>
  <%= f.input :employee, as: :hidden %>
  <%= f.input :media, as: :hidden %>
  <%= f.error_notification %>
  <div class="small-12 large-7 columns end panel">
    <div class="form-inputs">
    	<%= f.input :name %>
    	<%= f.input :email %>

      <% if resource.needs_account_number? %>
      <%= f.input :account_number, 
            label: "Harman Pro Account Number",
            required: true, 
            hint: "Activation message will be sent to email address on file." %>
      <% end %>

      <% if resource.needs_invitation_code? %>
      <%= f.input :invitation_code, required: true %>
      <% end %>

    	<%= f.input :password %>
    	<%= f.input :password_confirmation %>
    </div>
  	<div class="form-actions">
		<%= f.submit "Sign up", class: "button" %>
  	</div>
  </div>
<% end %>
</div>

</div>

