<%= content_for :title do %>Sign Up<% end %>

<h2>Sign up</h2>

<div class="twelve columns">

	<div class="row">
		<%= form_tag new_toolkit_user_registration_path, method: :get %>

		<div class="six columns end panel" %>
			<h4 class="subheader">I am a...</h4>

			<p>
				<%= radio_button_tag :signup_type, :dealer %> US Dealer/Distributor<br/>
				<%= radio_button_tag :signup_type, :distributor %> International Distributor<br/>
				<!-- Sales Reps not implemented yet <%#= radio_button_tag :signup_type, :rep %> Sales Rep<br/> -->
				<%= radio_button_tag :signup_type, :media %> Media Rep<br/>
				<%= radio_button_tag :signup_type, :rso %> RSO<br/>
				<%= radio_button_tag :signup_type, :employee %> Harman Employee
			</p>

			<div class="form-actions">
				<%= submit_tag "Continue", class: "button", name: nil %>
	  	</div>

	  </div>

		</form>

	</div>

</div>