<%= simple_form_for([:admin, @product_introduction]) do |f| %>

  <%= f.association :product, collection: Product.order(:name) %>
  <div class="row">
    <div class="large-6 columns">
      <%= f.input :expires_on, as: :string, input_html: { class: 'ui-datepicker' } %>
    </div>
    <div class="large-6 columns">
      <%= f.input :layout_class %>
    </div>
  </div>
  <div class="row">
    <div class="large-6 columns">
      <%= f.input :content, input_html: { style: "height: 150px;"} %>
    </div>
    <div class="large-6 columns">
      <%= f.input :extra_css, input_html: { style: "height: 150px;"} %>
    </div>
  </div>
  
  <%= f.input :top_image %>
  <% if @product_introduction.top_image_file_name.present? %>
  <div class="hint">Currently: <%= link_to @product_introduction.top_image_file_name, @product_introduction.top_image.url %></div>
  <% end %>
  <%= f.input :box_bg_image, label: "Box background image" %>
  <% if @product_introduction.box_bg_image_file_name.present? %>
  <div class="hint">Currently: <%= link_to @product_introduction.box_bg_image_file_name, @product_introduction.box_bg_image.url %></div>
  <% end %>
  <%= f.input :page_bg_image, label: "Page background image" %>
  <% if @product_introduction.page_bg_image_file_name.present? %>
  <div class="hint">Currently: <%= link_to @product_introduction.page_bg_image_file_name, @product_introduction.page_bg_image.url %></div>
  <% end %>
  <br/><%= f.button :submit %>

<% end %>