<%= form_for([:admin, @product_introduction]) do |f| %>
  <% if @product_introduction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product_introduction.errors.count, "error") %> prohibited this intro from being saved:</h2>

      <ul>
      <% @product_introduction.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :product_id %><br />
    <%= f.select :product_id, Product.order(:name).collect{|p| [p.name, p.id]} %>
  </div>

  <div class="field">
    <%= f.label :expires_on %><br />
    <%= f.text_field :expires_on, class: 'ui-datepicker' %>
  </div>

  <div class="field">
    <%= f.label :layout_class %><br />
    <%= f.text_field :layout_class %>
  </div>

  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>

  <div class="field">
    <%= f.label :extra_css %><br />
    <%= f.text_area :extra_css %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>