<%= form_for([:admin, @product_introduction]) do |f| %>
  <% if @product_introduction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product_introduction.errors.count, "error") %> prohibited this intro from being saved:</h2>

      <ul>
      <% @product_introduction.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :product_id %><br />
    <%= f.collection_select :product_id, Product.order(:name), :id, :name %>
  </div>

  <div class="field">
    <%= f.label :expires_on %><br />
    <%= f.text_field :expires_on, class: 'ui-datepicker' %>
  </div>

  <div class="field">
    <%= f.label :layout_class %><br />
    <%= f.text_field :layout_class %>
  </div>

  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>

  <div class="field">
    <%= f.label :extra_css %><br />
    <%= f.text_area :extra_css %>
  </div>

  <div class="field">
    <%= f.label :top_image %><br />
    <%= f.file_field :top_image %>
    <% if @product_introduction.top_image_file_name.present? %>
    <div class="hint">Currently: <%= link_to @product_introduction.top_image_file_name, @product_introduction.top_image.url %></div>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :box_bg_image, "Box background image" %><br />
    <%= f.file_field :box_bg_image %>
    <% if @product_introduction.box_bg_image_file_name.present? %>
    <div class="hint">Currently: <%= link_to @product_introduction.box_bg_image_file_name, @product_introduction.box_bg_image.url %></div>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :page_bg_image, "Page background image" %><br />
    <%= f.file_field :page_bg_image %>
    <% if @product_introduction.page_bg_image_file_name.present? %>
    <div class="hint">Currently: <%= link_to @product_introduction.page_bg_image_file_name, @product_introduction.page_bg_image.url %></div>
    <% end %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>