<% if @toolkit_resource.toolkit_resource_type.marketing_message? %>

<div class="instructions">
  Use this form to add a <%= website.brand.name %> marketing message to specific
  types of users on the marketing toolkit.
</div>

<% else %>

<div class="instructions">
  Use this form to link to hi-res or zipped source files for marketing items. Since
  large files take an unpredictable amount of time to upload via the web browser,
  the full-size asset needs to be copied to the shared toolkit folder on the network
  first. If you don't know where it is, or don't have access, talk to Adam.
</div>

<% end %>

<%= simple_form_for [:admin, @toolkit_resource] do |f| %>
  <%= f.hidden_field :toolkit_resource_type_id %>

  <% if @toolkit_resource.toolkit_resource_type.marketing_message? %>
    <%= f.input :name, label: "Message Title" %>
    <%= f.input :message %>
    <%= f.text_field :expires_on, input_html: {class: 'ui-datepicker'} %>
  <% else %>
    <%= f.input :name, label: "Resource Name", hint:"(be descriptive \"front/back\", \"CMYK\", etc.)" %>
    <%= f.input :download_path, hint: "(on the shared toolkit folder, usually starts with brand name)", placeholder: "#{website.folder}/#{@toolkit_resource.toolkit_resource_type.name.parameterize.tableize}/..." %>
    <div class="row">
      <div class="large-6 columns">
        <%= f.input :download_file_size,
            label: "Download file size (in bytes)",
            placeholder: "9999999",
            hint: "Right-click and choose 'properties' or 'more info' on the original file." %>
      </div>
      <div class="large-6 columns">
        <%= f.input :tk_preview, label: "Preview image",
              hint: "Gives the visitor an idea about what the full-sized file contains. No need for big files here--will be automatically sized and cropped." %>
      </div>
    </div>
  <% if @toolkit_resource.toolkit_resource_type.related_model.present? %>
    <div class="row">
      <div class="large-6 columns">
        <%= f.label :related_id,
            "Related #{@toolkit_resource.toolkit_resource_type.related_model.titleize}" %>
        <%= toolkit_collection_select_for(f, @toolkit_resource.toolkit_resource_type.related_model) %>
        <div class="hint">If you can't find the related <%= @toolkit_resource.toolkit_resource_type.related_model.titleize.downcase %> above, you might need to
          <%= link_to "create it first", eval("new_admin_#{@toolkit_resource.toolkit_resource_type.related_model.underscore}_path") %>.</div>
      </div>
    </div>
  <% end %>


  <% end %>

    <%= f.input :dealer, label: "Show to dealers" %>
    <%= f.input :distributor, label: "Show to distributors" %>
    <%= f.input :rso, label: "Show to RSOs and Sales Reps" %>
    <%= f.input :media, label: "Show to media personnel" %>

    <br/>
    <%= f.button :submit %>

<% end %>
