<div class="instructions">
  Use this form to link to hi-res or zipped source files for marketing items.
</div>

<%= form_for([:admin, @toolkit_resource], html: {multipart: true}) do |f| %>
  <% if @toolkit_resource.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@toolkit_resource.errors.count, "error") %> prohibited this toolkit resource from being saved:</h2>

      <ul>
      <% @toolkit_resource.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :toolkit_resource_type_id %>

  <div class="field">
    <%= f.label :name, "Resource Name" %> (be descriptive "back", "CMYK", etc.)<br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :download_path %> (on the shared toolkit folder)<br/>
    <%= f.text_field :download_path, placeholder: "#{website.folder}/#{@toolkit_resource.toolkit_resource_type.name.parameterize.tableize}/..." %>
  </div>

  <div class="field">
    <%= f.label :download_file_size %> (in bytes)<br/>
    <%= f.text_field :download_file_size, placeholder: "9999999" %> 
    <div class="hint">Right-click and choose 'properties' or 'more info' on the original file.</div>
  </div>

  <% if @toolkit_resource.toolkit_resource_type.related_model.present? %>
  <div class="field">
    <%= f.label :related_id, 
        "Related #{@toolkit_resource.toolkit_resource_type.related_model.titleize}" %><br/>
    <%= toolkit_collection_select_for(f, @toolkit_resource.toolkit_resource_type.related_model) %>
    <div class="hint">If you can't find the related <%= @toolkit_resource.toolkit_resource_type.related_model.titleize.downcase %> above, you might need to 
      <%= link_to "create it first", eval("new_admin_#{@toolkit_resource.toolkit_resource_type.related_model.underscore}_path") %>.</div>
  </div>
  <% end %>

  <div class="field">
    <%= f.label :tk_preview, "Preview image" %><br/>
    <%= f.file_field :tk_preview %>
    <div class="hint">Gives the visitor an idea about what the full-sized file contains.
      No need for big files here--will be automatically sized &amp; cropped.</div>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
