<h1>Toolkit Resources</h1>

<% if can? :create, ToolkitResource %>
<div class="button_container">
	<%= form_tag new_admin_toolkit_resource_path, method: :get do %>
		<%= select_tag :toolkit_resource_type_id, 
					options_from_collection_for_select(ToolkitResourceType.order(:name), :id, :name) %>
		<%= submit_tag "New Toolkit Resource", name: nil %>
	<% end %> 
</div>
<% end %>

<h3>Search Toolkit Resources:</h3>
<%= search_form_for [:admin, @search] do |f| %>
  <div class="form_field">
    <%= f.label :name_cont, "Resource Name contains" %><br/>
    <%= f.text_field :name_cont %>
    <%= f.submit "Search resources" %>
  </div>
<% end %>


<% if @toolkit_resources.length > 0 %>

	<ul>
		<% @toolkit_resources.each do |toolkit_resource| %>
		  <li><%= link_to toolkit_resource.name, [:admin, toolkit_resource] %> </li>
		<% end %>
	</ul>

<% else %>

	<% if can?(:manage, BrandToolkitContact) %>
		<h3><%= website.brand.name %> Marketing Contacts</h3>
		<%= link_to "new", new_admin_brand_toolkit_contact_path, class: "new button" %>
		<ul>
			<% website.brand.brand_toolkit_contacts.each do |btc| %>
			<li><%= link_to btc.user.name, edit_admin_brand_toolkit_contact_path(btc) %></li>
			<% end %>
		</ul>
	<% end %>
	
<% end %>