<h1>Toolkit Resources</h1>

<% if can? :create, ToolkitResource %>
<div class="button_container">
	<%= form_tag new_admin_toolkit_resource_path, method: :get do %>
		<%= select_tag :toolkit_resource_type_id, 
					options_from_collection_for_select(ToolkitResourceType.where("marketing_message IS NULL OR marketing_message < 1").order(:name), :id, :name) %>
		<%= submit_tag "New Toolkit Resource", name: nil %>
	<% end %> 
</div>
<% end %>

<h3>Search Toolkit Resources:</h3>
<%= search_form_for [:admin, @search] do |f| %>
  <div class="form_field">
    <%= f.label :name_cont, "Resource Name contains" %><br/>
    <%= f.text_field :name_cont %>
    <%= f.submit "Search resources" %>
  </div>
<% end %>


<% if @toolkit_resources.length > 0 %>

	<ul>
		<% @toolkit_resources.each do |toolkit_resource| %>
		  <li><%= link_to toolkit_resource.name, [:admin, toolkit_resource] %> </li>
		<% end %>
	</ul>

<% else %>

	<% if can?(:manage, BrandToolkitContact) %>
	<div class="group">
		<h3><%= website.brand.name %> Marketing Contacts</h3>
		<p><%= link_to "new", new_admin_brand_toolkit_contact_path, class: "new button" %></p>

		<ul id="brand_toolkit_contacts" class="sortable_list">
			<% website.brand.brand_toolkit_contacts.each do |btc| %>
			<li id="brand_toolkit_contact_<%= btc.id %>">
				<span class="handle"><%= image_tag("drag_handle.gif") %></span>
				<%= link_to btc.user.name, edit_admin_brand_toolkit_contact_path(btc) %>
				<%= link_to(image_tag("trash.gif"), 
							admin_brand_toolkit_contact_path(btc), 
							confirm: "Are you sure? (This won't delete the person--it will only remove them from the sidebar on the #{website.brand.name} toolkit.)", 
							remote: true,
							method: :delete) %>
			</li>
			<% end %>
		</ul>
	</div>
	<% end %>

	<% if can?(:manage, ToolkitResource) && @marketing_message_type %>
	<div class="group">
		<h3>Marketing Messages</h3>
		<p><%= link_to "new", new_admin_toolkit_resource_path(toolkit_resource_type_id: @marketing_message_type.id), class: "new button" %></p>
		<ul>
			<% @marketing_messages.each do |mm| %>
			<li><%= link_to mm.name, [:admin, mm] %> <% if mm.expired? %><i>expired</i><% end %></li>
			<% end %>
		</ul>
	</div>
	<% end %>

	<div class="group">
		<h3>Accessing the Toolkit</h3>
		<p>Invite others to use the toolkit by sharing the toolkit URL:
			<a href="http://<%= HarmanSignalProcessingWebsite::Application.config.toolkit_url %>">http://<%= HarmanSignalProcessingWebsite::Application.config.toolkit_url %></a>.</p>

			<ul class="list">
				<li>Dealers and Distributors can register to access the toolkit by providing their SAP account number. Most already have an auto-created account with their email address and the default password: toolkit</li>
				<li>RSOs can register to access the toolkit by entering the following invitation code: <%= HarmanSignalProcessingWebsite::Application.config.rso_invitation_code %></li>
				<li>Harman employees can register to access the toolkit by entering the following invitation code: <%= HarmanSignalProcessingWebsite::Application.config.employee_invitation_code %></li>
			</ul>

		<p><i>A Harman employee who already has access to this admin (for any brands) already has access
			to the toolkit and should use the same login.</i></p>
	</div>

<% end %>