<h1>Toolkit Resource</h1>

<ul class="button-group round">
	<li><%= link_to 'Back', admin_toolkit_resources_path, class: "small secondary button" %></li>
	<li><%= link_to 'Edit', edit_admin_toolkit_resource_path(@toolkit_resource), class: "small secondary button" %> </li>
	<li><%= link_to 'Delete', [:admin, @toolkit_resource], confirm: 'Are you sure?', method: :delete, class: "small alert button" %></li>
</ul>

<br/>
<div class="field">
<% if @toolkit_resource.tk_preview_file_name.present? %>
	<%= image_tag @toolkit_resource.tk_preview.url(:small) %>
	&nbsp;
	<%= link_to image_tag("icons/trash.gif"), 
				delete_preview_admin_toolkit_resource_path(@toolkit_resource),
				confirm: "Are you sure you want to delete the preview image?" %>
<% end %>
</div>

<% if @toolkit_resource.toolkit_resource_type.marketing_message? %>

	<h3><%= @toolkit_resource.name %></h3>
	<p>Expires: <%= @toolkit_resource.expires_on %></p>
	<div><%= raw @toolkit_resource.message %></h4>

<% else %>

<% if @toolkit_resource.link_checked_at.present? && !@toolkit_resource.link_good? %>
	<div data-alert class="round alert-box alert">
		File path not found on server. Last checked: <%= l @toolkit_resource.link_checked_at %>
		<a href="#" class="close">&times;</a>
	</div>
<% end %>

<table class="data">
	<tbody>
		<tr>
			<th>Name</th>
			<td><%= @toolkit_resource.name %></td>
		</tr>
		<tr>
			<th>File Path</th>
			<td><%= @toolkit_resource.download_path %></td>
		</tr>
		<% if @toolkit_resource.download_file_size.present? %>
		<tr>
			<th>File Size</th>
			<td><%= number_to_human_size(@toolkit_resource.download_file_size) %></td>
		</tr>
		<% end %>
		<% if @toolkit_resource.related_item %>
		<tr>
			<th>Related <%= @toolkit_resource.toolkit_resource_type.related_model.titleize %></th>
			<td>
				<% if @toolkit_resource.related_item %>
					<%= link_to @toolkit_resource.related_item_name, [:admin, @toolkit_resource.related_item] %>
				<% else %>
					<span class="round alert label">Related item not found.</span>
				<% end %>
			</td>
		</tr>
		<% end %>
		<tr>
			<th>Resource Type</th>
			<td><% if can? :manage, @toolkit_resource.toolkit_resource_type %>
					<%= link_to @toolkit_resource.toolkit_resource_type.name, [:admin, @toolkit_resource.toolkit_resource_type] %>
				<% else %>
					<%= @toolkit_resource.toolkit_resource_type.name %>
				<% end %>
			</td>
		</tr>
	</tbody>
</table>

<% end %>

<div class="group" style="margin-top: 15px;">
	<h3>Visibility</h3>
	<p>Show to dealers? <b><%= @toolkit_resource.dealer? ? "yes" : "no" %></b><br/>
	Show to distributors? <b><%= @toolkit_resource.distributor? ? "yes" : "no" %></b><br/>
	Show to media personnel? <b><%= @toolkit_resource.media? ? "yes" : "no" %></b><br/>
	Show to RSOs and Sales Reps? <b><%= @toolkit_resource.rso? ? "yes" : "no" %></b></p>
	<p class="hint">Harman staff see all.</p>
</div>
