<%= form_for([:admin, @rso_navigation]) do |f| %>
  <% if @rso_navigation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rso_navigation.errors.count, "error") %> prohibited this element from being saved:</h2>

      <ul>
      <% @rso_navigation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	<%= f.hidden_field :brand_id %>
	<%= f.hidden_field :rso_panel_id %>
  <div class="field">
    <%= f.label :name, "Text to show" %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :url, "URL to link to" %><br />
    <%= f.text_field :url %>
	<div class="hint">Must start with 'http://' when linking to a page outside of the RSO site.</div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
