<h1>RSO Site Navigation Elements</h1>

<div class="button_container">
	<%= link_to 'New element', new_admin_rso_navigation_path, class: "new button" %>
</div>

<p>These appear on the top of the <%= website.brand_name %> page on the RSO site.</p>

<ul id="rso_navigations" class="sortable_list">
<% @rso_navigations.each do |rso_navigation| %>
  <li id="rso_navigation_<%= rso_navigation.id %>">
	<span class="handle"><%= image_tag("icons/drag_handle.gif") %></span>
  	<%= link_to rso_navigation.name, [:admin, rso_navigation] %>
	<span class="hint"><%= rso_navigation.url %></span>
  </li>
<% end %>
</ul>

<%#= sortable_element "rso_navigations",
        # complete: visual_effect(:highlight, "rso_navigations"),
        url: update_order_admin_rso_navigations_path %>