<h1>RSO Site Navigation Item</h1>

<ul class="button-group round">
	<li><%= link_to 'Back', admin_rso_navigations_path, class: "small secondary button" %>	</li>
	<li><%= link_to 'Edit', edit_admin_rso_navigation_path(@rso_navigation), class: "small secondary button" %> </li>
	<li><%= link_to 'Delete', [:admin, @rso_navigation], confirm: 'Are you sure?', method: :delete, class: "small alert button" %></li>
</ul>

<p>
  <b>Name:</b>
  <%= @rso_navigation.name %>
</p>

<p>
  <b>Url:</b>
  <%= @rso_navigation.url %>
</p>


