<h1>RSO Site Navigation Item</h1>

<div id="button_container">
	<%= link_to 'Back', admin_rso_navigations_path, class: "back button" %>	
	<%= link_to 'Edit', edit_admin_rso_navigation_path(@rso_navigation), class: "edit button" %> 
	<%= link_to 'Delete', [:admin, @rso_navigation], confirm: 'Are you sure?', method: :delete, class: "delete button" %>
</div>

<p>
  <b>Name:</b>
  <%= @rso_navigation.name %>
</p>

<p>
  <b>Url:</b>
  <%= @rso_navigation.url %>
</p>


