<% set_meta_tags og: {
		image: image_url("#{website.folder}/logo.png"),
		type: 'website',
		description: "JBL Commercial Products",
		title: "JBL Commercial Products"
	} %>

<%= content_for :feature do %>
	<%= cache ["slideshow", website.brand, I18n.locale] do %>
		<% slides = Setting.slides(website) %>
		<% if slides.size > 0 %>
			<%= slideshow(slides: slides, transition: "fade") %>
		<% end %>
	<% end %>
<% end %>

<h2 style="margin-bottom: 0px"><%= t "jbl_commercial.cs_series" %></h2>
<p><%= t "jbl_commercial.commercial_solutions_series" %></p>
<%= cache ["homepage_features", website.brand, I18n.locale] do %>
	<% if @features.size > 0 %>
		<% @features.each_with_index do |feature,i| %>
		<span class="homepage_feature" <% if i == (@features.size - 1) %>style="margin-right: 0px"<% end %>>
			<%= feature_button(feature) %>
		</span>
		<% end %>
	<% else %>
		<%= featured_product_families %>
	<% end %>
<% end %>

  <div class="clear"></div>

<%= content_for :big_bottom_box do %>
	<%= link_to(image_tag("#{website.folder}/jbl_consumer.png", alt: "JBL Consumer"), "http://www.jbl.com", target: "_blank") %>
	&nbsp;
	<%= link_to(image_tag("#{website.folder}/jbl_professional.png", alt: "JBL Professional"), "http://www.jblpro.com", target: "_blank") %>
	&nbsp;
	<%= link_to(image_tag("#{website.folder}/jbl_synthesis.png", alt: "JBL Synthesis"), "http://www.jblsynthesis.com", target: "_blank") %>
<% end %>

<%= content_for :preload do %>
	<%= preload_background_images %>
<% end %>

<%= content_for :popup_code do %>
	<% if website.homepage_popup %>
		<%=raw website.homepage_popup %>
	<% end %>
<% end %>

<div id="homepage-counter" data-counter="<%= @counter %>"></div>