<h1><%= @label_sheet.name %></h1>

<ul class="button-group round">
  <li><%= link_to 'Back', admin_label_sheets_path, class: "small secondary button" %></li>
  <% if can? :manaage, @label_sheet %>
	<li><%= link_to 'Edit', edit_admin_label_sheet_path(@label_sheet), class: "small secondary button" %> </li>
	<li><%= link_to 'Delete', [:admin, @label_sheet], confirm: 'Are you sure?', method: :delete, class: "small alert button" %></li>
  <% end %>
</ul>	

<h4>Labels:</h4>
<%#= @label_sheet.label_names %>

<%= render_partial "shared/label_sheet", label_sheet: @label_sheet %>
