<% set_meta_tags title: t('titles.support'),
				 description: t('meta.description.support', brand: website.brand_name),
				 reverse: true %>

<h1 class="page_title">
<% if File.exists?(Rails.root.join("app", "assets", "images", "#{website.folder}/#{I18n.locale}/support_head.jpg")) %>
	<%= image_tag("#{website.folder}/#{I18n.locale}/support_head.jpg", alt: t('titles.support')) %>
<% else %>
	<%= t('titles.support') %>
<% end %>
</h1>

<p style="text-align: center;">
	<% if website.has_software? %>
	<%= link_to t('software_downloads'), software_index_path %> &bull;
	<% end %>
	<% if website.training_url %>
		<%= link_to t('training'), website.training_url %> &bull;
	<% end %>
	<% if !!(website.value_for("troubleshooting_url")) %>
	<%= link_to t('troubleshooting').downcase, support_troubleshooting_path %> &bull;
	<% end %>
  <% if website.has_product_registrations? %>
	<!--
	<%#= link_to t('warranty_registration'), warranty_registration_path %> &bull;
	-->
  <% end %>
	<%= link_to t('titles.rohs'), rohs_path %>
</p>

<div class="two_column_container">
	
	
		<div class="column_one" style="width: 65%">
			<h2><%= t('titles.contact_us') %></h2>
			<%= form_for :contact_message, url: support_contact_path, html: {class: "contact"} do |f| %>
				<%= f.error_messages %>

				<div><%= f.label :name, t('your_name') %><br/>
				   <%= f.text_field :name %></div>
				<div><%= f.label :email, ucfirst(t('email')) %><br/>
				   <%= f.text_field :email %></div>
				<%= cache ["contact_form_products", website.brand] do %>
				<div><%= f.label :product %> <%= "(required)" if @contact_message.require_product? %><br/>
					<%= f.collection_select :product, 
							Product.all_for_website(website) + [Product.new(name: "other")],
							:name, :name, prompt: true %>
				</div>
				<% end %>
				<div><%= f.label :operating_system %><br/>
					<%= f.text_field :operating_system %></div>
				<div><%= f.label :subject, t('subject') %><br/>
					<%= f.select :subject, ContactMessage.subjects(brand: website.brand) %></div>
				<p><%= t('message') %>:</p>
				<%= f.text_area :message, size: "60x8" %>
				
				<div class="captcha">
					<%= recaptcha_tags public_key: website.recaptcha_public_key, stoken: false  %>
				</div>
				
				<p><%= submit_tag t('submit') %></p>
			<% end %>
		</div>
		
		<div class="column_two" style="width: 30%; padding-top: 10px;">
			<% if addr = website.address_and_phone %>
				<h2><%= t("titles.mailing_address") %></h2>
				<p>
					<%=raw addr %>
					<% if sup = website.support_email %>
					<br/><%= mail_to sup, sup %>
					<% end %>
				</p>
			<% end %>
		</div>
		
		<div class="clear"></div>
</div>
	
