<%= cache "yt_row_#{video_id(video)}" do %>
<% begin %>
<% video = @youtube_client.video_by(video_id(video)) %>
<% description = video.html_content || video.description %>
<tr>
	<td valign="top">
		<div style="position: relative; margin: 0px 20px 20px 20px;">
			<%= link_to(image_tag(video.thumbnails.last.url, alt: video.title, height: 90, width: 120), 
				play_video_path(video_id(video))) %>
			<div style='position:absolute; top: 30px; left: 45px; z-index: 2000'>
				<%= link_to(image_tag("play.png", alt: "play"), play_video_path(video_id(video))) %>
			</div>
		</div>
	</td>
	<td valign="top" style="padding-bottom: 16px;">
		<div><b><%= link_to(video.title, play_video_path(video_id(video))) %></b></div>
		<p style="font-size: 70%; color: #666">
			<%=l video.published_at.to_date, format: :long %> 
			&nbsp;&nbsp;
			<%= seconds_to_MS(video.duration) %>
		</p>
		<span style="font-size: 85%"><%=auto_link truncate(description, length: 235) %></span>
	</td>
</tr>
<% rescue %>
<!-- video could not be loaded -->
<% end %>
<% end %>