<table style="width: 650px; margin-left:">
	<% @playlists.each_with_index do |playlist,i| %>
	<tr>
		<% if playlist.respond_to?(:title) %>
		<th colspan="2">
			<h<%= i+1 %> style="color:#222"><%= playlist.title %></h<%= i+1 %>>
			<p><%= playlist.description %></p>
		</th>
		<% else %>
		<th colspan="2">
			<h<%= i+1 %>><%= @page_title %></h<%= i+1 %>>
		</th>
		<% end %>
	</tr>
	<%= render partial: "video", collection: playlist.videos %>
	<% end %>
</table>

<% if @youtube_user.present? %>
<div style="position: absolute; top: 24px; right: 6px; width: 265px; text-align: center;">
	<p><%= link_to(image_tag("icons/circle/128x128/youtube.png", alt: "YouTube"), "http://www.youtube.com/#{@youtube_user}", target: "_blank") %></p>
  <p>Visit our channel on Youtube</p>
</div>
<% end %>
