<% set_meta_tags title: "Videos from #{ website.brand.name }",
  description: "Watch the latest videos from #{ website.brand.name }",
	reverse: true,
	og: {
		type: 'summary',
    description: "Watch the latest videos from #{ website.brand.name }",
    title: "#{ website.brand.name } Videos"
  }
%>

<div class="row sticky-container">
  <div class="large-3 medium-4 small-5 columns">
    <h6>Playlists:</h6>
    <ul>
      <% @playlists.each do |playlist| %>
        <li><%= link_to playlist['snippet']['title'], "##{ playlist['snippet']['title'].parameterize }" %></li>
      <% end %>
    </ul>
    <% if @youtube_user.present? %>
      <%= link_to("http://www.youtube.com/#{@youtube_user}", target: "_blank") do %>
        <div class="panel text-center">
          <%= image_tag("icons/circle/48x48/youtube.png", alt: "YouTube") %>
          <p>Visit our channel on Youtube</p>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="large-9 medium-8 small-7 columns video-category-container">
    <% @playlists.each do |playlist| %>
      <a name="<%= playlist['snippet']['title'].parameterize %>"></a>
      <h3><%= playlist['snippet']['title'] %></h3>
      <p><%= playlist['snippet']['description'] %></p>
      <%= cache ["playlist_feed", playlist['id']] do %>
			<ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-5">
        <% Youtube.get_video_list_data(playlist["id"], limit: 50)["items"].each do |video_item| %>
          <% video = video_item['snippet'] %>
          <% if video["thumbnails"] && video["thumbnails"]["default"] %>
            <li align="center">
              <%= link_to play_video_url(video["resourceId"]["videoId"]), data: { videoid: video["resourceId"]["videoId"]}, class: 'start-video' do %>
                <img src="<%= video["thumbnails"]["default"]["url"] %>" class="radius">
                <br/>
                <small><%= video['title'] %></small>
              <% end %>
            </li>
          <% end %>
        <% end %>
			</ul>
      <% end %>
    <% end %>
  </div>
</div>

