<div class="row">
  <div class="large-10 columns">
    <% @playlists.each do |playlist| %>
        <% if playlist.respond_to?(:title) %>
          <h2><%= playlist.title %></h2>
          <p><%= playlist.description %></p>
        <% else %>
          <h2><%= @page_title %></h2>
        <% end %>
        <%= render partial: "video", collection: playlist.videos %>
    <% end %>
  </div>

  <div class="large-2 text-center hide-for-medium-down columns">
    <% if @youtube_user.present? %>
      <p><%= link_to(image_tag("icons/circle/128x128/youtube.png", alt: "YouTube"), "http://www.youtube.com/#{@youtube_user}", target: "_blank") %></p>
      <p>Visit our channel on Youtube</p>
    <% end %>
  </div>
</div>
