<h1><%= @video.title %></h1>
<p><%= link_to "<< back to videos", videos_path %></p>

<div class="row">
  <div class="large-8 large-offset-2 small-12 columns">
    <div class="video-window">
      <%=raw @video.embed_html5({class: 'video-player', id: @video_id, width: '640', height: '390', frameborder: '1'}) %>
<!-- 	<iframe width="640" height="390" src="http://www.youtube.com/embed/<%= @video_id %>" frameborder="0" allowfullscreen></iframe> -->
    </div>
    <div>
      <%= render 'shared/add_this' %>
      <% begin %>
        <p><%= auto_link @video.description %></p>
      <% rescue %>
        <!-- Meta data could not be loaded -->
      <% end %>
    </div>

    <p><%= link_to "watch on youtube", @video.player_url, target: "_blank", class: "tiny secondary button" %></p>

    <%= cache "yt_side_bar_#{@video_id}" do %>
			<%= related_product_links_for_video(@video) %>
			<% other_videos = favorites_except(@video_id, @youtube_client, @youtube_user, 6) %>
			<% if other_videos.size > 0 %>
			<h3><%= @youtube_user %> Favorites</h3>
			<table>
				<% other_videos.each do |video| %>
				<tr>
					<td valign="top">
						<div style="position: relative; margin: 4px 10px 4px 0px;">
						<%= link_to(image_tag(video.thumbnails.last.url, alt: video.title, height: 45, width: 60),
							play_video_path(video_id(video))) %>
						</div>
					</td>
					<td valign="top" style="padding-bottom: 16px;">
						<div><b><%= link_to(video.title, play_video_path(video_id(video))) %></b></div>
						<p style="font-size: 70%; color: #666">
							<%=l video.published_at.to_date, format: :long %> &nbsp;&nbsp;<%= seconds_to_MS(video.duration) %>
						</p>
					</td>
				</tr>
				<% end %>
			</table>
			<% end %>
    <% end %>
  </div>
</div>

