<h1><%= @video['title'] %></h1>
<p><%= link_to "<< back to videos", videos_path %></p>

<div class="row">
  <div class="medium-12 large-10 large-offset-1 small-12 columns">
    <div class="video-window flex-video youtube">
      <iframe class="video-player" id="<%= @video_id %>" src="http://www.youtube.com/embed/<%= @video_id %>" frameborder="0"></iframe>
    </div>

    <%= render 'shared/add_this' %>

    <% begin %>
      <p><%= auto_link @video['description'] %></p>
    <% rescue %>
      <!-- Meta data could not be loaded -->
    <% end %>

    <%= cache "yt_side_bar_#{@video_id}" do %>
			<%= related_product_links_for_video(@video) %>
    <% end %>
  </div>
</div>

