<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
		<%= csrf_meta_tag %>
		<%= cache ["meta_tags", request.url] do %>
			<%= cached_meta_tags %>

			<meta property="og:site_name" content="<%= website.site_name %>" />
			<meta property="og:locale" content="<%= I18n.locale %>" />
			<meta property="og:url" content="<%= request.url %>" />
			<%= hreflang_links %>
      <%= page_schema %>

      <% if website.color %>
        <meta name="theme-color" content="<%= website.color %>">
      <% end %>

			<% if website.twitter_name %>
				<meta property="twitter:site" value="@<%= website.twitter_name %>" />
			<% end %>

			<% if File.exist?(Rails.root.join("app", "assets", "images", website.folder, "logo.png")) %>
				<link rel="image_src" href="<%= image_url("#{website.folder}/logo.png") %>" />
			<% end %>

			<!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
			<![endif]-->

      <% if website.google_site_verification %>
        <meta name="google-site-verification" content="<%= website.google_site_verification %>" />
      <% end %>
			<link href="<%= rss_url(format: 'xml') %>" rel="alternate" title="RSS" type="application/rss+xml"/>
			<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
			<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<% end %>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.14.0/jquery-ui.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/13.1.1/math.min.js" integrity="sha512-g9Hl9sW0nMwhkRPakKcrKyxx6NMT/vD/zu7nhggnjI9as96SdYA/KocpFXxJ1TXFZN9ki0Bv1G7NPchjiSE2VQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<%= javascript_include_tag 'application' %>
		<%= stylesheet_link_tag website.folder %>
		<%= yield :extra_header_code %>
    <%= cache [website, "other_header_scripts", Date.today, I18n.locale] do %>
      <% if Rails.env.production? && !!website.value_for('other_header_scripts') %>
        <%= raw website.value_for('other_header_scripts') %>
      <% end %>
    <% end %>

		<%= yield :custom_css %>
    <%= yield :extra_js %>
	  <%= render_partial "shared/analytics" %>
	</head>
	<body data-brand="<%= website.brand.name %>">
    <%= cache [website, "other_body_scripts", Date.today, I18n.locale] do %>
      <% if Rails.env.production? && !!website.value_for('other_body_scripts') %>
        <%= raw website.value_for('other_body_scripts') %>
      <% end %>
    <% end %>
		<div id="fb-root"></div>
		<script>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>
    <%#= render_partial "shared/admin_dashboard_link" %>

		<%= yield :extra_notice %>
		<%= render_partial "shared/locale_switcher" %>

		<%= cache ["header", website, I18n.locale] do %>
		<header>
			<div id="inner_header">
			<div id="logo">
				<% if File.exist?(Rails.root.join("app", "assets", "images", website.folder, "logo.png")) %>
				<%= link_to(image_tag("#{website.folder}/logo.png", alt: Setting.site_name(website)), locale_root_path) %>
				<% else %>
				<h2><%= link_to website.brand_name, locale_root_path %></h2>
				<% end %>
			</div>
			<div id="supernav">
				<%= image_tag "#{website.folder}/harman.png", alt: "HARMAN" %>
			</div>
			<div id="topnav">
				<ul>
          <%= extra_top_nav_links %>
				</ul>
			</div>
			<%# search is only available in default language for now...%>
			<% if I18n.locale.to_s.match(/#{I18n.default_locale.to_s.split('-')[0]}/i) && website.value_for("enable_search") %>
			<div id="search_form">
				<%= form_tag search_path, method: :get %>
					<%= text_field_tag :query, t('search'), onclick: "if (this.value == '#{t('search')}') { this.value = '';} ", 'aria-label': t('search') %>
					<%= submit_tag t('search'), id: 'submit' %>
				</form>
			</div>
			<% end %>
			</div>
		</header>
		<% end %>

		<div id="page_container">

		<% if content_for?(:feature) %>
			<div id="feature_bg"></div>
			<div id="feature_container">
				<%= yield :feature %>
			</div>
		<% end %>

		<div id="content_container" <% unless controller_name == "main" && action_name == "index" -%>class="internal_page"<% end -%>>
			<div id="content_container_content" style="position: relative;<% if controller_name == "main" && action_name == "index" -%>padding: 0;<% end -%>">
				<% flash.each do |name, msg| %>
				  <%= content_tag :div, msg, id: "flash_#{name}" %>
				<% end %>
				<%= yield %>
			</div>
		</div>

		<% if content_for?(:middle_stuff) %>
		<div id="middle_container">
			<%= yield :middle_stuff %>
		</div>
		<% end %>

		<% if content_for?(:big_bottom_box) %>
			<div id="big_bottom_box_container">
				<div id="big_bottom_box_content">
				<%= yield :big_bottom_box %>
				</div>
				<div class="clear"></div>
			</div>
		<% else %>
			<div style="height: 1px;">&nbsp;</div>
		<% end %>
		</div>

		<%= cache ["footer", website.brand, I18n.locale] do %>
		<footer>
			<%= hpro_footer %>
			<div id="footer_info">
        <% if website.has_software? && (website.current_softwares.length > 0 || website.forced_current_softwares.length > 0) %>
				<%= link_to t('software_downloads').downcase, software_index_path %> &bull;
				<% end %>
				<% if website.has_reviews? %>
				<%= link_to t('product_reviews').downcase, product_reviews_path %> &bull;
				<% end %>
				<%= link_to t('news'), news_index_path %> &bull;
				<% if website.has_artists? %>
				<%= link_to 'professionals', artists_path %> &bull;
				<% end %>
				<% if website.has_dealers? || website.has_online_retailers? || website.has_distributors? %>
				<%= link_to t('where_to_buy'), where_to_find_path %> &bull;
				<% end %>
				<%= link_to t('product_support'), support_path %> &bull;
				<%= link_to t('privacy_policy').titleize, "https://www.harman.com/privacy-policy", target: "_blank" %> &bull;
				<%= link_to t('terms_of_use').titleize, "https://www.harman.com/terms-use", target: "_blank" %>
			</div>
			<div id="footer_left">
				<%= image_tag "harman.jpg" %>
				&copy; <%= Date.today.year %>
				<%= link_to(t('harman'), "https://www.harman.com/", target: "_blank") %>.
				<%= t('all_rights_reserved') %>
			</div>
		</footer>
		<% end %>

		<% if content_for?(:dealer_popup) %>
			<div id="blanket" style="display:none;"></div>
			<div id="dealer_popup_close" style="display:none;">
				<%= link_to(image_tag("close.png"), @product, class: "buy_it_now_popup", data: {windowname: 'dealer_popup'})%>
			</div>
			<div id="dealer_popup" style="display:none;">
				<%= yield :dealer_popup %>
				<p><%= link_to "close", @product, class: "buy_it_now_popup", data: {windowname: 'dealer_popup'} %></p>
			</div>
		<% end %>
		<div id="preload"><%= yield :preload %></div>
		<% if content_for?(:popup_code) %>
			<%= yield :popup_code %>
		<% end %>
    <%= render_partial "shared/footer_scripts" %>
	</body>
</html>
