<h3><%= social_media_links 'rss' %> <%= link_to t("titles.news", brand: website.brand_name), news_index_path %>
	<% if website.blog_url %>
	&bull; <%= link_to t("titles.blog", brand: website.brand_name), website.blog_url %>
	<% end %></h3>
<table class="news_list">
<% @news.each do |news| %>
  <tr>
	<td class="date">
		<%= (news.news_photo_file_name.blank?) ? "" : link_to(image_tag(news.news_photo.url(:thumb)), news) %></td>
	<td class="preview">
		<h5><%=l news.post_on, format: :long %></h5>
		<%= link_to translate_content(news, :title), news_path(news, locale: I18n.locale) %>
	</td>
  </tr>
<% end %>
</table>