<% if can?(:read, item) %>
  <tr class="download-item-row">
    <% if item.is_a?(SiteElement) %>
      <% if item.external_url.present? || item.executable_file_name.present? %>
        <td>
          <% if can?(:manage, item) && !(local_assigns[:skip_admin_functions])%>
            <div class="row">
              <div class="small-11 columns">
                <%= file_type_icon(item) %>
                <%= link_to item.name, item, class: "download_#{item.resource_type.downcase.gsub(" ","_")}" %>
                <%= keys_for(item) %>
                <div class="show-for-small">
                  <%= flag_for(item) %>
                  <i>
                    <% if item.version.present? %>version <%= item.version %>, <% end %>
                    updated: <%=l item.updated_at.to_date, format: :month_year %>
                  </i>
                </div>
              </div>
              <div class="small-1 columns">
                <%= render 'shared/download_table_row_admin_functions', item: item %>
              </div>
            </div>
          <% else %>
              <%= file_type_icon(item) %>
              <%= link_to item.name, item, class: "download_#{item.resource_type.downcase.gsub(" ","_")}" %>
              <%= keys_for(item) %>
              <div class="show-for-small">
                <%= flag_for(item) %>
                <i>
                  <% if item.version.present? %>version <%= item.version %>, <% end %>
                  updated: <%=l item.updated_at.to_date, format: :month_year %>
                </i>
              </div>
          <% end %>
        </td>
        <td class="text-center hide-for-small"> <%= item.version %>&nbsp; </td>
        <td class="text-center hide-for-small"> <%= flag_for(item) %>&nbsp; </td>
        <td>
          <% if item.executable_file_size.present? %>
            <%= number_to_human_size(item.executable_file_size) %>
          <% end %>
        </td>
        <td class="hide-for-small"><%=l item.updated_at.to_date, format: :month_year %></td>

      <% elsif item.resource_file_name.present? %>
        <td>
          <% if can?(:manage, item) && !(local_assigns[:skip_admin_functions])%>
            <div class="row">
              <div class="small-11 columns">
                <%= file_type_icon(item) %>
                <%= link_to item.name, item, class: "download_#{item.resource_type.downcase.gsub(" ","_")}" %>
                <%= keys_for(item) %>
                <div class="show-for-small">
                  <%= flag_for(item) %>
                  <i>
                    <% if item.version.present? %>version <%= item.version %>, <% end %>
                    updated: <%=l item.updated_at.to_date, format: :month_year %>
                  </i>
                </div>
              </div>
              <div class="small-1 columns">
                <%= render 'shared/download_table_row_admin_functions', item: item %>
              </div>
            </div>
          <% else %>
              <%= file_type_icon(item) %>
              <%= link_to item.name, item, class: "download_#{item.resource_type.downcase.gsub(" ","_")}" %>
              <%= keys_for(item) %>
              <div class="show-for-small">
                <%= flag_for(item) %>
                <i>
                  <% if item.version.present? %>version <%= item.version %>, <% end %>
                  updated: <%=l item.updated_at.to_date, format: :month_year%>
                </i>
              </div>
          <% end %>
        </td>
        <td class="text-center hide-for-small"> <%= item.version %>&nbsp;</td>
        <td class="text-center hide-for-small"> <%= flag_for(item) %>&nbsp; </td>
        <td> <%= number_to_human_size(item.resource_file_size) %> </td>
        <td class="hide-for-small"><%=l item.updated_at.to_date, format: :month_year %></td>

      <% elsif item.content.present? %>
        <td>
          <%= link_to item.name, item, class: "download_#{item.resource_type.downcase.gsub(" ","_")}" %>
          <%= keys_for(item) %>
          <div class="show-for-small">
            <%= flag_for(item) %>
            <i>
              <% if item.version.present? %>version <%= item.version %>, <% end %>
              updated: <%=l item.updated_at.to_date, format: :month_year %>
            </i>
          </div>
        </td>
        <td class="text-center hide-for-small">
        <% # If Martin and version number is missing and item is firmware, then lookup the version number from the Martin Companion data source%>
        <% if website.brand.name.to_s.match(/martin/i) && !item.version.present? && (item.resource_type == "Software") && (item.name.include? "Firmware") %>
          <%= MartinFirmwareService.firmware_version(item.name.gsub(/ \- Firmware/, ''))%>
        <% else %>
          <%= item.version %>
        <% end %>
        &nbsp; </td>
        <td class="text-center hide-for-small"> <%= flag_for(item) %>&nbsp; </td>
        <td>&nbsp;</td>
        <td class="hide-for-small"><%=l item.updated_at.to_date, format: :month_year %></td>
      <% end %>

    <% elsif item.is_a?(ProductDocument) %>
      <td>
        <%= file_type_icon(item) %>
        <%= link_to item.name, item, class: "download_#{item.document_type.downcase.gsub(" ", "_")}" %>
        <div class="show-for-small">
          <%= flag_for(item) %>
          <i>
            <% if item.respond_to?(:version) && item.version.present? %>version <%= item.version %>, <% end %>
            updated: <%=l item.updated_at.to_date, format: :month_year %>
          </i>
        </div>
      </td>
      <td class="text-center hide-for-small"> <% if item.respond_to?(:version) %><%= item.version %><% end %>&nbsp; </td>
      <td class="text-center hide-for-small"> <%= flag_for(item) %>&nbsp; </td>
      <td> <%= number_to_human_size(item.document_file_size) %> </td>
      <td class="hide-for-small"><%=l item.updated_at.to_date, format: :month_year %></td>

    <% elsif item.is_a?(Software) %>
      <td>
        <% if can?(:manage, item) && !(local_assigns[:skip_admin_functions])%>
          <div class="row">
            <div class="small-11 columns">
              <%= platform_icon(item, 17) %>
              <%= link_to_software(item, label_method: :name, class: "download_#{item.resource_type.downcase.gsub(" ", "_")}") %>
              <div class="show-for-small">
                <%= flag_for(item) %>
                <i>
                  <% if item.version.present? %>version <%= item_version(item) %>, <% end %>
                  updated: <%=l item.updated_at.to_date, format: :month_year %>
                </i>
              </div>
            </div>
            <div class="small-1 columns text-right">
              <%= render 'shared/download_table_row_admin_functions', item: item %>
            </div>
          </div>
        <% else %>
            <%= platform_icon(item, 17) %>
            <%= link_to_software(item, label_method: :name, class: "download_#{item.resource_type.downcase.gsub(" ", "_")}") %>
            <div class="show-for-small">
              <%= flag_for(item) %>
              <i>
                <% if item.version.present? %>version <%= item_version(item) %>, <% end %>
                updated: <%=l item.updated_at.to_date, format: :month_year %>
              </i>
            </div>
        <% end %>
      </td>
      <td class="text-center hide-for-small">
        <% # If Martin and version number is missing and item is firmware, then lookup the version number from the Martin Companion data source%>
        <% if website.brand.name.to_s.match(/martin/i) && !item.version.present? && item.category == "firmware" %>
          <%= MartinFirmwareService.firmware_version(item.name.gsub(/ \- Firmware/, ''))%>
        <% else %>
          <%= item_version(item) %>
        <% end %>
        &nbsp;</td>
      <td class="text-center hide-for-small"> <%= flag_for(item) %>&nbsp; </td>
      <td>
        <% if item.ware_file_size.to_i > 0 %>
          <%= number_to_human_size(item.ware_file_size) %>
        <% end %>
      </td>
      <td class="hide-for-small">
        <% if website.brand.name.to_s.match(/amx/i) && item.link.present? %>
          <% # don't show date for AMX if it is linking to another location rather than a file%>
        <% else %>
          <%=l item.updated_at.to_date, format: :month_year %>
        <% end %>
        </td>
    <% end %>

  </tr>

  <%# Software Attachments %>
  <% if website.show_software_attachments_on_product_page && item.respond_to?(:software_attachments) && item.software_attachments.count > 0 %>
    <% item.software_attachments.each do |sa| %>
      <tr>
        <td><%= link_to sa.name, sa.software_attachment.url, class: "download_software_attachment" %> </td>
        <td class="text-center"> <% if sa.respond_to?(:version) %><%= sa.version %><% end %>&nbsp; </td>
        <td class="text-center"> <%= flag_for(sa) %>&nbsp; </td>
        <td>
          <% if sa.software_attachment_file_size.to_i > 0 %>
            <%= number_to_human_size(sa.software_attachment_file_size) %>
          <% end %>
        </td>
        <td><%=l item.updated_at.to_date, format: :month_year %></td>
      </tr>
    <% end %>
  <% end %>

<% end %>

