<%= cache ["featured_products_strip", website.brand, I18n.locale] do %>
  <% if @featured_products && @featured_products.length > 0 %>
    <% @featured_products.each_with_index do |featured_product, i| %>
    <div class="homepage_block">
      <% if (i%2 <= 0) %>
      <div class="row featured_product_container" id="featured_product_<%= i %>">
        <div class="large-7 columns">
          <div class="featured_image_container show-for-large-up left">
            <%= link_to(image_tag(featured_product.photo.product_attachment.url(:x_large),
                                  loading: i < 2 ? :eager : :lazy,
                                  alt: featured_product.name,
                                  class: "featured_image"),
                        featured_product) %>
          </div>
          <div class="hide-for-medium-up">
            <%= link_to(image_tag(featured_product.photo.product_attachment.url(:medium),
                                  loading: i < 2 ? :eager : :lazy,
                                  alt: featured_product.name),
                        featured_product) %>
          </div>
          <div class="show-for-medium">
            <%= link_to(image_tag(featured_product.photo.product_attachment.url(:large),
                                  loading: i < 2 ? :eager : :lazy,
                                  alt: featured_product.name),
                        featured_product) %>
          </div>
        </div>
        <div class="large-5 columns">
          <h1><%= link_to featured_product.name, featured_product %></h1>
          <h3 class="subheader"><%= translate_content(featured_product, :short_description) %></h3>

          <p><%=raw translate_content(featured_product, :short_description_4) %></p>

          <%= link_to t('more_details'), featured_product, class: "small button" %>
        </div>
      </div>
      <% else %>
      <div class="row featured_product_container" id="featured_product_<%= i %>">
        <div class="hide-for-medium-up">
          <%= link_to(image_tag(featured_product.photo.product_attachment.url(:medium),
                                  loading: i < 2 ? :eager : :lazy,
                                  alt: featured_product.name),
                      featured_product) %>
        </div>
        <div class="show-for-medium">
          <%= link_to(image_tag(featured_product.photo.product_attachment.url(:large),
                                  loading: i < 2 ? :eager : :lazy,
                                  alt: featured_product.name),
                      featured_product) %>
        </div>
        <div class="large-5 columns text-right small-left">
          <h1><%= link_to featured_product.name, featured_product %></h1>
          <h3 class="subheader"><%= translate_content(featured_product, :short_description) %></h3>

          <p><%=raw translate_content(featured_product, :short_description_4) %></p>

          <%= link_to t('more_details'), featured_product, class: "small button" %>
        </div>
        <div class="large-7 columns show-for-large-up">
          <div class="featured_image_container right">
            <%= link_to(image_tag(featured_product.photo.product_attachment.url(:x_large),
                                  loading: i < 2 ? :eager : :lazy,
                                  alt: featured_product.name,
                                  class: "featured_image"),
                                  featured_product) %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
    <% end %>
  <% end %>
<% end %>
