<%= cache ["market_segments_strip", website.brand, I18n.locale] do %>
  <% @market_segments = MarketSegment.all_parents(website) %>
  <div class="homepage_block thin_strip">
    <div class="row">
      <div class="large-12 small-12 columns">

        <ul class="large-block-grid-<%= @market_segments.length %> small-block-grid-1">
          <% @market_segments.each do |market_segment| %>
            <li>
              <% if !market_segment.banner_image_file_name.blank? %>
                <%= image_tag(market_segment.banner_image.url, alt: translate_content(market_segment, :name), style: " width: 100%") %>
              <% end %>
              <div class="text-center">
                <h4><%= link_to market_segment.name, market_segment %></h4>
                <p><%=raw market_segment.children.map{|c| link_to(c.name, c) }.join(" &bull; ") %></p>
              </div>
            </li>
          <% end %>
        </ul>

      </div>
    </div>
  </div>
<% end %>
