<% height ||= 300 %>
<% width  ||= 500 %>
<% id = "video_#{rand()}" %>

<div id="<%= id %>">Loading the player...</div>

<script type="text/javascript">
    jwplayer("<%= id %>").setup({
        flashplayer: "/swfs/player.swf",
		autostart: true,
        file: "<%= media_url %>",
        skin: "/swfs/skin/bekle.zip",
        height: <%= height %>,
        width: <%= width %>
    });
</script>