<%= cache ["product_families_strip", website.brand, I18n.locale] do %>
  <% product_families = ProductFamily.parents_with_current_products(website, I18n.locale) %>
  <% if product_families.length > 0 %>
    <h2 class="text-center">Browse By Application</h2>
    <div class="homepage_block thin_strip product_families">
      <p>&nbsp;</p>
      <ul class="medium-block-grid-<%= product_families.length %> small-block-grid-1">
        <% product_families.each do |pf| %>
          <li>
            <%= link_to pf do %>
              <% p = pf.first_product_with_photo(website) %>
              <% if p %>
                <%= image_tag p.primary_photo.product_attachment.url(:medium), alt: pf.name, lazy: product_photo_is_png?(p) %>
              <% end %>
              <h3 class="text-center"><%= translate_content pf, :name %></h3>
            <% end %>
            <div class="text-center product-family-total-count"
                 data-product-family-id="<%= pf.to_param %>"
                 id="products-count-for-<%= pf.to_param %>">
              &nbsp;
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>
