<%= cache ["twitter_feed", website.tweets.first, I18n.locale] do %>

	<% if tw = website.twitter_name %>

		<div id="twitter_feed_container">
			<%= cache ["twitter_feed_header", website.brand] do %>
			<h4>
				<a href="http://www.twitter.com/intent/user?screen_name=<%= tw %>"><%= image_tag(Tweet.client.user(tw).profile_image_url(:mini), alt: tw) %></a>
				<a href="http://www.twitter.com/intent/user?screen_name=<%= tw %>"><%= tw %></a>
			</h4>
			<% end %>
			<div id="tweets">
			<% website.recent_tweets.each do |tweet| %>
				<div class="tweet">
					<%=auto_link tweet.content %>
					<p class="tw_actions">
						<a href="http://twitter.com/<%= tweet.screen_name %>/status/<%= tweet.tweet_id %>" target="_blank"><%= l tweet.posted_at.to_date, format: :short %></a>
						&bull; <a href="http://twitter.com/intent/tweet?in_reply_to=<%= tweet.tweet_id %>">reply</a>
						&bull; <a href="http://twitter.com/intent/retweet?tweet_id=<%= tweet.tweet_id %>">retweet</a>
						&bull; <a href="http://twitter.com/intent/favorite?tweet_id=<%= tweet.tweet_id %>">favorite</a>
					</p>
				</div>
		    <% end %>
		    </div>
		    <div id="social_media_links">
				<%= social_media_links 'twitter', 'facebook', 'myspace', 'youtube', 'wechat', 'weibo' %> 
			</div>
		</div>

		<br/>
		<% if website.brand_name.match(/vocalist/i) %>
			<a href="http://twitter.com/<%= tw %>" class="twitter-follow-button" data-button="grey" data-text-color="#000000" data-link-color="#800000">Follow @<%= tw %></a>
		<% else %>
			<a href="http://twitter.com/<%= tw %>" class="twitter-follow-button" data-button="grey" data-text-color="#FFFFFF" data-link-color="#00AEFF">Follow @<%= tw %></a>
		<% end %>
		<script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>

	<% else %>
		<div id="social_media_links">
			<%= social_media_links 'twitter', 'facebook', 'myspace', 'youtube', 'wechat', 'weibo' %> 
		</div>

	<% end %>

<% end %>