<%#= cache ["twitter_feed", website.brand, Rails.env, Date.today] do %>

<% if website.twitter && tw = website.twitter.match(/(\w*)$/).to_s %>

	<script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
	<script>
	new TWTR.Widget({
	  version: 2,
	  type: 'profile',
	  rpp: 4,
	  interval: 30000,
	  width: 250,
	  height: 300,
	  theme: {
	    shell: {
	      background: '#333333',
	      color: '#ffffff'
	    },
	    tweets: {
	      background: '#000000',
	      color: '#ffffff',
	      links: '#0c90f5'
	    }
	  },
	  features: {
	    scrollbar: false,
	    loop: false,
	    live: false,
	    behavior: 'all'
	  }
	}).render().setUser('<%= tw %>').start();
	</script>

	<br/>
	<% if website.brand_name.match(/vocalist/i) %>
		<a href="http://twitter.com/<%= tw %>" class="twitter-follow-button" data-button="grey" data-text-color="#000000" data-link-color="#800000">Follow @<%= tw %></a>
	<% else %>
		<a href="http://twitter.com/<%= tw %>" class="twitter-follow-button" data-button="grey" data-text-color="#FFFFFF" data-link-color="#00AEFF">Follow @<%= tw %></a>
	<% end %>
	<script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>

<% else %>
<div id="social_media_links">
	<%= social_media_links 'twitter', 'facebook', 'myspace' %> 
</div>

<% end %>

<%# end %>