<%= cache ["slideshow", website.brand, I18n.locale] do %>
  <% # Quick and easy way to test how videos look without uploading them. %>
  <% if Rails.env.development? || Rails.env.staging? %>
    <% tmp_file = ENV["#{website.folder}_test_vid"] %>
    <div id="video-container" class="hide-for-small">
      <video autoplay="autoplay" id="video_background" loop="loop" muted="muted"
      poster="<%= image_path "#{Rails.env}/#{ tmp_file }.jpg" %>" preload="auto" volume="0">
      <source src='<%= image_path "#{Rails.env}/#{ tmp_file }.webm" %>' type='video/webm'/>
      <source src='<%= image_path "#{Rails.env}/#{ tmp_file }.mp4" %>' type='video/mp4'/>
      </video>
      <div id="video_pattern"></div>
      <div class="row headline_slide">
        <div class="large-6 small-12 columns">
          <% if website.homepage_headline %>
            <h1><%= website.homepage_headline %></h1>
          <% end %>
          <% if website.homepage_headline_product_id %>
            <% product = Product.find(website.homepage_headline_product_id) %>
            <p><%= product.name %></p>
            <%= link_to("Learn More", product, class: "secondary button") %>
            <% if product.in_production? %>
              <%= buy_it_now_link(product, html_button: true) %>
            <% end %>
          <% elsif website.homepage_headline_product_family_id %>
            <% product_family = ProductFamily.find(website.homepage_headline_product_family_id) %>
            <%= link_to("Learn More", product_family, class: "button") %>
          <% end %>
        </div>
        <div class="bg-gif">
          <%= image_tag "#{ Rails.env }/#{ tmp_file }.jpg" %>
        </div>
      </div>
    </div>
    <div class="bouncing-arrow"></div>
  <% else %>
    <% slides = Setting.slides(website) %>
    <%= video_background_with_features(slides, tagline: true, hide_for_small: true, pattern_overlay: true) %>
  <% end %>
<% end %>
