<div class="artist_listing artist_callout_container <%= artist.artist_tier.name.downcase %>tier">
	<a name="artist_<%= artist.id %>"></a>
	<div class="description">
		<% unless artist.artist_photo_file_name.blank? %>
			<div class="artist_photo">
				<%= link_to(image_tag(artist.artist_photo.url(:wide_thumb)), artist) %>
			</div>
		<% end %>
		<h2><%= link_to(artist.name, artist) %></h2>
		<div class="intro">
			<%= truncate(strip_html(artist.bio), :length => 175) %>
			<%= link_to t('more'), artist %>
		</div>
	</div>
</div>