<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
		<%= csrf_meta_tag %>
		<%= cache ["meta_tags", request.url] do %>
			<%= cached_meta_tags %>
			<% if File.exists?(Rails.root.join("app", "assets", "images", website.folder, "logo.png")) %>
			<link rel="image_src" href="<%= image_url("#{website.folder}/logo.png") %>" />
			<% end %>
			<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
			<![endif]-->
			<meta name="google-site-verification" content="1wM3aoywZkSvvyBvFn5iLMUTl50-sv--4df6O-gS9fI" />
			<link href="<%= rss_url(format: 'xml') %>" rel="alternate" title="RSS" type="application/rss+xml"/>
			<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
			<link rel="icon" type="image/x-icon" href="/favicon.ico" />

			<meta property="og:site_name" content="<%= website.site_name %>" />
			<meta property="og:locale" content="<%= I18n.locale %>" />
			<meta property="og:url" content="<%= request.url %>" />

			<% if website.twitter_name %>
				<meta property="twitter:site" value="@<%= website.twitter_name %>" />
			<% end %>

			<%= app_meta_tags() %>
		<% end %>

		<%= javascript_include_tag 'application' %>
		<%= stylesheet_link_tag website.folder %>

		<%= yield :custom_css %>
		<script>
	  		<%= yield :extra_js %>
	  	</script>
	    <%= render_partial "shared/analytics" %>
	</head>
	<body data-brand="<%= website.brand.name %>">
		<div id="fb-root"></div>
		<script>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>
		<%= render_partial "shared/locale_switcher" %>
		<%= render_partial "shared/admin_dashboard_link" %>		
		<%= render_partial "shared/header" %>
		
		<div id="page_container">
		<% if content_for?(:feature) %>
			<div id="feature_bg"></div>
			<div id="feature_container">
				<%= yield :feature %>
			</div>
		<% end %>

		<div id="content_container" <% unless controller_name == "main" && action_name == "index" -%>class="internal_page"<% end -%>>
			<div id="content_container_content" style="position: relative;<% if controller_name == "main" && action_name == "index" -%>padding: 0;<% end -%>">
				<% if notice %><p style="color: green;"><%= notice %></p><% end %>
				<% if alert %><p style="color: red;"><%= alert %></p><% end %>
				<%= yield %>
			</div>
		</div>
		
		<% if content_for?(:middle_stuff) %>
		<div id="middle_container">
			<%= yield :middle_stuff %>
		</div>
		<% end %>
		
		<% if content_for?(:big_bottom_box) %>
			<div id="big_bottom_box_container">
				<div id="big_bottom_box_content">
				<%= yield :big_bottom_box %>
				</div>
				<div class="clear"></div>
			</div>
		<% else %>
			<div style="height: 30px;">&nbsp;</div>
		<% end %>
			<%= cache ["hpro_bar", website, I18n.locale] do %>
				<%= hpro_footer %>
			<% end %>
		</div>
		
		<%= render_partial "shared/footer" %>
		<% if content_for?(:popup_code) %>
			<%= yield :popup_code %>
		<% end %>
	</body>
</html>