<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
		<%= csrf_meta_tag %>
		<%= display_meta_tags :site => Setting.site_name(website) %>
		<link rel="image_src" href="<%= image_url("#{website.folder}/logo.png") %>" />		
		<%= javascript_include_tag 'application' %>
		<%= stylesheet_link_tag 'application', website.folder, :cache => false %>
		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<link href="<%= rss_url(:format => 'xml') %>" rel="alternate" title="RSS" type="application/rss+xml"/>
		<link type="text/css" href="/css/ui-lightness/jquery-ui-1.8.16.custom.css" rel="stylesheet" />
		<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<%= yield :custom_css %>
		<script>
	  		<%= yield :extra_js %>
	  	</script>
	    <%= render_partial "shared/analytics" %>
	</head>
	<body class="artists">
		<%= render_partial "shared/admin_dashboard_link" %>		
		<%= render_partial "shared/header" %>
				
		<div id="page_container">

		<div id="content_container" <% unless controller_name == "main" && action_name == "index" -%>class="internal_page"<% end -%>>
			<div id="artists_title">
				<%= link_to(image_tag("#{website.folder}/#{I18n.locale}/featured_artists.png", :alt => t("artists")), artists_path) %>
			</div>
			<div id="artists_subnav">
				<% if artist_signed_in? %>
					<%= link_to "My Artist Profile", edit_artist_registration_path %>
					<%= link_to "Logout", destroy_artist_session_path %>
				<% else %>
					<%= link_to image_tag("#{website.folder}/#{I18n.locale}/become_an_artist.png", :alt => "Become a #{website.brand_name} Artist"), become_an_artist_path %>
					<%= link_to image_tag("#{website.folder}/#{I18n.locale}/login.png", :alt => "Artist Login"), become_an_artist_path %>
				<% end %>
			</div>
			<div id="content_container_content" style="position: relative;">
				<% if notice %><p style="color: green; background: #DBFFCF; padding: 2px 8px;"><%= notice %></p><% end %>
				<% if alert %><p style="color: red;"><%= alert %></p><% end %>
				<%= yield %>
			</div>
		</div>
	
		<% if content_for?(:big_bottom_box) %>
			<div id="big_bottom_box_container">
				<div id="big_bottom_box_content">
				<%= yield :big_bottom_box %>
				</div>
				<div class="clear"></div>
			</div>
		<% else %>
			<div style="height: 30px;">&nbsp;</div>
		<% end %>
			<%= render "#{website.folder}/shared/hpro_bar"%>
		</div>
		<%= render "#{website.folder}/shared/footer"%>
	</body>
</html>