<h2>Forgot your password?</h2>
<%= render "toolkit/users/shared/links" %>

<div class="twelve columns">

<div class="row">

<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= f.error_notification %>

	<div class="seven columns end panel">
  		<%= f.input :email %>
		<%= f.button :submit, "Send me reset password instructions", class: "button" %>
	</div>
<% end %>

</div>

</div>