<% set_meta_tags title: t('titles.support'),
				 description: t('meta.description.support', brand: website.brand_name),
				 reverse: true %>

<div class="row">

	<%=render_partial "support/support_left_side_bar"%>

    <div class="large-8 columns">
    <h1>International Repairs</h1>
        <% if @distributors.size > 0 %>
          <div style="margin-bottom:10px;"><h3>Post-sales support in your country is provided by our distribution partners below.</h3></div>
        	<div class="large-12 columns">
        		<ul class="large-block-grid-2 medium-block-grid-1 small-block-grid-1">
	        		<% @distributors.each do |distributor| %>
			        		<%=render_partial "support/distributor", distributor: distributor %>
	        		<% end %> <%# @distributors.each do |distributor| %>
        		</ul>
        	</div>
        <% else %>
            <div><h3>We didn't find a distributor in your country. Please contact us with the information below.</h3></div>
        	<% if addr = website.value_for("address_and_phone") %>
        	<div class="panel">
        		<h4><%= t("titles.mailing_address") %></h4>
        		<p><%=raw addr %></p>
        	</div>
        	<% end %>
        <% end %>
    </div>    


</div>

<%=render_partial "shared/support_chat_javascript"%>