<div class="large-8 columns">
		<h1><%= t('titles.contact_us') %></h1>
		<%= simple_form_for @contact_message, url: support_contact_path, html: {class: "contact"} do |f| %>

      <%= f.input :name, label: t('your_name'), placeholder: t('your_name') %>
      <%= f.input :email, label: ucfirst(t('email')), placeholder: ucfirst(t('email')) %>
    <%= cache ["contact_form_products", website.brand] do %>
      <%= f.input :product, as: :select,
          collection: Product.all_for_website(website) + [Product.new(name: "other")],
          value_method: :name,
          label_method: :name,
          required: @contact_message.require_product?,
          prompt: "Select A Product" %>
    <% end %>
      <%= f.input :subject, as: :select, collection: ContactMessage.subjects(brand: website.brand).flatten, prompt: t('subjects.select_a_subject') %>
      <%= f.input :product_serial_number, placeholder: 'Serial number' %>
      <%= f.input :shipping_address, label: t("address"), input_html: { size: "40x2" }, placeholder: t("address") %>
      <%= f.input :shipping_country, label: t("country"), required: @contact_message.require_country?, prompt: t("country") %>
      <%= f.input :phone, placeholder: "Phone" %>

			<%= f.input :message, label: t('message'), as: :text, input_html: { style: "height: 100px" } %>
			<div class="captcha">
				<%= recaptcha_tags site_key: website.recaptcha_public_key %>
			</div>
      <%= render_partial 'support/gdpr_consent' %>
			<%= f.submit t('submit'), class: "medium button" %>
		<% end %>
	</div>
	