<%= form_for([:admin, @clinician_report]) do |f| %>
  <% if @clinician_report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@clinician_report.errors.count, "error") %> prohibited this clinician report from being saved:</h2>

      <ul>
      <% @clinician_report.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :clinic_id %>

  <table width="100%" border="0">
	<tr>
		<td width="50%" valign="top">
			<p>Products demonstrated:</p>
			<%= f.fields_for :clinic do |clinic| %>
			  <%= clinic.fields_for :clinic_products do |clinic_product| %>
				<div class="field">
					<%= clinic_product.select :product_id, [[]] + Product.non_discontinued(website).collect{|p| [p.name, p.id]} %>
				</div>
			  <% end %>
			<% end %>
  <div class="field">
    <%= f.label :overall_impression %><br />
	<span class="little">1 (poor)</span>
    <%= f.radio_button :overall_impression, "1" %>
    <%= f.radio_button :overall_impression, "2" %>
    <%= f.radio_button :overall_impression, "3" %>
    <%= f.radio_button :overall_impression, "4" %>
    <%= f.radio_button :overall_impression, "5" %>
    <%= f.radio_button :overall_impression, "6" %>
    <%= f.radio_button :overall_impression, "7" %>
    <%= f.radio_button :overall_impression, "8" %>
    <%= f.radio_button :overall_impression, "9" %>
	<span class="little">9 (outstanding)</span>
  </div>
  <div class="field">
    <%= f.label :regional_competitors %><br />
    <%= f.text_area :regional_competitors, size: "50x4" %>
  </div>
  <div class="field">
    <%= f.label :rep_planned, "Was the session well-planned by the rep?" %><br/>
    <%= f.radio_button :rep_planned, true %> <%= f.label "rep_planned_true", "Yes" %><br/>
	<%= f.radio_button :rep_planned, false %> <%= f.label "rep_planned_false", "No" %><br/>
	<%= f.radio_button :rep_planned, "" %> <%= f.label "rep_planned_", "N/A" %>
  </div>
  <div class="field">
    <%= f.label :rep_planned_comments, "Rep planning comments" %><br />
    <%= f.text_area :rep_planned_comments, size: "50x4" %>
  </div>
    </td>
    <td valign="top" width="50%">
  <div class="field">
    <%= f.label :best_part, "What was the best part?" %><br />
    <%= f.text_area :best_part, size: "50x4" %>
  </div>
  <div class="field">
    <%= f.label :worst_part, "What was the worst part?" %><br />
    <%= f.text_area :worst_part, size: "50x4" %>
  </div>
  <p>Top four questions generated from session:</p>
	<%= f.fields_for :clinician_questions do |clinician_question| %>
		<div class="field">
			<%= clinician_question.text_field :question %>
		</div>
	<% end %>
    </td>
   </tr>
  </table>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
