<p>
  <b>Clinic:</b>
  <%= @clinician_report.clinic_id %>
</p>

<p>
  <b>Overall impression:</b>
  <%= @clinician_report.overall_impression %>
</p>

<p>
  <b>Regional competitors:</b>
  <%= @clinician_report.regional_competitors %>
</p>

<p>
  <b>Rep planned:</b>
  <%= @clinician_report.rep_planned %>
</p>

<p>
  <b>Rep planned comments:</b>
  <%= @clinician_report.rep_planned_comments %>
</p>

<p>
  <b>Best part:</b>
  <%= @clinician_report.best_part %>
</p>

<p>
  <b>Worst part:</b>
  <%= @clinician_report.worst_part %>
</p>


<%= link_to 'Edit', edit_admin_clinician_report_path(@clinician_report) %> |
<%= link_to 'Delete', [:admin, @clinic_report], :confirm => 'Are you sure?', :method => :delete %> |
<%= link_to 'Back', admin_clinician_reports_path %>
