
<div id="social_links">
<a href="<%= ENV['FACEBOOK_URL'] %>" target="_blank"><img alt="Facebook" class="hover_up"
 src="<%= asset_path 'icons/circle/64x64/facebook.png' %>" style="vertical-align: middle;" width="64" /></a>
<a href="<%= ENV['TWITTER_URL'] %>" target="_blank"><img alt="Twitter" class="hover_up" 
	src="<%= asset_path 'icons/circle/64x64/twitter.png' %>" style="vertical-align: middle;" width="64" /></a>
<a href="<%= ENV['YOUTUBE_URL'] %>" target="_blank"><img alt="Youtube" class="hover_up"
 src="<%= asset_path 'icons/circle/64x64/youtube.png' %>" style="vertical-align: middle;" width="64" /></a>
<a href="<%= ENV['LINKEDIN_URL'] %>" target="_blank"><img alt="Linkedin" class="hover_up"
 src="<%= asset_path 'icons/circle/64x64/linkedin.png' %>" style="vertical-align: middle;" width="64" /></a>
<a href="<%= ENV['INSTAGRAM_URL'] %>" target="_blank"><img alt="Instagram" class="hover_up"
 src="<%= asset_path 'icons/circle/64x64/instagram.png' %>" style="vertical-align: middle;" width="64" /></a>
</div>
<br />

