
<div class="row collapse fullWidth">	

	<div class="small-12 medium-4 columns bg_transparent">
	<a href="<%= ENV['FACEBOOK_URL'] %>" target="_blank"><img src="<%= s3_homepage_path %>homepage_facebook.jpg" class="fade" alt="facebook" /></a>
	<h3><%= link_to('facebook', ENV['FACEBOOK_URL'], target: '_blank')%></h3>
	
	</div>	

	<div class="small-12 medium-4 columns bg_transparent">
	<a href="<%= ENV['YOUTUBE_URL'] %>" target="_blank"><img src="<%= s3_homepage_path %>homepage_youtube.jpg" class="fade" alt="youtube" /></a>
	<h3><%= link_to('youtube', ENV['YOUTUBE_URL'], target: '_blank')%></h3>
	
	</div>	

	<div class="small-12 medium-4 columns bg_transparent">
	<a href="<%= ENV['INSTAGRAM_URL'] %>" target="_blank"><img src="<%= s3_homepage_path %>homepage_instagram.jpg" class="fade" alt="instagram" /></a>
	<h3><%= link_to('instagram', ENV['INSTAGRAM_URL'], target: '_blank')%></h3>
	
	</div>
	
	
	
	
</div>	