<h1><%= @video['title'] %></h1>

<table>
	<tr>
		<td valign="top" width="640">
      <iframe class="video-player" id="<%= @video_id %>" type="text/html" width="640" height="390" src="https://www.youtube.com/embed/<%= @video_id %>" frameborder="1"></iframe>
			<div style="margin: 20px 0px; position: relative;">
				<% begin %>
          <%= auto_link @video['description'] %>
				<% rescue %>
				<!-- Meta data could not be loaded -->
				<% end %>
			</div>
		</td>
		<td valign="top" style="padding-left: 20px">
			<p><%= link_to "<< back to videos", videos_path %></p>
			<%= cache "yt_side_bar_#{@video_id}" do %>
        <%= related_product_links_for_video(@video) %>
			<% end %>
		</td>
	</tr>
</table>

