<%= simple_form_for([:admin, @system, @system_component]) do |f| %>
	<%= f.error_notification %>
	<div class="row">
		<div class="large-6 columns">
			<%= f.input :name %>
		</div>
		<div class="large-6 columns">
			<%= f.association :product, collection: (Brand.find('idx').products + website.brand.products).uniq %>
		</div>
	</div>
	<div class="row">
		<div class="large-6 columns">
    		<%= f.input :description, hint: "Optional brief explanation--initially hidden." %>
    	</div>
    </div>

	<br/>
    <%= f.button :submit %>


<% end %>

<p class="hint">Description above can be formatted with
	<%= link_to "RedCloth Textile", 'http://redcloth.org/hobix.com/textile/quick.html', target: "_blank" %>
	code.</p>