<h1><%= @system.name %> Component: <%= @system_component.name %></h1>

<ul class="button-group round">
	<li><%= link_to [:admin, @system], class: "small secondary button" do %>
    <%= fa_icon "angle-double-left" %>
  <% end %>
  </li>
	<li><%= link_to edit_admin_system_system_component_path(@system, @system_component, locale: I18n.locale), class: "small secondary button" do %>
      <%= fa_icon "edit" %>
      Edit
    <% end %>
  </li>
	<li><%= link_to [:admin, @system, @system_component], confirm: 'Are you sure?', method: :delete, class: "small alert button" do %>
    <%= fa_icon "trash" %>
    Delete
  <% end %>
  </li>
</ul>

<p>
<% if @system_component.product %>
	Related product: <%= link_to @system_component.product.name, [:admin, @system_component.product] %>
<% else %>
	<i>Not related to a product.</i>
<% end %>
</p>

<p><strong>Description:</strong></p>

<div><%=raw (textilize @system_component.description) %></div>

