<h1>System: <%= @system.name %></h1>

<ul class="button-group round">
	<li><%= link_to admin_systems_path, class: "small secondary button" do %>
    <%= fa_icon "angle-double-left" %>
  <% end %>
  </li>
	<li><%= link_to edit_admin_system_path(@system, locale: I18n.locale), class: "small secondary button" do %>
      <%= fa_icon "edit" %>
      Edit
    <% end %>
  </li>
	<li><%= link_to [:admin, @system], confirm: 'Are you sure?', method: :delete, class: "small alert button" do %>
    <%= fa_icon "trash" %>
    Delete
  <% end %>
  </li>
</ul>

<div class="row">
	<div class="large-6 columns">
		<h3 class="subheader">Options
			<small><%= link_to new_admin_system_system_option_path(@system) do %>
					<%= image_tag "icons/add_green.png" %>
					add
				<% end %>
			</small>
		</h3>
		<ul class="list">
			<% @system.parent_system_options.each do |system_option| %>
			<li><%= link_to system_option.name, [:admin, @system, system_option] %>
				<%= render 'child_options', system_option: system_option %>
			</li>
			<% end %>
		</ul>
	</div>
	<div class="large-6 columns">
		<h3 class="subheader">Components
			<small><%= link_to new_admin_system_system_component_path(@system) do %>
					<%= image_tag "icons/add_green.png" %>
					add
				<% end %>
			</small>
		</h3>
		<ul class="list">
			<% @system.system_components.each do |system_component| %>
			<li><%= link_to system_component.name, [:admin, @system, system_component] %></li>
			<% end %>
		</ul>
	</div>
</div>
<div class="row">
	<div class="large-12 columns">
		<h3 class="subheader">Rules
			<small><%= link_to new_admin_system_system_rule_path(@system) do %>
						<%= image_tag "icons/add_green.png" %>
						add
					<% end %>
			</small>
		</h3>
		<ol class="list">
			<% @system.enabled_system_rules.each do |system_rule| %>
			<li><%= link_to system_rule.name, edit_admin_system_system_rule_path(@system, system_rule) %></li>
			<% end %>
		</ol>
    <h5><i>Disabled rules:</i></h5>
    <ul class="list">
      <% @system.system_rules.where(enabled: false).each do |system_rule| %>
        <li><i><%= link_to system_rule.name, edit_admin_system_system_rule_path(@system, system_rule) %></i></li>
      <% end %>
    </ul>
    <%= link_to 'enable all', enable_all_admin_system_system_rules_path(@system), method: :put, class: 'tiny success button' %>
    <%= link_to 'disable all', disable_all_admin_system_system_rules_path(@system), method: :put, class: 'tiny alert button' %>
	</div>
</div>
<br/>
