<% set_meta_tags title: t('titles.events', brand: website.brand_name),
	reverse: true,
	og: {
		type: 'article',
		description: t('titles.events', brand: website.brand_name),
		title: t('titles.events', brand: website.brand_name)
	} %>

<% if @banner_event %>
  <%= content_for :feature do %>
    <div class="text-center">
      <%= image_tag @banner_event.image.url %>
    </div>
  <% end %>
<% end %>

<h1><%= t('titles.events', brand: website.brand_name) %></h1>

<% if @events.count > 0 %>
  <% @events.each do |event| %>
    <h5><%= link_to event.name, event %></h5>
    <p>
      <%=l event.start_on, format: :short %>
      <% if event.end_on > event.start_on %>
        - <%=l event.end_on, format: :short %>
      <% end %>
    </p>
    <%=raw event.description %>
    <p><%= link_to "details", event, class: "tiny button" %></p>
  <% end %>
<% else %>
  <p><i>There are no currently scheduled events. Please check back soon.</i></p>
<% end %>

<p>For a complete list of HARMAN Professional Solutions events, visit
<a href="http://pro.harman.com/events" target="_blank">pro.harman.com</a>.</p>
