<%= simple_form_for([:admin, @product_specification]) do |f| %>
  <%= f.association :product, collection: website.products %>
  <%= f.association :specification, collection: Specification.order("upper(name)") %>
  <%= f.input :value %>
<!--   <div class="field">
    <%= f.input :position %>
  </div> -->
  <br/><%= f.button :submit %>
<% end %>
