<div class="row">
  <div class="medium-2 hide-for-small columns">
    <% if news.news_photo_file_name.present? %>
      <%= link_to news do %>
        <% if news.square.present? %>
          <%= translate_image_tag(news, :square, size: :thumb_square, alt: :title) %>
        <% else %>
          <%= translate_image_tag(news, :news_photo, size: :thumb_square, alt: :title) %>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div class="small-12 show-for-small-down columns">
    <% if news.news_photo_file_name.present? %>
      <%= link_to news do %>
        <%= translate_image_tag(news, :news_photo, size: :email, alt: :title) %>
      <% end %>
    <% end %>
  </div>
  <div class="large-8 medium-10 small-12 end columns">
    <b><%=l news.post_on.to_date, format: :long %></b><br/>
    <%= link_to translate_content(news, :title), news %>
  </div>
</div>
<div class="row">
  <div class="large-10 columns">
    <hr/>
  </div>
</div>
