<li>
  <div class="text-center">
    <%= link_to news do %>
      <% if news.square.present? %>
        <%= translate_image_tag(news, :square, size: :medium_square, alt: :title, lazy: false) %>
      <% else %>
        <%= translate_image_tag(news, :news_photo, size: :medium_square, alt: :title, lazy: false) %>
      <% end %>
    <% end %>
  </div>
  <div class="news-summary">
    <p><%= link_to translate_content(news, :title), news_path(news, locale: I18n.locale) %></p>
    <small><%=l news.post_on, format: :long %></small>
  </div>
</li>
