<% set_meta_tags title: t('titles.news', brand: website.brand_name),
	reverse: true,
	og: {
		type: 'article',
		description: t('titles.news', brand: website.brand_name),
		title: t('titles.news', brand: website.brand_name)
	} %>

<%
  unless website.hide_featured_news.to_i > 0
    featured_news = @news.first
%>

  <% if featured_news && featured_news.news_photo.present? %>
    <%= content_for :feature do %>
      <div class="text-center news_banner">
        <%= link_to(image_tag(featured_news.news_photo.url(:original)), featured_news) %>
      </div>
    <% end %>
  <% end %>
<% end %>

<div class="row">
	<div class="medium-9 columns list-news">
    <% if @news.length > 0 %>
      <h2><%= t "titles.news", brand: website.brand.name %></h2>
      <ul class="medium-block-grid-3 small-block-grid-2">
        <% @news.each do |item| %>
          <%= render item %>
        <% end %>
      </ul>
    <% end %>

    <%= will_paginate @news, renderer: WillPaginateInfinite::InfinitePagination %>
	</div>
	<div class="medium-3 columns hide-for-small">

    <p class="text-right">
      <%= link_to(image_tag('icons/rss.png', alt: "rss", style: "vertical-align: middle"), rss_url(format: "xml")) %>
      <%= link_to("Subscribe via RSS", rss_url(format: "xml")) %>
    </p>

    <% if @news.tag_counts_on(:tags).inject(0) {|total, tag| total + tag.taggings_count} >= 20 %>
      <br/>
      <h5>FILTER BY TAG</h5>
      <% tag_cloud(@news.tag_counts_on(:tags), %w(css1 css2 css3 css4)) do |tag, css_class| %>
        <%= link_to tag.name, tag_filtered_news_path( tag: tag.name ), class: css_class %>
      <% end %>
      <br/><small> <%= link_to "all news", news_index_path %></small>
    <% end %>
	</div>
</div>

<% if @news.length == 0 %>
  <i>No news was found. Please check back later.</i>
<% end %>
