<% set_meta_tags title: t('titles.news', brand: website.brand_name),
	reverse: true,
	og: {
		type: 'article',
		description: t('titles.news', brand: website.brand_name),
		title: t('titles.news', brand: website.brand_name)
	} %>

<%
  unless website.hide_featured_news.to_i > 0
    featured_news = @news.first
%>

  <% if featured_news && featured_news.news_photo.present? %>
    <%= content_for :feature do %>
      <div class="text-center news_banner">
        <%= link_to featured_news do %>
          <%= translate_image_tag(featured_news, :news_photo, size: :original, alt: :title) %>
        <% end %>
      </div>
    <% end %>
  <% end %>
<% end %>

<div class="row">
  <% if @news.tag_counts_on(:tags).inject(0) {|total, tag| total + tag.taggings_count} >= 20 %>
	<div class="small-12 medium-9 columns list-news">
  <% else %>
	<div class="small-12 columns list-news">
  <% end %>
    <% if @news.length > 0 %>
      <h1><%= t "titles.news", brand: website.brand.name %></h1>
      <% if website.news_intro %>
        <div>
          <%=raw website.news_intro %>
        </div>
      <% end %>
      <ul class="medium-block-grid-4 small-block-grid-2">
        <% @news.each do |item| %>
          <%= render item %>
        <% end %>
      </ul>
    <% end %>

    <%= will_paginate @news, renderer: WillPaginateInfinite::InfinitePagination %>
	</div>
  <% if @news.tag_counts_on(:tags).inject(0) {|total, tag| total + tag.taggings_count} >= 20 %>
    <div class="medium-3 columns hide-for-small">

      <br/>
      <h5>FILTER BY TAG</h5>
      <% tag_cloud(@news.tag_counts_on(:tags), %w(css1 css2 css3 css4)) do |tag, css_class| %>
        <%= link_to tag.name, tag_filtered_news_path( tag: tag.name ), class: css_class %>
      <% end %>
      <br/><small> <%= link_to "all news", news_index_path %></small>
    </div>
  <% end %>
</div>

<% if @news.length == 0 %>
  <i>No news was found. Please check back later.</i>
<% end %>
