<%
og_image = (@news.news_photo.blank?) ? image_url("#{website.folder}/logo.png") : translate_image_url(@news, :news_photo, size: :medium_square)

set_meta_tags title: translate_content(@news, :title),
	reverse: true,
	#canonical: news_url(@news),
	keywords: @news.keywords,
	description: translate_content(@news, :title),
	twitter: {
		card: "summary"
	},
	og: {
		image: og_image,
		type: 'article',
    url: news_url(@news),
		description: truncate(strip_html(translate_content(@news, :body)), length: 100),
		title: translate_content(@news, :title),
    updated_time: @news.updated_at.strftime("%FT%T")
   },
   article: {
     published_time: @news.post_on.to_time.strftime("%FT%T"),
     modified_time: @news.updated_at.strftime("%FT%T")
   }
%>

<% if @news.post_on < 10.years.ago %>
  <% set_meta_tags noindex: true %>
<% end %>

<% if @news.news_photo.present? %>
  <% unless website.hide_featured_news.to_i > 0 %>
    <%= content_for :feature do %>
      <div class="text-center news_banner">
        <%= translate_image_tag(@news, :news_photo, size: :original, alt: :title) %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1><%= translate_content(@news, :title) %></h1>

<div class="row">
  <div class="medium-5 push-7 columns">
    <% if @news.news_photo.present? && website.hide_featured_news.to_i > 0 %>
      <div style="margin-bottom: 20px;">
        <%= link_to translate_image_url(@news, :news_photo), data: { fancybox: "news_photos"} do %>
          <%= translate_image_tag(@news, :news_photo, size: :email, alt: :title) %>
        <% end %>
      </div>
    <% end %>

    <% if @news.news_images.length > 0 %>
      <small><%=t "product_page.larger_images" %>:</small>
      <ul class="small-block-grid-4">
        <% @news.news_images.each do |news_image| %>
          <% unless news_image.hide_from_page? %>
            <li>
              <%= link_to news_image.image.url, data: { fancybox: "news_photos" } do %>
                <%= image_tag news_image.image.url(:thumb_square), alt: translate_content(@news, :title) %>
              <% end %>
            </li>
          <% end %>
        <% end %>
      </ul>
    <% end %>

    <% if @news.products.size > 0 %>
      <div class="hide-for-small">
        <h2 class="subheader"><%= t('titles.related_products') %></h2>
        <ul class="large-block-grid-2 small-block-grid-1">
          <% @news.products.each do |product| %>
            <li><%= render_partial "product_families/product_square", product: product, compare: false %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <% if website.news_side_content %>
      <%=raw website.news_side_content %>
    <% end %>


    <% if @related_news.length > 0 %>
      <div class="hide-for-small">
        <br/>
        <h3 class="subheader">Related <%= website.brand.name %> <%= ucfirst(t('news')) %></h3>
        <% @related_news[0,4].each do |news| %>
          <%= render_partial :news_item, news: news %>
        <% end %>
      </div>
    <% elsif @recent_news.size > 0 %>
      <div class="hide-for-small">
        <br/>
        <h3 class="subheader">Recent <%= website.brand.name %> <%= ucfirst(t('news')) %></h3>
        <% @recent_news.each do |news| %>
          <%= render_partial :news_item, news: news %>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="medium-7 pull-5 columns">
    <h5 class="subheader">
      <%=l @news.post_on, format: :long %>
    </h5>


    <%=raw translate_content(@news, :body) %>

    <% if @news.tag_list.present? %>
      <p><em><strong>TAGS:</strong>
        <%= @news.tag_list.map{|tag| link_to(tag, tag_filtered_news_path( tag: tag ))}.join(", ").html_safe %>
      </em></p>
    <% end %>

    <% if can? :update, @news %>
      <div class="callout panel">
        <h5>Update Tags</h5>
        <%= simple_form_for @news do |f| %>
          <div class="row collapse">
            <div class="small-8 medium-9 columns">
              <%= f.input :tag_list, label: false, input_html: { value: f.object.tag_list.to_s } %>
            </div>
            <div class="small-4 medium-3 columns">
              <%= f.submit "Update", class: "button expand"%>
            </div>
          </div>
        <% end %>
        <div class="hint" style="font-size: 75%; margin-top: -10px">(Use commas to separate tags.)</div>
      </div>
    <% end %>

    <%= render_partial 'shared/other_languages_button', item: @news %>
  </div>
</div>


<p><%= link_to t('back_to_news_list'), news_index_path %></p>

<% if current_user && can?(:manage, @news) %>
  <div class="admin_function">
    <%= link_to "edit", edit_admin_news_path(@news) %>
  </div>
<% end %>
