<% set_meta_tags title: t('titles.product_families'),
				 keywords: ProductFamily.parents_with_current_products(website, I18n.locale).collect{|p| p.name}.join(", "),
				 reverse: true %>

<h1>
<% if File.exist?(Rails.root.join("app", "assets", "images", "#{website.folder}/#{I18n.locale}/products_head.jpg")) %>
	<%= image_tag("#{website.folder}/#{I18n.locale}/products_head.jpg", alt: t('titles.product_families')) %>
<% else %>
	<%= t('titles.product_families') %>
<% end %>
</h1>

<% all_product_families = ProductFamily.parents_with_current_products(website, I18n.locale) %>
<% if all_product_families.size > 10 %>
<ul class="small-block-grid-2 large-block-grid-5">
<% else %>
<ul class="small-block-grid-1 large-block-grid-2">
<% end %>
<% all_product_families.each do |product_family| %>
  <% if product_family.locales(website).include?(I18n.locale.to_s) %>
    <li><div id="<%= product_family.to_param %>">
      <%= link_to best_product_family_url(product_family) do %>
        <% if !product_family.family_photo_file_name.blank? %>

            <%= translate_image_tag(product_family, :family_photo, alt: :name) %>

        <% else %>
          <div class="product_family_box">
            <h2><%= translate_content(product_family, :name) %></h2>
            <p><%= truncate(translate_content(product_family, :intro), length: 100) %></p>
          </div>
        <% end %>
      <% end %>
    </div></li>
  <% end %>
<% end %>
</ul>

<% if @discontinued_products.size > 0 && !website.brand.name.to_s.match?(/studer/i) %>
<p>&nbsp;</p>
<p><%= link_to "discontinued products", discontinued_products_path %></p>
<% end %>
