<h3><%= t('nav.safety_documents') %> for <%= @product_family.name %></h3>

<div class="row">
  <div class="small-12 medium-4 columns">
    Please choose a product:
    <ul>
      <% @product_family.current_products.sort_by{|p| p.name.upcase}.each do |product| %>
        <% if product.safety_documents.length > 0 || product.safety_site_elements.length > 0 %>
          <li><%= link_to product.name,
            product,
            class: "safety-panel-link",
            data: { panel: "safety_for_#{ product.to_param }" } %>
          </li>
        <% end %>
      <% end %>
    </ul>

    <% if @product_family.discontinued_products.size > 0 %>
      <h5 class="subheader">Discontinued Products</h5>
      <ul>
        <% @product_family.discontinued_products.sort_by{|p| p.name.upcase}.each do |product| %>
          <% if product.safety_documents.length > 0 || product.safety_site_elements.length > 0 %>
            <li><%= link_to product.name,
              product,
              class: "safety-panel-link",
              data: { panel: "safety_for_#{ product.to_param }" } %>
            </li>
          <% end %>
        <% end %>
      </ul>
    <% end %>
  </div>

  <div class="small-12 medium-8 columns">
    <% @product_family.current_and_discontinued_products.each do |product| %>
      <% if product.safety_documents.length > 0 || product.safety_site_elements.length > 0 %>
        <div id="safety_for_<%= product.to_param %>" class="safety-panel" style="display: none">
          <div class="text-center">
            <% if product.photo %>
              <%= link_to image_tag(product.photo.product_attachment.url(:medium)), product %>
            <% end %>
          </div>
          <h5><%= product.name %> Safety Documents</h5>

          <table>
            <thead>
              <tr>
                <td>Name</td>
                <td>Version</td>
                <td>Language</td>
                <td>Size</td>
                <td>Uploaded</td>
              </tr>
            </thead>
            <tbody>
            <% (product.safety_documents + product.safety_site_elements).sort_by{|p| p.name.upcase}.each do |f| %>
              <%= render_partial 'shared/download_table_row', item: f %>
            <% end %>
            </tbody>
          </table>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
