<% set_meta_tags title: translate_content(@product_family, :name),
				 reverse: true,
                 description: translate_content(@product_family, :intro),
                 keywords: translate_content(@product_family, :keywords) %>

<% if @product_family.has_custom_background? %>
	<%= content_for :custom_css do %>
		<style type="text/css" media="screen">
			body { <%= @product_family.custom_background %> }
		</style>
	<% end %>
<% end %>

<% if @product_family.features.count > 0 %>
  <% @product_family.features.each do |feature| %>
    <%= render_feature feature %>
  <% end %>
<% else %>
  <%= content_for :feature do %>
    <% if @product_family.title_banner.present? %>
      <div class="product-family-banner-container text-center">
        <%= image_tag @product_family.title_banner.url, alt: @product_family.name %>
      </div>
      <% if @product_family.intro.present? %>
        <br/>
        <div class="row">
          <div class="medium-8 small-12 columns">
            <%= raw translate_content(@product_family, :intro) %>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="container product_family_header">
        <div class="row">
          <div class="large-8 small-12 columns">
            <h1><%= translate_content(@product_family, :name) %></h1>
            <p><%=raw translate_content(@product_family, :intro) %></p>
          </div>
        </div>
      </div>
    <% end # if @product_family.title_banner.present? %>
  <% end # content_for :feature do %>
<% end # if @product_family.features.count > 0 %>


<% if @product_family.parent_id.to_i == 0 && @product_family.children_with_current_products(website).length > 0 %>

  <ul class="small-block-grid-2">
  <% @product_family.children_with_current_products(website).each do |product_family| %>
    <% if product_family.locales(website).include?(I18n.locale.to_s) %>
      <li><div id="<%= product_family.to_param %>">
        <%= link_to product_family do %>
          <% if !product_family.family_photo_file_name.blank? %>

              <%= image_tag(product_family.family_photo.url) %>

          <% else %>
            <div class="product_family_box">
              <h2><%= translate_content(product_family, :name) %></h2>
              <p><%= truncate(translate_content(product_family, :intro), length: 100) %></p>
            </div>
          <% end %>
        <% end %>
      </div></li>
    <% end %>
  <% end %>
  </ul>

<% else %>

  <div class="row">
    <div class="large-12 columns">
      <% if !!(website.show_comparisons) %>
        <%= form_tag compare_products_path, method: :get %>
      <% end %>

      <%= render_partial "product_families/product_family", product_family: @product_family, skip_header: true  %>

      <% @product_family.children_with_current_products(website).each do |sub_family| %>
        <%= render_partial "product_families/product_family", product_family: sub_family %>
      <% end %>

      <% if !!(website.show_comparisons) %>
        </form>
      <% end %>

    </div>
  </div>
  <p>&nbsp;</p>

<% end %>

<% if current_user && can?(:manage, @product_family) %>
  <div class="admin_function">
    <%= link_to "edit", [:admin, @product_family] %>
  </div>
<% end %>
