<% set_meta_tags title: translate_content(@product_family, :name),
				 reverse: true,
                 description: translate_content(@product_family, :intro),
                 keywords: translate_content(@product_family, :keywords) %>

<% if @product_family.has_custom_background? %>
	<%= content_for :custom_css do %>
		<style type="text/css" media="screen">
			body { <%= @product_family.custom_background %> }
		</style>
	<% end %>
<% end %>

<% if !@product_family.title_banner_file_name.blank? %>
	<div class="product_family_header">
	<h1><%= image_tag(@product_family.title_banner.url, alt: translate_content(@product_family, :name)) %></h1>
	</div>
	<div class="wide_centered_box">
<% else %>
	<div class="wide_centered_box">
	<h1><%= translate_content(@product_family, :name) %></h1>
<% end %>
<p><%= translate_content(@product_family, :intro) %></p>

<% if !!(website.show_comparisons) %>
	<%= form_tag compare_products_path, method: :get %>
<% end %>

<div id="products">
<% @product_family.current_products.each do |product| %>
	<%= render_partial("product_families/product_square", product: product) %>
<% end %>

<% @product_family.children_with_current_products(website).each do |sub_family| %>
	<div class="clear"></div>
	<h2><%= translate_content(sub_family, :name) %></h2>
	<p><%= translate_content(sub_family, :intro) %></p>
	<% sub_family.current_products.each do |product| %>
		<%= render_partial "product_families/product_square", product: product %>
	<% end %>
<% end %>

	<div class="clear"></div>

	<% if !!(website.show_comparisons) %>
		<div class="compare_button"><%= submit_tag "Compare Selected Products" %> <span class="hint">Select 2 to 5 products to compare</span></div>
	</form>
	<% end %>

	<% if @product_family.parent && @product_family.siblings_with_current_products.size > 0 %>
		<div class="related_products"><%= t('related_products') %>:
		<%= links_to_related_product_families(@product_family) %></div>
	<% end %>
</div>

</div>

<% if current_user && can?(:manage, @product_family) %>
<div class="admin_function">
	<%= link_to "edit", [:admin, @product_family] %>
</div>
<% end %>