<% set_meta_tags title: translate_content(@product_family, :name),
				 reverse: true,
                 description: translate_content(@product_family, :intro),
                 keywords: translate_content(@product_family, :keywords) %>

<% if @product_family.has_custom_background? %>
	<%= content_for :custom_css do %>
		<style type="text/css" media="screen">
			body { <%= @product_family.custom_background %> }
		</style>
	<% end %>
<% end %>

<%= render_partial 'features' %>

<%= cache ["product_family_content", @product_family, I18n.locale, session['geo_country']] do %>
  <% if @product_family.parent_id.to_i == 0 && @product_family.children_with_current_products(website).length > 0 %>

    <div data-equalizer="family_thumbs" data-equalizer-mq="medium-up">
      <h5>Product Categories</h5>
    <ul class="small-block-grid-1 medium-block-grid-3">
    <% @product_family.children_with_current_products(website).each do |product_family| %>
      <% if product_family.locales(website).include?(I18n.locale.to_s) %>
        <li><div id="<%= product_family.to_param %>">
          <%= link_to product_family do %>
            <div class="product_family_box">
              <div data-equalizer-watch="family_thumbs" class="family_thumb">
                <% if !product_family.family_photo_file_name.blank? %>
                  <%= image_tag(product_family.family_photo.url, alt: translate_content(product_family, :name)) %>
                <% elsif product_family.first_product_with_photo(website) %>
                  <%= image_tag(product_family.first_product_with_photo(website).primary_photo.product_attachment.url(:medium),
                                alt: translate_content(product_family, :name)) %>
                <% end %>
              </div>
              <h2><%= translate_content(product_family, :name) %></h2>
              <% if product_family.short_description.present? %>
                <p><%=strip_html translate_content(product_family, :short_description) %></p>
              <% elsif product_family.intro.present? %>
                <p><%= truncate(strip_html(translate_content(product_family, :intro)), length: 100) %></p>
              <% elsif product_family.current_products_plus_child_products(website).length == 10 %>
                <p><%= truncate(strip_html(translate_content(product_family.current_products_plus_child_products(website).first, :short_description)), length: 100) %></p>
              <% elsif product_family.current_products_plus_child_products(website).length > 0 %>
                <p><%= truncate(product_family.current_products_plus_child_products(website).map{|p| translate_content(p, :name)}.join(", "), length: 100) %></p>
              <% end %>
            </div>
          <% end %>
        </div></li>
      <% end %>
    <% end %>
    </ul>
    </div>

  <% else %>

    <div class="row">
      <div class="large-12 columns">
        <% if @product_family.show_comparisons? %>
          <%= form_tag compare_products_path, method: :get %>
        <% end %>

        <%= render_partial "product_families/product_family", product_family: @product_family, skip_header: true  %>

        <% @product_family.children_with_current_products(website).each do |sub_family| %>
          <%= render_partial "product_families/product_family", product_family: sub_family %>
        <% end %>

        <% if @product_family.show_comparisons? %>
          </form>
        <% end %>

      </div>
    </div>
    <p>&nbsp;</p>
  <% end %>

<% end %>

<% if @product_family.post_content.present? %>
  <%= raw @product_family.post_content %>
<% end %>

<% if current_user && can?(:manage, @product_family) %>
  <div class="admin_function">
    <%= link_to "edit", [:admin, @product_family] %>
  </div>
<% end %>
