<%= simple_form_for([:admin, @system, @system_rule]) do |f| %>
	<%= f.error_notification %>
	<fieldset>
		<legend>WHEN THESE CONDITIONS ARE MET...</legend>

		<%= f.simple_fields_for :system_rule_condition_groups do |srcg| %>
			<%= render 'system_rule_condition_group_fields', f: srcg %>
		<% end %>

		<div class="row">
			<div class="large-12 columns text-right">
				<p>
					<%= link_to_add_fields(image_tag('icons/add_green.png', alt: '+') + ' new group of conditions',
					f, :system_rule_condition_groups) %>
				</p>
			</div>
		</div>
	</fieldset>

	<fieldset>
		<legend>THEN DO THIS...</legend>

		<%= f.simple_fields_for :system_rule_actions do |sra| %>
			<%= render 'system_rule_action_fields', f: sra %>
		<% end %>

		<div class="row">
			<div class="large-1 small-1 columns text-right">
				<%= link_to_add_fields(image_tag('icons/add_green.png', alt: 'add action'), f, :system_rule_actions) %>
			</div>
			<div class="large-2 small-6 columns">
				<p><%= link_to_add_fields 'add an action', f, :system_rule_actions %></p>
			</div>
			<div class="large-9 columns"></div>
		</div>

    <p><i>Note: All rules automatically perform the opposite action when the opposite criteria are met
      except for 'alert' and 'remove' actions.</i></p>
	</fieldset>

<%= f.input :enabled %>
<br/><br/>
  <%= f.button :submit %>
<% end %>
