<%= f.error_notification %>
<div class="rule-action-params">
<div class="row">
	<div class="large-1 small-1 columns text-right">
		<% if f.object === @system_rule.system_rule_actions.first %>
			&nbsp;
		<% else %>
			<%= f.input :_destroy, as: :hidden %>
			<label class="right inline">
				<%= link_to image_tag('icons/delete.png', alt: 'del action'), '#', class: 'remove_fields' %>
			</label>
		<% end %>
	</div>
	<div class="large-3 columns">
		<%= f.input :action_type, label: false,
			collection: SystemRuleAction.action_types.keys.map {|l| [l.to_s.titleize,l.to_s]}, 
			input_html: { class: 'no-custom' } %>
	</div>
	<div class="large-8 columns">
		<div class="row">
			<div class="large-6 columns action-option" data-related="<%= SystemRuleAction.related_actions_for(:system_option_id) %>">
				<%= f.association :system_option, label: false,
					collection: @system.system_options, input_html: { class: 'no-custom' } %>
			</div>
			<div class="large-6 columns action-option" data-related="<%= SystemRuleAction.related_actions_for(:system_option_value_id) %>">
				<%= f.association :system_option_value, label: false,
						collection: SystemOption.all_with_values,
				        as: :grouped_select, group_method: :system_option_values, group_label_method: :name,
				        label_method: :name, value_method: :id,
				        input_html: { class: 'no-custom' } %>
			</div>
			<div class="large-4 columns action-option" data-related="<%= SystemRuleAction.related_actions_for(:quantity) %>">
				<%= f.input :quantity, label: false, input_html: { min: 0, class: 'no-custom' } %>
			</div>
			<div class="large-8 columns action-option" data-related="<%= SystemRuleAction.related_actions_for(:system_component_id) %>">
				<%= f.association :system_component, label: false, input_html: { class: 'no-custom' } %>
			</div>
			<div class="large-12 columns action-option" data-related="<%= SystemRuleAction.related_actions_for(:alert) %>">
				<%= f.input :alert, label: false, placeholder: "alert message", input_html: { class: 'no-custom' } %>
			</div>
		</div>
	</div>
</div>
</div>