<%= f.input :_destroy, as: :hidden %>
<%= f.error_notification %>
<div class="row">
	<div class="large-12 columns">
		<% unless f.object === @system_rule.system_rule_condition_groups.first %>
		<p class="text-right">
			<%= link_to '#', class: 'remove_fields'  do %>
				<%= image_tag('icons/delete.png', alt: '-') %>
				remove condition group
			<% end %>
		</p>
		<% end %>
		<%= f.simple_fields_for :system_rule_conditions do |src| %>
			<%= render 'system_rule_condition_fields', f: src, srcg: f %>
		<% end %>
		<div class="row">
			<div class="large-1 small-3 columns text-right">
				<%= link_to_add_fields image_tag('icons/add_green.png', alt: 'add a condition'), f, :system_rule_conditions %>
			</div>
			<div class="large-2 small-6 columns">
				<p><%= link_to_add_fields 'add a condition', f, :system_rule_conditions %></p>
			</div>
			<div class="large-6 small-6 columns text-right">
				)
			</div>
		</div>
		<hr/>
	</div>
</div>