<%= f.error_notification %>
<%= f.input :_destroy, as: :hidden %>
<div class="row">
	<% if srcg && f.object === srcg.object.system_rule_conditions.first %>
		<div class="large-2 columns">
			<% if srcg.object === @system_rule.system_rule_condition_groups.first %>
				&nbsp;
			<% else %>
				<%= srcg.input :logic_type, label: false,
					as: :select,
					collection: SystemRuleConditionGroup.logic_types.keys.map {|l| [l.titleize,l]} %>
			<% end %>
		</div>
		<div class="large-1 small-1 columns">
			<label class="right inline">(</label>
		</div>
	<% else %>
		<div class="large-1 small-1 columns text-right">
			<label class="right inline">
				<%= link_to(image_tag('icons/delete.png', alt: 'del'), '#' , class: 'remove_fields') %>
			</label>
		</div>
		<div class="large-2 columns">
			<%= f.input :logic_type, label: false,
				as: :select,
				collection: SystemRuleCondition.logic_types.keys.map {|l| [l.titleize,l]} %>
		</div>
	<% end %>
	<div class="large-3 columns">
		<%= f.association :system_option, label: false, 
			collection: @system.system_options %>
	</div>
	<div class="large-2 columns">
		<%= f.input :operator, label: false, 
			as: :select, 
			collection: SystemRuleCondition.operators %>
	</div>
	<div class="large-4 columns">
		<%= f.input :direct_value, label: false %>
		<%#= f.association :system_option_value, label: false,
			as: :grouped_select,
			collection: @system.options_with_possible_values,
			group_label_method: :name,
			label_method: :name,
			value_method: :id %>
	</div>
</div>