<%= content_for :left_nav do %>
	<li><%= link_to "Products", toolkit_brand_products_path(@brand) %></li>
	<li><%= link_to "Promotions", toolkit_brand_promotions_path(@brand) %></li>
	<li><%= link_to "Ads" %></li>
	<li><%= link_to "Logos" %></li>
<% end %>