<%= content_for :breadcrumbs do %>
  <li class="current"><a href="#"><%= @brand.name %></a></li>
<% end %>

<%= content_for :title do %><%= @brand.name %> Toolkit<% end %>

<%= render "toolkit/brands/left_nav" %>

<h3><%= @brand.name %> <small>Toolkit Resources</small></h3>

(put the latest stuff here)
