<%= content_for :breadcrumbs do %>
  <li class="current"><a href="#"><%= @brand.name %></a></li>
<% end %>

<%= content_for :title do %><%= @brand.name %> Toolkit<% end %>

<%= render "toolkit/brands/left_nav" %>

<h2><%= @brand.name %> <small>Toolkit Resources</small></h2>

<% @marketing_messages.each do |mm| %>
	<div class="panel marketing_message">
		<h3 class="subheader"><%= mm.name %></h3>
		<div><%= raw mm.message %></div>
	</div>
<% end %>
