<h1>AMX VIP Services</h1>

<ul class="button-group round">
	<li><%= link_to 'Programmers List', admin_vip_programmers_path, class: "small button round" %>	</li>
	<li><%= link_to 'Categories List', admin_vip_service_categories_path, class: "small button round" %>	</li>
	<li><%= link_to 'Create New Service', new_admin_vip_service_path, class: "small success button" %></li>
</ul>

<table class="data">
  <tr>
  	<th></th>
    <th>Name</th>
    <th>Categories</th>
  </tr>

<% @vip_services.each do |service| %>
  <tr style="vertical-align:text-bottom;">
    <td><%= link_to 'Edit', edit_admin_vip_service_path(service), class: "small round button" %></td>
    <td><%= service.name %></td>
    <td>
      <% service.categories.each do |category| %>
        <%=category.name%><br />
      <% end %>  
      <%= link_to "Add Category", admin_vip_service_path(service) %>
    </td>
  </tr>
<% end %>
</table>