<%= content_for :feature do %>
  <div class="solutions">
    <section id="intro">
      <div class="row">
        <div class="medium-12 columns">
          <h1>Audio Networking As Easy As <span class="purple">A</span>, <span class="blue">B</span>, <span class="green">C</span>, <span class="red">D</span></h1>
        </div>
      </div>
      <div class="row">
        <div class="medium-8 columns">
          <h3>Simple, flexible and cost-effective installed sound solutions</h3>
          <p>Crown and BSS offer AVB, CobraNet&reg; and Dante&trade; audio transport solutions through the use of BLU link, programmed and controlled through HiQnet Audio Architect&trade; software. Our unique audio transport solutions drastically cut down on licensing fees and costs associated with expensive technology and infrastructure setup.</p>
        </div>
        <div class="medium-4 columns text-center">
          <%= link_to "http://adn.harmanpro.com/site_elements/resources/1368_1439226497/Installed_Sound_Solutions_Infographic_sm_080515_original.pdf" do %>
            <div><small><i>Download the Infographic:</i></small></div>
            <%= image_tag 'solutions/infographic_thumb.jpg', alt: 'Installed Solutions Infographic' %>
          <% end %>
        </div>
      </div>
    </section>
    <section class="black">
      <div class="row">
        <div class="large-12 columns"><%= image_tag "solutions/cloud.png", class: "cloud", alt: "cloud" %></div>
      </div>
      <div class="row fadein">
        <div class="slideright small-3 columns">
          <p><%= image_tag "solutions/rack.png", alt: "rack room" %></p>
          <p>Location 1</p>
        </div>
        <div class="slideright small-3 columns">
          <p><%= image_tag "solutions/rack.png", alt: "rack room" %></p>
          <p>Location 2</p>
        </div>
        <div class="slideright small-3 columns">
          <p><%= image_tag "solutions/rack.png", alt: "rack room" %></p>
          <p>Location 3</p>
        </div>
        <div class="slideright small-3 columns">
          <p><%= image_tag "solutions/rack.png", alt: "rack room" %></p>
          <p>Location X</p>
        </div>
      </div>
    </section>
    <section class="black" id="flexible-solutions">
      <div class="row">
        <div class="large-12 columns">
          <h2>Flexible Solutions</h2>
          <h3>BSS Soundweb&trade; London and Crown DriveCore&trade; Install Series</h3>
          <p>BSS Soundweb&trade; London has a signal processing solution to match the most popular networked audio transport. With the inclusion of BLU link capabilities in processors and amplifiers, Soundweb London processors will effortlessly pair up to any Crown DriveCore Install (DCi) Network Series amplifiers through the use of BLU link—a feature that is becoming more present in other HARMAN products.</p>
          <%= image_tag "solutions/soundweb.png", alt: "cloud" %>
        </div>
      </div>
    </section>
    <section class="grey" id="affordable-solutions">
      <div class="row">
        <div class="large-12 columns">
          <h2>Affordable Solutions</h2>
          <h3>Same great audio quality for a fraction of the cost</h3>
        </div>
      </div>
      <div class="row">
        <div class="small-12 large-6 columns">
          <p>AVB, CobraNet and Dante are useful in many situations, but these technologies can be expensive on top of the licensing fees of each product. That's where we can help.  With HARMAN's Installed Sound Solutions, BLU link is an affordable solution that fulfills the same purpose as AVB, CobraNet and Dante—passing audio from one place to another over CAT5 cables.</p>
        </div>
        <div class="small-12 large-6 columns">
          <p>BLU link amplifiers have no licensing fees baked into the product cost, the technology itself is more cost-effective to implement than AVB, CobraNet and Dante technologies, and BLU link does not require a network switch.  With BLU link, listeners are hearing the same audio quality that originated in AVB, CobraNet or Dante for a fraction of the cost.</p>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <%= image_tag "solutions/affordable-simple-chart.png", alt: "Affordable options chart" %>
        </div>
      </div>
    </section>
    <section class="dark-primary" id="blu-link">
      <div class="row">
        <div class="large-12 columns">
          <h2>BLU link</h2>
          <h3>A high-bandwidth, low-latency audio bus that can be used as a standalone technology or used as a complement to Dante, AVB and CobraNet</h3>
        </div>
      </div>
      <div class="row fadein">
        <div class="small-12 columns slideleft">
          <%= image_tag "solutions/blu-illustration.png", alt: "cloud" %>
        </div>
      </div>
      <div class="row">
        <div class="small-12 columns">
          <%= image_tag "solutions/blu-illustration-2.png", alt: "cloud" %>
        </div>
      </div>
    </section>
    <section id="dante">
      <div class="row">
        <div class="small-12 columns">
          <h1>Dante</h1>
          <h3>Lower costs and complexity by using BLU link in a Dante system</h3>
        </div>
      </div>
      <div class="row">
        <div class="small-12 columns"><%= image_tag "solutions/cloud-dante.png", alt: "cloud" %></div>
      </div>
      <div class="row">
        <div class="small-12 columns">
          <p>Dante audio signals can be passed through the BSS Soundweb London BLU-806, BLU-326, or BLU-DAN into any Crown DCi Network amplifier via BLU link. The BLU-806/326/DAN all make it possible to use Dante to pass audio between multiple locations, capable of going over switches and existing network infrastructure. They can also be used as a bridge to convert Dante audio to BLU link for low-cost audio redistribution of up to 60 devices within a rack or room.</p>
          <p>Using BLU link with Dante allows for a drastic reduction in costs associated with building infrastructure and system complexity.  Much of the product costs associated with licensing fees and expensive technology are eliminated when BLU link is put to use.</p>
        </div>
      </div>
    </section>
    <section class="grey" id="cobranet">
      <div class="row">
        <div class="large-12 columns">
          <h2>CobraNet</h2>
          <h3>Lower costs and complexity by using BLU link in a CobraNet system</h3>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns"><%= image_tag "solutions/cloud-cobra.png", alt: "cloud" %></div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <p>CobraNet audio signals can be passed through the BSS Soundweb London BLU-800 or BLU-320 into any Crown DCi Network amplifier via BLU link. Both the BLU-800 and BLU-320 make it possible to use CobraNet to pass audio between multiple locations, capable of going over switches and existing network infrastructure. They can also be used as a bridge to convert CobraNet audio to BLU link for low-cost audio redistribution of up to 60 devices within a rack or room.</p>
          <p>Using BLU link with CobraNet allows for a drastic reduction in costs associated with building infrastructure and system complexity. Much of the product costs associated with licensing fees and expensive technology are eliminated when BLU link is put to use.</p>
          <p>In addition to using the DCi Network amplifiers in a CobraNet system, Crown I-Tech HD amps can also receive CobraNet audio directly. All I-Tech HD models are capable of  providing 70Vrms/100Vrms out of each channel.</p>
        </div>
      </div>
    </section>
    <section id="avb">
      <div class="row">
        <div class="large-12 columns">
          <h2>AVB</h2>
          <h3>Lower costs and complexity by using BLU link in a AVB system</h3>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns"><%= image_tag "solutions/cloud-avb.png", alt: "cloud" %></div>
      </div>
      <div class="row">
        <div class="small-12 columns">
          <p>AVB audio signals can be passed through the BSS Soundweb London BLU-805 or BLU-325 into any Crown DCi Network amplifier via BLU link.  Both the BLU-805 and BLU-325 make it possible to use AVB to pass audio to multiple locations with a capability to go over switches and routers in a campus-wide environment. They can also be used as a bridge to convert AVB audio to BLU link for low-cost audio redistribution of up to 60 devices within a rack or room.</p>
          <p>License fees are not required for AVB products but the technology is expensive to implement relative to BLU link, the programming can be complex, and the network switches are typically high in cost. Fortunately, the BLU link solution helps reduce these expenses.</p>
          <p>In addition to using DCi Network amplifiers in a AVB system, the Crown DriveCore Install Network Display amplifiers can accept AVB audio directly and are certified by the AVnu® Alliance to will work with other AVB solutions. Two models are available: 4|1250ND and 8|600ND.</p>
        </div>
      </div>
    </section>
    <section class="dark-primary" id="outro">
      <div class="row">
        <div class="small-12 large-8 columns small-text-center medium-text-center">
          <h3>Let us put together a solution right for you.</h3>
        </div>
        <div class="small-12 large-4 columns small-text-center medium-text-center">
          <%= link_to "Contact Us", support_path, class: "button secondary" %>
        </div>
      </div>
    </section>
  </div>
<% end %>
