<% set_meta_tags title: t('titles.safety_and_certifications') %>

<div class="content container">
  <div class="row">
    <div class="large-8 columns large-offset-2 text-content">
      <h1><%= website.brand.name %> <%= t 'titles.safety_and_certifications' %></h1>

      <% @documents.each do |document| %>
        <p><strong><%= link_to document.name, document %></strong><br/>
        <i><%= t(:last_updated) %>: <%=l document.updated_at.to_date, format: :long %></i></p>
      <% end %>

    </div>
  </div>
</div>
