<% set_meta_tags reverse: true,
                 title: translate_content(@page, :title),
                 description: translate_content(@page, :description),
                 keywords: @page.keywords %>

<% if @page.layout_class == "full" %>
  <%= content_for :feature do %>
    <% if @page.features.size > 0 %>
      <% @page.features.each do |feature| %>
        <%= render_feature feature %>
      <% end %>
    <% end %>
    <%= raw translate_content(@page, :body) %>
  <% end %>
<% else %>
  <div class="content container">
    <div class="row">
      <% if @page.layout_class == "wide" %>
        <div class="large-12 columns text-content">
      <% else %>
        <div class="large-8 columns large-offset-2 text-content">
      <% end %>
        <% if @page.features.size > 0 %>
          <% @page.features.each do |feature| %>
            <%= render_feature feature %>
          <% end %>
        <% end %>
        <%=raw translate_content(@page, :body) %>
      </div>
    </div>
  </div>
<% end %>

<%= content_for :custom_css do %>
	<style type="text/css">
		<%=raw @page.custom_css %>
	</style>
<% end %>

<%= content_for :extra_js do %>
  <%= raw @page.custom_js %>
<% end %>

<% if current_user && can?(:manage, @page) %>
<div class="admin_function">
	<%= link_to "edit", edit_admin_page_path(@page) %>
</div>
<% end %>
