<h1>Listing tone_library_patches</h1>

<%= link_to 'New Tone library patch', new_admin_tone_library_patch_path %>

<ul>
<% @tone_library_patches.each do |tone_library_patch| %>
  <li>
  	<%= link_to [:admin, tone_library_patch] do %>
		<%= tone_library_patch.tone_library_song.artist_name %>:
		<i><%= tone_library_patch.tone_library_song.title %></i>
		-- <%= tone_library_patch.product.name %>
	<% end %>
  </li>
<% end %>
</ul>
