<%= simple_form_for [:admin, @product_family], html: { multipart: true } do |f| %>

	<div class="row">
		<div class="large-8 columns">
			<%= f.input :name %>
		</div>
		<div class="large-4 columns">
      <%= f.input :short_description, label: "100 character description", as: :text, input_html: {class: "limited", data: {charlimit: 100}} %>
		</div>
	</div>

  <div class="row">
    <div class="small-12 medium-6 columns">
      <%= f.input :meta_description %>
    </div>
    <div class="small-12 medium-6 columns">
      <%= f.input :keywords %>
    </div>
  </div>

	<div class="row">
		<div class="large-4 columns">
			<%= f.association :parent,
        collection: ProductFamily.where(brand_id: website.brand.id).order(:name) - [@product_family] - @product_family.children,
        label_method: :tree_names
      %>
		</div>
		<div class="large-4 columns">
			<% if website.page_layouts %>
				<%= f.input :layout_class, label: "Page layout style",
					hint: "(not all brands have multiple layouts)",
					collection: website.page_layouts.split("|") %>
			<% end %>
		</div>
		<div class="large-4 columns">
			<%= f.input :background_color, hint: "(optional page background: ie \"#CCCCCC\" or \"blue\")" %>
		</div>
	</div>

	<div class="row">
		<div class="large-4 columns">
			<div class="panel">
				<%= f.input :family_photo, label: "Family button", hint: "appears on overall products page" %>
			  	<% if !f.object.family_photo_file_name.blank? %>
					<span id="family_photo">
						<%= link_to image_tag("icons/trash.gif", lazy: false), delete_family_photo_admin_product_family_path(f.object), remote: true %>
						currently:
						<%= link_to image_tag(f.object.family_photo.url(:original), lazy: false), f.object.family_photo.url %>

					</span>
				<% end %>
			</div>
		</div>

		<div class="large-4 columns">
			<div class="panel">
				<%= f.input :title_banner, label: "Title Banner", hint: "appears on this product family's page" %>
			    <% if !f.object.title_banner_file_name.blank? %>
					<span id="title_banner">
						<%= link_to image_tag("icons/trash.gif", lazy: false), delete_title_banner_admin_product_family_path(f.object), remote: true %>
						currently:
						<%= link_to image_tag(f.object.title_banner.url(:thumb)), f.object.title_banner.url %>

					</span>
				<% end %>
			</div>
		</div>

		<div class="large-4 columns" style="margin-bottom: 20px;">
			<div class="panel">
				<%= f.input :background_image, hint: "(optional background image--will be centered)" %>
				<% if !f.object.background_image_file_name.blank? %>
					<span id="background_image">
						<%= link_to image_tag("icons/trash.gif", lazy: false), delete_background_admin_product_family_path(f.object), remote: true %>
						currently:
						<%= link_to image_tag(f.object.background_image.url(:thumb)), f.object.background_image.url %>
					</span>
				<% end %>
			</div>
		</div>
	</div>

  <%= f.association :featured_product,
    collection: website.brand.products,
    hint: "aka. the Rick Kamlet fix. Rather than finding the first active product with a photo, use this to assign a specific product as the representative product for this family." %>

	<div class="row">
		<div class="large-8 columns">
			<%= f.input :intro, label: "Intro text", input_html: {style: "height: 100px;"} %>
			<%#= f.input :keywords %>
		</div>
	</div>

  <div class="row">
    <div class="large-8 columns">
      <%= f.input :post_content, label: "Content to appear after the products on the family page.",
        input_html: { class: "mceEditor" } %>
    </div>
  </div>

  <br/>
	<%= f.input :hide_from_navigation, hint: "Experimental. May not hide everywhere." %>
  <%= f.input :has_full_width_features %>
  <%= f.input :show_review_quotes %>

  <% unless f.object.new_record? %>
    <%= f.association :brand, label: "Move this family to another brand" %>
  <% end %>

  <div class="row">
    <div class="small-12 medium-6 columns">
      <fieldset>
        <legend>Security</legend>
        <p>If anything is here, the family is hidden from the site and can only be accessed with the direct URL and the login info.</p>
        <%= f.input :preview_username %>
        <%= f.input :preview_password, as: :string %>
      </fieldset>
    </div>
  </div>

	<br/><%= f.button :submit %>

<% end %>
