<%= simple_form_for [:admin, @product_family], html: { multipart: true } do |f| %>

	<div class="row">
		<div class="large-8 columns">
			<%= f.input :name %>
		</div>
	</div>

	<div class="row">
		<div class="large-4 columns">
			<%= f.association :parent, 
				collection: ProductFamily.all_parents(website),
				hint: "Do not set so it is its own parent. That would be gross." %>
		</div>
		<div class="large-4 columns">
			<% if website.page_layouts %>
				<%= f.input :layout_class, label: "Page layout style",
					hint: "(not all brands have multiple layouts)",
					collection: website.page_layouts.split("|") %>
			<% end %>
		</div>
		<div class="large-4 columns"></div>
	</div>

	<%= f.input :hide_from_homepage, label: "Hide from homepage. (only applicable to parent categories)" %>	<br/>

	<div class="row">
		<div class="large-4 columns">
			<%= f.input :background_color, hint: "(optional page background: ie \"#CCCCCC\" or \"blue\")" %>
		</div>
	</div>

	<%= f.input :family_photo %>
  	<% if !f.object.family_photo_file_name.blank? %>
		<span id="family_photo">
			<%= link_to f.object.family_photo_file_name, f.object.family_photo.url %>
			<%= link_to image_tag("icons/trash.gif"), delete_family_photo_admin_product_family_path(f.object), remote: true %>
		</span>
	<% end %>

	<%= f.input :title_banner, hint: "appears on the top of this product family page" %>
    <% if !f.object.title_banner_file_name.blank? %>
		<span id="title_banner">
			<%= link_to f.object.title_banner_file_name, f.object.title_banner.url %>
			<%= link_to image_tag("icons/trash.gif"), delete_title_banner_admin_product_family_path(f.object), remote: true %>
		</span>
	<% end %>

	<%= f.input :background_image, hint: "(optional background image--will be centered)" %>
	<% if !f.object.background_image_file_name.blank? %>
		<span id="background_image">
			<%= link_to f.object.background_image_file_name, f.object.background_image.url %>
			<%= link_to image_tag("icons/trash.gif"), delete_background_admin_product_family_path(f.object), remote: true %>
		</span>
	<% end %>

	<div class="row">
		<div class="large-8 columns">
			<%= f.input :intro, label: "Intro text" %>
			<%#= f.input :keywords %>
		</div>
	</div>

	<br/><%= f.button :submit %>

<% end %>