<% set_meta_tags title: @product_family.name,
				 reverse: true,
                 description: @product_family.intro,
                 keywords: @product_family.keywords %>

<h1>
	<%=h @product_family.name %>
	<span class="little"><%= link_to(product_family_url(@product_family, locale: I18n.locale), product_family_url(@product_family, locale: I18n.locale)) %>
	<%= link_to(image_tag("icons/external_link_icon.png"), product_family_url(@product_family, locale: I18n.locale)) %></span>
</h1>

<ul class="button-group round">
	<li><%= link_to 'Back', admin_product_families_path, class: "small secondary button" %></li>
	<li><%= link_to 'Edit', edit_admin_product_family_path(@product_family, locale: I18n.locale), class: "small secondary button" %></li>
	<li><%= link_to 'Delete', [:admin, @product_family], confirm: 'Are you sure?', method: :delete, class: "small alert button" %> </li>
</ul>

<% if @product_family.requires_login? %>
  <div class="alert-box info">
    <h4>Note</h4>
    <p>This product family requires a login to view:<br/>
    Username: <%= @product_family.preview_username %><br/>
    Password: <%= @product_family.preview_password %></p>
    <p>You'll also need the direct URL:<br/>
    <%= product_family_url(@product_family) %></p>
  </div>
<% end %>

<div class="row">
	<div class="large-4 columns">
		<div class="panel">
			<h6 class="subheader">Family Button:</h6>
			<% if !@product_family.family_photo_file_name.blank? %>
			  <%= image_tag @product_family.family_photo.url %>
			<% else %>
			  <i>(none)</i>
			<% end %>
		</div>
	</div>

	<div class="large-4 columns">
		<div class="panel">
			<h6 class="subheader">Title Banner:</h6>
			<% if !@product_family.title_banner_file_name.blank? %>
			  <%= image_tag @product_family.title_banner.url(:medium) %>
			<% else %>
			  <i>(none)</i>
			<% end %>
		</div>
	</div>

	<div class="large-4 columns">
		<div class="panel">
			<h6 class="subheader">Background:</h6>
			<% if !@product_family.background_image_file_name.blank? %>
			  <%= link_to @product_family.background_image_file_name, @product_family.background_image.url %>
			<% else %>
			  <i>(no background image)</i>
			<% end %>
		</div>
	</div>
</div>

<% if @product_family.parent %>
<p>
	<b>Parent Category:</b>
	<%= link_to(@product_family.parent.name, [:admin, @product_family.parent]) %>
</p>
<% end %>

<% if @product_family.features.size == 0 %>
  <p>
    <b>Intro Text:</b><br/>
    <%= @product_family.intro %>
  </p>
  <p><%= link_to "Replace intro text with new fancy features",
    new_admin_feature_path(featurable_type: "ProductFamily", featurable_id: @product_family.id) %></p>
<% else %>
  <h5>Features</h5>
  <ul>
    <% @product_family.features.each do |feature| %>
      <li><%= link_to feature.name, [:admin, feature] %></li>
    <% end %>
  </ul>
  <p><%= link_to "Add a fancy feature",
    new_admin_feature_path(featurable_type: "ProductFamily", featurable_id: @product_family.id),
    class: "tiny success button" %></p>
<% end %>

<div class="row">
  <div class="medium-6 columns">
    <div class="group">
      <h4 class="subheader">Products in this family:</h4>
      <%= simple_form_for [:admin, @product_family_product], remote: true do |f| %>
        <%= hidden_field_tag "called_from", "product_family" %>
          <%= f.hidden_field :product_family_id %>
          <div class="row collapse">
            <div class="large-7 small-8 columns">
              <%= f.association :product, 
              label: false, 
              collection: Product.not_associated_with_this_product_family(@product_family_product.product_family, website),
              input_html: { class: 'chosen-select', multiple: true,  data: { placeholder: 'Select Products'} }%>
            </div>
            <div class="large-2 small-4 columns">
              <%= submit_tag 'add', class: "postfix button"  %>
            </div>
            <div class="large-3 columns" style="padding: 10px;">
              <p>or, <%= link_to 'create a new product', new_admin_product_path %></p>
            </div>
          </div>
      <% end %>

      <ul id="product_family_products" class="sortable_list">
        <% @product_family.product_family_products.each do |pfp| %>
          <%= render '/admin/shared/product_family_product_row', pfp: pfp, called_from: 'product_family' %>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="medium-6 columns">
    <% if @product_family.children.size > 0 %>
      <div class="group">
        <h4 class="subheader">Child Categories:</h4>
        <%= link_to "new category", new_admin_product_family_path, class: "small success button" %>
        <ul id="product_families" class="sortable_list">
          <%= render partial: "product_family", collection: @product_family.children %>
        </ul>
      </div>
    <% end %>

    <div class="group">
      <h4 class="subheader">Locales which should show this product family</h4>
      <p>Leave blank to show this product family for all locales.</p>
      <%= simple_form_for [:admin, @locale_product_family], remote: true do |f| %>
        <%= f.hidden_field :product_family_id %>
        <div class="row collapse">
            <div class="large-7 small-8 columns">
            <%= f.input :locale, label: false, collection: website.website_locales, value_method: :locale %>
          </div>
          <div class="large-2 small-4 columns">
            <%= submit_tag 'add', class: "postfix button"  %>
          </div>
          <div class="large-3 columns"></div>
        </div>
      <% end %>

      <ul id="locale_product_families" class="list">
        <% @product_family.locale_product_families.each do |lpf| %>
          <%= render "/admin/shared/locale_product_family_row", lpf: lpf %>
        <% end %>
      </ul>
    </div>
  </div>
</div>

