<% set_meta_tags title: @product_family.name,
  reverse: true,
  description: @product_family.intro,
  keywords: @product_family.keywords %>

<% if @product_family.features.length == 0 && @product_family.current_products_plus_child_products(website).length == 1 %>
  <div class="alert-box info radius" data-alert>
    This family has one active product and no fancy features to display. That means the public site will
    redirect directly to the <strong><%= @product_family.current_products_plus_child_products(website).first.name %> page</strong> instead
    of showing a family page.
    <a href="#" class="close">&times;</a>
  </div>
<% end%>

<h1>
	<%=h @product_family.name %>
	<span class="little"><%= link_to(product_family_url(@product_family, locale: I18n.locale), product_family_url(@product_family, locale: I18n.locale)) %>
	<%= link_to(image_tag("icons/external_link_icon.png"), product_family_url(@product_family, locale: I18n.locale)) %></span>
</h1>

<ul class="button-group round">
	<li><%= link_to 'Back', admin_product_families_path, class: "small secondary button" %></li>
	<li><%= link_to 'Edit', edit_admin_product_family_path(@product_family, locale: I18n.locale), class: "small secondary button" %></li>
  <li><%= link_to 'Copy Family', copy_admin_product_family_path(@product_family, locale: I18n.locale), method: :put, class: "small success button" %></li>
	<li><%= link_to 'Delete', [:admin, @product_family], confirm: 'Are you sure?', method: :delete, class: "small alert button" %> </li>
</ul>

<% if @product_family.requires_login? %>
  <div class="alert-box info">
    <h4>Note</h4>
    <p>This product family requires a login to view:<br/>
    Username: <%= @product_family.preview_username %><br/>
    Password: <%= @product_family.preview_password %></p>
    <p>You'll also need the direct URL:<br/>
    <%= product_family_url(@product_family) %></p>
  </div>
<% end %>

<div class="row">
	<div class="large-4 columns">
		<div class="panel">
			<h6 class="subheader">Family Button:</h6>
			<% if @product_family.family_photo_file_name.present? %>
			  <%= image_tag(@product_family.family_photo.url(:original), lazy: false) %>
			<% else %>
			  <i>(none)</i>
			<% end %>
		</div>
	</div>

	<div class="large-4 columns">
		<div class="panel">
			<h6 class="subheader">Title Banner:</h6>
			<% if !@product_family.title_banner_file_name.blank? %>
			  <%= image_tag @product_family.title_banner.url(:medium) %>
			<% else %>
			  <i>(none)</i>
			<% end %>
		</div>
	</div>

	<div class="large-4 columns">
		<div class="panel">
			<h6 class="subheader">Background:</h6>
			<% if !@product_family.background_image_file_name.blank? %>
			  <%= link_to @product_family.background_image_file_name, @product_family.background_image.url %>
			<% else %>
			  <i>(no background image)</i>
			<% end %>
		</div>
	</div>
</div>

<% if @product_family.parent %>
<p>
	<b>Parent Category:</b>
	<%= link_to(@product_family.parent.name, [:admin, @product_family.parent]) %>
</p>
<% end %>

<% if @product_family.features.size == 0 %>
  <p>
    <b>Intro Text:</b><br/>
    <%= @product_family.intro %>
  </p>
  <p><%= link_to "Replace intro text with new fancy features",
    new_admin_feature_path(featurable_type: "ProductFamily", featurable_id: @product_family.id) %></p>
<% else %>
  <h5>Features</h5>
  <p>Use full width for features? <%= (@product_family.has_full_width_features?) ? "Yes" : "No" %></p>
  <ul>
    <% @product_family.features.each do |feature| %>
      <li><%= link_to feature.name, [:admin, feature] %></li>
    <% end %>
  </ul>
  <p><%= link_to "Add a fancy feature",
    new_admin_feature_path(featurable_type: "ProductFamily", featurable_id: @product_family.id),
    class: "tiny success button" %></p>
<% end %>

<div class="row">
  <div class="medium-6 columns">
    <div class="group">
      <h4 class="subheader">Products in this family:</h4>
      <%= simple_form_for [:admin, @product_family_product], remote: true do |f| %>
        <%= hidden_field_tag "called_from", "product_family" %>
          <%= f.hidden_field :product_family_id %>
          <div class="row collapse">
            <div class="small-12 medium-3 columns">
              <%= select_tag :brand_id,
                options_from_collection_for_select(
                  Brand.where(id: Product.pluck(:brand_id).uniq).order(Arel.sql("upper(name)")),
                  "cached_slug", "name", website.brand.cached_slug
              ), class: "brand-select" %>
            </div>
            <div class="small-8 medium-6 columns">
              <%= f.association :product,
              label: false,
              collection: Product.not_associated_with_this_product_family(@product_family_product.product_family, website),
              input_html: { class: 'chosen-select', multiple: true,  data: { placeholder: 'Select Products'} }%>
            </div>
            <div class="small-4 medium-3 columns">
              <%= submit_tag 'add', class: "postfix button"  %>
            </div>
          </div>
          <p class="text-right"><%= link_to 'create a new product', new_admin_product_path %></p>
      <% end %>

      <ul id="product_family_products" class="sortable_list">
        <% @product_family.product_family_products.each do |pfp| %>
          <%= render '/admin/shared/product_family_product_row', pfp: pfp, called_from: 'product_family' %>
        <% end %>
      </ul>

    </div>

		<% if can? :manage, @product_family.testimonials %>
			<div class="group">
				<h5 class="subheader">Testimonials about this family:</h5>
				<%= simple_form_for [:admin, @product_family_testimonial], remote: true do |f| %>
					<%= hidden_field_tag "called_from", "product_family" %>
				    <%= f.hidden_field :product_family_id %>
				    <div class="row collapse">
				    	<div class="large-10 small-8 columns">
                <%=raw f.association(:testimonial,
                                     label: false,
                                     collection: Testimonial.not_associated_with_this_product_family(@product_family, website),
                                     input_html: { class: 'chosen-select', multiple: true,  data: { placeholder: 'Select Testimonial'} }
                                     ).gsub(/\&amp\;/, '&')%>
				    	</div>
				    	<div class="large-2 small-4 columns">
				    		<%= submit_tag 'add', class: "prefix button"  %>
				    	</div>
				    </div>
            <p class="text-right">
              <%= link_to 'create a new testimonial', new_admin_testimonial_path %>
            </p>
				<% end %>

				<ul id="product_family_testimonials" class="list">
					<% @product_family.product_family_testimonials.each do |pft| %>
						<%= render '/admin/shared/product_family_testimonial_row', pft: pft, called_from: 'product_family' %>
					<% end %>
				</ul>
      </div>
    <% end %>
  </div>

  <div class="medium-6 columns">
    <div class="group">
      <h4 class="subheader">Child Categories:</h4>
      <%= simple_form_for [:admin, ProductFamily.new(parent_id: @product_family.id)], remote: true do |f| %>
        <%= f.input :parent_id, as: :hidden %>
        <%= label_tag "New Child Category Name" %>
        <div class="row collapse">
          <div class="small-8 columns">
            <%= f.input :name, label: false %>
          </div>
          <div class="small-4 columns">
            <%= f.submit "Create Child Category", class: "success button postfix" %>
          </div>
        </div>
      <% end %>

      <ul id="product_families" class="sortable_list">
        <%= render partial: "product_family", collection: @product_family.children %>
      </ul>
    </div>

    <div class="group">
      <h4 class="subheader">Locales which should show this product family</h4>
      <% if @product_family.parent.present? && @product_family.parent.locale_product_families.length > 0 %>
        <p>This product family is automatically restricted to locales because its parent
        has locale restrictions configured. So, to edit the list below, edit
        <%= link_to @product_family.parent.name, [:admin, @product_family.parent] %>.</p>
        <ul id="locale_product_families" class="list">
          <% @product_family.parent.locale_product_families.each do |lpf| %>
            <li><%= lpf.locale %></li>
          <% end %>
        </ul>
      <% else %>
        <p>Leave blank to show this product family for all locales.</p>
        <%= simple_form_for [:admin, @locale_product_family], remote: true do |f| %>
          <%= f.hidden_field :product_family_id %>
          <div class="row collapse">
              <div class="large-7 small-8 columns">
              <%= f.input :locale, label: false, collection: website.website_locales, value_method: :locale %>
            </div>
            <div class="large-2 small-4 columns">
              <%= submit_tag 'add', class: "postfix button"  %>
            </div>
            <div class="large-3 columns"></div>
          </div>
        <% end %>

        <ul id="locale_product_families" class="list">
          <% @product_family.locale_product_families.each do |lpf| %>
            <%= render "/admin/shared/locale_product_family_row", lpf: lpf %>
          <% end %>
        </ul>
      <% end %>
    </div>

    <div class="group">
      <h4 class="subheader">Case Studies</h4>

      <p>Let's make this easy. Just paste the ID of a case study from the pro site.
      (The ID is just the last part of the URL. Something like "case-study-name".)</p>

      <%= simple_form_for [:admin, @product_family_case_study], remote: true do |f| %>
        <%= f.hidden_field :product_family_id %>
        <%= hidden_field_tag :called_form, "product_family" %>
        <%= f.input :case_study_id, hint: "If the URL is #{ENV['PRO_SITE_URL']}/case_studies/i-like-brown-cars then just put i-like-brown-cars above." %>
        <%= f.submit "add case study", class: "button" %>
      <% end %>

      <ul id="product_family_case_studies" class="list">
        <% @product_family.product_family_case_studies.each do |pfcs| %>
          <%= render "/admin/shared/product_family_case_study_row", pfcs: pfcs, called_from: "product_family" %>
        <% end %>
      </ul>
    </div>
  </div>
</div>

