<% if product_family.locales(website).include?(I18n.locale.to_s) %>
  <%
    hlevel ||= product_family.parent_id.blank? ? 'h1' : 'h2'
  %>
  <<%= hlevel %> class="text-center">
    <% if !product_family.title_banner_file_name.blank? %>
      <%= image_tag(product_family.title_banner.url, alt: translate_content(product_family, :name), style: " width: 100%") %>
    <% else %>
      <%= translate_content(product_family, :name) %>
    <% end %>
  </<%= hlevel %>>

  <p><%=raw translate_content(product_family, :intro) %></p>

  <% if product_family.current_products.length > 0 %>
    <ul class="large-block-grid-2 small-block-grid-1">
      <% product_family.current_products.each do |product| %>
        <li><%= render_partial("product_families/product_square",
                             product: product,
                             extra_large: true,
                             compare: product_family.show_comparisons?) %>
        </li>
      <% end %>
    </ul>
    <% if product_family.show_comparisons? %>
      <div class="compare_button">
        <br/><%= submit_tag t('product_page.compare_selected_products'), class: "small button" %>
        &nbsp;
        <%= t('product_page.select_products_to_compare') %>
      </div>
    <% end %>
  <% end %>
<% end %>
