<% set_meta_tags 	twitter: {
		card: "summary"
	},
	og: {
		image: image_url("#{website.folder}/logo.png"),
		type: 'brand',
		description: @website.site_name,
		title: @website.brand.name
	} %>

<%= content_for :feature do %>
	<%= cache ["slideshow", website.brand, I18n.locale] do %>
		<% slides = Setting.slides(website) %>
		<%= video_background_with_features(slides, tagline: true) %>
	<% end %>
<% end %>

<%= content_for :middle_stuff do %>
	<%= cache ["homepage_features", website.brand, I18n.locale] do %>
	<div id="middle_features">
		<% if @features.size > 0 %>
		<ul class="large-block-grid-<%= @features.size %> small-block-grid-<%= (@features.size / 2).to_i %>">
			<% @features.each_with_index do |feature,i| %>
			<li><%= feature_button(feature) %></li>
			<% end %>
		</ul>
		<% else %>
<%# Jay hates this %>
<!--
			<div class="panel">
				<h2><%= website.brand.name %> <%= ucfirst(t('products')) %></h2>
				<%= featured_product_families(zurb: true, limit: 5) %>
				<div class="text-right">
					<%= link_to product_families_path do %>
						more <%= website.brand.name %>
						<%= t('products').downcase %> ...
					<% end %>
				</div>
			</div>
-->
		<% end %>
	</div>
	<% end %>
<% end %>

<%= content_for :big_bottom_box do %>

	<% if @featured_product %>

		<div class="row" id="featured_product_container">
			<div class="large-7 columns">
				<div id="featured_image_container" class="hide-for-small">
					<%= link_to(image_tag(@featured_product.photo.product_attachment.url(:original), id: "featured_image"), @featured_product) %>
				</div>
				<div class="show-for-small">
					<%= link_to(image_tag(@featured_product.photo.product_attachment.url(:medium)), @featured_product) %>
				</div>
			</div>
			<div class="large-5 columns">
				<h1><%= link_to @featured_product.name, @featured_product %></h1>
				<h3 class="subheader"><%= translate_content(@featured_product, :short_description) %></h3>

				<p><%=raw translate_content(@featured_product, :short_description_4) %></p>

				<%= link_to 'more details...', @featured_product, class: "small secondary button" %>
			</div>
		</div>

	<% end %>

	<% if @featured_video %>
	<div class="container" id="homepage-video-banner">
		<div class="row">
			<div class="large-6 small-12 columns">
				<div class="video-window text-center">
					<iframe width="853" height="480" src="//www.youtube.com/embed/<%= @featured_video %>" frameborder="0" allowfullscreen></iframe>
				</div>
			</div>
			<div class="large-6 small-12 columns">
				<%= render_partial 'shared/column_for_news' %>
			</div>
		</div>
		<div class="row hide-for-small">
			<div class="large-6 columns">
				<%= link_to videos_path do %>
					<%= image_tag "icons/youtube.png" %> 
					more <%= website.brand.name %> videos ...
				<% end %>
			</div>
			<div class="large-6 columns text-right">
				<%= link_to news_index_path do %>
					<%#= image_tag "icons/rss.png" %> 
					more
					<%= website.brand.name %>
					<%= t('news') %> ...
				<% end %>
			</div>
		</div>
	</div>

	<% end %>

	<div class="row" style="margin-top: 50px;">
		<div class="large-6 large-offset-3 columns">
			<% if website.email_signup_url %>
				<%= render_partial 'shared/newsletter_signup' %>
			<% end %>
		</div>
	</div>
<% end %>

<%= content_for :preload do %>
	<%= preload_background_images %>
<% end %>

<%= content_for :popup_code do %>
	<% if website.homepage_popup %>
		<%=raw website.homepage_popup %>
	<% end %>
<% end %>

<div id="homepage-counter" data-counter="<%= @counter %>" data-nextevent="<%= @next_event %>" data-countdowncontainer="<%= @countdown_container %>"></div>