<% set_meta_tags  twitter: {
    card: "summary"
  },
  og: {
    image: image_url("#{website.folder}/logo.png"),
    type: 'brand',
    description: @website.site_name,
    title: @website.brand.name
  } %>

<%= content_for :feature do %>
  <%= cache ["slideshow", website.brand, I18n.locale] do %>
    <% # Quick and easy way to test how videos look without uploading them. %>
    <% if Rails.env.development? %>
      <% tmp_file = ENV['dbx_test_vid'] %>
      <div id="video-container" class="hide-for-small">
        <video autoplay="autoplay" id="video_background" loop="loop" muted="muted"
        poster="<%= image_path "dev/#{ tmp_file }.jpg" %>" preload="auto" volume="0">
          <source src='<%= image_path "dev/#{ tmp_file }.webm" %>' type='video/webm'/>
          <source src='<%= image_path "dev/#{ tmp_file }.mp4" %>' type='video/mp4'/>
        </video>
        <div id="video_pattern"></div>
        <div class="row headline_slide">
          <div class="large-5 small-12 columns">
            <% if website.homepage_headline %>
              <h1><%= website.homepage_headline %></h1>
            <% end %>
            <% if website.homepage_headline_product_id %>
              <% product = Product.find(website.homepage_headline_product_id) %>
              <p><%= product.name %></p>
              <%= link_to("Learn More", product, class: "secondary button") %>
              <% if product.in_production? %>
                <%= buy_it_now_link(product, html_button: true) %>
              <% end %>
            <% end %>
          </div>
          <div class="bg-gif">
            <%= image_tag "dbx/#{ tmp_file }.jpg" %>
          </div>
        </div>
      </div>
      <div class="bouncing-arrow"></div>
    <% else %>
      <% slides = Setting.slides(website) %>
      <%= video_background_with_features(slides, tagline: true, hide_for_small: true, pattern_overlay: true) %>
    <% end %>
  <% end %>
<% end %>

<%= content_for :middle_stuff do %>
  <%= cache ["homepage_features", website.brand, I18n.locale] do %>
    <% if @features.size > 0 %>
      <div id="middle_features">
        <ul class="large-block-grid-<%= @features.size %> small-block-grid-<%= (@features.size / 2).to_i %>">
          <% @features.each_with_index do |feature,i| %>
          <li><%= feature_button(feature) %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  <% end %>
<% end %>

<%= content_for :big_bottom_box do %>

<%= cache ["featured_products_strip", website.brand, I18n.locale] do %>
  <% if @featured_products %>
  <div class="homepage_block">
    <% @featured_products.each_with_index do |featured_product, i| %>
      <% if (i%2 <= 0) %>
      <div class="row featured_product_container" id="featured_product_<%= i %>">
        <%#= featured_product_icons(featured_product, i) %>
        <div class="large-7 columns">
          <div class="featured_image_container show-for-large-up left">
            <%= link_to(image_tag(featured_product.photo.product_attachment.url(:original), class: "featured_image"), featured_product) %>
          </div>
          <div class="hide-for-medium-up">
            <%= link_to(image_tag(featured_product.photo.product_attachment.url(:medium)), featured_product) %>
          </div>
          <div class="show-for-medium">
            <%= link_to(image_tag(featured_product.photo.product_attachment.url(:large)), featured_product) %>
          </div>
        </div>
        <div class="large-5 columns">
          <h1><%= link_to featured_product.name, featured_product %></h1>
          <h3 class="subheader"><%= translate_content(featured_product, :short_description) %></h3>

          <p><%=raw translate_content(featured_product, :short_description_4) %></p>

          <%= link_to 'more details...', featured_product, class: "small secondary button" %>
          <% if featured_product.in_production? %>
            <%= buy_it_now_link(featured_product, html_button: true, downcase: true, button_class: "small button") %>
          <% end %>
        </div>
      </div>
      <% else %>
      <div class="row featured_product_container" id="featured_product_<%= i %>">
        <div class="hide-for-medium-up">
          <%= link_to(image_tag(featured_product.photo.product_attachment.url(:medium)), featured_product) %>
        </div>
        <div class="show-for-medium">
          <%= link_to(image_tag(featured_product.photo.product_attachment.url(:large)), featured_product) %>
        </div>
        <div class="large-5 columns text-right small-left">
          <h1><%= link_to featured_product.name, featured_product %></h1>
          <h3 class="subheader"><%= translate_content(featured_product, :short_description) %></h3>

          <p><%=raw translate_content(featured_product, :short_description_4) %></p>

          <%= link_to 'more details...', featured_product, class: "small secondary button" %>
          <% if featured_product.in_production? %>
            <%= buy_it_now_link(featured_product, html_button: true, downcase: true, button_class: "small button") %>
          <% end %>
        </div>
        <div class="large-7 columns show-for-large-up">
          <div class="featured_image_container right">
            <%= link_to(image_tag(featured_product.photo.product_attachment.url(:original), class: "featured_image"), featured_product) %>
          </div>
        </div>
      </div>
      <% end %>

    <% end %>
  </div>
  <% end %>
<% end %>

<%= cache ["new_for_namm_strip", website.brand, I18n.locale] do %>
  <% new_family = ProductFamily.find_by_cached_slug("500-series") %>
  <% venu360 = Product.find_by_cached_slug("driverack-venu360") %>
  <% if (venu360 && venu360.show_on_website?(website)) || (new_family && new_family.current_products.length > 0) %>
    <div class="homepage_block dark">
      <h4 class="yellow text-center">New for NAMM 2015</h4>
      <% if new_family && new_family.current_products.length > 0 %>
        <div class="row">
          <div class="large-12 columns">
            <h2><%= website.brand.name %> <%= new_family.name %> Processors</h2>
          </div>
          <div class="large-7 large-push-5 small-12 columns">
            <p>
              <%= link_to new_family do %>
                <%= image_tag 'dbx/500-series.png', alt: "dbx 500 Series" %>
              <% end %>
            </p>
          </div>
          <div class="large-5 large-pull-7 small-12 columns">
            <p>Modular is back! Classic dbx modular processors
            return in the new, industry-standard 500 series
            form factor.</p>
            <div class="row collapse">
              <div class="large-4 small-6 columns">
                <ul>
                  <li>
                    <%= link_to "/en-US/products/560a" do %>
                      <strong>560A</strong>
                    <% end %>
                    <br/>Compressor
                  </li>
                  <li>
                    <%= link_to "/en-US/products/580" do %>
                      <strong>580</strong>
                    <% end %>
                    <br/>Mic Preamp
                  </li>
                </ul>
              </div>
              <div class="large-4 small-6 columns">
                <ul>
                  <li>
                    <%= link_to "/en-US/products/520" do %>
                      <strong>520</strong>
                    <% end %>
                    <br/>De-Esser
                  </li>
                  <li>
                    <%= link_to "/en-US/products/530" do %>
                      <strong>530</strong>
                    <% end %>
                    <br/>Parametric EQ
                  </li>
                </ul>
              </div>
              <div class="large-4 small-12 columns">
                <ul>
                  <li>
                    <%= link_to "/en-US/products/510" do %>
                      <strong>510</strong>
                    <% end %>
                    <br/>Subharmonic Synth
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns text-right">
            <p>
              <%= link_to 'more details...', new_family, class: "tiny button" %>
            </p>
          </div>
        </div>
      <% end %>

      <% if venu360 && venu360.show_on_website?(website) %>
        <div class="row">
          <div class="large-7 columns">
            <%= link_to venu360 do %>
              <%= image_tag('dbx/360_angle.png', alt: "dbx DriveRack VENU360") %>
            <% end %>
          </div>
          <div class="large-5 columns">
            <h2><%= website.brand.name %> <%= venu360.name %></h2>
            <p><%=raw translate_content(venu360, :short_description_4) %></p>
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns text-right">
            <p>
              <%= link_to 'more details...', venu360, class: "tiny button" %>
            </p>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>

<%= cache ["teaser_strip", website.brand, I18n.locale] do %>
  <% if website.teaser_image && File.exist?(Rails.root.join('app','assets','images',website.folder, website.teaser_image)) %>
    <div class="homepage_block dark">
      <div class="container" id="teaser_strip">
        <div class="row">
          <div class="large-12 small-12 columns text-center">
            <%= image_tag "#{website.folder}/#{website.teaser_image}",
              alt: website.teaser_headline || "dbx teaser" %>
          </div>
        </div>
      </div>
    </div>
 <% end %>
<% end %>

<%= cache ["promotion_strip", website.brand, I18n.locale] do %>
  <% if @current_promotions.length > 0 %>
    <div id="promotion_side_button">
      <%= link_to "Current Offers", promotions_path, class: "button" %>
    </div>
    <% promotion = @current_promotions.all.shuffle.first %>
    <% unless promotion.homepage_banner_file_name.blank? %>
    <div class="homepage_block text-center">
      <div class="promotion_container container">
        <div class="row">
          <div class="large-5 small-6 columns text-left">
            <h2><%= link_to promotion.homepage_headline.present? ? promotion.homepage_headline : promotion.name, promotion %></h2>
            <% if promotion.start_on.present? && promotion.end_on.present? %>
              <h4><%=l promotion.start_on, format: :long %> - <%=l promotion.end_on, format: :long %></h4>
            <% end %>
            <p><%=raw promotion.homepage_text %></p>

            <% if promotion.products.count > 0 %>
              <div class="hide-for-small">
                <h4>Qualifying Purchases Include</h4>
                <ul style="margin-left: 14px" class="hide-for-small">
                  <% promotion.products.each do |p| %>
                  <li><%= link_to("#{p.name} #{p.short_description}", p) %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>
            <%= link_to "Learn More", promotion, class: "medium button" %>
          </div>
          <div class="large-6 small-6 columns">
            <%= link_to image_tag(promotion.homepage_banner.url, alt: promotion.name), promotion %>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  <% end %>
<% end %>

<%= cache ["social_strip", website.brand, I18n.locale] do %>
  <div class="homepage_block white_strip">
    <h2 class="subheader text-center">Connect With Us</h2>
    <div class="social text-center">
      <%= social_media_links 'twitter', 'facebook', 'youtube', 'google+', 'wechat', 'weibo', style: 'circle', size: '64x64' %>
    </div>

    <% if website.email_signup_url %>
    <div class="row">
      <div class="large-8 large-offset-2 columns">
        <div class="row" style="margin-top: 40px">
          <div class="large-6 large-offset-3 columns">
            <%= render_partial 'shared/newsletter_signup' %>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
<% end %>

<%= cache ["video_strip", website.brand, I18n.locale] do %>
  <% if @youtube && !@youtube.blank? %>
  <div class="homepage_block">
    <div class="container" id="homepage-video-banner">
      <div class="row">
        <div class="large-12 small-12 columns">
          <%= render_partial 'shared/column_for_youtube' %>
        </div>
      </div>
    </div>
  </div>
  <% elsif @featured_video %>
  <div class="homepage_block">
    <div class="container" id="homepage-video-banner">
      <div class="row">
        <div class="large-10 large-offset-1 columns">
          <div class="video-window text-center">
            <iframe width="853" height="480" src="//www.youtube.com/embed/<%= @featured_video %>" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
      <div class="row hide-for-small">
        <div class="large-6 columns">
          <%= link_to videos_path do %>
            <%= image_tag "icons/youtube.png" %>
            more <%= website.brand.name %> videos ...
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <% end %>
<% end %>


<%= cache ["news_strip", website.brand, I18n.locale] do %>
  <div class="homepage_block text-center news_strip">
    <%= render_partial 'shared/column_for_news_and_reviews' %>
  </div>
<% end %>

<% end %>

<%= content_for :preload do %>
  <%= preload_background_images %>
<% end %>

<%= content_for :popup_code do %>
  <% if website.homepage_popup %>
    <%=raw website.homepage_popup %>
  <% end %>
<% end %>

<div id="homepage-counter" data-counter="<%= @counter %>" data-nextevent="<%= @next_event %>" data-countdowncontainer="<%= @countdown_container %>"></div>

