<% set_meta_tags title: @page_title,
				 reverse: true,
                 description: t('meta.description.where_to_buy', brand: website.brand_name),
                 keywords: t('meta.keywords.where_to_buy') %>

<h1 class="page_title">
<% if File.exists?(Rails.root.join("app", "assets", "images", "#{website.folder}/#{I18n.locale}/wheretobuy_head.jpg")) %>
	<%= image_tag("#{website.folder}/#{I18n.locale}/wheretobuy_head.jpg", alt: @page_title) %>
<% else %>
	<%= @page_title %>
<% end %>
</h1>

<% unless @err.blank? %>
	<div class="alert-box alert"><%= @err %></div>
<% end %>

<% if @results.size > 0 %>
	<%= content_for :custom_css do %>
		<script src="http://maps.googleapis.com/maps/api/js?sensor=false" type="text/javascript"></script>
		<script type="text/javascript" charset="utf-8">
      markers_json = <%= raw @results.to_json(except: [:account_number, :brand_id, :created_at, :updated_at, :name2, :name3, :name4]) %>;

			$(document).ready(function() {
				<%= raw @js_map_loader %>
			});
		</script>
	<% end %>

	<div class="row" id="wtb_container">
		<div class="large-6 columns">
			<%= form_tag where_to_buy_path() %>
				<div class="row collapse">
					<div class="large-8 small-7 columns">
						<%= text_field_tag "zip", session[:zip], placeholder: t('us_zip_code') %>
					</div>
					<div class="large-4 small-5 columns">
						<%= submit_tag t('find_us_dealers'), class: "postfix button" %>
					</div>
				</div>
			</form>
			<div id="map" style="width: 100%; height: 520px;"></div>
		</div>
		<div class="large-5 large-offset-1 columns" id="dealer_results">
			<h3 id="dealer_search_results"><%= t('titles.dealer_search_results') %></h3>
			<ul class="dealer_results">
				<% @results.each_with_index do |dealer,i| %>
				<li id="sidebar-item-<%=(i + 1)%>" class="sidebar-item">
					<b><%= link_to_function(dealer.name, "focusPoint(#{(i + 1)});") %></b>
          <% if dealer.try(:distance) %>
            (<%= dealer.distance.to_i %> <%= t('dealer_distance') %>)
          <% end %>
					<br/><%= dealer.address %>
					<br/><%= dealer.city %> <%= dealer.state %> <%= dealer.zip %>
					<br/><%= dealer.telephone %>
					<% if !dealer.email.blank? %> &bull; <%= mail_to dealer.email.downcase %><% end %>
				</li>
				<% end %>
			</ul>
		</div>

	</div>

<% else # No results loaded %>

	<div class="row">
		<div class="large-5 columns">
			<h3><%= t('us_dealers') %></h3>

			<%= form_tag where_to_buy_path() %>
				<div class="row collapse">
					<div class="large-8 small-7 columns">
						<%= text_field_tag "zip", session[:zip], placeholder: t('us_zip_code') %>
					</div>
					<div class="large-4 small-5 columns">
						<%= submit_tag t('find_us_dealers'), class: "postfix button" %>
					</div>
				</div>
				<% if website.brand.has_us_sales_reps? %>
					<i style="font-size: 80%">Or, <%= link_to "find a sales rep", us_reps_path %> to become a dealer.</i>
				<% end %>
			</form>
      <br/>

			<h3><%= t('titles.international_distributors') %></h3>
			<p><%= t("blurbs.international_distributors") %></p>

			<%= form_tag search_distributors_path, method: :get %>

				<div class="row collapse">
					<div class="large-8 small-7 columns">
						<%= select_tag :country, options_from_collection_for_select(@countries, :country, :country, @country), prompt: t('select_your_country').capitalize %>
					</div>
					<div class="large-4 small-5 columns">
						<%= submit_tag t('submit'), class: "postfix button" %>
					</div>
				</div>

			</form>
		</div>
    <div class="large-3 columns">&nbsp;</div>
    <div class="large-4 end columns">
      <%= render_partial "shared/hef" %>
		</div>
	</div>

<% end %>
<br/>
<div class="row">
  <div class="large-12 columns">
    <h3><%= t('titles.buy_online') %></h3>

    <ul class="large-block-grid-6 small-block-grid-3">
    <% OnlineRetailer.random(website)[0,24].each do |online_retailer| %>
      <li>
        <% if !online_retailer.retailer_logo_file_name.blank? %>
          <%= link_to(image_tag(online_retailer.retailer_logo(:fixed)), online_retailer.direct_link, target: "_blank")%>
        <% else %>
          <%= link_to online_retailer.name, online_retailer.direct_link, target: "_blank" %>
        <% end %>
      </li>
    <% end %>
    </ul>
  </div>
</div>

<%= content_for :extra_js do %>
	$(document).ready(function() {
		$('#zip').focus();
	});
<% end %>

