<% content_for :extra_header_code do %>
  <%= javascript_include_tag "where_to_find" %>
<% end %>

<% set_meta_tags title: @page_title,
  reverse: true,
  description: t('meta.description.where_to_buy', brand: website.brand_name),
  keywords: t('meta.keywords.where_to_buy') %>

<% if website.wheretobuy_banner %>
  <div class="category-banner">
    <%= image_tag website.wheretobuy_banner, alt: @page_title %>
  </div>
<% elsif File.exist?(Rails.root.join("app", "assets", "images", "#{website.folder}/#{I18n.locale}/wheretobuy_head.jpg")) %>
  <div class="category-banner">
    <%= image_tag("#{website.folder}/#{I18n.locale}/wheretobuy_head.jpg", alt: @page_title) %>
  </div>
<% else %>
  <h1><%= @page_title %></h1>
<% end %>
  <% if website.where_to_buy_intro%>
    <div style="margin-left: auto;margin-right: auto;margin-bottom: 1rem;"><%=raw website.where_to_buy_intro%></div>
  <% end %>
<div class="row">
  <div class="large-8 columns">
    <% if website.show_lead_form_on_buy_page? %>
      <div class="callout panel">
        <h4>Connect with <%= website.brand.name %></h4>
        <p>Tell us about your project. Complete the form below to connect with us.</p>
        <%= render_partial 'leads/form' %>
      </div>
    <% end %>

    <% if website.brand.has_dealers? %>
      <div class="row">
        <div class="medium-10 columns end">
          <% if website.brand.dealers_are_us_only? %>
            <h3><%= t('us_dealers') %></h3>
          <% else %>
            <h3><%= t('global_dealers') %></h3>
          <% end %>

          <%= form_tag partner_search_path, method: :get %>
          <div class="row collapse">
            <div class="large-8 small-7 columns">
              <%= text_field_tag "zip", session[:zip], placeholder: website.brand.dealers_are_us_only? ? t('us_zip_code') : t('global_search_location') %>
            </div>
            <div class="large-4 small-5 columns">
              <%= submit_tag t('find_dealers'), class: "postfix button" %>
            </div>
          </div>
          <%= render_partial "where_to_find/filters" %>
          <% if website.brand.has_us_sales_reps? && I18n.locale.to_s.match?(/US/) %>
            <i style="font-size: 80%">Or, <%= link_to "find a sales rep", us_reps_path %> to become a dealer.</i>
          <% end %>
          <% if website.has_vertec_vtx_signup %>
            <p><i style="font-size: 80%">To be added to the VTX/VT Owners List <%= link_to "start here", "/vtx-vertec-owner-sign-up" %>.</i></p>
          <% end %>
          </form>
          <br/>
        </div>
      </div>
    <% elsif website.brand.has_us_sales_reps? && I18n.locale.to_s.match?(/US/) %>
      <div class="row">
        <div class="medium-6 columns end">

          <% if addr = website.address_and_phone %>
            <p>To find a certified <%= website.brand.name %> representative, please contact us at:</p>
            <blockquote><%=raw addr %>
            <% if sup = website.support_email %>
              <br/><%= mail_to sup, sup %>
          <% end %>
            </blockquote>
            <p>Or, complete our <%= link_to "contact form", support_path %>.</p>
          <% else %>
            <p>To find a certified <%= website.brand.name %> representative, please contact us by filling out our <%= link_to "contact form", support_path %>.</p>
          <% end %>

          <h3><%= website.brand.name %> US Sales Reps</h3>

          <%= form_tag search_us_reps_path, method: :get %>
          <%= label_tag "Select your region" %>
          <div class="row collapse">
            <div class="large-8 small-7 columns">
              <%= select_tag :us_region, options_from_collection_for_select(@us_regions, :id, :name, @us_region.id), prompt: " " %>
            </div>
            <div class="large-4 small-5 columns">
              <%= submit_tag t('submit'), class: "postfix button" %>
            </div>
          </div>
          </form>
        </div>
      </div>
    <% end %>

    <% if website.brand.has_distributors? %>
      <%=render_partial "main/country_selector_for_distributors"%>
    <% end %>

    <%= raw website.where_to_buy_extra_content %>

  </div>
  <div class="large-4 end columns">
    <% if website.where_to_buy_blurb %>
      <div class="panel">
        <h4><%= t('titles.buy_direct', brand: website.brand.name) %></h4>
        <%= raw website.where_to_buy_blurb %>
      </div>
    <% end %>
    <%= render_partial "shared/rental" %>
    <%= render_partial "shared/consultant_portal" %>
  </div>
</div>

<% if website.brand.has_online_retailers? %>
  <%= render_partial 'where_to_find/online_retailers' %>
<% end %>

<%= content_for :extra_js do %>
  <script>
    $(document).ready(function() {
      $('#zip').focus();
    });
  </script>
<% end %>

