<h1>AMX Partner Interest Form</h1>

<p>
	<strong>Company Name:</strong> <%= @partner_interest_request.company_name %><br/>
	<strong>Company Web URL:</strong> <%= @partner_interest_request.company_url %><br/>
	<strong>First Name:</strong> <%= @partner_interest_request.first_name %><br/>
	<strong>Last Name:</strong> <%= @partner_interest_request.last_name %><br/>
	<strong>Email:</strong> <%= @partner_interest_request.email %><br/>
	<strong>Phone:</strong> <%= @partner_interest_request.phone %><br/>
	<strong>Street Address:</strong> <%= @partner_interest_request.street_address %><br/>
	<strong>City:</strong> <%= @partner_interest_request.city %><br/>
	<strong>State:</strong> <%= @partner_interest_request.state %><br/>
	<strong>Postal Code:</strong> <%= @partner_interest_request.postal_code %><br/>
	<strong>Country:</strong> <%= @partner_interest_request.country %><br/>
	<strong>Product target market segment:</strong> <%= @partner_interest_request.product_target_market_segment %><br/>
	<strong>Partnership Interest:</strong> <%= @partner_interest_request.partnership_interest %><br/>
	<strong>Additional Comments:</strong> <%= @partner_interest_request.additional_comments %><br/>
</p>