<p>Hi. The following system configuration was created using the
<%= @system_configuration.system.brand.name %> System Configurator.
The customer has requested to be contacted. Please follow up
using the contact information below:</p>

<h3>Contact Details:</h3>

<p>
Name: <%= @system_configuration.name %><br/>
Project Name: <%= @system_configuration.project_name %><br/>
Company: <%= @system_configuration.company %><br/>
Email: <%= @system_configuration.email %><br/>
Phone: <%= @system_configuration.phone %><br/>
Preferred contact method: <%= @system_configuration.preferred_contact_method %>
</p>

<hr/>
<h3>System Components</h3>
<ul>
  <% @system_configuration.system_configuration_components.each do |scc| %>
    <% if scc.quantity.to_i > 0 %>
      <li><%= scc.system_component.name %> (Qty: <%= scc.quantity %>)</li>
    <% end %>
  <% end %>
</ul>

<hr/>
<h3><%= @system_configuration.project_name %> System Requirements:</h3>

<div>
  <% @system_configuration.system_configuration_options.each do |sco| %>
    <% unless sco.system_option.parent_id.to_i > 0 %>
      <%= render "system_configuration_option", sco: sco %>
    <% end %>
  <% end %>
</div>
