<% set_meta_tags reverse: true,
                 description: "Downloads for: #{@current_products.collect{|s| s.name}.join(', ')}",
                 keywords: @current_products.collect{|s| s.name} %>

<h1 class="page_title">
<% if File.exists?(Rails.root.join("app", "assets", "images", "#{website.folder}/#{I18n.locale}/software_downloads_head.jpg")) %>
	<%= image_tag("#{website.folder}/#{I18n.locale}/software_downloads_head.jpg", alt: t('software_downloads')) %>
<% else %>
	<%= t('software_downloads') %>
<% end %>
</h1>
<%= link_to "Download brochures, guides, etc.", support_downloads_path %>

<%= cache ["softwares_index", website.brand, I18n.locale] do %>

<% if website.brand.softwares.size <= 0 %>
	<div style="text-align: center"><i>Check back soon</i></div>

<% else %>
	<% if website.brand.current_softwares.length > 0 %>
		<div style="margin: 50px;">
			<% website.brand.current_softwares.each do |software| %>
				<%= link_to software do %>
					<div class="medium_centered_box software_banner">
						<h3><%= software.name %></h3>
						<%= "v#{software.version}" unless software.version.blank? %>
						<%= "(#{software.platform})" unless software.platform.blank? %>
					</div>
				<% end %>
			<% end %>
		</div>
	<% end %>
	<% if @discontinued_products.length > 0 %>
		<div style="clear: both;"></div>
		<div style="margin: 50px;">
			<h4 class="subheader" style="text-align: center">Discontinued Product Software</h4>
			<%= render "table", products: @discontinued_products %>
		</div>
	<% end %>
<% end %>

<% end %>