<% set_meta_tags title: "#{translate_content(@market_segment, :name)} #{t('titles.product_families')}",
				 reverse: true %>

<%= content_for :feature do %>
    <div class="row">
      <div class="large-12 columns">
        <h1>
          <% if !@market_segment.banner_image_file_name.blank? %>
            <%= image_tag(@market_segment.banner_image.url, alt: translate_content(@market_segment, :name), style: "width: 100%") %>
          <% elsif File.exist?(Rails.root.join("app", "assets", "images", website.folder, "market_segment_placeholder.jpg")) %>
            <%= image_tag("#{website.folder}/market_segment_placeholder.jpg", alt: translate_content(@market_segment, :name), style: "width: 100%") %>
          <% else %>
            <%= translate_content(@market_segment, :name) %>
          <% end %>
        </h1>
        <div><%=raw translate_content(@market_segment, :description) %></div>
      </div>
    </div>
<% end %>

<%= cache ["market_segment_content", website.brand, @market_segment, I18n.locale] do %>
  <% if !!(website.show_comparisons) %>
    <%= form_tag compare_products_path, method: :post %>
  <% end %>

  <% @product_families.each do |product_family| %>
    <%= render_partial 'product_families/product_family', product_family: product_family, hlevel: 'h2' %>
  <% end %>

  <% if !!(website.show_comparisons) %>
    </form>
  <% end %>
<% end %>

