<% set_meta_tags title: t('titles.product_families'),
				 reverse: true %>

<h1 class="text-center page_title">
<% if File.exists?(Rails.root.join("app", "assets", "images", "#{website.folder}/#{I18n.locale}/products_head.jpg")) %>
	<%= image_tag("#{website.folder}/#{I18n.locale}/products_head.jpg", alt: t('titles.product_families')) %>
<% else %>
	<%= translate_content(@market_segment, :name) %> <%= t('titles.product_families') %>
<% end %>
</h1>

<% if !!(website.show_comparisons) %>
	<%= form_tag compare_products_path, method: :get %>
<% end %>

<% @product_families.each do |product_family| %>
  <%= render_partial 'product_families/product_family', product_family: product_family, hlevel: 'h2' %>
<% end %>

<% if !!(website.show_comparisons) %>
  </form>
<% end %>

