<%= cache ["highlights_strip", website.brand, I18n.locale] do %>
  <div class="homepage_block thin_strip">
    <div class="container">
      <div class="small-12 large-12 columns">

        <ul class="large-block-grid-3 medium-block-grid-3 small-block-grid-1">
          <li>
            <%= link_to 'http://cras-vista.com/moodle/', target: "_blank" do %>
              <%= image_tag "#{website.folder}/SBA-option-05-01.jpg", alt: "Studer Broadcast Academy" %>
            <% end %>
          </li>
          <li>
            <%= link_to news_index_path do %>
              <%= image_tag "#{website.folder}/news-banner-01.jpg", alt: "Studer News" %>
            <% end %>
          </li>
          <li>
            <%= link_to '/studer-events' do %>
              <%= image_tag "#{website.folder}/events-option-03.jpg", alt: "Studer Events" %>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
<% end %>
