<div class="row collapse">
  <div class="small-4 columns">
    <% if news.square.present? %>
      <div class="news-image-thumbnail-bg" style="background-image: url(<%= translate_image_url(news, :square, size: :small_square) %>)">
    <% else %>
      <div class="news-image-thumbnail-bg" style="background-image: url(<%= translate_image_url(news, :news_photo, size: :small_square) %>)">
    <% end %>
      &nbsp;
    </div>
  </div>
  <div class="small-8 columns news-summary">
    <p><small><%=l news.post_on, format: :short %></small></p>
    <p><%= link_to best_news_url(news) do %>
        <%= truncate translate_content(news, :title), length: 90 %>
      <% end %>
    </p>
  </div>
</div>
