<%
  @us_regions = website.brand.us_regions_for_website
  @us_region  = UsRegion.new
  @countries  = Distributor.countries(website)
  @country    = nil
%>

<% set_meta_tags title: "Worldwide support",
				 description: t('meta.description.support', brand: website.brand_name),
				 reverse: true %>

<h1 class="page_title">
<% if File.exists?(Rails.root.join("app", "assets", "images", "#{website.folder}/#{I18n.locale}/support_head.jpg")) %>
	<%= image_tag("#{website.folder}/#{I18n.locale}/support_head.jpg", alt: t('titles.support')) %>
<% else %>
	Worldwide support
<% end %>
</h1>

<%= cache ["support_body", website.brand, I18n.locale] do %>
	<div class="container">

		<%= raw website.support_paragraphs %>

		<table style="margin: 34px 0px">
			<tr>
				<td width="50%">
					<h3><%= t('titles.international_distributors') %></h3>

					<%= form_tag distributor_search_new_path, method: :get %>
						<p><%= label_tag t('select_your_country') %>:<br/>
									<%= select_tag :geo,
			            options_for_select(CountryList.countries.sort_by { |item| item[:harman_name]}.map {|country| [country[:harman_name], country[:alpha2]] }, country_code.upcase),
			           # class: 'chosen-select',
			            prompt: "Select Your Country"
			            %>
							<%= submit_tag t('submit') %>
						</p>
					</form>
				</td>
				<td width="50%">
					<h3>United States Sales Reps</h3>

					<%= form_tag search_us_reps_path, method: :get %>
						<p><%= label_tag "Select your region" %>:<br/>
							<%= select_tag :us_region, options_from_collection_for_select(@us_regions, :id, :name, @us_region.id), style: "width: 220px" %>
							<%= submit_tag t('submit') %>
						</p>
					</form>
				</td>
			</tr>
		</table>

    <p>For general inquiries, please contact the brand corresponding to your equipment:</p>
    <ul>
      <li>AKG: <a href="https://akg.com/pro/technical-support" target="_blank">akg.com/pro</a></li>
      <li>BSS: <a href="https://bssaudio.com/en/support" target="_blank">bssaudio.com/support</a></li>
      <li>Crown: <a href="https://www.crownaudio.com/en/support" target="_blank">www.crownaudio.com/support</a></li>
      <li>dbx: <a href="https://dbxpro.com/en/support" target="_blank">dbxpro.com/support</a></li>
      <li>JBL: <a href="https://jblproservice.com" target="_blank">jblproservice.com</a></li>
    </ul>

	</div>
<% end %>

