<% set_meta_tags 	twitter: {
		card: "summary"
	},
	og: {
		image: image_url("#{website.folder}/logo.png"),
		type: 'brand',
		description: @website.site_name,
		title: "#{@website.brand.name}: REBORN TO BE WILD"
	} %>

<%= content_for :headline do %>
	<h1 id="title">REBORN TO BE WILD</h1>
<% end %>

<p>In 1974, before “boutique pedal” meant anything, two friends started building pedals between gigs to make some extra money. Their band never got signed but the pedals they built became the signature tones of their generation, inspiring the music that changed the world.</p>

<p>DOD, the original boutique pedal brand, triumphantly returns with the new Overdrive Preamp 250 and Phasor 201. Along with incredible analog tones, both pedals feature true bypass, a crisp LED, modern power jack, and lighter aluminum chassis. <strong>Available for a limited time only.</strong></p>

<%= link_to(image_tag('dod/learn-more-button.png', mouseover: 'dod/learn-more-button-over.png')) %>

<%= content_for :preload do %>
	<%= image_tag('dod/learn-more-button-over.png', height: 0, width: 0) %>
<% end %>

<%= content_for :popup_code do %>
	<% if website.homepage_popup %>
		<%=raw website.homepage_popup %>
	<% end %>
<% end %>

<div id="homepage-counter" data-counter="<%= @counter %>"></div>