<% set_meta_tags 	twitter: {
		card: "summary"
	},
	og: {
		image: image_url("#{website.folder}/logo.png"),
		type: 'brand',
		description: @website.site_name,
		title: "#{@website.brand.name}: REBORN TO BE WILD"
	} %>

<%= content_for :headline do %>
	<h1 id="title">REBORN TO BE WILD</h1>
<% end %>

    <div class="row" id="featured-product-list">
    	<div class="large-12 text-center columns">
    		<%
    		featured_products = website.featured_products
    		large_rows = (featured_products.length.to_f / 3.0).round
    		large_rows = large_rows > 0 ? large_rows : 1
    		large_grid = (featured_products.length.to_f / 2).round
    		img_size = case
    			when large_grid > 8
    				:small
    			when large_grid > 4
    				:epedal
    			else
    				:medium
    			end
    		%>
    		<!-- large_rows: <%= large_rows %> -->
    		<!-- large_grid: <%= large_grid %> -->
    		<ul class="large-block-grid-<%= large_grid %> small-block-grid-2 medium-block-grid-3">
    		<% featured_products.each_with_index do |product,i| %>
    			<% if product.product_attachments.count >= 5 %>
    				<li><%= link_to product do %>
	    					<div class="pedal_link" style="z-index: <%= 100 - i %>;"><%= image_tag(product.product_attachments[4].product_attachment.url(img_size)) %></div>
	    				<% end %></li>
    			<% end %>
    		<% end %>
    		</ul>
    	</div>
    </div>

    <div class="container">
    <div class="row">
      <div class="large-8 large-offset-2 columns">
      	<div id="logo" class="text-center">
			<h4><%= image_tag("dod/vintage-dod-dark.png", alt: Setting.site_name(website)) %></h4>
		</div>
		<div class="row">
			<div class="large-6 columns">
				<p>In 1974, before “boutique pedal” meant anything, two friends started building pedals between gigs to make some extra money. Their band never got signed but the pedals they built became the signature tones of their generation, inspiring the music that changed the world.</p>
			</div>
			<div class="large-6 columns">
				<p>DOD, the original boutique pedal brand, triumphantly returns with the new
					<%=raw featured_products.map{|p| link_to(p.name.gsub(/\s?\(.*\)/, ""), p)}.join(", ") %>. Along with incredible analog tones, all pedals feature true bypass, a crisp LED, modern power jack, and lighter aluminum chassis. </p>
			</div>
		</div>
		<div class="text-center">
			<%= link_to(image_tag('dod/learn-more-button.png', mouseover: 'dod/learn-more-button-over.png'), "/en-US/product_families/effect-pedals") %>		
		</div>
	  </div>
	</div>
	</div>

<%= content_for :preload do %>
	<%= image_tag('dod/learn-more-button-over.png', height: 0, width: 0) %>
<% end %>

<%= content_for :popup_code do %>
	<% if website.homepage_popup %>
		<%=raw website.homepage_popup %>
	<% end %>
<% end %>

<div id="homepage-counter" data-counter="<%= @counter %>"></div>

<%= content_for :parralax do %>
	<div id="parallax-bg3">
		<%= image_tag "dod/parallax-foreground.png", width: 1200, height: 2952, id: 'bg3-1' %>
	</div>

	<div id="parallax-bg2">
		<%= image_tag "dod/parallax-midground.png", width: 1200, height: 1034, id: 'bg2-1' %>
	</div>

	<div id="parallax-bg1">
		<%= image_tag "dod/parallax-background.png", width: 1200, height: 1044, id: 'bg1-1' %>
	</div>

	<div class="bouncing-arrow"></div>
<% end %>
