<% set_meta_tags 	twitter: {
		card: "summary"
	},
	og: {
		image: image_url("#{website.folder}/logo.png"),
		type: 'brand',
		description: @website.site_name,
		title: @website.brand.name
	} %>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse a placerat elit. Ut condimentum pulvinar nisl vel fermentum. Morbi quis diam a libero laoreet convallis. Proin non bibendum urna. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

<%= link_to(image_tag('dod/learn-more-button.png', mouseover: 'dod/learn-more-button-over.png')) %>

<%= content_for :preload do %>
	<%= image_tag('dod/learn-more-button-over.png', height: 0, width: 0) %>
<% end %>

<%= content_for :popup_code do %>
	<% if website.homepage_popup %>
		<%=raw website.homepage_popup %>
	<% end %>
<% end %>

<div id="homepage-counter" data-counter="<%= @counter %>"></div>