<div class="text-right login-links">
  <% if artist_signed_in? %>
    <%= link_to "My Artist Profile", edit_artist_registration_path %>
    ::
    <%= link_to "Logout", destroy_artist_session_path %>
  <% else %>
    <%#= link_to "Become a #{website.brand_name} Artist", become_an_artist_path %>
    <%= link_to "Artist Login", new_artist_session_path %>
  <% end %>
</div>

<%#= cache ["header", website.brand, I18n.locale] do %>
<div class="sticky top-bar-container">
  <% if website.sitewide_notice %>
    <div class="sitewide_notice">
      <%=raw website.sitewide_notice %>
    </div>
  <% end %>
	<nav class="top-bar" data-topbar role="navigation">
		<ul class="title-area">
			<li class="name logo-container"><%= link_to image_tag(website.folder + '/logo-sm.png', alt: website.brand.name), locale_root_path %></li>
			<li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
		</ul>
		<section class="top-bar-section">
			<ul class="left">
				<%= render_partial 'layouts/nav_items' %>
			</ul>

			<ul class="right">
				<%# search is only available in default language for now...%>
				<%# if I18n.locale.to_s.match(/#{I18n.default_locale.to_s.split('-')[0]}/i) && website.value_for("enable_search") %>
				<% if website.value_for("enable_search") %>

					<li class="has-form show-for-large-up" id="search_form">
						<%= form_tag search_path, method: :get %>
							<%= text_field_tag :query, "", placeholder: t('search') %>
						</form>
					</li>
				<% end %>
			<% if website.show_locales? %>
				<li class="has-dropdown">

					<%= link_to '#', id: "locale_menu" do %>
						<%= image_tag "icons/globe_white.png", alt: t('language_region') %>
					<% end %>
					<ul class="dropdown">
						<% website.available_locales.each do |website_locale| %>
							<% if website_locale.locale.to_s == I18n.locale.to_s %>
							<li><%= link_to '#', class: "active" do %>
									<%= image_tag 'icons/check_white.png' %>
									<%= website_locale.name %>
								<% end %>
							</li>
							<% else %>
							<li><%= link_to website_locale.name, switch_locale(website_locale.locale) %></li>
							<% end %>
						<% end %>
					</ul>
				</li>
			<% end %>
			</ul>
		</section>
	</nav>
</div>

<%# end %>
