<%
	@meta = Page.find_by lcl_name: 'get_started_signature_mtk'
	meta title: 	@meta.title,
	description: 	strip_html(@meta.description),
	keywords: 		@meta.keywords.gsub(" ", ",")
	@gs_code = 'signature_mtk'
%>
<div id="header_bc">
	<div id="header_spacer"></div>
	<div id="header_bc_image" >
	<%= image_tag('top_border.gif') %>
	</div>
	<div id="bc">
	<nav class="breadcrumbs" role="menubar" aria-label="breadcrumbs">
		<li class="unavailable"  aria-disabled="true">>></li>
	    <li role="menuitem"><a href="/">Home</a></li>
	    <li role="menuitem"><a href="/get-started">Get Started</a></li>
	    <li role="menuitem" class="current"><a href="#"><%= @meta.title.gsub('Get Started! ', '') %></a></li>
	</nav>
	</div>
</div>
<div class="row">
	<div class="small-12 columns" >
		<img src="http://soundcraft.com.s3.amazonaws.com/promotions/get-started/get-started-banner-signature-mtk.jpg" width="100%" />
		<br/>
		<br/>
		<h4>
		You're now part of a big global family of Soundcraft audio mixing engineers. From bedroom-based audio productions to the world’s biggest festival stages, Soundcraft users insist on the great British sound and intuitive operation that comes only with more than 40 years of sound mixing experience. 
		</h4>
	</div>
</div>
<br/>
<div class="row fullWidth ">
	<div class="small-1 column left_tag">&nbsp;</div>
	<div class="small-11 medium-9 large-6 column left_tag end" >
	  <h1 class="product_title">Get Started! Signature MTK Series</h1>
	</div>
</div>
<div class="row">
	<div class="small-12 columns" >


		<br/>

<h3>Get more out of your Signature MTK mixer!</h3>
Register your Signature MTK mixer and get up-to-date access to the latest news, software, user guides and more, including the exclusive Ableton Live 9 Lite music production software, that lets you easily create, produce and perform music within one intuitive interface. 
<br/><br/>
<% if @validate != "serial" %>
If you have already registered and would like to access the files again, <a href="/get-started/signature-mtk?validate=serial">click here</a> to validate your serial number. 
<br/><br/>	
<% end %>
</div>
</div>

<div id="product_sections">
<div data-magellan-expedition="" >
	<ul class=" tabs vertical" data-tab role="tablist">
      <%= write_section_menu(3) %>
	</ul>
</div>
	
<div class="row fullWidth">
	<div class="small-12 medium-9 large-9 columns" >
		<div class="tabs-content">
			<% GetStartedSection.where(get_started_id: 3).order(:position).each_with_index do |ps, index| %>	
				<%	if index == 0 %>
				<section role="tabpanel" aria-hidden="false" class="content active" id="<%= "panel-#{ps.id}" %>">
				<%	else %>
				<section role="tabpanel" aria-hidden="true" class="content" id="<%= "panel-#{ps.id}" %>">
				<%	end %>	
				
				<% case ps.section.id %>
					<% when 35, 31  %>
					
						<% if @validate == "serial" %>
						  <h3  class="color-soundcraft">Validate My Serial Number</h3>	
						<% else %>
						  <h3  class="color-soundcraft">Register Your Product</h3>
						<% end %>
						
						  <br />
						  
						<%
						#flash for all messages
						%>
						<div class="row">
							<div class="small-12 column">
								
								<% flash.each do |name, msg| %>
								  <% if name == "notice_signature_mtk" %>
								    <%= content_tag :div, msg, class: name %>
								  <% end %>  
								<% end %>
						
						<br />
						</div>
						</div>
						
						<% if @validate == "serial" %> 
							<% if flash[:notice_signature_mtk] != t('signature_mtk_get_started_registered') %> 
					  			Please enter your serial number to validate your account and press 'Return' to confirm.
					  			<%= render :partial => "get_started/sections/check_serial_signature_mtk" %> 
					  			<br/><br/>
					  			<div class="text-sub-header">To go back to the Product Registration page, <a href="/get-started/signature-mtk?validate=reg">click here</a>.</div>
					  			<br/><br/>
				  			<% end %>
						<% else %>
					 		
							<% if flash[:notice_signature_mtk] != t('signature_mtk_get_started_registered') %> 
				  			Please fill in the form below and click 'submit' at the bottom on the page. 
				  			<%= render :partial => "get_started/sections/product_registration" %> 
				  			<% end %>
				  			
				  		<% end %>	
				  		
					<% when 32, 36, 37, 34   %>
						<h3 class="color-soundcraft"><%= ps.section.title.html_safe %></h3>
						<br />
						
				 		<% if flash[:notice_signature_mtk] == t('signature_mtk_get_started_registered') %>  
				 			<% case ps.section.id %>
				 			  <% when 32  %>
				  				<%= render :partial => "get_started/sections/user_guides" %>
				  			  <% when 36  %>
				  				<%= render :partial => "get_started/sections/asio_drivers" %>
				  			  <% when 37  %>
				  				<%= render :partial => "get_started/sections/lexicon" %>
				  			  <% when 34  %>
				  				<%= render :partial => "get_started/sections/ableton" %>
				  			<% end %> 
				 		<%	else %>
				  			<%= render :partial => "get_started/sections/locked" %>
				 		<%	end %>	
				 		
					<% end %>  
				</section>
			<% end %>
			<br /><br />
		</div>
	</div>
</div>
</div>
<script>
$(document).foundation({
"magellan-expedition": {
  active_class: 'active', // specify the class used for active sections
  threshold: 0, // how many pixels until the magellan bar sticks, 0 = auto
  destination_threshold: 50, // pixels from the top of destination for it to be considered active
  throttle_delay: 100, // calculation throttling to increase framerate
  fixed_top: 50, // top distance in pixels assigend to the fixed element on scroll
  offset_by_height: false // whether to offset the destination by the expedition height. Usually you want this to be true, unless your expedition is on the side.
}
});
</script>

