<%= simple_form_for([:admin, @online_retailer], html: {multipart: true}) do |f| %>

  <div class="row">
    <div class="large-4 columns">
      <%= f.input :name %>
    </div>
  </div>

  <%= f.input :retailer_logo, hint: "Will be auto-sized to 125x75 pixels." %>
    <% unless f.object.retailer_logo_file_name.blank? %>
    <span class="hint">Leave blank to keep current image.</span>
    <% end %>

  <% if can? :disable, f.object %>
    <div class="row">
      <div class="large-4 columns">
        <%= f.input :preferred, label: "Preference score (nearly always blank)" %>
      </div>
    </div>
    <%= f.input :active, label: "Active. (warning, this will affect all brand sites on this platform)" %><br/>
  <% end %>

  <%= f.input :brand_link, hint: "The link which shows all of the #{ website.brand_name } products." %>

  <br/><%= f.button :submit %>
<% end %>