<% set_meta_tags title: "Admin: #{@online_retailer.name}",
				 reverse: true %>
<h1><%= title @online_retailer.name %></h1>

<ul class="button-group round">
	<li><%= link_to admin_online_retailers_path, class: "small secondary button" do %>
    <%= fa_icon "angle-double-left" %>
  <% end %>
  </li>
	<% if can? :update, @online_retailer %>
	<li><%= link_to edit_admin_online_retailer_path(@online_retailer, locale: I18n.locale), class: "small secondary button" do %>
      <%= fa_icon "edit" %>
      Edit
    <% end %>
  </li>
	<% end %>
	<% if can? :destroy, @online_retailer %>
	<li><%= link_to [:admin, @online_retailer], confirm: 'Are you sure?', method: :delete, class: "small alert button" do %>
    <%= fa_icon "trash" %>
    Delete
  <% end %>
  </li>
	<% end %>
</ul>

<% if !@online_retailer.retailer_logo_file_name.blank? %>
	<%= image_tag(@online_retailer.retailer_logo(:fixed))%>
<% else %>
	<i>(no logo)</i>
<% end %>

<p>
	<b>Overall link for this site's products:</b>
	<% if @online_retailer.brand_link %>
		<% if !!(@online_retailer.online_retailer_link(website).link_status.match(/^3/)) %>
			<span style="background: #EDCA00; padding: 2px 5px; color: white;">redirected</span>
		<% elsif !!(@online_retailer.online_retailer_link(website).link_status.match(/^4/)) %>
			<span style="background: #F00; padding: 2px 5px; color: white">not found</span>
		<% elsif !!(@online_retailer.online_retailer_link(website).link_status.match(/^5/)) %>
			<span style="background: #F00; padding: 2px 5px; color: white">site error</span>
		<% elsif !(@online_retailer.online_retailer_link(website).link_status.match(/^2/)) %>
			<span style="background: #F00; padding: 2px 5px; color: white">unknown error</span>
		<% end %>
		<%= link_to @online_retailer.brand_link, @online_retailer.brand_link, target: "_blank" %>
	<% end %>
</p>

<p>
  <b>Active?:</b>
  <%=h @online_retailer.active %>
</p>

<% if can? :update, @online_retailer %>
<div class="group">
	<h4 class="subheader">Buy It Now links</h4>
	<%= simple_form_for [:admin, @online_retailer_link], remote: true do |f| %>
		<%= hidden_field_tag "called_from", "online_retailer" %>
		<%= f.hidden_field :online_retailer_id %>
		<div class="row collapse">
			<div class="large-3 columns">
				<%= f.association :product, collection: @products, label: false %>
			</div>
			<div class="large-7 columns">
				<%= f.input :url, label: false, placeholder: "https://..." %>
			</div>
			<div class="large-2 columns">
				<%= submit_tag 'add link', class: "postfix button"  %>
			</div>
		</div>
	<% end %>

	<ul id="online_retailer_links" class="list">
		<% @online_retailer.online_retailer_links.each do |orl| %>
			<% if orl.product.belongs_to_this_brand?(website) %>
			<%= render '/admin/shared/online_retailer_link_row', orl: orl, called_from: 'online_retailer' %>
			<% end %>
		<% end %>
	</ul>
</div>
<% end %>
