<% set_meta_tags reverse: true,
                 description: "Software for #{website.brand.name} products",
                 keywords: website.brand.current_softwares.collect{|s| s.name} %>

<%= content_for :feature do %>
  <div class="support_header">
    <h1><%= t('titles.software') %></h1>
  </div>
<% end %>

<% if can? :manage, Software %>
  <div class="text-right">
    <%= link_to new_software_path do %>
      <%= fa_icon "plus" %> upload new software
    <% end %>
    <br/>
  </div>
<% end %>

<%= cache ["softwares_index", website.brand, I18n.locale] do %>

  <table>
    <thead>
      <tr>
        <td>Software</td>
        <td>Latest Version</td>
        <td>Related Products</td>
      </tr>
    </thead>
    <tbody>
      <% website.brand.current_softwares.sort_by{|s| s.name}.each do |software| %>
        <tr>
          <td><%= link_to_software(software) %></td>
          <td><%= software.version unless software.version.blank? %></td>
          <td><%=raw software.current_products.map{ |product| link_to product.name, product }.join(", ") %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% end %>
