<%= simple_form_for([:admin, @site_element], html: {multipart: true}) do |f| %>

  <div class="row">
    <div class="large-6 columns">
      <%= f.input :name %>
    </div>
  </div>

  <div class="row">
    <div class="large-6 columns">
      <%= f.input :resource_type, collection: SiteElement.resource_types %>
    </div>
    <div class="large-6 columns">
      <br/>
      <%= link_to_function "new resource type", "new_resource_type()", id: "new_resource_type_link" %>
    </div>
  </div>

  <div class="row">
    <div class="large-6 columns">
      <%= f.input :resource, hint: "(Use this field for images, pdfs, etc.)" %>
    </div>
  </div>

  <div class="row">
    <div class="large-6 columns">
      <%= f.input :executable, hint: "(Use this field for zips, exes, etc.)" %>
    </div>
  </div>

	<%= f.input :show_on_public_site, label: "Show on public site in the downloads area" %>
  <br/><%= f.button :submit %>

<%= content_for :extra_js do %>
	<script type="text/javascript" charset="utf-8">
		function new_resource_type() {
			$('div.site_element_resource_type').replaceWith('<%= escape_javascript(f.input :resource_type, size: 20) %>');
			$('input#site_element_resource_type').val('');
			$('#new_resource_type_link').replaceWith('<%= escape_javascript(link_to_function "select existing resource type", "existing_resource_type()", id: "existing_type_link") %>');
		}
		function existing_resource_type() {
			$('div.site_element_resource_type').replaceWith('<%= escape_javascript(f.input :resource_type, collection: SiteElement.resource_types) %>');
			$('#existing_type_link').replaceWith('<%= escape_javascript(link_to_function "new resource type", "new_resource_type()", id: "new_resource_type_link") %>');
		}
	</script>
<% end %>

<% end %>