<%= render 'direct_upload_form' %>

<%= simple_form_for [:admin, @site_element] do |f| %>
  <%= f.input :direct_upload_url, as: :hidden %>

  <div class="row">
    <div class="medium-6 small-12 columns">
      <%= f.input :name %>
    </div>
    <div class="medium-6 small-12 columns">
      <%= f.input :external_url, hint: "(Use this instead of the attachment field above for resources hosted on external sites.)" %>
    </div>
  </div>

  <div class="row">
    <div class="medium-6 small-12 columns">
      <%= f.input :language, collection: HarmanSignalProcessingWebsite::Application.config.document_languages %>
    </div>
    <div class="medium-6 small-12 columns">
      <%= f.input :version %>
    </div>
  </div>

  <div class="row">
    <div class="medium-6 columns">
      <%= f.input :resource_type, 
      collection: SiteElement.resource_types,
      input_html: { class: 'chosen-select', data: { placeholder: 'Select Resource Type'} } %>
      <p><i>"Safety" and "Certification" resource types appear on the
      <%= link_to "/safetyandcertifications", safetyandcertifications_path %> page.</i></p>
    </div>
    <div class="medium-6 columns">
      <% if website.brand.name == "Martin" %>
        <p>Martin is very particular about resource types. So, we can no longer create new ones here.
          If you need a new resource type, please contact a developer.</p>
      <% else %>
        <br/>
        <%= link_to_function "new resource type", "new_resource_type()", id: "new_resource_type_link" %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="medium-6 small-12 columns">
      <label>Broad Categories-select at least one in order to appear on product pages.</label>
      <%= f.input :is_document, label: "This is a document" %>
      <%= f.input :is_software, label: "This is software" %>
      <%= f.input :show_on_public_site, label: "Show on public site in the downloads area" %>
    </div>
  </div>

  <div class="row">
    <div class="large-6 columns">
      <%= f.association :access_level,
        label_method: :long_name,
        hint: "(optional--leave blank to allow all access)"%>
    </div>
  </div>

  <div class="row">
    <div class="small-8 columns">
      <%= f.input :content,
        label: "HTML content--in order for this to work, do not attach a file above or link to an external resource.",
        input_html: { class: "mceEditor", style: "height: 400px" } %>
    </div>
    <div class="small-4 columns">
      <h4>Attachments</h4>
      <div class="panel">
        New for Martin, you can use the Site Resources to create an
        HTML resource. Since you may need to include images, etc. in
        your HTML, this is where you do it.
        <% if @site_element.new_record? %>
          However since this is a new record, you'll have to first
          save this and then return to add images, etc.
        <% else %>
          Right-click and copy the path for the items below to
          include them in your HTML.
        <% end %>
      </div>
      <% unless @site_element.new_record? %>
        <ul>
          <% @site_element.site_element_attachments.each do |att| %>
            <li><%= link_to att.attachment_file_name, att.attachment.url %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>

  <br/><%= f.button :submit %>

  <%= render 'direct_upload_javascript', f: f %>

<% end %>
