<h1>Replace a Resource</h1>

<p>All you need to replace a resource is the new file and a new version number.
The rest <i>should</i> happen by magic. The resource type, associated products,
etc. will all be the same as the resource you're replacing.</p>

<%= render 'direct_upload_form' %>

<%= simple_form_for [:admin, @site_element] do |f| %>
  <%= f.input :direct_upload_url, as: :hidden %>
  <%= f.input :replaces_element, as: :hidden %>

  <div class="row">
    <div class="medium-6 small-12 columns">
      <%= f.input :version, hint: "The one you're replacing is version #{@old_element.version}" %>
    </div>
  </div>
  <fieldset>
    <legend>Previous Versions</legend>
    <p>After successfully uploading the new file, the selected previous
    versions below will be <strong>deleted</strong>. Un-check those you
    wish to keep archived.</p>

    <% @old_element.all_versions.each do |v| %>
      <div>
        <input type="checkbox" name="site_element[versions_to_delete][]" value="<%= v.id %>" id="item_<%= v.id %>">
        <label for="item_<%= v.id %>"><%= v.long_name %></label>
        <%= link_to v.url, target: "_blank" do %>
          <%= fa_icon "external-link" %>
        <% end %>
      </div>
    <% end %>
  </fieldset>

  <br/><%= f.button :submit %>

  <%= render 'direct_upload_javascript', f: f %>

<% end %>
