<h1>Replace a Resource</h1>

<p>All you need to replace a resource is the new file and a new version number.
The rest <i>should</i> happen by magic. The resource type, associated products,
etc. will all be the same as the resource you're replacing.</p>

<%= render 'direct_upload_form' %>

<%= simple_form_for [:admin, @site_element] do |f| %>
  <%= f.input :direct_upload_url, as: :hidden %>
  <%= f.input :replaces_element, as: :hidden %>

  <div class="row">
    <div class="medium-6 small-12 columns">
      <%= f.input :version, hint: "The one you're replacing is version #{@old_element.version}" %>
    </div>
  </div>

  <br/><%= f.button :submit %>

  <%= render 'direct_upload_javascript', f: f %>

<% end %>
