<h1><%= @site_element.long_name %></h1>

<ul class="button-group round">
  <li><%= link_to admin_site_elements_path, class: "small secondary button" do %>
    <%= fa_icon "angle-double-left" %>
  <% end %>
  </li>
  <li><%= link_to edit_admin_site_element_path(@site_element, locale: I18n.locale), class: "small secondary button" do %>
      <%= fa_icon "edit" %>
      Edit
    <% end %>
  </li>
  <% if @site_element.is_latest_version? %>
    <li><%= link_to new_version_admin_site_element_path(@site_element), class: "small success button" do %>
        <%= fa_icon "arrow-up" %>
        Upload New Version
      <% end %>
    </li>
  <% end %>
  <li><%= link_to [:admin, @site_element], confirm: 'Are you sure?', method: :delete, class: "small alert button" do %>
    <%= fa_icon "trash" %>
    Delete
  <% end %>
  </li>
</ul>

<div class="row">
  <div class="large-3 columns">
    <p>
      <b>Resource file name:</b>
      <% if @site_element.external_url.present? %>
        <%= link_to @site_element.external_url, @site_element.external_url %>
      <% elsif @site_element.resource_file_name.present? %>
        <%= link_to @site_element.resource_file_name, @site_element.resource.url %>
      <% elsif @site_element.executable_file_name.present? %>
        <%= link_to @site_element.executable_file_name, @site_element.executable.url %>
      <% end %>
    </p>

    <% if @site_element.is_image? %>
      <p>
        <%= link_to(image_tag(@site_element.resource.url(:small)), @site_element.resource.url) %>
      </p>
    <% end %>

    <p>
      <b>Resource type:</b>
      <%= @site_element.resource_type %>
    </p>

    <p>
      <b>Created:</b>
      <%=l @site_element.created_at %>
    </p>

    <p>
      <b>Last Updated:</b>
      <%=l @site_element.updated_at %>
    </p>

    <% if @site_element.language.present? %>
      <p>
        <b>Language:</b>
        <%= @site_element.language %>
      </p>
    <% end %>

    <p>
      <b>Show on product page and downloads page?</b>
      <%= (@site_element.show_on_public_site?) ? "Yes" : "No" %>
    </p>

    <p>
      <b>Is a document?</b>
      <%= @site_element.is_document? ? "yes" : "no" %>
    </p>

    <p>
      <b>Is software?</b>
      <%= @site_element.is_software? ? "yes" : "no" %>
    </p>

    <% if @site_element.access_level.present? %>
      <p>
        <b>Access level:</b>
        <%= @site_element.access_level.long_name %>
      </p>

      <div class="info alert-box">Note: As an admin, you have access
        to see everything. So, to test whether this item appears on
        the product pages and/or support downloads page, you'll need
        to use a different browser or open an incognito window.
      </div>

    <% else %>
      <p>
        <b>Access level:</b> all can access
      </p>
    <% end %>

    <% if @site_element.version.present? %>
      <p>
        <b>Version:</b>
        <%= @site_element.version %>
      </p>
    <% end %>

    <% if @site_element.has_other_versions? %>
      <% if @site_element.is_latest_version? %>
        <h5>Previous Versions:</h5>
        <ul>
          <% @site_element.other_versions.order(:version).reverse.each do |other| %>
            <li>
              <%= link_to (other.version.present?) ? other.version : "n/a", [:admin, other] %>
              (<%=l other.created_at.to_date, format: :short %>)
            </li>
          <% end %>
        </ul>
      <% else %>
        <h5>Latest Version:</h5>
        <p><%= link_to (@site_element.latest_version.version.present?) ? @site_element.latest_version.version : "latest",
          [:admin, @site_element.latest_version] %> (<%=l @site_element.latest_version.created_at.to_date, format: :short %>)
        </p>
      <% end %>
    <% end %>

  </div>

  <div class="large-9 columns">
    <% if @site_element.bad_link? %>
      <div class="alert alert-box">
        <p>The file for this resource was last checked <%=l @site_element.link_checked_at %> with an HTTP
        status of <%= @site_element.link_status %> which means it couldn't be found. Please locate a backup
        copy of this file and re-upload it <%= link_to "here", edit_admin_site_element_path(@site_element) %>
        or delete this record if it is no longer needed.</p>

        <p>For reference, the file was supposed to located here:<br/><br/>
        <%= link_to @site_element.direct_url, @site_element.direct_url, target: "_blank" %>
        </p>
      </div>

    <% else %>

      <div class="panel">

        <% if @site_element.external_url.present? %>
          <p>You can link to this file with the following URL:</p>
          <ul class="list">
            <li><b>
              <%= link_to @site_element.external_url, @site_element.external_url %>
            </b></li>
          </ul>
        <% elsif @site_element.resource_file_name.present? %>
          <p>You can link to this file with the following URL(s):</p>
          <ul class="list">
            <li><b>
              <%= link_to @site_element.resource.url("original", timestamp: false),
                @site_element.resource.url("original", timestamp: false) %>
            </b></li>
          </ul>
          <% if @site_element.is_image? %>
            <i>Other sizes:</i>
            <ul class="list">
              <li>
              <%= link_to @site_element.resource.url("large", timestamp: false) do %>
                <%= @site_element.resource.url("large", timestamp: false) %>
              <% end %>
              </li>
              <li>
              <%= link_to @site_element.resource.url("medium", timestamp: false) do %>
                <%= @site_element.resource.url("medium", timestamp: false) %>
              <% end %>
              </li>
              <li>
              <%= link_to @site_element.resource.url("small", timestamp: false) do %>
                <%= @site_element.resource.url("small", timestamp: false) %>
              <% end %>
              </li>
              <li>
              <%= link_to @site_element.resource.url("thumb", timestamp: false) do %>
                <%= @site_element.resource.url("thumb", timestamp: false) %>
              <% end %>
              </li>
              <li>
              <%= link_to @site_element.resource.url("tiny", timestamp: false) do %>
                <%= @site_element.resource.url("tiny", timestamp: false) %>
              <% end %>
              </li>
              <li>
              <%= link_to @site_element.resource.url("tiny_square", timestamp: false) do %>
                <%= @site_element.resource.url("tiny_square", timestamp: false) %>
              <% end %>
              </li>
            </ul>
          <% end %>
        <% elsif @site_element.executable_file_name.present? %>
          <p>You can link to this file with the following URL:</p>
          <ul class="list">
            <li><b>
              <%= link_to @site_element.executable.url("original", timestamp: false),
                @site_element.executable.url("original", timestamp: false) %>
            </b></li>
          </ul>
        <% end %>

        <p>Or, use this permalink which always points to the most recent version of this resource:</p>
        <ul class="list">
          <li><b>
              <% if @site_element.extension.present? %>
                <%= link_to site_resource_url(@site_element).gsub(/\?.*/, '')+"."+@site_element.extension, site_resource_url(@site_element).gsub(/\?.*/, '')+"."+@site_element.extension  %>
              <% else %>
                <%= link_to site_resource_url(@site_element).gsub(/\?.*/, ""), site_resource_url(@site_element).gsub(/\?.*/, '') %>
              <% end %>
          </b></li>
        </ul>
        <p>Linking from within this same site can use the path only:</p>
        <ul class="list">
          <li><b>
              <% if @site_element.extension.present? %>
                <%= link_to site_resource_path(@site_element).gsub(/\?.*/, '')+"."+@site_element.extension, site_resource_path(@site_element).gsub(/\?.*/, '')+"."+@site_element.extension  %>
              <% else %>
                <%= link_to site_resource_path(@site_element).gsub(/\?.*/, ""), site_resource_path(@site_element).gsub(/\?.*/, '') %>
              <% end %>
          </b></li>
        </ul>
        <p><i>Note: the permalink is built from the name of the resource. Don't rename it if you want to keep the permalink active.</i></p>

      </div>

    <% end %>

    <div class="row">
      <div class="small-12 medium-6 columns">
        <div class="group">
          <p>Choose one or more product below. Doing so will add this file to the
          manuals/documentation area on each associated product page.</p>

          <%= render "product_select", site_element: @site_element %>

          <ul id="product_site_elements" class="list">
            <% @site_element.product_site_elements.each do |pse| %>
              <%= render "/admin/shared/product_site_element_row", pse: pse, called_from: "site_element" %>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="small-12 medium-6 columns">
        <p>If this is one of the new HTML resources, you may want to
        add some images, etc. to use in your HTML code:</p>
        <%= simple_form_for [:admin, @site_element, @site_element_attachment] do |f| %>
          <%= f.input :attachment %>
          <%= f.submit "upload", class: "tiny button"%>
        <% end %>

        <ul>
          <% @site_element.site_element_attachments.each do |att| %>
            <li id="site_element_attachment_<%= att.id %>">
              <%= link_to att.attachment_file_name, att.attachment.url, target: "_blank" %>
              <%= link_to image_tag("trash.png"), [:admin, @site_element, att], method: :delete, remote: true %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>

