<h1><%= @site_element.name %></h1>

<ul class="button-group round">
	<li><%= link_to 'Back', admin_site_elements_path, class: "small secondary button" %>	</li>
	<li><%= link_to 'Edit', edit_admin_site_element_path(@site_element, locale: I18n.locale), class: "small secondary button" %></li>
	<li><%= link_to 'Delete', [:admin, @site_element], confirm: 'Are you sure?', method: :delete, class: "small alert button" %> </li>
</ul>

<p>
  <b>Resource file name:</b>
  <% if !@site_element.resource_file_name.blank? %>
  <%= link_to @site_element.resource_file_name, @site_element.resource.url %>
  <% else %>
  <%= link_to @site_element.executable_file_name, @site_element.executable.url %>
  <% end %>
</p>

<% if @site_element.is_image? %>
	<p>
		<%= link_to(image_tag(@site_element.resource.url(:small)), @site_element.resource.url) %>
	</p>
<% end %>

<p>
  <b>Resource type:</b>
  <%= @site_element.resource_type %>
</p>

<p>
	<b>Show on public site on downloads page?</b>
	<%= (@site_element.show_on_public_site?) ? "Yes" : "No" %>
</p>

<% if !@site_element.resource_file_name.blank? %>
	<p>You can link to this file with the following URL(s):</p>
	<ul>
		<li><b>
		<%= @site_element.resource.url("original", timestamp: false) %>
		</b></li>
	</ul>
	<% if @site_element.is_image? %>
		<i>Other sizes:</i>
		<ul>
			<li><%= link_to @site_element.resource.url("large", timestamp: false) do %>
				<%= @site_element.resource.url("large", timestamp: false) %>
				<% end %>
			</li>
			<li><%= link_to @site_element.resource.url("medium", timestamp: false) do %>
				<%= @site_element.resource.url("medium", timestamp: false) %>
				<% end %>
			</li>
			<li><%= link_to @site_element.resource.url("small", timestamp: false) do %>
				<%= @site_element.resource.url("small", timestamp: false) %>
				<% end %>
			</li>
			<li><%= link_to @site_element.resource.url("thumb", timestamp: false) do %>
				<%= @site_element.resource.url("thumb", timestamp: false) %>
				<% end %>
			</li>
			<li><%= link_to @site_element.resource.url("tiny", timestamp: false) do %>
				<%= @site_element.resource.url("tiny", timestamp: false) %>
				<% end %>
			</li>
			<li><%= link_to @site_element.resource.url("tiny_square", timestamp: false) do %>
				<%= @site_element.resource.url("tiny_square", timestamp: false) %>
				<% end %>
			</li>
		</ul>
	<% end %>
<% else %>
	<p>You can link to this file with the following URL:</p>
	<ul>
		<li><b>
		<%= @site_element.executable.url("original", timestamp: false) %>
		</b></li>
	</ul>
<% end %>


<p>And/or choose one or more product below. Doing so will add this file to the 
	manuals/documentation area on each associated product page.</p>
	
	<%= form_for [:admin, @product_site_element], remote: true do |f| %>
		<%= f.hidden_field :site_element_id %>
		<%= hidden_field_tag :called_from, "site_element" %>
		<p>
			<%= f.collection_select :product_id, website.products, :id, :name %>
			<%= f.submit "add product" %>
		</p>
	<% end %>
	<ul id="product_site_elements">
		<% @site_element.product_site_elements.each do |pse| %>
		<%= render "/admin/shared/product_site_element_row", pse: pse, called_from: "site_element" %>
		<% end %>
	</ul>
	