<%= simple_form_for([:admin, @promotion], html: {multipart: true}) do |f| %>

  <%= f.input :name %>

  <div class="row">
    <div class="large-6 columns">
      <%= f.input :start_on, as: :string, label: "Promotion start date", input_html: { class: 'ui-datepicker' } %>
    </div>
    <div class="large-6 columns">
      <%= f.input :end_on, as: :string, label: "Promotion end date", input_html: { class: 'ui-datepicker' } %>
    </div>
  </div>

  <div class="row">
    <div class="large-6 columns">
      <%= f.input :show_start_on, as: :string, label: "Show on website starting", input_html: { class: 'ui-datepicker' } %>
    </div>
    <div class="large-6 columns">
      <%= f.input :show_end_on, as: :string, label: "Take off website after", input_html: { class: 'ui-datepicker' } %>
    </div>
  </div>

  <div class="row">
    <div class="large-4 columns">
      <div class="panel">
        <%= f.input :promo_form %>
        <% unless f.object.promo_form_file_name.blank? %>
          <span id="promo_form_container">
            currently:
            <%= link_to(f.object.promo_form_file_name, f.object.promo_form.url) %>
          </span>
        <% end %>
      </div>
    </div>
    <div class="large-4 columns">
      <div class="panel">
        <%= f.input :tile, label: "Promo page header" %>
      	<% unless f.object.tile_file_name.blank? %>
          <span id="tile_container">
        		currently: 
            <%= link_to(image_tag(f.object.tile.url(:tiny)), f.object.tile.url) %>
          </span>
      	<% end %>
      </div>
    </div>
    <div class="large-4 columns">
      <div class="panel">
        <%= f.input :homepage_banner %>
        <% unless f.object.homepage_banner_file_name.blank? %>
          <span id="homepage_banner_container">
            currently:
            <%= link_to(image_tag(f.object.homepage_banner.url(:tiny)), f.object.homepage_banner.url) %>
          </span>
        <% end %>
      </div>
    </div>
  </div>

  <%= f.input :description, 
    label: "Description (tile above will link to this info unless it is blank.)", 
    input_html: { class: "mceEditor" } %>

<br/>

  <fieldset>
    <legend>Toolkit</legend>
    <%= f.input :toolkit_instructions, 
      label: "Instructions or other notes for toolkit users (text below appears on toolkit)",
      input_html: { class: "mceEditor" } %>
  </fieldset>

  <fieldset>
    <legend>Customer notifications (not common)</legend>

  	<%= f.input :send_post_registration_message, label: "Send a message (below) to customers who register a related product during the promotion start/end date." %><br/>
  	<%= f.input :post_registration_subject, label: "Subject" %>
  	<%= f.input :post_registration_message, input_html: { class: "mceEditor" } %>

  </fieldset>

  <br/><%= f.button :submit %>

<% end %>
