<%= simple_form_for([:admin, @promotion], html: {multipart: true}) do |f| %>

  <div class="row">
    <div class="large-9 columns">
      <%= f.input :name, label: "Promotion Name" %>
    </div>
    <div class="large-3 columns">
      <%= f.label :discount %>
      <div class="row collapse">
        <div class="small-9 columns">
          <%= f.input :discount, label: false %>
        </div>
        <div class="small-3 columns">
          <%= f.input :discount_type, label: false, as: :select, collection: ["$", "%"], include_blank: false %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="large-3 columns">
      <%= f.input :start_on, as: :string, label: "Promotion start date", input_html: { class: 'ui-datepicker' } %>
    </div>
    <div class="large-3 columns">
      <%= f.input :end_on, as: :string, label: "Promotion end date", input_html: { class: 'ui-datepicker' } %>
    </div>

    <div class="large-3 columns">
      <%= f.input :show_start_on, as: :string, label: "Show on website starting", input_html: { class: 'ui-datepicker' } %>
    </div>
    <div class="large-3 columns">
      <%= f.input :show_end_on, as: :string, label: "Take off website after", input_html: { class: 'ui-datepicker' } %>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <%= f.input :promo_form, label: "Redemption form" %>
      <% unless f.object.promo_form_file_name.blank? %>
        <span id="promo_form_container">
          currently:
          <%= link_to(f.object.promo_form_file_name, f.object.promo_form.url) %>
        </span>
      <% end %>

      <%= f.input :show_recalculated_price,
        label: "Show the slashed price on the related product pages. (Only for brands/products which show pricing normally.)" %>
    </div>
  </div>


<br/>

  <fieldset>
    <legend>Homepage Banner (for new/dbx style homepage)</legend>
    <div class="row">
      <div class="large-12 columns">
        <%= f.input :homepage_headline, label: "Headline" %>
      </div>
    </div>
    <div class="row">
      <div class="large-8 columns">
        <%= f.input :homepage_text, label: "Text" %>
      </div>
      <div class="large-4 columns">
        <%= f.input :homepage_banner, label: "Side Image (450x360)" %>
        <% unless f.object.homepage_banner_file_name.blank? %>
          <span id="homepage_banner_container">
            currently:
            <%= link_to(image_tag(f.object.homepage_banner.url(:tiny)), f.object.homepage_banner.url) %>
          </span>
        <% end %>
      </div>
    </div>
  </fieldset>

<br/>

  <fieldset>
    <legend>Promotion Landing Page</legend>
      <%= f.input :tile, label: "Promo page header", hint: "Also appears on the promotions index page." %>
      <% unless f.object.tile_file_name.blank? %>
        <span id="tile_container">
          currently: 
          <%= link_to(image_tag(f.object.tile.url(:tiny)), f.object.tile.url) %>
        </span>
      <% end %>
      <%= f.input :description, 
        label: "Description",
        hint: "Product pages will link to this info. If it is blank, then link will go directly to the redemption form.", 
        input_html: { class: "mceEditor" } %>
  </fieldset>

<br/>

  <fieldset>
    <legend>Toolkit</legend>
            <%= f.input :tile, label: "Promo page header" %>
        <% unless f.object.tile_file_name.blank? %>
          <span id="tile_container">
            currently: 
            <%= link_to(image_tag(f.object.tile.url(:tiny)), f.object.tile.url) %>
          </span>
        <% end %>
    <%= f.input :toolkit_instructions, 
      label: "Instructions or other notes for toolkit users (text below appears on toolkit)",
      input_html: { class: "mceEditor" } %>
  </fieldset>

<br/>

  <fieldset>
    <legend>Customer notifications (not common)</legend>

  	<%= f.input :send_post_registration_message, label: "Send a message (below) to customers who register a related product during the promotion start/end date." %><br/>
  	<%= f.input :post_registration_subject, label: "Subject" %>
  	<%= f.input :post_registration_message, input_html: { class: "mceEditor" } %>

  </fieldset>

  <br/><%= f.button :submit %>

<% end %>
