<h1>Promotions</h1>

<% if can? :create, Promotion %>
<ul class="button-group round">
	<li><%= link_to 'New Promotion', new_admin_promotion_path, class: "small success button" %></li>
</ul>
<% end %>

<table class="data" width="100%">
<% @promotions.where("end_on > ?", 1.month.ago).each do |promotion| %>
  <tr>
  	<td><b><%= link_to promotion.name, [:admin, promotion] %></b></td>
  	<td><%=l promotion.start_on, format: :long %> - <%=l promotion.end_on, format: :long %></td>
  </tr>
<% end %>
<% @promotions.where("end_on <= ?", 1.month.ago).each do |promotion| %>
  <tr>
  	<td><i> <%= link_to promotion.name, [:admin, promotion] %> </i></td>
  	<td><i> <%=l promotion.start_on, format: :long %> - <%=l promotion.end_on, format: :long %></td>
  </tr>
<% end %>
</table>
