<h1>Listing Promotions</h1>

<% if can? :create, Promotion %>
<ul class="button-group round">
	<li><%= link_to 'New Promotion', new_admin_promotion_path, class: "small success button" %></li>
</ul>
<% end %>

<ul>
<% @promotions.where("end_on > ?", 1.month.ago).each do |promotion| %>
  <li><b><%= link_to promotion.name, [:admin, promotion] %></b> 
	(<%=l promotion.start_on, format: :long %> - <%=l promotion.end_on, format: :long %>)
  </li>
<% end %>
<% @promotions.where("end_on <= ?", 1.month.ago).each do |promotion| %>
  <li><i> <%= link_to promotion.name, [:admin, promotion] %> 
	(<%=l promotion.start_on, format: :long %> - <%=l promotion.end_on, format: :long %>)
  </i></li>
<% end %>
</ul>
