<h1><%= @promotion.name %></h1>

<div class="button_container">
	<%= link_to 'Back', admin_promotions_path, class: "back button" %>
	<%= link_to 'Edit', edit_admin_promotion_path(@promotion, locale: I18n.locale), class: "edit button" %>
	<%= link_to 'Delete', [:admin, @promotion], confirm: 'Are you sure?', method: :delete, class: "delete button" %> 
</div>

<% unless @promotion.tile_file_name.blank? %>
<p>
  <b>Banner:</b>
  <%= link_to(image_tag(@promotion.tile.url(:tiny_square)), @promotion.tile.url) %>
</p>
<% end %>
<% if @promotion.show_start_on.present? %>
<p>
  <b>Show on website starting on:</b>
  <%=l @promotion.show_start_on, format: :long %>
</p>
<% end %>
<% if @promotion.show_end_on.present? %>
<p>
  <b>End on website after:</b>
  <%=l @promotion.show_end_on, format: :long %>
</p>
<% end %>
<% if @promotion.start_on.present? %>
<p>
  <b>Start on:</b>
  <%=l @promotion.start_on, format: :long %>
</p>
<% end %>
<% if @promotion.end_on.present? %>
<p>
  <b>End on:</b>
  <%=l @promotion.end_on, format: :long %>
</p>
<% end %>
<% unless @promotion.promo_form_file_name.blank? %>
<p>
  <b>Promo form file name:</b>
  <%= link_to @promotion.promo_form_file_name, @promotion.promo_form.url %>
</p>
<% end %>

<div class="group">
	<h3>Products related to this promotion</h3>
	<%= form_for [:admin, @product_promotion], remote: true do |f| %>
		<%= f.hidden_field :promotion_id %>
		<%= hidden_field_tag :called_from, "promotion" %>
		<p>
			<%= f.collection_select :product_id, website.products, :id, :name %>
			<%= f.submit "add product" %>
		</p>
	<% end %>
	<ul id="product_promotions">
		<% @promotion.product_promotions.each do |pp| %>
		<%= render "/admin/shared/product_promotion_row", pp: pp, called_from: "promotion" %>
		<% end %>
	</ul>
</div>
