<h1><%= @promotion.name %></h1>

	<p class="little"><%= link_to(promotion_url(@promotion, locale: I18n.locale), @promotion) %>
	<%= link_to(image_tag("icons/external_link_icon.png"), @promotion) %></p>

<ul class="button-group round">
	<li><%= link_to admin_promotions_path, class: "small secondary button" do %>
    <%= fa_icon "angle-double-left" %>
  <% end %>
  </li>
	<li><%= link_to edit_admin_promotion_path(@promotion, locale: I18n.locale), class: "small secondary button" do %>
      <%= fa_icon "edit" %>
      Edit
    <% end %>
  </li>
	<li><%= link_to [:admin, @promotion], confirm: 'Are you sure?', method: :delete, class: "small alert button" do %>
    <%= fa_icon "trash" %>
    Delete
  <% end %>
  </li>
</ul>

<p>
	Valid promotion dates:
	<b>
		<% if @promotion.start_on.present? %>
  			<%=l @promotion.start_on, format: :long %>
		<% end %>
		thru
		<% if @promotion.end_on.present? %>
  			<%=l @promotion.end_on, format: :long %>
		<% end %>
	</b>
</p>

<%# For brands whose homepage banner area is a video %>
<% if Setting.slides(website, limit: 5).pluck(:slide_content_type).any? {|c| c.match?(/video/i) } %>

  <% if @promotion.homepage_banner_file_name.present? %>
    <div class="panel">
      <h5 class="subheader">Homepage strip</h5>
      <%= link_to(image_tag(@promotion.homepage_banner.url(:thumb)), @promotion.homepage_banner.url) %>
    </div>
  <% end %>

<% else %>

  <% if @promotion.banner && @promotion.banner.slide.present? %>
    <div class="panel">

      <h5 class="subheader">Homepage banner</h5>
      <p>Banner image:
        <%= link_to @promotion.banner.slide_file_name,
          @promotion.banner.slide.url, target: "_blank" %>
      </p>

      <p>Determined landing page for homepage banner:
        <b><%= @promotion.best_landing_page_path %></b>
      </p>
  <% end %>

<% end %>

<div class="group">
	<h4 class="subheader">Products related to this promotion</h4>
	<ul id="product_promotions" class="list">
		<% @promotion.product_promotions.each do |pp| %>
      <%= render "/admin/shared/product_promotion_row", pp: pp, called_from: "promotion" %>
		<% end %>
	</ul>

  <p><em><%= link_to "Edit the promotion", edit_admin_promotion_path(@promotion) %> to add products or adjust discount amount.</em></p>
</div>
