<h1>Custom Shop Quote</h1>
<% if @custom_shop_quote.custom_shop_quote_line_items.size > 0 %>

  <div class="row">
    <div class="small-12 medium-6 columns">
      <% @custom_shop_quote.custom_shop_quote_line_items.each do |line_item| %>

        <div class="row">
          <div class="large-12 columns">
            <h5><%= line_item.product.name %></h5>
            <ul>
              <li>Quantity: <%= line_item.quantity.present? ? line_item.quantity : 1 %></li>
              <% line_item.custom_shop_quote_line_item_attributes.each do |attr| %>
                <li><%= attr.customizable_attribute.name %>: <%= attr.value %></li>
              <% end %>
            </ul>
          </div>
        </div>

      <% end %>

      <p><%= link_to "Add another product", custom_shop_path, class: "button" %></p>
    </div>

    <div class="small-12 medium-6 columns">

      <% if current_user %>

        <p>Complete the following to request a quote
        for your customized products:</p>

        <%= simple_form_for [:custom_shop, @custom_shop_quote], url: custom_shop_request_quote_path, method: :post do |f| %>
          <%= f.fields_for :user do |u| %>
            <%# u.input :country %>
          <% end %>

          <%= f.input :account_number, label: "HARMAN Account Number" %>
          <%= f.input :opportunity_number %>
          <%= f.input :opportunity_name %>
          <%= f.input :location %>
          <%= f.input :request_delivery_on, as: :string, input_html: { class: 'ui-datepicker'} %>
          <%= f.input :description, label: "Project Description" %>

          <%= f.submit "Request Quote", class: "button" %>
        <% end %>

      <% else %>

        <p><%= link_to "Request Quote", custom_shop_edit_quote_path, class: "button" %></p>

      <% end %>

    </div>
  </div>

<% else %>

  <p>Your quote appears to be empty. Start by <%= link_to "selecting a product", custom_shop_path %> to customize.</p>

<% end %>
