<div class="row">
  <div class="small-12 medium-8 columns">
    <h1>Custom Shop Quotes</h1>
  </div>
  <div class="small-12 medium-4 columns text-right">
    <%= search_form_for [:custom_shop, @search] do |f| %>
      <div class="row collapse">
        <div class="large-9 small-8 columns">
          <%= f.text_field :attributes_cont %>
        </div>
        <div class="large-3 small-4 columns">
          <%= f.submit "Search", class: "button prefix" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= will_paginate @custom_shop_quotes %>

<table style="width: 100%">
  <thead>
    <tr>
      <th><%= sort_link([:custom_shop, @search], :created_at, 'Date', default_order: :desc) %></th>
      <th>Quote Number</th>
      <th>Requester</th>
      <th>Status</th>
      <th>Total</th>
      <th>Summary</th>
    </tr>
  </thead>
  <tbody>
  <% @custom_shop_quotes.each do |custom_shop_quote| %>
    <tr>
      <td><%=l custom_shop_quote.created_at.to_date, format: :long %></td>
      <td><%= link_to custom_shop_quote.number, [:custom_shop, custom_shop_quote] %></td>
      <td><%= custom_shop_quote.user.display_name %></td>
      <td>
        <% if custom_shop_quote.status == "new" %>
          <span class="success radius label">new</span>
        <% else %>
          <%= custom_shop_quote.status %>
        <% end %>
      </td>
      <td><%= number_to_currency custom_shop_quote.total %></td>
      <td><%= custom_shop_quote_summary(custom_shop_quote) %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= will_paginate @custom_shop_quotes %>
