<%= content_for :page_title do %><% if @brand %><%= @brand.name %><% end %> <%= @marketing_calendar.name %> Calendar<% end %>

<h1><% if @brand %><%= @brand.name %><% end %> <%= @marketing_calendar.name %> Calendar</h1>

<div class="row">
	<div class="large-9 columns">
			<%= marketing_event_calendars %>
	</div>
	<div class="large-3 columns">
		<h6>Filter by brand:</h6>
		<ul class="list" style="font-size: 75%">
          <li><%= link_to 'All', [:marketing_queue, @marketing_calendar] %></li>
          <% marketing_queue_brands.each do |brand| %>
          <li><%= link_to brand.name, marketing_queue_marketing_calendar_path(@marketing_calendar, brand_id: brand.id) %></li>
          <% end %>
		</ul>
		<div class="tip">
			<p>To add calendar items, create/edit a project and select '<%= @marketing_calendar.name %>' from the calendar selection.</p>
		</div>
	</div>
</div>

