<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <% if website.google_site_verification %>
      <meta name="google-site-verification" content="<%= website.google_site_verification %>" />
    <% end %>
		<%= csrf_meta_tag %>
    <%# Silverpop tracking %>
    <% if Rails.env.production? %>
      <meta name="com.silverpop.brandeddomains" content="www.pages08.net,akg.com,amx.com,bssaudio.com,crownaudio.com,dbxpro.com,digitech.com,jblpro.com,lexiconpro.com,martin.com,pro.harman.com,soundcraft.com,studer.ch" />
      <meta name="com.silverpop.cothost" content="pod8.ibmmarketingcloud.com" />
      <script src="https://www.sc.pages08.net/lp/static/js/iMAWebCookie.js?4724915e-155c1210684-6681ada67421f5d3ed5e65517ed2e77a&h=www.pages08.net" type="text/javascript"></script>
    <% end %>
		<%= cache ["meta_tags", request.url] do %>
			<%= cached_meta_tags %>
			<% if File.exists?(Rails.root.join("app", "assets", "images", website.folder, "logo.png")) %>
			<link rel="image_src" href="<%= image_url("#{website.folder}/logo.png") %>" />
			<% end %>
			<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
			<![endif]-->
			<link href="<%= rss_url(format: 'xml') %>" rel="alternate" title="RSS" type="application/rss+xml"/>
			<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
			<link rel="icon" type="image/x-icon" href="/favicon.ico" />

			<meta property="og:site_name" content="<%= website.site_name %>" />
			<meta property="og:locale" content="<%= I18n.locale %>" />
			<meta property="og:url" content="<%= request.url %>" />

			<% if website.twitter_name %>
				<meta property="twitter:site" value="@<%= website.twitter_name %>" />
			<% end %>

		<% end %>

		<%= javascript_include_tag 'teaser_application' %>
		<%= javascript_include_tag "vendor/modernizr" %>
		<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:700,400,300' rel='stylesheet' type='text/css'>
		<%= stylesheet_link_tag "#{website.folder}_teaser", cache: false %>

		<%= yield :custom_css %>
		<script>
	  		<%= yield :extra_js %>
	  	</script>
	    <%= render_partial "shared/analytics" %>
	</head>
	<body data-brand="<%= website.brand.name %>">
		<div id="fb-root"></div>
		<script>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>

		<%= render_partial "shared/locale_switcher" %>

		<% if content_for? :headline %>
			<%= yield :headline %>
		<% end %>

		<div id="main-content">
			<% if notice %>
				<div data-alert class="alert-box success">
					<%= notice %>
				</div>
			<% end %>
			<% if alert %>
				<div data-alert class="alert-box alert">
					<%= alert %>
				</div>
			<% end %>
			<%= yield %>
		</div>

		<% if content_for? :parralax %>
			<%= yield :parralax %>
		<% end %>

		<div id="footer">
			<div>
				<% if website.has_software? %>
				<%= link_to t('software_downloads').downcase, software_index_path %> &bull;
				<% end %>
				<%= link_to "#{website.brand.name} #{t('products')}", product_families_path %> &bull;
				<% if website.has_reviews? && ProductReview.all_for_website(website).size > 0 %>
				<%= link_to t('product_reviews').downcase, product_reviews_path %> &bull;
				<% end %>
				<% if website.has_artists? %>
				<%= link_to t('artists'), artists_path %> &bull;
				<% end %>
				<% if website.has_dealers? || website.has_online_retailers? || website.has_distributors? %>
				<%#= link_to t('where_to_buy'), where_to_buy_path %>
				<% end %>
				<%= link_to t('product_support'), support_path %>
				<%#= link_to t('sitemap'), sitemap_path(format: 'xml') %>
			</div>
		</div>


		<div id="preload"><%= yield :preload %></div>
		<% if content_for?(:popup_code) %>
			<%= yield :popup_code %>
		<% end %>
    <%= render_partial "shared/footer_scripts" %>
	</body>
</html>
