<%= content_for :breadcrumbs do %>
  <li><%= link_to @brand.name, [:toolkit, @brand] %></li>
  <li class="current"><span><%= @toolkit_resource_type.name.pluralize %></span></li>
<% end %>

<%= content_for :title do %><%= @brand.name %> <%= @toolkit_resource_type.name.pluralize %><% end %>

<%= render "toolkit/brands/left_nav" %>

<h2><%= @brand.name %> <%= @toolkit_resource_type.name.pluralize %></h2>

<ul class="large-block-grid-3 small-block-grid-2 toolkit_resources">
<% @toolkit_resources.each do |toolkit_resource| %>
	<li>
		<%= link_to toolkit_brand_toolkit_resource_path(@brand, toolkit_resource) do %>
			<div class="panel" style="padding: 6px;font-size: 90%">
				<div class="row">
					<div class="large-8 small-6 columns">
						<h6 class="subheader"><%= toolkit_resource.name.gsub(/[\\\/\-\_]/, " ") %></h6>
						<% if toolkit_resource.download_file_size.present? %>
							[<%= number_to_human_size toolkit_resource.download_file_size %>]
						<% end %>
					</div>
					<% if toolkit_resource.tk_preview_file_name.present? %>
					<div class="large-4 small-6 columns" style="overflow: hidden">
						<%= image_tag toolkit_resource.tk_preview.url(:thumb) %>
					</div>
					<% end %>
				</div>
			</div>
		<% end %>
	</li>
<% end %>
</ul>
