<% content_for :extra_header_code do %>
  <%= javascript_include_tag "where_to_find" %>
<% end %>

<% set_meta_tags title: @page_title,
				 reverse: true,
                 description: t('meta.description.where_to_buy', brand: website.brand_name),
                 keywords: t('meta.keywords.where_to_buy') %>

<% if website.wheretobuy_banner %>
  <div class="category-banner">
    <%= image_tag website.wheretobuy_banner, alt: @page_title %>
  </div>
<% elsif File.exist?(Rails.root.join("app", "assets", "images", "#{website.folder}/#{I18n.locale}/wheretobuy_head.jpg")) %>
  <div class="category-banner">
    <%= image_tag("#{website.folder}/#{I18n.locale}/wheretobuy_head.jpg", alt: @page_title) %>
  </div>
<% else %>
  <h1><%= @page_title %></h1>
<% end %>

<div class="row">
  <div class="large-5 columns">
    <% if website.show_lead_form_on_buy_page? %>
      <div class="callout panel">
        <h4>Connect with <%= website.brand.name %></h4>
        <p>Tell us about your project. Complete the form below to connect with us.</p>
        <%= render_partial 'leads/form' %>
      </div>
    <% end %>

    <h3><%= t('us_dealers') %></h3>

    <%= form_tag partner_search_path, method: :get %>
      <div class="row collapse">
        <div class="large-8 small-7 columns">
          <%= text_field_tag "zip", session[:zip], placeholder: t('us_zip_code') %>
        </div>
        <div class="large-4 small-5 columns">
          <%= submit_tag t('find_us_dealers'), class: "postfix button" %>
        </div>
      </div>
      <% if website.brand.has_us_sales_reps? && I18n.locale.to_s.match?(/US/) %>
        <i style="font-size: 80%">Or, <%= link_to "find a sales rep", us_reps_path %> to become a dealer.</i>
      <% end %>
    </form>
    <br/>

    <h3><%= t('titles.international_distributors') %></h3>
    <p><%= t("blurbs.international_distributors") %></p>

    <%= form_tag distributor_search_new_path, method: :get %>

      <div class="row collapse">
        <div class="large-8 small-7 columns">
                <%= select_tag :geo,
                options_for_select(CountryList.countries.sort_by { |item| item[:harman_name]}.map {|country| [country[:harman_name], country[:alpha2]] }, country_code.upcase),
               # class: 'chosen-select',
                prompt: "Select Your Country"
                %>
        </div>
        <div class="large-4 small-5 columns">
          <%= submit_tag t('submit'), class: "postfix button" %>
        </div>
      </div>

    </form>
  </div>
  <div class="large-3 columns">&nbsp;</div>
  <div class="large-4 end columns">&nbsp;</div>
</div>

<% if country_is_usa_or_canada || I18n.locale.to_s.match?(/US/) %>
<br/>
<div class="row">
  <div class="large-12 columns">
    <h3><%= t('titles.buy_online') %></h3>

    <ul class="large-block-grid-6 small-block-grid-3">
    <% OnlineRetailer.brand_online_retailers(website).each do |online_retailer| %>
      <li>
        <% if !online_retailer.retailer_logo_file_name.blank? %>
          <%= link_to(image_tag(online_retailer.retailer_logo(:fixed)), online_retailer.direct_link, target: "_blank")%>
        <% else %>
          <%= link_to online_retailer.name, online_retailer.direct_link, target: "_blank" %>
        <% end %>
      </li>
    <% end %>
    </ul>
  </div>
</div>
<% end %>

<%= content_for :extra_js do %>
  <script>
    $(document).ready(function() {
      $('#zip').focus();
    });
  </script>
<% end %>

