<div class="row">
	<div class="large-6 columns">
		<h1 class="page_title">
		<% if File.exists?(Rails.root.join("app", "assets", "images", "#{website.folder}/#{I18n.locale}/software_downloads_head.jpg")) %>
			<%= image_tag("#{website.folder}/#{I18n.locale}/software_downloads_head.jpg", alt: t('firmware_downloads')) %>
		<% else %>
      <%= website.brand.name %>
			<%= t('firmware_downloads') %>
		<% end %>
		</h1>
	</div>
</div>

<% firmware_items = MartinFirmwareService.get_firmware_items %>
<% firmware_items.each do |firmware_category|
    category_name = firmware_category.first.to_s
    category_items = firmware_category[1][:items]
%>
<% #binding.pry%>
    <h3><%=category_name%></h3>
    <table style="width:500px;">
        <thead><tr><th style="width:80%;">Product</th><th>Latest Version</th></tr></thead>
    <tbody>
        <% category_items.group_by {|item| item[:product]}.each do |product_version_item| %>
            <% if product_version_item[1].count == 1%>
                <tr><td><%=product_version_item[1][0][:product]%></td><td><%=product_version_item[1][0][:version]%></td></tr>
            <% else%>
                <% 
                begin
                    highest_version_item = product_version_item[1].sort_by { |item| 
                        # keep only digits and periods, strip any trailing periods
                        clean_version = item[:version].delete('^0-9.').gsub(/\.+$/, '')
                        Gem::Version.new(clean_version) 
                    }.reverse!.take(1) 
                rescue => e
                    # binding.pry
                else
                end
                %>
                <% #binding.pry%>
                <tr><td><%=highest_version_item[0][:product]%></td><td><%=highest_version_item[0][:version]%></td></tr>
            <% end %>
        <% end %>
    </tbody>
    </table>
<% end %>
    
<%#binding.pry%>
<%#=MartinFirmwareService.get_firmware_data.stringify_keys%>
<%#=MartinFirmwareService.get_firmware_data.to_json%>