<% set_meta_tags reverse: true,
   description: @software.description,
   keywords: [@software.name, @software.ware_file_name, @software.version],
   og: {
    title: @software.formatted_name,
    type: "website",
    updated_time: @software.updated_at.strftime("%FT%T"),
    url: software_url(@software)
   },
   article: {
     published_time: @software.created_at.strftime("%FT%T"),
     modified_time: @software.updated_at.strftime("%FT%T")
   }
%>

<% if @software.show_alert? %>
	<%= content_for :extra_notice do %>
		<div id="product-notice"><%=raw textilize(@software.alert) %></div>
	<% end %>
<% end %>

<h1><%= @page_title %></h1>

<% if @software.is_replaced? %>
  <% set_meta_tags noindex: true %>
  <div data-alert class="alert-box">
  	Note: this is an old version. The current version is: <%= link_to_software(@software.replaced_by) %>.
  	<a href="#" class="close">&times;</a>
  </div>
<% end %>

<div class="row">
	<div class="large-7 columns text-content">
    <p><small>Last Updated: <%=l @software.updated_at.to_date, format: :short %></small></p>
		<%=raw @software.description %>
		<% if @software.previous_versions.size > 0 %>
		<p><%= link_to "Previous Versions", '#previous_versions' %></p>
		<% end %>

		<% if @software.training_modules.size > 0 %>
			<h4>Training Modules</h4>
			<%= link_to "Visit Training Page", training_path %>
		<% end %>
	</div>
	<div class="large-5 columns">
    <% if @software.ware.present? || @software.link.present? %>
      <div class="panel">
        <div class="text-center">
          <%= link_to_download_software(@software, class: "large button") do %>
            <%= image_tag "down_arrow.png", alt: '' %>
            <%= t("download") %>
          <% end %>
        </div>

        <ul class="list no-bullet">
          <li>
            <%= platform_icon(@software, 17) %>
            <%= link_to_download_software(@software) %>
            <% if @software.ware_file_size.present? %>
            [<%= number_to_human_size(@software.ware_file_size)%>]
            <% end %>
          </li>

          <% @software.software_attachments.each do |sa| %>
          <li>
            <%= file_type_icon(sa) %>
            <%= link_to "#{sa.name}", download_software_attachment_path(sa) %>
            [<%= number_to_human_size(sa.software_attachment_file_size)%>]
          </li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <% if @software.side_content.present? %>
      <div>
        <%=raw @software.side_content %>
      </div>
    <% end %>
    <% if current_user && can?(:manage, @software) %>
      <div class="text-right">
        <p>Download count: <%= @software.download_count %></p>
        <%= link_to edit_software_path(@software) do %>
          <%= fa_icon "edit" %> edit software
        <% end %>
        <br/>
        <%= link_to new_version_software_path(@software) do %>
          <%= fa_icon "upload" %> new version
        <% end %>
      </div>
    <% end %>

	</div>
</div>

<% if @software.products.size > 0 %>
	<hr/>
	<h3 class="subheader"><%= t('titles.related_products') %></h3>

	<ul class="large-block-grid-3 small-block-grid-2">
	<% @software.products.each do |product| %>
		<li><%= render_partial "product_families/product_square", product: product, compare: false %></li>
	<% end %>
	</ul>
<% end %>

<% if @software.previous_versions.size > 0 %>
	<hr/>
	<h4 class="subheader" id='previous_versions'>Previous Versions</h4>

	<ul class="list">
		<% @software.previous_versions.each do |s| %>
		<li><%= link_to s.formatted_name, s %> [<%= number_to_human_size(s.ware_file_size) %>]</li>
		<% end %>
	</ul>
<% end %>

