<% set_meta_tags reverse: true,
                 description: @software.description,
                 keywords: [@software.name, @software.ware_file_name, @software.version] %>

<h1><%= @page_title %></h1>
<%= render 'shared/add_this' %>

<div style="margin-top: 20px; margin-bottom: 40px;">
	<div class="download_box">
		<% if File.exists?(Rails.root.join("app", "assets", "images", "#{website.folder}/#{I18n.locale}/download_button.png")) %>
		<%= link_to image_tag("#{website.folder}/#{I18n.locale}/download_button.png", 
						alt: t("download"), 
						mouseover: "#{website.folder}/#{I18n.locale}/download_button_hover.png"), 
				download_software_path(@software, locale: I18n.locale) %>
		<% else %>
		<h2><%= link_to t("download"), download_software_path(@software, locale: I18n.locale) %></h2>
		<% end %>
		<p>
			<%= platform_icon(@software, 17) %>
			<%= link_to(download_software_path(@software, locale: I18n.locale)) do %>
		  		<%= @software.formatted_name %>  
		  		[<%= number_to_human_size(@software.ware_file_size)%>]
			<% end %>
		</p>
		
		<% @software.software_attachments.each do |sa| %>
		<p>
			<% if sa.software_attachment_content_type.match(/pdf/i) %>
				<%= image_tag("pdf_17.png", style: "vertical-align: middle;") %>
			<% end %>
			<%= link_to sa.name, sa.software_attachment.url %>
		</p>
		<% end %>
	</div>
	
	<%=raw @software.description %>

	<% if @software.training_modules.size > 0 %>
		<h4>Training Modules</h4>
		<%= link_to "Visit Training Page", training_path %>
	<% end %>

	<div class="clear"></div>
</div>

<% if @software.products.size > 0 %>
	<hr/>
	<h2><%= t('titles.related_products') %></h2>
	<% @software.products.each do |product| %>
		<%= render_partial "product_families/product_square", product: product, compare: false %>
	<% end %>
	<div class="clear"></div>
<% end %>

<% if @software.previous_versions.count > 0 %>
	<hr/>
	<h4>Previous Versions</h4>

	<ul>
		<% @software.previous_versions.each do |s| %>
		<li><%= link_to s.formatted_name, download_software_path(s, locale: I18n.locale) %></li>
		<% end %>
	</ul>
<% end %>

<p><br/><%= link_to t('software_downloads'), softwares_path %></p>

<% if current_user && can?(:manage, @software) %>
<div class="admin_function">
	<%= link_to "edit", edit_admin_software_path(@software) %>
</div>
<% end %>