<%
if @product.photo
	og_image = @product.photo.product_attachment.url(:x_large)
	tw_image = @product.photo.product_attachment.url(:small)
else
	og_image = image_url("#{website.folder}/logo.png")
	tw_image = image_url("#{website.folder}/logo.png")
end

if website.show_pricing? && @product.msrp && @product.msrp.to_f > 0
	twitter_params = {
		image: {
			src: tw_image
		},
		card: "product",
		data1: "#{number_to_currency(@product.msrp)} USD",
		label1: "MSRP",
		data2: translate_content(@product, :short_description),
		label2: "Product Type"
	}
else
	twitter_params = {
		image: {
			src: tw_image
		},
		card: "summary"
	}
end

set_meta_tags title: @product.name,
	reverse: true,
	#canonical: product_url(@product),
	description: @product.meta_description.present? ? translate_content(@product, :meta_description) : translate_content(@product, :short_description),
	keywords: translate_content(@product, :keywords),
	twitter: twitter_params,
	og: {
		image: og_image,
		type: 'product',
		description: truncate(strip_html(translate_content(@product, :description)), length: 100),
		title: "#{website.brand.name} #{@product.name}"
	}
%>

<% if @product.show_alert? %>
	<%= content_for :extra_notice do %>
		<div id="product-notice"><%=raw textilize(@product.alert) %></div>
	<% end %>
<% end %>

<%= content_for :preload do %>
	<% if File.exist?(Rails.root.join("app", "assets", "images", "#{website.folder}/#{I18n.locale}/buyitnow_button_hover.png")) %>
		<%= image_tag("#{website.folder}/#{I18n.locale}/buyitnow_button_hover.png") %>
	<% end %>
	<% @product.product_attachments.each do |product_attachment| %>
		<% if !product_attachment.product_attachment_file_name.blank? %>
			<%= image_tag(product_attachment.product_attachment.url(:medium)) %>
		<% end %>
	<% end %>
<% end %>

<% if @product.has_custom_background? %>
	<%= content_for :custom_css do %>
	<style type="text/css" media="screen">
		body { <%= @product.custom_background %> }
	</style>
	<% end %>
<% end %>

<%= cache ["product_page", @product, @online_retailer_link, I18n.locale, session['geo_country'], current_user] do %>
<div id="breadcrumbs"><%= breadcrumbs(@product) %></div>

	<div class="viewer content container">
		<div class="row">
			<div class="large-12 columns">
				<div id="viewer">
				<% if @product.photo %>
					<%= link_to(image_tag(@product.photo.product_attachment.url(:large)), @product.photo.product_attachment.url) %>
				<% end %>
				</div>

        <% if @product.images_for("product_page").size > 0 %>
          <% if !!(website.no_lightbox) %>
            <ul id="product_thumbnails" class="large-block-grid-10 small-block-grid-3">
              <% @product.images_for("product_page").each do |product_attachment| %>
                <% if product_attachment.product_media_thumb_file_name.present? %>
                  <li><div><%= link_to_product_attachment(product_attachment) %></div></li>
                <% else %>
                  <li><div><%= link_to(image_tag(product_attachment.product_attachment.url(:tiny_square)), product_attachment.product_attachment.url(:x_large)) %></div></li>
                <% end %>
              <% end %>
            </ul>
          <% else %>
            <ul id="product_thumbnails" class="large-block-grid-10 small-block-grid-3">
              <% @product.images_for("product_page").each do |product_attachment| %>
                <% if product_attachment.product_media_thumb_file_name.present? %>
                  <li><div><%= link_to_product_attachment(product_attachment) %></div></li>
                <% else %>
                  <li>
                    <div>
                      <%= link_to(product_attachment.product_attachment.url(:x_large),
                        data: product_attachment.no_lightbox? ? {} : { fancybox: 'product-thumbnails' }) do %>
                        <%= image_tag(product_attachment.product_attachment.url(:tiny_square)) %>
                      <% end %>
                    </div>
                  </li>
                <% end %>
              <% end %>
            </ul>
          <% end %>
        <% end %>
			</div>
		</div>
	</div>

  <h1><%= title translate_content(@product, :name) %>
    <% if @product.discontinued? %>
      <span class="discontinued">(<%= t('discontinued') %>)</span>
    <% end %>
  </h1>
  <% if @product.badges.size > 0 %>
    <div class="badge-container">
      <% @product.badges.each do |badge| %>
        <%= image_tag(badge.image.url(:medium), alt: badge.name, lazy: false) %>&nbsp;
      <% end %>
    </div>
  <% end %>

	<div class="row">
		<div class="large-8 columns">
			<div id="description">
				<%=raw translate_content(@product, :description) %>
				<div class="hide-for-small">
					<%=raw translate_content(@product, :extended_description) %>
				</div>
        <% if @product.legal_disclaimer.present? %>
          <div class="legal_disclaimer">
            <%= @product.legal_disclaimer %>
          </div>
        <% end %>
			</div>
		</div>
		<div class="large-4 columns">

			<% if website.has_online_retailers? || website.has_distributors? || website.has_dealers? || !@product.direct_buy_link.blank? %>
			<div id="product_buy_now_box">
				<%= buy_it_now_link(@product) %>
			</div>
			<% end %>

			<%= links_to_current_promotions(@product) %>

      <%= hpro_contact_buttons %>
			<%= draw_info_accordion @product %>
      <%= render_partial 'shared/other_languages_button', item: @product %>

		</div>
	</div>
<% end # cache %>

<% if I18n.locale.to_s.match(/en/i) && !@product.hide_buy_it_now_button? %>
<%= content_for :dealer_popup do %>
	<%= cache ["online_retailer_links_for", @product] do %>
	<div>
		<div style="float: left;">
			<h2><%= t('titles.buy_online') %></h2>
		</div>
		<div style="float: right; margin-top: 12px;">
			<%= form_tag partner_search_path, method: :get %>
				<%= t('us_zip_code') -%>: <%= text_field_tag "zip", session[:zip], size: 8 %>
				<%= submit_tag t('find_us_dealers') %>
				<%= link_to t("international_distributors"), international_distributors_path %>
			</form>
		</div>
		<div class="clear"></div>
	</div>
	<div id="dealers">
	<div id="online_retailers">
		<%= render_partial "shared/buynow", product: @product %>
	</div>
	</div>
	<div style="clear:both"></div>
	<% end %>
<% end %>
<% end %>

<% if current_user && can?(:manage, @product) %>
<div class="admin_function">
	<%= link_to "edit", [:admin, @product] %>
</div>
<% end %>
