<h1>Effect Types</h1>

<%= form_for [:admin, @effect_type], remote: true do |f| %>
	<%= f.label :name, "New Effect Type:" %>
	<%= f.text_field :name, size: 12 %>
	<%= f.submit %>
<% end %>

<ul id="effect_types" class="sortable_list">
	<% @effect_types.each do |effect_type| %>
	<li id="effect_type_<%= effect_type.id %>"><%= effect_type.name %></li>
	<% end %>
</ul>

<%#= sortable_element "effect_types",
        # complete: visual_effect(:highlight, "effect_types"),
        url: update_order_admin_effect_types_path %>

<h2>Listing Effects</h2>

<ul>
	<% @effects.each do |effect| %>
	<li><% unless effect.effect_type_id.blank? %><%= effect.effect_type.name %> - <% end %>
		<%= link_to effect.name, [:admin, effect] %></li>
	<% end %>
</ul>