<h1>Effect Types</h1>

<%= simple_form_for [:admin, @effect_type], remote: true do |f| %>
	<%= f.label :name, "New Effect Type:" %>
	<div class="row collapse">
		<div class="large-10 small-8 columns">
			<%= f.input :name, label: false %>
		</div>
		<div class="large-2 small-4 columns">
			<%= f.button :submit, class: "postfix button" %>
		</div>
	</div>
<% end %>

<ul id="effect_types" class="sortable_list">
	<% @effect_types.find_each do |effect_type| %>
	<li id="effect_type_<%= effect_type.id %>"><%= effect_type.name %></li>
	<% end %>
</ul>

<div class="group">
	<h4 class="subheader">Listing Effects</h4>

	<ul class="list">
		<% @effects.find_each do |effect| %>
		<li><% unless effect.effect_type_id.blank? %><%= effect.effect_type.name %> - <% end %>
			<%= link_to effect.name, [:admin, effect] %></li>
		<% end %>
	</ul>
</div>
