<p>
  <b>Effect Type:</b>
  <% if @effect.effect_type_id.blank? %>
	<span class="alert">none</span> (required in order to show up on product pages)
  <% else %>
  	<%= @effect.effect_type.name %>
  <% end %>
</p>

<ul class="button-group round">
	<li><%= link_to admin_effects_path, class: "small secondary button" do %>
    <%= fa_icon "angle-double-left" %>
  <% end %>
  </li>
	<li><%= link_to edit_admin_effect_path(@effect), class: "small secondary button" do %>
      <%= fa_icon "edit" %>
      Edit
    <% end %>
  </li>
	<li><%= link_to [:admin, @effect], confirm: 'Are you sure?', method: :delete, class: "small alert button" do %>
    <%= fa_icon "trash" %>
    Delete
  <% end %>
  </li>
</ul>

<p>
  <b>Name:</b>
  <%= @effect.name %>
</p>


<div class="group">
	<h4 class="subheader">Available in these Products:</h4>
	<p><%= link_to_function "add a product", "$('#add_effect_form').toggle();"%></p>

	<div id="add_effect_form" style="display:none">
		<%= simple_form_for [:admin, @product_effect], remote: true do |f| %>
			<%= hidden_field_tag :effect_name %>
			<%= hidden_field_tag :called_from, "effect" %>
		    <%= f.hidden_field :effect_id %>
		    <div class="row collapse">
		    	<div class="large-10 small-8 columns">
		    		<%= f.association :product, collection: website.products, label: false %>
		    	</div>
		    	<div class="large-2 small-4 columns">
		    		<%= f.submit "add", class: "postfix button" %>
		    	</div>
		    </div>
		    <p style="text-align: right">
		    	<%= link_to_function "cancel", "$('#add_effect_form').toggle();"%>
		    </p>
		<% end %>
	</div>

	<ul id="product_effects" class="list">
	  <% @effect.product_effects.each do |pe| %>
	  <%= render "/admin/shared/product_effect_row", pe: pe, called_from: "effect" %>
	  <% end %>
	</ul>
</div>
