<%= simple_form_for([:admin, @distributor]) do |f| %>
  <div class="row">
    <div class="large-6 columns">
      <%= f.input :name %>
    </div>
    <div class="large-6 columns">
      <%= f.label :country %>
      <%= f.country_select :country %>
    </div>
  </div>

  <div class="row">
    <div class="large-6 columns">
      <%= f.input :email %>
    </div>
    <div class="large-6 columns">
      <%= f.input :account_number %>
    </div>
  </div>

  <%= f.input :detail, label: "Contact details to show on website", input_html: { class: "mceEditor" } %><br/>

	<br/><%= f.button :submit %>
<% end %>
