<h1><%= @distributor.name %></h1>

<ul class="button-group round">
	<li><%= link_to admin_distributors_path, class: "small secondary button" do %>
    <%= fa_icon "angle-double-left" %>
  <% end %>
  </li>
	<li><%= link_to edit_admin_distributor_path(@distributor, locale: I18n.locale), class: "small secondary button" do %>
      <%= fa_icon "edit" %>
      Edit
    <% end %>
  </li>
	<li><%= link_to [:admin, @distributor], confirm: 'Are you sure?', method: :delete, class: "small alert button" do %>
    <%= fa_icon "trash" %>
    Delete
  <% end %>
  </li>
</ul>

<p><b>Detail:</b></p>
<%= raw @distributor.detail %>

<p>
  <b>Country:</b>
  <%= @distributor.country %>
</p>

<p>
  <b>Email:</b>
  <%= @distributor.email %>
</p>

<p>
  <b>Account Number:</b>
  <%= @distributor.account_number %>
</p>

<div class="group">
  <h4 class="subheader">Brands</h4>

  <%= simple_form_for [:admin, @distributor] do |f| %>

    <%= f.association :brands,
      as: :check_boxes,
      label: false,
      collection: Brand.where(distributors_from_brand_id: [nil, "", 0]).order(Arel.sql("UPPER(name)")) %>

    <br/><%= f.button :submit %>

  <p><i><%= Brand.where("distributors_from_brand_id > 0").pluck(:name).join(", ") %>
  distributors are linked to one of the brands above.</i></p>

  <% end %>
</div>
