<% @istomp = @software.products.first || Product.find("istomp") %>

<% set_meta_tags reverse: true,
                 description: @software.description,
                 keywords: [@software.name, @software.ware_file_name, @software.version] %>

<%= render_partial 'products/istomp_style' %>


<section id="product_content" class="stomp_shop">
  <div class="row">
    <div class="medium-12 columns">
      <header id="product_header">
        <%= image_tag("#{website.folder}/istomp/stomp_shop_logo.png", alt: @page_title) %>
      </header>
      <h2>e-pedal store and virtual road case</h2>
    </div>
  </div>
  <div class="row">
    <div class="medium-3 small-12 columns text-center">
      <%= link_to download_software_path(@software, locale: I18n.locale) do %>
        <%= image_tag "#{website.folder}/stomp_shop_icon.png", alt: "Stomp Shop", size: "128x128", style: "padding-left: 8px" %><br/>
        <div class="free">Free</div>
      <% end %>
      <%= link_to "Download", download_software_path(@software, locale: I18n.locale), class: "medium alert radius button" %>
    </div>

    <div class="medium-3 small-12 columns end">
      <%=raw @software.description %>
      <%= image_tag "available_on_the_app_store.png", alt: "Available on the App Store" %>
    </div>
  </div>
</section>

<%#= render_partial "products/istomp_coverflow", istomp: @istomp, use_popups: true %>
<%= render_partial "products/istomp_epedal_shelves", istomp: @istomp %>

<section id="product_bottom_content" class="hide-for-small">
	<%= render_partial "products/featured_epedals_callout", position: :right %>
	<%= render_partial "products/istomp_callout", position: :left %>
	<div class="clear"></div>
</section>

<%= render_partial 'products/istomp_videos' %>

<span id="help_links" data-supported="<%= escape_javascript website.android_disclaimer_url %>" data-howto="<%= escape_javascript website.non_ios_howto_url %>"></span>

<% if current_user && can?(:manage, @software) %>
<div class="admin_function">
	<%= link_to "edit", edit_admin_software_path(@software) %>
</div>
<% end %>
