<% set_meta_tags  twitter: {
    card: "summary"
  },
  og: {
    image: image_url("#{website.folder}/logo.png"),
    type: 'brand',
    description: @website.site_name,
    title: @website.brand.name
  } %>
<%

#Set variables for the s3 path
edge_js = "edge_vi3000"
s3_homepage_path = "http://" + ENV['S3_HOST_NAME'] + "/homepage/"
s3_homepage_features_path = s3_homepage_path + "features/"
s3_homepage_products_path = s3_homepage_path + "products/"
s3_homepage_edge_url = s3_homepage_features_path + edge_js + "/" + edge_js

# IMPORTANT! UPDATES FOR ***_edge.js file
# update 1. im path for images path
# update 2. load composition for EdgeAction.js path
# "http://soundcraft.com.s3.amazonaws.com/homepage/features/edge_vi3000/" !! Remember to change the project name

# IF there is more than one edge file, make sure all compositions are added to shared/homepage_adobe_edge_runtime script.
# IF there are none, do not render shared/homepage_adobe_edge_runtime .

%>
<div id="feature_container">
  <%= render_partial "main/homepage/homepage_main_features", s3_homepage_features_path: s3_homepage_features_path %>
</div>
<div id="homepage_product_features">
  <%= render_partial "main/homepage/homepage_product_features", s3_homepage_products_path: s3_homepage_products_path %>
</div>
<div id="homepage_banners">
  <%= render_partial "main/homepage/homepage_banners", s3_homepage_path: s3_homepage_path %>
</div>

  <%= render_partial "shared/social_strip" %>
  <%= render_partial "shared/news_and_reviews_strip" %>

<%= content_for :preload do %>
	<%= preload_background_images %>
<% end %>

<%= content_for :popup_code do %>
	<% if website.homepage_popup %>
		<%=raw website.homepage_popup %>
	<% end %>
<% end %>

<div id="homepage-counter" data-counter="<%= @counter %>" data-nextevent="<%= @next_event %>" data-countdowncontainer="<%= @countdown_container %>"></div>
