<% set_meta_tags  twitter: {
    card: "summary"
  },
  og: {
    image: image_url("#{website.folder}/logo.png"),
    type: 'brand',
    description: @website.site_name,
    title: @website.brand.name
  } %>

<%= content_for :feature do %>
	<%= cache ["slideshow", website.brand, I18n.locale] do %>
		<% slides = Setting.slides(website) %>
		<% if slides.size > 0 %>
			<%= orbit_slideshow(slides: slides, duration: 6000, navigation_arrows: false, transition: "fade") %>
		<% end %>
		<%#= video_background_with_features(slides, tagline: true) %>
	<% end %>
<% end %>

<%= render_partial "shared/news_and_reviews_strip" %>
<%= render_partial "main/homepage_product_features" %>

<!--
<div id="homepage_banners">
  <%#= render_partial "main/homepage_banners", s3_homepage_path: s3_homepage_path %>
</div>
-->

<%= render_partial "shared/social_strip" %>

<%= content_for :preload do %>
	<%= preload_background_images %>
<% end %>

<%= content_for :popup_code do %>
	<% if website.homepage_popup %>
		<%=raw website.homepage_popup %>
	<% end %>
<% end %>

<div id="homepage-counter" data-counter="<%= @counter %>" data-nextevent="<%= @next_event %>" data-countdowncontainer="<%= @countdown_container %>"></div>
