<% set_meta_tags  twitter: {
    card: "summary"
  },
  og: {
    image: image_url("#{website.folder}/logo.png"),
    type: 'brand',
    description: @website.site_name,
    title: @website.brand.name
  } %>

<%= content_for :feature do %>
	<%= cache ["slideshow", website.brand, I18n.locale] do %>
		<% slides = Setting.slides(website) %>
		<% if slides.size > 0 %>
			<%= orbit_slideshow(slides: slides, duration: 6000, navigation_arrows: false, transition: "fade") %>
		<% end %>
		<%#= video_background_with_features(slides, tagline: true) %>
	<% end %>
<% end %>

<%= render_partial "shared/news_and_reviews_strip" %>

<%= cache [:homepage_feature, website.brand, I18n.locale] do %>
  <div id="homepage_product_features">
    <div class="row collapse">
      <div class="small-12 medium-12 large-6 columns">
        <div class="row collapse">
          <div class="small-12 text-center columns title_field" >
            <h1>Professional Audio Mixing Consoles</h1>
            <h3>since 1973</h3>
            <a href="/<%= I18n.locale %>/products" class="button radius">click here to view products</a>
          </div>
        </div>
        <div class="row collapse">
          <% @features[1,2].each do |feature| %>
            <div class="small-6 columns bg_transparent">
              <%= link_to feature.string_value do %>
                <%= feature_button(feature) %>
              <% end %>
            </div>
          <% end %>
        </div>
        <% if @features.length > 3 %>
          <% feature = @features[3] %>
          <div class="row collapse">
            <div class="small-12 columns bg_transparent">
              <%= link_to feature.string_value do %>
                <%= feature_button(feature) %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="small-12 medium-12 large-6 columns bg_transparent" >
        <% feature = @features.first %>
        <%= link_to feature.string_value do %>
          <%= feature_button(feature) %>
        <% end %>
        <% if @features.length > 4 %>
          <div class="row collapse">
            <% @features[4,2].each do |feature| %>
              <div class="small-6 columns bg_transparent">
                <%= link_to feature.string_value do %>
                  <%= feature_button(feature) %>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<%= render_partial "shared/social_strip" %>

<%= content_for :preload do %>
	<%= preload_background_images %>
<% end %>

<%= content_for :popup_code do %>
	<% if website.homepage_popup %>
		<%=raw website.homepage_popup %>
	<% end %>
<% end %>

<div id="homepage-counter" data-counter="<%= @counter %>" data-nextevent="<%= @next_event %>" data-countdowncontainer="<%= @countdown_container %>"></div>
