<%
	@meta = Page.find_by lcl_name: 'search'
	meta title: 	@meta.title,
	description: 	strip_html(@meta.description),
	keywords: 		@meta.keywords.gsub(" ", ",")
%>
<div id="header_bc">
	<div id="header_spacer"></div>
	<div id="header_bc_image" >
	<%= image_tag('top_border.gif') %>
	</div>
	<div id="bc">
	<nav class="breadcrumbs" role="menubar" aria-label="breadcrumbs">
		<li class="unavailable"  aria-disabled="true">>></li>
	    <li role="menuitem"><a href="/">Home</a></li>
	    <li role="menuitem" class="current"><a href="#"><%= @meta.title %></a></li>
	</nav>
	</div>
</div>

<div class="row">
<div class="small-12 columns" >
<h1><%= @meta.title %></h1>
You searched for " <span class="color-accent2"><%= @query %></span> ", we found <span class="text-sub-header"><%= @runner %></span> matches for you.
<% if @query.length > 0 && @runner > 0 %>

	<div class="row">
		<div class="small-12 columns" >
			<div data-magellan-expedition="fixed">
			  <dl class="sub-nav">
			    <dd data-magellan-arrival="products"><a href="#products">Products (<%= @products.length %>)</a></dd>
			    <dd data-magellan-arrival="news"><a href="#news">News (<%= @news.length %>)</a></dd>
			  </dl>
			</div>
		</div>
	</div>
	
<div style="margin-top: 20px;">
  <%= form_tag search_path, method: :get %>
  Refine your search:<input type="text" id="query" name="query" value="<%= @query %>" />
  </form>
</div>
	
	<div id="results_products_and_downloads" class="div-border" >
	  <%= render_partial 'main/search/results_products_and_downloads' %>
	</div>
	<div id="results_news" class="div-border">
	  <%= render_partial 'main/search/results_news' %>
	</div>
	
<% else %>

<div style="margin-top: 20px;">
  <%= form_tag search_path, method: :get %>
  Refine your search:<input type="text" id="query" name="query" value="<%= @query %>" />
  </form>
</div>

<div style="height: 400px" class="color-accent">Your search criteria returned nothing. Please try again.</div>
<% end %>
</div>
</div>
<script>
$(document).foundation({
"magellan-expedition": {
  active_class: 'active', // specify the class used for active sections
  threshold: 0, // how many pixels until the magellan bar sticks, 0 = auto
  destination_threshold: 50, // pixels from the top of destination for it to be considered active
  throttle_delay: 100, // calculation throttling to increase framerate
  fixed_top: 50, // top distance in pixels assigend to the fixed element on scroll
  offset_by_height: true // whether to offset the destination by the expedition height. Usually you want this to be true, unless your expedition is on the side.
}
});
</script>