<%= content_for :breadcrumbs do %>
  <li><%= link_to @brand.name, [:toolkit, @brand] %></li>
  <li><%= link_to "Promotions", toolkit_brand_promotions_path(@brand) %></li>
  <li class="current"><span><%= @promotion.name %></span></li>
<% end %>

<%= render "toolkit/brands/left_nav" %>

<%= content_for :title do %><%= @brand.name %> <%= @promotion.name %><% end %>

<%= cache ["toolkit_promotion", @promotion, Date.today] do %>

	<h1><%= @promotion.name %></h1>

	<h5 class="subheader">Promotion valid: <%=l @promotion.start_on, format: :long %> &mdash;
	<%=l @promotion.end_on, format: :long %></h5>

	<% if @promotion.toolkit_instructions.present? %>
	<div><%=raw @promotion.toolkit_instructions %></div>
	<% end %>

	<% if @promotion.tile_file_name.present? %>
	<div><%= image_tag @promotion.tile.url %></div>
	<% end %>

	<div class="row">
		<div class="six columns">
			<h5 class="subheader">Support Material</h5>
			<ul class="disc">
				<% if @promotion.promo_form_file_name.present? %>
				<li> <%= link_to "Promotion Form", @promotion.promo_form.url %> [<%= number_to_human_size(@promotion.promo_form_file_size) %>]
				</li>
				<% end %>
				<%= list_toolkit_support_files_for(@promotion, @brand) %>
			</ul>
		</div>
		<div class="six columns">
			<h5 class="subheader">Eligible Products</h5>
			<ul class="disc">
				<% @promotion.products.each do |product| %>
				<li> <%= link_to product.name, [:toolkit, @brand, product] %></li>
				<% end %>
			</ul>
		</div>
	</div>

<% end %>
