<div class="docs">
<%
  category_names = {
    "gui" => "GUI/Librarians",
    "editor" => "Offline Editors",
    "updater" => "Software Updaters",
    "plugin" => "Plugins",
    "other" => "Other Software",
    "" => "More Downloads"
  }
%>

  <table style="width: 100%">
    <thead>
      <tr>
        <%# Robert Svensson really hates the work "Filename". %>
        <td><!--Filename-->&nbsp;</td>
        <td>Version</td>
        <td>Language</td>
        <td>Size</td>
        <td>Uploaded</td>
      </tr>
    </thead>
    <tbody>

<% (category_names.keys & product.active_softwares.pluck(:category).uniq).each do |category| %>
  <tr>
    <td colspan=5>
      <% if category.present? %>
        <h5><%= category_names[category] %></h5>
      <% else %>
        <h5>More Downloads</h5>
      <% end %>      
    </td>
  </tr>



    <% product.active_softwares.each do |software| %>
      <% if software.category == category %>
        <%= render_partial 'products/download_table_row', item: software %>
        
        <% software.software_attachments.each do |sa| %>
          <%= render_partial 'products/download_table_row', item: sa %>
        <% end %> <%# software.software_attachments.each do |sa| %>
        <% if software.previous_versions.length > 0 %>
          <%= render_partial 'products/download_table_row', item: software.previous_versions.first %>

          <% software.previous_versions.first.software_attachments.each do |sa| %>
            <%= render_partial 'products/download_table_row', item: sa %>
          <% end %> <%# software.previous_versions.first.software_attachments.each do |sa| %>
        <% end %> <%# if software.previous_versions.length > 0 %>
      <% end %> <%# if software.category == category %>
    <% end %> <%# product.active_softwares.each do |software| %>


<% end %> <%# (category_names.keys & product.active_softwares.pluck(:category).uniq).each do |category| %>


  <% product.executable_site_elements.each do |site_element| %>
    <% if can?(:read, site_element) %>
      <%= render_partial 'products/download_table_row', item: site_element %>
    <% end %>
	<% end %>


    </tbody>
  </table>

</div> <!-- <div class="docs"> -->