<%
	meta title: prefix_brand(@products.name),
	description: strip_html(@products.short_description),
	keywords: @products.keywords.gsub(" ", ",")
	
	live_status = @products.live
%>
<div id="header_bc">
	<div id="header_spacer"></div>
	<div id="header_bc_image" >
	<%= image_tag('top_border.gif') %>
	</div>
	<div id="bc">
	<nav class="breadcrumbs" role="menubar" aria-label="breadcrumbs">
		<li class="unavailable"  aria-disabled="true">>></li>
	    <li role="menuitem"><a href="/">Home</a></li>
    	<li role="menuitem"><a href="/products">Products</a></li>
    	<% if @products.live == 1 %>
	    	<% if @products.product_sub_category_id > 0 %>
	    		<li role="menuitem"><a href="/products/<%= urlise(@products.product_category.name) %>"><%= @products.product_category.name %></a></li>
	    		<li role="menuitem"><a href="/products/<%= urlise(@products.product_category.name) %>/<%= urlise(@products.product_sub_category.name) %>"><%= @products.product_sub_category.name %></a></li>
	    	<% else %>
	    		<li role="menuitem"><a href="/products/<%= urlise(@products.product_category.name) %>"><%= @products.product_category.name %></a></li>
	    	<% end %>
    	<% else %>
    		<li role="menuitem"><a href="/products/discontinued-products">Discontinued Products</a></li>
    	<% end %>
    	
    	<li role="menuitem" class="current"><a href="#"><%= prefix_brand(@products.name) %></a></li>
	</nav>
	</div>
</div>
<div id="product_image">
  <%= render_partial 'products/product_partials/product_image' %>
</div>
<div id="product_thumbnails">
  <%= render_partial 'products/product_partials/product_thumbnails' %>
</div>
<div id="product_summary">
  <%= render_partial 'products/product_partials/product_summary' %>
</div>
<% if live_status == 1 %>
<div id="product_applications">
  <%= render_partial 'products/product_partials/product_applications' %>
</div>
<div id="product_banners">
  <%= render_partial 'products/product_partials/product_banners' %>
</div>
<% end %>
<div id="product_sections">
  <%= render_partial 'products/product_partials/product_sections' %>
</div>
<div id="product_shortcuts">
  <%= render_partial 'products/product_partials/product_shortcuts' %>
</div>
<div id="product_buy_now">
  <%= render_partial 'products/product_partials/product_buy_now' %>
</div>
<br/><br/>
