<%= simple_form_for([:admin, @software], html: {multipart: true}) do |f| %>

  <div class="row">
    <div class="large-8 columns">
      <%= f.input :name %>
    </div>
    <div class="large-4 columns">
      <%= f.input :version %>
    </div>
  </div>    

  <div class="row">
    <div class="large-4 columns">
      <%= f.input :category, 
            collection: [["GUI/Librarian", "gui"], 
              ["Updater", "updater"], 
              ["Plugin", "plugin"],
              ["Other", "other"]] %>      
    </div>
    <div class="large-4 columns">
      <%= f.input :platform, hint: "(ie; Windows, Mac OS X 10.3.5, Fedora 14 rpm, Source)" %>
    </div>
    <div class="large-4 columns">
      <%= f.input :bit, hint: "(32, 64, leave blank if not applicable)" %>
    </div>
  </div>

  <div class="row">
    <div class="large-4 columns">
      <%= f.input :ware, label: "Software" %>
    </div>
    <div class="large-8 columns">
      <%= f.input :link, label: "Or provide a link" %>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns" style="padding-top: 20px; padding-bottom: 30px;">
      <%= f.input :description, 
          label: "Description (Leave the description blank if you want incoming links to go directly to the download.)", 
          input_html: { class: "mceEditor" } %>
    </div>
  </div>

  <div class="row">
    <div class="large-4 columns">
      <%= f.input :active %>
      <%= f.input :active_without_products, label: "Active even if there are no corresponding active products." %>
    </div>
    <div class="large-4 columns">
      <%= f.input :replaces_id, 
            label: "Replaces current version of",
            collection: [[]] + website.softwares.where(active: true).order("name").map{|s| [s.formatted_name, s.id]} %>
    </div>
    <div class="large-4 columns">
      <% if website.page_layouts %>
        <%= f.input :layout_class, 
            label: "Page layout style",
            hint:  "(not all brands have multiple layouts)",
            collection: website.page_layouts.split("|") %>
      <% end %>
    </div>
  </div>

  <fieldset>
    <legend>Software Activation</legend>
    <p>Originally developed for the activation of Lexicon plugins which don't use iLok,
      this can also be used for other software which require URL-based activation.</p>

    <div class="large-6 columns">
      <%= f.input :activation_name, hint: "(passed in the URL during activation)" %>
    	<%= f.input :multipliers, 
          label: "Hex numbers to use to multiply each challenge segment during activation",
          input_html: { rows: 5 } %>
    </div>
    <div class="large-6 columns">
      <div class="panel">
<p>Example: expects a 3-segment challenge where each is multiplied by the corresponding odd or even key:</p>
<pre>[
  {even: 0xf31a29b0, odd: 0xf33a29b3},
  {even: 0x01fa39b1, odd: 0x7319b9b7},
  {even: 0xcc232774, odd: 0xd6661891}
]</pre>
      </div>
    </div>
  </fieldset>

  <br/><%= f.button :submit %>

<% end %>