<h1>Software</h1>

<% if can? :create, Software %>
<ul class="button-group round">
	<li><%= link_to 'New software', new_admin_software_path, class: "small success button" %></li>
</ul>
<% end %>

<table class="data">
  <tr>
    <th>Name</th>
    <th>Version</th>
    <th>Platform</th>
    <th>Active?</th>
    <th>Downloads</th>
    <th>Older versions</th>
  </tr>

<% @softwares.each do |software| %>
  <tr style="background: <%= cycle 'white', 'none' %>">
    <td><%= link_to software.name, [:admin, software] %></td>
    <td><%= software.version %></td>
    <td><%= software.platform %></td>
    <td><%= (software.active) ? "yes" : "no" %></td>
    <td style="text-align: center"><%=number_with_delimiter(software.download_count) %></td>
    <td style="text-align: center"><% if software.previous_versions.count > 0 %>
      <%= link_to software.previous_versions.count, [:admin, software] %></td>
      <% end %>
    </td>
  </tr>
<% end %>
</table>

