<h1><%=h @software.name %>
	<span class="little"><%= link_to(software_url(@software, locale: I18n.locale), software_url(@software, locale: I18n.locale)) %>
	<%= link_to(image_tag("icons/external_link_icon.png"), software_url(@software, locale: I18n.locale)) %></span></h1>

<ul class="button-group round">
	<li><%= link_to 'Back', admin_softwares_path, class: "small secondary button" %></li>
	<li><%= link_to 'Edit', edit_admin_software_path(@software), class: "small secondary button" %></li>
	<li><%= link_to 'Delete', [:admin, @software], confirm: 'Are you sure?', method: :delete, class: "small alert button" %> </li>
</ul>

<p>
  <b>File:</b>
	<% if !@software.link.blank? %>
		<%= @software.link %>
	<% else %>
		<%= link_to @software.ware_file_name, @software.ware.url %>
		[<%=number_to_human_size @software.ware_file_size %>]
	<% end %>
</p>

<p>
  <b>Download count:</b>
  <%=h @software.download_count %>
</p>

<p>
  <b>Platform:</b>
  <%=h @software.platform %>
</p>

<p>
  <b>Version:</b>
  <%=h @software.version %>
	<% if @software.bit.present? %>
		<%= @software.bit %>bit
	<% end %>
</p>
<p>
  <b>Description:</b>
  <%= truncate(strip_html(@software.description), length: 75) %>
</p>

<p>
  <b>Active:</b>
  <%=h @software.active %>
</p>

<div class="row">
  <div class="small-12 medium-6 columns">
    <div id="software" class="group">
      <h4 class="subheader">Related Products</h4>
      <%= simple_form_for [:admin, @product_software], remote: true do |f| %>
        <%= f.association :product,
        label: false,
        collection: Product.not_associated_with_this_software(@software, website),
        input_html: { class: 'chosen-select', multiple: true,  data: { placeholder: 'Select Related Products'} }%>

        <%= hidden_field_tag "called_from", "software" %>
        <%= f.hidden_field :software_id %>
        <%= submit_tag 'submit', class: "small round button", style: "margin-top:10px;"  %>
        <% if can? :create, Product %>
        or <%= link_to "create a new product", new_admin_product_path %>
        <% end %>
      <% end %>
      <ul id="product_softwares" class="list">
        <% @software.product_softwares.each do |product_software| %>
          <%= render "/admin/shared/product_software_row", ps: product_software, called_from: 'software' %>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="small-12 medium-6 columns">
    <div class="group">
      <h4 class="subheader">Locales which should show this software</h4>
        <p>Leave blank to show this software for all locales.</p>
        <%= simple_form_for [:admin, @locale_software], remote: true do |f| %>
          <%= f.hidden_field :software_id %>
          <div class="row collapse">
              <div class="large-7 small-8 columns">
              <%= f.input :locale, label: false, collection: website.website_locales, value_method: :locale %>
            </div>
            <div class="large-2 small-4 columns">
              <%= submit_tag 'add', class: "postfix button"  %>
            </div>
            <div class="large-3 columns"></div>
          </div>
        <% end %>

        <ul id="locale_softwares" class="list">
          <% @software.locale_softwares.each do |ls| %>
            <%= render "/admin/shared/locale_software_row", ls: ls %>
          <% end %>
        </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="small-12 medium-6 columns">
    <div id="software_attachments" class="group">
      <h4 class="subheader">Attachments<small> (Release Notes, Install Guides, other PDFs)</small></h4>
      <%= simple_form_for [:admin, @software_attachment], html: {multipart: true} do |f| %>
        <%= f.hidden_field :software_id %>
        <div class="row">
          <div class="large-6 columns">
            <%= f.input :name %>
          </div>
          <div class="large-6 columns">
            <%= f.input :software_attachment, label: "Attachment" %>
          </div>
        </div>
        <%= submit_tag "upload", class: "small round button"  %>
      <% end %>

      <ul id="software_attachments_list" class="list">
        <% @software.software_attachments.each do |sa| %>
        <% if !sa.software_attachment_file_name.blank? %>
          <%= render '/admin/shared/software_attachment_row', sa: sa %>
        <% end %>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="small-12 medium-6 columns">
    <% if website.has_software? && can?(:manage, SoftwareTrainingModule) %>
    <div id="software" class="group">
      <h4 class="subheader">Training Modules</h4>
      <%= simple_form_for [:admin, @software_training_module], remote: true do |f| %>
        <%= f.association :training_module, label: false, collection: website.training_modules %>
        <%= hidden_field_tag "called_from", "software" %>
        <%= f.hidden_field :software_id %>
        <%= submit_tag 'submit', class: "small round button"  %>
        or <%= link_to "add new training module", new_admin_training_module_path %>
      <% end %>

      <ul id="software_training_modules" class="list">
        <% @software.software_training_modules.each do |stm| %>
          <%= render "/admin/shared/software_training_module_row", stm: stm, called_from: 'software' %>
        <% end %>
      </ul>
    </div>
    <% end %>
  </div>
</div>

<% if @software.previous_versions.size > 0 %>
	<h2 class="subheader">Previous Versions</h2>

	<ul class="list">
		<% @software.previous_versions.each do |s| %>
		<li><%= link_to s.formatted_name, [:admin, s] %></li>
		<% end %>
	</ul>
<% end %>
