<% set_meta_tags 	twitter: {
		card: "summary"
	},
	og: {
		image: image_url("#{website.folder}/logo.png"),
		type: 'website',
		description: "Information Delivery Systems by Harman Professional",
		title: "IDX by Harman"
	} %>


<%= content_for :feature do %>
	<%= cache ["slideshow", website.brand, I18n.locale] do %>
		<% slides = Setting.slides(website) %>
		<% if slides.size > 0 %>
			<%= slideshow(slides: slides, duration: 8700, transition: "fade") %>
		<% end %>
	<% end %>
<% end %>

<%= content_for :middle_stuff do %>
	<%= cache ["homepage_features", website.brand, I18n.locale] do %>
		<% if @features.size > 0 %>
			<% @features.each do |feature| %>
			<span class="homepage_feature">
				<%= feature_button(feature) %>
			</span>
			<% end %>
		<% end %>
	<% end %>
	<div class="clear"></div>
<% end %>

<%= content_for :big_bottom_box do %>
    <div style="float: right; width: 265px;">
		<% if website.email_signup_url %>
			<%= render_partial 'shared/newsletter_signup' %>
		<% end %>
		<% if website.homepage_column_three && !website.homepage_column_three.blank? %>
			<%= render_partial "shared/column_for_#{website.homepage_column_three}" %>
		<% elsif website.homepage_column_3 && !website.homepage_column_3.blank? %>
			<%= render_partial "shared/column_for_#{website.homepage_column_3}" %>
		<% else %>
			<%#= render_partial 'shared/column_for_twitter' %>
		<% end %>
	</div>

	<div style="float: left; width: 290px; margin-left: 10px">
		<% if website.homepage_column_one && !website.homepage_column_one.blank?%>
			<%= render_partial "shared/column_for_#{website.homepage_column_one}" %>
		<% elsif website.homepage_column_1 && !website.homepage_column_1.blank? %>
			<%= render_partial "shared/column_for_#{website.homepage_column_1}" %>
		<% else %>
			<%#= render_partial 'shared/column_for_news' %>
		<% end %>
	</div>

	<div style="margin-left: 315px; margin-right: 320px;">
		<% if website.homepage_column_two && !website.homepage_column_two.blank? %>
			<%= render_partial "shared/column_for_#{website.homepage_column_two}" %>
		<% elsif website.homepage_column_2 && !website.homepage_column_2.blank? %>
			<%= render_partial "shared/column_for_#{website.homepage_column_2}" %>
		<% elsif @youtube && !@youtube.blank? %>
			<%#= render_partial 'shared/column_for_youtube' %>
		<% elsif !website.facebook.blank? %>
			<%#= render_partial 'shared/column_for_facebook' %>
		<% end %>
	</div>
<% end %>

<%= content_for :preload do %>
	<%= preload_background_images %>
<% end %>

<%= content_for :popup_code do %>
	<% if website.homepage_popup %>
		<%=raw website.homepage_popup %>
	<% end %>
<% end %>

<div id="homepage-counter" data-counter="<%= @counter %>"></div>
