<% if @selected_document_type %>
	<h2>
		<%= t("language.#{@selected_language}") %> 
		<%= t("document_type.#{@selected_document_type}") %> 
		<%= ucfirst(t("downloads")) %>
	</h2>
	<ul>
		<% @product_documents.each do |product_document| %>
		<li>
			<% if product_document.document_content_type.match(/pdf/i) %>
				<%= image_tag("pdf_17.png", style: "vertical-align: middle") %>
			<% end %>
			<%= link_to product_document.name, product_document.document.url %>
		</li>
		<% end %>
	</ul>
<% elsif @selected_language %>
	<h2>
		<%= t("language.#{@selected_language}") %> 
		<%= ucfirst(t("downloads")) %>
	</h2>
	<ul>
		<% @document_types.each do |product_document| %>
		<li><%= link_to(t("document_type.#{product_document.document_type}"), 
					downloads_path(
						language: @selected_language, 
						document_type: product_document.document_type
					)
				) %>
		</li>
		<% end %>
	</ul>
<% else %>
	<h2><%= ucfirst(t("downloads")) %></h2>
	<ul>
		<% @languages.each do |product_document| %>
		<li><%= link_to(t("language.#{product_document.language}"),
					downloads_path(language: product_document.language)
				) %>
		</li>
		<% end %>
	</ul>
<% end %>