<h1>Label Sheet Orders</h1>

<% if can? :create, LabelSheet %>
<div class="button_container">
	<%= link_to 'Export All', admin_label_sheet_orders_path(format: 'xls'), class: "edit button" %>
	<%= link_to 'Export Subscribers', subscribers_admin_label_sheet_orders_path(format: 'xls'), class: "edit button" %>
</div>
<% end %>

<table>
	<thead>
	<tr>
		<th>Name</th>
		<th>Sheets</th>
		<th>Ordered On</th>
		<th>Shipped On</th>
	</tr>
	</thead>

	<tbody>
	<% @label_sheet_orders.each do |lso| %>
	<tr>
		<td><%= link_to lso.name, [:admin, lso] %></td>
		<td><%= lso.expanded_label_sheets.collect{|ls| ls.name}.join(", ") %></td>
		<td><%=l lso.created_at.to_date %></td>
		<td><%= (lso.mailed_on.present?) ? l(lso.mailed_on.to_date) : "--" %></td>
	</tr>
	<% end %>
	</tbody>
</table>