<h1>Label Sheet Order</h1>

<ul class="button-group round">
	</li><%= link_to 'Back', admin_label_sheet_orders_path, class: "small secondary button" %></li>
	<%#= link_to 'Edit', edit_admin_label_sheet_order_path(@label_sheet_order), class: "small secondary button" %> 
	<%#= link_to 'Delete', [:admin, @label_sheet_order], confirm: 'Are you sure?', method: :delete, class: "small alert button" %>
</ul>

<h3>Customer</h3>
<p><%= @label_sheet_order.name %><br/>
<%= @label_sheet_order.address %><br/>
<%= @label_sheet_order.city %> <%= @label_sheet_order.state %> <%= @label_sheet_order.postal_code %><br/>
<%= @label_sheet_order.country %></p>

<p>email: <%= @label_sheet_order.email %></p>

<p>Subscribe? <%= @label_sheet_order.subscribe? ? "Yes" : "No" %></p>

<h4 class="subheader">Label Sheets Requested:</h4>
<ul class="list">
	<% @label_sheet_order.expanded_label_sheets.each do |sheet| %>
	<li><%= link_to sheet.name, [:admin, sheet] %> (<%= sheet.label_names %>)</li>
	<% end %>
</ul>

<h5 class="subheader">Order Status</h5>
<p>
	Created: <%=l @label_sheet_order.created_at.to_date %><br/>
	Mailed: <%= (@label_sheet_order.mailed_on.present?) ? l(@label_sheet_order.mailed_on.to_date) : link_to("not yet--mark shipped now", label_sheet_order_fulfillment_path(@label_sheet_order, @label_sheet_order.secret_code)) %>
</p>

