<%= content_for :feature do %>
  <div class="solutions">
    <section id="intro">
      <div class="row">
        <div class="medium-12 columns">
          <h1>如<span class="purple">A<span class="blue">B</span><span class="green">C</span><span class="red">D</span>般简单地认识网络音频</h1>
        </div>
      </div>
      <div class="row">
        <div class="medium-8 columns">
          <h3>简易、灵活且极具成本效益的固定安装解决方案</h3>
          <p>Crown与BSS提供了AVB、CobraNet®与DANTE&trade;音频传输解决方案，通过BLU Link端口来进行传输，用HiQnet Audio Architect软件来管理控制。我们独特的音频传输解决方案大大地降低了技术基础协议的许可费用及成本。</p>
        </div>
        <div class="medium-4 columns text-center">
          <%= link_to "https://adn.harmanpro.com/site_elements/resources/1368_1439226497/Installed_Sound_Solutions_Infographic_sm_080515_original.pdf" do %>
            <div><small><i>Download the Infographic:</i></small></div>
            <%= image_tag 'solutions/infographic_thumb.jpg', alt: 'Installed Solutions Infographic' %>
          <% end %>
        </div>
      </div>
    </section>
    <section class="black">
      <div class="row">
        <div class="large-12 columns"><%= image_tag "solutions/cloud.png", class: "cloud", alt: "cloud" %></div>
      </div>
      <div class="row fadein">
        <div class="slideright small-3 columns">
          <p><%= image_tag "solutions/rack.png", alt: "rack room" %></p>
          <p>Location 1</p>
        </div>
        <div class="slideright small-3 columns">
          <p><%= image_tag "solutions/rack.png", alt: "rack room" %></p>
          <p>Location 2</p>
        </div>
        <div class="slideright small-3 columns">
          <p><%= image_tag "solutions/rack.png", alt: "rack room" %></p>
          <p>Location 3</p>
        </div>
        <div class="slideright small-3 columns">
          <p><%= image_tag "solutions/rack.png", alt: "rack room" %></p>
          <p>Location X</p>
        </div>
      </div>
    </section>
    <section class="black" id="flexible-solutions">
      <div class="row">
        <div class="large-12 columns">
          <h2>灵活的解决方案</h2>
          <h3>BSS Soundweb&trade; London与Corwn DriveCore&trade; 固定安装系列</h3>
          <p>BSS Soundweb™ London具有一套信号处理解决方案与大部分网络音频传输协议相兼容。通过处理器与功放上的BLU Link端口功能，Soundweb London处理器可以轻松与任何Corwn DriveCore固定安装系列网络功放配合使用。— 该功能将会在更多的哈曼产品上使用。</p>
          <%= image_tag "solutions/soundweb.png", alt: "cloud" %>
        </div>
      </div>
    </section>
    <section class="grey" id="affordable-solutions">
      <div class="row">
        <div class="large-12 columns">
          <h2>高性价比解决方案</h2>
          <h3>同样的高质量音频，只需几分之一的成本 </h3>
        </div>
      </div>
      <div class="row">
        <div class="small-12 large-6 columns">
          <p>AVB、CobraNet与DANTE在很多应用场所十分好用，但这些技术由于每单个产品的许可费用会变得十分昂贵。这正是我们能帮上忙的地方。使用哈曼固定安装系列解决方案，BLU Link是一个高性价比的解决方案可以满足AVB、CobraNet与DANTE协议同样的功能 — 通过5类线将音频从一个地方传输到另一个地方。</p>
        </div>
        <div class="small-12 large-6 columns">
          <p>BLU Linbk功放没有任何的许可费用添加到产品里，技术相较AVB、CobraNet与DANTE更加具备成本效益，且BLU Link不需要加配网络交换机。通过BLU Link，听众可以享受同样的高品质音频，但只需AVB、CobraNet或DANTE设备几分之一的成本。</p>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <%= image_tag "solutions/affordable-simple-chart.png", alt: "Affordable options chart" %>
        </div>
      </div>
    </section>
    <section class="dark-primary" id="blu-link">
      <div class="row">
        <div class="large-12 columns">
          <h2>BLU link</h2>
          <h3>一个高带宽，低延时的音频总线，可作为独立的技术来使用，或作为DANTE、AVB与CobraNet的补益。</h3>
        </div>
      </div>
      <div class="row fadein">
        <div class="small-12 columns slideleft">
          <%= image_tag "solutions/blu-illustration.png", alt: "cloud" %>
        </div>
      </div>
      <div class="row">
        <div class="small-12 columns">
          <%= image_tag "solutions/blu-illustration-2.png", alt: "cloud" %>
        </div>
      </div>
    </section>
    <section id="dante">
      <div class="row">
        <div class="small-12 columns">
          <h1>Dante</h1>
          <h3>通过BLU Link来连接DANTE系统，成本更低功能更强大 </h3>
        </div>
      </div>
      <div class="row">
        <div class="small-12 columns"><%= image_tag "solutions/cloud-dante.png", alt: "cloud" %></div>
      </div>
      <div class="row">
        <div class="small-12 columns">
          <p>DANTE音频信号能通过BSS Soundweb London BLU-806、BLU-326、或是BLU-DAN进入Corwn DCi网络功放。BLU-806/326/DAN都能通过多点的DANTE音频，通过现有的交换机及网络。他们可以将DANTE音频转换为BLU Link协议以降低音频传输的成本，且支持高达每个机柜/房间60个设备。</p>
          <p>使用BLU Link来传输DANTE协议大大降低了基础设施的成本与系统复杂性。当使用BLU Link协议时，产品的技术许可费用将被大大削减。</p>
        </div>
      </div>
    </section>
    <section class="grey" id="cobranet">
      <div class="row">
        <div class="large-12 columns">
          <h2>CobraNet</h2>
          <h3>通过BLU Link来连接CobraNet系统，成本更低功能更强大</h3>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns"><%= image_tag "solutions/cloud-cobra.png", alt: "cloud" %></div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <p>CobraNet 音频信号能通过BSS Soundweb London BLU-800、BLU-320进入Corwn DCi网络功放。BLU-800与BLU-320都能通过多点的CobraNet音频，通过现有的交换机及网络。他们可以将CobraNet音频转换为BLU Link协议以降低音频传输的成本，且支持高达每个机柜/房间60个设备。</p>
          <p>使用BLU Link来传输CobraNet协议大大降低了基础设施的成本与系统复杂性。当使用BLU Link协议时，产品的技术许可费用将被大大削减。</p>
          <p>在CobraNet系统除了可以使用DCi网络功放，Crown i-Tech HD系列功放也能直接接收CobraNet信号。所有的i-Tech HD系列型号每个通道口都可提供70Vrms/100Vrms的定压输出。</p>
        </div>
      </div>
    </section>
    <section id="avb">
      <div class="row">
        <div class="large-12 columns">
          <h2>AVB</h2>
          <h3>通过BLU Link来连接AVB系统，成本更低功能更强大 </h3>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns"><%= image_tag "solutions/cloud-avb.png", alt: "cloud" %></div>
      </div>
      <div class="row">
        <div class="small-12 columns">
          <p>AVB 音频信号能通过BSS Soundweb London BLU-805、BLU-325进入Corwn DCi网络功放。BLU-805与BLU-325都能通过多点的AVB音频，通过现有的交换机及网络在全园区传输。他们可以将AVB音频转换为BLU Link协议以降低音频传输的成本，且支持高达每个机柜/房间60个设备。</p>
          <p>AVB设备不需要许可费用，但技术的实施费用相较BLU Link要高很多，编程也十分复杂且网络交换机昂贵。幸运的是，BLU Link解决方案可以帮助您来降低这些费用。</p>
          <p>除了可以在AVB系统使用DCi系列网络功放以外，Crown DriveCore Install ND系列网络功放可以直接接收AVB音频，是由AVnu®联合会认证的与AVB解决方案共用的产品。目前已经有两款型号上市：4|1250ND 与 8|600ND。</p>
        </div>
      </div>
    </section>
    <section class="dark-primary" id="outro">
      <div class="row">
        <div class="small-12 large-8 columns small-text-center medium-text-center">
          <h3>让我们给您提供最适合您的解决方案</h3>
        </div>
        <div class="small-12 large-4 columns small-text-center medium-text-center">
          <%= link_to t('contact_us'), support_path, class: "button secondary" %>
        </div>
      </div>
    </section>
  </div>
<% end %>
