<p>Great news. Your quote #<%= @custom_shop_quote.number %> has been updated.</p>

<p>
<%= link_to custom_shop_custom_shop_quote_url(@custom_shop_quote,
  locale: I18n.default_locale,
  protocol: Rails.env.production? ? 'https' : 'http',
  host: @custom_shop_quote.brand.default_website.url) do %>
    Click here to view pricing.
  <% end %>
</p>

<hr/>

<p><strong>Opportunity</strong></p>
<p>
Number: <%= @custom_shop_quote.opportunity_number %><br/>
Name: <%= @custom_shop_quote.opportunity_name %><br/>
Location: <%= @custom_shop_quote.location %><br/>
Requested Delivery: <%=l @custom_shop_quote.request_delivery_on, format: :long %>
</p>

<p><strong>Project Description</strong></p>
<div><%= @custom_shop_quote.description %></div>
