<h1>Homepage Stuff</h1>

<div class="group">
	<h3>Slideshow</h3>
	<%= link_to_function "new slide", "$('#new_slide_form').toggle()", class: "small success button" %>
	<div id="new_slide_form" style="margin: 10px; display:none;" class="instructions">
		<%= form_for([:admin, @new_slide], html: {multipart: true}) do |f| %>
			<%= f.error_messages %>
			<%= hidden_field_tag "called_from", "homepage" %>
		    <%= f.hidden_field :setting_type %>
			<%= f.hidden_field :integer_value %>
			<p>
			  <%= f.label :name %> (for your reference only)<br />
			  <%= f.text_field :name %>
			</p>
			<p>
			  <%= f.label :slide %><br />
			  <%= f.file_field :slide %>
			</p>
			<p>
			  <%= f.label :string_value, "URL to link slide to" %> (optional)<br />
			  <%= f.text_field :string_value %><br/>
			  <i>URLs beginning with a partial path (ie, "products/rp1000") will be relative to the visitor's selected language.</i>
			</p>
			<p>
				<%= f.label :start_on %> (optional)<br/>
				<%= f.text_field :start_on, class: 'ui-datepicker', id: "new_slide_start_on" %>
			</p>
			<p>
				<%= f.label :remove_on %> (optional)<br/>
				<%= f.text_field :remove_on, class: 'ui-datepicker', id: "new_slide_remove_on" %>
			</p>
			<%= f.submit "create slide" %>
			<%= link_to_function "cancel", "$('#new_slide_form').hide()" %>
		<% end %>
	</div>
	<ul id="slides" class="sortable_list" style="margin-top: 20px;">
		<%= render partial: "admin/shared/slide", collection: @slides %>
	</ul>
</div>

<div class="group">
	<h3>Feature Buttons</h3>
	<div class="instructions">These appear in the middle section of the homepage...arranged horizontally. (If you leave these blank, then the site will show the product family buttons instead.)</div>
	<%= link_to_function "new feature", "$('#new_feature_form').toggle()", class: "small success button" %>
	<div id="new_feature_form" style="margin: 10px; display:none;" class="instructions">
		<%= form_for([:admin, @new_feature], html: {multipart: true}) do |f| %>
			<%= f.error_messages %>
			<%= hidden_field_tag "called_from", "homepage" %>
		    <%= f.hidden_field :setting_type %>
			<%= f.hidden_field :integer_value %>
			<p>
			  <%= f.label :name %> (for your reference only)<br />
			  <%= f.text_field :name %>
			</p>
			<p>
			  <%= f.label :slide, "image/button" %><br />
			  <%= f.file_field :slide %>
			</p>
			<p>
			  <%= f.label :string_value, "URL to link image to" %> (optional)<br />
			  <%= f.text_field :string_value %><br/>
			  <i>URLs beginning with a partial path (ie, "products/rp1000") will be relative to the visitor's selected language.</i>
			</p>
			<p>
				<%= f.label :start_on %> (optional)<br/>
				<%= f.text_field :start_on, class: 'ui-datepicker', id: "new_feature_start_on"  %>
			</p>
			<p>
				<%= f.label :remove_on %> (optional)<br/>
				<%= f.text_field :remove_on, class: 'ui-datepicker', id: "new_feature_remove_on"  %>
			</p>
			<%= f.submit "create feature" %>
			<%= link_to_function "cancel", "$('#new_feature_form').hide()" %>
		<% end %>
	</div>
	<ul id="features" class="sortable_list" style="margin-top: 20px;">
		<%= render partial: "admin/shared/feature", collection: @features %>
	</ul>
</div>

<div class="group">
	<h3>Big Bottom Box</h3>
	<div class="instructions">If your site has a big bottom box on the homepage, then use these settings to control which content appears in the columns. If you don't know if your site has this, please don't ask Adam using phrases like, "Do I have a big bottom..."</div>
	
	<%= form_for(:settings, url: big_bottom_box_admin_settings_path ) do |f| %>
		<% @columns.each_with_index do |column,i| %>
		<%= f.fields_for "setting[#{i}]", column do |col| %>
			<div class="field">
				<%= col.label :string_value, column.name.titleize %>
				<% if i == 3 %>(not all sites have 4 columns)<% end %>
				<br/>
				<%= col.select :string_value, [[]] + @column_options  + [["HTML (edit text for setting 'homepage_column_#{i+1}')", "html_column_#{i+1}"]] %>
				<%= col.hidden_field :setting_type %>
				<%= col.hidden_field :brand_id %>
				<%= col.hidden_field :name %>
			</div>
		<% end %>
		<% end %>
		<div class="actions">
			<%= f.submit %>
		</div>
	<% end %>
</div>
