<h1>Settings</h1>

<% if can? :create, Setting %>
<ul class="button-group round">
	<li><%= link_to 'New Setting', new_admin_setting_path, class: "small success button" %></li>
</ul>
<% end %>

<div class="instructions">
<p>If you want to translate settings for other languages, keep in mind that you
	DON'T HAVE TO. Any setting which does not have a corresponding translation
	will use the default language. This might be best in some cases like settings
	for google analytics, twitter, etc.</p>
	
<p>However, if you do need to translate a setting (ie, slideshow frames), then
	click the <%= link_to 'New setting', new_admin_setting_path %> link and be
	sure to set the correct locale.</p>
</div>

<ul class="list">
<% @settings.each_with_index do |setting,i| %>
  <% unless i==0 || setting.locale == @settings[(i-1)].locale %>
    <h3><%= setting.locale %></h3>
  <% end %>
  <li><%= link_to setting.name, [:admin, setting] %> 
	<span class="small"><%= setting.setting_type %></span>
	<% if !setting.locale.blank? %>(<%= setting.locale %>)<% end %>
	</li>
<% end %>
</ul>
