<h1><%= @setting.name %></h1>

<ul class="button-group round">
  <li><%= link_to admin_settings_path, class: "small secondary button" do %>
    <%= fa_icon "angle-double-left" %>
  <% end %>
  </li>
  <% if can? :update, @setting %>
    <li><%= link_to edit_admin_setting_path(@setting, locale: I18n.locale), class: "small secondary button" do %>
        <%= fa_icon "edit" %>
        Edit
      <% end %>
    </li>
  <% end %>
  <% if can? :copy, @setting %>
    <li><%= link_to copy_admin_setting_path(@setting, locale: I18n.locale), class: "small secondary button" do %>
        <%= fa_icon "copy" %>
        Duplicate Setting
      <% end %>
    </li>
  <% end %>
  <% if can? :manage, @setting %>
    <li><%= link_to [:admin, @setting], confirm: 'Are you sure?', method: :delete, class: "small alert button" do %>
      <%= fa_icon "trash" %>
      Delete
    <% end %>
    </li>
  <% end %>
</ul>

<% if @setting.description.present? %>
  <div class="callout panel">
    <h4>How to use this setting</h4>
    <p><%= @setting.description %></p>
  </div>
<% end %>

<p>
  <b>Setting type:</b>
  <%=h @setting.setting_type %>
  <%if @setting.slide.present?%>
    <br /><b>String value</b>: <%=@setting.string_value%>
    <br /><b>Integer value</b>: <%=@setting.integer_value%>
    <br /><b>Current image:</b>
    <%=image_tag(@setting.slide.url(:original), lazy: false)%>
  <%end%>
</p>

<p>
  <b>Locale:</b>
  <% if @setting.locale.present? %>
    <%= @setting.locale %>
  <% else %>
    (default)
  <% end %>
</p>

<p>
  <b>Value:</b><br/><br/>

  <%= value_for(@setting) %>
</p>

