<h1><%= @setting.name %></h1>

<ul class="button-group round">
	<li><%= link_to 'Settings', admin_settings_path, class: "small secondary button" %></li>
	<% if can? :manage, @setting %>
	<li><%= link_to 'Copy', copy_admin_setting_path(@setting, locale: I18n.locale), class: "small secondary button" %> </li>
	<li><%= link_to 'Edit', edit_admin_setting_path(@setting, locale: I18n.locale), class: "small secondary button" %> </li>
	<li><%= link_to 'Delete', [:admin, @setting], confirm: 'Are you sure?', method: :delete, class: "small alert button" %> </li>
	<% end %>
</ul>

<p>
  <b>Locale:</b>
  <%= (@setting.locale.blank?) ? "default" : @setting.locale %>
</p>
<p>
  <b>Setting type:</b>
  <%=h @setting.setting_type %>
</p>

<p>
  <b>Value:</b>
  <%= value_for(@setting) %>
</p>

