<%= simple_form_for([:admin, @clinic]) do |f| %>

    <%= f.input :scheduled_at, as: :string, input_html: { class: 'ui-datetimepicker' } %>
    <%= f.input :end_at, as: :string, input_html: { class: 'ui-datetimepicker' } %>
    <%= f.association :dealer, collection: Dealer.order("name"), label_method: :name_and_address, hint: "(if not listed, fill out the \"location\" field)" %>
    <%= f.input :location %>
    <%= f.input :rep_id, collection: User.where(rep: true).order("name") %>
    <%= f.association :clinician, collection: User.where(clinician: true).order("name") %>

	<h5 class="subheader">Products to be demonstrated:</h5>

	<%= f.fields_for :clinic_products do |clinic_product| %>
		<%= clinic_product.select :product_id, [[]] + Product.non_discontinued(website).collect{|p| [p.name, p.id]} %>
	<% end %>

  <% unless f.object.new_record? %>
    <%= f.input :travel_expenses %>
    <%= f.input :food_expenses %>
    <%= f.input :total_wages %>
    <%= f.input :increased_sell_through %>
    <%= f.input :generated_orders %><br/>
  <% end %>

  <br/><%= f.button :submit %>
<% end %>
