<h1>Upcoming/Recent clinics</h1>
<% if can? :create, Clinic %>
<ul class="button-group round">
	<li><%= link_to 'Schedule New Clinic', new_admin_clinic_path, class: "small success button" %></li>
</ul>
<% end %>
<table class="data">
  <tr>
    <th>Scheduled</th>
    <th>Dealer/Location</th>
	<th>Rep</th>
    <th>Clinician</th>
  </tr>

<% @clinics.each do |clinic| %>
  <tr style="background: <%= cycle 'white', 'none' %>">
    <td>
		<% if clinic.end_at.blank? && clinic.scheduled_at.blank? %>
			<%= link_to "not scheduled", [:admin, clinic] %>
		<% elsif clinic.end_at.blank? %>
			<%= link_to I18n.l(clinic.scheduled_at.to_date, format: :long), [:admin, clinic] %>
		<% else %>
			<%= link_to "#{I18n.l(clinic.scheduled_at.to_date, format: :long)}-#{I18n.l(clinic.end_at.to_date, format: :long)}", [:admin, clinic] %>
		<% end %>
	</td>
    <td><%= (clinic.dealer) ? clinic.dealer.name : clinic.location %></td>
	<td><%= clinic.rep.name if clinic.rep %></td>
    <td><%= clinic.clinician.name if clinic.clinician %></td>
  </tr>
<% end %>
</table>

