<h1>Clinic</h1>
<div class="button_container">
  <%= link_to 'Back', admin_clinics_path, :class => "back button" %>
  <% if can? :manaage, @clinic %>
    <%= link_to 'Edit', edit_admin_clinic_path(@clinic), :class => "edit button" %> 
    <%= link_to 'Delete', [:admin, @clinic], :confirm => 'Are you sure?', :method => :delete, :class => "delete button" %>
  <% end %>
</div>

<p>
  <b>Scheduled for:</b>
	<% if @clinic.scheduled_at.blank? %>
		n/a
	<% else %>
  		<%=l @clinic.scheduled_at.to_date, :format => :long %>
	<% end %>
</p>

<p>
  <b>Ending:</b>
	<% if @clinic.end_at.blank? %>
		n/a
	<% else %>
  		<%=l @clinic.end_at.to_date, :format => :long %>
	<% end %>
</p>

<% if @clinic.dealer %>
<p>
  <b>Dealer:</b>
  	<%= @clinic.dealer.name %> <%= @clinic.dealer.address_string %>
</p>
<% else %>
<p>
  <b>Location:</b>
  <%= @clinic.location %>
</p>
<% end %>

<p>
  <b>Rep:</b>
  <%= @clinic.rep.name if @clinic.rep %>
</p>

<p>
  <b>Clinician:</b>
  <%= @clinic.clinician.name if @clinic.clinician %>
</p>

<p>
  <b>Products for clinic:</b>
  <%= @clinic.products.collect{|p| p.name}.join(", ") %>
</p>

<% if !@clinic.scheduled_at.blank? && @clinic.scheduled_at < Time.zone.now %>
<p>
  <b>Travel expenses:</b>
  <%= number_to_currency(@clinic.travel_expenses.to_f) %>
</p>

<p>
  <b>Food expenses:</b>
  <%= number_to_currency(@clinic.food_expenses.to_f) %>
</p>

<p>
  <b>Total wages:</b>
  <%= number_to_currency(@clinic.total_wages.to_f) %>
</p>

<p>
  <b>Increased sell through?</b>
  <%= (@clinic.increased_sell_through?) ? "Yes" : "No" %>
</p>

<p>
  <b>Generated orders?</b>
  <%= (@clinic.generated_orders?) ? "Yes" : "No" %>
</p>
<% end %>

<h2 style="margin-top: 40px;">Clinician Report</h2>
<% if @clinic.clinician_report && !@clinic.clinician_report.new_record? %>

	<% if can? :update, @clinic.clinician_report %>
		<p><%= link_to "edit report", edit_admin_clinician_report_path(@clinic.clinician_report) %></p>
	<% end %>
	
	<div class="group">
		<table width="100%" border="0">
			<tr>
				<td width="50%" valign="top">
					<p>
						<b>Products demonstrated:</b>
						<%= @clinic.products.collect{|p| p.name}.join(", ") %>
					</p>
					<p>
						<b>Overall impression:</b>
						<%= @clinic.clinician_report.overall_impression %> (scale of 1-9, 9=outstanding)
					</p>
					<p>
						<b>Regional competitors:</b>
						<%= @clinic.clinician_report.regional_competitors %>
					</p>
					<p>
						<b>Was the session well-planned by the rep?</b>
						<% if @clinic.clinician_report.rep_planned? %>Yes
						<% elsif @clinic.clinician_report.rep_planned == false %>No
						<% else %>N/A<% end %>
					</p>
					<p><%= @clinic.clinician_report.rep_planned_comments %></p>
				</td>
				<td width="50%" valign="top">
					<p>
						<b>What was the best part?</b>
						<%= @clinic.clinician_report.best_part %>
					</p>
					<p>
						<b>What was the worst part?</b>
						<%= @clinic.clinician_report.worst_part %>
					</p>
					<p>
						<b>Top four questions generated from session:</b>
						<ul>
							<% @clinic.clinician_report.clinician_questions.each do |clinician_question| %>
							<li><%= clinician_question.question %></li>
							<% end %>
						</ul>
					</p>
				</td>
			</tr>
		</table>
	</div>
	
<% elsif can? :create, ClinicianReport %>

	<div class="group">
		<%= render 'admin/clinician_reports/form' %>
	</div>
	
<% else %>
	<p><i>None yet</i></p>
<% end %>

<h2 style="margin-top: 40px;">Rep Report</h2>
<% if @clinic.rep_report && !@clinic.rep_report.new_record? %>
	
	<% if can? :update, @clinic.rep_report %>
		<p><%= link_to "edit report", edit_admin_rep_report_path(@clinic.rep_report) %></p>
	<% end %>
	
	<div class="group">
		<table width="100%" border="0">
			<tr>
				<td width="50%" valign="top">
					<p>
						<b>Overall impression:</b>
						<%= @clinic.rep_report.overall_impression %> (scale of 1-9, 9=outstanding)
					</p>
					<p>
						<b>Clinician preparation:</b>
						<%= @clinic.rep_report.clinician_preparation %> (scale of 1-9, 9=outstanding)
					</p>
					<p><%= @clinic.rep_report.clinician_preparation_comments %></p>
					<p>
						<b>Was the clinician on time?</b>
						<%= (@clinic.rep_report.clinician_on_time?) ? "Yes" : "No" %>
					</p>
					<p>
						<b>How was the attendance?</b>
						<%= @clinic.rep_report.attendance %>
					</p>
					<p>
						<b>Would you want to rebook the clinician?</b>
						<%= (@clinic.rep_report.rebook_clinician?) ? "Yes" : "No" %>
					</p>
				</td>
				<td width="50%" valign="top">
					<p>
						<b>What was the best part?</b>
						<%= @clinic.rep_report.best_part %>
					</p>
					<p>
						<b>What was the worst part?</b>
						<%= @clinic.rep_report.worst_part %>
					</p>
					<p>
						<b>Top four questions generated from session:</b>
						<ul>
							<% @clinic.rep_report.rep_questions.each do |rep_question| %>
							<li><%= rep_question.question %></li>
							<% end %>
						</ul>
					</p>
				</td>
			</tr>
		</table>
	</div>
	
<% elsif can? :create, RepReport %>

	<div class="group">
		<%= render 'admin/rep_reports/form' %>
	</div>

<% else %>
	<p><i>None yet</i></p>
<% end %>