<%
	@meta = Page.find_by lcl_name: 'contact_us'
	meta title: @meta.title,
	description: strip_html(@meta.description),
	keywords: @meta.keywords.gsub(" ", ",")

%>
<div id="header_bc">
	<div id="header_spacer"></div>
	<div id="header_bc_image" >
	<%= image_tag('top_border.gif') %>
	</div>
	<div id="bc">
	<nav class="breadcrumbs" role="menubar" aria-label="breadcrumbs">
		<li class="unavailable"  aria-disabled="true">>></li>
	    <li role="menuitem"><a href="/">Home</a></li>
	    <li role="menuitem"><a href="/support">Support</a></li>
	    <li role="menuitem" class="current"><a href="#"><%= @meta.title %></a></li>
	</nav>
	</div>
</div>
<br />
<div class="row fullWidth">
<div class="small-12 columns" >
<h1><%= @meta.title %></h1>
</div>
</div>
<div align="center">
<% flash.each do |name, msg| %>
   <%= content_tag :div, msg, class: name %>
<% end %>
</div>
<div class="row fullWidth">
	<div class="small-12 large-5 columns">
<br />
<h4 class="color-accent2">General Enquiries</h4>
For general enquiries, please use the 'Contact Us Form' to leave us your message.
<br /><br />
<h4 class="color-accent2">Product Support</h4>
For general sales and product support, please contact your local Soundcraft Distributor, <a href="/where-to-buy">click here</a>.
<br /><br />
<h4 class="color-accent2">Spare Parts</h4>
For Spare Parts enquiries, <a href="/support/spare-parts">click here</a>.
<br /><br />
<h4 class="color-accent2">Technical Support</h4>
For technical support only, <a href="/support/tech-support">click here</a>.
<br /><br />
<h4 class="color-accent2">Soundcraft Contact</h4>
If you need more information, you can contact us at one of our headquarters below.<br />
To contact us by phone, please call:<br /> <strong>818.920.3212</strong> (for USA)<br />
<strong>+44 (0)1707 665000</strong> (for all other countries).<br />
<br /><br />
<div class="div-border" style="background: #EEEEEE">
<% ContactOffice.where(id: 1).each do |office| %>
    <h3 class="h4-bg"><%= office.office %></h3>
        <strong class="color-accent2"><%= office.company %></strong><br />
        <% if office.company2.size > 0  %><%= office.company2 %><br /><% end %>
        <% if office.address1.size > 0  %><%= office.address1 %><br /><% end %>
        <% if office.address2.size > 0 %><%= office.address2 %><br /><% end %>
        <% if office.city.size > 0 %><%= office.city %><br /><% end %>
        <% if office.county.size > 0 %><%= office.county %><br /><% end %>
        <% if office.post_code.size > 0 %><%= office.post_code %><br /><% end %>
        <% if office.country.size > 0 %><%= office.country %><br /><% end %>
        <% if office.phone.size > 0 %>T: <%= office.phone %><br /><% end %>
        <% if office.fax.size > 0 %>F: <%= office.fax %><br /><% end %>
<% end %>
<br />              
<% ContactOffice.where(id: 2).each do |office| %>
    <h3 class="h4-bg"><%= office.office %></h3>
        <strong class="color-accent2"><%= office.company %></strong><br />
        <% if office.company2.size > 0  %><%= office.company2 %><br /><% end %>
        <% if office.address1.size > 0  %><%= office.address1 %><br /><% end %>
        <% if office.address2.size > 0 %><%= office.address2 %><br /><% end %>
        <% if office.city.size > 0 %><%= office.city %><br /><% end %>
        <% if office.county.size > 0 %><%= office.county %><br /><% end %>
        <% if office.post_code.size > 0 %><%= office.post_code %><br /><% end %>
        <% if office.country.size > 0 %><%= office.country %><br /><% end %>
        <% if office.phone.size > 0 %>T: <%= office.phone %><br /><% end %>
        <% if office.fax.size > 0 %>F: <%= office.fax %><br /><% end %>
<% end %>
<br /><br />
</div>

</div>
	<div class="small-12 large-7 columns" >
		<h3>Contact Us Form</h3>
	<%= form_for @user, url: contact_us_path, html: {class: "reg", "data-abide" => ''} do |f| %>
		<%= render :partial => "shared/form_contacts_section", :locals => {:f => f} %>
		<%= render :partial => "shared/form_enquiries_section", :locals => {:f => f} %>	  	
		<div class="row">
		<div class="small-12 columns" align="right">
			<%= recaptcha_tags :display => { :theme => "clean" }%>
			<div class="right"><%= f.submit t('submit'), class: 'button radius margin-top' %></div>
		</div>
		</div>
	
	<% end %>
	</div>
</div>

