<%= simple_form_for([:admin, @product_review], html: {multipart: true}) do |f| %>

  <%= f.input :title,
    hint: "Magazine reviews sometimes have a title. If this doesn't apply, just put something like \"Reviewer name - Product name\"" %>
  <%= f.input :body, input_html: { class: "mceEditor" } %><br/>

  <div class="panel">
    <p>If either of the below are provided, then the page will link the title to one of these:</p>
    <%= f.input :external_link, placeholder: "https://www.somesite.com/..." %>
    <%= f.input :review, label: "PDF Attachment" %>
  </div>

  <br/><%= f.button :submit %>

<% end %>
