<%= simple_form_for([:admin, @product_review], html: {multipart: true}) do |f| %>

  <%= f.input :title %>
  <div class="row">
    <div class="large-6 columns">
      <%= f.input :cover_image %>
    </div>
    <div class="large-6 columns">
      <%= f.input :created_at, as: :string, label: "Date", input_html: { class: 'ui-datepicker' } %>
    </div>
  </div>
  <%= f.input :external_link, placeholder: "http://www.somesite.com/..." %>
  <%= f.input :body, input_html: { class: "mceEditor" } %><br/>
  <%= f.input :review, label: "PDF Attachment" %>

  <br/><%= f.button :submit %>

<% end %>
