<%= cache ["yt_row_#{video['snippet']['resourceId']['videoId']}", I18n.locale] do %>
  <% begin %>
    <%
        video = video['snippet']
        thumbnail = video["thumbnails"].find(height: 90).first[1]
        link = play_video_url(video["resourceId"]["videoId"])
    %>
    <tr>
      <td valign="top">
        <div style="position: relative; margin: 0px 20px 20px 20px;">
          <%= link_to(image_tag(thumbnail['url'], alt: video['title'], height: 90, width: 120), link) %>
          <div style='position:absolute; top: 30px; left: 45px; z-index: 1'>
            <%= link_to(image_tag("play.png", alt: "play"), link) %>
          </div>
        </div>
      </td>
      <td valign="top" style="padding-bottom: 16px;">
        <div><b><%= link_to(video['title'], link) %></b></div>
        <p style="font-size: 85%"><%=auto_link truncate(video['description'], length: 235) %></p>
      </td>
    </tr>
  <% rescue %>
    <!-- video could not be loaded -->
  <% end %>
<% end %>
