<%= simple_form_for [:admin, @product] do |f| %>

<div class="row">
<% if can?(:update, :product_name) %>
	<div class="large-6 columns">
    <%= f.input :name, input_html: { autocomplete: "off" }  %>
	</div>
<% end %>
	<div class="large-6 columns">
		<%= f.input :sap_sku, input_html: { autocomplete: "off" } %>
	</div>
</div>

<div class="row">
  <div class="small-12 medium-6 columns">
    <%= f.input :meta_description %>
  </div>
  <div class="small-12 medium-6 columns">
    <%= f.input :keywords %>
  </div>
</div>

<div class="row">
<% if can?(:change, ProductStatus) %>
	<div class="large-6 columns">
		<%= f.association :product_status, collection: ProductStatus.order(:position) %>
	</div>
<% end %>
<% if can?(:update, :product_password) %>
	<div class="large-6 columns">
		<%= f.input :password, as: :string, hint: "(to allow non-admins to preview page before product is officially announced)", input_html: { autocomplete: "off" } %>
	</div>
<% end %>
</div>

<div class="row">
	<div class="large-6 columns">
		<%= f.input :short_description, label: "Sub-title", as: :string %>
	</div>
  <% if website.brand.has_photometrics? %>
    <div class="large-6 columns">
      <%= f.input :photometric_id, label: "Photometric ID" %>
    </div>
  <% end %>
</div>

<div class="row">
  <div class="large-6 columns">
    <%= f.input :product_page_url,
      label: "External product page URL",
      hint: "If present, redirects visitors to the URL above. Useful for 3rd party sites (ie, jblbags) or if the product has been renamed/moved." %>
  </div>
  <% if website.firmware_page %>
    <div class="large-6 column">
      <%= f.input :firmware_name,
        label: "Firmware Name(s)",
        hint: "This will automatically add a firmware links on the product page with its latest version. Separate multiples with | " %>
    </div>
  <% end %>
</div>

<div class="row">
	<div class="large-6 columns">
		<%= f.input :short_description_1, label: "25 character description", as: :text, input_html: {class: "limited", data: {charlimit: 25}} %>
	</div>
	<div class="large-6 columns">
		<%= f.input :short_description_2, label: "50 character description", as: :text, input_html: {class: "limited", data: {charlimit: 50}} %>
	</div>
</div>

<div class="row">
	<div class="large-6 columns">
		<%= f.input :short_description_3, label: "75 character description", as: :text, input_html: {class: "limited", data: {charlimit: 75}} %>
	</div>
	<div class="large-6 columns">
		<%= f.input :short_description_4, label: "100 character description", as: :text, input_html: {class: "limited", data: {charlimit: 100}} %>
	</div>
</div>

  <%= f.input :description, as: :text, input_html: { class: "mceEditor", style: "height: 400px;"} %><br/>
  <% if @product.layout_class == 'epedal' %> <span class="small"> For epedals, only provide the first paragraph description here.</span><% end %>
  <br />


  <%= f.input :extended_description, as: :text, input_html: { class: "mceEditor", style: "height: 300px;"} %><br/>
  <% if @product.layout_class == 'epedal' %> <span class="small"> For epedals, only provide the description of the controls here.</span><% end %>

<div class="row">
	<div class="large-6 columns">
		<%= f.input :extended_description_tab_name, hint: "Show a different tab name for 'extended description/more info'." %>
	</div>
</div>

<% unless @product.layout_class == 'epedal' %>
	<%= f.input :features, as: :text, input_html: { class: "mceEditor", style: "height: 250px;"} %><br/>
<% end %>

<div class="row">
	<div class="large-6 columns">
		<%= f.input :features_tab_name, hint: "Show a different tab name for 'features'." %>
	</div>
</div>

<div class="row">
  <div class="large-12 columns">
    <% if @product.brand.collapse_content? %>
      <p><em>Note: <%= @product.brand.name %> is configured to use collapsed content for all products.
          To edit collapsing on a per-product basis, first <%= link_to "edit the brand's settings", edit_admin_brand_path(@product.brand) %>.</em></p>
    <% else %>
      <%= f.input :collapse_content, label: "Content is collapsed to reduce scrolling" %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="large-6 columns">
    <%= f.input :legal_disclaimer %>
  </div>
</div>

<div class="row">
	<div class="large-6 columns">
		<fieldset>
			<legend>Product Page Design &amp; Features</legend>
			<% if website.has_effects? && !@product.layout_class == 'epedal' %>
				<%= f.input :has_pedals, label: "Has pedals. (call the \"effects\" tab \"pedals\")" %><br/>
			<% end %>
			<% if website.page_layouts %>
				<%= f.input :layout_class,
					label: "Page layout style",
					hint: "(not all brands have multiple layouts)",
					collection: website.page_layouts.split("|") %>
			<% end %>

			<%= f.input :highlight_format,
			    collection: ["carousel", "stacked"] %>

      <%= f.input :show_recommended_verticals, hint: "Not all brands have this enabled" %>

			<% if can?(:update, :product_background) %>
				<%= f.input :background_color,
						hint: "(optional custom page background: ie \"#CCCCCC\" or \"blue\"" %>
				<%= f.input :background_image, hint: "(optional background image--will be centered)" %>

				<% if !f.object.background_image_file_name.blank? %>
				<div id="background_image">
					<%= link_to f.object.background_image_file_name, f.object.background_image.url %>
					<%= link_to image_tag("icons/trash.gif", lazy: false), delete_background_admin_product_path(f.object), remote: true %>
				</div>
				<% end %>
			<% end %>

			<%= f.input :custom_css %>

			<%= f.input :demo_link, placeholder: "https://#{website.url}/#{I18n.default_locale}/..." %>
			<% if f.object.brand.main_tabs.include?("training") %>
			<%= f.input :training_url, hint: "Side nav on product page will link here." %>
			<% end %>

			<% unless @product.layout_class == 'epedal' %>
			<div class="row">
				<div class="large-6 columns">
					<%= f.input :warranty_period, label: "Warranty period (in years)" %>
				</div>
			</div>
			<% end %>

			<%= f.input :rohs, label: "ROHS compliant" %>
      <%= f.input :hide_contact_buttons, label: "Hide HPro contact buttons" %>
      <%= f.input :hide_product_photo, label: "Hide product photo. Then you'll have to put the photo in the HTML which will probably break when the photo changes." %>
      <%#= f.input :enterprise, label: "This is an 'Enterprise' product" %>
      <%#= f.input :entertainment, label: "This is an 'Entertainment' product" %>

		</fieldset>
	</div>

	<div class="large-6 columns">
		<fieldset>
			<legend>Pricing/Shopping</legend>

			<% if website.has_online_retailers? || website.has_distributors? || website.has_dealers? %>
				<%= f.input :hide_buy_it_now_button %><br/>
			<% end %>

			<% if website.show_pricing? %>
				<%= f.input :msrp, label: "MSRP", placeholder: "0.00" %>
				<%= f.input :street_price, placeholder: "0.00" %>
				<%= f.input :sale_price, placeholder: "0.00" %>
      <% end %>

      <%= f.input :direct_buy_link,
        hint: "(aka, add to cart link)",
        placeholder: "https://#{website.url}/add-to-cart/..." %>

      <div class="bigger_hint">Providing a link above will convert the "Buy It Now" button on the product page
        into an "Add To Cart" button linking directly to the link above. If you'd rather include
        this link among other online retailer links, then leave this field blank and use the "online retailers"
        section of this site instead. This field is typically used to send customers directly to a HARMAN
        ecommerce site.
      </div>

			<% if website.brand.employee_store? && !website.brand.live_on_this_platform? %>
			<p>
				<%= f.label :more_info_url %> (for employee store)<br/>
				<%= f.url_field :more_info_url, size: 40, placeholder: "https://..." %>
			</p>
			<% end %>

		</fieldset>
	</div>
</div>

  <div class="row">
    <div class="large-6 columns">
      <%= f.input :hidden_locales,
            label: "Hide this product from the following locales",
            hint: "Comma-separated list of locales where this product should NOT appear." %>
    </div>
    <div class="large-6 columns">
			<%= f.association :geo_parent,
        collection: Product.where(brand_id: website.brand.id).order(:name) - [@product],
      #  label_method: :tree_names,
        hint: "If this is product is a special localized version of another product"
      %>
    </div>
  </div>

	<div class="row">
		<div class="large-12 columns">
      <div class="panel">
        <h5>Alert</h5>
        <%= f.input :alert, label: "Optional alert to show on the top of the product page." %>
        <%= f.input :show_alert, label: "Enable the alert message." %>
      </div>
      <div class="panel">
        <h5>Registration Notice</h5>
        <p>When a customer registers this product, they'll receive a standard confirmation email with basic
        information. If owners of this product should receive additional information in that email, provide
        the content below. Basic HTML formatting is permitted.</p>
        <%= f.input :registration_notice, label: false %>
		</div>
	</div>

	<br/><%= f.button :submit %>

<% end %>
