<%= simple_form_for([:admin, @product], html: {multipart: true}) do |f| %>

<div class="row">
<% if can?(:update, :product_name) %>
	<div class="large-6 columns">
		<%= f.input :name %>
	</div>
<% end %>
	<div class="large-6 columns">
		<%= f.input :sap_sku, input_html: { autocomplete: "off" } %>
	</div>
</div>

<%# if can?(:update, :product_keywords) %>
  <%#= f.input :keywords, size: "60x5" %>
<%# end %>

<div class="row">
<% if can?(:change, ProductStatus) %>
	<div class="large-6 columns">
		<%= f.association :product_status %>
	</div>
<% end %>
<% if can?(:update, :product_password) %>
	<div class="large-6 columns">
		<%= f.input :password, hint: "(to allow non-admins to preview page before product is officially announced)", input_html: { autocomplete: "off" } %>
	</div>
<% end %>
</div>

<div class="row">
	<div class="large-6 columns">
		<%= f.input :short_description, label: "Sub-title", as: :string %>
	</div>
</div>
<div class="row">
	<div class="large-6 columns">
		<%= f.input :short_description_1, label: "25 character description", as: :text, input_html: {class: "limited", data: {charlimit: 25}} %>
	</div>
	<div class="large-6 columns">
		<%= f.input :short_description_2, label: "50 character description", as: :text, input_html: {class: "limited", data: {charlimit: 50}} %>
	</div>
</div>
<div class="row">
	<div class="large-6 columns">
		<%= f.input :short_description_3, label: "75 character description", as: :text, input_html: {class: "limited", data: {charlimit: 75}} %>
	</div>
	<div class="large-6 columns">
		<%= f.input :short_description_4, label: "100 character description", as: :text, input_html: {class: "limited", data: {charlimit: 100}} %>
	</div>
</div>

  <%= f.input :description, input_html: { class: "mceEditor", style: "height: 400px;"} %><br/>
  <% if @product.layout_class == 'epedal' %> <span class="small"> For epedals, only provide the first paragraph description here.</span><% end %>
  <br />


  <%= f.input :extended_description, input_html: { class: "mceEditor", style: "height: 300px;"} %><br/>
  <% if @product.layout_class == 'epedal' %> <span class="small"> For epedals, only provide the description of the controls here.</span><% end %>
  <br/>

<% unless @product.layout_class == 'epedal' %>
	<%= f.input :features, input_html: { class: "mceEditor", style: "height: 250px;"} %><br/>
<% end %>

<% if website.brand.name.match(/lexicon/i) %>
<div class="row">
	<div class="large-6 columns">
		<%= f.input :features_tab_name, hint: "Lexicon can show different tab names on different types of products." %>
	</div>
</div>
<% end %>

<div class="row">
	<div class="large-6 columns">
		<fieldset>
			<legend>Product Page Design &amp; Features</legend>
			<% if website.has_effects? && !@product.layout_class == 'epedal' %>
				<%= f.input :has_pedals, label: "Has pedals. (call the \"effects\" tab \"pedals\")" %><br/>
			<% end %>
			<% if website.page_layouts %>
				<%= f.input :layout_class, 
					label: "Page layout style", 
					hint: "(not all brands have multiple layouts)",
					collection: website.page_layouts.split("|") %>
			<% end %>

			<% if can?(:update, :product_background) %>
				<%= f.input :background_color, 
						hint: "(optional custom page background: ie \"#CCCCCC\" or \"blue\"" %>
				<%= f.input :background_image, hint: "(optional background image--will be centered)" %>

				<% if !f.object.background_image_file_name.blank? %>
				<div id="background_image">
					<%= link_to f.object.background_image_file_name, f.object.background_image.url %>
					<%= link_to image_tag("icons/trash.gif"), delete_background_admin_product_path(f.object), remote: true %>
				</div>
				<% end %>
			<% end %>

			<%= f.input :demo_link, placeholder: "http://#{website.url}/#{I18n.default_locale}/..." %>

			<% unless @product.layout_class == 'epedal' %>
			<div class="row">
				<div class="large-6 columns">
					<%= f.input :warranty_period, label: "Warranty period (in years)" %>
				</div>
			</div>
			<% end %>
	
			<%= f.input :rohs, label: "ROHS" %>

		</fieldset>
	</div>

	<div class="large-6 columns">
		<fieldset>
			<legend>Pricing/Shopping</legend>

			<% if website.has_online_retailers? || website.has_distributors? || website.has_dealers? %>
				<%= f.input :hide_buy_it_now_button %><br/>
			<% end %>

			<% if website.show_pricing? %>
				<%= f.input :msrp, label: "MSRP", placeholder: "0.00" %>
				<%= f.input :street_price, placeholder: "0.00" %>
				<%= f.input :sale_price, placeholder: "0.00" %>
				<%= f.input :direct_buy_link, 
					hint: "(aka, add to cart link)", 
					placeholder: "http://#{website.url}/add-to-cart/..." %>

				<div class="bigger_hint">Providing a link above will convert the "Buy It Now" button on the product page
					into an "Add To Cart" button linking directly to the link above. If you'd rather include
					this link among other online retailer links, then leave this field blank and use the "online retailers" 
					section of this site instead.</div>
			<% end %>

			<% if website.brand.employee_store? && !website.brand.live_on_this_platform? %>
			<p>
				<%= f.label :more_info_url %> (for employee store)<br/>
				<%= f.url_field :more_info_url, size: 40, placeholder: "http://..." %>
			</p>
			<% end %>

		</fieldset>
	</div>
</div>


	<div class="row">
		<div class="panel">
			<h5>Alert</h5>
			<%= f.input :alert, label: "Optional alert to show on the top of the product page." %>
			<%= f.input :show_alert, label: "Enable the alert message." %>
		</div>
	</div>

	<br/><%= f.button :submit %>

<% end %>