<h1>myharman.com Employee Pricing</h1>
<p>Leave the employee price field blank for products which should
	not appear on the myharman.com site.</p>

<%= form_tag update_harman_employee_pricing_admin_products_path, method: :put %>
	<table class="data">
		<tr>
			<th>Product</th>
			<th>SKU</th>
			<th>MSRP</th>
			<th>Harman Employee Price</th>
		</tr>
	<% @products.each do |product| %>
	<% if !(product.discontinued?) && product.show_on_website?(website) && product.can_be_registered? %>
		<tr>
			<td><%= link_to product.name, product, target: "_blank" %></td>
			<td><%= text_field_tag "product_attr[#{product.to_param}][sap_sku]", 
						product.sap_sku, 
						size: 10 %></td>
			<td>$<%= text_field_tag "product_attr[#{product.to_param}][msrp]", 
						(product.msrp.to_f > 0.0) ? product.msrp.to_f : nil, 
						size: 10, placeholder: "0.00" %></td>
			<td>$<%= text_field_tag "product_attr[#{product.to_param}][harman_employee_price]", 
						(product.harman_employee_price.to_f > 0.0) ? product.harman_employee_price.to_f : nil, 
						size: 10, placeholder: "0.00" %></td>
		</tr>
	<% end %>
	<% end %>
	</table>
	<br/>
	<%= submit_tag "save changes" %>

</form>