<h1>Products</h1>

<% if can? :create, Product %>
<div class="button_container">
	<%= link_to 'New product', new_admin_product_path, class: "new button" %>
</div>
<% end %>

<%= search_form_for [:admin, @search] do |f| %>
	<div class="form_field">
		<%= f.label :name_cont, "Name contains" %><br/>
		<%= f.text_field :name_cont %>
	</div>
	<div class="actions">
		<%= f.submit "Search products" %>
	</div>
<% end %>

<% ProductStatus.all.each do |product_status| %>
	<h3 style="border-bottom: 1px dotted #CCC; margin-bottom: 2px;"><%= product_status.name %></h3>

	<ul style="margin-top: 2px;">
		<% @products.each do |product| %>
		<% if product.product_status_id == product_status.id && can?(:manage, product) %>
			<li><%= link_to product.name, [:admin, product] %></li>
		<% end %>
		<% end %>
	</ul>
<% end %>

