<% set_meta_tags title: "Admin: #{@product.name}",
				 reverse: true,
                 description: @product.short_description,
                 keywords: @product.keywords %>
<h1>
	<%= title @product.name %>
	<span class="little"><%= link_to(product_url(@product, locale: I18n.locale), product_url(@product, locale: I18n.locale)) %>
	<%= link_to(image_tag("icons/external_link_icon.png", lazy: false), product_url(@product, locale: I18n.locale)) %></span>
</h1>

<ul class="button-group round">
  <li><%= link_to admin_products_path, class: "small secondary button" do %>
    <%= fa_icon "angle-double-left" %>
  <% end %>
  </li>
  <li><%= link_to edit_admin_product_path(@product, locale: I18n.locale), class: "small secondary button" do %>
      <%= fa_icon "edit" %>
      Edit Product Descriptions &amp; Settings
    <% end %>
  </li>
  <li><%= link_to copy_admin_product_path(@product, locale: I18n.locale), method: :put, class: "small secondary button" do %>
      <%= fa_icon "copy" %>
      Duplicate Product
    <% end %>
  </li>
  <li><%= link_to [:admin, @product], confirm: 'Are you sure?', method: :delete, class: "small alert button" do %>
    <%= fa_icon "trash" %>
    Delete
  <% end %>
  </li>
</ul>

<h3><%= @product.short_description %></h3>

<% if can? :manage, ProductIntroduction %>
<p>
	<b>Intro page:</b>
	<% if !!(@product.product_introduction) %>
	<%= link_to "Edit", edit_admin_product_introduction_path(@product.product_introduction) %>
	<% else %>
	<%= link_to "Create", new_admin_product_introduction_path(product_id: @product.to_param) %>
	<% end %>
</p>
<% end %>

<% if !!(@product.product_introduction) && !@product.product_introduction.expired? %>
<p>
	<b>This product has an introductory landing page:</b><br/>
	<%= link_to product_introduction_url(@product), product_introduction_path(@product) %>
</p>
<% end %>

<p>
  <b>Sap sku:</b>
  <%=h @product.sap_sku %>
</p>

<p>
  <b>Product status:</b>
  <%=h @product.product_status.name %>
</p>

<p>
	<b>Pricing:</b>
	<% if @product.msrp %>
	msrp: <%= number_to_currency(@product.msrp) %>
	<% end %>
	<% if @product.sale_price %>
	sale price: <%= number_to_currency(@product.sale_price) %>
	<% end %>
</p>


<div class="row">
	<div class="large-6 columns">

		<% if can? :manage, ProductAttachment %>
		<div id="product_photos" class="group">
			<h5 class="subheader">Product photos, videos, audio, flash, etc.</h5>
			<% if @product.layout_class == 'epedal' %>
			<p><%= link_to_function "new photo",
					"$('#new_photo_form').show();$('#new_mm_form').hide();$('#new_swf_form').hide();",
					class: "small success button" %></p>
			<p>Note: e-pedals have some specific requirements. Upload them in this order:</p>
			<ol style="margin-left: 20px;">
				<li> The straight-on e-pedal image (EFFECT OFF) at 525x680</li>
				<li> The skewed iStomp-with-label image at 662x662</li>
				<li> The straight-on e-pedal image (EFFECT ON) exact same size as image #1.</li>
				<li> The straight-on iStomp-with-label. It needs to line up exactly with the main iStomp image.</li>
				<li> The label alone (to be used on the label sheets ordering system).</li>
			</ol>
			<p>e-pedal sound samples should be uploaded using the "Audio Demos" link on the left nav.</p>
			<% else %>
			<ul class="button-group">
				<li><%= link_to_function "new photo",
			 		"$('#new_photo_form').show();$('#new_mm_form').hide();$('#new_swf_form').hide();",
			 		class: "small success button" %></li>
			   <li><%= link_to_function "new video (non-youtube)",
					"$('#new_photo_form').hide();$('#new_mm_form').show();$('#new_swf_form').hide();",
					class: "small success button" %></li>
			</ul>
			<% end %>
			<div id="new_photo_form" style="display: none;">
			<%= simple_form_for [:admin, @product_attachment], html: {multipart: true} do |f| %>
				<%= f.hidden_field :product_id %>
				<%= f.input :product_attachment, label: false %>
				<%= submit_tag "upload", class: "small round button"  %>
				<%= link_to_function "cancel", "$('#new_photo_form').hide()"%>
			<% end %>
			</div>

			<div id="new_mm_form" style="display: none;">
				<%= simple_form_for [:admin, @product_attachment], html: {multipart: true} do |f| %>
					<%= f.hidden_field :product_id %>
					<%= f.input :product_media %>
					<%= f.input :product_media_thumb, label: "thumbnail/icon" %>
					<p><%= submit_tag "upload", class: "small round button"  %>
						<%= link_to_function "cancel", "$('#new_mm_form').hide()"%>
					</p>
				<% end %>
			</div>

			<ul id="product_attachments" class="sortable_list">
				<% @product.product_attachments.each do |pa| %>
					<%= render '/admin/shared/product_attachment_row', pa: pa %>
				<% end %>
			</ul>

			<% if @product.product_attachments.size > 1 %>
			  <p class="small">Drag to change the order these elements appear on the product page.</p>
			<% end %>
		</div>
		<% end %>

		<% if can? :manage, ProductDocument %>
			<div id="product_lit" class="group">
				<h5 class="subheader">Product Manuals, Cut Sheets and other lit</h5>
        <p>Hi there. If the file that you're about to upload is related to
        more than one product, please upload it as a
        <%= link_to "site resource", admin_site_elements_path %> and choose
        "This is a document" to make it show up on the product page.</p>
				<p><%= link_to_function "new document", "$('#new_product_document').toggle()", class: "small success button" %></p>
				<div id="new_product_document" style="display:none;">
					<%= render "/admin/product_documents/form" %>
				</div>
				<ul id="product_documents" class="sortable_list">
					<% @product.product_documents.each do |product_document| %>
						<%= render "/admin/shared/product_document_row", pd: product_document, called_from: 'product' %>
					<% end %>
				</ul>

        <% if @product.site_elements.length > 0 %>
          <hr/>
          <h6 class="subheader">Oh, and here are the "site resources" linked to this product:</h6>
          <p>Note: only the latest versions of the resources appear below.</p>
          <ul id="product_site_elements" class="sortable_list">
            <% @product.product_site_elements.order(:position).each do |pse| %>
              <% next unless pse.site_element.is_latest_version? %>
            	<%= render "/admin/shared/product_site_element_row", pse: pse, called_from: 'product' %>
            <% end %>
          </ul>
        <% end %>
			</div>
		<% end %>

		<% if website.has_software? && can?(:manage, ProductSoftware) %>
			<div id="software" class="group">
				<h5 class="subheader">Related Software</h5>
				<%= simple_form_for [:admin, @product_software], remote: true do |f| %>
					<%= hidden_field_tag "called_from", "product" %>
					<%= f.hidden_field :product_id %>
					<div class="row collapse">
						<div class="large-10 small-8 columns">
							<%= f.association :software, label: false,
									# collection: Software.where(brand_id: website.brand_id).all.sort_by(&:formatted_name),
									collection: Software.not_associated_with_this_product(@product_software.product, website).sort_by(&:formatted_name),
									label_method: :formatted_name,
									input_html: { class: 'chosen-select', multiple: true,  data: { placeholder: 'Select Software'} }%>
						</div>
						<div class="large-2 small-4 columns">
							<%= submit_tag 'submit', class: "postfix button"  %>
						</div>
					</div>
					or <%= link_to "upload new software", new_admin_software_path %>

				<% end %>
				<ul id="product_softwares" class="sortable_list">
					<% @product.product_softwares.each do |product_software| %>
						<%= render "/admin/shared/product_software_row", ps: product_software, called_from: 'product' %>
					<% end %>
				</ul>
			</div>
		<% end %>

		<% if website.has_training? && can?(:manage, ProductTrainingModule) %>
			<div class="group">
				<h5 class="subheader">Training modules for this product:</h5>
				<%= simple_form_for [:admin, @product_training_module], remote: true do |f| %>
					<%= hidden_field_tag "called_from", "product" %>
			    	<%= f.hidden_field :product_id %>
					<%= f.association :training_module, collection: website.training_modules %>
					<%= submit_tag 'add existing training module', class: "small round button"  %>
					<%= link_to 'create a new training module', new_admin_training_module_path %>
				<% end %>

				<ul id="product_training_modules" class="list">
					<% @product.product_training_modules.each do |ptm| %>
						<%= render '/admin/shared/product_training_module_row', ptm: ptm, called_from: 'product' %>
					<% end %>
				</ul>
			</div>
		<% end %>

		<% if website.has_online_retailers? && can?(:manage, OnlineRetailer) && !@product.hide_buy_it_now_button %>
			<div class="group">
				<h5 class="subheader">Buy-it-now Links</h5>
				<%= link_to "new online retailer", new_admin_online_retailer_path, class: "small success button" %>
				<%= simple_form_for [:admin, @online_retailer_link], remote: true do |f| %>
					<%= hidden_field_tag "called_from", "product" %>
					<%= f.hidden_field :product_id %>
					<%= f.input :url, label: "Link" %>
					<div class="row collapse">
						<div class="large-10 small-8 columns">
							<%= f.association :online_retailer, label: false, collection: OnlineRetailer.order("name") %>
						</div>
						<div class="large-2 small-4 columns">
							<%= submit_tag 'add link', class: "postfix button"  %>
						</div>
					</div>
				<% end %>

				<ul id="online_retailer_links" class="list">
					<% @product.online_retailer_links.each do |orl| %>
						<%= render '/admin/shared/online_retailer_link_row', orl: orl, called_from: 'product' %>
					<% end %>
				</ul>
			</div>
		<% end %>

		<% if can? :manage, ProductSpecification %>
      <div class="group">
        <h5 class="subheader">Specifications</h5>
        <ul class="button-group">
          <li><%= link_to_function "add a spec", "$('#add_specification_form').toggle();", class: "small success button" %></li>
          <li><%= link_to_function "copy specs from another product", "$('#copy_specifications_form').toggle();", class: "small secondary button" %></li>
          <li><%= link_to admin_product_product_specifications_path(@product), class: "small button" do %>
              <i class="fa fa-edit"></i>
              edit all at once
            <% end %>
          </li>
        </ul>

        <div id="add_specification_form" style="display:none">
          <%= simple_form_for [:admin, @product_specification], remote: true do |f| %>
              <%= f.hidden_field :product_id %>

            <div style="margin-bottom: 20px;">
              <span id="select_spec_name">
                <%= f.association :specification,
                  collection: Specification.order(Arel.sql("upper(name)")),
                  label_method: website.brand.use_flattened_specs? ? :name : :name_with_group,
                  input_html: { class: 'chosen-select', data: { placeholder: 'Select Specification'} }
                %>
                <%= link_to_function("new spec name",
                    "$('span#select_spec_name').toggle();$('span#new_spec_name').toggle()") if can?(:create, Specification) %>
              </span>
              <span id="new_spec_name" style="display:none">
                <%= simple_fields_for Specification.new do |spec| %>
                  <%= spec.input :name, label: "New Spec Name" %>
                <% end %>
                <%= link_to_function "select existing spec name",
                    "$('span#select_spec_name').toggle();$('span#new_spec_name').toggle();$('input#specification_name').val('');"%>
              </span>
            </div>

            <%= f.input :value %>

            <br/><%= f.button :submit %>
            <%= link_to_function "cancel", "$('#add_specification_form').toggle();"%></p>
          <% end %>
        </div>

        <div id="copy_specifications_form" style="display:none">
          <%= simple_form_for [:admin, @product_specification], url: copy_admin_product_specification_path do |f| %>
            <%= f.association :product,
              label: "Copy ALL specs from:",
              collection: (website.products - [@product]),
              hint: "(can be edited after copying)" %>
            <%= submit_tag "copy specs", class: "small round button"  %>
            <%= link_to_function "cancel", "$('#copy_specifications_form').toggle();"%>
          <% end %>
        </div>

        <ul id="product_specifications" class="sortable_list">
          <% @product.product_specifications.order(:position).each do |ps| %>
          <%= render "/admin/shared/product_specification_row", ps: ps %>
          <% end %>
        </ul>

      </div>
		<% end %>

    <% if can? :manage, ProductProductFilterValue %>
      <div class="group">
        <h5 class="subheader">Filters for Product Selector</h5>
        <%= simple_form_for [:admin, @product] do |f| %>
          <% @product.available_product_filter_values.each do |product_product_filter_value| %>

            <%= f.simple_fields_for :product_product_filter_values, product_product_filter_value do |ppfv|%>
              <% product_filter = ppfv.object.product_filter %>
              <%= ppfv.association :product_filter, as: :hidden %>
              <hr/>
              <div class="row">
                <div class="small-6 columns">
                  <%= product_filter.name %>
                  <% if product_filter.min_value.present? || product_filter.max_value.present? %>
                    <br/><small>
                      From <%= product_filter.min_value.present? ? product_filter.min_value : "0" %>
                      to <%= product_filter.max_value.present? ? product_filter.max_value : "??" %>
                      <% if product_filter.uom.present? %>
                        <%= product_filter.uom %>.
                      <% end %>
                    </small>
                  <% end %>
                </div>
                <div class="small-6 columns">
                  <% if product_filter.is_boolean? %>
                    <%= ppfv.input :boolean_value, as: :radio_buttons, label: false %>
                  <% elsif product_filter.is_number? %>
                    <%= ppfv.input :number_value, label: false, hint: "Number only" %>
                  <% elsif product_filter.is_range? %>
                    <%= ppfv.input :string_value, label: false, hint: "Example: 25-300 (numbers and dash only)" %>
                  <% else %>
                    <%= ppfv.input "#{product_filter.value_type}_value".to_sym, label: false %>
                  <% end %>
                </div>
              </div>
            <% end %>

          <% end %>
          <hr/>
          <%= f.submit "Update Filter Values", class: "button"%>
        <% end %>
      </div>
    <% end %>

		<% if website.has_effects? %>
			<% if can?(:manage, ProductAmpModel) %>
			<div class="group">
				<h5 class="subheader">Amp Models</h5>
				<%= link_to_function "add a model", "$('#add_amp_model_form').toggle();", class: "small success button" %>

				<div id="add_amp_model_form" style="display:none">
					<%= simple_form_for [:admin, @product_amp_model], remote: true do |f| %>
					    <%= f.hidden_field :product_id %>
						<div style="margin-bottom: 30px;">
							<span id="select_amp_model_name">
							<%= f.association :amp_model, collection: AmpModel.order("name") %>
							<%= link_to_function "new amp model",
								  "$('#select_amp_model_name').toggle();$('#new_amp_model_name').toggle()"%>
							</span>
							<span id="new_amp_model_name" style="display:none">
							<%= simple_fields_for AmpModel.new do |amp| %>
								<%= amp.input :name, label: "New amp model name" %>
							<% end %>
							<%= link_to_function "select existing amp model",
								  "$('#select_amp_model_name').toggle();$('#new_amp_model_name').toggle();$('#amp_model_name').val('');"%>
							</span>
						</div>
						<p><%= f.button :submit %>
						<%= link_to_function "cancel", "$('#add_amp_model_form').toggle();"%></p>
					<% end %>
				</div>

				<ul id="product_amp_models" class="list">
				  <% @product.product_amp_models.each do |pam| %>
				  <%= render "/admin/shared/product_amp_model_row", pam: pam %>
				  <% end %>
				</ul>
			</div>
			<% end %>

			<% if can?(:manage, ProductCabinet) %>
			<div class="group">
				<h5 class="subheader">Cabinets</h5>
				<%= link_to_function "add a cab", "$('#add_cabinet_form').toggle();", class: "small success button" %>

				<div id="add_cabinet_form" style="display:none">
					<%= simple_form_for [:admin, @product_cabinet], remote: true do |f| %>
					    <%= f.hidden_field :product_id %>
						<div style="margin-bottom: 30px;">
							<span id="select_cabinet_name">
							<%= f.association :cabinet, collection: Cabinet.order("name") %>
							<%= link_to_function "new cab",
								  "$('#select_cabinet_name').toggle();$('#new_cabinet_name').toggle()"%>
							</span>
							<span id="new_cabinet_name" style="display:none">
							<%= simple_fields_for Cabinet.new do |cab| %>
								<%= cab.input :name, label: "New cabinet name" %>
							<% end %>
							<%= link_to_function "select existing cab",
								  "$('#select_cabinet_name').toggle();$('#new_cabinet_name').toggle();$('#cabinet_name').val('');"%>
							</span>
						</div>
						<p><%= f.button :submit %>
						<%= link_to_function "cancel", "$('#add_cabinet_form').toggle();"%></p>
					<% end %>
				</div>

				<ul id="product_cabinets" class="list">
				  <% @product.product_cabinets.each do |pc| %>
				  <%= render "/admin/shared/product_cabinet_row", pc: pc %>
				  <% end %>
				</ul>
			</div>
			<% end %>

			<% if can?(:manage, ProductEffect) %>
			<div class="group">
				<h5 class="subheader">Effects</h5>
				<%= link_to_function "add an effect", "$('#add_effect_form').toggle();", class: "small success button" %>

				<div id="add_effect_form" style="display:none">
					<%= simple_form_for [:admin, @product_effect], remote: true do |f| %>
					    <%= f.hidden_field :product_id %>
						<div style="margin-bottom: 30px;">
							<span id="select_effect_name">
								<%= f.association :effect, collection: Effect.order("name") %>
								<%= link_to_function "new effect",
									  "$('#select_effect_name').toggle();$('#new_effect_name').toggle()"%>
							</span>
							<span id="new_effect_name" style="display:none">
								<%= simple_fields_for Effect.new do |effect| %>
									<%= effect.association :effect_type, collection: EffectType.order(:position) %>
									<%= effect.input :name %>
								<% end %>
								<%= link_to_function "select existing effect",
									  "$('#select_effect_name').toggle();$('#new_effect_name').toggle();$('#effect_name').val('');"%>
							</span>
						</div>
						<p><%= f.button :submit %>
						<%= link_to_function "cancel", "$('#add_effect_form').toggle();"%></p>
					<% end %>
				</div>

				<ul id="product_effects" class="list">
				  <% @product.product_effects.each do |pe| %>
				  <%= render "/admin/shared/product_effect_row", pe: pe %>
				  <% end %>
				</ul>
			</div>
			<% end %>
		<% end %>
	</div>

	<div class="large-6 columns">
		<% if can? :manage, @product.product_families %>
			<div class="group">
				<h5 class="subheader">Belongs to the following product families:</h5>
        <p>Note: most brands do not have products in the top-level families--only in the lower level families.</p>
				<%= simple_form_for [:admin, @product_family_product], remote: true do |f| %>
					<%= hidden_field_tag "called_from", "product" %>
				    <%= f.hidden_field :product_id %>
				    <div class="row collapse">
				    	<div class="large-10 small-8 columns">
                <%=raw f.association(:product_family,
                                     label: false,
                                     #collection: ProductFamily.nested_options(website),
                                     collection: ProductFamily.options_not_associated_with_this_product(@product_family_product.product, website),
                                     input_html: { class: 'chosen-select', multiple: true,  data: { placeholder: 'Select Product Family'} }
                                     ).gsub(/\&amp\;/, '&')%>
				    	</div>
				    	<div class="large-2 small-4 columns">
				    		<%= submit_tag 'add', class: "prefix button"  %>
				    	</div>
				    </div>
					<p style="text-align: right">
						or <%= link_to 'create a new family', new_admin_product_family_path %>
					</p>
				<% end %>

				<ul id="product_family_products" class="list">
					<% @product.product_family_products.each do |pfp| %>
						<%= render '/admin/shared/product_family_product_row', pfp: pfp, called_from: 'product' %>
					<% end %>
				</ul>

        <% if @product.product_families.length > 0 %>
          <p>The product families above make this product available on these locales:<br/>
           <%= @product.locales(website).join(", ") %>
          </p>
        <% end %>

				<% if @product.sub_products.size > 1 %>
					<h5 class="subheader">These are sub-products of this product</h5>
					<ul id="parent_products" class="sortable_list">
						<% @product.sub_products.each do |sub_product| %>
						<%= render '/admin/shared/parent_product_row', pp: sub_product, called_from: 'parent_product' %>
						<% end %>
					</ul>

				<% elsif @product.sub_products.size < 1 && website.brand.product_trees? %>
					<h6 class="subheader">This is a sub-product of</h6>
					<%= simple_form_for [:admin, @parent_product], remote: true do |f| %>
						<%= hidden_field_tag "called_from", "product" %>
						<%= f.hidden_field :product_id %>
						<div class="row collapse">
							<div class="large-10 small-8 columns">
								<%= f.association :parent_product,
								# collection: (website.products - [@product]),
								collection: (	Product.not_associated_with_these_parent_products(@product.parent_products, website) - [@product]),
								label: false,
								input_html: { class: 'chosen-select', multiple: true,  data: { placeholder: 'Select Parent Products'} }%>
							</div>
							<div class="large-2 small-4 columns">
								<%= submit_tag 'add', class: "postfix button" %>
							</div>
						</div>
					<% end %>

					<ul id="parent_products" class="nosort list">
						<% @product.parent_products.each do |pp| %>
							<%= render '/admin/shared/parent_product_row', pp: pp, called_from: 'product' %>
						<% end %>
					</ul>
				<% end %>
			</div>
		<% end %>

    <div class="group">
      <h5 class="subheader">Accessories</h5>

      <p>This product has the following accessories:</p>
      <%= simple_form_for [:admin, @product_accessory], remote: true do |f| %>
        <%= hidden_field_tag "called_from", "product" %>
        <%= f.hidden_field :product_id %>
        <div class="row collapse">
          <div class="large-10 small-8 columns">
            <%= f.association :accessory_product,
              collection: (website.products - [@product]),
              label: false
            %>
          </div>
          <div class="large-2 small-4 columns">
            <%= submit_tag 'add', class: "postfix button" %>
          </div>
        </div>
      <% end %>

      <ul id="product_accessories" class="nosort list">
        <% @product.product_accessories.each do |pa| %>
          <%= render '/admin/shared/product_accessory_row', pa: pa, called_from: 'product' %>
        <% end %>
      </ul>

      <hr/>
      <p>On the other hand, this product is an accessory to the following:</p>
      <%= simple_form_for [:admin, @accessory_product], remote: true do |f| %>
        <%= hidden_field_tag "called_from", "accessory_product" %>
        <%= f.hidden_field :accessory_product_id %>
        <div class="row collapse">
          <div class="large-10 small-8 columns">
            <%= f.association :product,
              collection: (website.products - [@product]),
              label: false
            %>
          </div>
          <div class="large-2 small-4 columns">
            <%= submit_tag 'add', class: "postfix button" %>
          </div>
        </div>
      <% end %>

      <ul id="accessory_to_products" class="nosort list">
        <% @product.product_accessories_where_this_is_the_accessory.each do |pa| %>
          <%= render '/admin/shared/product_accessory_row', pa: pa, called_from: 'accessory_product' %>
        <% end %>
      </ul>
    </div>

		<% if website.has_suggested_products? && can?(:manage, ProductSuggestion) %>
			<div class="group">
				<h5 class="subheader">Suggested Products</h5>
				<p><% if !!(website.brand.name.match(/lexicon/i)) %>
					On product pages these appear as suggestions on the side bar. If none are
					provided, then two products are selected at random. <% end %>
					If this is a discontinued product, then select alternative replacements here:</p>
				<%= simple_form_for([:admin, @product_suggestion], remote: true) do |f| %>
					<%= hidden_field_tag "called_from", "product" %>
					<%= f.hidden_field :product_id %>
					<div class="row collapse">
						<div class="large-10 small-8 columns">
							<%= f.association :suggested_product, 
							  # collection: (website.current_products - [@product]).sort_by(&:name),
							  collection: (Product.not_associated_with_these_products(@product.alternatives,website) - [@product]).sort_by(&:name),
							  label: false,
							  input_html: { class: 'chosen-select', multiple: true,  data: { placeholder: 'Select Suggested Products'} }
							  %>
						</div>
						<div class="large-2 small-4 columns">
							<%= submit_tag 'submit', class: "postfix button"  %>
						</div>
					</div>
				<% end %>
				<ul id="product_suggestions" class="sortable_list">
					<% @product.product_suggestions.each do |product_suggestion| %>
						<%= render "/admin/shared/product_suggestion_row", ps: product_suggestion, called_from: 'product' %>
					<% end %>
				</ul>
			</div>
		<% end %>

		<% if can? :manage, ProductReview %>
			<div id="product_reviews" class="group">
				<h5 class="subheader">Related News <% if website.has_reviews? %> and Reviews<% end %></h5>
				<ul class="button-group">
					<% if website.has_reviews? %>
						<li><%= link_to "new review", new_admin_product_review_path, class: "small success button" %></li>
					<% end %>
					<li><%= link_to "new news", new_admin_news_path, class: "small success button" %></li>
				</ul>

				<% if website.has_reviews? %>
				<ul id="product_reviews_products" class="list">
					<% @product.product_review_products.each do |prp| %>
						<%= render '/admin/shared/product_review_product_row', prp: prp, called_from: 'product' %>
					<% end %>
				</ul>
				<% end %>
				<ul id="news_products" class="list">
					<% @product.news_products.each do |np| %>
						<%= render '/admin/shared/news_product_row', np: np, called_from: 'product' %>
					<% end %>
				</ul>
			</div>
		<% end %>

		<% if website.has_artists? && can?(:manage, ArtistProduct) %>
			<div class="group">
				<h5 class="subheader">Artists who use this product</h5>
				<%= simple_form_for [:admin, @artist_product], remote: true do |f| %>
					<%= f.hidden_field :product_id %>
					<%= hidden_field_tag :called_from, "product" %>
					<div class="row collapse">
						<div class="large-10 small-8 columns">
							<%= f.association :artist, collection: Artist.order("name"), label: false %>
						</div>
						<div class="large-2 small-4 columns">
							<%= f.submit "add artist", class: "postfix button" %>
						</div>
					</div>
					<p style="text-align: right">
						or <%= link_to "add a new artist", admin_artists_path %>
					</p>
				<% end %>
				<ul id="artist_products" class="list">
					<% @product.artist_products.each do |ap| %>
					<%= render "/admin/shared/artist_product_row", ap: ap, called_from: "product" %>
					<% end %>
				</ul>
			</div>
		<% end %>

		<% if website.has_faqs? && can?(:manage, Faq) %>
			<div class="group">
				<h5 class="subheader">FAQs</h5>
				<%= link_to "new faq", new_admin_faq_path(product_id: @product.to_param), class: "small success button" %>
				<ul class="list">
					<% @product.faqs.each do |faq| %>
					<li><%= link_to faq.question, [:admin, faq] %></li>
					<% end %>
				</ul>
			</div>
		<% end %>

    <div class="group">
      <h5 class="subheader">Videos</h5>
      <% unless website.main_tabs.include?("videos") %>
        <p>This section was originally added for the Soundcraft site.
        It can work for this site, but it has not yet been implemented
        on the product page template. To do so, add "videos" to the
        main tabs in the site settings.
        </p>
      <% end %>
      <p>Note: if you add videos here, be sure NOT to change one of the big content blocks
      for this product so it is named "Videos".</p>

      <%= simple_form_for [:admin, @product_video], remote: true do |f| %>
        <%= f.hidden_field :product_id %>
        <%= hidden_field_tag :called_form, "product" %>
        <%= f.input :youtube_id, label: "YouTube Video ID" %>
        <%= f.input :group, label: "Group name", hint: "Something like: 'Product Demos'" %>
        <%= f.submit "add video", class: "button" %>
      <% end %>

      <ul id="product_videos" class="list">
        <% @product.product_videos.each do |pv| %>
          <%= render "/admin/shared/product_video_row", pv: pv, called_from: "product" %>
        <% end %>
      </ul>
    </div>

    <div class="group">
      <h5 class="subheader">Badges</h5>

      <%= simple_form_for [:admin, @product_badge], remote: true do |f| %>
        <%= f.hidden_field :product_id %>
        <%= hidden_field_tag :called_form, "product" %>
        <div class="row collapse">
          <div class="small-8 columns">
            <%= f.association :badge, 
            collection: Badge.not_associated_with_this_product(@product_badge.product, website),
            label: false,
            input_html: { class: 'chosen-select', multiple: true,  data: { placeholder: 'Select Badges'} }%>
          </div>
          <div class="small-4 columns">
            <%= f.submit "add badge", class: "button postfix" %>
          </div>
        </div>
      <% end %>
      <p><small>Or, <%= link_to "create a new badge", new_admin_badge_path %>.</small></p>

      <ul id="product_badges" class="list">
        <% @product.product_badges.each do |pb| %>
          <%= render "/admin/shared/product_badge_row", pb: pb, called_from: "product" %>
        <% end %>
      </ul>
    </div>

    <div class="group">
      <h5 class="subheader">Highlights</h5>
      <p>Highlights appear as a slideshow just after the product description on the product page.</p>
      <ul>
        <% @product.highlights.each do |highlight| %>
          <li><%= link_to highlight.name, [:admin, highlight] %></li>
        <% end %>
      </ul>
      <p><%= link_to "Add a highlight",
        new_admin_feature_path(featurable_type: "Product", featurable_id: @product.id),
        class: "tiny success button" %></p>
    </div>

	</div>
</div>
