<% content_for :extra_header_code do %>
  <%= javascript_include_tag "product_selector" %>
<% end %>

<div id="ps-top-nav">
	<div class="top-level-families">
		<ul class="small-block-grid-<%= (top_level_families.length / 2).to_i %>  medium-block-grid-<%= top_level_families.length %>">
			<% top_level_families.each do |product_family| %>
				<%= render 'product_selector/product_families/product_family', product_family: product_family %>
			<% end %>
		</ul>
	</div>
</div>

<div id="ps-sub-nav">
  <div id="subgroups">
    <% if @parent_family && @parent_family.product_selector_behavior.to_s == "root_with_subgroups" %>
      <% subgroups = @parent_family.subgroups_for_product_selector %>
      <ul class="small-block-grid-2 medium-block-grid-<%= subgroups.length %>">
        <% subgroups.each do |subgroup| %>
          <%= render(subgroup) %>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>

<div class="spinner" style="display:none;">
  <div style="text-align: center">
    <%= image_tag "loading.gif", alt: "loading..." %>
  </div>
</div>

<div class="row">
  <div class="small-4 medium-3 large-2 columns" id="options-container">
    <%= render 'options' %>
  </div>

  <div class="small-8 medium-9 columns" id="results-container">
    <%= form_tag compare_products_path, method: :post, id: "compare_form" %>
      <%= render 'product_grid' %>
    </form>
  </div>
</div>

<ul id="hidden-products" style="display:none;"></ul>

<script>
  window.master_product_list = [];
  $("li.product-list-item").each(function() {
    window.master_product_list.push(this);
  });
  window.product_elements_to_show = master_product_list;

  initializeSliders();
  initializeRangeSliders();
  initializeUpwardsSliders();
  rerunFilter();

</script>

