<h1>Solution Pages</h1>

<% if can? :create, Solution %>
  <ul class="button-group round">
    <li><%= link_to 'New Solution', new_admin_solution_path, class: "small success button" %></li>
  </ul>
<% end %>

<table class="data" style="width: 100%">
  <tr>
    <th>Name</th>
    <th>Brands</th>
  </tr>

<% @solutions.each do |solution| %>
  <tr style="background: <%= cycle 'white', 'none' %>">
    <td><%= link_to solution.name, [:admin, solution] %></td>
    <td><%= solution.brands.map{|b| b.name}.join(", ") %></td>
  </tr>
<% end %>
</table>


<hr/>
<%= simple_form_for [:admin, website.brand] do |f| %>
  <%= hidden_field_tag "called_from", "solutions" %>
  <p>Use the controls below to configure which (if any) of the solutions
  appear on the top menu of the <%= website.brand.name %> site.</p>

  <%= f.input :show_enterprise_solutions %>
  <%= f.input :show_entertainment_solutions %>
  <%= f.submit "update", class: "button" %>
<% end %>
