<% set_meta_tags 	twitter: {
		card: "summary"
	},
	og: {
		image: image_url("#{website.folder}/logo.png"),
		type: 'brand',
		description: @website.site_name,
		title: @website.brand.name
	} %>

<div class="row">
	<div class="large-4 small-12 columns">
		<%= link_to 'http://archimedia.harman.com', target: '_blank' do %>
		<div class="pillar ams">
			<h2>Install</h2>
			<p>Architectural Media Systems provides configuration and control of core components from BSS Audio and Crown via <b>HiQnet Audio Architect</b> software for the widest variety of installs imaginable.</p>
			<h4 class="subheader">&gt;&gt; archimedia.harman.com</h4>
		</div>
		<% end %>
	</div>
	<div class="large-4 small-12 columns">
		<%= link_to 'http://performancemanager.harman.com', target: '_blank' do %>
		<div class="pillar pm">
			<h2>Performance</h2>
			<p>Utilizing technology from JBL, Crown and dbx, <b>HiQnet Performance Manager</b> software is designed to configure networked audio systems for live sound events.</p>
			<h4 class="subheader">&gt;&gt; performancemanager.harman.com</h4>
		</div>
		<% end %>
	</div>
	<div class="large-4 small-12 columns">
		<%= link_to 'http://www.crownaudio.com/bandmanager', target: '_blank' do %>
		<div class="pillar bm">
			<h2>Portable</h2>
			<p>For a touring or local band or DJ, <b>HiQnet Band Manager</b> software unleashes the power of Crown XTi and XTi 2 series amplifiers while greatly simplifying system setup and management.</p>
			<h4 class="subheader">&gt;&gt; crownaudio.com/bandmanager</h4>
		</div>
		<% end %>
	</div>
</div>

<%= content_for :preload do %>
	<%= preload_background_images %>
<% end %>

<%= content_for :popup_code do %>
	<% if website.homepage_popup %>
		<%=raw website.homepage_popup %>
	<% end %>
<% end %>

<div id="homepage-counter" data-counter="<%= @counter %>"></div>