<% set_meta_tags 	twitter: {
		card: "summary"
	},
	og: {
		image: image_url("#{website.folder}/logo.png"),
		type: 'brand',
		description: @website.site_name,
		title: @website.brand.name
	} %>

<div class="row">
	<div class="large-4 small-12 columns">
		<%= link_to 'http://archimedia.harman.com', target: '_blank' do %>
		<div class="pillar ams">
			<h2>Install</h2>
			<p><b>Audio Architect</b> configures HiQnet capable Crown amplifiers and BSS London signal processors in installed-sound systems.</p>
		</div>
		<% end %>
	</div>
	<div class="large-4 small-12 columns">
		<%= link_to 'http://performancemanager.harman.com', target: '_blank' do %>
		<div class="pillar pm">
			<h2>Performance</h2>
			<p><b>JBL Performance Manager</b> is an application-specific iteration of HiQnet System Architect™ for live sound.</p>
		</div>
		<% end %>
	</div>
	<div class="large-4 small-12 columns">
		<%= link_to 'http://www.crownaudio.com/bandmanager', target: '_blank' do %>
		<div class="pillar bm">
			<h2>Portable</h2>
			<p><b>Band Manager</b> allows you to unleash the power of your Crown XTi and XTi2 series amplifiers while greatly simplifying system setup and management.</p>
		</div>
		<% end %>
	</div>
</div>

<%= content_for :preload do %>
	<%= preload_background_images %>
<% end %>

<%= content_for :popup_code do %>
	<% if website.homepage_popup %>
		<%=raw website.homepage_popup %>
	<% end %>
<% end %>

<div id="homepage-counter" data-counter="<%= @counter %>"></div>