
<%= form_for @signup do |f| %>
	<% if @signup.errors.any? %>
		<div data-alert class="alert-box alert">
			Please make sure your email address is correct:
		</div>
	<% end %>
	<%= f.hidden_field :campaign %>
	<div class="row">
		<div class="large-12 columns" style="text-align: left;">
  		<%= f.label :email, "Be the first to find out:" %>
  	</div>
  </div>
	<div class="row">
    <div class="large-12 columns">
      <div class="row collapse">
        <div class="small-8 columns">
        	<%= f.text_field :email, placeholder: "your@email.com" %>
        </div>
        <div class="small-4 columns">
        	<%= f.submit "let me know", class: "large button prefix" %>
        </div>
      </div>
    </div>
	</div>
<% end %>
