<a class="close-reveal-modal" aria-label="Close">&#215;</a>
<%= simple_form_for [@training_course, @training_class, @training_class_registration] do |f| %>
  <%= f.input :name, required: true %>
  <%= f.input :email, required: true %>
  <%= f.input :comments %>
  <%= f.submit "Submit", class: "small button" %>
<% end %>
