<h1><%= @get_started_page.name %> Panel: <%= @get_started_panel.name %></h1>

<ul class="button-group round">
	<li><%= link_to [:admin, @get_started_page], class: "small secondary button" do %>
    <%= fa_icon "angle-double-left" %>
  <% end %>
  </li>
	<li><%= link_to edit_admin_get_started_page_get_started_panel_path(@get_started_page, @get_started_panel, locale: I18n.locale), class: "small secondary button" do %>
      <%= fa_icon "edit" %>
      Edit
    <% end %>
  </li>
	<li><%= link_to [:admin, @get_started_page, @get_started_panel], confirm: 'Are you sure?', method: :delete, class: "small alert button" do %>
    <%= fa_icon "trash" %>
    Delete
  <% end %>
  </li>
</ul>

<p>
Lock this panel until user registers product?
<%= (@get_started_panel.locked_until_registration?) ? "yes" : "no" %>
</p>

<p><strong>Content:</strong></p>

<div><%=raw @get_started_panel.content %></div>

