<% set_meta_tags  twitter: {
    card: "summary"
  },
  og: {
    image: image_url("#{website.folder}/logo.png"),
    type: 'brand',
    description: @website.site_name,
    title: @website.brand.name
  } %>

<%= content_for :feature do %>
  <%= render_partial 'shared/video_banner' %>
<% end %>

<%= content_for :big_bottom_box do %>
  <p>&nbsp;</p>

  <%# The video banner method sets @leftover_slides if it finds static images that didn't get used %>
  <%= render_partial "shared/leftover_slides_strip" %>

  <%= render_partial "shared/features_carousel_strip" %>
  <%= render_partial "shared/featured_products_strip" %>
  <%#= render_partial "shared/training_strip" %>
  <%= render_partial "shared/contrio_strip" %>
  <%= render_partial "shared/software_strip" %>
  <%#= render_partial "shared/compatibility_strip" %>
  <%= render_partial "shared/promotions_strip" %>
  <%= render_partial "shared/teaser_strip" %>
  <%= render_partial "shared/videos_strip" %>
  <%= render_partial "shared/news_and_reviews_strip" %>
  <div class="row">
    <hr/>
  </div>
  <%= render_partial "shared/social_strip" %>

<% end # big_bottom_box %>

<%= content_for :preload do %>
  <%= preload_background_images %>
<% end %>

<%= content_for :popup_code do %>
  <% if website.homepage_popup %>
    <%=raw website.homepage_popup %>
  <% end %>
<% end %>

<div id="homepage-counter" data-counter="<%= @counter %>" data-nextevent="<%= @next_event %>" data-countdowncontainer="<%= @countdown_container %>"></div>

