<% @systems.each do |system| %>

	<% system_configuration = system.system_configuration('start') %>
	<div class="system_selector">
		<h1><%= system.name %></h1>

		<%= simple_form_for [system, system_configuration], url: new_system_system_configuration_path(system), method: :get do |f| %>
			<div class='starter_option_container'>

        <ul class="large-block-grid-<%= f.object.system_configuration_options.select{|sco| sco unless sco.system_option.parent_id.to_i > 0 }.length %> small-block-grid-1">
				<%= f.fields_for :system_configuration_options do |sco| %>

					<% unless sco.object.system_option.parent_id.to_i > 0 %>
            <li>
              <div class='panel starter_option'>
                <%= render_partial "system_configurations/system_option",
                    skip_children: true,
                    skip_help: false,
                    f: f,
                    sco: sco %>
              </div>
            </li>
					<% end %>

				<% end %>

			</ul>

			<div class="submit_container">
				<%= f.submit 'Build It', class: 'button' %>
			</div>
		<% end %>
	</div>

<% end %>
