<% @systems.each do |system| %>

	<% system_configuration = system.system_configuration('start') %>
	<div class="system_selector">
		<h1><%= system.name %></h1>

		<%= simple_form_for [system, system_configuration], url: new_system_system_configuration_path(system), method: :get, html: { class: 'configurator' } do |f| %>
			<div class='starter_option_container'>

        <%
            starter_options = f.object.system_configuration_options.select{|sco| sco unless sco.system_option.parent_id.to_i > 0 }
            main_options = starter_options.select{|sco| sco if sco.system_option.children.length > 0 }
            other_options = starter_options - main_options
        %>

        <ul class="large-block-grid-<%= main_options.length %> medium-block-grid-<%= main_options.length %> small-block-grid-1">
          <%= f.fields_for :system_configuration_options do |sco| %>

            <% if main_options.include?(sco.object) %>
              <li>
                <div class='panel starter_option'>
                  <%= render_partial "system_configurations/system_option",
                      skip_children: true,
                      skip_help: false,
                      f: f,
                      sco: sco %>
                </div>
              </li>
            <% end %>

          <% end %>
        </ul>

        <div class="row">
          <div class="large-4 medium-4 large-offset-4 medium-offset-4 small-12 columns">
            <%= f.fields_for :system_configuration_options do |sco| %>

              <div class="bump-up">
                <% if other_options.include?(sco.object) %>
                    <%= render_partial "system_configurations/system_option",
                        skip_children: true,
                        skip_help: false,
                        f: f,
                        sco: sco %>
                <% end %>
              </div>

            <% end %>
          </div>
        </div>

      </div>
			<div class="submit_container">
				<%= f.submit 'Build It', class: 'button' %>
			</div>
		<% end %>
	</div>

<% end %>
