<%= content_for :title do %><%= truncate @case_study[:headline], length: 40 %><% end %>
<%= content_for :description do %><%= t('case_study') %>: <%= @case_study[:headline] %><% end %>


<div class="container main-container">
  <div class="row">
    <div class=" columns">
      
			<div class="flex-video widescreen">
				<iframe width="560" height="315" src="https://www.youtube.com/embed/<%=@case_study[:youtube_id]%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
			</div>
      <h1><%= @case_study[:headline] %></h1>
      
    </div>
  </div><!-- <div class="row"> -->





<%#= render 'shared/video_modal' %>

</div><!-- <div class="container main-container">  -->
