<%= content_for :title do %><%= truncate @case_study[:headline], length: 40 %><% end %>
<%= content_for :description do %><%= t('case_study') %>: <%= @case_study[:headline] %><% end %>

<% if @case_study[:banner_file_name].present? || ENV['show_placeholders'] == "true" %>
  <div class="bumped-up space-after">
    <div class="banner-container vertical-market">
      <%= image_tag @case_study[:banner_urls][:large], alt: "#{@case_study[:headline]} Banner" %>
    </div>
  </div>
<% end %>

<div class="container main-container">
  <div class="row">
    <div class="large-7 large-offset-1 columns">
      <h1><%= @case_study[:headline] %></h1>
      <br/>
    </div>
  </div>

  <div class="row">
    <div class="large-7 large-offset-1 columns">
      <%=raw textilize @case_study[:content] %>
    </div>
    <div class="large-3 medium-12 small-12 end columns">
      <% if @case_study[:youtube_id].present? %>
        <div class="row">
          <div class="medium-8 medium-offset-2 columns text-center">
            <a data-videoid="<%=@case_study[:youtube_id]%>" class="start-video" href="https://www.youtube.com/embed/<%=@case_study[:youtube_id]%>">
                    <img src="https://i.ytimg.com/vi/<%=@case_study[:youtube_id]%>/mqdefault.jpg" class="radius">
                    <br>
                    <small>Case Study Video</small>
            </a>
            <p>&nbsp;</p>
          </div>
        </div>
      <% end %>

      <% if @case_study[:pdf_external_url].present? %>
        <div class="row">
          <div class="medium-8 medium-offset-2 columns text-center">
            <%= link_to @case_study[:pdf_external_url] do %>
              <%= image_tag "pdf-icon.png", alt: "PDF" %>
            <% end %>
            <p>&nbsp;</p>
          </div>
        </div>
      <% end %>

      <% if @case_study[:pdf_url].present? %>
        <div class="row">
          <div class="medium-8 medium-offset-2 columns text-center">
            <%= link_to @case_study[:pdf_url] do %>
              <%= image_tag "pdf-icon.png", alt: "PDF", lazy: false %>
            <% end %>
            <p>&nbsp;</p>
          </div>
        </div>
      <% end %>

      <!--<div class="callout panel">-->
      <!--  <h5><%#=t "case_study_page.is_your_project_similar" %></h5>-->

      <!--  <br/>-->
      <!--  <%#= link_to new_lead_path, class: "medium radius button" do %>-->
      <!--    <%#=t "case_study_page.connect_with_harman" %>-->
      <!--  <%# end %>-->
      <!--</div>-->

    </div>
  </div>


<!--<div class="flex-video widescreen">-->
<!--     <iframe width="560" height="315" src="https://www.youtube.com/embed/lOQuMFXzohg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>-->
<!--</div>  -->

<%= render 'shared/video_modal' %>

</div><!-- <div class="container main-container">  -->
