<div class="search_form_container">
	<%= form_tag minimal_distributor_search_path(@brand.to_param), method: :get %>	
		<%= select_tag :country, options_from_collection_for_select(@countries, :country, :country, @country) %>
		<%= submit_tag t('submit') %>
	</form>
</div>

<% if @distributors.size > 0 %>
	<% @distributors.each do |distributor| %>
	<div class="distributor_container">
		<h2><%= distributor.name %></h2>
		<div><%=raw distributor.detail %></div>
	</div>
	<% end %>
<% end %>
