<% set_meta_tags title: @page_title,
				 reverse: true %>

<h1 class="page_title"><%= website.brand.name %> Training</h1>
<h2 style="text-align: center"><%= @page_title %></h2>

<div style="margin: 0px auto; width: <%= @training_module.width %>px">
<%= show_module(@training_module) %>
</div>

<div class="medium_centered_box">
	<%=raw @training_module.description %>
</div>

<%= content_for :big_bottom_box do %>
	<% if @training_module.products.size > 0 %>
		<h3><%= t('titles.related_products') %></h3>
		<% @training_module.products.each do |product| %>
			<%= render_partial "product_families/product_square", product: product, compare: false %>
		<% end %>
		<div class="clear"></div>
	<% end %>

	<% if @training_module.active_softwares.size > 0 %>
		<h3>Related Software</h3>
		<ul>
		<% @training_module.active_softwares.each do |software| %>
			<li><%= link_to software.name, software %></li>
		<% end %>
		</ul>
		<div class="clear"></div>
	<% end %>
<% end %>