<% set_meta_tags :title => @product.name,
				 :reverse => true,
                 :description => translate_content(@product, :short_description),
                 :keywords => translate_content(@product, :keywords) %>

<%= content_for :preload do %>
	<%= image_tag("#{website.folder}/#{I18n.locale}/buyitnow_button_hover.png") %>
	<% @product.product_attachments.each do |product_attachment| %>
		<% if !product_attachment.product_attachment_file_name.blank? %>
			<%= image_tag(product_attachment.product_attachment.url(:medium)) %>
		<% end %>
	<% end %>
<% end %>

<% if @product.has_custom_background? %>
	<%= content_for :custom_css do %>
	<style type="text/css" media="screen">
		body { <%= @product.custom_background %> }
	</style>
	<% end %>
<% end %>

<%= cache ["product_page", @product, Rails.env] do %>
<div id="breadcrumbs"><%= breadcrumbs(@product) %></div>

<div id="product_content" class="<%= @product.layout_class %>">
	<div id="left_column">
		<div id="product_basics">

			<h1><%= title @product.name %></h1>
			<h3><%= @product.short_description %></h3>
			
			<div id="product_basics_bottom">
			<% if @product.sale_price && @product.sale_price.to_f > 0 %>
			<h2 class="price"><%= number_to_currency(@product.sale_price) %></h2>
			<% end %>
			<% if @product.msrp && @product.msrp.to_f > 0 %>
			  <% if @product.sale_price && @product.msrp.to_f > @product.sale_price.to_f %>
				<p>
					MSRP <span class="strike"><%= number_to_currency(@product.msrp) %></span><br/>
					Save <%= number_to_currency(@product.msrp.to_f - @product.sale_price.to_f) %>!
				</p>
			  <% else @product.msrp %>
				<p>
					MSRP <%= number_to_currency(@product.msrp) %>
				</p>
			  <% end %>
			<% end %>
			</div>
		</div>
		<div id="viewer_container" <% if @product.layout_class == "horizontal" && @product.msrp.blank? %>style="margin-top:130px; margin-bottom:10px"<% end %>>
		<div id="viewer">
			<% if @product.photo %>
				<% if @product.layout_class == "horizontal" %>
				<%= image_tag(@product.photo.product_attachment.url(:horiz_medium)) %>
				<% elsif @product.layout_class == "vertical" %>
				<%= image_tag(@product.photo.product_attachment.url(:vert_medium)) %>
				<% else %>
				<%= image_tag(@product.photo.product_attachment.url(:medium)) %>
				<% end %>
			<% end %>
		</div>
		</div>
		<% if @product.images_for("product_page").size > 0 %>
		<ul id="product_thumbnails">
			<% @product.images_for("product_page").each do |product_attachment| %>
			  <% if product_attachment.no_lightbox? || !!(website.no_lightbox) %>
				<li><%= link_to(image_tag(product_attachment.product_attachment.url(:tiny_square)), product_attachment.product_attachment.url) %></li>
			  <% else %>
				<li><%= link_to(image_tag(product_attachment.product_attachment.url(:tiny_square)), product_attachment.product_attachment.url(:lightbox), :class => "lightbox") %></li>
			  <% end %>
			<% end %>
		</ul>
		<% end %>
	</div>
	
	<div id="right_column">		
		<% if website.has_online_retailers? || website.has_distributors? || website.has_dealers? || !@product.direct_buy_link.blank? %>
		<div id="product_buy_now_box">
			<%= buy_it_now_link(@product) %>
			<% unless @product.demo_link.blank? %>
				<% if File.exists?(Rails.root.join("app", "assets", "images", "#{website.folder}/#{I18n.locale}/demo_download_button.png")) %>
					<%= link_to(image_tag("#{website.folder}/#{I18n.locale}/demo_download_button.png", 
							alt: "Demo Download", 
							mouseover: "#{website.folder}/#{I18n.locale}/demo_download_button_hover.png") ,
						@product.demo_link) %>
				<% else %>
					<strong><%= link_to "Demo Download", @product.demo_link %></strong>
				<% end %>
			<% end %>
		</div>
		<% end %>
		<%= links_to_current_promotions(@product) %>
		<% if website.has_suggested_products? && @suggestions.size > 0 %>
			<h4>You might also like:</h4>
			<% @suggestions.each do |suggested_product| %>
			<div class="suggested_product">
				<%= link_to suggested_product do %>
				<% if suggested_product.photo && suggested_product.layout_class != "horizontal" %>
				<div style="float: left; margin-right: 6px">
					<%= image_tag(suggested_product.photo.product_attachment.url(:thumb)) %>
				</div>
				<% end %>
				<h3><%= translate_content(suggested_product, :name) %></h3>
				<% if suggested_product.photo && suggested_product.layout_class == "horizontal" %>
				<div style="text-align: center">
					<%= image_tag(suggested_product.photo.product_attachment.url(:horiz_thumb)) %>
				</div>
				<% end %>
				<div class="product_description">
					<%= translate_content(suggested_product, :short_description) %>
				</div>
				<% end %>
				<div class="clear"></div>
			</div>
			<% end %>		
		<% end %>		
		<%= render 'shared/add_this' %>
	</div>
	<div class="clear" style="border-bottom: 1px solid #E6E6E6"></div>
	<%= draw_main_tabs @product %>
</div>

<div id="product_bottom_content">

	<div id="bottom_right_column">
		<%= draw_audio_demos @product %>
		<%#= draw_packaging_boxes @product %>
		<%= draw_info_boxes @product, :hide_on_load => false %>		
		<%#= render_partial "shared/newsletter_signup" %>
	</div>
	
	<div id="bottom_left_column">
		<%= draw_main_tabs_content @product %>
	</div>

	<div class="clear"></div>
</div>

<% end # cache %>

<% if session["geo_usa"] %>
<%= content_for :dealer_popup do %>
	<div>
		<div style="float: left;">
			<h2><%= t('titles.buy_online') %></h2>
		</div>
		<div style="float: right; margin-top: 12px;">
			<%= form_tag where_to_buy_path() %>
				<%= t('us_zip_code') -%>: <%= text_field_tag "zip", session[:zip], :size => 8 %>
				<%= submit_tag t('find_us_dealers') %>
				<%= link_to t("international_distributors"), international_distributors_path %>
			</form>
		</div>
		<div class="clear"></div>
	</div>
	<div id="dealers">
	<div id="online_retailers">
		<%= render_partial "shared/buynow", :product => @product %>
	</div>
	</div>
	<div style="clear:both"></div>
<% end %>
<% end %>

<%= content_for :extra_js do %>
	$(document).ready(function() {
		if ((navigator.userAgent.indexOf('iPhone') != -1) || (navigator.userAgent.indexOf('iPod') != -1) || (navigator.userAgent.indexOf('iPad') != -1)) {
			$('#product_buy_now_box').after(
				"<div style='text-align:center; color: #444; margin: 4px; font-size: 85%'><i>iPad users: use 2 fingers to scroll in the boxes below.</i></div>"
			);
		} 
	});
	<% if @product.audio_demos.size > 0 %>

	var inlinePlayer = null;

	soundManager.debugMode = true; // disable or enable debug output

	soundManager.preferFlash = false; // use HTML5 audio for MP3/MP4, if available
	soundManager.useFlashBlock = false;
	soundManager.url = '/swfs/'; // path to directory containing SM2 SWF

	// optional: enable MPEG-4/AAC support (requires flash 9)
	soundManager.flashVersion = 9;

	// ----

	soundManager.onready(function() {
	  // soundManager.createSound() etc. may now be called
	  inlinePlayer = new InlinePlayer();
	});


	<% end %>
<% end %>

<% if current_user && can?(:manage, @product) %>
<div class="admin_function">
	<%= link_to "edit", [:admin, @product] %>
</div>
<% end %>