<%= form_for([:admin, @clinician_question]) do |f| %>
  <% if @clinician_question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@clinician_question.errors.count, "error") %> prohibited this clinician question from being saved:</h2>

      <ul>
      <% @clinician_question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :clinician_report_id %><br />
    <%= f.text_field :clinician_report_id %>
  </div>
  <div class="field">
    <%= f.label :question %><br />
    <%= f.text_area :question %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
