<div class="large-4 columns">
		<%= cache ["support_body", website.brand, I18n.locale] do %>

			<% if addr = website.value_for("address_and_phone") %>
			<div class="panel">
				<h4><%= t("titles.mailing_address") %></h4>
				<p><%=raw addr %></p>
			</div>
			<% end %>

			<% if country_is_usa %>
				<div class="panel">
       		<%= link_to "Request Factory Repair", rma_request_path, class:"button" %>
    		</div>
      <% end %>

			<div class="panel">
				<h4><%= t('titles.product_support') %></h4>
				<p><%= t('blurbs.product_support') %></p>
				<%= form_tag support_path, method: :get do |f| %>
					<div class="row collapse">
						<div class="medium-9 small-9 columns">
							<%= select_tag :product_id,
									options_from_collection_for_select(website.current_and_discontinued_products([:product_families]) - website.vintage_products, :to_param, :name) + vintage_options(), 
									include_blank: true %>
						</div>
						<div class="medium-3 small-3 columns">
							<%= submit_tag t('go'), class: "postfix button" %>
						</div>
					</div>
				<% end %>
				<ul class="list">
					<% if !!website.brand.name.match(/^bss/i) %>
					<li><%= link_to t('training'), "/training" %></li>
					<% elsif !!website.folder.to_s.match(/archimedia/) %>
					<li><%= link_to t('training'), "/en-US/onsite_training" %></li>
					<% elsif !!(website.has_training) %>
					<li><%= link_to "product training", training_path %></li>
					<% end %>
				</ul>
			</div>

			<% if website.has_service_centers? %>
			<div class="panel">
				<h4><%= t('titles.locate_us_service_center') %>:</h4>
				<%= form_tag service_lookup_path do |f| %>
					<div class="row collapse">
						<div class="medium-9 small-9 columns">
							<%= text_field_tag "zip", session[:zip], size: 8, placeholder: t('us_zip_code') %>
						</div>
						<div class="medium-3 small-3 columns">
							<%= submit_tag t('go'), class: "postfix button" %>
						</div>
					</div>
				<% end %>
				<ul class="list">
					<% if website.has_parts_form? %>
					<li><%= link_to t('titles.part_request'), parts_request_path %></li>
					<% end %>
				</ul>
			</div>
			<% end %>

      <% if website.has_software? && (website.current_softwares.length > 0 || website.forced_current_softwares.length > 0) %>
			<div class="panel">
				<h4><%= link_to t('software_downloads').titleize, software_index_path %></h4>
				<p><%= t('blurbs.software_downloads', brand: website.brand_name) %></p>
				<ul class="list">
					<li><%= link_to t('software_downloads'), software_index_path %></li>
					<% if !!(website.has_third_party_downloads) %>
					<li><%= link_to "3rd party controllers", "/en-US/3rd-party-controllers" %></li>
					<% end %>
					<% if !!(website.has_speaker_tunings) %>
					<li><%= link_to "speaker tunings", speaker_tunings_path %></li>
					<% end %>
          <li><%= link_to "More Resources", support_downloads_path %></li>
				</ul>
			</div>
			<% end %>

      <% if website.has_product_registrations? %>
        <div class="panel">
          <h4><%= link_to t('warranty_registration').titleize, warranty_registration_path %></h4>
          <p><%= t('blurbs.warranty_registration', brand: website.brand_name) %></p>
          <ul class="list">
            <li><%= link_to t('warranty_registration'), warranty_registration_path %></li>
            <% if !!website.brand.name.match(/bss|dbx/i) %>
            <li><%= link_to t('warranty_policy'), warranty_policy_path %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

			<% unless website.brand_name.match(/dod|studer/i) %>
			<div class="panel">
				<h4><%= t('titles.more_resources').titleize %></h4>
				<ul class="list">
          <% if website.brand_name.match(/digitech/i) %>
            <li><%= link_to t("sound_community"), soundcomm_url, target: "_blank" %></li>
            <li><%= link_to "guitarworkstation.com", "http://www.guitarworkstation.com", target: "_blank" %></li>
          <% end %>
					<% if !!(website.value_for("troubleshooting_url")) %>
					<li><%= link_to t('troubleshooting').downcase, support_troubleshooting_path %></li>
					<% end %>
					<% if !!(website.has_cad_drawings) %>
					<li><%= link_to "CAD files", support_cad_path %></li>
					<% end %>
					<li><%= link_to t('titles.rohs'), rohs_path %></li>
					<% if !!(website.forum_link) %>
					<li><%= link_to t("user_forum"), website.forum_link %></li>
					<% end %>
          <% if !!!(website.brand.name.to_s.match(/digitech|lexicon|dod/i)) %>
            <li><%= link_to "System Design Tools", tools_calculators_path %></li>
          <% end %>
          <% if !website.has_software? %>
            <li><%= link_to "More Resources", support_downloads_path %></li>
          <% end %>
				</ul>
			</div>
			<% end %>

		<% end %>
	</div>