<%= form_for(@blog_article) do |f| %>
  <% if @blog_article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@blog_article.errors.count, "error") %> prohibited this blog_article from being saved:</h2>

      <ul>
      <% @blog_article.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :blog_id %><br />
    <%= f.number_field :blog_id %>
  </div>
  <div class="field">
    <%= f.label :post_on %><br />
    <%= f.date_select :post_on %>
  </div>
  <div class="field">
    <%= f.label :author_id %><br />
    <%= f.number_field :author_id %>
  </div>
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
