<h1>Listing blog_articles</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Blog</th>
    <th>Post on</th>
    <th>Author</th>
    <th>Body</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @blog_articles.each do |blog_article| %>
  <tr>
    <td><%= blog_article.title %></td>
    <td><%= blog_article.blog_id %></td>
    <td><%= blog_article.post_on %></td>
    <td><%= blog_article.author_id %></td>
    <td><%= blog_article.body %></td>
    <td><%= link_to 'Show', blog_article %></td>
    <td><%= link_to 'Edit', edit_blog_article_path(blog_article) %></td>
    <td><%= link_to 'Destroy', blog_article, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Blog article', new_blog_article_path %>
