<h1>Listing online retailer links</h1>

<%= link_to 'New online retailer link', new_admin_online_retailer_link_path, class: "small round secondary button" %>

<table class="data">
  <thead>
  <tr>
    <th>Product/Brand</th>
    <th>Retailer</th>
    <th>Url</th>
    <th>Edit</th>
  </tr>
</thead>
<tbody>
<% @online_retailer_links.each do |orl| %>
  <tr>
    <td>
      <% if orl.brand %>
        <%=h orl.brand.name %>
      <% elsif orl.product %>
        <%=link_to orl.product.name, [:admin, orl.product] %>
      <% else %>
        ??
      <% end %>
    </td>
    <td>
      <%= link_to orl.online_retailer.name, [:admin, orl.online_retailer] %>
      <% unless orl.online_retailer.active %><i>(inactive)</i><% end %>
    </td>
    <td><%=h orl.url %></td>
    <td><%= link_to 'Edit', edit_admin_online_retailer_link_path(orl) %></td>
  </tr>
<% end %>
</tbody>
</table>

