<h1>New online_retailer_link</h1>

<%= form_for([:admin, @online_retailer_link]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :product_id %><br />
    <%= f.text_field :product_id %>
  </p>
  <p>
    <%= f.label :brand_id %><br />
    <%= f.text_field :brand_id %>
  </p>
  <p>
    <%= f.label :online_retailer_id %><br />
    <%= f.text_field :online_retailer_id %>
  </p>
  <p>
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', admin_online_retailer_links_path %>