<h1>"<%= @target_locale %>" translation for <%= @model_class.titleize %>:</h1>
<h3 class="subheader"><%= name_for(@record) %></h3>

<%= form_tag combined_admin_content_translations_path(target_locale: @target_locale), method: :post %>
<table width="100%">
<% @content_translations.each do |content_translation| %>
	<tr>
		<th style="background: #ccc; border-bottom: 1px dotted #CCC" width="50%">
			"<%= content_translation.content_method.titleize %>" <%= I18n.default_locale %>:
		</th>
		<th style="background: #ccc; border-bottom: 1px dotted #CCC" width="50%">
			"<%= content_translation.content_method.titleize %>" <%= @target_locale %>:
		</th>
	</tr>
	<tr>
		<td valign="top" style="padding-right: 40px">
			<%=raw eval("@record.#{content_translation.content_method}") %>
		</td>
		<td valign="top" style="border-left: 1px dotted #CCC; padding-left: 10px;">
			<% if eval("@record.class.columns_hash['#{content_translation.content_method}'].type == :string") %>
			<%= text_field_tag "content[#{content_translation.content_method}]", content_translation.content %>
			<% else %>
			<%= text_area_tag "content[#{content_translation.content_method}]", content_translation.content, class: "mceEditor", style: "min-height: 400px" %>
			<% end %>
		</td>
	</tr>
<% end %>
</table>

	<%= hidden_field_tag "id", @record.id %>
	<%= hidden_field_tag "type", @record.class.name.underscore %>
	<%= submit_tag "save changes", class: "small round button"  %>
	
</form>