<%= content_for :dashboard do %>
  <h1>"<%= @target_locale %>" translation for <%= @model_class.titleize %>:</h1>
  <h3 class="subheader"><%= name_for(@record) %></h3>

  <% if @content_translations.length > 0 %>

    <%= form_tag combined_admin_content_translations_path(target_locale: @target_locale), method: :post %>
      <table width="100%">
        <% if Rails.application.routes.url_helpers.respond_to?("#{@record.model_name.singular_route_key}_path") %>
          <tr>
            <th style="background: #ccc; border-bottom: 1px dotted #CCC" width="50%">
              Page link <%= I18n.default_locale %>:
            </th>
            <th style="background: #ccc; border-bottom: 1px dotted #CCC" width="50%">
              Page link <%= @target_locale %>:
            </th>
          </tr>
          <tr>
            <td><%= link_to [@record, locale: I18n.default_locale], target: "_blank" do %>
                <%= url_for([@record, locale: I18n.default_locale, only_path: false]) %>
              <% end %>
            </td>
            <td><%= link_to [@record, locale: @target_locale], target: "_blank" do %>
                <%= url_for([@record, locale: @target_locale, only_path: false]) %>
              <% end %>
            </td>
          </tr>
        <% end %>

        <% @content_translations.each do |content_translation| %>
          <%= render 'field_row', content_translation: content_translation %>
        <% end %>
      </table>

      <%= hidden_field_tag "id", @record.id %>
      <%= hidden_field_tag "type", @record.class.name.underscore %>
      <%= submit_tag "save changes", class: "small round button"  %>

    </form>

  <% else %>

    <div class="row">
      <div class="small-12 medium-6 medium-offset-3 columns">
        <div class="alert-box alert">
          Nothing to translate. If you expected to see something here, make sure the content team
          has uploaded the English content first.
        </div>
      </div>
    </div>

  <% end %>
<% end %>
