<h1><%= @model_class.pluralize %> for "<%= @target_locale %>"</h1>

<% if @new_instance.respond_to?(:post_on) %>
  <p>Showing <%= @records.size %> most recent entries</p>
<% end %>

<% if @new_instance.is_a?(Product) %>

  <p>Products from other brands may appear below. If so, those appear in
    families on this site and should likely be translated for completeness.</p>

  <h3>Upcoming Products (<%= website.upcoming_products.size %>)</h3>
  <table>
    <thead>
      <tr>
        <th>Product</th>
        <th>Fields Translated</th>
      </tr>
    </thead>
    <tbody>
      <% website.upcoming_products.order(:name).each do |product| %>
        <tr>
          <td>
            <%= link_to_translate(product, @target_locale) %>
            <% if product.brand_id != website.brand_id %>
              (<%= product.brand.name %>)
            <% end %>
          </td>
          <td>
            <%= translation_summary_for(product, @target_locale) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <h3>Current Products (<%= website.current_products(locale: @target_locale).size %>)</h3>
  <table>
    <thead>
      <tr>
        <th>Product</th>
        <th>Fields Translated</th>
      </tr>
    </thead>
    <tbody>
      <% website.current_products(locale: @target_locale).order(:name).each do |product| %>
        <tr>
          <td>
            <%= link_to_translate(product, @target_locale) %>
            <% if product.brand_id != website.brand_id %>
              (<%= product.brand.name %>)
            <% end %>
          </td>
          <td>
            <%= translation_summary_for(product, @target_locale) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <h4>Discontinued Products (<%= website.discontinued_and_vintage_products.size %>)</h4>
  <table>
    <thead>
      <tr>
        <th>Product</th>
        <th>Fields Translated</th>
      </tr>
    </thead>
    <tbody>
      <% website.discontinued_and_vintage_products.order(:name).each do |product| %>
        <tr>
          <td><%= link_to_translate(product, @target_locale) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% else %>

  <% if @new_instance.is_a?(ProductFamily) %>
    <p>You'll notice we often have multiple Product Families with the same name. There
      are many reasons why, but basically it's because the same families need to appear
      in different places in the navigation tree. And some have different products
      in different locales. It's best to just copy your translations to any duplicated
      families.
    </p>
  <% end %>

  <table>
    <thead>
      <tr>
        <th>Item</th>
        <% if @new_instance.respond_to?(:post_on) %>
          <th>Publish Date</th>
        <% end %>
        <th>Fields Translated</th>
      </tr>
    </thead>
    <tbody>
      <% @records.each do |record| %>
        <% if record.respond_to?(:parent) %>
          <% if record.parent.blank? %>
            <%= render_partial 'list_row', record: record %>
          <% end %>
        <% else %>
          <%= render_partial 'list_row', record: record %>
        <% end %>
      <% end %>
    </tbody>
  </table>
<% end %>
