<h1><%= @model_class.pluralize %> for "<%= @target_locale %>"</h1>

<% if @new_instance.respond_to?(:product) %>
  <table>
    <tr>
      <th>Product</th>
      <th>Fields Translated</th>
    </tr>

		<% website.products.find_each do |product| %>
      <tr>
      <td><%= link_to product.name,
        combined_admin_content_translations_path(
          locale: I18n.locale,
          target_locale: @target_locale,
          type: @new_instance.class.to_s.underscore,
          product_id: product.id ) %>
      </td>
      <td>
        <%= ContentTranslation.where(
          content_type: "Product",
          content_id: product.id,
          locale: @target_locale).size %> /
        <%= ContentTranslation.fields_to_translate_for(product, website.brand).size %>
        </td>
      <td>
    <% end %>
  </table>
<% else %>
  <table>
    <tr>
      <th>Item</th>
      <th>Fields Translated</th>
    </tr>
    <% @records.each do |record| %>
      <tr>
        <td><%= link_to_translate(record, @target_locale) %></td>
      <td>
        <%= ContentTranslation.where(
          content_type: record.class,
          content_id: record.id,
          locale: @target_locale).size %> /
        <%= ContentTranslation.fields_to_translate_for(record, website.brand).size %>
      </td>
      </tr>
    <% end %>
  </table>
<% end %>
