<h1><%= @model_class.pluralize %> for "<%= @target_locale %>"</h1>

<% if @new_instance.respond_to?(:post_on) %>
  <p>Showing <%= @records.size %> most recent entries</p>
<% end %>

<% if @new_instance.is_a?(Product) %>

  <p>Products from other brands may appear below. If so, those appear in
    families on this site and should likely be translated for completeness.</p>

  <h3>Current Products (<%= website.current_products(locale: @target_locale).size %>)</h3>
  <table>
    <thead>
      <tr>
        <th>Product</th>
        <th>Fields Translated</th>
      </tr>
    </thead>
    <tbody>
      <% website.current_products(locale: @target_locale).order(:name).each do |product| %>
        <tr>
          <td>
            <%= link_to_translate(product, @target_locale) %>
            <% if product.brand_id != website.brand_id %>
              (<%= product.brand.name %>)
            <% end %>
          </td>
          <td>
            <%= translation_summary_for(product, @target_locale) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <h4>Discontinued Products (<%= website.discontinued_and_vintage_products.size %>)</h4>
  <table>
    <thead>
      <tr>
        <th>Product</th>
        <th>Fields Translated</th>
      </tr>
    </thead>
    <tbody>
      <% website.discontinued_and_vintage_products.order(:name).each do |product| %>
        <tr>
          <td><%= link_to_translate(product, @target_locale) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% else %>

  <table>
    <thead>
      <tr>
        <th>Item</th>
        <% if @new_instance.respond_to?(:post_on) %>
          <th>Publish Date</th>
        <% end %>
        <th>Fields Translated</th>
      </tr>
    </thead>
    <tbody>
      <% @records.each do |record| %>
        <% next if record.respond_to?(:locales) && !(record.locales(website).include?(@target_locale)) %>
        <tr>
          <td><%= link_to_translate(record, @target_locale) %></td>
          <% if record.respond_to?(:post_on) %>
            <td><%=l record.post_on %></td>
          <% end %>
          <td class="text-center">
            <%= translation_summary_for(record, @target_locale) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
