<% set_meta_tags reverse: true,
                 description: "Downloads for: #{@current_products.collect{|s| s.name}.join(', ')}",
                 keywords: @current_products.collect{|s| s.name} %>

<h1 class="page_title"> <%= t('software') %> </h1>

<%= cache ["softwares_index", website.brand, I18n.locale] do %>

<% if website.brand.softwares.size <= 0 %>
	<div style="text-align: center"><i>Check back soon</i></div>

<% else %>

	<% if website.brand.forced_current_softwares.length > 0 %>
		<div style="margin: 50px;">
			<% website.brand.forced_current_softwares.each do |software| %>
				<%= link_to software do %>
					<div class="medium_centered_box software_banner">
						<h3><%= software.name %></h3>
						<%= "v#{software.version}" unless software.version.blank? %>
						<%= "(#{software.platform})" unless software.platform.blank? %>
					</div>
				<% end %>
			<% end %>
		</div>
	<% end %>

  <% if @current_products.size > 0 %>
    <h3 class="subheader">Software by Product:</h3>
    <%= render_partial "softwares/table", products: @current_products %>
  <% end %>

  <% if @discontinued_products.size > 0 %>
    <br/>
    <h3 class="subheader">Software for Discontinued Products:</h3>
    <%= render_partial "softwares/table", products: @discontinued_products %>
  <% end %>
<% end %>

<% end %>
