<h1><%= @product_document.name %></h1>

<ul class="button-group round">
  <li><%= link_to admin_product_documents_path, class: "small secondary button" do %>
      <%= fa_icon "angle-double-left" %>
    <% end %>
  </li>
  <li><%= link_to edit_admin_product_document_path(@product_document), class: "small secondary button" do %>
      <%= fa_icon "edit" %> Edit
    <% end %>
  </li>
  <li>
    <%= link_to [:admin, @product_document], confirm: 'Are you sure?', method: :delete, class: "small alert button" do %>
      <%= fa_icon "trash" %> Delete
    <% end %>
  </li>
</ul>

<% if @product_document.bad_link? %>
  <div class="alert-box alert">
    The document was last checked <%=l @product_document.link_checked_at %> and found to have a status of
    <%= @product_document.link_status %> which means the file could not be found. Please either locate a backup
    of the file and re-upload it or delete this record.
  </div>
<% end %>

<p>
  <b>Product:</b>
  <%= link_to @product_document.product.name, [:admin, @product_document.product] %>
</p>

<p>
  <b>Language:</b>
  <%=h @product_document.language %>
</p>

<p>
  <b>Document type:</b>
  <%=h @product_document.document_type %>
</p>

<p>
  <b>Show on public site on downloads page?</b>
  <%= (@product_document.show_on_public_site?) ? "Yes" : "No" %>
</p>

<% if !@product_document.document_file_name.blank? %>
<p>
  <b>Document file:</b>
  <%= link_to @product_document.document_file_name, @product_document.document.url %>
</p>
<% end %>


