<%= simple_form_for [:admin, @user] do |f| %>
	<div class="row">
		<div class="large-6 columns">
			<%= f.input :name %>
			<%= f.input :email, input_html: { autocomplete: "off" } %>
			<%= f.input :phone_number %>
			<%= f.input :job_title %>
			<%= f.input :job_description %>
			  <% if @user.new_record? %>
			  <br/>
			  		<%= f.input :invitation_code, hint: "RSOs, employees and media need a valid invitation code." %>
					<%= f.input :password, input_html: { autocomplete: "off" } %>
					<%= f.input :password_confirmation, input_html: { autocomplete: "off" } %>
			  <% end %>
		</div>

		<div class="large-6 columns">
			<%= f.input :admin, label: "Super Admin" %>
			<% unless @user.new_record? %>
			<%= f.input :employee %>
			<% end %>
			<%= f.input :market_manager %>
			<%= f.input :marketing_staff %>
			<%= f.input :artist_relations %>
			<%= f.input :customer_service %>
			<%= f.input :sales_admin %>
			<%= f.input :online_retailer %>
			<%= f.input :engineer, label: "Engineer (can manage Software)" %>
			<%= f.input :translator %>
			<%= f.input :rohs %>
			<%= f.input :clinician %>
			<%= f.input :rep %>
			<%= f.input :dealer %>
			<%= f.input :distributor %>

			<% unless @user.new_record? %>
			 <%= f.input :rso, label: "RSO" %>
			<% end %>
		</div>
	</div>

  <br/><%= f.button :submit %>

<% end %>
