<% set_meta_tags reverse: true,
                 title: translate_content(@page, :title),
                 description: translate_content(@page, :description),
                 keywords: @page.keywords %>

<%= content_for :page_css do %>
	<%= stylesheet_link_tag 'application', 'hardwire-by-digitech', cache: false, media: :all %>
<% end %>

<%=raw translate_content(@page, :body) %>

<%= content_for :custom_css do %>
	<style type="text/css">
		<%=raw @page.custom_css %>
	</style>
<% end %>

<% if current_user && can?(:manage, @page) %>
<div class="admin_function">
	<%= link_to "edit", edit_admin_page_path(@page) %>
</div>
<% end %>
