<% @istomp = Product.find("istomp")  %>
<% set_meta_tags reverse: true,
                 title: translate_content(@page, :title),
                 description: translate_content(@page, :description),
                 keywords: @page.keywords %>

<%= render_partial 'products/istomp_style' %>

<%=raw translate_content(@page, :body) %>

<%= content_for :custom_css do %>
	<style type="text/css">
		<%=raw @page.custom_css %>
	</style>
<% end %>

<%= render_partial "products/istomp_coverflow", istomp: @istomp, use_popups: true %>
	
<section id="product_bottom_content">
	<%= render_partial "products/stomp_shop_callout", position: :right, istomp: @istomp %>
	<%= render_partial "products/istomp_callout", position: :left %>
	<div class="clear"></div>
</section>

<%= render_partial 'products/istomp_videos' %>
<span id="help_links" data-supported="<%= escape_javascript website.android_disclaimer_url %>" data-howto="<%= escape_javascript website.non_ios_howto_url %>"></span>

<% if current_user && can?(:manage, @page) %>
<div class="admin_function">
	<%= link_to "edit", edit_admin_page_path(@page) %>
</div>
<% end %>
