<%= cache ["nav_items", website.brand, I18n.locale] do %>
  <li class="has-dropdown"><%= link_to t("nav.markets"), '#', class: "disabled" %>
    <ul class="dropdown">
      <% MarketSegment.all_parents(website).each do |market_segment| %>
        <%# ugly hack to add child items to Education section %>
        <% if market_segment.name.to_s =~ /education/i %>
          <li class="has-dropdown"><%= link_to translate_content(market_segment, :name).titleize, market_segment %>
            <ul class="dropdown">
              <li><%= link_to t("nav.k12_education"), "/#{I18n.locale}/k-12-education" %></li>
              <li><%= link_to t("nav.higher_education"), "/#{I18n.locale}/higher-education" %></li>
            </ul>
          </li>
        <% elsif market_segment.name.to_s =~ /government/i %>
          <li class="has-dropdown"><%= link_to translate_content(market_segment, :name).titleize, market_segment %>
            <ul class="dropdown">
              <li><%= link_to t("nav.secure_av"), "/#{I18n.locale}/secureav" %></li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to translate_content(market_segment, :name).titleize, market_segment %></li>
        <% end %>
      <% end %>
    </ul>
  </li>

  <li class="divider hide-for-medium"></li>
	<li class="has-dropdown"><%= link_to t('products').titleize, product_families_path %>
		<ul class="dropdown">
			<% ProductFamily.parents_with_current_products(website, I18n.locale).each do |product_family| %>
				<%= product_family_nav_links(product_family, depth: 8) %>
			<% end %>
		</ul>
	</li>

  <% if website.has_solution_pages? %>
    <%= render_partial "shared/solutions_nav" %>
  <% end %>

  <% if website.has_news? %>
    <li class="divider hide-for-medium"></li>
    <li><%= link_to t('news').titleize, news_index_path %></li>
  <% end %>

  <% if website.has_events? %>
    <li class="divider hide-for-medium"></li>
    <li><%= link_to t('events').titleize, events_path %></li>
  <% end %>

  <% if website.has_installations? %>
    <li class="divider hide-for-medium"></li>
    <li><%= link_to t('installations').titleize, installations_path %></li>
  <% end %>

	<% if website.has_artists? %>
    <li class="divider hide-for-medium"></li>
    <li><%= link_to t('artists').titleize, artists_path %></li>
	<% end %>

  <!--
  <li class="divider hide-for-medium"></li>
  <li class="has-dropdown"><%#= link_to "Showcase", {}, class: "disabled" %></a>
    <ul class="dropdown">
      <li><%#= link_to "Network Security", '/network-security' %></li>
      <li><%#= link_to "Automation", '/automation' %></li>
      <li><%#= link_to "Education Alliance Program", '/education-alliancee-program' %></li>
      <li><%#= link_to "Schoolview", '/schoolview' %></li>
    </ul>
  </li>
  -->

  <li class="divider hide-for-medium"></li>
  <li class="has-dropdown"><%= link_to t("nav.learn"), "/#{I18n.locale}/learn" %>
    <ul class="dropdown">
      <li><%= link_to t("nav.av_basics"), "/#{I18n.locale}/learn-av-basics" %></li>
      <li><%= link_to t("nav.av_and_it"), "/#{I18n.locale}/learn-av-it" %></li>
      <li><%= link_to t("nav.buying_av"), "/#{I18n.locale}/learn-buying-av" %></li>
      <li><%= link_to t("nav.collaboration"), "/#{I18n.locale}/learn-collaboration" %></li>
      <li><%= link_to t("nav.learning_spaces"), "/#{I18n.locale}/learn-learning-spaces" %></li>
      <li><%= link_to t("nav.meeting_rooms"), "/#{I18n.locale}/learn-meeting-rooms" %></li>
      <li><%= link_to t("nav.security"), "/#{I18n.locale}/learn-security" %></li>
      <li><%= link_to t("nav.sustainability"), "/#{I18n.locale}/learn-sustainability" %></li>
      <li><%= link_to t("nav.video_conferencing"), "/#{I18n.locale}/learn-video-conferencing" %></li>
      <li><%= link_to t("nav.case_studies"), "/#{I18n.locale}/case-studies" %></li>
      <li><%= link_to t("nav.solution_guides"), "/#{I18n.locale}/solution-guides" %></li>
    </ul>
  </li>

  <li class="divider hide-for-medium"></li>
  <li><%= link_to t('training').titleize, "http://pro.harman.com/training", target: "_blank" %></li>

  <li class="divider hide-for-medium"></li>
    <li class="has-dropdown"><%= link_to t('product_support').titleize, "/#{I18n.locale}/support" %>
    <ul class="dropdown">
      <li><%= link_to t("nav.contact_us"), "/#{I18n.locale}/support" %></li>
      <li><%= link_to t("nav.warranty"), "/#{I18n.locale}/amx-warranty" %></li>
      <li><%= link_to "RMA", "/#{I18n.locale}/support/rma" %></li>
      <li><%= link_to t("nav.downloads"), "/#{I18n.locale}/support_downloads" %></li>
      <li><%= link_to t("nav.quality"), "/#{I18n.locale}/amx-quality-assurance" %></li>
    </ul>
  </li>
  

	<% if !!(website.forum_link) %>
    <li class="divider hide-for-medium"></li>
    <li class="hide-for-medium"><%= link_to t("forum").titleize, website.forum_link %></li>
	<% end %>


<% end %>
