<%= cache ["nav_items", website.brand, I18n.locale] do %>
	<li class="has-dropdown"><%= link_to t('products').titleize, product_families_path %>
		<ul class="dropdown">
      <% if website.has_product_selector? %>
        <li><%= link_to t("product_selector"), product_selector_path %></li>
      <% end %>
		  <li><%= link_to t('new_products'), new_products_path, target: "_blank" %></li>
			<% ProductFamily.parents_with_current_products(website, I18n.locale).each do |product_family| %>
				<%= product_family_nav_links(product_family, depth: 2) %>
			<% end %>
			<li><%= link_to t('discontinued_products'), discontinued_products_path %></li>
		</ul>
	</li>

  <li class="divider hide-for-medium"></li>
  <li class="has-dropdown"><%= link_to t("nav.markets"), '#', class: "disabled" %>
    <ul class="dropdown">
      <% MarketSegment.all_parents(website).each do |market_segment| %>
        <% if market_segment.name.to_s =~ /government/i %>
          <li class="has-dropdown"><%= link_to translate_content(market_segment, :name).titleize, market_segment %>
            <ul class="dropdown">
              <li><%= link_to t("nav.secure_av"), "/#{I18n.locale}/secureav" %></li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to translate_content(market_segment, :name).titleize, market_segment %></li>
        <% end %>
      <% end %>
    </ul>
  </li>

  <% if website.has_solution_pages? %>
    <%= render_partial "shared/solutions_nav" %>
  <% end %>

	<% if website.has_dealers? || website.has_distributors? || website.has_online_retailers? %>
    <li class="divider hide-for-medium"></li>
    <li><%= link_to t('where_to_buy').titleize, where_to_find_path %></li>
	<% end %>

  <li class="divider hide-for-medium"></li>
  <li class="has-dropdown"><%= link_to t("nav.case_studies"), case_studies_path %>
    <ul class="dropdown">
      <% if website.has_news? %>
        <li><%= link_to t('news').titleize, news_index_path %></li>
      <% end %>
    </ul>
  </li>

  <% if website.has_events? && !website.has_learning_sessions %>
    <li class="divider hide-for-medium"></li>
    <li><%= link_to t('events').titleize, events_path %></li>
  <% end %>

  <% if (website.has_learning_sessions.present? && website.has_learning_sessions == 1) %>
    <li class="divider hide-for-medium"></li>
    <li><%= link_to t('learning_sessions').titleize, "/learning-sessions" %></li>
  <% end %>

  <% if website.has_installations? %>
    <li class="divider hide-for-medium"></li>
    <li><%= link_to t('installations').titleize, installations_path %></li>
  <% end %>

	<% if website.has_artists? %>
    <li class="divider hide-for-medium"></li>
    <li><%= link_to t('artists').titleize, artists_path %></li>
	<% end %>

  <!--
  <li class="divider hide-for-medium"></li>
  <li class="has-dropdown"><%#= link_to "Showcase", {}, class: "disabled" %></a>
    <ul class="dropdown">
      <li><%#= link_to "Network Security", '/network-security' %></li>
      <li><%#= link_to "Automation", '/automation' %></li>
      <li><%#= link_to "Education Alliance Program", '/education-alliancee-program' %></li>
      <li><%#= link_to "Schoolview", '/schoolview' %></li>
    </ul>
  </li>
  -->

  <li class="divider hide-for-medium"></li>
  <li class="has-dropdown"><%= link_to t("nav.learn"), "/#{I18n.locale}/learn" %>
    <ul class="dropdown">
      <li><%= link_to t("nav.av_basics"), "/#{I18n.locale}/learn-av-basics" %></li>
      <li><%= link_to t("nav.av_and_it"), "/#{I18n.locale}/learn-av-it" %></li>
      <li><%= link_to t("nav.buying_av"), "/#{I18n.locale}/learn-buying-av" %></li>
      <li><%= link_to t("nav.collaboration"), "/#{I18n.locale}/learn-collaboration" %></li>
      <li><%= link_to t("nav.learning_spaces"), "/#{I18n.locale}/learn-learning-spaces" %></li>
      <li><%= link_to t("nav.meeting_rooms"), "/#{I18n.locale}/learn-meeting-rooms" %></li>
      <li><%= link_to t("nav.security"), "/#{I18n.locale}/learn-security" %></li>
      <li><%= link_to t("nav.sustainability"), "/#{I18n.locale}/learn-sustainability" %></li>
      <li><%= link_to t("nav.video_conferencing"), "/#{I18n.locale}/learn-video-conferencing" %></li>
      <li><%= link_to t("nav.solution_guides"), "/#{I18n.locale}/solution-guides" %></li>
    </ul>
  </li>

  <li class="divider hide-for-medium"></li>
  <li><%= link_to t('training').titleize, "/training", target: "_blank" %></li>

  <li class="divider hide-for-medium"></li>
    <li class="has-dropdown"><%= link_to t('product_support').titleize, "/#{I18n.locale}/support" %>
    <ul class="dropdown">
      <li><%= link_to t("nav.contact_us"), "/#{I18n.locale}/support" %></li>
      <li><%= link_to "Consultant Portal", "#{ENV['PRO_SITE_URL']}/consultant", target: "_blank" %></li>
      <li><%= link_to t("nav.software"), "/#{I18n.locale}/software" %></li>
      <li><%= link_to t("nav.firmware"), "/#{I18n.locale}/firmware" %></li>
      <li class="has-dropdown"><%= link_to t("nav.downloads"), "/#{I18n.locale}/support_downloads" %>
      <ul class="dropdown">
        <li><%= link_to t("nav.downloads"), "/#{I18n.locale}/support_downloads" %></li>
        <li><%= link_to "Search Device Modules", "https://trade.amx.com/login/login.aspx?fromUrl=/Net/Inconcert/Devices/InConcertMainPage.aspx", target: "_blank" %></li>
      </ul>
      <li><%= link_to t("nav.warranty"), "/#{I18n.locale}/amx-warranty" %></li>
      <li><%= link_to t("nav.product_registration"), "/#{I18n.locale}/support/warranty_registration" %></li>
      <% if !!(website.forum_link) %>
        <li><%= link_to t("forum").titleize, website.forum_link %></li>
      <% end %>
      <li><%= link_to "RMA", "/#{I18n.locale}/support/rma" %>

      <li class="has-dropdown"><%= link_to "Partners", "/#{I18n.locale}/partners" %>
      <ul class="dropdown">
        <li><%= link_to "InConcert Partners", "/#{I18n.locale}/partners" %></li>
        <li><%= link_to "Search Device Modules", "https://trade.amx.com/login/login.aspx?fromUrl=/Net/Inconcert/Devices/InConcertMainPage.aspx", target: "_blank" %></li>
        <li><%= link_to "Valued Independent Partners (VIP)", "/#{I18n.locale}/vips" %></li>
      </ul>

      <li><%= link_to t("nav.quality"), "/#{I18n.locale}/amx-quality-assurance" %></li>
    </ul>
  </li>

<% end %>
