<%= cache ["nav_items", website.brand, I18n.locale] do %>
  <li class="has-dropdown"><%= link_to "Markets", '#', class: "disabled" %>
    <ul class="dropdown">
      <% MarketSegment.all_parents(website).each do |market_segment| %>
        <li><%= link_to market_segment.name.titleize, market_segment %></li>
      <% end %>
    </ul>
  </li>

  <li class="divider hide-for-medium"></li>
	<li class="has-dropdown"><%= link_to t('products').titleize, product_families_path %>
		<ul class="dropdown">
			<% ProductFamily.parents_with_current_products(website, I18n.locale).each do |product_family| %>
				<%= product_family_nav_links(product_family, depth: 1) %>
			<% end %>
		</ul>
	</li>

  <% if website.has_solution_pages? %>
    <li class="divider hider-for-medium"></li>
    <%= render_partial "shared/solutions_nav" %>
  <% end %>

  <% if website.has_news? %>
    <li class="divider hide-for-medium"></li>
    <li><%= link_to t('news').titleize, news_index_path %></li>
  <% end %>

  <% if website.has_events? %>
    <li class="divider hide-for-medium"></li>
    <li><%= link_to t('events').titleize, events_path %></li>
  <% end %>

  <% if website.has_installations? %>
    <li class="divider hide-for-medium"></li>
    <li><%= link_to t('installations').titleize, installations_path %></li>
  <% end %>

	<% if website.has_artists? %>
    <li class="divider hide-for-medium"></li>
    <li><%= link_to t('artists').titleize, artists_path %></li>
	<% end %>

  <!--
  <li class="divider hide-for-medium"></li>
  <li class="has-dropdown"><%#= link_to "Showcase", {}, class: "disabled" %></a>
    <ul class="dropdown">
      <li><%#= link_to "Network Security", '/network-security' %></li>
      <li><%#= link_to "Automation", '/automation' %></li>
      <li><%#= link_to "Education Alliance Program", '/education-alliancee-program' %></li>
      <li><%#= link_to "Schoolview", '/schoolview' %></li>
    </ul>
  </li>
  -->

  <li class="divider hide-for-medium"></li>
  <li class="has-dropdown"><%= link_to "Learn", "/#{I18n.locale}/learn" %>
    <ul class="dropdown">
      <li><%= link_to "AV Basics", "/#{I18n.locale}/learn-av-basics" %></li>
      <li><%= link_to "AV & IT", "/#{I18n.locale}/learn-av-it" %></li>
      <li><%= link_to "Buying AV", "/#{I18n.locale}/learn-buying-av" %></li>
      <li><%= link_to "Collaboration", "/#{I18n.locale}/learn-collaboration" %></li>
      <li><%= link_to "Learning Spaces", "/#{I18n.locale}/learn-learning-spaces" %></li>
      <li><%= link_to "Meeting Rooms", "/#{I18n.locale}/learn-meeting-rooms" %></li>
      <li><%= link_to "Security", "/#{I18n.locale}/learn-security" %></li>
      <li><%= link_to "Sustainability", "/#{I18n.locale}/learn-sustainability" %></li>
      <li><%= link_to "Video Conferencing", "/#{I18n.locale}/learn-video-conferencing" %></li>
      <li><%= link_to "Case Studies", "/#{I18n.locale}/case-studies" %></li>
      <li><%= link_to "Solution Guides", "/#{I18n.locale}/solution-guides" %></li>
    </ul>
  </li>

  <li class="divider hide-for-medium"></li>
  <li><%= link_to t('product_support').titleize, "/#{I18n.locale}/amx-support" %></li>

	<% if !!(website.forum_link) %>
    <li class="divider hide-for-medium"></li>
    <li class="hide-for-medium"><%= link_to t("forum").titleize, website.forum_link %></li>
	<% end %>

  <li class="divider hide-for-medium"></li>
  <li><%= link_to "Contact Us", amx_contacts_path %></li>
<% end %>
