<%= simple_form_for [:admin, @promotion] do |f| %>
  <input type="hidden" name="return_to" value="<%= @return_to %>">

  <div class="row">
    <div class="small-12 medium-6 columns">
      <%= f.input :name, label: "Promotion Name" %>
    </div>
    <div class="small-12 medium-3 columns">
      <%= f.input :start_on, as: :string, label: "Promotion start date", input_html: { class: 'ui-datepicker' } %>
    </div>
    <div class="small-12 medium-3 columns">
      <%= f.input :end_on, as: :string, label: "Promotion end date", input_html: { class: 'ui-datepicker' } %>
    </div>
  </div>
  <br/>

  <%# For brands whose homepage banner area is a video %>
  <% if Setting.slides(website, limit: 5).pluck(:slide_content_type).any? {|c| c.match?(/video/i) } %>
    <fieldset>
      <legend>Homepage Tile (for brands showing a video instead of banners on the homepage)</legend>
      <div class="row">
        <div class="large-12 columns">
          <%= f.input :homepage_headline, label: "Headline" %>
        </div>
      </div>
      <div class="row">
        <div class="large-8 columns">
          <%= f.input :homepage_text, label: "Text" %>
        </div>
        <div class="large-4 columns">
          <%= f.input :homepage_banner, label: "Side Image (450x360)" %>
          <% unless f.object.homepage_banner_file_name.blank? %>
            <span id="homepage_banner_container">
              currently:
              <%= link_to(image_tag(f.object.homepage_banner.url(:tiny)), f.object.homepage_banner.url) %>
            </span>
          <% end %>
        </div>
      </div>
    </fieldset>
  <% else %>
    <fieldset>
      <legend>Homepage Banner</legend>
      <p>The banner is automatically scheduled to appear on the site during the same time
      the promotion is valid.</p>

      <%= f.simple_fields_for :banner do |banner| %>
        <%= banner.input :slide,
          label: "300KB max. If your file is larger, use Photoshop to reduce the size by exporting a JPEG and reducing the quality." %>

        <% unless banner.object.new_record? %>
          <p class="small">Currently: <%= link_to banner.object.slide_file_name, banner.object.slide.url, target: "_blank" %></p>
        <% end %>
      <% end %>
    </fieldset>
  <% end %>

  <br/>
  <div class="row">
    <div class="small-12 medium-6 columns">
      <h5>Related Products</h5>
    </div>
    <div class="hide-for-small medium-6 columns">
      <h5>Discount</h5>
    </div>
  </div>
  <%= f.simple_fields_for :product_promotions do |pp| %>
    <%= render 'admin/promotions/product_promotion_fields', f: pp, parent: f.object %>
  <% end %>

  <%= f.input :show_recalculated_price,
    label: "Show the slashed price on the related product pages. (Only for brands/products which show pricing normally.)" %>

  <br/>
  <div class="row">
    <div class="small-12 medium-6 columns">
      <%= f.submit "Save Changes", class: "small button"%>
    </div>
    <div class="small-6 columns text-right">
      <% unless @promotion.new_record? %>
        <%= link_to admin_promotion_path(f.object, return_to: @return_to), method: :delete, class: "alert small button", data: { confirm: "Are you sure?" } do %>
          <%= fa_icon "trash" %>
          delete
        <% end %>
      <% end %>
    </div>
  </div>

<% end %>
