<% set_meta_tags title: t('titles.promotions'),
  noindex: true,
  keywords: @current_promotions.pluck(:name), reverse: true %>

<% if website.promotions_banner %>
  <div class="category-banner">
    <%= image_tag website.promotions_banner, alt: t('titles.promotions') %>
  </div>
<% elsif File.exist?(Rails.root.join("app", "assets", "images", "#{website.folder}/#{I18n.locale}/promotions_head.jpg")) %>
  <div class="category-banner">
    <%= image_tag("#{website.folder}/#{I18n.locale}/promotions_head.jpg", alt: t('titles.promotions')) %>
  </div>
<% elsif @featured_promotion %>
  <div class="category-banner">
    <%= image_tag @featured_promotion.tile.url, alt: t('titles.promotions') %>
  </div>
<% end %>

<% if can? :create, Promotion %>
  <div class="text-right">
    <%= link_to new_promotion_path do %>
      <%= fa_icon "plus" %> new promotion
    <% end %>
  </div>
<% end %>

<div class="row">
  <div class="small-12 medium-8 columns">
    <% @current_promotions.each do |promotion| %>
      <h2><%= link_to(translate_content(promotion, :name), promotion) %></h2>
      <div><%= t('valid') %> <%=l promotion.start_on, format: :long %>
        <% if promotion.end_on.present? %> - <%=l promotion.end_on, format: :long %><% end %>
      <br/><%= link_to t('more_info'), promotion, class: "tiny secondary button" %>
      </div>
    <% end %>
  </div>
  <div class="small-12 medium-4 columns">
    <% if can? :manage, Promotion %>
      <% upcoming = Promotion.where(brand_id: website.brand_id).where("start_on > ?", Date.today) %>
      <% if upcoming.length > 0 %>
        <div class="panel">
          <h5>Upcoming Promos (for admin eyes only)</h5>
          <ul>
            <% upcoming.each do |p| %>
              <li>
                <strong><%= link_to p.name, p %></strong>
                <% if p.products.length > 0 %>
                  <div>
                    includes: <%= p.products.pluck(:name).join(", ") %>
                  </div>
                <% end %>
                <div>
                  <em><%= t('valid') %> <%=l p.start_on, format: :short %>
                  <% if p.end_on.present? %>
                    - <%=l p.end_on, format: :short %>
                  <% end %>
                  </em>
                </div>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<% unless @current_promotions.size > 0 %>
	<p>There are no current promotions. Check back soon.</p>
<% end %>
