<% set_meta_tags title: t('titles.promotions'),
                 keywords: @current_promotions.pluck(:name),
				 reverse: true %>

<h1 class="page_title">
<% if File.exists?(Rails.root.join("app", "assets", "images", "#{website.folder}/#{I18n.locale}/promotions_head.jpg")) %>
	<%= image_tag("#{website.folder}/#{I18n.locale}/promotions_head.jpg", alt: t('titles.promotions')) %>
<% else %>
	<%= t('titles.promotions') %>
<% end %>
</h1>

<div class="promotion_bug_container">
<% @current_promotions.each do |promotion| %>
	<div class="promotion_bug">
		<% if promotion.tile_file_name.blank? %>
			<h2> <%= (promotion.has_description?) ? link_to(translate_content(promotion, :name), promotion) : translate_content(promotion, :name) %> </h2>
		<% else %>
			<%= (promotion.has_description?) ?
					link_to(image_tag(promotion.tile.url(:medium), alt: promotion.name), promotion) :
					image_tag(promotion.tile.url, alt: promotion.name) %>
		<% end %>
		<div><%= t('valid') %> <%=l promotion.start_on, format: :long %>-<%=l promotion.end_on, format: :long %>
		<% if promotion.has_description? %>
			<%= link_to t('more_info'), promotion, class: "small secondary button" %>
		<% end %>
		</div>
		<% if !promotion.promo_form_file_name.blank? %>
			<%= link_to t('download_promotion_form'), promotion.promo_form.url, class: "small button" %>
		<% end %>
	</div>
<% end %>
</div>

<% if @expired_promotions.length > 0 %>
	<div class="support_box_container">
	<h3 class="subheader">Recently Expired Promotions</h3>
	<p><i>Note: Promotions below are expired. Information remains here for 30 days
			to allow participants time to download the rebate forms.</i></p>

	<% @expired_promotions.each do |promotion| %>
		<div class="support_box">
			<h4>
				<%= (promotion.has_description?) ? link_to(translate_content(promotion, :name), promotion) : translate_content(promotion, :name) %>
			</h4>
			<div><%= t('valid') %> <%=l promotion.start_on, format: :long %>-<%=l promotion.end_on, format: :long %>
			<% if promotion.has_description? %>
				<%= link_to t('more_info'), promotion, class: "small secondary button" %>
			<% end %>
			</div>
			<% if !promotion.promo_form_file_name.blank? %>
				<%= link_to t('download_promotion_form'), promotion.promo_form.url, class: "small button" %>
			<% end %>
		</div>
	<% end %>
	</div>
<% end %>


<% unless (@current_promotions + @expired_promotions).size > 0 %>
	<p>There are no current promotions. Check back soon.</p>
<% end %>
