<% set_meta_tags title: t('titles.promotions'), keywords: @current_promotions.pluck(:name), reverse: true %>

<% unless File.exists?(Rails.root.join("app", "assets", "images", "#{website.folder}/#{I18n.locale}/promotions_head.jpg")) %>
  <% if @featured_promotion %>
    <div class="row">
      <div class="medium-12 small-12 columns text-center">
        <%= image_tag @featured_promotion.tile.url, alt: t('titles.promotions') %>
      </div>
    </div>
  <% end %>
<% end %>

<h3 class="page_title">
  <% if File.exists?(Rails.root.join("app", "assets", "images", "#{website.folder}/#{I18n.locale}/promotions_head.jpg")) %>
    <%= image_tag("#{website.folder}/#{I18n.locale}/promotions_head.jpg", alt: t('titles.promotions')) %>
  <% else %>
    <%= t('titles.promotions') %>
  <% end %>
</h3>

<div class="promotion_bug_container">
  <% @current_promotions.each do |promotion| %>
    <div class="promotion_bug">
      <h2><%= link_to(translate_content(promotion, :name), promotion) %></h2>
      <div><%= t('valid') %> <%=l promotion.start_on, format: :long %>-<%=l promotion.end_on, format: :long %>
      <br/><%= link_to t('more_info'), promotion, class: "tiny secondary button" %>
      </div>
    </div>
  <% end %>
</div>

<% if @expired_promotions.length > 0 %>
	<div class="support_box_container">
	<h3 class="subheader">Recently Expired Promotions</h3>
	<p><i>Note: Promotions below are expired. Information remains here for 30 days
			to allow participants time to download the rebate forms.</i></p>

	<% @expired_promotions.each do |promotion| %>
		<div class="support_box">
			<h4><%= link_to(translate_content(promotion, :name), promotion) %></h4>
			<div><%= t('valid') %> <%=l promotion.start_on, format: :long %>-<%=l promotion.end_on, format: :long %>
      <br/><%= link_to t('more_info'), promotion, class: "tiny secondary button" %>
			</div>
		</div>
	<% end %>
	</div>
<% end %>

<% unless (@current_promotions + @expired_promotions).size > 0 %>
	<p>There are no current promotions. Check back soon.</p>
<% end %>
