<% set_meta_tags title: @promotion.name,
                 description: truncate(strip_html(@promotion.description)),
				 reverse: true %>

<% if @promotion.tile_file_name.blank? %>
	<h2 style="text-align: center">
		<%= translate_content(@promotion, :name) %>
	</h2>
<% else %>
	<%= image_tag(@promotion.tile.url, alt: @promotion.name) %>
<% end %>

<%= render @promotion %>

<%= render 'shared/add_this' %>

<% if current_user && can?(:manage, @promotion) %>
<div class="admin_function">
	<%= link_to "edit", edit_admin_promotion_path(@promotion) %>
</div>
<% end %>