<%= simple_form_for([:admin, @system, @system_option]) do |f| %>
	<%= f.error_notification %>
	<div class="row">
		<div class="large-6 columns">
			<%= f.input :name %>
		</div>
		<div class="large-6 columns">
			<%= f.association :parent %>
		</div>
	</div>
	<%= f.input :show_on_first_screen, label: "Show on first screen before the big configurator screen." %>
	<br/>
	<div class="row">
		<div class="large-6 columns">
    		<%= f.input :description, hint: "Optional brief explanation--initially shown with this option." %>
    	</div>
    </div>
    <%= f.input :long_description, hint: "Optional longer explanation--initially hidden.", input_html: { style: 'height: 150px'} %>
    <div class="row">
    	<div class="large-6 columns">
    		<%= f.input :option_type, collection: SystemOption.option_types.keys.sort.map {|s| [s.titleize,s]} %>
			<%= f.input :default_value, hint: "For boolean options, use 'true' or 'false' (without quotes)." %>

			<br/>
		    <%= f.button :submit %>
		</div>
 		<div class="large-6 columns" id="option_values_container">
 			<div class="panel">
			    <label>Possible values for this option:</label><br/>
          <div data-alert class="alert-box info radius additional_instruction">
            Don't forget to submit the form after removing
            existing system option values.
            <a href="#" class="close">&times;</a>
          </div>
			    <%= f.simple_fields_for :system_option_values do |sov| %>
			    	<%= render 'system_option_value_fields', f: sov %>
			    <% end %>

				<div class="row">
					<div class="large-1 small-1 columns text-right">
						<label><%= link_to_add_fields(image_tag('icons/add_green.png', alt: '+'),
								f, :system_option_values) %>
						</label>
					</div>
					<div class="large-11 small-11 columns">
						<label><%= link_to_add_fields('new value',	f, :system_option_values) %></label>
					</div>
				</div>
			</div>
		</div>
  </div>

<% end %>

<p class="hint">Both descriptions above can be formatted with
	<%= link_to "RedCloth Textile", 'http://redcloth.org/hobix.com/textile/quick.html', target: "_blank" %>
	code.</p>
