<h1><%= @system.name %> Option: <%= @system_option.name %></h1>

<ul class="button-group round">
	<li><%= link_to 'Back', [:admin, @system], class: "small secondary button" %>	</li>
	<li><%= link_to 'Edit', edit_admin_system_system_option_path(@system, @system_option, locale: I18n.locale), class: "small secondary button" %></li>
	<li><%= link_to 'Delete', [:admin, @system, @system_option], confirm: 'Are you sure?', method: :delete, class: "small alert button" %> </li>
</ul>

<p>
<% if @system_option.parent %>
	Parent option: <%= link_to @system_option.parent.name, [:admin, @system, @system_option.parent] %>
<% else %>
	<i>This is a top-level system option.</i>
<% end %>
</p>

<% if @system_option.description.present? %>
<p><strong>Short Description:</strong></p>
<div><%=raw (textilize @system_option.description) %></div>
<% end %>

<% if @system_option.long_description.present? %>
<p><strong>Long Description:</strong></p>
<div><%=raw (textilize @system_option.long_description) %></div>
<% end %>

<p><strong>Option Type:</strong> <%= @system_option.option_type %></p>

<% if @system_option.system_option_values.length > 0 %>
<ul class="list">
	<% @system_option.system_option_values.each do |sov| %>
    <li>
      <%= sov.id %>:
      <%= link_to sov.name, edit_admin_system_system_option_system_option_value_path(@system, @system_option, sov) %>
      <% if sov.send_mail_to.present? %>
        (notifies: <%= sov.send_mail_to %>)
      <% end %>
  </li>
	<% end %>
</ul>
<% end %>

<% if @system_option.default_value.present? %>
<p><strong>Default Value:</strong> <%= @system_option.default_value %></p>
<% end %>


<h3 class="subheader">Children
	<small>
		<%= link_to new_admin_system_system_option_path(@system) do %>
			<%= image_tag "icons/add_green.png" %>
			add child option
		<% end %>
	</small>
</h3>

<ul id="system_options" class="sortable_list">
	<% @system_option.children.each do |child| %>
    <li id="system_option_<%= child.id %>">
      <span class="handle"><%= image_tag("icons/drag_handle.gif") %></span>
      <%= link_to child.name, [:admin, @system, child] %>
    </li>
	<% end %>
</ul>
