<h1><%= @blog.name %></h1>

<div class="button_container">
  <%= link_to 'Back', admin_blogs_path, class: "back button" %>
  <% if can? :manaage, @blog %>
	<%= link_to 'Edit', edit_admin_blog_path(@blog), class: "edit button" %> 
	<%= link_to 'Delete', [:admin, @blog], confirm: 'Are you sure?', method: :delete, class: "delete button" %>
  <% end %>
</div>	

<p>
  <b>Template:</b>
  <%= @blog.layout %>
</p>

<p>
  <b>Default article:</b>
  <%= @blog.default_article_id %>
</p>

