<h1><%= @blog.name %></h1>

<ul class="button-group round">
  <li><%= link_to 'Back', admin_blogs_path, class: "small secondary button" %></li>
  <% if can? :manaage, @blog %>
	<li><%= link_to 'Edit', edit_admin_blog_path(@blog), class: "small secondary button" %> </li>
	<li><%= link_to 'Delete', [:admin, @blog], confirm: 'Are you sure?', method: :delete, class: "small alert button" %></li>
  <% end %>
</ul>	

<p>
  <b>Template:</b>
  <%= @blog.layout %>
</p>

<p>
  <b>Default article:</b>
  <%= @blog.default_article_id %>
</p>

