<ul class="disc">
	<% product.product_documents.each do |product_document| %>
	<li>
		<% if product_document.document_content_type.match(/pdf/i) || product_document.document_file_name.match(/pdf$/i) %>
			<%= image_tag("pdf_17.png", style: "vertical-align: middle") %>
		<% end %>
			<%= link_to product_document.name, 
					"http://#{@brand.default_website.url}/en-US#{product_document.document.url}" %> 
			[<%= number_to_human_size(product_document.document_file_size) %>]

			<ul>
			<% toolkit_support_files(product_document).each do |toolkit_resource| %>
				<li> <%= link_to toolkit_resource.name, toolkit_brand_toolkit_resource_path(@brand, toolkit_resource) %> 
					<% if toolkit_resource.download_file_size.present? %>
					[<%= number_to_human_size(toolkit_resource.download_file_size) %>]
					<% end %>
				</li>
			<% end %>
			</ul>
			
	</li>
	<% end %>
</ul>