<ul class="list disc">
<% product.active_softwares.each do |software| %>
	<li>
		<%= platform_icon(software, 17) %>
		<%= link_to software.formatted_name, software_url(software, locale: I18n.default_locale, host: @brand.default_website.url) %>
	</li>
<% end %>
	<% product.site_elements.each do |site_element| %>
	<li>
		<% if site_element.resource_file_name.blank? %>
			<%= link_to site_element.long_name, site_element.executable.url %>
			[<%= number_to_human_size(site_element.executable_file_size) %>]
		<% else %> 
			<% if site_element.resource_content_type.match(/pdf/i) || site_element.resource_file_name.match(/pdf$/i) %>
				<%= image_tag("icons/pdf_17.png", style: "vertical-align: middle") %>
			<% end %>
			<%= link_to site_element.long_name, site_element.resource.url %> 
			[<%= number_to_human_size(site_element.resource_file_size) %>]
		<% end %>
		<%= list_toolkit_support_files_for(site_element, @brand) %>
	</li>	
	<% end %>
</ul>
