<%= content_for :breadcrumbs do %>
  <li><%= link_to @brand.name, [:toolkit, @brand] %></li>
  <li class="current"><span>Products</span></li>
<% end %>

<%= content_for :title do %><%= @brand.name %> Products<% end %>

<%= render "toolkit/brands/left_nav" %>

<h2><%= @brand.name %> Products</h2>

<h5 class="subheader">Newest Products</h5>
<ul class="large-block-grid-4 small-block-grid-2 newest_products">
	<% @brand.toolkit_products.reject{|p| p.discontinued? || p.in_development? || p.is_accessory?}[0,4].each do |product| %>
	<li>
		<%= link_to toolkit_brand_product_path(@brand, product) do %>
			<div class="panel">
				<h5><%= product.name %></h5>
				<% if product.photo %>
				<%= image_tag(product.photo.product_attachment.url(:thumb)) %>
				<% end %>
				<% if !product.in_production? %>
				<div style="text-align: center; margin-top: 6px;">
					<span class="success round label">New Product!</span>
				</div>
				<% end %>
			</div>
		<% end %>
	</li>
	<% end %>
</ul>

<h5 class="subheader">More Products</h5>
<ul class="list disc">
<% ProductFamily.all_parents(@brand).each do |product_family| %>
	<% if product_family.toolkit_products.size > 0 %>
	<li><%= link_to product_family.name, toolkit_brand_product_family_path(@brand, product_family) %>
		(<%= pluralize product_family.toolkit_products.size, "product" %>)
	</li>
	<% end %>
<% end %>
</ul>
