<%= content_for :breadcrumbs do %>
  <li><%= link_to @brand.name, [:toolkit, @brand] %></li>
  <li class="current"><%= link_to "#{@brand.name} Products" %></li>
<% end %>

<%= content_for :title do %><%= @brand.name %> Products<% end %>

<%= render "toolkit/brands/left_nav" %>

<h3><%= @brand.name %> Products</h3>

<table style="width: 100%">
	<thead>
	<tr>
		<th>Product</th>
		<th>Product Type</th>
	</tr>
	</thead>
	<tbody>
	<% @brand.current_products.each do |product| %>
	<tr>
		<td><%= link_to product.name, toolkit_brand_product_path(@brand, product) %></td>
		<td><%= product.product_families.map{|pf| pf.name}.join(", ") %></td>
	</tr>
	<% end %>
	</tbody>
</table>