<%= content_for :breadcrumbs do %>
  <li><%= link_to @brand.name, [:toolkit, @brand] %></li>
  <li><%= link_to "Products", toolkit_brand_products_path(@brand) %></li>
  <li class="current"><span><%= @product.name %></span></li>
  <% @product.product_families.each do |pf| %>
  <li><%= link_to pf.name, toolkit_brand_product_family_path(@brand, pf) %></li>
  <% end %>
<% end %>

<%= render "toolkit/brands/left_nav" %>

<%= content_for :title do %><%= @brand.name %> <%= @product.name %><% end %>

<h2><%= @product.name %> <small><%= @product.short_description %></small></h2>

<div class="row">
	<div class="six columns">
		<h5 class="subheader">Product Images <small>click for full-size images</small></h5>

		<% @images.each do |image| %>
			<div class="column <%='end' if image == @images.last %>">
				<% if image.is_a?(ToolkitResource) %>
					<%= link_to(image_tag(image.tk_preview.url(:tiny)), toolkit_brand_toolkit_resource_path(@brand, image)) %>
				<% else %>
					<%= link_to(image_tag(image.product_attachment.url(:tiny)), image.product_attachment.url) %>
				<% end %>
			</div>
		<% end %>

	</div>
	<div class="six columns">
		<div class="panel">
			<h5 class="subheader">Pricing</h5>
			<p>
				<% if @product.msrp.to_f > 0.0 %>
				Retail Price: <b><%= number_to_currency(@product.msrp) %></b> USD<br/>
				<% end %>
				<% if @product.street_price.to_f > 0.0 %>
				Minimum Advertised Price: <b><%= number_to_currency(@product.street_price) %></b> USD<br/>
				<% end %>
			</p>
		</div>
	</div>
</div>

<div class="row">
	<div class="six columns">
		<h5 class="subheader">Description</h5>
		<div class="description"><%= raw @product.description %></div>
	</div>
	<div class="six columns">
		<h5 class="subheader">Features</h5>
		<div class="description"><%= raw @product.features %></div>
	</div>
</div>

<div class="row">
	<div class="six columns">
		<h5 class="subheader">Ads &amp; Promos</h5>
		<ul class="disc">
			<% @product.current_and_recently_expired_promotions.each do |promo| %>
				<li><%= link_to promo.name, [:toolkit, @brand, promo] %></li>
			<% end %>
		</ul>
	</div>
	<div class="six columns">
		<h5 class="subheader">Downloads &amp; Documentation</h5>
		<% if @product.product_documents.count > 0 %>
		<%= render "/products/documentation", product: @product %>
		<% end %>
		<% if @product.softwares.count > 0 %>
		<%= render "/products/downloads", product: @product %>
		<% end %>
	</div>
</div>