<%= content_for :breadcrumbs do %>
  <li><%= link_to @brand.name, [:toolkit, @brand] %></li>
  <li><%= link_to "#{@brand.name} Products", toolkit_brand_products_path(@brand) %></li>
  <li class="current"><%= link_to @product.name %></li>
<% end %>

<%= render "toolkit/brands/left_nav" %>

<%= content_for :title do %><%= @brand.name %> <%= @product.name %><% end %>

<pre><%= @product.to_yaml %></pre>