<% if can? :assign, marketing_task %>
	<span class="alert round label"><%= link_to "Unassigned", edit_marketing_queue_marketing_task_path(marketing_task), data: { "reveal-id" => "assign-task-#{ marketing_task.id }"} %></span>

	<%= content_for :modals do %>
	<div id="assign-task-<%= marketing_task.id %>" class="reveal-modal small">
	  <h2>Assign Task</h2>
	  <p class="lead"><%= link_to marketing_task.name, [:marketing_queue, marketing_task] %></p>
	  <%= simple_form_for [:marketing_queue, marketing_task], remote: true do |f| %>
	  	<%= f.association :worker, collection: User.marketing_staff %>
	  	<%= f.input :man_hours %>
	  	<%= f.submit class: "button round" %>
	  <% end %>
	  <a class="close-reveal-modal">&#215;</a>
	</div>
	<% end %>

<% else %>
	<span class="alert round label">Unassigned</span>
<% end %>