<h1><%= @training_class.name %></h1>

<ul class="button-group round">
	<li><%= link_to 'Back', [:admin, @training_course], class: "small secondary button" %></li>
	<li><%= link_to 'Edit', edit_admin_training_course_training_class_path(@training_course, @training_class), class: "small secondary button" %> </li>
	<li><%= link_to 'Delete', [:admin, @training_course, @training_class], confirm: 'Are you sure?', method: :delete, class: "small alert button" %> </li>
</ul>


<% if @training_class.instructor.present? %>
<p>
  <b>Instructor:</b> <%= @training_class.instructor.name %> (<%= @training_class.instructor.email %>)
</p>
<% end %>

<p><b>When:</b> <%=l @training_class.start_at, format: :log %> to <%=l @training_class.end_at, format: :log %></p>
<p><b>Where:</b> <%= @training_class.location %></p>
<p><b>What:</b> <%= @training_course.name %></p>

<hr/>
<h3>Registrations</h3>

<table>
  <thead>
    <tr>
      <td>Name</td>
      <td>Email</td>
      <td>Comments</td>
    </tr>
  </thead>
  <tbody>
  <% @training_class.training_class_registrations.each do |tcr| %>
    <tr>
      <td><%= tcr.name %></td>
      <td><%= tcr.email %></td>
      <td><%= tcr.comments %></td>
    </tr>
  <% end %>
  </tbody>
</table>
