<%= simple_form_for([:admin, @download_registration]) do |f| %>
  <%= f.input :email %>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :country, except: COUNTRY_EXCLUSIONS %>
  <%= f.input :serial_number %>
  <%= f.input :download_count %>
	<% unless f.object.new_record? %>
	  <span class="hint">of <%= f.object.registered_download.per_download_limit %> (the limit for <%= f.object.registered_download.name %>)</span>
	<% end %>
  <%= f.input :download_code %>
	<% unless f.object.download_code.blank? %>
	  <span class="hint">Full URL for download: <%= f.object.download_link %></div>
	<% end %>
   <br/><%= f.button :submit %>
<% end %>
