<table width="100%">
  <tr>
    <td style="text-align:center;">
        <span style="font-size:1.5rem"><%=link_to combo.tx.model, combo.tx.product_url, target: "_blank" %></span><br />
        <%= Product.find_by_name(combo.tx.model).short_description if Product.find_by_name(combo.tx.model).present? %><br />
    </td>
    <td style="text-align:center;">
        <span style="font-size:1.5rem"><%=link_to combo.rx.model, combo.rx.product_url, target: "_blank" %></span><br />
        <%= Product.find_by_name(combo.rx.model).short_description if Product.find_by_name(combo.rx.model).present? %><br />
    </td>
  </tr>
  <tr>
    <td style="text-align:center;">
        <%=link_to image_tag(combo.tx.image_url, lazy: false), combo.tx.product_url, target: "_blank"%><br />
    </td>
    <td style="text-align:center;">
        <%=link_to image_tag(combo.rx.image_url, lazy: false), combo.tx.product_url, target: "_blank"%><br />
    </td>
  </tr>
  <tr>
    <td style="text-align:center;">
        <%=link_to combo.tx.product_url%>
    </td>
    <td style="text-align:center;">
        <%=link_to combo.rx.product_url%>
    </td>
  </tr>
  <tr>
    <td style="text-align:center;vertical-align:top;">
      Designed for use with rx:<br />
      <% AmxDxlinkDeviceInfo.recommended_rx(combo.tx).each do |item|%>
        <%=link_to item.model, item.product_url%><br />
      <% end %>
    </td>
    <td style="text-align:center;vertical-align:top;">
      Designed for use with tx:<br />
      <% AmxDxlinkDeviceInfo.recommended_tx(combo.rx).each do |item|%>
        <%=link_to item.model, item.product_url%><br />
      <% end %>
    </td>
  </tr>
</table>
