<p>&nbsp;</p>
<h3 class="text-center"><%= @site_element.name %></h3>
<p>&nbsp;</p>
<div class="row">
  <div class="small-12 medium-8 medium-offset-2 columns">
    <div class="panel">
      <%= s3_uploader_form callback_url: upload_admin_site_elements_url,
        id: "s3_uploader",
        callback_param: "direct_upload_url",
        acl: "public-read",
        expiration: 24.hours.from_now.utc.iso8601,
        max_file_size: 900.megabytes do %>
          <p>If you need to replace the file, navigate to the file on your computer or
          drag and drop it below before filling out the rest of the form: (this is optional)</p>
        <div class="text-center">
          <%= file_field_tag :file %>
        </div>

        <div id="site_element_progress">
          <div id="uploads_container"></div>
          <script id="template-upload" type="text/x-tmpl">
          <div id="upload_{%=o.unique_id%}" class="upload">
            {%=o.name%}
            <div class="progress success progress-striped active"><span class="bar meter" style="width: 0%"></span></div>
            <div id="upload_instruct" class="hint">Wait for the upload to complete before submitting the form.</div>
          </div>
          </script>
        </div>
      <% end %>
    </div>

    <%= simple_form_for [:admin, @site_element] do |f| %>
      <input type="hidden" name="return_to" value="<%= @return_to %>">
      <%= f.input :direct_upload_url, as: :hidden %>
      <%= f.input :name, label: "Name (as it appears for site users)" %>
      <div class="row">
        <div class="medium-6 small-12 columns">
          <%= f.input :language, collection: HarmanSignalProcessingWebsite::Application.config.document_languages %>
        </div>
        <div class="medium-6 small-12 columns">
          <%= f.input :version %>
        </div>
      </div>

      <div class="row">
        <div class="large-6 columns">
          <%= f.input :resource_type,
            label: "Category",
            required: true,
            collection: (website.brand.name == "Martin") ? SiteElement.resource_types(brand_id: website.brand_id) : SiteElement.resource_types %>
        </div>
        <div class="large-6 columns">
          <%= f.association :access_level,
            label_method: :long_name,
            hint: "(optional--leave blank to allow all access)"%>
        </div>
      </div>

      <%= f.association :products,
        label: "Related Products",
        collection: website.brand.products,
        include_blank: true,
        input_html: { class: 'chosen-select' } %>

      <br/>
      <%= f.input :is_document, label: "Show this item as a document on the product page." %>
      <%= f.input :is_software, label: "Show this item as software on the product page." %>
      <%= f.input :show_on_public_site, label: "Also show on the main downloads page in the support area of the site." %>

      <div class="row">
        <div class="small-6 columns">
          <%= f.submit 'Save Changes', class: "small button" %>
        </div>
        <div class="small-6 columns text-right">
          <%= link_to admin_site_element_path(f.object, return_to: request.path), method: :delete, class: "alert small button", data: { confirm: "Are you sure? This will remove \"#{f.object.long_name}\" from ALL related pages." } do %>
            <%= fa_icon "trash" %>
            delete
          <% end %>
        </div>
    <% end %>
  </div>
</div>
