<% if pedal.photo %>
	<%= link_to(image_tag(pedal.photo.product_attachment.url(:small), alt: pedal.name), pedal) %>
<% end %>
<div class="burst">
	<%= link_to(burst_for(pedal), pedal) %>
</div>
<h5><%= pedal.name %></h5>
<p>
	<%=raw truncate(strip_html(pedal.description), length: 120) %>
	<%= link_to "more", pedal %>
</p>