<p>&nbsp;</p>
<%= cache ["all_epedals", istomp, I18n.locale] do %>
<div class="view_all_button_container text-center">
	<%= link_to "View e-pedals", '#', class: "view_all_button secondary radius button" %>
</div>

<div id="epedals" data-count="<%= istomp.current_sub_products.count %>">
	<h3><%= istomp.current_sub_products.count %> e-pedals...</h3>
	<%= render_partial 'products/sub_products', product: istomp %>
	<div class="view_all_button_container text-center">
	<%= link_to "Hide e-pedals", '#', class: "view_all_button secondary radius button" %>
	</div>
</div>
<% end %>
