<%= cache ["istomp_callout", I18n.locale] do %>
<% @istomp = Product.find("istomp") || Product.new %>
<div id="istomp_callout" class="callout <%= position.to_s %>_callout">
	<h4><%= link_to(image_tag("#{website.folder}/istomp/istomp_callout_logo.jpg", alt: "iStomp"), @istomp) %></h4>
	<% if @istomp.photo %>
		<%= link_to(image_tag(@istomp.photo.product_attachment.url(:horiz_medium)), @istomp) %>
	<% end %>
	<div style="padding-left: 10px">
		<%= image_tag("made_for_ipod_ipad_iphone.png", alt: "Made for iPod, iPad, iPhone") %>
	</div>
	<div id="istomp_callout_content">
		<%=raw truncate strip_html(@istomp.description), length: 185 %>
		<%= link_to "more", @istomp %>
	</div>
</div>
<% end %>