<% 
begin
	stomp_shop = istomp.softwares.first 
	url = url_for(stomp_shop)
rescue
	url = "http://itunes.apple.com/us/app/digitech-stomp-shop/id481957668?mt=8"
end
%>
<div id="stomp_shop_callout" class="callout <%= position.to_s %>_callout">
	<h4><%= image_tag "#{website.folder}/istomp/stomp_shop_callout_logo.png", alt: "Stomp Shop" %></h4>
	<div id="stomp_shop_callout_content">
		<%= link_to url do %>
	 		<%= image_tag "#{website.folder}/stomp_shop_icon.png", alt: "Stomp Shop", size: "92x92", style: "padding-left: 8px" %><br/>
			<%= image_tag "available_on_the_app_store.png", alt: "Available on the App Store" %>
		<% end %>
		<p>Connect the iStomp to an iOS device using the DigiTech Smart Cable. In about the same time 
			it takes to download a song, you can completely reconfigure the iStomp with any... 
			<%= link_to "more", url %>
		</p>
	</div>
</div>