<% @istomp = @product.parent_products.first.parent_product || Product.new(name: "iStomp") %>
<% @stomp_shop = @istomp.softwares.first || Software.new %>

<%
if @product.photo
	og_image = @product.photo.product_attachment.url(:original)
	tw_image = @product.photo.product_attachment.url(:small)
else
	og_image = image_url("#{website.folder}/logo.png")
	tw_image = image_url("#{website.folder}/logo.png")
end

if website.show_pricing? && @product.msrp && @product.msrp.to_f > 0
	twitter_params = {
		image: {
			src: tw_image
		},
		card: "product",
		data1: "#{number_to_currency(@product.msrp)} USD",
		label1: "MSRP",
		data2: translate_content(@product, :short_description),
		label2: "Product Type"
	}
else
	twitter_params = {
		image: {
			src: tw_image
		},
		card: "summary"
	}
end

set_meta_tags title: @product.name,
	reverse: true,
	#canonical: product_url(@product),
	description: translate_content(@product, :short_description),
	keywords: translate_content(@product, :keywords),
	twitter: twitter_params,
	og: {
		image: og_image,
		type: 'product',
		description: truncate(strip_html(translate_content(@product, :description)), length: 100),
		title: "#{website.brand.name} #{@product.name}"
	}
%>

<% if @product.show_alert? %>
	<%= content_for :extra_notice do %>
		<div id="product-notice"><%=raw textilize(@product.alert) %></div>
	<% end %>
<% end %>

<%= content_for :preload do %>
	<% @product.product_attachments.each do |product_attachment| %>
		<% if !product_attachment.product_attachment_file_name.blank? %>
			<%= image_tag(product_attachment.product_attachment.url(:epedal)) %>
		<% end %>
	<% end %>
<% end %>

<%= render_partial 'products/istomp_style' %>

<%= cache ["top", @product, I18n.locale, session['geo_country']] do %>

<header id="product_header">
	<h1><%= @product.name %> <small><%= @product.short_description %></small></h1>
  <% if @product.discontinued? %>
    <span class="discontinued">(<%= t('discontinued') %>)</span>
  <% end %>
</header>

<section id="product_content" class="epedal row collapse">
	<div class="medium-3 small-12 columns text-center">

		<div id="viewer">
			<% if @product.photo %>
			<%= image_tag(@product.photo.product_attachment.url(:epedal),
				 id: "pedal",
				 data: { effecton: effect_on_image_path(@product) }
				) %>
			<% end %>
			<div class="burst">
				<%= burst_for(@product) %>
			</div>
		</div>

		<% if @product.audio_demos.size > 0 %>
		<ul class="graphic">
		  	<li class="sm2_link">
			<%= link_to(' Effect Demo', @product.audio_demos.first.wet_demo.url,
				id: 'current_pedal_sample',
				class: 'inline-exclude',
				data: {
					wet: @product.audio_demos.first.wet_demo.url,
					dry: @product.audio_demos.first.dry_demo.url,
					pedal: 'pedal'
				}) %>
			</li>
		</ul>
		<div id="demo_msg"></div>
		<% elsif @product.sample %>
		<ul class="graphic">
		  <li class="sm2_link">
		  	<%= link_to "listen", @product.sample.product_media.url %>
		  </li>
		</ul>
		<% end %>

		<div id="product_buy_now_box">
			<% if included_epedals.include?(@product.to_param) %>
				<div>
					<span class="price_label">Included With iStomp</span>
				</div>
			<% elsif !@product.msrp.blank? && I18n.locale == I18n.default_locale %>
				<div>
					<span class="price_label"><%= "Regular" unless @product.sale_price.to_f >= @product.msrp.to_f %> Price:</span>
					<span class="price"><%= number_to_currency(@product.msrp) %></span>
				</div>
			<% end %>
			<%= link_to 'Download', @stomp_shop.link, target: "_blank", class: "button stomp_shop_app" %>

		</div>
	</div>

  <div class="medium-5 small-12 columns" id="right_column">
		<%= draw_main_tabs_content @product, tabs: "description" %>
		<div><%=raw @product.extended_description %></div>
		<div>
			<%= link_to(image_tag("available_on_the_app_store.png", alt: "Available on the app store"), @stomp_shop) %>
		</div>
	</div>

  <div class="medium-4 small-12 columns" id="right_side_image">
		<% if @product.images_for("product_page").size >= 2 %>
			<%= image_tag @product.images_for("product_page")[1].product_attachment.url(:vert_medium),
				alt: "#{@product.name} with iStomp label" %>
		<% end %>
    <%#= render_partial "products/epedal_get_label" %>
	</div>

</section>
<% end %>

<div id="coverflow_settings" data-jump="false"></div>
<%#= render_partial "products/istomp_coverflow", istomp: @istomp, pedal: @product, use_popups: true %>
<%= render_partial "products/istomp_epedal_shelves", istomp: @istomp %>

<section id="product_bottom_content" class="hide-for-small">
	<%= render_partial "products/stomp_shop_callout", position: :right, istomp: @istomp %>
	<%= render_partial "products/istomp_callout", position: :left %>
	<div class="clear"></div>
</section>

<%= render_partial 'products/istomp_videos' %>

<span id="help_links" data-supported="<%= escape_javascript website.android_disclaimer_url %>" data-howto="<%= escape_javascript website.non_ios_howto_url %>"></span>

<% if current_user && can?(:manage, @product) %>
<div class="admin_function">
	<%= link_to "edit", [:admin, @product] %>
</div>
<% end %>
