<% set_meta_tags :title => @product.name,
				 :reverse => true,
                 :description => translate_content(@product, :short_description),
                 :keywords => translate_content(@product, :keywords) %>

<%= content_for :preload do %>
	<%= image_tag("#{website.folder}/#{I18n.locale}/small_red_buyitnow_button_hover.png") %>
	<% @product.product_attachments.each do |product_attachment| %>
		<% if !product_attachment.product_attachment_file_name.blank? %>
			<%= image_tag(product_attachment.product_attachment.url(:medium)) %>
		<% end %>
	<% end %>
<% end %>

<%= render_partial 'products/istomp_style' %>

<%#= cache ["product_page", @product, Rails.env] do # causes problems with intl buy it now versus US  %>

<header id="product_header" class="istomp">
	<%= image_tag("#{website.folder}/istomp/logo.png", alt: @product.name) %>
	<%= draw_main_tabs @product, 
		tabs: "description|extended_description|features|specifications|downloads_and_docs|gallery" %>
</header>
	
<section id="product_content" class="istomp">
	<h2><%= @product.short_description %></h2>
	<div id="left_column">
		<% if @product.photo %>
			<%= image_tag(@product.photo.product_attachment.url(:horiz_medium), 
					id: "label_changer",
					data: { orig: @product.photo.product_attachment.url(:horiz_medium) }) %>
		<% end %>
		
		<% if website.has_online_retailers? || website.has_distributors? || website.has_dealers? || !@product.direct_buy_link.blank? %>
		<div id="product_buy_now_box">
			<% if session["geo_usa"] && !@product.street_price.blank? %>
				<span class="price_label">Est. Street Price:</span>
				<span class="price"><%= number_to_currency(@product.street_price) %></span>
			<% end %>
			<%= buy_it_now_link(@product, button_prefix: "small_red_") %>
		</div>
		<% end %>
	</div>
	
	<div id="right_column">
		<%= draw_main_tabs_content @product, 
		tabs: "description|extended_description|features|specifications|downloads_and_docs|gallery" %>	
		<%= image_tag "made_for_ipod_ipad_iphone.png", alt: "Made for iPod, iPad, iPhone" %>	
	</div>
	<div class="clear"></div>
</section>
<%# end # cache %>
	
<div id="coverflow_settings" data-changelabel="true"></div>
<%= render_partial "products/istomp_coverflow", istomp: @product %>
	
<section id="product_bottom_content">
	<%= render_partial "products/featured_epedals_callout", position: :right %>
	<%= render_partial "products/stomp_shop_callout", position: :left, istomp: @product %>
	<div class="clear"></div>
</section>

<%= render_partial 'products/istomp_videos' %>

<% if session["geo_usa"] %>
<%= content_for :dealer_popup do %>
	<div>
		<div style="float: left;">
			<h2><%= t('titles.buy_online') %></h2>
		</div>
		<div style="float: right; margin-top: 12px;">
			<%= form_tag where_to_buy_path() %>
				<%= t('us_zip_code') -%>: <%= text_field_tag "zip", session[:zip], :size => 8 %>
				<%= submit_tag t('find_us_dealers') %>
				<%= link_to t("international_distributors"), international_distributors_path %>
			</form>
		</div>
		<div class="clear"></div>
	</div>
	<div id="dealers">
	<div id="online_retailers">
		<%= render_partial "shared/buynow", :product => @product %>
	</div>
	</div>
	<div style="clear:both"></div>
<% end %>
<% end %>

<span id="help_links" data-supported="<%= escape_javascript website.android_disclaimer_url %>" data-howto="<%= escape_javascript website.non_ios_howto_url %>"></span>

<% if current_user && can?(:manage, @product) %>
<div class="admin_function">
	<%= link_to "edit", [:admin, @product] %>
</div>
<% end %>