<div class="description text-content">
  <% if can?(:manage, @product) %>
    <%= link_to edit_admin_product_path(@product), class: "edit-link", data: { opener: "edit-description" } do %>
      <%= fa_icon "edit" %> edit content
    <% end %>
    <%= render_partial "edit_description" %>
  <% end %>

  <%=raw translate_content(@product, :description) %>

  <% if @product.highlights.size > 0 %>
    <%
      # Attempt to calculate a uniform text-box height for all highlights
      text_box_height = calculate_common_text_height_for_features(@product.highlights)
    %>
    <ul data-orbit data-options="timer: false; bullets: false; slide_number: false; animation: fade;" class="show-for-medium-up">
      <% @product.highlights.each do |highlight| %>
        <li><%= render_feature highlight, text_height: text_box_height %></li>
      <% end %>
    </ul>

    <div class="show-for-small-down">
      <% @product.highlights.each do |highlight| %>
        <%= render_feature highlight, format: 'mobile' %>
      <% end %>
    </div>
  <% end %>

  <% if @product.show_recommended_verticals && @product.market_segments.distinct.length > 0 %>
    <p>
      <i>Recommended for:
        <%=
          @product.market_segments.distinct.map do |ms|
            link_to(translate_content(ms, :name), ms)
          end.join(", ").html_safe
        %>.
      </i>
    </p>
  <% end %>
</div>

