<div class="docs">

  <table style="width: 100%">
    <thead>
      <tr>
        <td><!--Filename-->&nbsp;</td>
        <td>Version</td>
        <td>Language</td>
        <td>Size</td>
        <td>Uploaded</td>
      </tr>
    </thead>
    <tbody>

    <% product.safety_documents.includes(:product).each do |product_document| %>
      <tr>
        <td colspan=5><h5>Safety Documentation</h5></td>
      </tr>
      <%= render_partial 'shared/download_table_row', item: product_document %>
    <% end %>

    <% product.nonsafety_documents.pluck(:document_type).uniq.each do |document_type| %>
      <tr>
        <td colspan=5>
          <% if document_type == "other" %>
            <h5>Extras</h5>
          <% else %>
            <h5><%= document_type.pluralize.titleize %></h5>
          <% end %>
        </td>
      </tr>

      <% product.nonsafety_documents.includes(:product).where(document_type: document_type).each do |product_document| %>
        <%= render_partial 'shared/download_table_row', item: product_document %>
      <% end %>
    <% end %>

    <ul class="docs">
      <% product.viewable_site_elements.each do |site_element| %>
        <% if can?(:read, site_element) %>
          <% if site_element.external_url.present? || site_element.executable_file_name.present? %>
              <%= render_partial 'shared/download_table_row', item: site_element %>
          <% elsif site_element.resource_file_name.present? %>
              <%= render_partial 'shared/download_table_row', item: site_element %>
          <% end %>
        <% end %>
      <% end %>
    </ul>

    <% if product.current_promotions.where.not(promo_form_file_name: [nil, '']).length > 0 %>
      <tr>
        <td colspan=5><h5>Promotions</h5></td>
      </tr>
      <tr>
        <td colspan=5>
          <%= image_tag("icons/pdf_17.png", style: "vertical-align: middle") %>
          <%= link_to(t('product_page.rebate_forms'), promotions_path) %>
        </td>
      </tr>
    <% end %>

    </tbody>
  </table>

</div>
