<ul class="docs">
	<% if product.current_and_recently_expired_promotions.length > 0 %>
	<li>
		<%= image_tag("icons/pdf_17.png", style: "vertical-align: middle") %>
		<%= link_to(t('product_page.rebate_forms'), promotions_path) %>
	</li>
	<% end %>
	<% product.product_documents.includes(:product).each do |product_document| %>
	<li>
		<% if product_document.document_content_type.match(/pdf/i) || product_document.document_file_name.match(/pdf$/i) %>
			<%= image_tag("icons/pdf_17.png", style: "vertical-align: middle") %>
		<% end %>
		<%= link_to product_document.name, product_document.document.url %> 
		[<%= number_to_human_size(product_document.document_file_size) %>]
	</li>
	<% end %>
	<% product.viewable_site_elements.each do |site_element| %>
	<li>
		<% if site_element.resource_content_type.match(/pdf/i) || site_element.resource_file_name.match(/pdf$/i) %>
			<%= image_tag("icons/pdf_17.png", style: "vertical-align: middle") %>
		<% end %>
		<%= link_to site_element.name, site_element.resource.url %> 
		[<%= number_to_human_size(site_element.resource_file_size) %>]
	</li>	
	<% end %>
</ul>