<div class="docs">
  <% skip_admin_functions = local_assigns[:skip_admin_functions] ? skip_admin_functions : false %>
  <%= cache ["downloads_table", product, current_user, I18n.locale, skip_admin_functions] do %>
    <table style="width: 100%">
      <thead>
        <tr>
          <td><!--Filename-->&nbsp;</td>
          <td>Version</td>
          <td>Language</td>
          <td>Size</td>
          <td>Uploaded</td>
        </tr>
      </thead>
      <tbody>

      <% product.safety_documents.includes(:product).each do |product_document| %>
        <tr>
          <td colspan=5><h5>Safety Documentation</h5></td>
        </tr>
        <%= render_partial 'shared/download_table_row', item: product_document %>
      <% end %>

      <%# This block shows the old-school product_documents (as opposed to site_resources) %>
      <% product.nonsafety_documents.pluck(:document_type).uniq.each do |document_type| %>
        <tr>
          <td colspan=5>
            <% if document_type == "other" %>
              <h5>Extras</h5>
            <% else %>
              <h5><%= document_type.pluralize.titleize %></h5>
            <% end %>
          </td>
        </tr>

        <% product.nonsafety_documents.includes(:product).where(document_type: document_type).each do |product_document| %>
          <%= render_partial 'shared/download_table_row', item: product_document, skip_admin_functions: skip_admin_functions %>
        <% end %>
      <% end %>

      <% (product.all_related_downloads(I18n.locale.to_s, website)).group_by(&:resource_type).sort_by{|r,i| download_group_sort_order(r)}.each do |resource_type, site_elements| %>
        <%# When using this partial, skip software items (SC uses two separate tables for software vs everything else) %>
        <% next if resource_type.match?(/firmware|software/i) %>
        <%= downloads_header_row(resource_type, site_elements, columns: 5) %>
        <% site_elements.each do |site_element| %>
          <%= render_partial 'shared/download_table_row', item: site_element, skip_admin_functions: skip_admin_functions %>
        <% end %>
      <% end %>

      <% if product.current_promotions.where.not(promo_form_file_name: [nil, '']).length > 0 %>
        <tr>
          <td colspan=5><h5>Promotions</h5></td>
        </tr>
        <tr>
          <td colspan=5>
            <%= image_tag("icons/pdf_17.png", style: "vertical-align: middle") %>
            <%= link_to(t('product_page.rebate_forms'), promotions_path) %>
          </td>
        </tr>
      <% end %>

      </tbody>
    </table>

  <% end %>
</div>
