<ul class="downloads">

  <% product.active_softwares.each do |software| %>
    <li>
      <%= platform_icon(software, 17) %>
      <%= link_to software.formatted_name, software %>
      <% if software.ware_file_size.to_i > 0 %>
        [<%= number_to_human_size(software.ware_file_size) %>]
      <% end %>
    </li>
  <% end %>

  <% product.executable_site_elements.each do |site_element| %>
    <% if can?(:read, site_element) %>
      <li>
        <%= image_tag "icons/download_17.png", style: "vertical-align: middle" %>
        <%= link_to site_element.name, site_element.url %>
        <% unless site_element.external_url.present? %>
          [<%= number_to_human_size(site_element.executable_file_size) %>]
        <% end %>
      </li>
    <% end %>
  <% end %>

</ul>

