<div id="downloads_and_docs" style="margin: 20px 10%">
	<%#binding.pry%>
	<% if product.softwares.count > 0 %>
	<h2><%= t("product_page.downloads") %></h2>
	<%= render_partial "downloads", product: product %>
	<% end %>

	<% if product.product_documents.count > 0 %>
	<h2><%= t("product_page.documentation") %></h2>
	<%= render_partial "documentation", product: product %>
	<% end %>

  <%= draw_audio_demos product %>
</div>
