<div id="edit-description" class="popup-form">
  <div class="row">
    <div class="small-8 columns">
      <h5>Descriptions</h5>
    </div>
    <div class="small-4 columns text-right">
      <%= link_to @product, class: "cancel-edit" do %>
        <%= fa_icon "close" %>
      <% end %>
    </div>
  </div>

  <%= simple_form_for [:admin, @product] do |f| %>
    <input type="hidden" name="return_to" value="<%= product_path(@product) %>">

    <% if website.brand.collapse_content? %>
      <p><em>Note: <%= website.brand.name %> is configured to use collapsed content for all products. 
          To edit collapsing on a per-product basis, first edit the brand's settings.</em></p>
    <% else %>
      <%= f.input :collapse_content, label: "Content is collapsed to reduce scrolling" %>
    <% end %>
    <% # use the loop to show things in the right order %>
    <% @product.collect_tabs(website.brand.main_tabs, false).each do |t| %>
      <% if t.key == "description" %>
        <%= f.input :description, label: "Main description", as: :text, input_html: { class: "mceEditor" } %><br/>
      <% elsif t.key == "extended_description" %>
        <%= f.input :extended_description_tab_name,
          label: "More details title",
          hint: "Standard is \"More Details\". Leave blank to use the standard." %>
        <%= f.input :extended_description, label: false, as: :text, input_html: { class: "mceEditor" } %><br/>
      <% elsif t.key == "features" %>
        <%= f.input :features_tab_name,
          label: "Features title",
          hint: "Standard is \"Features\". Leave blank to use the standard (most common)." %>
        <%= f.input :features, label: false, as: :text, input_html: { class: "mceEditor" } %><br/>
      <% elsif t.key == "videos" %>
        <div class="panel">
          <p><strong>Videos</strong></p>
          <p>Videos are managed only by their YouTube ID. Provide the YouTube Video ID or
          YouTube Playlist ID. Check the box next to any video to be deleted upon submitting
          the form.</p>
          <div class="row">
            <div class="small-1 columns text-center"><%= fa_icon "list" %></div>
            <div class="small-8 columns">YouTube ID</div>
            <div class="small-2 columns text-center">
              <% if @product.videos_content_present? %>
                View <%= fa_icon "external-link" %>
              <% end %>
            </div>
            <div class="small-1 columns text-center"><%= fa_icon "trash" %></div>
          </div>
          <%= f.simple_fields_for :product_videos do |pv| %>
            <div class="row">
              <div class="small-1 columns">
                <%= pv.input :position, as: :string, label: false %>
              </div>
              <% if pv.object.new_record? %>
                <div class="small-10 columns">
                  <%= pv.input :youtube_id, label: false %>
                </div>
              <% else %>
                <div class="small-8 columns">
                  <%= pv.input :youtube_id, label: false %>
                </div>
                <div class="small-2 columns">
                  <%= link_to "https://youtube.com/watch?v=#{ pv.object.youtube_id }", target: "_blank" do %>
                    <%= image_tag "https://img.youtube.com/vi/#{ pv.object.youtube_id }/sddefault.jpg",
                      alt: "Video #{pv.object.youtube_id}" %>
                  <% end %>
                </div>
              <% end %>
              <div class="small-1 columns text-center">
                <% unless pv.object.new_record? %>
                  <%= pv.input :_destroy, as: :boolean, label: false %>
                <% end %>
              </div>
            </div>
          <% end %>
          <div class="row">
            <div class="small-1 columns text-right">
              <%= fa_icon "arrow-right 2x", style: "color: green" %>
            </div>
            <div class="small-11 columns">
              <div class="hint">
                Only provide the ID from the YouTube URL. Example,
                only enter the highlighted portion of the following URL:
                https://youtube.com/watch?v=<span style="background-color: Moccasin"><strong>ABCDEFG</strong></span>
              </div>
            </div>
          </div>
        </div>
      <% elsif t.key == "case_studies" %>

        <p><strong>Case Studies</strong></p>
        <p>Case Studies from the Harman Pro site can be linked to this product.</p>
        <div class="row">
          <div class="small-1 columns text-center"><%= fa_icon "list" %></div>
          <div class="small-10 columns">Case Study ID</div>
          <div class="small-1 columns text-center"><%= fa_icon "trash" %></div>
        </div>
        <%= f.simple_fields_for :product_case_studies do |pcs| %>
          <div class="row">
            <div class="small-1 columns">
              <%= pcs.input :position, as: :string, label: false %>
            </div>
            <div class="small-10 columns">
              <%= pcs.input :case_study_slug, label: false %>
            </div>
            <div class="small-1 columns text-center">
              <% unless pcs.object.new_record? %>
                <%= pcs.input :_destroy, as: :boolean, label: false %>
              <% end %>
            </div>
          </div>
        <% end %>
        <div class="row">
          <div class="small-1 columns text-right">
            <%= fa_icon "arrow-right 2x", style: "color: green" %>
          </div>
          <div class="small-11 columns">
            <div class="hint">
              Example Case Study ID: <%= ENV['PRO_SITE_URL']%>/case_studies/<span style="background-color: Moccasin"><strong>ABCDEFG</strong></span>
              (only enter the highlighted portion)
            </div>
          </div>
        </div>
        <br/>

      <% end %>
    <% end %>

    <% if website.brand.has_photometrics? %>
      <br/>
      <%= f.input :photometric_id, label: "Photometric ID", hint: "From legacy photometric system" %>
    <% end %>
    <% if website.firmware_page %>
      <br/>
      <%= f.input :firmware_name,
        label: "Firmware Name(s)",
        hint: "This will automatically add a firmware links on the product page with its latest version. Separate multiples with | " %>
    <% end %>

    <br/>
    <%= f.submit "Save Changes", class: "small button" %>
  <% end %>
</div>


