<div id="edit-title-block" class="popup-form">
  <div class="row">
    <div class="small-8 columns">
      <h5>Title Block</h5>
    </div>
    <div class="small-4 columns text-right">
      <%= link_to @product, class: "cancel-edit" do %>
        <%= fa_icon "close" %>
      <% end %>
    </div>
  </div>

  <%= simple_form_for [:admin, @product] do |f| %>
    <input type="hidden" name="return_to" value="<%= product_path(@product) %>">
    <%= f.input :name %>
    <%= f.input :short_description %>
    <%= f.association :product_status, collection: ProductStatus.simplified_options %>
    <%= f.association :product_families,
          collection: website.brand.product_families,
          include_blank: true,
          input_html: { class: 'chosen-select' } %>
    <br/>
    <%= f.association :badges,
          include_blank: true,
          input_html: { class: 'chosen-select' } %>
    <br/>
    <% if @product.brand.main_tabs.include?("training") %>
    <%= f.input :training_url %>
    <% end %>
    <% if website.brand.show_pricing? %>
      <div class="row">
        <div class="small-6 columns">
          <%= f.input :msrp, label: "Retail price", placeholder: "9999.99" %>
        </div>
        <div class="small-6 columns">
          <%= f.input :street_price, placeholder: "9999.99" %>
        </div>
      </div>
    <% end %>
    <%= f.input :hide_buy_it_now_button %>
    <br/>
    <%= f.submit "Save Changes", class: "small button" %>
  <% end %>
</div>

