<ul class="support">
	<% if product.can_be_registered? && website.has_product_registrations? %>
	<li><%= link_to t('register_your_product', product: product.name),
				warranty_registration_path(product.to_param), target: "_blank" %></li>
	<% end %>
	<li><%= link_to t('contact_tech_support'), support_path %></li>
  <% if !!(website.value_for("anytime_support_url")) %>
    <li><%= link_to t('anytime_support'), website.value_for("anytime_support_url"), target: "_blank" %></li>
  <% end %>
</ul>

<% if product.faqs.size > 0 %><h3><%= product.name %> <%= t('product_page.faqs') %></h3><% end %>

<% product.faqs.each do |faq| %>
<div class="faq">
	<h5><%= translate_content(faq, :question) %></h5>
	<%=raw translate_content(faq, :answer) %>
</div>
<% end %>
