<% set_meta_tags title: "Buy #{@product.name}",
				 reverse: true,
                 canonical: buy_it_now_product_url(@product),
                 description: "Where to buy #{translate_content(@product, :short_description)}",
                 keywords: "Buy, purchase, #{translate_content(@product, :keywords)}" %>

<div id="breadcrumbs"><%= breadcrumbs(@product) %> :: <%= link_to @product.name, @product %></div>

<div style="text-align: center">
	<h1>Where to buy: <%= @product.name %></h1>
	<% if @product.photo %>
		<%= link_to(image_tag(@product.photo.product_attachment.url(:medium)), @product) %>
	<% end %>
	<div>
		<%= form_tag where_to_buy_path() %>
			<%= t('us_zip_code') -%>: <%= text_field_tag "zip", session[:zip], :size => 8 %>
			<%= submit_tag t('find_us_dealers') %>
			<%= link_to t("international_distributors"), international_distributors_path %>
		</form>
	</div>
	<h2 style="margin-top: 10px;"><%= t('titles.buy_online') %></h2>
	<div id="dealers" style="margin: 20px 50px;">
	<div id="online_retailers">
		<%= render_partial "shared/buynow", :product => @product %>
	</div>
	</div>
	<div class="clear"></div>
</div>