<% set_meta_tags title: "Buy #{@product.name}",
				 reverse: true,
                 #canonical: buy_it_now_product_url(@product),
                 description: "Where to buy #{translate_content(@product, :short_description)}",
                 keywords: "Buy, purchase, #{translate_content(@product, :keywords)}" %>

<div id="breadcrumbs"><%= breadcrumbs(@product) %> :: <%= link_to @product.name, @product %></div>

<h1>Where to buy: <%= @product.name %></h1>

<div class="text-center" style="margin: 40px;">

	<% if @product.photo %>
		<%= link_to(image_tag(@product.photo.product_attachment.url(:medium)), @product) %>
	<% end %>
</div>

<div class="row">
	<div class="large-6 large-offset-3 columns">
		<div>
			<%= form_tag where_to_find_path %>
				
				<div class="row collapse">
					<div class="large-2 columns text-center">
						<%= label_tag "zip", t('us_zip_code'), class: "inline" %>
					</div>
					<div class="large-5 small-8 columns">
						<%= text_field_tag "zip", session[:zip], size: 8 %>
					</div>
					<div class="large-3 small-4 columns">
						<%= submit_tag t('find_us_dealers'), class: "postfix button" %>
					</div>
					<div class="large-2 columns text-center">
						<label class="inline"><%= link_to t("international_distributors"), international_distributors_path %></label>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<hr/>

<h3 class="subheader"><%= t('titles.buy_online') %></h3>

<%= render_partial "shared/buynow", product: @product %>
