<% set_meta_tags title: "Product Comparison",
				 reverse: true %>

<h1 class="page_title">Product Comparison</h1>

<table class="comparison" border="1">
	<tr>
		<th>&nbsp;</th>
	<% @products.each do |product| %>
		<th width="<%= (780 / @products.count).to_i %>">
			<h3><%= link_to translate_content(product, :name), product %></h3>
			<% if product.photo %>
				<% if product.layout_class == "horizontal" %>
				<%= link_to image_tag(product.photo.product_attachment.url(:horiz_thumb)), product %>
				<% else %>
				<%= link_to image_tag(product.photo.product_attachment.url(:thumb)), product %>
				<% end %>
			<% end %>
		</th>
	<% end %>
	</tr>
	<tr>
		<td class="spec_name">Product type</td>
		<% @products.each do |product| %>
		<td class="spec_value"><%= translate_content(product, :short_description) %></td>
		<% end %>
	</tr>
	<% if website.show_pricing? %>
	<tr>
		<td class="spec_name">MSRP</td>
		<% @products.each do |product| %>
		<td class="spec_value">
			<% if product.msrp.present? && product.msrp.to_f > 0.0 %>
			<%= number_to_currency(product.msrp.to_f) %>
			<% else %>
			 --
			<% end %>
		</td>
		<% end %>
	</tr>
	<% end %>
	<% @specs.each do |spec| %>
	<tr>
		<td class="spec_name"><%= translate_content(spec, :name) %></td>
		<% @products.each do |product| %>
		<td class="spec_value">
			<% if ps = product.product_specifications.where(specification_id: spec.id).first %>
				<%= spec_value(ps.value) %>
			<% else %>
				--
			<% end %>
		</td>
		<% end %>
	</tr>
	<% end %> 

</table>

