<% set_meta_tags title: t('titles.product_comparison'),
				 reverse: true %>

<h1 class="page_title"><%= t('titles.product_comparison') %></h1>

<table class="comparison" border="1">
	<tr>
		<th>&nbsp;</th>
	<% @products.each do |product| %>
		<th style="text-align: center" width="<%= (1080 / @products.count).to_i %>">
			<h3><%= link_to translate_content(product, :name), product %></h3>
			<% if product.photo %>
				<% if product.layout_class == "horizontal" %>
				<%= link_to image_tag(product.photo.product_attachment.url(:horiz_thumb)), product %>
				<% else %>
				<%= link_to image_tag(product.photo.product_attachment.url(:thumb)), product %>
				<% end %>
			<% end %>
		</th>
	<% end %>
	</tr>
	<tr>
		<td class="spec_name">Product type</td>
		<% @products.each do |product| %>
		<td class="spec_value"><%= translate_content(product, :short_description) %></td>
		<% end %>
	</tr>
  <% if website.show_pricing? && I18n.locale == I18n.default_locale && @products.inject(0){|t,p| p.msrp.to_f + t} > 0.0 %>
	<tr>
		<td class="spec_name">MSRP</td>
		<% @products.each do |product| %>
		<td class="spec_value">
			<% if product.msrp.present? && product.msrp.to_f > 0.0 && !product.hide_buy_it_now_button? && !product.discontinued? %>
			<%= number_to_currency(product.msrp.to_f) %>
			<% else %>
			 --
			<% end %>
		</td>
		<% end %>
	</tr>
	<% end %>

	<% if @products.inject(0){|total,p| total += p.sub_products.count} > 0 %>
	<tr>
		<td class="spec_name">Options</td>
		<% @products.each do |product| %>
		<td class="spec_value">
			<% if ps = product.sub_products %>
				<%=raw ps.map{|p| link_to(p.product.name, p.product)}.join(", ") %>
			<% else %>
				--
			<% end %>
		</td>
		<% end %>
	</tr>
	<% end %>

	<% if @products.inject(0){|total,p| total += p.parent_products.count} > 0 %>
	<tr>
		<td class="spec_name">Works with</td>
		<% @products.each do |product| %>
		<td class="spec_value">
			<% if pp = product.parent_products %>
				<%=raw pp.map{|p| link_to(p.parent_product.name, p.parent_product)}.join(", ") %>
			<% else %>
				--
			<% end %>
		</td>
		<% end %>
	</tr>
	<% end %>

  <% if @spec_groups.length > 0 %>
    <% @spec_groups.each do |spec_group| %>
      <tr>
        <td colspan="<%= @products.count + 1 %>">
          <h4><%= spec_group.name %></h4>
        </td>
      </tr>
      <% spec_group.specifications.each do |spec| %>
        <% if @specs.include?(spec) %>
          <tr>
            <td class="spec_name"><%= translate_content(spec, :name) %></td>
            <% @products.each do |product| %>
              <td class="spec_value">
                <% if ps = product.product_specifications.where(specification_id: spec.id).first %>
                  <%= spec_value(ps) %>
                <% else %>
                  --
                <% end %>
              </td>
            <% end %>
          </tr>
        <% end %>
      <% end %>
    <% end %>
  <% elsif @specs.length > 0 %>
    <% @specs.each do |spec| %>
    <tr>
      <td class="spec_name"><%= translate_content(spec, :name) %></td>
      <% @products.each do |product| %>
      <td class="spec_value">
        <% if ps = product.product_specifications.where(specification_id: spec.id).first %>
          <%= spec_value(ps) %>
        <% else %>
          --
        <% end %>
      </td>
      <% end %>
    </tr>
    <% end %>
  <% end %>

</table>

