<% 
if @product_photo 
	og_image = "#{request.protocol}#{request.host_with_port}#{@product.photo.product_attachment.url(:original)}"
	tw_image = "#{request.protocol}#{request.host_with_port}#{@product.photo.product_attachment.url(:small)}"
else
	og_image = image_url("#{website.folder}/logo.png")
	tw_image = image_url("#{website.folder}/logo.png")
end

if website.show_pricing? && @product.msrp && @product.msrp.to_f > 0
	twitter_params = {
		image: {
			src: tw_image
		},
		card: "product",
		data1: "#{number_to_currency(@product.msrp)} USD",
		label1: "MSRP",
		data2: translate_content(@product, :short_description),
		label2: "Product Type"
	}
else
	twitter_params = {
		image: {
			src: tw_image
		},
		card: "summary"
	}
end

set_meta_tags title: "#{@product.name} (#{t('discontinued')})",
	reverse: true,
	canonical: product_url(@product),
	description: translate_content(@product, :short_description),
	keywords: translate_content(@product, :keywords),
	twitter: twitter_params,
	og: {
		image: og_image,
		type: 'product',
		description: truncate(strip_html(translate_content(@product, :description)), length: 100),
		title: "#{website.brand.name} #{@product.name}"
	} 
%>

<div id="product_content">
	<h1><%= title @product.name %> <span class="discontinued">(<%= t('discontinued') %>)</span></h1>
	<% if @product.product_attachments.size > 0 %>
	<ul id="discontinued_product_thumbnails">
		<% @product.product_attachments.each do |product_attachment| %>
		<% if product_attachment.is_photo? %>
		<li><%= link_to image_tag(product_attachment.product_attachment.url(:small)), 
					product_attachment.product_attachment.url %></li>
		<% end %>
		<% end %>
	</ul>
	<% end %>
	<% if @alternatives && @alternatives.size > 0 %>
	<div class="callout" style="width: 50%">
		Suggested <%= "alternative".pluralize(@alternatives.size) %>: 
		<%=raw @alternatives.collect{|p| link_to(p.name, p)}.join(", ") %>
	</div>
	<% end %>
	<%=raw translate_content(@product, :description) %>
	<%=raw translate_content(@product, :extended_description) %>
</div>

<div id="more_details">
	
	<div id="more_details_tabs">
		<%= draw_info_boxes @product %>
	</div>
	
	<div class="clear"></div>
	
</div>

