<% set_meta_tags title: "Discontinued Products",
				 reverse: true %>
<h1 class="page_title">Discontinued Products</h1>

<% displayed_products = [] %>

<% @product_families.each do |product_family| %>
  <div class="row" id="<%= product_family.to_param %>">
    <div class="small-12 columns thick_left" >
      <h3><%= translate_content(product_family, :name) %></h3>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns product_cat_bar">
      <% this_group = [] %>
      <% @products.each do |product| %>
        <% if product.product_families.include?(product_family) %>
          <% this_group << product %>
          <% displayed_products << product %>
        <% end %>
      <% end %>
      <div class="row">
        <% this_group.in_groups(3).each do |product_group| %>
          <div class="small-12 medium-4 columns">
            <ul>
              <% product_group.each do |product| %>
                <% if product.is_a?(Product) %>
                  <li><%= link_to product.name, product %>
                    <%= product.short_description %></li>
                <% end %>
              <% end %>
            </ul>
          </div>
        <% end %>
      </div>
      <p>&nbsp;</p>
    </div>
  </div>
<% end %>

<% other_products = @products - displayed_products %>

<% if other_products.length > 0 %>
<h5>Other Discontinued Products</h5>
<ul>
	<% other_products.each do |product| %>
	<li><%= link_to product.name, product %></li>
	<% end %>
</ul>
<% end %>
