<%
if @product.photo
	og_image = @product.photo.product_attachment.url(:x_large)
	tw_image = @product.photo.product_attachment.url(:small)
else
	og_image = image_url("#{website.folder}/logo.png")
	tw_image = image_url("#{website.folder}/logo.png")
end

if website.show_pricing? && @product.msrp && @product.msrp.to_f > 0 && !@product.hide_buy_it_now_button?
	twitter_params = {
		image: {
			src: tw_image
		},
		card: "product",
		data1: "#{number_to_currency(@product.msrp)} USD",
		label1: "MSRP",
		data2: translate_content(@product, :short_description),
		label2: "Product Type"
	}
else
	twitter_params = {
		image: {
			src: tw_image
		},
		card: "summary"
	}
end

set_meta_tags title: @product.name,
	reverse: true,
	#canonical: product_url(@product),
	description: @product.meta_description.present? ? translate_content(@product, :meta_description) : translate_content(@product, :short_description),
	keywords: translate_content(@product, :keywords),
	twitter: twitter_params,
	og: {
		image: og_image,
		type: 'product',
		description: truncate(strip_html(translate_content(@product, :description)), length: 100),
    title: "#{website.brand.name} #{@product.name}",
    url: product_url(@product),
    updated_time: @product.updated_at.strftime("%FT%T")
	}
%>

<% if @product.show_alert? %>
	<%= content_for :extra_notice do %>
		<div id="product-notice"><%=raw textilize(@product.alert) %></div>
	<% end %>
<% end %>

<% if @product.has_custom_css? %>
	<%= content_for :custom_css do %>
	<style type="text/css" media="screen">
    <% if @product.has_custom_background? %>
  		body { <%= @product.custom_background %> }
		<% end %>
	  <%=raw @product.custom_css %>
	</style>
	<% end %>
<% elsif @product.has_custom_background? %>
	<%= content_for :custom_css do %>
	<style type="text/css" media="screen">
		body { <%= @product.custom_background %> }
	</style>
	<% end %>
<% end %>

<% if @product.has_full_width_banner? %>
  <%= content_for :feature do %>
    <div class="fullWidth">
    <% @product.full_width_banners.each do |banner| %>
      <div class="full_width_banner text-center">
        <% if banner.full_width_banner_url.present? %>
          <%= link_to banner.full_width_banner_url, target: "_blank" do %>
            <%= image_tag banner.product_attachment.url, alt: "#{@product.name} banner image" %>
          <% end %>
        <% else %>
          <%= image_tag banner.product_attachment.url, alt: "#{@product.name} banner image" %>
        <% end %>
      </div>
    <% end %>
    </div>
  <% end %>
<% end %>

<%= cache ["product_page", @product, @online_retailer_link, @active_tab, I18n.locale, session['geo_country'], current_user, website.brand] do %>

<div id="breadcrumbs"><%= breadcrumbs(@product) %></div>

<div class="small-title-block">
  <div class="row">
    <div class="small-12 columns">
      <h1>
        <% if @product.brand_id != website.brand_id %><%= @product.brand.name %><% end %>
        <%= title translate_content(@product, :name) %>
        <% if @product.discontinued? %>
          <span class="discontinued">(<%= t('discontinued') %>)</span>
        <% end %>
      </h1>
      <h3><%= translate_content(@product, :short_description) %></h3>
    </div>
    <div class="small-12 columns text-right">
      <% if (website.has_online_retailers? || website.has_distributors? || website.has_dealers? || !@product.direct_buy_link.blank?) && !@product.hide_buy_it_now_button && !@product.discontinued? %>
        <%= render_partial 'price' %>
        <%= buy_it_now_link(@product, html_button: true, reveal_id: "buy-it-now-popup") %>
      <% end %>
    </div>
  </div>

</div>

<a name="description" data-magellan-destination="description"></a>

<% if @product.photo && !@product.hide_product_photo? %>
  <% use_lazy_load = lazy_load_image?(@product) %>
  <div id="viewer_container" class="text-center">
    <div id="viewer">
      <% if @product.discontinued? %>
        <%= image_tag(@product.photo.product_attachment.url(:large), alt: @product.name, lazy: use_lazy_load) %>
      <% elsif @product.photo.updated_at.to_date > "2014-10-01".to_date %>
        <%= image_tag(@product.photo.product_attachment.url(:full_width), alt: @product.name, lazy: use_lazy_load) %>
      <% else %>
        <%= image_tag(@product.photo.product_attachment.url(:horiz_medium), alt: @product.name, lazy: use_lazy_load) %>
      <% end %>
    </div>
  </div>
<% end %>

<div class="row" id="product-content-container" >
  <div class="small-12 columns">

	<% if @product.images_for("product_page").size > 0 %>
      <div id="product-thumbnail-container">
        <% if !!(website.no_lightbox) %>
          <ul id="product_thumbnails" class="medium-block-grid-10 small-block-grid-3">
            <% @product.images_for("product_page").each do |product_attachment| %>
              <% unless product_attachment.hide_from_product_page? %>
                <% if product_attachment.product_media_thumb_file_name.present? %>
                  <li><div><%= link_to_product_attachment(product_attachment) %></div></li>
                <% else %>
                  <li><div><%= link_to(image_tag(product_attachment.product_attachment.url(:tiny_square), alt: product_attachment.product_attachment_file_name), product_attachment.product_attachment.url(:x_large), alt: product_attachment.product_attachment_file_name) %></div></li>
                <% end %>
              <% end %>
            <% end %>
          </ul>
        <% else %>
          <ul id="product_thumbnails" class="medium-block-grid-10 small-block-grid-3">
            <% @product.images_for("product_page").each do |product_attachment| %>
              <% unless product_attachment.hide_from_product_page? %>
                <% if product_attachment.product_media_thumb_file_name.present? %>
                  <li><div><%= link_to_product_attachment(product_attachment) %></div></li>
                <% else %>
                  <li>
                    <div>
                      <%= link_to(product_attachment.product_attachment.url(:x_large),
                        data: product_attachment.no_lightbox? ? {} : { fancybox: 'product-thumbnails' }) do %>
                        <%= image_tag(product_attachment.product_attachment.url(:tiny_square), alt: product_attachment.product_attachment_file_name) %>
                      <% end %>
                    </div>
                  </li>
                <% end %>
              <% end %>
            <% end %>
          </ul>
        <% end %>
        <div class="larger_tag"> <%= t('product_page.larger_images') %> </div>
        <% if can?(:manage, @product) %>
          <%= link_to edit_admin_product_path(@product), class: "edit-link", data: { opener: "edit-images" } do %>
            <%= fa_icon "edit" %> edit images
          <% end %>
          <%= render_partial "edit_images" %>
        <% end %>
      </div>
	<% end %>

	<!-- <%= @active_tab %> -->
    <%= draw_main_product_content @product, active_tab: @active_tab %>

    <% if @product.legal_disclaimer.present? %>
      <div class="legal_disclaimer">
        <%= raw textilize @product.legal_disclaimer %>
      </div>
    <% end %>

    <%= render_partial 'shared/other_languages_button', item: @product %>

  </div> <!-- <div class="small-12 columns">  -->

</div> <!-- <div class="row" id="product-content-container" > -->

<% end # cache %>

<% if I18n.locale.to_s == "en-US"  && !@online_retailer_link && !@product.hide_buy_it_now_button? %>
  <div id="buy-it-now-popup" class="medium reveal-modal" data-reveal aria-labelledby="Buy <%= @product.name %>" aria-hidden="true" role="dialog">
    <div class="text-right">
      <a class="close-reveal-modal">&#215;</a>
    </div>
    <%= cache ["online_retailer_links_for", @product] do %>
    <div id="dealers">
      <div id="online_retailers">
        <%= render_partial "shared/buynow", product: @product %>
      </div>
    </div>
    <% end %>
    <% unless website.value_for("dont_actually_show_dealers") %>
      <div class="row">
        <div class="large-7 columns">
          <%= form_tag partner_search_path, method: :get %>
          <div class="row collapse">
            <div class="large-8 small-7 columns">
              <%= text_field_tag "zip", session[:zip], placeholder: t('us_zip_code') %>
            </div>
            <div class="large-4 small-5 columns">
              <%= submit_tag t('find_us_dealers'), class: "postfix button" %>
            </div>
          </div>
          </form>
        </div>
      </div>
    <% end %>
    <p><%= image_tag "small-gray-world-map.png", alt: "" %>
      Also available from <%= link_to t("international_distributors"), international_distributors_path %> distributors.</p>
  </div>
<% end %>

<% if current_user && can?(:manage, @product) %>
<div class="admin_function">
	<%#= link_to "edit", [:admin, @product] %>
</div>
<% end %>