<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <% if website.google_site_verification %>
      <meta name="google-site-verification" content="<%= website.google_site_verification %>" />
    <% end %>
    <% if website.facebook_domain_verification %>
      <meta name="facebook-domain-verification" content="<%= website.facebook_domain_verification %>" />
    <% end %>
		<%= csrf_meta_tag %>
		<%= cache ["meta_tags", request.url] do %>
			<%= cached_meta_tags %>
			<% if File.exist?(Rails.root.join("app", "assets", "images", website.folder, "logo.svg")) %>
			<link rel="image_src" href="<%= image_url("#{website.folder}/logo.svg") %>" />
			<% end %>
      <!--[if lt IE 9]>
        <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/nwmatcher/1.2.5/nwmatcher.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/corysimmons-selectivizr2/1.0.9/selectivizr2.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.1.0/respond.min.js"></script>
      <![endif]-->
			<link href="<%= rss_url(format: 'xml') %>" rel="alternate" title="RSS" type="application/rss+xml"/>
      <link rel="icon" type="image/png" href="<%= image_url("#{website.folder}/logo-16x16.png") %>" sizes="16x16">
      <link rel="icon" type="image/png" href="<%= image_url("#{website.folder}/logo-32x32.png") %>" sizes="32x32">
      <link rel="icon" type="image/png" href="<%= image_url("#{website.folder}/logo-96x96.png") %>" sizes="96x96">

			<meta property="og:site_name" content="<%= website.site_name %>" />
			<meta property="og:locale" content="<%= I18n.locale %>" />
			<meta property="og:url" content="<%= request.url %>" />
			<%= hreflang_links %>
      <%= page_schema %>

      <% if website.color %>
        <meta name="theme-color" content="<%= website.color %>">
      <% end %>

			<% if website.twitter_name %>
				<meta property="twitter:site" value="@<%= website.twitter_name %>" />
			<% end %>

			<%= app_meta_tags() %>
		<% end %>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.14.0/jquery-ui.min.js"></script>
		<%= javascript_include_tag website.folder %>
		<%= yield :extra_header_code %>
    <%= cache [website, "other_header_scripts", Date.today, I18n.locale] do %>
      <% if Rails.env.production? && !!website.value_for('other_header_scripts') %>
        <%= raw website.value_for('other_header_scripts') %>
      <% end %>
    <% end %>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic"/>
		<%= stylesheet_link_tag website.folder, media: :all %>

		<%= yield :custom_css %>
    <%= yield :extra_js %>
    <%= render_partial "shared/analytics" %>
	</head>
	<body data-brand="<%= website.brand.name %>">
    <%= cache [website, "other_body_scripts", Date.today, I18n.locale] do %>
      <% if Rails.env.production? && !!website.value_for('other_body_scripts') %>
        <%= raw website.value_for('other_body_scripts') %>
      <% end %>
    <% end %>
		<%#= image_tag 'jbl_commercial/bg.png', alt: "", id: "bg"%>
		<div id="fb-root"></div>
		<script>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>
		<%= yield :extra_notice %>
		<%= render_partial "shared/locale_switcher" %>
		<%= render_partial "shared/admin_dashboard_link" %>

		<%= cache ["header", website, I18n.locale] do %>
		<div id="header-container" class="contain-to-grid">
			<div class="row">
				<div class="large-2 small-3 columns">
					<%= link_to interchange_logo, locale_root_path %>
				</div>
				<div class="large-10 small-9 columns">
					<div class="row collapse">
						<div class="large-12 columns hide-for-small" style="text-align: right">
							<h2>COMMERCIAL SOLUTIONS SERIES</h2>
						</div>
						<div class="large-12 columns">
							<nav class="top-bar" data-topbar role="navigation">
								<ul class="title-area">
									<li class="name"></li>
									<li class="toggle-topbar menu-icon"><a href="#" aria-label="Open the menu"><span></span></a></li>
								</ul>
								<section class="top-bar-section">
									<ul class="left">
										<li><%= link_to locale_root_path do %>
											<%= t('home').upcase %>
											<% end %>
										</li>
										<li><%= link_to product_families_path do %>
											<%= t('products').upcase %>
											<% end %>
										</li>
										<li><%= link_to support_path do %>
											<%= t('product_support').upcase %>
											<% end %>
										</li>
										<li><%= link_to support_downloads_path do %>
											<%= t('downloads').upcase %>
											<% end %>
										</li>
										<li><%= link_to t('about').upcase, "/#{I18n.locale}/company" %></li>
										<li><%= link_to news_index_path do %>
											<%= t('news').upcase %>
											<% end %>
										</li>
                    <li><%= link_to "Discontinued Products".upcase, discontinued_products_path %></li>
									</ul>
									<% if website.value_for("enable_search") %>
									<ul class="right">
										<li id="search_form">
											<%= form_tag search_path, method: :get %>
												<%= text_field_tag :query, t('search'), onclick: "if (this.value == '#{t('search')}') { this.value = '';} ", 'aria-label': t('search') %>
											</form>
										</li>
									</ul>
									<% end %>
								</section>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</div>
		<% end %>

		<% if content_for?(:feature) %>
			<div class="row">
				<div class="large-12 columns hide-for-small">
					<%= yield :feature %>
				</div>
			</div>
			<div id="homepage-counter" data-counter="<%= @counter %>"></div>
		<% end %>

		<div class="container">
		    <div class="row">
		      <div class="large-12 columns">

		        <% flash.each do |name, msg| %>
		          <%
		            css_class = 'alert-box'
		            if name.match(/notice/i)
		              css_class += ' success'
		            elsif name.match(/alert|warn/)
		              css_class += ' alert'
		            else
		              css_class += ' secondary'
		            end
		          %>

		            <%= content_tag :div, msg, class: css_class if msg.is_a?(String) %>
		        <% end %>
		      </div>
		    </div>
		</div>

		<div class="container">
			<div class="row">
				<div class="large-12 small-12 columns">
					<%= yield %>
				</div>
			</div>
		</div>

		<% if content_for?(:middle_stuff) %>
		<div id="middle_container">
			<%= yield :middle_stuff %>
		</div>
		<% end %>

		<% if content_for?(:big_bottom_box) %>
		<div class="container">
			<div id="big_bottom_box_container">
				<div id="big_bottom_box_content">
				<%= yield :big_bottom_box %>
				</div>
			</div>
		</div>
		<% end %>

		<%= cache ["footer", website.brand, I18n.locale] do %>
		<footer>
			<%= hpro_footer(exclude: "DigiTech") %>
			<div class="container">
				<div class="medium-4 small-12 columns" id="footer_left">
					<span class="footer_text">
						&copy; <%= Date.today.year %>
						<%= link_to(t('harman'), "https://www.harman.com/", target: "_blank") %>.
						<%= t('all_rights_reserved') %>
					</span>
				</div>
				<div class="medium-8 columns hide-for-small" id="footer_info">
					<span class="footer_text">
            <% if website.email_signup_url %>
              <%= link_to t('news_signup').titleize, website.email_signup_url %> &bull;
            <% end %>
            <% if website.has_software? && (website.current_softwares.length > 0 || website.forced_current_softwares.length > 0) %>
						<%= link_to t('software_downloads').titleize, software_index_path %> &bull;
						<% end %>
						<%= link_to t('products').titleize, product_families_path %> &bull;
						<% if website.has_reviews? %>
						<%= link_to t('product_reviews').titleize, product_reviews_path %> &bull;
						<% end %>
						<%= link_to t('news').titleize, news_index_path %> &bull;
						<% if website.has_artists? %>
						<%= link_to t('artists').titleize, artists_path %> &bull;
						<% end %>
						<% if website.has_dealers? || website.has_online_retailers? || website.has_distributors? %>
						<%= link_to t('where_to_buy').titleize, where_to_find_path %> &bull;
						<% end %>
            <%= link_to 'careers'.titleize, "https://jobs.harman.com", target: "_blank" %> &bull;
						<%= link_to t('product_support').titleize, support_path %> &bull;
						<%= link_to t('privacy_policy').titleize, "https://www.harman.com/privacy-policy", target: "_blank" %> &bull;
						<%= link_to t('terms_of_use').titleize, "https://www.harman.com/terms-use", target: "_blank" %>
					</span>
				</div>
			</div>
      <%= yield :support_chat_javascript %>
		</footer>
		<% end %>

		<% if content_for?(:dealer_popup) %>
			<div id="blanket" style="display:none;"></div>
			<div id="dealer_popup_close" style="display:none;">
				<%= link_to(image_tag("close.png"), @product, class: "buy_it_now_popup", data: {windowname: 'dealer_popup'})%>
			</div>
			<div id="dealer_popup" style="display:none;">
				<%= yield :dealer_popup %>
				<p><%= link_to "close", @product, class: "buy_it_now_popup", data: {windowname: 'dealer_popup'} %></p>
			</div>
		<% end %>
		<div id="preload"><%= yield :preload %></div>
		<%#= debug I18n.locale %>
		<% if content_for?(:popup_code) %>
			<%= yield :popup_code %>
		<% end %>
    <%= render_partial "shared/footer_scripts" %>
	</body>
</html>
