<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
		<%= csrf_meta_tag %>
		<%= cache ["meta_tags", request.url] do %>
			<%= cached_meta_tags %>
			<% if File.exists?(Rails.root.join("app", "assets", "images", website.folder, "logo.png")) %>
			<link rel="image_src" href="<%= image_url("#{website.folder}/logo.png") %>" />
			<% end %>
			<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
			<![endif]-->
			<link type="text/css" href="/css/ui-lightness/jquery-ui-1.8.16.custom.css" rel="stylesheet" />
			<link href="<%= rss_url(format: 'xml') %>" rel="alternate" title="RSS" type="application/rss+xml"/>
			<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
			<link rel="icon" type="image/x-icon" href="/favicon.ico" />

			<meta property="og:site_name" content="<%= website.site_name %>" />
			<meta property="og:locale" content="<%= I18n.locale %>" />
			<meta property="og:url" content="<%= request.url %>" />

			<% if website.twitter_name %>
				<meta property="twitter:site" value="@<%= website.twitter_name %>" />
			<% end %>

	    <% if File.exists?(Rails.root.join("app", "assets", "images", website.folder, "apple-icon-57x57.png")) %>
	      <link rel="apple-touch-icon" sizes="57x57" href="<%= image_path ('#{website.folder}/apple-icon-57x57.png') %>" />
	    <% end %>
	    <% if File.exists?(Rails.root.join("app", "assets", "images", website.folder, "apple-icon-72x72.png")) %>
	      <link rel="apple-touch-icon" sizes="72x72" href="<%= image_path ('#{website.folder}/apple-icon-72x72.png') %>" />
	    <% end %>
	    <% if File.exists?(Rails.root.join("app", "assets", "images", website.folder, "apple-icon-114x114.png")) %>
	      <link rel="apple-touch-icon" sizes="114x114" href="<%= image_path ('#{website.folder}/apple-icon-114x114.png') %>" />
	    <% end %>
	    <% if File.exists?(Rails.root.join("app", "assets", "images", website.folder, "apple-icon-144x144.png")) %>
	      <link rel="apple-touch-icon" sizes="144x144" href="<%= image_path ('#{website.folder}/apple-icon-144x144.png') %>" />
	    <% end %>
		<% end %>

		<%= javascript_include_tag 'application' %>
		<%= stylesheet_link_tag 'application', "#{website.folder}", cache: false %>

		<%= yield :custom_css %>
		<script>
	  		<%= yield :extra_js %>
	  	</script>
	    <%= render_partial "shared/analytics" %>
	</head>
	<body data-brand="<%= website.brand.name %>">
		<div id="fb-root"></div>
		<script>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>
		<%= render_partial "shared/locale_switcher" %>
		<%= render_partial "shared/admin_dashboard_link" %>		
		
		<%= cache ["header", website, I18n.locale] do %>
		<div id="Header">
			<div id="logo">
				<%= link_to(image_tag("#{website.folder}/logo.png", alt: Setting.site_name(website)), locale_root_path) %>
			</div>
			<div id="topnav">
				<ul>
					<li>CS <%= link_to t('home'), locale_root_path %></li>
					<li>CS <%= link_to t('products'), product_families_path %></li>
					<li>CS <%= link_to t('product_support'), support_path %></li>
					<li>CS <%= link_to t('downloads'), support_downloads_path %></li>
					<li><%= link_to t('company'), "/#{I18n.locale}/company" %></li>
					<li>CS <%= link_to t('news'), news_index_path %></li>
					<li style="position: relative">
						<%= link_to "jblpro.com", "http://www.jblpro.com", target: "_blank" %>
						<% unless request.user_agent =~ /Mobile|webOS/ %>
						<div id="prolink">
							<%= link_to(image_tag("#{website.folder}/also-visit.png", alt: "JBLPro.com"), "http://www.jblpro.com", target: "_blank") %>
						</div>
						<% end %>
					</li>
				</ul>
			</div>
			<%# search is only available in default language for now...%>
			<% if I18n.locale.to_s.match(/#{I18n.default_locale.to_s.split('-')[0]}/i) && website.value_for("enable_search") %>
			<div id="search_form">
				<%= form_tag search_path, method: :get %>
					<%= text_field_tag :query, t('search'), onclick: "if (this.value == '#{t('search')}') { this.value = '';} " %>
				</form>
			</div>
			<% end %>
			<div class="clear"></div>
		</div>
		<% end %>
		
		<% if content_for?(:feature) %>
			<div id="feature_bg"></div>
			<div id="feature_container">
				<%= yield :feature %>
			</div>
		<% end %>

		<div id="content_container" class="internal_page">
			<div id="content_container_content" style="position: relative">
				<% if notice %><p style="color: green;"><%= notice %></p><% end %>
				<% if alert %><p style="color: red;"><%= alert %></p><% end %>
				<%= yield %>
			</div>
		</div>
		
		<% if content_for?(:middle_stuff) %>
		<div id="middle_container">
			<%= yield :middle_stuff %>
		</div>
		<% end %>
		
		<% if content_for?(:big_bottom_box) %>
			<div id="big_bottom_box_container">
				<div id="big_bottom_box_content">
				<%= yield :big_bottom_box %>
				</div>
				<div class="clear"></div>
			</div>
		<% end %>
		
		<%= cache ["footer", website.brand, I18n.locale] do %>
		<div id="footer">
			<%= hpro_footer %>
			<div id="footer_info">
				<% if website.has_software? %>
				<%= link_to t('software_downloads').downcase, software_index_path %> &bull;
				<% end %>
				<%= link_to t('products'), product_families_path %> &bull;
				<% if website.has_reviews? %>
				<%= link_to t('product_reviews').downcase, product_reviews_path %> &bull;
				<% end %>
				<%= link_to t('news'), news_index_path %> &bull;
				<% if website.has_artists? %>
				<%= link_to t('artists'), artists_path %> &bull;
				<% end %>
				<% if website.has_dealers? || website.has_online_retailers? || website.has_distributors? %>
				<%= link_to t('where_to_buy'), where_to_buy_path %> &bull;
				<% end %>
				<%= link_to t('product_support'), support_path %> &bull;
				<%= link_to t('sitemap'), sitemap_path(format: 'xml') %>
			</div>
			<div id="footer_left">
				<%= image_tag "harman_tiny.png" %>
				&copy; <%= Date.today.year %> 
				<%= link_to(t('harman'), "http://www.harman.com/", target: "_blank") %>. 
				<%= t('all_rights_reserved') %>
			</div>
		</div>
		<% end %>
		
		<% if content_for?(:dealer_popup) %>
			<div id="blanket" style="display:none;"></div>
			<div id="dealer_popup_close" style="display:none;">
				<%= link_to(image_tag("close.png"), @product, class: "buy_it_now_popup", data: {windowname: 'dealer_popup'})%>
			</div>
			<div id="dealer_popup" style="display:none;">
				<%= yield :dealer_popup %>
				<p><%= link_to "close", @product, class: "buy_it_now_popup", data: {windowname: 'dealer_popup'} %></p>
			</div>
		<% end %>
		<div id="preload"><%= yield :preload %></div>
		<%#= debug I18n.locale %>
		<% if content_for?(:popup_code) %>
			<%= yield :popup_code %>
		<% end %>
	</body>
</html>