<% set_meta_tags title: t('titles.support'),
				 description: t('meta.description.support', brand: website.brand_name),
				 reverse: true %>

<%= content_for :feature do %>
  <div class="support_header">
    <%if country_is_usa %>
      <h1>U.S. Repairs</h1>
    <% else %>
      <h1>International Repairs</h1>
    <% end %>

    <div class="filters hide-for-small">
    <%=render_partial "support/country_switch" %>
    </div>
  </div>
<% end %>

<div class="support-main">
  <div class="mobile-filters show-for-small">
    <%=render_partial "support/country_switch" %>
  </div>

  <%if country_is_usa %>
    <%=render_partial "support/repairs_usa" %>
    <%=render_partial "shared/support_chat_javascript" %>
  <%else%>
    <%=render_partial "support/repairs_international" %>
  <%end%>
</div>
