<% set_meta_tags reverse: true %>
<h1 class="page_title text-center">Martin Warranty Policy</h1>

<%=raw website.extra_warranty_header_content %>

<div class="row">
	<div class="large-8 small-12 columns">
    <h3><strong>1 APPLICATION</strong></h3>
    <ol>
      <li>This Warranty Policy sets forth the standard warranty terms applicable to the Martin branded Product(s) purchased from Harman International Industries Incorporated or its Affiliate (“Seller”), as indicated by the Confirmation or invoice.</li>
      <li>This Warranty Policy is intended to supplement the applicable Terms and Conditions of Sale.</li>
      <li>Unless the context otherwise requires, capitalized words and expressions contained in this Warranty Policy shall have the meaning as given in the applicable Terms and Conditions of Sale.</li>
    </ol>
    <h3><strong>2 WARRANTY TERMS</strong></h3>
    <ol>
      <li>Subject to the terms of this Warranty Policy, Seller warrants as follows:
        <ol type="a">
          <li>Finished Products will be free from defects in materials and workmanship under normal use of the Products in the industry for a period of twenty-four (24) months from the Delivery,  with the exception of</li>
          <li>Finished Products designated by Seller as “Exterior Wash”, “Exterior Projection”, “Exterior Linear”, and “Exterior Inground”, which shall be for a period of sixty (60) months;</li>
          <li>LED light engines for the MAC Ultra family of products, which shall be for a period of sixty (60) months.</li>
          <li>Spare Parts will be free from defects in materials and workmanship under normal use of the spare parts in the industry for a period of three (3) months from the Delivery. Seller warrants to able to deliver spare parts for the Finished Products only for the duration of the warranty period stated in this Clause.</li>
          <li>Used Products certified as such by Seller prior to Sale of such Used Products, will be free from defects in materials and workmanship under normal use of such Products in the industry for a period of twelve (12) months from Delivery. No warranty will apply to Used Products which are not certified by Seller prior to Sale of such Used Products.</li>
        </ol>
      </li>
    </ol>
    <h3><strong>3 WARRANTY CLAIMS AND PROCEDURES</strong></h3>
    <ol>
      <li>Any warranty claim by the Buyer based on any defect in Finished Products or spare parts shall be notified upon Delivery as provided under the Terms and Conditions of Sale or, where the defect could not reasonably have been discovered during the examination of the Products at the time of Delivery within seven (7) days after manifestation of the defect, failing which Buyer shall be deemed to have accepted the Finished Products or spare parts as non-defective. Warranty claims notified by the Buyer to Seller after the expiration of the warranty terms stated in provision 2.01 are not accepted.</li>
      <li>Where any valid warranty claim is notified to Seller in accordance with the terms of provisions 2.01 and 3.01 and approved by Seller in writing (which approval shall not be unreasonably withheld), Seller shall fulfil its warranty obligations as follows:
        <ol type="a">
          <li>If the Buyer reasonably can be expected to be able to repair the defect, if necessary with support from Seller’s Technical Support and Service department, Seller may fulfil its warranty obligations by sending the necessary replacement parts to the Buyer free of charge;</li>
          <li>If the Buyer cannot reasonably be expected to be able to repair the defect, Seller shall repair or replace the defective Finished Products or spare parts, subject to the Buyer returning and thereby assigning to Seller all property rights to such Finished Products or spare parts that are to be replaced by Seller; the replacement Products or spare parts will be a) equivalent or substantially similar to the Finished Products or spare parts and b) new, equivalent to new or re-conditioned; or </li>
          <li>If none of the foregoing remedies are commercially viable in Seller’s sole judgment, Seller may opt instead to refund to the Buyer the net purchase price paid by the Buyer for the defective Finished Products or spare parts less reasonable depreciation of the value of such Product or spare parts due to use or age, subject to the Buyer assigning to Seller all property rights to such Finished Products or spare parts. The Buyer shall, within ten (10) days of the defective Finished Products or spare part being replaced, enquire at Seller, whether the Buyer should return to Seller such defective Finished Products or spare parts or destroy same and may not return such Finished Products or spare parts to Seller, unless Seller has authorized the return in writing in accordance with provision 3.08 of the Terms and Conditions of Sale.</li>
        </ol>
      </li>
      <li>Buyer shall assume all responsibility and expense for dismantling, removal, re-installation, duties, and freight to Seller in connection with a warranty claim and Seller shall assume all responsibility and expense for freight to Buyer, unless the warranty claim is not valid in Seller’s reasonable judgment.</li>
      <li>Repair or replacement under the warranties contained herein does not interrupt or extend the warranty terms stated in provision 2.01.</li>
    </ol>
    <h3><strong>4 EXCLUSIONS AND LIMITATIONS</strong></h3>
    <ol>
      <li>The warranties contained herein shall not extend to any Finished Products or spare parts from which any serial number has been removed or which have been damaged or rendered defective
        <ol type="a">
          <li>as a result of normal wear and tear, willful or accidental damage, negligence, misuse or abuse;</li>
          <li>due to water or moisture, lightning, windstorm, abnormal voltage, harmonic distortion, dust, dirt, corrosion or other external causes;</li>
          <li>by operation outside the specifications contained in the user documentation;</li>
          <li>by the use of spare parts not manufactured or sold by Seller or by the connection or integration of other equipment or software not approved by Seller unless the Buyer provides acceptable proof to Seller that the defect or damage was not caused by the foregoing in this subsection d);</li>
          <li>by modification, repair or service by anyone other than Seller, who has not applied for and been approved by Seller to do such modification, repair or service unless the Buyer provides acceptable proof to Seller that the defect or damage was not caused by the foregoing in this subsection e);</li>
          <li>due to procedures deviating from procedures specified by Seller; or</li>
          <li>due to failure to store, move, transport, install, test, commission, maintain, operate or use such Finished Products or spare parts in accordance with Seller’s instructions, in a safe and reasonable manner or in a manner that does not provide at least the degree of protection afforded by Seller branded storage, transportation and installation equipment, including but not limited to transportation cases and folding transportable rigs, in terms of shock absorption and protection from vibration for the Finished Product and all its components, impact protection, ingress protection, protection from unfavorable environmental conditions, thermal insulation and strength. All approvals and certifications related to the Products are related to a single Product and not a group of products used together.</li>
        </ol>
      </li>
      <li>None of the warranties contained herein shall apply to such Finished Products or spare parts which are sold “as is”, as “second-hand”, as “used”, as “demo” or under similar qualifications or to Consumables as defined in this provision 4.02. For the purposes of this provision 4.02, “Consumables” is defined as any part(s) of any Products or part(s) for use with any Products, which part(s) of Products or part(s) for use with Products are consumed during the operation of the Products and which part(s) of Products or part(s) for use with Products require replacement from time to time by a user such as, but not limited to, light bulbs and smoke fluid. Seller will provide information on Consumables upon request from the Buyer.</li>
      <li>None of the warranties contained herein shall apply to LED lumen maintenance or color maintenance.</li>
      <li>None of the warranties contained herein shall apply, unless the total purchase price for the defective Finished Products or spare parts has been paid by the due date for payment.</li>
      <li>The warranties contained herein apply only to the Buyer as original purchaser of the Finished Products and are not assignable or transferable to any subsequent purchaser or end-user.</li>
      <li>Seller’s warranty obligations, and the limitations and conditions associated with those obligations, will be governed by the Warranty Policy and the Terms and Conditions of Sale unless otherwise agreed in writing by Seller.</li>
      <li>BUYER SHALL HAVE NO OTHER REMEDIES IN CONNECTION WITH DEFECTIVE FINISHED PRODUCTS OR SPARE PARTS THAN THE RIGHTS GRANTED PURSUANT TO THE TERMS AND CONDITIONS OF SALE AND THIS WARRANTY POLICY. EXCEPT AS SET FORTH IN THE EXPRESS WARRANTIES CONTAINED HEREIN AND THE TERMS AND CONDITIONS OF SALE, SELLER MAKES NO CONDITIONS, WARRANTIES, REPRESENTATIONS, EXPRESS OR IMPLIED, IN FACT OR IN LAW, INCLUDING, BUT NOT LIMITED TO, ANY WARRANTIES OF SATISFACTORY QUALITY, MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE OR ANY WARRANTIES ARISING OUT OF USAGE OR TRADE, ALL OF WHICH ARE EXPRESSLY EXCLUDED TO THE FULLEST EXTENT PERMISSIBLE BY APPLICABLE LAW.</li>
    </ol>
    <h3><strong>5 GENERAL</strong></h3>
    <ol>
      <li>The terms, rights and obligations under the Terms and Conditions of Sale shall not be affected or impaired by the execution, delivery and performance of the warranty, except in the manner and to the extent stated in this Warranty Policy.</li>
      <li>The invalidity, unenforceability or illegality of any term, condition or stipulation in this Warranty Policy shall not affect the validity, enforceability or legality of the remaining terms, conditions and stipulations of this Warranty Policy and/or the applicable Terms and Conditions of Sale.</li>
    </ol>

    <p>Updated: May 2021</p>
	</div>

  <div class="large-4 small-12 columns">
    <%= render_partial "shared/extended_warranty" %>
    <%= raw website.extra_warranty_side_content %>

		<table class="specs">
			<tr>
				<th>Product</th>
				<th>Warranty Period</th>
			</tr>
			<% @products.each do |product| %>
			<tr>
				<td class="name"><%= link_to product.name, product %></td>
				<td><%= pluralize(product.warranty_period, "year", plural: "years") %></td>
			</tr>
			<% end %>
			<tr>
				<td class="name">All Other Martin Products</td>
				<td>2 Years</td>
			</tr>
		</table>
    <p>*5 year warranty in effect for Exterior products purchased after Dec 1, 2019; warranty coverage is 2 years if purchased prior to Dec. 1, 2019</p>
	</div>
</div>
