<%= cache ["nav_items", website.brand, I18n.locale, Date.today] do %>
  <li class="has-dropdown"><%= link_to "our story", "/ourstory" %>
    <ul class="dropdown">
      <li><%= link_to "About", "/ourstory" %></li>
      <li><%= link_to "Quality", "/quality" %></li>
      <li><%= link_to "Technology", "/technology" %></li>
      <li><%= link_to "Crown Around The World", "/aroundtheworld" %></li>
    </ul>
  </li>

  <li class="divider"></li>
	<li class="has-dropdown"><%= link_to t('products'), product_families_path %>
		<ul class="dropdown">
      <li class="has-dropdown"><%= link_to "Amplifiers", product_families_path %>
        <ul class="dropdown">
          <%
            amp_families = ProductFamily.parents_with_current_products(website, I18n.locale)
          %>
          <% amp_families.each do |product_family| %>
            <% unless product_family.hide_from_homepage? %>
              <%= product_family_nav_links(product_family, depth: 1) %>
            <% end %>
          <% end %>
        </ul>
      </li>
      <% MarketSegment.with_current_products(website, I18n.locale).each do |market_segment| %>
      <li class="has-dropdown"><%= link_to market_segment.name, market_segment, class: "disabled" %>
        <ul class="dropdown">
          <% market_segment.product_families_with_current_products.each do |product_family| %>
            <%= product_family_nav_links(product_family, depth: 1) %>
          <% end %>
        </ul>
      </li>
      <% end %>
      <% amp_families.each do |product_family| %>
        <% if product_family.hide_from_homepage? %>
          <%= product_family_nav_links(product_family, depth: 1) %>
        <% end %>
      <% end %>
      <%
        if Product.exists?("empower-by-crown")
          empower = Product.find("empower-by-crown")
          unless empower.discontinued?
        %>
            <li><%= link_to empower.name, empower %></li>
        <% end %>
      <% end %>
      <li><%= link_to "Microphones", "/akg-mics" %></li>
			<!-- <li><%#= link_to "Promotions", promotions_path %></li> -->
		</ul>
	</li>

	<% if website.has_artists? %>
	<li class="divider"></li>
	<li><%= link_to t('artists'), artists_path %></li>
	<% end %>

	<% if website.has_dealers? || website.has_distributors? || website.has_online_retailers? %>
	<li class="divider"></li>
	<li><%= link_to t('where_to_buy'), where_to_buy_path %></li>
	<% end %>

	<li class="divider hide-for-small hide-for-medium"></li>
	<li class="hide-for-small hide-for-medium"><%= link_to "media hub", news_index_path %></li>

	<li class="divider"></li>
  <li class="has-dropdown"><%= link_to t('product_support'), support_path %>
    <ul class="dropdown">
      <li><%= link_to "Authorized Service Information", "/authorizedserviceinformation" %></li>
      <li><%= link_to "Contact Us", support_path %></li>
      <li><%= link_to "Downloads", support_downloads_path %></li>
      <% if website.faq_categories_with_faqs.length > 0 %>
        <li><%= link_to "FAQs", faqs_path %></li>
      <% end %>
      <% if !!(website.forum_link) %>
      <li><%= link_to t("forum").titleize, website.forum_link %></li>
      <% end %>
      <li><%= link_to t("warranty_registration").titleize, warranty_registration_path %></li>
      <li class="has-dropdown"><%= link_to "Service", '#', class: "disabled" %>
        <ul class="dropdown">
          <li><%= link_to "Service centers", support_path(action: "service_lookup") %></li>
          <li><%= link_to "Returns", rma_request_path %></li>
          <li><%= link_to "Parts", parts_request_path %></li>
        </ul>
      </li>
      <li><%= link_to t('software_downloads').titleize, software_index_path %></li>
      <li><%= link_to "System Design Tools", tools_calculators_path %></li>
      <li><%= link_to "Technical Support", "/techsupport" %></li>
    </ul>
  </li>

  <%= extra_top_nav_links(divider: true) %>

<% end %>
