<%
location = {}
location[:address1] = service_center[:address]
location[:city] = service_center[:city]
location[:state] = service_center[:state]
location[:postal] = service_center[:zip]
location[:country] = "us"

%>
<li id='<%="#{service_center[:id]}_#{location[:state]}"%>'>
	<div class="panel">
		<h3><%= service_center[:name] %></h3>
		<%customer_rating = service_center[:customer_rating].present? ? service_center[:customer_rating] : "&#8212;"%>
		<!--<p style="margin-top: -15px;margin-bottom: 4px;">-->
		<!--	<span style="font-size:.7rem;font-weight:600;">Customer Rating: <%= raw customer_rating%></span>-->
		<!--	<%= raw customer_service_rating_css_class(service_center[:customer_rating].to_f) if service_center[:customer_rating].present?%>-->
		<!--</p>-->

		<div>
			<%=raw address_html(location)%>
		</div>

		<div style="margin-top:10px;margin-bottom:30px;">

					<div style="margin-top:10px;">
    					<%service_center[:email].split("/").each do |email|%>
    						<%=raw get_list_html({emails: [{label:"", email: email}]}, "emails", "email") %>
    					<% end %>
    					<%=raw get_list_html({phones: [{label:"", phone: service_center[:phone]}]}, "phones", "phone") %>
    					<%=raw get_list_html({websites: [{label:"", website: service_center[:website]}]}, "websites", "website") %>
    					
    					<% if service_center[:service_groups].count > 0 && ['jbl professional','soundcraft'].include?(website.brand.name.downcase) %>
    						<div style="margin-top:25px;">
    							<em>Providing service for</em>
	    						<ul>
		    					<%service_center[:service_groups].each do |sg|%>
		    						<li><%=sg[:name]%></li>
		    					<%end%>
		    					</ul>
	    					</div>
    					<%end%>    					
    					
    					<% if service_center[:uses_rma_form] == true %>
    						<div style="margin-top:25px;">
	    						<%= link_to "Request Factory Repair", rma_request_path, class:"button" %>
    						</div>
    					<% end %>
					</div>
			</div>				

	</div>  <!-- <div class="panel"> -->
</li>