<%
location = {}
location[:address1] = service_center[:address]
location[:city] = service_center[:city]
location[:state] = service_center[:state]
location[:postal] = service_center[:zip]
location[:country] = "us"

%>
<li id='<%="#{service_center[:id]}_#{location[:state]}"%>'>
	<div class="panel" data-equalizer-watch="service-center-box">
				<h3><%= service_center[:name] %></h3>
				
		    		<div>
	    				<%=raw address_html(location)%>
	    			</div>
				
	    			<div style="margin-top:10px;margin-bottom:30px;">

	    					<div style="margin-top:10px;">
	    						<% if service_center[:contact_name].present? %>
		    						<i class='fa fa-user-circle' aria-hidden='true'></i>&nbsp;<strong><%= service_center[:contact_name]%></strong><br />
		    					<% end %>
		    					
		    					<%=raw get_list_html({phones: [{label:"", phone: service_center[:phone]}]}, "phones", "phone") %>
		    					<%service_center[:email].split("/").each do |email|%>
		    						<%=raw get_list_html({emails: [{label:"", email: email}]}, "emails", "email") %>
		    					<% end %>
		    					<%=raw get_list_html({websites: [{label:"", website: service_center[:website]}]}, "websites", "website") %>
	    					</div>
	    			</div>				

	</div>  <!-- <div class="panel"> -->
</li>