<% set_meta_tags title: t('titles.support'),
				 description: t('meta.description.support', brand: website.brand_name),
				 reverse: true %>

<div class="row">

	<div class="large-4 columns">
		<%= cache ["support_body", website.brand, I18n.locale] do %>

			<% if addr = website.value_for("address_and_phone") %>
			<div class="panel">
				<h4><%= t("titles.mailing_address") %></h4>
				<p><%=raw addr %>
					<% if (sup = website.value_for("support_email")) && !(website.hide_support_email) %>
					<br/><%= mail_to sup, sup %>
					<% end %>
				</p>
			</div>
			<% end %>

			<div class="panel">
				<h4><%= t('titles.product_support') %></h4>
				<p><%= t('blurbs.product_support') %></p>
				<%= form_tag support_path, method: :get do |f| %>
					<div class="row collapse">
						<div class="medium-9 small-9 columns">
							<%= select_tag :product_id,
									options_from_collection_for_select(website.current_and_discontinued_products([:product_families]) - website.vintage_products, :to_param, :name) + vintage_options(), 
									include_blank: true %>
						</div>
						<div class="medium-3 small-3 columns">
							<%= submit_tag t('go'), class: "postfix button" %>
						</div>
					</div>
				<% end %>
				<ul class="list">
					<% if !!website.brand.name.match(/^bss/i) %>
					<li><%= link_to t('training'), "/training" %></li>
					<% elsif !!website.folder.to_s.match(/archimedia/) %>
					<li><%= link_to t('training'), "/en-US/onsite_training" %></li>
					<% elsif !!(website.has_training) %>
					<li><%= link_to "product training", training_path %></li>
					<% end %>
				</ul>
			</div>

			<% if website.has_service_centers? %>
			<div class="panel">
				<h4><%= t('titles.locate_us_service_center') %>:</h4>
				<%= form_tag service_lookup_path do |f| %>
					<div class="row collapse">
						<div class="medium-9 small-9 columns">
							<%= text_field_tag "zip", session[:zip], size: 8, placeholder: t('us_zip_code') %>
						</div>
						<div class="medium-3 small-3 columns">
							<%= submit_tag t('go'), class: "postfix button" %>
						</div>
					</div>
				<% end %>
				<ul class="list">
					<% if website.has_rma_form? %>
						<li><%= link_to t('titles.factory_service'), rma_request_path %></li>
					<% end %>
					<% if website.has_parts_form? %>
					<li><%= link_to t('titles.part_request'), parts_request_path %></li>
					<% end %>
				</ul>
			</div>
			<% end %>

      <% if website.has_software? && (website.current_softwares.length > 0 || website.forced_current_softwares.length > 0) %>
			<div class="panel">
				<h4><%= link_to t('software_downloads').titleize, software_index_path %></h4>
				<p><%= t('blurbs.software_downloads', brand: website.brand_name) %></p>
				<ul class="list">
					<li><%= link_to t('software_downloads'), software_index_path %></li>
					<% if !!(website.has_third_party_downloads) %>
					<li><%= link_to "3rd party controllers", "/en-US/3rd-party-controllers" %></li>
					<% end %>
					<% if !!(website.has_speaker_tunings) %>
					<li><%= link_to "speaker tunings", speaker_tunings_path %></li>
					<% end %>
          <li><%= link_to "More Resources", support_downloads_path %></li>
				</ul>
			</div>
			<% end %>

      <% if website.has_product_registrations? %>
        <div class="panel">
          <h4><%= link_to t('warranty_registration').titleize, warranty_registration_path %></h4>
          <p><%= t('blurbs.warranty_registration', brand: website.brand_name) %></p>
          <ul class="list">
            <li><%= link_to t('warranty_registration'), warranty_registration_path %></li>
            <% if !!website.brand.name.match(/bss|dbx/i) %>
            <li><%= link_to t('warranty_policy'), warranty_policy_path %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

			<% unless website.brand_name.match(/dod/i) %>
			<div class="panel">
				<h4><%= t('titles.more_resources').titleize %></h4>
				<ul class="list">
          <% if !website.has_service_centers? %>
            <% if website.has_rma_form? %>
              <li><%= link_to t('titles.factory_service'), rma_request_path %></li>
            <% end %>
            <% if website.has_parts_form? %>
            <li><%= link_to t('titles.part_request'), parts_request_path %></li>
            <% end %>
          <% end %>
					<% if !!(website.value_for("troubleshooting_url")) %>
					<li><%= link_to t('troubleshooting').downcase, support_troubleshooting_path %></li>
					<% end %>
					<% if !!(website.has_cad_drawings) %>
					<li><%= link_to "CAD files", support_cad_path %></li>
					<% end %>
					<li><%= link_to t('titles.rohs'), rohs_path %></li>
					<% if !!(website.forum_link) %>
					<li><%= link_to t("user_forum"), website.forum_link %></li>
					<% end %>
          <% if !!!(website.brand.name.to_s.match(/digitech|lexicon|dod|martin/i)) %>
            <li><%= link_to "System Design Tools", tools_calculators_path %></li>
          <% end %>
          <% if !website.has_software? %>
            <li><%= link_to "More Resources", support_downloads_path %></li>
          <% end %>
				</ul>
			</div>
			<% end %>

		<% end %>
	</div>
	<div class="large-8 columns">
		<h1><%= t('titles.contact_tech_support') %></h1>
		<%= simple_form_for @contact_message, url: support_contact_path, html: {class: "contact"} do |f| %>

      <%= f.input :name, label: t('your_name'), placeholder: t('your_name') %>
      <%= f.input :email, label: ucfirst(t('email')), placeholder: ucfirst(t('email')) %>
    <%= cache ["contact_form_products", website.brand] do %>
      <%= f.input :product, as: :select,
          collection: Product.all_for_website(website) + [Product.new(name: "other")],
          value_method: :name,
          label_method: :name,
          required: @contact_message.require_product?,
          prompt: "Select A Product" %>
    <% end %>
      <%= f.input :subject, as: :select, collection: ContactMessage.subjects(brand: website.brand).flatten, prompt: t('subjects.select_a_subject') %>
      <%= f.input :product_serial_number, placeholder: 'Serial number' %>
      <%= f.input :shipping_address, label: t("address"), input_html: { size: "40x2" }, placeholder: t("address") %>
      <%= f.input :shipping_country, label: t("country"), required: @contact_message.require_country?, prompt: t("country"), selected: country_name(country_code) %>
      <%= f.input :phone, placeholder: "Phone" %>

			<%= f.input :message, label: t('message'), as: :text, input_html: { style: "height: 100px" } %>
			<div class="captcha">
				<%= recaptcha_tags site_key: website.recaptcha_public_key %>
			</div>
      <%= render_partial 'support/gdpr_consent' %>
			<%= f.submit t('submit'), class: "medium button" %>
		<% end %>
	</div>
</div>

<%=render_partial "shared/support_chat_javascript"%>