<%#= cache ["registration_form", website.brand, I18n.locale] do %>

	<%= simple_form_for @warranty_registration, url: warranty_registration_path do |f| %>
    <% if f.object.errors.any? %>
       <%= f.error_messages %>
     <% end %>

    <div class="row">
      <div class="large-4 columns last">
        <%= f.input :title, as: :select, collection: %w(Mr. Mrs. Ms. Miss) %>
      </div>
    </div>
		<div class="row">
			<div class="large-6 columns">
				<%= f.input :first_name, required: true %>
			</div>
			<div class="large-6 columns">
				<%= f.input :last_name, required: true %>
			</div>
		</div>

		<div class="row">
			<div class="large-6 columns">
				<%= f.input :email, required: true %>
			</div>
      <div class="large-6 columns">
        <%= f.input :company, required: f.object.require_company? %>
      </div>
		</div>
		<div class="row">
			<div class="large-6 columns">
				<%= f.input :country, required: true, except: COUNTRY_EXCLUSIONS %>
			</div>
		</div>

    <legend>Product Information</legend>
		<fieldset>
			<div class="row">
				<div class="large-6 columns">
					<%= f.input :product_id,
						collection: Product.all_for_website_registration(website),
						value_method: :id,
						label_method: :name,
						prompt: "Select a product",
						required: true %>
				</div>
				<div class="large-6 columns">
					<%= f.input :purchased_on, as: :string, required: true, input_html: { class: 'ui-datepicker-past-only' } %>
        </div>
      </div>
      <div class="row">
        <div class="large-6 columns">
					<%= f.input :serial_number, required: true %>
				</div>
        <div class="large-6 columns">
          <div class="hint">
            <%= t('blurbs.use_date_code') %>
          </div>
        </div>
			</div>

		</fieldset>

    <div class="captcha">
       <%= recaptcha_tags site_key: website.recaptcha_public_key %>
    </div>
		<br/>

    <div class="secondary alert-box">
      Information gathered on this form is solely used to provide you with important product
      updates and to expedite warranty service as needed. To agree with these terms click
      the button below.
    </div>

		<div>
			<%= f.submit t('submit_warranty_registration'), class: "medium button" %>
		</div>

	<% end %>
<%# end %>
