<%= cache ["cad_page", website.brand, Date.today, Rails.env] do %>

<h1 class="page_title">CAD Files</h1>

<table class="specs">
	<tr>
		<th style="width: 130px;">Product</th>
		<th style="width: 200px;">Front</th>
		<th style="width: 200px;">Rear</th>
		<th style="width: 200px;">Other</th>
	</tr>
	<% Product.all_for_website(website).each do |product| %>
	<%
		front = product.product_documents.where("document_type LIKE '%cad_front%'").first
		rear  = product.product_documents.where("document_type LIKE '%cad_rear%'").first
		other = product.product_documents.where("document_type LIKE '%cad_file%'").first

		if front || rear || other 
	%>
		<tr>
			<td class="name"><%= product.name %></td>
			<td>
				<% if front %>
				<%= link_to front.name, front.document.url %>
				[<%= number_to_human_size(front.document_file_size) %>]
				<% else %>
				&nbsp;
				<% end %>
			</td>
			<td>
				<% if rear %>
				<%= link_to rear.name, rear.document.url %>
				[<%= number_to_human_size(rear.document_file_size) %>]
				<% else %>
				&nbsp;
				<% end %>
			</td>
			<td>
				<% if other %>
				<%= link_to other.name, other.document.url %>
				[<%= number_to_human_size(other.document_file_size) %>]
				<% else %>
				&nbsp;
				<% end %>
			</td>
		</tr>
	<% end %>
	<% end %>
</table>

<% end %>