<% set_meta_tags title: @page_title,
				 reverse: true %>

<%= cache ["cad_page", website.brand, I18n.locale] do %>

<h1 class="page_title"><%= @page_title %></h1>

<table class="specs" style="margin: 20px auto;">
	<tr>
		<th style="width: 100px;">Product</th>
		<th style="width: 220px;">Front</th>
		<th style="width: 220px;">Rear</th>
		<th style="width: 220px;">Other</th>
	</tr>
	<% Product.all_for_website(website).each do |product| %>
	<%
		front = product.product_documents.where("document_type LIKE '%cad_drawing_front%'").first
		rear  = product.product_documents.where("document_type LIKE '%cad_drawing_rear%'").first
		other = product.product_documents.where("document_type LIKE '%cad_file%'").first

		if front || rear || other 
	%>
		<tr>
			<td class="name"><%= product.name %></td>
			<td class="divided">
				<% if front %>
				<%= link_to front.name, front %>
				[<%= number_to_human_size(front.document_file_size) %>]
				<% else %>
				&nbsp;
				<% end %>
			</td>
			<td class="divided">
				<% if rear %>
				<%= link_to rear.name, rear %>
				[<%= number_to_human_size(rear.document_file_size) %>]
				<% else %>
				&nbsp;
				<% end %>
			</td>
			<td class="divided">
				<% if other %>
				<%= link_to other.name, other %>
				[<%= number_to_human_size(other.document_file_size) %>]
				<% else %>
				&nbsp;
				<% end %>
			</td>
		</tr>
	<% end %>
	<% end %>
</table>

<% end %>
