<h1 class="page_title"><%= ucfirst(t("downloads")) %></h1>

<a name="top"></a>
<% if website.has_software? %>
<div class="alert">
	<%= t('looking_for_software') %> <%= link_to t("check_our_software_page"), softwares_path %>.
</div>
<% end %>

<div class="quicklinks">
	<h3 class="subheader"><%= t('jump_to_a_download_type') %></h3>
	<ul>
		<% @downloads.each do |download_collection| %>
		<li><%= link_to download_collection[:name], "##{download_collection[:name].to_s.parameterize}" %></li>
		<% end %>
	</ul>
</div>

<% @downloads.each do |download_collection| %>
	<a name="<%= download_collection[:name].to_s.parameterize %>"></a>
	<table class="download-collection" style="width: 100%">
		<thead>
			<tr>
				<th colspan="4">
					<%= download_collection[:name] %>
			<% if download_collection[:downloads].size > 1 %>
				<%= link_to image_tag("zip-icon.png", alt: "", style: "vertical-align: middle; margin-left: 2px; border: none"),
				 		zipped_downloads_path(download_collection[:param_name]) %>&nbsp;<%= link_to t('zip_all'), zipped_downloads_path(download_collection[:param_name]) %>
			<% end %>
				</th>
			</tr>
		</thead>
		<tbody>
			<% if download_collection[:downloads].first[:thumbnail] %>
				<% download_collection[:downloads].in_groups_of(4, false).each do |downloads| %>
					<tr>
						<% downloads.each do |download| %>
							<td valign="top" style="text-align: center" width="25%">
								<% if download[:thumbnail] %>
								<%= link_to(image_tag(download[:thumbnail], style: "vertical-align: middle; padding-right: 4px"), download[:url]) %><br/>
								<% end %>
								<%= link_to download[:name], download[:url] %>
							</td>
						<% end %>
					</tr>
				<% end %>
			<% else %>
				<tr>
					<% download_collection[:downloads].in_groups(4, false).each do |downloads| %>
						<td width="25%" valign="top">
							<ul style="margin-left: 25px; list-style-type: disc;">
								<% downloads.each do |download| %>
								<li><%= link_to download[:name], download[:url] %></li>
								<% end %>
							</ul>
						</td>
					<% end %>
				</tr>
			<% end %>
		</tbody>
	</table>
	<span class="tiny"><%= link_to "back to top", '#top' %></span>
<% end %>


