<h1><%= ucfirst(t("downloads")) %></h1>

<% if website.has_software? %>
	<p>Looking for software/firmware? Check our <%= link_to "software downloads page", softwares_path %>.</p>
<% end %>

<table border="0" cellpadding="5" cellspacing="5" class="info">
	<tr>
	<% @downloads.each do |download_collection| %>
		<th><%= download_collection[:name] %>
			<% if download_collection[:downloads].size > 1 %>
				<%= link_to image_tag("zip-icon.png", :alt => "", :style => "vertical-align: middle; margin-left: 2px; border: none"),
				 		zipped_downloads_path(download_collection[:param_name]) %>&nbsp;<%= link_to 'zip', zipped_downloads_path(download_collection[:param_name]) %>
			<% end %>
			</th>
	<% end %>
	</tr>
	<tr>
	<% @downloads.each do |download_collection| %>
		<td valign="top">
			<ul>
				<% download_collection[:downloads].each do |download| %>
					<li>
						<% if download[:thumbnail] %>
						<%= link_to(image_tag(download[:thumbnail], :style => "vertical-align: middle; padding-right: 4px"), download[:url]) %>
						<% end %>
						<%= link_to download[:name], download[:url] %>
					</li>
				<% end %>
			</ul>
		</td>
	<% end %>
	</tr>
</table>
