<div class="row">
  <div class="small-12 medium-8 columns">
    <h1 class="page_title"><%= t("downloads").titleize %> <%= t("titles.search_results").titleize %></h1>
  </div>
  <div class="small-12 medium-4 columns">
    <%= search_form_for @site_elements, url: support_downloads_search_path, html: { method: :post } do |f| %>
      <div class="row collapse">
        <div class="small-9 columns">
          <%= f.text_field :name_or_resource_file_name_or_executable_file_name_or_resource_type_or_content_cont %>
        </div>
        <div class="small-3 columns">
          <%= f.submit "Search", class: "button postfix" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <% if @results.length > 0 %>
      <table style="width: 100%">
        <thead>
          <tr>
            <td>Filename</td>
            <td>Version</td>
            <td>Language</td>
            <td>Size</td>
            <td>Uploaded</td>
          </tr>
        </thead>
        <tbody>
        <% @results.sort_by{|item| item.updated_at}.reverse.each do |site_element| %>
          <%= render_partial 'shared/download_table_row', item: site_element %>
        <% end %>
        </tbody>
      </table>
    <% else %>
      <i>Sorry, no results were found.</i>
    <% end %>
  </div>
</div>
