<% set_meta_tags reverse: true %>

<h1 class="page_title"><%= @page_title %></h1>


<div style="width: 500px; margin: 40px auto;">
	<p>For parts inquiries outside the US, please contact your local 
		<%= link_to "#{website.brand_name} Distributor", international_distributors_path %>.
	</p>
	<p>Note: required fields appear <b>bold</b>.</p>
</div>
<%= form_for :contact_message, url: parts_request_path, html: {class: "reg contact"} do |f| %>
	<%= f.error_messages %>

	<div><%= f.label :name, t('your_name'), class: "required" %>
	   <%= f.text_field :name %></div>
	<div><%= f.label :email, ucfirst(t('email')), class: "required" %>
	   <%= f.text_field :email %></div>
	<div><%= f.label :phone %>
	   <%= f.text_field :phone %></div>
	<div><%= f.label :fax %>
	   <%= f.text_field :fax %></div>
	<div><%= f.label :account_number, "#{website.brand_name} Account Number" %>
	   <%= f.text_field :account_number %></div>
	<h2 style="text-align: right; width: 332px;">Product Details</h2>
	<%= cache ["parts_form_products", website.brand, Rails.env, Date.today] do %>
	<div><%= f.label :product, nil, class: "required" %>
		<%= f.select :product, [[]] + Product.all_for_website(website).collect{|p| p.name} + ["other"] %></div>
	<% end %>
	<div><%= f.label :part_number, "HSP Part Number" %>
		<%= f.text_field :part_number %></div>
	<div><%= f.label :board_location %>
		<%= f.text_field :board_location %></div>
		
	<div style="width: 500px; margin: 20px auto;">
	Additional Info:<br/>
	<%= f.text_area :message, size: "60x8" %>
	<p><%= submit_tag t('submit') %></p>
	</div>
<% end %>
