<h1 class="text-center"><%= t('titles.compliance') %></h1>

<div class="row">
  <div class="small-12 medium-4 columns">
    <ul class="accordion" data-accordion>
    <% @product_families.each do |product_family| %>
      <% next if product_family.name.to_s.match(/product range|other/i) %>
      <li class="accordion-navigation">
        <a href="#panel_<%= product_family.to_param %>"><%= product_family.name %></a>
        <div id="panel_<%= product_family.to_param %>" class="content">
          <ul>
            <% product_family.current_products_plus_child_products(website).sort_by{|p| p.name.upcase}.each do |product| %>
              <% if product.safety_documents.length > 0 || product.safety_site_elements.length > 0 %>
                <li><%= link_to product.name, compliance_product_path(product), remote: true, class: "safety-panel-link" %> </li>
              <% end %>
            <% end %>
          </ul>

          <% if product_family.discontinued_products_plus_child_products(website).size > 0 %>
            <br/>
            <p><em>Discontinued Products</em></p>
            <ul>
              <% product_family.discontinued_products_plus_child_products(website).sort_by{|p| p.name.upcase}.each do |product| %>
                <% if product.safety_documents.length > 0 || product.safety_site_elements.length > 0 %>
                <li><%= link_to product.name, compliance_product_path(product), remote: true, class: "safety-panel-link" %> </li>
                <% end %>
              <% end %>
            </ul>
          <% end %>
        </div>
      </li>
    <% end %>
    </ul>
  </div>

  <div class="small-12 medium-8 columns">
    <div class="safety-panel-instructions text-center">
      <p>Choose a product from the navigation on the left.
      <%= t('titles.compliance') %> will appear here. You
      may need to scroll back up to see the results.</p>
    </div>

    <div class="spinner text-center" style="display: none;"><p>&nbsp;</p><%= image_tag "loading.gif" %></div>

    <div id="safety-content"></div>
  </div>

</div>

