<% set_meta_tags reverse: true %>
<h1 class="page_title text-center">
  <%= website.brand.name %> Warranty Policy (US only)
</h1>

<div class="text-center">

  <p><%= website.brand.name %> is a HARMAN Professional brand and its products
  are covered by the below Limited Product Warranty.</p>

  <h4>LIMITED PRODUCT WARRANTY</h4>
  For HARMAN Professional Products<br/>
  Purchased from HARMAN Professional Authorized Dealers<br/>
  (USA Only)

  <%=raw website.brand.extra_warranty_header_content %>

</div>

<div class="row">
  <div class="large-8 small-12 columns">
  	<%= render_partial "shared/standard_warranty_details" %>
  </div>
  <div class="large-4 small-12 columns">
    <%= render_partial "shared/extended_warranty" %>
    <%= raw website.brand.extra_warranty_side_content %>

		<table class="specs">
			<tr>
				<th>Product</th>
				<th>Warranty Period</th>
			</tr>
			<% @products.each do |product| %>
			<tr>
				<td class="name"><%= link_to product.name, product %></td>
				<td><%= pluralize(product.warranty_period, "year") %></td>
			</tr>
			<% end %>
		</table>
	</div>
</div>
