<% set_meta_tags reverse: true %>
<h1 class="page_title text-center"><%= website.brand.name %> Warranty Policy (US only)</h1>

<div class="text-center">
  <p><%= website.brand.name %> is a HARMAN Professional brand and its products are covered by the below Limited Product Warranty.</p>
  <h4>LIMITED PRODUCT WARRANTY</h4>
  For HARMAN Professional Products<br/>
  Purchased from HARMAN Professional Authorized Dealers<br/>
  (USA Only)
</div>

<div class="row">
	<div class="large-8 small-12 columns">

<h4>What is the warranty period?</h4>

<p>This warranty protects you for a specific period ("Warranty Period") from your date of purchase as stated in 
your bill of sale or as otherwise established by HARMAN. The specific Warranty Period applicable to this product 
varies for each product type or model, and is determined in accordance with the Warranty Period Table below.  
If there is no Warranty Period expressly stated in the Warranty Period Table below for any particular product 
that you have purchased, then, to the fullest extent allowed by law, no warranty is provided for such product.  
Any warranty service or parts replacement will not extend the Warranty Period. Any warranty replacement parts or 
product will assume only the remainder of Warranty Period of the original product.</p>


<p>Unless otherwise expressly stated in the Warranty Period Table, if a product is co-branded with two or 
more HARMAN Professional brands, the applicable Warranty Period will be the one for the brand under which 
the entire product or product system, as the case may be, is sold, and not for any of the individual 
component products that make up the product or product system, as the case may be.</p>

<h4>What does this warranty cover, and what does it not cover?</h4>

<p>Except as otherwise stated in this policy, this warranty covers defects in materials and workmanship if: 
(1) you purchased this product from a dealer that is a HARMAN Professional authorized dealer with 
respect to this product at the time of your purchase; 
(2) your original, dated bill of sale is presented whenever warranty service is required during the warranty period; and 
(3) unless HARMAN states otherwise, you purchased this product in brand new condition. </p>

<p>This policy does <strong>not</strong> cover damage or loss: caused by accident (including force majeure or natural forces),
misuse, abuse, neglect, product modification; occurring during shipment (even when HARMAN has arranged or 
paid for shipping); caused by failure to follow instructions in the owner’s guide, including failure to 
perform recommended periodic or routine maintenance; resulting from repairs by someone HARMAN did not authorize; 
(for products not specified by HARMAN for commercial or industrial use) caused by any commercial or industrial 
use; to the decorative surface of this product; to any data, software or information; caused by using this 
product for other than its intended purpose; or covered under any of your (or your installer’s) insurance 
policy or coverage. The following are <strong>also excluded</strong> from this warranty: claims based upon any misrepresentations 
by the seller; if this product’s serial number has been altered, defaced or removed; deterioration of component 
parts, the nature of which is to become worn or depleted with use, including batteries and headphone/headset ear 
pads/foam pads; any accessory to this product, even if supplied by HARMAN; any installation, removal or re-installation; 
any set-up calibration or adjustment; any performance variations due to installation-related circumstances, such as 
program source quality or AC power fluctuations.</p>

<p>HARMAN reserves the right to change the design of, or upgrade, any product from time to time without notice and 
with no obligation to make any changes or upgrades to any products previously sold or manufactured.</p>

<h4>What will HARMAN do to correct problems under warranty?</h4>

<p>If this product has a defect covered by this warranty, HARMAN will, at its option, either: (1) repair this product at no charge to you, using new or refurbished replacement parts, (2) exchange this product with a product that is new or which has been manufactured from new or serviceable used parts and is at least functionally equivalent to this product, or (3) refund the purchase price of the product.</p>

<p>Any replaced or refunded parts or products shall become HARMAN property, and, by submitting any product for warranty service, you represent and warrant to Harman that you are the sole owner of such product, and that it is not subject to any liens or encumbrances.</p>

<h4>Who is protected by the warranty?</h4>

<p>This warranty protects only the original end-user (“you”), and is not transferrable.  Any attempt to transfer this warranty shall immediately make this warranty void.  Except for AKG Aviation Headsets, this warranty is valid only for Harman Professional products (i.e., AKG Professional, BSS, Crown, dbx, Digitech, JBL Professional, Selenium Professional, Soundcraft and Lexicon) purchased from authorized Harman Professional dealers within the fifty United States, and it does not apply to products purchased or transferred elsewhere. If you purchased this product (or have subsequently transferred it) outside the fifty United States, you should contact your local Harman distributor for warranty information.   For AKG Aviation Headsets, this warranty is valid only for such AKG Aviation Headsets purchased from authorized Harman Professional dealers within the United States and Canada, and any of the countries where Harman has authorized Harman Professional dealers to offer such AKG Aviation Headsets (“Authorized Non-US/Canadian Dealers”), and such validity is limited to the country of purchase (as an illustration, an AKG Aviation Headset purchased in Germany shall be eligible for warranty coverage only in Germany, and no warranty coverage can be availed of for such product in any other country).</p>

<h4>How can warranty service be obtained?</h4>

<p>In the event that you require warranty service on this product, you should first contact us directly (or, in the case of AKG Aviation Headsets purchased: (a) in the US or Canada, please use the corresponding contact information in the Technical Support table below; or (b) from an Authorized Non-US/Canadian Dealer, you should contact the same Authorized Non-US/Canadian Dealer from whom such product was purchased), using the contact information provided below that corresponds to the specific brand of your product for which you need warranty service: </p>

<div style="text-align: center">
 <h3>Post-Sales Support</h3>
 HARMAN All-Brand Support</br>
 <p style="margin-top:10px;">
 	<strong>Technical Support</strong></br>
 	<i class='fa fa-phone' aria-hidden='true'></i>&nbsp;1-844-776-4899 (Option 3)</br>
 	<i class='fa fa-envelope' aria-hidden='true'></i>&nbsp;<a href="mailto:HProTechSupportUSA@harman.com">HProTechSupportUSA@harman.com</a>
 </p>
 
 <p style="margin-top:10px;">
 	<strong>Repair Services</strong></br>
 	<i class='fa fa-phone' aria-hidden='true'></i>&nbsp;1-844-776-4899 (Option 2)</br>
 	<i class='fa fa-envelope' aria-hidden='true'></i>&nbsp;<a href="mailto:HProServiceUSA@harman.com">HProServiceUSA@harman.com</a>
 </p> 
 
 
</div>

<p>You must be ready to provide detailed information on the symptoms or difficulties you have observed with the product’s performance. We may direct you to an authorized service center or ask you to send the product to us for repair. In either case, you will have to present your original bill of sale to establish warranty coverage. Do not send this product to us without prior authorization and a corresponding return authorization number from the applicable Technical Support Department (as set forth above) corresponding to the brand of your product. Warranty repair of this product must be done by an authorized dealer or service center. To the fullest extent allowed by law, unauthorized warranty repair will void the warranty and is done at your risk.</p>

<p>You are responsible for transporting your product to (as well as from, in the event that HARMAN finds no defect covered by this warranty) either HARMAN or an authorized service center and for payment of all shipping charges; however, Harman will pay the return shipping charges (in the event you return the product to Harman) if the repairs are covered by warranty, provided that, Harman reserves the right to choose the mode, the carrier and the timing of such return shipping (if Harman finds that there are no defects covered by this warranty, then you shall be responsible for all shipping charges). If you experience difficulty in transporting your product or are in need of packing materials, please advise us and we may be able (but have no obligation) to suggest alternative procedures and/or provide adequate packing materials.</p>

<p>In the event HARMAN is unable to return the product to you because you have provided incorrect or insufficient contact information, or when you fail to arrange for the pick-up or retrieval of the product when you are obligated to arrange or pay for shipping the product back to you, Harman reserves the right, without notice to you, to charge you storage and handling costs for the entire duration that Harman has possession of your product, and, to the fullest extent allowed by law, to sell or dispose of your product to defray such costs.  You hereby authorize Harman to charge those costs against any credit or debit card or other electronic payment account you have provided to us for any reason.</p>

<p>THIS WARRANTY AND REMEDIES SET FORTH ABOVE ARE EXCLUSIVE AND IN LIEU OF ALL OTHER WARRANTIES, REMEDIES AND CONDITIONS, WHETHER ORAL OR WRITTEN, EXPRESS OR IMPLIED. HARMAN SPECIFICALLY DISCLAIMS ANY AND ALL IMPLIED WARRANTIES, INCLUDING, WITHOUT LIMITATION, WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE. IF HARMAN CANNOT LAWFULLY DISCLAIM IMPLIED WARRANTIES UNDER THIS LIMITED WARRANTY, ALL SUCH WARRANTIES, INCLUDING WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE LIMITED IN DURATION TO THE DURATION OF THIS WARRANTY.</p>

<p>No HARMAN reseller, agent, or employee is authorized to make any modification, extension, or addition to this warranty.</p>

<p>HARMAN IS NOT RESPONSIBLE FOR DIRECT, INDIRECT, SPECIAL, INCIDENTAL OR CONSEQUENTIAL DAMAGES RESULTING FROM ANY BREACH OF WARRANTY OR CONDITION, OR UNDER ANY OTHER LEGAL THEORY, INCLUDING BUT NOT LIMITED TO LOST PROFITS, DOWNTIME, GOODWILL, DAMAGE TO OR REPLACEMENT OF ANY EQUIPMENT OR PROPERTY, ANY COSTS OF RECOVERING, REPROGRAMMING, OR REPRODUCING ANY PROGRAM OR DATA STORED IN OR USED WITH HARMAN PRODUCTS.   HARMAN’S TOTAL LIABILITY IS LIMITED TO THE REPAIR OR REPLACEMENT OF THIS PRODUCT PURSUANT TO THE TERMS OF THIS WARRANTY.</p>

<p>SOME STATES DO NOT ALLOW THE EXCLUSION OR LIMITATION OF INCIDENTAL OR CONSEQUENTIAL DAMAGES OR EXCLUSIONS OR LIMITATIONS ON THE DURATION OF IMPLIED WARRANTIES OR CONDITIONS, SO THE ABOVE LIMITATIONS OR EXCLUSIONS MAY NOT APPLY TO YOU. THIS WARRANTY GIVES YOU SPECIFIC LEGAL RIGHTS, AND YOU MAY ALSO HAVE OTHER RIGHTS THAT VARY BY STATE OR (WHERE APPLICABLE IN THE COUNTRIES WHERE HARMAN HAS NON-US/CANADIAN AUTHORIZED DEALERS) COUNTRY. NO ACTION OR CLAIM TO ENFORCE THIS WARRANTY SHALL BE COMMENCED AFTER THE EXPIRATION OF THE WARRANTY PERIOD.</p>

<p>In the event that there is a difference between this warranty and the provisions in any owner’s manuals, warranty leaflets, or packaging cartons, the terms of this warranty will prevail to the fullest extent allowed by law.</p>

<p>HARMAN International Industries, Incorporated<br/>
400 Atlantic Street, 15th Floor, Stamford CT 06901<br/>
&copy; <%= Date.today.year %> HARMAN International Industries, Incorporated. All rights reserved.</p>

	</div>
  <div class="large-4 small-12 columns">
    <%= render_partial "shared/extended_warranty" %>

		<table class="specs">
			<tr>
				<th>Product</th>
				<th>Warranty Period</th>
			</tr>
			<% @products.each do |product| %>
			<tr>
				<td class="name"><%= link_to product.name, product %></td>
				<td><%= pluralize(product.warranty_period, "year") %></td>
			</tr>
			<% end %>
		</table>
	</div>
</div>

