<li id="feature_<%= feature.id %>">
	<span class="handle"><%= image_tag("icons/drag_handle.gif") %></span>
	<%= image_tag(feature.slide.url(:tiny)) %>
	<%= link_to_function(feature.name, "$('#feature_#{feature.id}_form').toggle();") %> 
	<%= link_to(image_tag("icons/trash.gif"), 
			admin_setting_path(feature), 
			confirm: "Are you sure?", 
			remote: true,
			method: :delete) %>
	<span class="small"><br/>links to: <%= feature.string_value %></span>
	<div id="feature_<%= feature.id %>_form" style="margin: 10px; display:none;">
		<%= form_for([:admin, feature], html: {multipart: true}) do |f| %>
			<%= f.error_messages %>
			<%= hidden_field_tag "called_from", "homepage" %>
			<p>
			  <%= f.label :name %> (for your reference only)<br />
			  <%= f.text_field :name %>
			</p>
			<p>
			  <%= f.label :slide, "image/button" %><br />
			  <%= f.file_field :slide %>
			</p>
			<p>
			  <%= f.label :string_value, "URL to link image to" %><br />
			  <%= f.text_field :string_value %><br/>
			  <i>URLs beginning with a partial path (ie, "products/rp1000") will be relative to the visitor's selected language.</i>
			</p>
			<%= f.submit "update feature" %>
			<%= link_to_function "cancel", "$('#feature_#{feature.id}_form').hide()" %>
		<% end %>
	</div>
</li>