<li id="product_attachment_<%= pa.id %>">
	<span class="handle"><%= image_tag("drag_handle.gif") %></span>
	<% if pa.is_photo? %>
	<%= link_to(image_tag(pa.product_attachment.url(:thumb)), 
			pa.product_attachment.url) %>
	<% else %>
	<%= link_to(!pa.product_media_thumb_file_name.blank? ? image_tag(pa.product_media_thumb.url(:thumb)) : pa.product_media_file_name, 
			pa.product_media.url) %>
	<% end %>	
	<span class="little">
	<%= link_to(image_tag("trash.gif"), 
			admin_product_attachment_path(pa), 
			remote: true,
			confirm: "Are you sure?", 
			method: :delete) %>
	<%= link_to 'edit', edit_admin_product_attachment_path(pa) %> &nbsp;
	<% if pa.is_photo? %>
	<% if pa.primary_photo %>
		(main photo)
	<% else %>
		<%= link_to('set as main photo',
				admin_product_attachment_path(pa, product_attachment: {primary_photo: true}),
				remote: true,
				method: :put) %>
	<% end %>
	<% end %>
	</span>
</li>




