<li id="setting_<%= slide.id %>">
	<span class="handle"><%= image_tag("icons/drag_handle.gif") %></span>
	<%= image_tag(slide.slide.url(:tiny)) %>
	<%= link_to_function(slide.name, "$('#slide_#{slide.id}_form').toggle();") %> 
	<%= link_to(image_tag("icons/trash.gif"), 
			admin_setting_path(slide), 
			confirm: "Are you sure?", 
			remote: true,
			method: :delete) %>
	<span class="small">
	<% if slide.start_on.present? %>
		Starts On: <%=l slide.start_on, format: :short %>
		<% if slide.remove_on.present? %>
		 --
		<% end %>
	<% end %>
	<% if slide.remove_on.present? %>
		Removed On: <%=l slide.remove_on, format: :short %>
	<% end %>
	</span>
	<span class="small"><br/>links to: <%= slide.string_value %></span>
	<div id="slide_<%= slide.id %>_form" style="margin: 10px; display:none;" class="instructions">
		<%= form_for([:admin, slide], html: {multipart: true}) do |f| %>
			<%= f.error_messages %>
			<%= hidden_field_tag "called_from", "homepage" %>
			<p>
			  <%= f.label :name %> (for your reference only)<br />
			  <%= f.text_field :name %>
			</p>
			<p>
			  <%= f.label :slide %><br />
			  <%= f.file_field :slide %>
			</p>
			<p>
			  <%= f.label :string_value, "URL to link slide to" %> (optional)<br />
			  <%= f.text_field :string_value %><br/>
			  <i>URLs beginning with a partial path (ie, "products/rp1000") will be relative to the visitor's selected language.</i>
			</p>
			<p>
				<%= f.label :start_on %> (optional)<br/>
				<%= f.text_field :start_on, class: 'ui-datepicker', id: "setting_#{slide.id}_start_on" %>
			</p>
			<p>
				<%= f.label :remove_on %> (optional)<br/>
				<%= f.text_field :remove_on, class: 'ui-datepicker', id: "setting_#{slide.id}_remove_on" %>
			</p>
			<%= f.submit "update slide" %>
			<%= link_to_function "cancel", "$('#slide_#{slide.id}_form').hide()" %>
		<% end %>
	</div>
</li>