<%
extra_large = false

title = "#{website.brand.name} #{@solution.name} Solutions"
description = title
short_description = title
og_image = image_url("#{website.folder}/logo.png")
tw_image = image_url("#{website.folder}/logo.png")

if @solution.vertical_market_id.present?
  description = @solution.vertical_market["description"]
  short_description = @solution.vertical_market["headline"]
  if @solution.vertical_market["banner_url"]
    og_image = @solution.vertical_market_banner_url
    tw_image = @solution.vertical_market_banner_url
  end
end

twitter_params = {
  image: {
    src: tw_image
  },
  card: "summary"
}

set_meta_tags title: "#{@solution.name} Solutions",
	reverse: true,
	description: short_description,
	twitter: twitter_params,
	og: {
		image: og_image,
		type: 'product',
		description: truncate(strip_html(description), length: 100),
		title: title
	}
%>

<%= cache [@solution, "header"] do %>
  <div class="row">
    <div class="small-12 columns">
      <% if @solution.vertical_market_id.present? %>

        <% if @solution.vertical_market["banner_url"] %>
          <div><%= image_tag @solution.vertical_market_banner_url, alt: @solution.vertical_market_id.titleize %></div>
        <% end %>

        <h2><%= @solution.vertical_market["headline"] %></h2>
        <% if @solution.vertical_market["description"] %>
          <div><%= raw @solution.vertical_market["description"] %></div>
        <% end %>

      <% else %>
        <h1><%= @solution.name %> Solutions</h1>

      <% end %>
    </div>
  </div>
<% end %>

<p>&nbsp;</p>
<ul class="large-block-grid-2 small-block-grid-1">
  <% @solution.brand_solution_featured_products.where(brand_id: website.brand.id).each do |fp| %>
    <li>
      <% if fp.product.present? %>
        <% fp.product.layout_class = "vertical" %>
        <%= render_partial "product_families/product_square",
          product: fp.product,
          extra_large: extra_large,
          show_brand_name: true,
          compare: false %>
      <% elsif fp.link.present? %>
        <div id="<%= fp.name.to_param %>" class="small_product_box">
          <div class="row collapse">
            <div class="large-4 small-4 columns">
              <div class="product_thumb">
              <% if fp.image.present? %>
                <% if extra_large %>
                  <%= link_to image_tag(fp.image.url(:small)), fp.link, target: "_blank" %>
                <% else %>
                  <%= link_to image_tag(fp.image.url(:thumb)), fp.link, target: "_blank" %>
                <% end %>
              <% end %>
              </div>
            </div>
            <div class="large-8 small-8 columns">
              <h3 class="vertical"><%= link_to fp.name, fp.link, target: "_blank" %></h3>
              <div class="product_description">
                <%= fp.description %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </li>
  <% end %>
</ul>
<p>&nbsp;</p>

<%= cache "solution_common_footer" do %>

  <div class="text-center">
    <h3 class="subheader">The HARMAN Family of Brands and Products</h3>
    <%= link_to "Explore Solutions", ENV['PRO_SITE_URL'], class: "button", target: "_blank" %>
  </div>

  <p>&nbsp;</p>
  <div class="row">
    <% begin %>
      <% SolutionMarket.parents.each do |parent_vertical| %>
        <div class="medium-6 small-12 columns">
          <div class="panel text-center">
            <%= link_to "#{parent_vertical["name"]} Solutions",
              "#{ENV['PRO_SITE_URL']}/applications/#{parent_vertical["slug"]}",
              class: "button",
              target: "_blank" %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
