<%
extra_large = true

title = "#{website.brand.name} #{@solution.name} Solutions"
description = title
short_description = title
og_image = image_url("#{website.folder}/logo.png")
tw_image = image_url("#{website.folder}/logo.png")

if @solution.vertical_market_id.present?
  description = @solution.vertical_market["description"]
  short_description = @solution.vertical_market["headline"]
  if @solution.vertical_market["banner_url"]
    og_image = @solution.vertical_market_banner_url
    tw_image = @solution.vertical_market_banner_url
  end
end

twitter_params = {
  image: {
    src: tw_image
  },
  card: "summary"
}

set_meta_tags title: t('solutions_page.vertical_market_solutions', vertical_market: @solution.name),
	reverse: true,
	description: short_description,
	twitter: twitter_params,
	og: {
		image: og_image,
		type: 'product',
		description: truncate(strip_html(description), length: 100),
		title: title
	}
%>

<%= cache [@solution, "header"] do %>
  <div class="row">
    <div class="small-12 columns">
      <h1><%= t('solutions_page.vertical_market_solutions', vertical_market: @solution.name).titleize %></h1>
      <% if @solution.vertical_market_id.present? %>
        <% if @solution.vertical_market["banner_url"] %>
          <div>
            <%= link_to @solution.vertical_market_url, target: "_blank" do %>
              <%= image_tag @solution.vertical_market_banner_url, alt: @solution.vertical_market_id.titleize %>
            <% end %>
          </div>
        <% end %>

        <h2><%= @solution.vertical_market["headline"] %></h2>
        <% if @solution.vertical_market["description"] %>
          <div><%= raw @solution.vertical_market["description"] %></div>
        <% end %>

        <% if @solution.content.present? %>
          <p>&nbsp;</p>
          <div><%= raw @solution.content %></div>
        <% end %>

        <br/>
        <div class="text-center">
          <%= link_to t('learn_more').titleize,
            @solution.vertical_market_url,
            target: "_blank",
            class: "button" %>
        </div>
      <% else %>
        <% if @solution.content.present? %>
          <p>&nbsp;</p>
          <div><%= raw @solution.content %></div>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>

<hr class="colored"/>
<p>&nbsp;</p>
<ul class="large-block-grid-2 small-block-grid-1">
  <% @solution.brand_solution_featured_products.where(brand_id: website.brand.id).each do |fp| %>
    <li>
      <% if fp.product.present? %>
        <% fp.product.layout_class = "vertical" %>
        <%= render_partial "product_families/product_square",
          product: fp.product,
          extra_large: extra_large,
          show_brand_name: true,
          compare: false %>
      <% elsif fp.link.present? %>
        <div id="<%= fp.name.to_param %>" class="small_product_box">
          <div class="row collapse">
            <div class="large-4 small-4 columns">
              <div class="product_thumb">
              <% if fp.image.present? %>
                <% if extra_large %>
                  <%= link_to image_tag(fp.image.url(:small)), fp.link, target: "_blank" %>
                <% else %>
                  <%= link_to image_tag(fp.image.url(:thumb)), fp.link, target: "_blank" %>
                <% end %>
              <% end %>
              </div>
            </div>
            <div class="large-8 small-8 columns">
              <h3 class="vertical"><%= link_to fp.name, fp.link, target: "_blank" %></h3>
              <div class="product_description">
                <%= fp.description %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </li>
  <% end %>
</ul>
<hr class="colored"/>
<p>&nbsp;</p>

<%= cache "solution_common_footer" do %>
  <div class="text-center">
    <h3 class="subheader"><%= t('solutions_page.harman_family') %></h3>
    <%= link_to t('solutions_page.explore_solutions').titleize, ENV['PRO_SITE_URL'], class: "button", target: "_blank" %>
  </div>

  <p>&nbsp;</p>
  <div class="row collapse">
    <% begin %>
      <% SolutionMarket.parents.each do |parent_vertical| %>
        <div class="medium-6 small-12 columns">
          <%= link_to "#{ENV['PRO_SITE_URL']}/applications/#{parent_vertical["slug"]}",
            class: "vm-big-button",
            target: "_blank",
            data: { background: parent_vertical["background_url"] } do %>
              <div class="text-center">
                <%= t('explore').titleize %>
                <h3><%= t('solutions_page.vertical_market_solutions', vertical_market: parent_vertical["name"]).titleize %></h3>
              </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
