<%
extra_large = true

title = "#{website.brand.name} #{@solution.name} Solutions"
description = title
short_description = title
og_image = image_url("#{website.folder}/logo.png")
tw_image = image_url("#{website.folder}/logo.png")

if @solution.vertical_market_id.present?
  description = @solution.vertical_market["description"]
  short_description = @solution.vertical_market["headline"]
  if @solution.vertical_market["banner_url"]
    og_image = @solution.vertical_market_banner_url
    tw_image = @solution.vertical_market_banner_url
  end
end

twitter_params = {
  image: {
    src: tw_image
  },
  card: "summary"
}

set_meta_tags title: t('solutions_page.vertical_market_solutions', vertical_market: @solution.name),
	reverse: true,
	description: short_description,
	twitter: twitter_params,
	og: {
		image: og_image,
		type: 'product',
		description: truncate(strip_html(description), length: 100),
		title: title
	}
%>

<%= cache [@solution, "header", I18n.locale] do %>
  <h1><%= t('solutions_page.vertical_market_solutions', vertical_market: @solution.name).titleize %></h1>

  <% if @solution.vertical_market_id.present? %>
    <% if @solution.vertical_market["banner_url"] %>
      <%= link_to @solution.vertical_market_url, target: "_blank" do %>
        <%= image_tag @solution.vertical_market_banner_url, alt: @solution.vertical_market_id.titleize, style: "margin-bottom: 20px" %>
      <% end %>
    <% end %>
  <% end %>

  <% if @solution.content.present? %>
    <div style="margin: 20px 0px"><%= raw @solution.content %></div>
  <% end %>

  <% if @solution.vertical_market_id.present? %>
    <div class="text-center" style="margin-top: 30px">
      <%= link_to t('learn_more').titleize,
        @solution.vertical_market_url,
        target: "_blank",
        class: "button" %>
    </div>
  <% end %>
<% end %>

<hr class="colored"/>
<% if @solution.product_header.present? %>
  <h3 class="text-center subheader" style="margin-bottom: 10px;"><%=raw @solution.product_header %></h3>
<% end %>

<div class="row" style="margin-bottom: -10px">
  <div class="medium-12 columns">
    <ul class="medium-block-grid-2 small-block-grid-1">

      <% @solution.brand_solution_featured_products.where(brand_id: website.brand.id).each do |fp| %>
        <li>
          <div class="text-center">
            <% if fp.product.present? %>
              <%
                product = fp.product
                product_name = "#{product.brand.name} #{product.name}"
                if product.belongs_to_this_brand?(website)
                  this_url = product_url(product)
                  target = "_self"
                else
                  this_url = product_url(product, host: product.brand.default_website.url)
                  target = "_blank"
                end
              %>
              <div class="product_thumb_container">
                <div class="product_thumb">
                  <% if product.photo %>
                    <%= link_to image_tag(product.photo.product_attachment.url(:small)), this_url, target: target %>
                  <% end %>
                </div>
              </div>
              <h3><%= link_to product_name, this_url, target: target %></h3>
              <div class="product_description">
                <%= translate_content(product, :short_description) %>
              </div>

            <% elsif fp.link.present? %>

              <div class="product_thumb_container">
                <div class="product_thumb">
                  <% if fp.image.present? %>
                    <%= link_to image_tag(fp.image.url(:small)), fp.link, target: "_blank" %>
                  <% end %>
                </div>
              </div>
              <h3><%= link_to fp.name, fp.link, target: "_blank" %></h3>
              <div class="product_description">
                <%= fp.description %>
              </div>

            <% end %>
          </div>
        </li>
      <% end %>

    </ul>
  </div>
</div>

<hr class="colored"/>

<%= cache ["solution_common_footer", I18n.locale] do %>
  <div class="text-center">
    <h3 class="subheader"><%= t('solutions_page.harman_family') %></h3>
    <%= link_to t('solutions_page.explore_solutions').titleize, ENV['PRO_SITE_URL'], class: "button", target: "_blank" %>
  </div>

  <div class="row collapse" style="margin-top: 20px;">
    <% begin %>
      <% SolutionMarket.parents.each do |parent_vertical| %>
        <div class="medium-6 small-12 columns">
          <%= link_to "#{ENV['PRO_SITE_URL']}/applications/#{parent_vertical["slug"]}",
            class: "vm-big-button",
            target: "_blank",
            data: { background: parent_vertical["background_url"] } do %>
              <div class="text-center">
                <%= t('explore').titleize %>
                <h3><%= t('solutions_page.vertical_market_solutions', vertical_market: parent_vertical["name"]).titleize %></h3>
              </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
