<% set_meta_tags title: @testimonial.title,
  reverse: true,
  description: @testimonial.summary %>

<h1><%= @testimonial.title %></h1>
<% if @testimonial.subtitle.present? %>
  <h3 class="subheader"><%= @testimonial.subtitle %></h3>
<% end %>

<% if @testimonial.banner.present? %>
  <div>
    <%= image_tag @testimonial.banner.url, alt: "#{@testimonial.title} Banner Image" %>
  </div>
  <p>&nbsp;</p>
<% end %>

<div>
  <%=raw @testimonial.content %>
</div>

<% if @testimonial.attachment.present? %>
  <p>&nbsp;</p>
  <p>
  <%= link_to @testimonial.attachment.url, target: "_blank" do %>
    <% if @testimonial.attachment_file_name.to_s.match?(/\.pdf$/i) %>
      <%= image_tag("icons/pdf_17.png", alt: "PDF Icon", style: "vertical-align: middle") %>
    <% end %>
    Download
    <% if @testimonial.attachment_file_name.to_s.match?(/poster/) %>
      Poster
    <% else %>
      <%= @testimonial.attachment_file_name.gsub(/\..*$/, '').titleize %>
    <% end %>
  <% end %>
  </p>
<% end %>
