<%
	@meta = Page.find_by lcl_name: 'sda'
	@page_title = "Soundcraft Contacts"
	meta title: 	@page_title,
	robots: 		"noindex, nofollow"
%>
<div id="header_bc">
	<div id="header_spacer"></div>
	<div id="header_bc_image" >
	<%= image_tag('top_border.gif') %>
	</div>
	<div id="bc">
	<nav class="breadcrumbs" role="menubar" aria-label="breadcrumbs">
		<li class="unavailable"  aria-disabled="true">>></li>
	    <li role="menuitem"><a href="/">Home</a></li>
	    <li role="menuitem"><a href="/sda">SDA</a></li>
	    <li role="menuitem" class="current"><a href="#"><%= @page_title %></a></li>
	</nav>
	</div>
</div>
<div class="row fullWidth">
<div class="small-12 columns" >
<br>
<h1><%= @page_title %></h1>
</div>
</div>
<div class="row fullWidth">
	<div class="small-12 medium-2 columns">&nbsp;</div>	
	<div class="small-12 medium-10 columns" >
		<div data-magellan-expedition="fixed">
		  <dl class="sub-nav">
		  	<% ContactOffice.get_all_contact_offices.each do |office| %>
		     <dd data-magellan-arrival="<%= office.office.gsub(" ", "-") %>"><a href="#<%= office.office.gsub(" ", "-") %>"><%= office.office.html_safe %></a></dd>
			<% end %>
		  </dl>
		</div>
	</div>
</div>
<br />
<div class="row fullWidth">
	<div class="small-12 medium-1 large-2 columns">&nbsp;</div>	
	<div class="small-12 medium-10 columns" >
		<% ContactOffice.get_all_contact_offices.each do |office| %>
		<a name="<%= office.office.gsub(" ", "-") %>"></a>
			<h3 data-magellan-destination="<%= office.office.gsub(" ", "-") %>" class="h4-bg"><%= office.office %></h3>
			<div class="row">
				<div class="small-12 medium-3 columns" >
						<strong class="color-accent2"><%= office.company %></strong><br />
						<% if office.company2.size > 0  %><%= office.company2 %><br /><% end %>
						<% if office.address1.size > 0  %><%= office.address1 %><br /><% end %>
						<% if office.address2.size > 0 %><%= office.address2 %><br /><% end %>
						<% if office.city.size > 0 %><%= office.city %><br /><% end %>
						<% if office.county.size > 0 %><%= office.county %><br /><% end %>
						<% if office.post_code.size > 0 %><%= office.post_code %><br /><% end %>
						<% if office.country.size > 0 %><%= office.country %><br /><% end %>
						<% if office.phone.size > 0 %>T: <%= office.phone %><br /><% end %>
						<% if office.fax.size > 0 %>F: <%= office.fax %><br /><% end %>
						<% if office.email_sales.size > 0 %><%= link_to("email sales", "mailto:" + office.email_sales) %><br /><% end %>
						<% if office.email_marketing.size > 0 %><%= link_to("email marketing", "mailto:" + office.email_marketing) %><br /><% end %>
						<% if office.email_technical.size > 0 %><%= link_to("email technical", "mailto:" + office.email_technical) %><br /><% end %>
				</div>
				<div class="small-12 medium-9 columns" >
					<% ContactDepartment.get_all_contact_departments(office.id).each do |department| %>
						<h4><%= department.department %></h4>
						<table>
						<% Contact.get_all_contacts(office.id, department.id).each do |contact| %>
						<tr class="<%= cycle('section_bg1', 'section_bg2') -%>">
							<td width="150px"><%= contact.full_name  %></td>
							<td><%= contact.job_title  %></td>
							<td><%= link_to(contact.email, "mailto:" + contact.email + "?subject=Web%20Enquiry%20From%20SDA%20Contacts%20Us")  %></td>
						</tr>
						<% end %>
						</table>
					<% end %>
					<br /><br />
				</div>
			</div>
		<% end %>
	</div>
</div>
<br>
<br>
<%= render "sda/shared/logged_in" %>
<script>
$(document).foundation({
"magellan-expedition": {
  active_class: 'active', // specify the class used for active sections
  threshold: 0, // how many pixels until the magellan bar sticks, 0 = auto
  destination_threshold: 50, // pixels from the top of destination for it to be considered active
  throttle_delay: 100, // calculation throttling to increase framerate
  fixed_top: 50, // top distance in pixels assigend to the fixed element on scroll
  offset_by_height: false // whether to offset the destination by the expedition height. Usually you want this to be true, unless your expedition is on the side.
}
});
</script>
