<%= simple_form_for([:admin, @audio_demo], html: {multipart: true}) do |f| %>
  <%= f.input :name %>
	<%= f.input :description %>
  <%= f.input :wet_demo, label: "Effect-on (wet) demo file" %>
	<% unless @audio_demo.wet_demo_file_name.blank? %>
		<span class="hint">currently: <%= link_to @audio_demo.wet_demo_file_name, @audio_demo.wet_demo.url %></span>
	<% end %>

  <%= f.input :dry_demo, label: "Effect-off (dry) demo file (optional, but should be sync'ed with wet file)" %>
	<% unless @audio_demo.dry_demo_file_name.blank? %>
		<span class="hint">currently: <%= link_to @audio_demo.dry_demo_file_name, @audio_demo.dry_demo.url %></span>
	<% end %>

  <div class="row">
    <div class="large-2 columns">
      <%= f.input :duration_in_seconds %>
    </div>
  </div>

  <br/><%= f.button :submit %>
<% end %>
