<h1><%= @audio_demo.name %></h1>

<ul class="button-group round">
	<li><%= link_to admin_audio_demos_path, class: "small secondary button" do %>
    <%= fa_icon "angle-double-left" %>
  <% end %>
  </li>
	<li><%= link_to edit_admin_audio_demo_path(@audio_demo, locale: I18n.locale), class: "small secondary button" do %>
      <%= fa_icon "edit" %>
      Edit
    <% end %>
  </li>
	<li><%= link_to [:admin, @audio_demo], confirm: 'Are you sure?', method: :delete, class: "small alert button" do %>
    <%= fa_icon "trash" %>
    Delete
  <% end %>
  </li>
</ul>

<div><%= @audio_demo.description %></div>

<% unless @audio_demo.wet_demo_file_name.blank? %>
<div class="field">
	Wet Demo: <%= link_to @audio_demo.wet_demo_file_name, @audio_demo.wet_demo.url %>
</div>
<% end %>

<% unless @audio_demo.dry_demo_file_name.blank? %>
<div class="field">
	Dry Demo: <%= link_to @audio_demo.dry_demo_file_name, @audio_demo.dry_demo.url %>
</div>
<% end %>

<div class="group">
	<h4 class="subheader">Products Showing This Demo</h4>
	<%= simple_form_for [:admin, @product_audio_demo], remote: true do |f| %>
		<%= hidden_field_tag "called_from", "audio_demo" %>
    	<%= f.hidden_field :audio_demo_id %>
    	<div class="row collapse">
    		<div class="large-10 small-8 columns">
    			<%= f.association :product, collection: website.products, label: false %>
    		</div>
    		<div class="large-2 small-4 columns">
    			<%= submit_tag 'add product', class: "postfix button" %>
    		</div>
    	</div>
	<% end %>

	<ul id="product_audio_demos" class="list">
		<% @audio_demo.product_audio_demos.each do |pad| %>
			<%= render '/admin/shared/product_audio_demo_row', pad: pad, called_from: 'audio_demo' %>
		<% end %>
	</ul>
</div>
