<h1> <%= @cabinet.name %></h1>

<ul class="button-group round">
	<li><%= link_to admin_cabinets_path, class: "small secondary button" do %>
    <%= fa_icon "angle-double-left" %>
  <% end %>
  </li>
	<li><%= link_to edit_admin_cabinet_path(@cabinet), class: "small secondary button" do %>
      <%= fa_icon "edit" %>
      Edit
    <% end %>
  </li>
	<li><%= link_to [:admin, @cabinet], confirm: 'Are you sure?', method: :delete, class: "small alert button" do %>
    <%= fa_icon "trash" %>
    Delete
  <% end %>
  </li>
</ul>

<div class="group">
	<h4 class="subheader">Available in these Products:</h4>
	<p><%= link_to_function "add a product", "$('#add_cabinet_form').toggle();"%></p>

	<div id="add_cabinet_form" style="display:none">
		<%= simple_form_for [:admin, @product_cabinet], remote: true do |f| %>
			<%= hidden_field_tag :cabinet_name %>
			<%= hidden_field_tag :called_from, "cabinet" %>
		    <%= f.hidden_field :cabinet_id %>
			<%= f.association :product, collection: website.products, label: false %>
			<%= f.button :submit %>
			<%= link_to_function "cancel", "$('#add_cabinet_form').toggle();"%>
		<% end %>
	</div>

	<ul id="product_cabinets" class="list">
	  <% @cabinet.product_cabinets.find_each do |pc| %>
	  <%= render "/admin/shared/product_cabinet_row", pc: pc, called_from: "cabinet" %>
	  <% end %>
	</ul>
</div>
