<h1> <%= @cabinet.name %></h1>

<ul class="button-group round">
	<li><%= link_to 'Back', admin_cabinets_path, class: "small secondary button" %></li>
	<li><%= link_to 'Edit', edit_admin_cabinet_path(@cabinet), class: "small secondary button" %> </li>
	<li><%= link_to 'Delete', [:admin, @cabinet], confirm: 'Are you sure?', method: :delete, class: "small alert button" %></li>
</ul>

<div class="group">
	<h3>Available in these Products:</h3>
	<p><%= link_to_function "add a product", "$('#add_cabinet_form').toggle();"%></p>

	<div id="add_cabinet_form" style="display:none">
		<%= form_for [:admin, @product_cabinet], remote: true do |f| %>
			<%= hidden_field_tag :cabinet_name %>
			<%= hidden_field_tag :called_from, "cabinet" %>
		    <%= f.hidden_field :cabinet_id %>
			<%= f.collection_select :product_id, website.products, :id, :name %> 
			<%= f.submit %>
			<%= link_to_function "cancel", "$('#add_cabinet_form').toggle();"%>
		<% end %>
	</div>

	<ul id="product_cabinets">
	  <% @cabinet.product_cabinets.each do |pc| %>
	  <%= render "/admin/shared/product_cabinet_row", pc: pc, called_from: "cabinet" %>
	  <% end %>
	</ul>
</div>
