<%= cache ["nav_items", website.brand, I18n.locale] do %>
	<li class="has-dropdown"><%= link_to t('products').titleize, product_families_path %>
		<ul class="dropdown">
      <% if website.has_product_selector? %>
        <li><%= link_to t("product_selector"), product_selector_path %></li>
      <% end %>
			<% ProductFamily.parents_with_current_products(website, I18n.locale).each do |product_family| %>
				<%= product_family_nav_links(product_family, depth: 1) %>
			<% end %>
      <% if ( website.has_dealers? || website.has_distributors? || website.has_online_retailers? ) && I18n.locale.to_s.match?(/us/i) %>
        <li><%= link_to "Promotions", promotions_path %></li>
      <% end %>
			<li><%= link_to t('discontinued_products').titleize, discontinued_products_path %></li>
		</ul>
	</li>

  <% if website.show_market_nav.to_i > 0 %>
    <li class="has-dropdown"><%= link_to t("nav.markets"), '#', class: "disabled" %>
      <ul class="dropdown">
        <% MarketSegment.all_parents(website).each do |market_segment| %>
          <li><%= link_to translate_content(market_segment, :name).titleize, market_segment %></li>
        <% end %>
      </ul>
    </li>
  <% end %>

  <% if website.has_solution_pages? %>
    <%= render_partial "shared/solutions_nav" %>
  <% end %>

  <li><%= link_to t("nav.case_studies"), case_studies_path %></li>

  <% if (website.has_learning_sessions.present? && website.has_learning_sessions == 1) %>
    <li class="hide-for-medium"><%= link_to t('learning_sessions').titleize, "/#{I18n.locale}/learning-sessions/" %></li>
  <% end %>

  <% if (website.training_url.present?) %>
  <li class="hide-for-medium"><%= link_to t('training').titleize, website.training_url, target: "_blank" %></li>
  <% end %>

  <li class="show-for-medium has-dropdown">
    <%= link_to 'learn'.titleize, '#', class: 'disabled' %>
    <ul class="dropdown">
      <% if (website.has_learning_sessions.present? && website.has_learning_sessions == 1) %>
        <li><%= link_to t('learning_sessions').titleize, "/#{I18n.locale}/learning-sessions" %></li>
      <% end %>

      <% if (website.training_url.present?) %>
      <li><%= link_to t('training').titleize, website.training_url, target: "_blank" %></li>
      <% end %>
      <li class="has-dropdown"><%= link_to t('about').titleize, '#' %>
        <ul class="dropdown">
          <li><%= link_to 'innovation'.titleize, "/#{I18n.locale}/innovation" %></li>
          <li><%= link_to t('news').titleize, news_index_path %></li>
          <li><%= link_to 'history'.titleize, "/#{I18n.locale}/history" %></li>
        </ul>
      </li>
    </ul>
  </li>

  <% if website.has_installations? %>
    <li><%= link_to t('installations').titleize, installations_path %></li>
  <% end %>

    <li class="has-dropdown hide-for-medium"><%= link_to t('about').titleize, '#' %>
      <ul class="dropdown">
        <li><%= link_to 'innovation'.titleize, "/#{I18n.locale}/innovation" %></li>
        <li><%= link_to t('news').titleize, news_index_path %></li>
        <li><%= link_to 'history'.titleize, "/#{I18n.locale}/history" %></li>
      </ul>
    </li>

	<% if website.has_artists? %>
    <li><%= link_to t('artists').titleize, artists_path %></li>
	<% end %>

	<% if website.has_dealers? || website.has_distributors? || website.has_online_retailers? %>
    <li class="hide-for-medium"><%= link_to t('where_to_buy').titleize, where_to_find_path %></li>
    <li class="show-for-medium"><%= link_to t('buy').titleize, where_to_find_path %></li>
	<% end %>

	<li class="has-dropdown"><%= link_to t('product_support').titleize, support_path %>
    <ul class="dropdown">
      <li><%= link_to t('contact_us').titleize, support_path %></li>
      <% if !!(website.value_for("anytime_support_url")) %>
        <li><%= link_to t('anytime_support'), website.value_for("anytime_support_url"), target: "_blank" %></li>
      <% end %>
      <li><%= link_to "Consultant Portal", "#{ENV['PRO_SITE_URL']}/consultant", target: "_blank" %></li>
      <li><%= link_to t('software_downloads').titleize, software_index_path %></li>
      <li><%= link_to t('firmware_downloads').titleize, firmware_index_path %></li>
      <li><%= link_to t('nav.downloads').titleize, support_downloads_path %></li>
      <li><%= link_to t('warranty').titleize, warranty_path %></li>
      <% if website.has_product_registrations? %>
        <li><%= link_to t("warranty_registration").titleize, warranty_registration_path, target: "_blank" %></li>
      <% end %>
      <li><%= link_to t('nav.service').titleize, "https://assets.harman.com/portals/wokfvf2u/JBLProfessionalParts", target: "_blank" %></li>
      <% if !!(website.forum_link) %>
        <li><%= link_to t("forum").titleize, website.forum_link %></li>
      <% end %>
    </ul>
  </li>
<% end %>
