<div style="margin-left: auto; margin-right: auto; width: 863px;">

	<h1><%= image_tag("#{website.folder}/#{I18n.locale}/tonelibrary_head.jpg", alt: t('titles.tone_library')) %></h1>
	
	<p><%=raw t('blurbs.tone_library_explanation', 
			link: link_to(t('software_downloads'), software_index_path)
		) %>
	</p>

	<table class="specs" style="width: 100%">
		<% @tone_library_songs.each do |s| %>
		<tr class="<%= cycle 'odd', 'even' %>">
			<th><%= s.artist_name %></th>
			<th><%= s.title %></th>
			<% s.tone_library_patches.each do |p| %>
			<td><%= link_to p.product.name, tone_download_path(product_id: p.product, tone_library_song_id: s, ext: p.extension) %></td>
			<% end %>
		</tr>
		<% end %>
	</table>

</div>