<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= csrf_meta_tag %>
    <title><%= website.brand.name %> Admin: <%= controller_name.humanize.titleize %>: <%= controller.action_name.humanize.titleize %></title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.14.0/jquery-ui.min.js"></script>
    <%= javascript_include_tag 'admin' %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= stylesheet_link_tag 'admin' %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
      <script src="//s3.amazonaws.com/nwapi/nwmatcher/nwmatcher-1.2.5-min.js"></script>
      <script src="//html5base.googlecode.com/svn-history/r38/trunk/js/selectivizr-1.0.3b.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.1.0/respond.min.js"></script>
    <![endif]-->
    <link rel="icon" type="image/png" href="<%= image_url("#{website.folder}/logo-16x16.png") %>" sizes="16x16">
    <link rel="icon" type="image/png" href="<%= image_url("#{website.folder}/logo-32x32.png") %>" sizes="32x32">
    <link rel="icon" type="image/png" href="<%= image_url("#{website.folder}/logo-96x96.png") %>" sizes="96x96">
    <%= yield :extra_js %>
  </head>
  <body data-brand="<%= website.brand.name %>">
    <%= yield :bg %>

    <div class="sticky">
      <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
          <li class="name"><h1><%= link_to "#{website.brand_name} Admin", admin_root_path %></h1></li>
          <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
        </ul>

        <section class="top-bar-section">
          <ul class="left">
            <li><%= link_to "Public Site", "/" %> </li>
            <% if user_signed_in? %>

              <%= cache ["admin_menu", current_user, website.brand, Date.today] do %>
                <li class="has-dropdown"><%= link_to "Admin Menu", '#' %>
                <ul class="dropdown">
                  <% if can?(:manage, Setting) || can?(:manage, Page) ||
                      can?(:manage, SupportSubject) || can?(:manage, SiteElement) %>
                    <li class="has-dropdown"><%= link_to "Settings & Pages", '#' %>
                    <ul class="dropdown">
                      <% if can?(:manage, Setting) || can?(:manage, Banner) %>
                        <li><%= link_to "Homepage", homepage_admin_settings_path %></li>
                      <% end %>
                      <% if can?(:read, Setting) %>
                        <li><%= link_to "All Settings", admin_settings_path %></li>
                      <% end %>
                      <% if can?(:manage, SupportSubject) %>
                        <li><%= link_to "Contact Form Subjects", admin_support_subjects_path %></li>
                      <% end %>
                      <% if can?(:manage, Page) %>
                        <li><%= link_to "Landing Pages", admin_pages_path %></li>
                      <% end %>
                      <% if can?(:manage, SiteElement) %>
                        <li><%= link_to "Site Resources & Downloads", admin_site_elements_path %></li>
                      <% end %>
                    </ul>
                    </li>
                  <% end %>

                  <% if can?(:manage, Product) ||
                      can?(:manage, ProductFamily) ||
                      can?(:manage, Testimonial) ||
                      can?(:manage, Solution) ||
                      can?(:manage, SpecificationGroup) ||
                      can?(:manage, Specification) ||
                      can?(:manage, ProductSpecification) ||
                      can?(:manage, News) ||
                      can?(:manage, Event) ||
                      (can?(:manage, Effect) && website.has_effects?) ||
                      can?(:manage, AudioDemo && website.has_audio_demos?) ||
                      can?(:manage, ProductReview) ||
                      can?(:update, :rohs) ||
                      can?(:manage, Faq) %>
                    <li class="has-dropdown"><%= link_to "Products", '#' %>
                    <ul class="dropdown">
                      <% if can?(:manage, ProductFamily) %>
                        <li><%= link_to "Product Families", admin_product_families_path %></li>
                      <% end %>
                      <% if can?(:manage, Product) %>
                        <li><%= link_to "Products", admin_products_path %></li>
                      <% end %>
                      <% if can?(:manage, SpecificationGroup) || can?(:manage, Specification) %>
                        <li><%= link_to "Specifications", admin_specifications_path %></li>
                      <% end %>
                      <% if can?(:manage, Part) || can?(:manage, ProductPart) %>
                        <li><%= link_to "Part Library", admin_parts_path %></li>
                      <% end %>
                      <% if can?(:manage, Badge) %>
                        <li><%= link_to "Badges", admin_badges_path %></li>
                      <% end %>
                      <% if can?(:manage, Solution) && website.has_solution_pages? %>
                        <li><%= link_to "Solutions", admin_solutions_path %></li>
                      <% end %>
                      <% if can?(:manage, GetStartedPage) && website.has_get_started_pages? %>
                        <li><%= link_to "Get Started Pages", admin_get_started_pages_path %></li>
                      <% end %>
                      <% if website.has_audio_demos? && can?(:manage, AudioDemo) %>
                        <li><%= link_to "Audio Demos", admin_audio_demos_path %></li>
                      <% end %>
                      <% if website.has_effects? && can?(:manage, Effect)%>
                        <li><%= link_to "Effects", admin_effects_path %></li>
                      <% end %>
                      <% if website.has_market_segments? && can?(:manage, MarketSegment) %>
                        <li><%= link_to "Vertical Markets", admin_market_segments_path %></li>
                      <% end %>
                      <% if can?(:create, Product) || can?(:update, :rohs) %>
                        <li><%= link_to 'RoHS', rohs_admin_products_path %></li>
                      <% end %>
                      <% if can? :manage, News %>
                        <li><%= link_to "News", admin_news_index_path %></li>
                      <% end %>
                      <% if can? :manage, Testimonial %>
                        <li><%= link_to "Testimonials", admin_testimonials_path %></li>
                      <% end %>
                      <% if website.has_events? && can?(:manage, Event) %>
                        <li><%= link_to "Events", admin_events_path %></li>
                      <% end %>
                      <% if can?(:manage, ProductReview) && website.has_reviews? %>
                        <li><%= link_to "Reviews", admin_product_reviews_path %></li>
                      <% end %>
                      <% if can?(:manage, Faq) && website.has_faqs? %>
                        <li><%= link_to "FAQs", admin_faqs_path %></li>
                      <% end %>
                      <% if can?(:manage, Installation) && website.has_installations? %>
                        <li><%= link_to "Installations", admin_installations_path %></li>
                      <% end %>
                      <% if can?(:manage, CustomizableAttribute) %>
                        <li><%= link_to "Customizable Attributes", admin_customizable_attributes_path %></li>
                      <% end %>
                    </ul>
                    </li>
                  <% end %>

                  <% if can?(:manage, Promotion) ||
                      can?(:update, :harman_employee_pricing) ||
                      can?(:read, WarrantyRegistration) ||
                      can?(:read,ContactMessage) ||
                      can?(:manage, ProductPrice) ||
                      can?(:update, :harman_employee_pricing) %>
                    <li class="has-dropdown"><%= link_to "Customers & Pricing", '#' %>
                    <ul class="dropdown">
                      <% if can? :manage, Promotion %>
                        <li><%= link_to "Promotions", admin_promotions_path %></li>
                      <% end %>
                      <% if can?(:read, WarrantyRegistration) %>
                        <li><%= link_to "Product Registrations", admin_warranty_registrations_path %></li>
                      <% end %>
                      <% if can?(:read, ContactMessage) %>
                        <li><%= link_to "Contact Form Messages", admin_contact_messages_path %></li>
                      <% end %>
                      <% if can?(:manage, ProductPrice) %>
                        <li><%= link_to "Price List", admin_product_prices_path %></li>
                      <% end %>
                      <% if can?(:update, :harman_employee_pricing) %>
                        <li><%= link_to "Harman Employee Pricing", harman_employee_pricing_admin_products_path %></li>
                      <% end %>
                      <% if website.brand.signups.size > 0  %>
                        <li><%= link_to "Signups", admin_signups_path %></li>
                      <% end %>
                    </ul>
                    </li>
                  <% end %>

                  <% if website.has_training? && (can?(:manage, TrainingModule) || can?(:manage, TrainingCourse)) %>
                    <li class="has-dropdown"><%= link_to "Training", '#' %>
                    <ul class="dropdown">
                      <% if can? :manage, TrainingCourse %>
                        <li><%= link_to "Training Courses", admin_training_courses_path %></li>
                      <% end %>
                      <% if can? :manage, TrainingModule %>
                        <li><%= link_to "Training Modules", admin_training_modules_path %></li>
                      <% end %>
                    </ul>
                    </li>
                  <% end %>

                  <% if (can?(:manage, Artist) && website.has_artists?) ||
                      (can?(:manage, ArtistTier) && website.has_artists?) %>
                    <li class="has-dropdown">
                      <%= link_to "Artists", '#' %>
                      <ul class="dropdown">
                        <% if can?(:manage, ArtistTier) && website.has_artists? %>
                          <li><%= link_to "Artist Tiers", admin_artist_tiers_path %></li>
                        <% end %>
                        <% if can?(:manage, Artist) && website.has_artists? %>
                          <li><%= link_to "Artists", admin_artists_path %></li>
                        <% end %>
                        <% if can?(:view, :artist_pricing) %>
                          <li><%= link_to "Artist Pricing", artist_pricing_admin_products_path %></li>
                        <% end %>
                      </ul>
                    </li>
                  <% end %>

                  <% if (can?(:manage, Software) && website.has_software) || (can?(:manage, RegisteredDownload) && website.has_registered_downloads?) %>
                    <li class="has-dropdown"><%= link_to "Software", '#' %>
                    <ul class="dropdown">
                      <% if can?(:manage, Software) && website.has_software? %>
                        <li><%= link_to "Software Downloads", admin_softwares_path %></li>
                      <% end %>
                      <% if can?(:manage, RegisteredDownload) && website.has_registered_downloads? %>
                        <li><%= link_to "Registered Downloads", admin_registered_downloads_path %></li>
                      <% end %>
                    </ul>
                    </li>
                  <% end %>

                  <% if (can?(:manage, OnlineRetailer) && website.has_online_retailers?) ||
                      (can?(:manage, Distributor) && website.has_distributors?) ||
                      (can?(:manage, Dealer) && website.has_dealers?) ||
                      (can?(:manage, SalesRegion) && website.send_contact_form_to_regional_support?) ||
                      (can?(:manage, ServiceCenter) && website.has_service_centers?) ||
                      (can?(:manage, JblVertecVtxOwner) && website.brand.name.downcase == "jbl professional") ||
                      (can?(:manage, ManufacturerPartner) && website.brand.name.downcase == "amx")%>
                    <li class="has-dropdown"><%= link_to "Partners", '#' %>
                    <ul class="dropdown">
                      <% if can?(:manage, OnlineRetailer) && website.has_online_retailers? %>
                        <li><%= link_to "Online Retailers (#{ pluralize(OnlineRetailerLink.problems.size, 'problem') })", admin_online_retailers_path %></li>
                      <% end %>
                      <% if can?(:manage, Dealer) && website.has_dealers? %>
                        <li><%= link_to "Dealers", admin_dealers_path %></li>
                      <% end %>
                      <% if can?(:manage, Distributor) && website.has_distributors? %>
                        <li><%= link_to "Distributors", "#{ENV['PRO_SITE_URL']}/distributor_info/admin/distributors", target: "_blank" %></li>
                      <% end %>
                      <% if (can?(:manage, SalesRegion) && website.send_contact_form_to_regional_support?) %>
                        <li><%= link_to "Global Sales Regions", admin_sales_regions_path %></li>
                      <% end %>
                      <% if can?(:manage, UsRep) && website.has_us_sales_reps? %>
                        <li><%= link_to "US Sales Reps", admin_us_reps_path %></li>
                      <% end %>
                      <% if can?(:manage, ServiceCenter) && website.has_service_centers? %>
                        <li><%= link_to "Service Centers", admin_service_centers_path %></li>
                      <% end %>
                      <% if can?(:manage, JblVertecVtxOwner) && website.brand.name.downcase == "jbl professional" %>
                        <li><%= link_to "JBL Vertec/VTX Owner Approvals", admin_jbl_vertec_vtx_owners_path %></li>
                      <% end %>
                      <% if can?(:manage, ManufacturerPartner) && website.brand.name.downcase == "amx" %>
                        <li><%= link_to "AMX InConcert Partners", admin_manufacturer_partners_path %></li>
                      <% end %>

                    </ul>
                    </li>
                  <% end %>

                  <% if can? :manage, ContentTranslation %>
                    <li><%= link_to "Translations", admin_content_translation_languages_path %></li>
                  <% end %>

                  <% if can?(:manage, Vip::Programmer) && website.brand.name == "AMX" %>
                    <li class="has-dropdown"><%= link_to "VIP Programmers", admin_vip_programmers_path %>
                      <ul class="dropdown">
                        <li><%= link_to "VIP Programmers", admin_vip_programmers_path %></li>
                        <% if can? :manage, Vip::Certification %>
                          <li><%= link_to "Industry Certifications", admin_vip_certifications_path %></li>
                        <% end %>
                        <% if can? :manage, Vip::Training %>
                          <li><%= link_to "Harman Certifications", admin_vip_trainings_path %></li>
                        <% end %>
                        <% if can? :manage, Vip::Service %>
                          <li><%= link_to "Services", admin_vip_services_path %></li>
                        <% end %>
                        <% if can? :manage, Vip::Market %>
                          <li><%= link_to "Markets", admin_vip_markets_path %></li>
                        <% end %>
                        <% if can? :manage, Vip::Location %>
                          <li><%= link_to "Locations", admin_vip_locations_path %></li>
                        <% end %>
                        <% if can? :manage, Vip::Website %>
                          <li><%= link_to "Websites", admin_vip_websites_path %></li>
                        <% end %>
                        <% if can? :manage, Vip::Email %>
                          <li><%= link_to "Emails", admin_vip_emails_path %></li>
                        <% end %>
                        <% if can? :manage, Vip::Phone %>
                          <li><%= link_to "Phones", admin_vip_phones_path %></li>
                        <% end %>
                      </ul>
                    </li>
                    <li><%= link_to('ITG Module Requests', admin_module_requests_path)%></li>
                    <li><%= link_to('AMX Partner Interest Forms', admin_amx_partner_interest_form_index_path)%></li>
                    <li><%= link_to('AMX DXLink Device Info', admin_amx_dxlink_device_infos_path)%></li>
                  <% end %>

                </ul>
                </li>

                <% if can?(:manage, User) ||
                    can?(:manage, Locale) ||
                    can?(:manage, Brand) ||
                    can?(:manage, Website) ||
                    can?(:manage, ScheduledTask) %>
                  <li class="has-dropdown"><%= link_to "Super Admin", '#' %>
                  <ul class="dropdown">
                    <% if can? :manage, User %>
                      <li><%= link_to "Users", admin_users_path %></li>
                    <% end %>
                    <% if can? :manage, Locale %>
                      <li><%= link_to "Locales", admin_locales_path %></li>
                    <% end %>
                    <% if can? :manage, Brand %>
                      <li><%= link_to "Brands", admin_brands_path %></li>
                    <% end %>
                    <% if can? :manage, Website %>
                      <li><%= link_to "Websites", admin_websites_path %></li>
                    <% end %>
                    <% if can? :manage, ScheduledTask %>
                      <li><%= link_to "Scheduled Tasks", admin_scheduled_tasks_path %></li>
                    <% end %>
                    <% if can? :manage, BadActorLog %>
                      <li><%= link_to "Bad Actor Log", admin_bad_actor_logs_path %></li>
                    <% end %>
                    <li><%= link_to "Utilities", admin_utilities_path %></li>
                  </ul>
                  </li>
                <% end %>

              <% end %>

            <% end %>
          </ul>

          <% if user_signed_in? %>
            <ul class="right">
              <li><%= link_to 'Logout', destroy_user_session_path %></li>
              <li><%= link_to edit_user_registration_path do %>
                <%= image_tag 'icons/user-white.png', lazy: false, alt: 'My Account' %>
              <% end %>
              </li>
            </ul>
          <% end %>
        </section>
      </nav>
    </div>

    <div class="container">
      <div class="row">
        <div class="large-12 columns">

          <% flash.each do |name, msg| %>
            <%
                css_class = 'alert-box'
            if name.match(/notice/i)
              css_class += ' success'
            elsif name.match(/alert|warn/)
              css_class += ' alert'
            else
              css_class += ' secondary'
            end
          %>

        <%= content_tag :div, msg, class: css_class if msg.is_a?(String) %>
      <% end %>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="large-12 small-12 columns">
          <%= yield %>
        </div>
      </div>
    </div>

    <div class="container" style="margin: 0px 10px;">
      <%= yield :dashboard %>
    </div>

  </body>
</html>
