<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
		<%= csrf_meta_tag %>
		<%= cache ["meta_tags", request.url, Date.today] do %>
			<%= cached_meta_tags %>
		<% end %>		
		<%= stylesheet_link_tag 'application', website.folder, :cache => false %>
		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<link href="<%= rss_url(:format => 'xml') %>" rel="alternate" title="RSS" type="application/rss+xml"/>
		<link rel="image_src" href="<%= image_url("#{website.folder}/logo.png") %>" />	
		<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<%= render_partial "shared/analytics" %>
	</head>
	<body>
		<div style="text-align: center; margin: 30px;">
		  <%= image_tag("#{website.folder}/logo.png", :alt => Setting.site_name(website)) %><br/>
		  <%= yield %>
		</div>
	</body>
</html>