<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
		<%= csrf_meta_tag %>
		<%= cache ["meta_tags", request.url] do %>
			<%= cached_meta_tags %>
		<% end %>		
		<%= stylesheet_link_tag 'application', website.folder, cache: false %>
		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	</head>
	<body>
		
		<div style="text-align: center; margin: 50px;">
	  
		  <div id="content_container" class="internal_page" style="padding: 10px 20px; width: 600px; text-align: left">

			<%= yield %>
			
		  </div>
		</div>
	</body>
</html>