<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
		<%= csrf_meta_tag %>
		<%= cache ["meta_tags", request.url] do %>
			<%= cached_meta_tags %>
		<% end %>
			<!--[if lt IE 9]>
        <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
        <script src="//s3.amazonaws.com/nwapi/nwmatcher/nwmatcher-1.2.5-min.js"></script>
        <script src="//html5base.googlecode.com/svn-history/r38/trunk/js/selectivizr-1.0.3b.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.1.0/respond.min.js"></script>
			<![endif]-->
		<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />

		<%= javascript_include_tag website.folder %>
		<%= javascript_include_tag "vendor/modernizr" %>
		<%= yield :extra_header_code %>
		<%= stylesheet_link_tag website.folder, media: :all %>

		<%= yield :custom_css %>
		<script>
      <%= yield :extra_js %>
    </script>
    <%= render_partial "shared/analytics" %>
	</head>
	<body>

    <div class="container">
      <div class="row">
        <div class="large-6 medium-6 columns">
          <%= image_tag(website.folder + '/logo-square.png', alt: website.brand.name) %>
          <br/><%= link_to website.url, "http://#{website.url}" %>
        </div>
        <div class="large-6 medium-6 columns text-right">
          <% if addr = website.value_for("address_and_phone") %>
            <%=raw addr %>
            <% if sup = website.value_for("support_email") %>
            <br/><%= mail_to sup, sup %>
            <% end %>
          <% end %>
        </div>
      </div>

      <div class="row">
        <div class="large-12 medium-12 small-12 columns">
          <hr/>
        </div>
      </div>

      <%= yield %>

    </div>

	</body>
</html>
