<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
		<%= csrf_meta_tag %>
		<%= cache ["meta_tags", request.url] do %>
			<%= cached_meta_tags %>
			<% if File.exist?(Rails.root.join("app", "assets", "images", website.folder, "logo.png")) %>
			<link rel="image_src" href="<%= image_url("#{website.folder}/logo.png") %>" />
			<% end %>
      <!--[if lt IE 9]>
        <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/nwmatcher/1.2.5/nwmatcher.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/corysimmons-selectivizr2/1.0.9/selectivizr2.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.1.0/respond.min.js"></script>
      <![endif]-->
			<link href="<%= rss_url(format: 'xml') %>" rel="alternate" title="RSS" type="application/rss+xml"/>
			<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
			<link rel="icon" type="image/x-icon" href="/favicon.ico" />

			<meta property="og:site_name" content="<%= website.site_name %>" />
			<meta property="og:locale" content="<%= I18n.locale %>" />
			<meta property="og:url" content="<%= request.url %>" />

			<% if website.twitter_name %>
				<meta property="twitter:site" value="@<%= website.twitter_name %>" />
			<% end %>

			<%= app_meta_tags() %>

		<% end %>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
		<%= javascript_include_tag 'teaser_application' %>
		<%= javascript_include_tag "vendor/modernizr" %>
		<%= stylesheet_link_tag "#{website.folder}_teaser", cache: false %>

		<%= yield :custom_css %>
    <%= yield :extra_js %>
    <%= render_partial "shared/analytics" %>
	</head>
	<body data-brand="<%= website.brand.name %>">
		<div id="fb-root"></div>
		<script>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>

		<%= render_partial "shared/locale_switcher" %>

    <div class="row" style="margin-top: 13%">
      <div class="large-12 columns">
				<% if notice %>
					<div data-alert class="alert-box success">
						<%= notice %><a href="#" class="close">&times;</a>
					</div>
				<% end %>
				<% if alert %>
					<div data-alert class="alert-box alert">
						<%= alert %><a href="#" class="close">&times;</a>
					</div>
				<% end %>

				<%= yield %>
			</div>
		</div>

		<div id="footer">
			<div id="logo">
				<%#= image_tag("dod/vintage-dod.png", alt: Setting.site_name(website)) %>
			</div>
			<div>
        <% if website.has_software? && (website.current_softwares.length > 0 || website.forced_current_softwares.length > 0) %>
				<%= link_to t('software_downloads').downcase, software_index_path %> &bull;
				<% end %>
				<%= link_to t('products'), product_families_path %> &bull;
				<% if website.has_reviews? && ProductReview.all_for_website(website).size > 0 %>
				<%= link_to t('product_reviews').downcase, product_reviews_path %> &bull;
				<% end %>
				<% if website.has_artists? %>
				<%= link_to t('artists'), artists_path %> &bull;
				<% end %>
				<% if website.has_dealers? || website.has_online_retailers? || website.has_distributors? %>
				<%#= link_to t('where_to_buy'), where_to_find_path %>
				<% end %>
				<%= link_to t('product_support'), support_path %>
				<%#= link_to t('sitemap'), sitemap_path(format: 'xml') %>
			</div>
		</div>

		<div id="preload"><%= yield :preload %></div>
		<% if content_for?(:popup_code) %>
			<%= yield :popup_code %>
		<% end %>
	</body>
</html>
