<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= content_for?(:title) ? yield(:title) : "HPro Marketing Toolkit" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "HPro Marketing Toolkit" %>">
    <%= stylesheet_link_tag "toolkit", :media => "all" %>
    <%= javascript_include_tag "toolkit_application" %>
    <%= javascript_include_tag "vendor/custom.modernizr" %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <% if @brand %>
      <%= cache ["toolkit_background_css", @brand, Date.today] do %>
        <% if File.exists?(Rails.root.join("app", "assets", "images", @brand.default_website.folder, "toolkit-background.jpg")) %>
          <style type="text/css">
            body {
              background-image: url('<%= image_path("#{@brand.default_website.folder}/toolkit-background.jpg") %>');
              background-position: top left;
              background-repeat: no-repeat;
            }
          </style>        
        <% elsif tw = @brand.default_website.twitter_name %>
          <% t = Twitter.user(tw) %>
          <style type="text/css">
            body {
              background-color: #<%= t.profile_background_color %>;
              background-image: url('<%= t.profile_background_image_url %>');
              background-position: top left;
              background-repeat: no-repeat;
            }
          </style>
        <% end %>
      <% end %>
      <% if File.exists?(Rails.root.join("app", "assets", "images", @brand.default_website.folder, "apple-icon-57x57.png")) %>
        <link rel="apple-touch-icon" sizes="57x57" href="<%= image_path ('#{@brand.default_website.folder}/apple-icon-57x57.png') %>" />
      <% else %>
        <link rel="apple-touch-icon" sizes="57x57" href="<%= image_path ('toolkit/apple-icon-57x57.png') %>" />
      <% end %>
      <% if File.exists?(Rails.root.join("app", "assets", "images", @brand.default_website.folder, "apple-icon-72x72.png")) %>
        <link rel="apple-touch-icon" sizes="72x72" href="<%= image_path ('#{@brand.default_website.folder}/apple-icon-72x72.png') %>" />
      <% else %>
        <link rel="apple-touch-icon" sizes="72x72" href="<%= image_path ('toolkit/apple-icon-72x72.png') %>" />
      <% end %>
      <% if File.exists?(Rails.root.join("app", "assets", "images", @brand.default_website.folder, "apple-icon-114x114.png")) %>
        <link rel="apple-touch-icon" sizes="114x114" href="<%= image_path ('#{@brand.default_website.folder}/apple-icon-114x114.png') %>" />
      <% else %>
        <link rel="apple-touch-icon" sizes="114x114" href="<%= image_path ('toolkit/apple-icon-114x114.png') %>" />
      <% end %>
      <% if File.exists?(Rails.root.join("app", "assets", "images", @brand.default_website.folder, "apple-icon-144x144.png")) %>
        <link rel="apple-touch-icon" sizes="144x144" href="<%= image_path ('#{@brand.default_website.folder}/apple-icon-144x144.png') %>" />
      <% else %>
        <link rel="apple-touch-icon" sizes="144x144" href="<%= image_path ('toolkit/apple-icon-144x144.png') %>" />
      <% end %>

    <% else %>
      <link rel="apple-touch-icon" sizes="57x57" href="<%= image_path ('toolkit/apple-icon-57x57.png') %>" />
      <link rel="apple-touch-icon" sizes="72x72" href="<%= image_path ('toolkit/apple-icon-72x72.png') %>" />
      <link rel="apple-touch-icon" sizes="114x114" href="<%= image_path ('toolkit/apple-icon-114x114.png') %>" />
      <link rel="apple-touch-icon" sizes="144x144" href="<%= image_path ('toolkit/apple-icon-144x144.png') %>" />
    <% end %>
    <% if Rails.env.production? %>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-37346764-5']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
    <% end %>
    
    <%= yield(:head) %>
  </head>
  <body>

  <!-- Header and Nav -->
  <header>
    <div class="container">
      <nav class="top-bar">
        <ul class="title-area">
          <li class="name"><h1><%= link_to "Marketing Toolkit", toolkit_root_path %></h1></li>
          <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
        </ul>

        <section class="top-bar-section">
          <% if toolkit_user_signed_in? %>
            <ul class="left">
              <li class="divider"></li>
              <li class="has-dropdown"><a href="#">Brands</a>
                <ul class="dropdown">
                  <% toolkit_brands.each do |brand| %>
                  <li><%= link_to brand.name, [:toolkit, brand] %></li>
                  <% end %>
                </ul>
              </li>
            </ul>
          <% end %>
        
          <ul class="right">
            <% if toolkit_user_signed_in? %>
              <li><%= link_to 'Logout', destroy_toolkit_user_session_path %></li>
              <li class="divider"></li>
              <li><%= link_to 'My account', edit_toolkit_user_registration_path %></li>
            <% else %>
              <li><%= link_to 'Login', new_toolkit_user_session_path %></li>
              <li class="divider"></li>
              <li><%= link_to 'Sign up', select_signup_type_path %></li>
            <% end %>
          </ul>
        </section>
      </nav>
    </div>
  </header>

  <div class="container <%= bgoffset %>">
    <div class="row">
      <div class="small-12 large-12 columns">
        <% flash.each do |name, msg| %>
          <% 
            css_class = 'alert-box'
            if name.match(/notice/i) 
              css_class += ' success'
            elsif name.match(/alert|warn/)
              css_class += ' alert'
            else
              css_class += ' secondary'
            end
          %>

            <%= content_tag :div, msg, class: css_class if msg.is_a?(String) %>
        <% end %>
      </div>
    </div>
  </div>

  <% if content_for?(:breadcrumbs) %>
  <div class="container <%= bgoffset %>">
    <div class="row">
      <ul class="breadcrumbs">
        <li><a href="/">Home</a></li>
        <%= yield :breadcrumbs %>
      </ul>
    </div>
  </div>
  <% end %>

  <div class="container <%= bgoffset %>">
    <% if content_for?(:left_nav) %>
    <div class="row content-container">
      <div class="small-12 large-2 columns sidenav">
        <%= yield :left_nav %>
      </div>
      <div class="small-12 large-10 columns" id="main">
			 <%= yield %>
      </div>
    </div>
    <% else %>
    <div class="row">
      <div class="small-12 large-12 columns" id="main">
        <%= yield %>
      </div>
    </div>
    <% end %>
	</div>

  <!-- Footer -->
  <div class="<%= bgoffset %>">
  <footer class="row">
    <div class="small-12 large-12 columns large-centered small-centered">
        <p><%= image_tag "harman.jpg" %></p>
        <p>Brand Sites:</p>
      	<p><%= toolkit_brands.map do |b| 
      			link_to(b.name, "http://#{b.default_website.url}", target: "_blank")
      		   end.join(" &bull; ").html_safe %></p>
    </div> 
  </footer>
  </div>
  <script type="text/javascript">$(document).foundation();</script>
	</body>
</html>