<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "HSP Marketing Toolkit" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "HSP Marketing Toolkit" %>">
    <%= stylesheet_link_tag "toolkit", :media => "all" %>
    <%= javascript_include_tag "toolkit_application" %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <%= yield(:head) %>
  </head>
  <body>

  <!-- Header and Nav -->
  <header>
    <div class="container">
      <nav class="top-bar">
        <ul>
          <li class="name"><h1><%= link_to "HSP Marketing Toolkit", toolkit_root_path %></h1></li>
          <li class="toggle-topbar"><a href="#"></a></li>
          <li class="divider"></li>
          <li class="has-dropdown"><a href="#">Brands</a>
            <ul class="dropdown">
              <% toolkit_brands.each do |brand| %>
              <li><%= link_to brand.name, [:toolkit, brand] %></li>
              <% end %>
            </ul>
          </li>
        </ul>
        <section>
          <ul class="right">
            <% if user_signed_in? %>
              <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
            <% else %>
              <li><%= link_to 'Login', new_user_session_path %></li>
            <% end %>
            <li class="divider"></li>
            <% if user_signed_in? %>
              <li><%= link_to 'My account', edit_user_registration_path %></li>
              <% if current_user.has_role? :admin %>
                <li class="divider"></li>
                <li><%= link_to 'Admin', users_path %></li>
              <% end %>
            <% else %>
              <li><%= link_to 'Sign up', new_user_registration_path %></li>
            <% end %>
          </ul>
        </section>
      </nav>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="twelve columns">
        <% flash.each do |name, msg| %>
          <% 
            css_class = 'alert-box'
            if name.match(/notice/i) 
              css_class += ' success'
            elsif name.match(/alert|warn/)
              css_class += ' alert'
            else
              css_class += ' secondary'
            end
          %>

            <%= content_tag :div, msg, class: css_class if msg.is_a?(String) %>
        <% end %>
      </div>
    </div>
  </div>

  <% if content_for?(:breadcrumbs) %>
  <div class="container">
    <div class="row">
      <ul class="breadcrumbs">
        <li><a href="/">Home</a></li>
        <%= yield :breadcrumbs %>
      </ul>
    </div>
  </div>
  <% end %>

  <div class="container">
    <% if content_for?(:left_nav) %>
    <div class="row">
      <div class="two columns no-left-padding">
          <ul class="nav-bar vertical">
            <%= yield :left_nav %>
          </ul>
      </div>
      <div class="ten columns" id="main">
			 <%= yield %>
      </div>
    </div>
    <% else %>
    <div class="row">
      <div class="twelve columns" id="main">
        <%= yield %>
      </div>
    </div>
    <% end %>
			
    </div>
	</div>

  <!-- Footer -->
  
  <footer class="row">
    <div class="twelve columns">
      <div class="row" style="text-align: center">
          <p><%= image_tag "harman.jpg" %></p>
          HSP Brand Sites:
        	<p><%= toolkit_brands.map do |b| 
        			link_to(b.name, "http://#{b.default_website.url}", target: "_blank")
        		   end.join(" &bull; ").html_safe %></p>
          <small>
            Harman Signal Processing &bull; 
            8760 South Sandy Parkway, Sandy, UT 84070 &bull; 
            (801)566-8800
          </small>
        </div>
      </div>
    </div> 
  </footer>

	</body>
</html>