<%
	skip_help     ||= false
	system_option = sco.object.system_option
%>

<div class="row <% if system_option.parent_id.to_i <= 0 %>major_system_container<% end %>" id="system_option_<%= system_option.id %>_container">
	<div class="large-12 columns">
		<h4 class="subheader"><%= system_option.name %>
			<% if !skip_help && system_option.long_description.present? %>
			<%= link_to(image_tag('icons/help.png', alt: '[?]'), '#', class: 'help', data: {container: "explanation_#{system_option.id }"}) %>
			<% end %>
		</h4>

		<% if system_option.description.present? %>
			<%=raw textilize(system_option.description) %>
		<% end %>

		<% if !skip_help && system_option.long_description.present? %>
			<div class="long_description" id="explanation_<%= system_option.id %>">
				<%=raw textilize(system_option.long_description) %>
				<p><%= link_to('close', '#', class: 'small help button', data: {container: "explanation_#{system_option.id }"}) %></p>
			</div>
		<% end %>

		<%= render_partial "system_configurations/#{system_option.option_type.parameterize}_system_option", f: sco %>

<%= f.fields_for :system_configuration_options do |child_sco| %>
	<% if child_sco.object.system_option.parent_id.to_i == system_option.id %>
		<%= render_partial "system_configurations/system_option", f: f, sco: child_sco %>
	<% end %>
<% end %>
	</div>
</div>
<% if system_option.parent_id.to_i <= 0 %><p>&nbsp;</p><% end %>
