<li id="component_<%= system_component.id %>">
	<%= system_component.name %> (qty: <span class="quantity">1</span>) 
	<% if system_component.description.present? %>
		<%= link_to(image_tag('icons/help.png', alt: '[?]'), '#', class: 'help', data: {container: "component_details_#{system_component.id }"}) %>
		<div class="long_description" id="component_details_<%= system_component.id %>">
			<%=raw textilize(system_component.description) %>
			<% if system_component.product && system_component.product.brand && system_component.product.brand.default_website && system_component.product.brand.default_website.url %>
			<p><%= link_to 'more info...', product_url(system_component.product, host: system_component.product.brand.default_website.url), target: "_blank" %></p>
			<% end %>
			<p><%= link_to('close', '#', class: 'small help button', data: {container: "component_details_#{system_component.id }"}) %></p>
		</div>
	<% end %>
</li>