<div class="row">
  <div class="large-12 medium-12 small-12 columns">
    <h1>Contact Me</h1>
  </div>
</div>

<div class="row">

  <div class="large-7 medium-7 small-12 columns">
    <%= simple_form_for [@system, @system_configuration], url: contact_form_system_system_configuration_path(@system, @system_configuration, access_hash: @system_configuration.access_hash), method: :post do |f| %>
      <%= f.error_notification %>
      <% if @system.contact_me_intro.present? %>
        <p><%=raw @system.contact_me_intro %></p>
      <% end %>
      <%= f.input :project_name %>
      <%= f.input :name, label: "Your name" %>
      <%= f.input :company, label: "Company name" %>
      <div class="row">
        <div class="large-7 medium-6 columns">
          <%= f.input :email, as: :email %>
        </div>
        <div class="large-5 medium-6 columns">
          <%= f.input :phone %>
        </div>
      </div>
      <%= f.input :preferred_contact_method, as: :radio_buttons, collection: ["Email", "Phone"] %>
      <%= f.submit "Submit", class: "button" %>
    <% end %>
  </div>

  <div class="large-5 small-5 small-12 columns">
    <div class="callout panel">
      <h3>System Components</h3>
      <ul>
        <% @system_configuration.system_configuration_components.each do |scc| %>
          <% if scc.quantity.to_i > 0 %>
            <li><%= scc.system_component.name %> (Qty: <%= scc.quantity %>)</li>
          <% end %>
        <% end %>
      </ul>
    </div>

    <div class="text-center">
      <p>If you prefer not to be contacted, you can also just
      <%= link_to "print your configuration", show_system_system_configuration_path(@system, @system_configuration, access_hash: @system_configuration.access_hash) %>.
      </p>
    </div>
  </div>

</div>


