<div class="row">
  <div class="large-10 medium-10 small-10 columns">
    <h1><%= @system_configuration.project_name %> System Requirements:</h1>
  </div>
  <div class="large-2 medium-2 small-2 columns text-right hide-for-print">
    <br/>
    <%#= link_to "make changes", edit_system_system_configuration_path(@system, @system_configuration, access_hash: @system_configuration.access_hash), class: "small secondary button" %>
  </div>
</div>

<div class="row">

  <div class="large-7 medium-7 small-12 columns">

    <% @system_configuration.system_configuration_options.each do |sco| %>
      <% unless sco.system_option.parent_id.to_i > 0 %>
        <%= render_partial "system_configurations/system_configuration_option", sco: sco %>
      <% end %>
    <% end %>
  </div>

  <div class="large-5 small-5 small-12 columns">
    <div class="callout panel">
      <h3>System Components</h3>
      <ul>
        <% @system_configuration.system_configuration_components.each do |scc| %>
          <% if scc.quantity.to_i > 0 %>
            <li><%= scc.system_component.name %> (Qty: <%= scc.quantity %>)</li>
          <% end %>
        <% end %>
      </ul>
    </div>

    <% if @system_configuration.email.blank? && @system_configuration.phone.blank? %>
      <div class="text-center hide-for-print">
        <h5 class="subheader">We can help build your system!</h5>
        <%= link_to "Contact Me", contact_form_system_system_configuration_path(@system, @system_configuration, access_hash: @system_configuration.access_hash), class: "large button" %>
      </div>
    <% end %>
  </div>

</div>

<%= content_for :extra_js do %>
  $( document ).ready(function(){
    window.print();
  });
<% end %>
