<% set_meta_tags 	twitter: {
		card: "summary"
	},
	og: {
		image: image_url("#{website.folder}/logo.png"),
		type: 'website',
		description: "Audio Architect by Harman including BSS, Crown, and HiQnet.",
		title: "Audio Architect by Harman"
	} %>


<%= content_for :feature do %>
	<%= cache ["slideshow", website, website.brand, I18n.locale] do %>
		<% slides = Setting.slides(website, limit: 5) %>
		<% if slides.size > 0 %>
			<%= slideshow(slides: slides, duration: 8700, transition: "fade") %>
		<% end %>
	<% end %>
<% end %>

<% if current_user && can?(:manage, Setting) %>
<div class="admin_function" style="top: -335px">
	<%= link_to "edit", homepage_admin_settings_path %>
</div>
<% end %>

<%= content_for :middle_stuff do %>
	<%= cache ["homepage_middle", website.brand, I18n.locale] do %>
		<% if @features.size > 0 %>
			<% @features.each do |feature| %>
			<span class="homepage_feature"><%= feature_button(feature) %></span>
			<% end %>
		<% end %>
	  	<div class="clear"></div>
	<% end %>
<% end %>

<%= content_for :big_bottom_box do %>
	<%= cache ["homepage_bottom", website.brand, I18n.locale] do %>
		<div class="column_full_width">
			<% if website.homepage_column_full_width %>
				<%= render_partial "shared/column_for_html_column_full_width" %>
			<% else %>
				<%= render_partial 'shared/column_for_where_to_buy' %>
			<% end %>
		</div>
		<div class="clear"></div>
	<% end %>
<% end %>

<%= cache ["preload", website.brand, I18n.locale] do %>
	<%= content_for :preload do %>
		<%= preload_background_images %>
	<% end %>
<% end %>

<%= content_for :popup_code do %>
	<% if website.homepage_popup %>
		<%=raw website.homepage_popup %>
	<% end %>
<% end %>
